<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	">


    <!--系统配置 hessian 服务 -->
    <bean id="sysUserMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/sysUserExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.SysUserMapper"/>
    </bean>

    <!--客户端 hessian 服务 -->
    <bean id="sysClientMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/sysClientExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.SysClientMapper"/>
    </bean>

    <!--资源 hessian 服务 -->
    <bean id="sysResourceMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/sysResourceExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.SysResourceMapper"/>
    </bean>

    <!--角色 hessian 服务 -->
    <bean id="sysRoleMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/sysRoleExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.SysRoleMapper"/>
    </bean>

    <!--角色资源 hessian 服务 -->
    <bean id="sysRoleResourceMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/sysRoleResourceExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.SysRoleResourceMapper"/>
    </bean>

    <!--用户角色 hessian 服务 -->
    <bean id="sysUserRoleMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/sysUserRoleExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.SysUserRoleMapper"/>
    </bean>

    <!--资源渠道 hessian 服务 -->
    <bean id="fundsChannelMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/fundsChannelExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.FundsChannelMapper"/>
    </bean>

    <!--会员 hessian 服务 -->
    <bean id="memberMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/memberExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MemberMapper"/>
    </bean>

    <!--地区 hessian 服务 -->
    <bean id="areaMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/areaExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.AreaMapper"/>
    </bean>

    <!--广告 hessian 服务 -->
    <bean id="adMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/adExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.AdMapper"/>
    </bean>

    <!--广告位 hessian 服务 -->
    <bean id="adPositionMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/adPositionExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.AdPositionMapper"/>
    </bean>

    <!--广告位 hessian 服务 -->
    <bean id="agreementMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/agreementExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.AgreementMapper"/>
    </bean>

    <!--文章分类 hessian 服务 -->
    <bean id="articleCategoryMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/articleCategoryExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ArticleCategoryMapper"/>
    </bean>

    <!--文章 hessian 服务 -->
    <bean id="articleMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/articleExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ArticleMapper"/>
    </bean>

    <!--商圈  hessian 服务 -->
    <bean id="businessCircleMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/businessCircleExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.BusinessCircleMapper"/>
    </bean>

    <!--友情链接  hessian 服务 -->
    <bean id="friendLinkMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/friendLinkExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.FriendLinkMapper"/>
    </bean>

    <!--赠送积分规则  hessian 服务 -->
    <bean id="givePointRuleMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/givePointRuleExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.GivePointRuleMapper"/>
    </bean>

    <!--日志  hessian 服务 -->
    <bean id="logMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/logExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.LogMapper"/>
    </bean>

    <!--商户分类  hessian 服务 -->
    <bean id="merchantCategoryMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/merchantCategoryExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MerchantCategoryMapper"/>
    </bean>

    <!--商户点评  hessian 服务 -->
    <bean id="merchantCommentMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/merchantCommentExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MerchantCommentMapper"/>
    </bean>

    <!--商户用户组  hessian 服务 -->
    <bean id="merchantGroupUserMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/merchantGroupUserExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MerchantGroupUserMapper"/>
    </bean>

    <!--商户 hessian 服务 -->
    <bean id="merchantMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/merchantExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MerchantMapper"/>
    </bean>

    <!--商户在线申请 hessian 服务 -->
    <bean id="merchantOnlineApplyMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/merchantOnlineApplyExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MerchantOnlineApplyMapper"/>
    </bean>

    <!--商户门店 hessian 服务 -->
    <bean id="merchantOutletMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/merchantOutletExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MerchantOutletMapper"/>
    </bean>

    <!--商户门店标签 hessian 服务 -->
    <bean id="merchantOutletTagMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/merchantOutletTagExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MerchantOutletTagMapper"/>
    </bean>

    <!--商户相册 hessian 服务 -->
    <bean id="merchantPhotoMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/merchantPhotoExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MerchantPhotoMapper"/>
    </bean>

    <!--商户优惠活动 hessian 服务 -->
    <bean id="merchantPreferentialMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/merchantPreferentialExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MerchantPreferentialMapper"/>
    </bean>

    <!--商户介绍 hessian 服务 -->
    <bean id="merchantPresentMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/merchantPresentExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MerchantPresentMapper"/>
    </bean>

    <!--导航 hessian 服务 -->
    <bean id="navigationMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/navigationExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.NavigationMapper"/>
    </bean>

    <!--支付 hessian 服务 -->
    <bean id="payMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/payExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.PayMapper"/>
    </bean>

    <!--预售提货点 hessian 服务 -->
    <bean id="presellDeliveryMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/presellDeliveryExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.PresellDeliveryMapper"/>
    </bean>

    <!--商品属性 hessian 服务 -->
    <bean id="productAttributeMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/productAttributeExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ProductAttributeMapper"/>
    </bean>

    <!--商品属性值  hessian 服务 -->
    <bean id="productAttributeValueMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/productAttributeValueExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ProductAttributeValueMapper"/>
    </bean>

    <!--商品分类  hessian 服务 -->
    <bean id="productCategoryMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/productCategoryExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ProductCategoryMapper"/>
    </bean>

    <!--商品团购  hessian 服务 -->
    <bean id="productGroupMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/productGroupExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ProductGroupMapper"/>
    </bean>

    <!--商品图片  hessian 服务 -->
    <bean id="productImageMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/productImageExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ProductImageMapper"/>
    </bean>

    <!--商品  hessian 服务 -->
    <bean id="productMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/productExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ProductMapper"/>
    </bean>

    <!--商品预售  hessian 服务 -->
    <bean id="productPresellMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/productPresellExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ProductPresellMapper"/>
    </bean>

    <!--商品类型  hessian 服务 -->
    <bean id="productTypeMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/productTypeExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ProductTypeMapper"/>
    </bean>

    <!--短信模板  hessian 服务 -->
    <bean id="smsContentMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/smsContentExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.SmsContentMapper"/>
    </bean>

    <!--短信日志  hessian 服务 -->
    <bean id="smsLogMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/smsLogExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.SmsLogMapper"/>
    </bean>

    <!--标签  hessian 服务 -->
    <bean id="tagMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/tagExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.TagMapper"/>
    </bean>

    <!--交易详情  hessian 服务 -->
    <bean id="transDetailsMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/transDetailsExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.TransDetailsMapper"/>
    </bean>

    <!--交易  hessian 服务 -->
    <bean id="transMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/transExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.TransMapper"/>
    </bean>

    <!--交易验证券  hessian 服务 -->
    <bean id="transSecurityTicketMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/transSecurityTicketExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.TransSecurityTicketMapper"/>
    </bean>

    <!--退款  hessian 服务 -->
    <bean id="refundsMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/refundsExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.RefundsMapper"/>
    </bean>

    <!--库存日志  hessian 服务 -->
    <bean id="stockPileLogMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/stockPileLogExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.StockPileLogMapper"/>
    </bean>

    <!--库存  hessian 服务 -->
    <bean id="stockPileMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/stockPileExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.StockPileMapper"/>
    </bean>

    <!--门店提货点  hessian 服务 -->
    <bean id="outletPresellDeliveryMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/outletPresellDeliveryExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.OutletPresellDeliveryMapper"/>
    </bean>

    <!--现金和积分的比例  hessian 服务 -->
    <bean id="cashPointsRatioMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/cashPointsRatioExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.CashPointsRatioMapper"/>
    </bean>

    <!--现金和积分的比例  hessian 服务 -->
    <bean id="merchantAccountMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/merchantAccountExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.MerchantAccountMapper"/>
    </bean>
    
    <!--客户端和资金渠道中间实体  hessian 服务 -->
    <bean id="clientChannelMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/clientChannelExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ClientChannelMapper"/>
    </bean>

    <!--预售商品与提货点关系  hessian 服务 -->
    <bean id="productPresellDeliveryMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/productPresellDeliveryExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ProductPresellDeliveryMapper"/>
    </bean>

    <!--退换货 hessian 服务 -->
    <bean id="returnSaleMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/returnSaleExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ReturnSaleMapper"/>
    </bean>
    <!--退换货详情 hessian 服务 -->
    <bean id="returnSaleDetailMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/returnSaleDetailExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ReturnSaleDetailMapper"/>
    </bean>

    <!--商品限购 add by houguoquan -->
    <bean id="productRestrictRuleMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/productRestrictRuleExportMapper"/>
        <property name="serviceInterface" value="com.froad.fft.persistent.api.ProductRestrictRuleMapper"/>
    </bean>

    <!--注册送积分 add by houguoquan -->
     <bean id="registerGivePointRuleMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
         <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/registerGivePointRuleExportMapper"/>
         <property name="serviceInterface" value="com.froad.fft.persistent.api.RegisterGivePointRuleMapper"/>
     </bean>

    <!--交易统计 add by houguoquan -->
       <bean id="transStatisticMapper" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
           <property name="serviceUrl" value="${fft.hessian.persistent.url}/api/froad-fft/persistent/transStatisticExportMapper"/>
           <property name="serviceInterface" value="com.froad.fft.persistent.api.TransStatisticMapper"/>
       </bean>


</beans>
