/*
* Author:
* pengling@f-road.com.cn 
*/
/*收银台*/

.cashixinxi{width:840px; margin:10px auto; border:1px solid #ccc; padding:6px 0;}

.cashixinxi dd{ font-family:"微软雅黑"; font-size:14px; line-height:25px; margin-left:10px;}

.zuijin{ font-family:"微软雅黑"; font-size:15px; padding-bottom:10px; margin-top:10px; color:#F30; margin-left:10px;}


