<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	">
	<!--系统配置 hessian 服务 -->
	<bean id="systemConfigService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/systemConfigExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.SystemConfigExportService"/>  
	</bean> 
	
	
	<!-- 用户 hessian 服务 -->
	<bean id="sysUserService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/sysUserExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.SysUserExportService"/>  
	</bean>
	
	
	<!--广告位 hessian 服务 -->
	<bean id="adPositionService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/adPositionExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.AdPositionExportService"/>  
	</bean>  

	<!--广告 hessian 服务 -->
	<bean id="adService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/adExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.AdExportService"/>  
	</bean>  
	
	<!-- 短信hessian 服务 -->
	<bean id="smsService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/smsExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.SMSExportService"/>  
	</bean>
	
	<!-- 短信hessian 服务 -->
	<bean id="userEngineService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/userEngineExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.UserEngineExportService"/>  
	</bean>
	
	<!-- 精品预售产品 hessian 服务 -->
	<bean id="productPresellService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/productPresellExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.ProductPresellExportService"/>  
	</bean>
	
	<!-- 精品预售和自提点关联关系 hessian 服务 -->
	<bean id="productPresellDeliveryService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/productPresellDeliveryExportService"/>
	    <property name="serviceInterface" value="com.froad.fft.api.service.ProductPresellDeliveryExportService"/>
	</bean>
	
	<!-- 精品预售自提点 hessian 服务 -->
	<bean id="presellDeliveryService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/presellDeliveryExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.PresellDeliveryExportService"/>  
	</bean>
	
	<!-- 基础商品表 hessian 服务 -->
	<bean id="productService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/productExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.ProductExportService"/>  
	</bean>

	<!-- 库存hessian 服务 -->
	<bean id="stockPileService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/stockPileExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.StockPileExportService"/>  
	</bean>
	
	<!-- 交易hessian 服务 -->
	<bean id="transService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/transExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.TransExportService"/>  
	</bean>
	
	<!-- 退货换货 hessian 服务 -->
	<bean id="returnSaleService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/returnSaleExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.ReturnSaleExportService"/>  
	</bean>
	
	<!-- 退货换货详情 hessian 服务 -->
	<bean id="returnSaleDetailService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/returnSaleDetailExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.ReturnSaleDetailExportService"/>  
	</bean>
	
	<!-- 商户用户组   hessian 服务 -->
	<bean id="merchantGroupUserService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/merchantGroupUserExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.MerchantGroupUserExportService"/>  
	</bean>
	
	<!-- 门店    hessian 服务 -->
	<bean id="merchantOutletService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/merchantOutletExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.MerchantOutletExportService"/>  
	</bean>

	<!-- 商圈hessian 服务 -->
	<bean id="businessCircleService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/businessCircleExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.BusinessCircleExportService"/>  
	</bean>
	
	<!-- 地区hessian 服务 -->
	<bean id="areaService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/areaExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.AreaExportService"/>  
	</bean>
	
	<!-- 交易券 hessian 服务 -->
	<bean id="transSecurityTicketService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/transSecurityTicketExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.TransSecurityTicketExportService"/>  
	</bean>
	
	<!-- 门店和提货点关系 hessian 服务 -->
	<bean id="outletPresellDeliveryService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/outletPresellDeliveryExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.OutletPresellDeliveryExportService"/>  
	</bean>
	
	<!-- 库存日志  hessian 服务 -->
	<bean id="stockPileLogService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/stockPileLogExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.StockPileLogExportService"/>  
	</bean>
	
	<!-- 用户角色关系  hessian 服务 -->
	<bean id="sysUserRoleService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/sysUserRoleExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.SysUserRoleExportService"/>  
	</bean>
	
	<!-- 角色  hessian 服务 -->
	<bean id="sysRoleService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/sysRoleExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.SysRoleExportService"/>  
	</bean>
	
	<!-- 重发短信  hessian 服务 -->
	<bean id="retryBusiSMSExportService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/retryBusiSMSExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.RetryBusiSMSExportService"/>  
	</bean>

	<!-- 协议  hessian 服务 -->
	<bean id="agreementExportService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
	    <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/agreementExportService"/>  
	    <property name="serviceInterface" value="com.froad.fft.api.service.AgreementExportService"/>  
	</bean>
	<!-- 退款管理 -->
    <bean id="refundsExportService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/refundsExportService"/>
        <property name="serviceInterface" value="com.froad.fft.api.service.RefundsExportService"/>
    </bean>
	<!-- 交易排行 -->
    <bean id="transStatisticExportService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${fft.hessian.server.url}/api/froad-fft/service/transStatisticExportService"/>
        <property name="serviceInterface" value="com.froad.fft.api.service.TransStatisticExportService"/>
    </bean>
</beans>
