<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.MerchantMapper">

	<resultMap type="Merchant" id="merchantResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="proOrgCode" column="pro_org_code" />
		<result property="cityOrgCode" column="city_org_code" />
		<result property="countyOrgCode" column="county_org_code" />
		<result property="orgCode" column="org_code" />
		<result property="merchantName" column="merchant_name" />
		<result property="merchantFullname" column="merchant_fullname" />
		<result property="logo" column="logo" />
		<result property="address" column="address" />
		<result property="phone" column="phone" />
		<result property="areaId" column="area_id" />
		<result property="merchantStatus" column="merchant_status" />
		<result property="isEnable" column="is_enable" />
		<result property="isTop" column="is_top" />
		<result property="introduce" column="introduce" />
		<result property="license" column="license" />
		<result property="taxReg" column="tax_reg" />
		<result property="contractBegintime" column="contract_begintime" />
		<result property="contractEndtime" column="contract_endtime" />
		<result property="contractStaff" column="contract_staff" />
		<result property="auditState" column="audit_state" />
		<result property="auditOrgCode" column="audit_org_code" />
		<result property="auditStage" column="audit_stage" />
		<result property="auditTime" column="audit_time" />
		<result property="auditComment" column="audit_comment" />
		<result property="auditStaff" column="audit_staff" />
		<result property="reviewStaff" column="review_staff" />
		<result property="contactName" column="contact_name" />
		<result property="contactPhone" column="contact_phone" />
		<result property="contactEmail" column="contact_email" />
		<result property="legalName" column="legal_name" />
		<result property="legalCredentType" column="legal_credent_type" />
		<result property="legalCredentNo" column="legal_credent_no" />
		<result property="disableStatus" column="disable_status" />
	</resultMap>
	
	<!-- 查询过期商户 -->
	<select id="selectByExpired" resultMap="merchantResultMap">
		select * from cb_merchant where contract_endtime <![CDATA[<]]> NOW() and is_enable = 1
	</select>
	
	<!-- 修改商户状态无效 -->
	<update id="updateNotEnableById" parameterType="java.lang.Long">
		update cb_merchant set is_enable = 0 where id = #{id}
	</update>
	
	<!-- 查询可续约的商户 -->
	<select id="selectCanRenewal" resultMap="merchantResultMap">
		select * from cb_merchant where (disable_status = 0 or disable_status = 1) and is_enable = 1 and contract_endtime <![CDATA[<]]> DATE_ADD(NOW(), INTERVAL 1 MONTH)
	</select>
	<update id="updateMerchantAuditState" parameterType="Merchant">
	  update cb_merchant
	    <set>
   			<if test="auditComment != null">
   				audit_comment = #{auditComment}
   			</if>
   			<if test="auditState != null">
   				,audit_state = #{auditState}
   			</if>
   		</set> 
	  where client_id=#{clientId} and merchant_id=#{merchantId}
	</update>
	<!-- 根据Id的商户 -->
	<select id="selectMerchantById"  resultMap="merchantResultMap" >
	  select * from cb_merchant where merchant_id=#{merchantId} and client_id=#{clientId}
	</select>
</mapper>