<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.MerchantAccountMapper">

	<resultMap type="MerchantAccount" id="merchantAccountResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="createTime" column="create_time" />
		<result property="merchantId" column="merchant_id" />
		<result property="outletId" column="outlet_id" />
		<result property="acctName" column="acct_name" />
		<result property="acctNumber" column="acct_number" />
		<result property="acctType" column="acct_type" />
		<result property="openingBank" column="opening_bank" />
		<result property="synchState" column="synch_state" />
		<result property="auditState" column="audit_state" />
		<result property="isDelete" column="is_delete" />
		<result property="merchantName" column="merchant_name" />
		<result property="mac" column="mac" />
	</resultMap>

	<!-- 查询 MerchantAccount -->
	<select id="queryByCondition" resultMap="merchantAccountResultMap">
		SELECT
		id,create_time,client_id,merchant_id,outlet_id,acct_name,acct_number,acct_type,opening_bank,synch_state,audit_state,is_delete
		FROM cb_merchant_account
		where 1 = 1
			<if test="merchantId != null">
				and merchant_id = #{merchantId}
			</if>
			<if test="outletId != null">
				and outlet_id = #{outletId}
			</if>
			<if test="acctType != null">
				and acct_type = #{acctType}
			</if>
			<if test="isDelete != null">
				and is_delete = #{isDelete}
			</if>
	</select>
	
	<!-- 查询 MerchantAccount列表 -->
	<select id="queryByConditionList" resultMap="merchantAccountResultMap">
		SELECT
		    cb_merchant_account.id, cb_merchant_account.create_time, cb_merchant_account.client_id,
            cb_merchant_account.merchant_id, outlet_id, acct_name, acct_number, acct_type, 
            opening_bank, synch_state, cb_merchant_account.audit_state, is_delete, merchant_name,mac
		FROM cb_merchant_account LEFT JOIN cb_merchant ON (cb_merchant_account.merchant_id = cb_merchant.merchant_id)
		where 1 = 1
		<if test="synchState != null">
			AND synch_state = #{synchState}
		</if>
		<if test="auditState != null">
			AND cb_merchant_account.audit_state = #{auditState}
		</if>
	</select>
	
	<!-- 更新商户账号 -->
   	<update id="updateMerchantAccount" parameterType="MerchantAccount">
   		update cb_merchant_account 
   		<set>
   			<if test="synchState != null">
   				synch_state = #{synchState}
   			</if>
   			<if test="auditState != null">
   				,audit_state = #{auditState}
   			</if>
   		</set>
   		where id = #{id} and client_id = #{clientId}
   	</update>
</mapper>

