<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.VouchersInfoMapper">

	<resultMap type="VouchersInfo" id="vouchersInfoResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="activeId" column="active_id" />
		<result property="vouchersId" column="vouchers_id" />
		<result property="vouchersMoney" column="vouchers_money" />
		<result property="vouchersUseMoney" column="vouchers_use_money" />
		<result property="vouchersResMoney" column="vouchers_res_money" />
		<result property="memberCode" column="member_code" />
		<result property="sendActiveId" column="send_active_id" />
		<result property="sendTime" column="send_time" />
		<result property="status" column="status" />
		<result property="useOrderId" column="use_order_id" />
		<result property="useTime" column="use_time" />
		<result property="userMemberCode" column="user_member_code" />
		<result property="activeName" column="active_name" />
		<result property="description" column="description" />
		<result property="expireEndTime" column="expire_end_time" />
		<result property="expireStartTime" column="expire_start_time" />
		<result property="type" column="type" />
		<result property="isUpload" column="is_upload" />
	</resultMap>
	
	<!-- 红包券码使用明细 -->
	<resultMap type="VouchersUseDetails" id="vouchersUseDetailsResultMap">
		<result property="vouchersId" column="vouchers_id" />
		<result property="vouchersMoney" column="vouchers_money" />
		<result property="vouchersUseMoney" column="vouchers_use_money" />
		<result property="orderId" column="order_id" />
		<result property="orderMoney" column="order_money" />
		<result property="payTime" column="pay_time"/>
		<result property="memberCode" column="member_code" />
		<result property="phone" column="phone" />
		<result property="clientId" column="name" />
		<result property="productId" column="product_id" />
		<result property="normalPriceMarket" column="normal_price_market" />
		<result property="vipPriceMarket" column="vip_price_market" />
	</resultMap>
	
		<!-- 迁移使用 -->
	<sql id="Not_ID_Column_List_1">
		id,client_id,create_time,update_time,active_id,vouchers_id,vouchers_money,vouchers_use_money,vouchers_res_money,member_code,send_active_id,send_time,status,use_order_id,use_time,user_member_code,is_upload
	</sql>
	
	
	<!-- 查询已使用超过半年的卷 -->
	<select id="getVouchersInfoFromHalfYear" parameterType="java.util.Date" resultMap="vouchersInfoResultMap">
	  select * from cb_vouchers_info where status=2 and use_time <![CDATA[<]]> #{date} 
	</select>
	<!-- 批量插入已使用超过半年的卷 
	<insert id="addVouchersUseInfoByBatch" parameterType="java.util.List">
	   INSERT INTO cb_vouchers_use_info (
			<include refid="Not_ID_Column_List_1" />
		) VALUES 
		<foreach collection="vouchersInfoList" item="item" index="index" separator=",">
			(#{item.id},#{item.clientId},#{item.createTime},#{item.updateTime},#{item.activeId},#{item.vouchersId},#{item.vouchersMoney},#{item.vouchersUseMoney},#{item.vouchersResMoney},#{item.memberCode},#{item.sendActiveId},#{item.sendTime},#{item.status},#{item.useOrderId},#{item.useTime},#{item.userMemberCode})
		</foreach>
	</insert>-->
	<!-- 迁移已使用超过半年的卷-->
	<insert id="addVouchersUseInfo" parameterType="java.util.Date">
	   INSERT INTO cb_vouchers_use_info (
			<include refid="Not_ID_Column_List_1" />
		) SELECT <include refid="Not_ID_Column_List_1" /> FROM cb_vouchers_info where status=2 and use_time <![CDATA[<]]> #{date} 
		
	</insert> 
    <!--原表数据删除(已使用)  	
	<delete id="deleteVouchersInfoFromHalfYear" parameterType="java.util.List">
	  delete from cb_vouchers_info where id in
	  <foreach collection="vouchersInfoList" item="item" index="index" open="(" separator="," close=")">
		#{item.id}
	</foreach>
	</delete>-->
	<delete id="deleteVouchersInfoFromHalfYear" parameterType="java.util.Date" >
	  delete from cb_vouchers_info where status=2 and use_time <![CDATA[<]]> #{date} 
	</delete>
	<!-- 查询过期超过半年的卷 -->
	<select id="getVouchersInfoOutOfDateFromHalfYear" parameterType="java.util.Date" resultMap="vouchersInfoResultMap">
	  select c1.id,c1.client_id,c1.create_time,c1.update_time,c1.active_id,c1.vouchers_id,c1.vouchers_money,c1.vouchers_use_money,c1.vouchers_res_money
	  ,c1.member_code,c1.send_active_id,c1.send_time,c1.status,c1.use_order_id,c1.use_time,c1.user_member_code,c1.is_upload from cb_vouchers_info c1 left join cb_active_base_rule c2 on c1.active_id=c2.active_id where c1.status=0 and c2.expire_end_time <![CDATA[<]]> #{date} 
	</select>
	<!-- 批量插入已过期超过半年的卷 
	<insert id="addVouchersOutOfDateInfoByBatch" parameterType="java.util.List">
	   INSERT INTO cb_vouchers_expired_info (
			<include refid="Not_ID_Column_List_1" />
		) VALUES 
		<foreach collection="vouchersInfoList" item="item" index="index" separator=",">
			(#{item.id},#{item.clientId},#{item.createTime},#{item.updateTime},#{item.activeId},#{item.vouchersId},#{item.vouchersMoney},#{item.vouchersUseMoney},#{item.vouchersResMoney},#{item.memberCode},#{item.sendActiveId},#{item.sendTime},#{item.status},#{item.useOrderId},#{item.useTime},#{item.userMemberCode})
		</foreach>
	</insert>-->
	<!-- 迁移未使用超过半年的卷 -->
	<insert id="addVouchersOutOfDateInfo" parameterType="java.util.Date">
	INSERT INTO cb_vouchers_expired_info (
			<include refid="Not_ID_Column_List_1" />
		)select c1.id,c1.client_id,c1.create_time,c1.update_time,c1.active_id,c1.vouchers_id,c1.vouchers_money,c1.vouchers_use_money,c1.vouchers_res_money
	  ,c1.member_code,c1.send_active_id,c1.send_time,c1.status,c1.use_order_id,c1.use_time,c1.user_member_code,c1.is_upload from cb_vouchers_info c1 left join cb_active_base_rule c2 on c1.active_id=c2.active_id where c1.status=0 and c2.expire_end_time <![CDATA[<]]> #{date} 
		
	</insert>
	 <!--原表数据删除(已过期) -->	
	<delete id="deleteVouchersInfoOutOfDateFromHalfYear" parameterType="java.util.List">
       delete from cb_vouchers_info where id in
		<foreach collection="vouchersInfoList" item="item" index="index" open="(" separator="," close=")">
		#{item.id}
		</foreach>
	</delete>
	
	<!-- 删除临时表前一天数据 
	<select id="findVouchersInfoIds" resultMap="vouchersInfoResultMap">
	  select id from cb_vouchers_temporary_info where create_time <![CDATA[<]]> DATE_SUB(NOW(), INTERVAL 1 DAY)
	</select>
	<delete id="deleteVouchersTemporary" parameterType="java.util.List">
	delete from cb_vouchers_temporary_info where id in
	<foreach collection="vouchersInfoList" item="item" index="index" open="(" separator="," close=")">
		#{item.id}
	</foreach>
	</delete>-->
	<delete id="deleteVouchersTemporary">
	delete from cb_vouchers_temporary_info where create_time <![CDATA[<]]> DATE_SUB(NOW(), INTERVAL 1 DAY)
	</delete>
</mapper>

