<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.AdPositionMapper">

    <resultMap type="AdPosition" id="adPositionResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="name" column="name"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
        <result property="description" column="description"/>
        <result property="positionStyle" column="position_style"/>
        <result property="dataState" column="data_state" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
    	<result property="clientId" column="client_id"/>
    </resultMap>
    
    <select id="findAdPosition" parameterType="AdPosition" resultMap="adPositionResultMap">
		SELECT 
            id,name,width,height,description,position_style,data_state,client_id,position
        FROM fft_ad_position 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
		</where>
	</select>
    

</mapper>