<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.ArticleMapper">

    <resultMap type="Article" id="articleResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="content" column="content"/>
        <result property="seoTitle" column="seo_title"/>
        <result property="seoKeywords" column="seo_keywords"/>
        <result property="seoDescription" column="seo_description"/>
        <result property="isPublication" column="is_publication"/>
        <result property="isTop" column="is_top"/>
        <result property="isRecommend" column="is_recommend"/>
        <result property="pageCount" column="page_count"/>
        <result property="htmlPath" column="html_path"/>
        <result property="hits" column="hits"/>
        <result property="articleCategoryId" column="article_category_id"/>
        <result property="clientId" column="client_id"/>
        <result property="dataState" column="data_state" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
		insert into fft_article values
		(
			#{id},#{createTime},#{updateTime},#{title},#{author},#{content},#{seoTitle},#{seoKeywords},#{seoDescription},
			#{isPublication},#{isTop},#{isRecommend},#{pageCount},#{htmlPath},0,#{articleCategoryId},#{clientId},30
		)
	</insert>

    <!-- 更新 -->
    <update id="updateArticleById" parameterType="Article">
        update fft_article set update_time = #{updateTime}
        <if test="title != null">
            ,title = #{title}
        </if>
        <if test="author != null">
            ,author = #{author}
        </if>
        <if test="content != null">
            ,content = #{content}
        </if>
        <if test="seoTitle != null">
            ,seo_title = #{seoTitle}
        </if>
        <if test="seoKeywords != null">
            ,seo_keywords = #{seoKeywords}
        </if>
        <if test="seoDescription != null">
            ,seo_description = #{seoDescription}
        </if>
        <if test="isPublication != null">
            ,is_publication = #{isPublication}
        </if>
        <if test="isTop != null">
            ,is_top = #{isTop}
        </if>
        <if test="isRecommend != null">
            ,is_recommend = #{isRecommend}
        </if>
        <if test="pageCount != null">
            ,page_count = #{pageCount}
        </if>
        <if test="htmlPath != null">
            ,html_path = #{htmlPath}
        </if>
        <if test="hits != null">
            ,hits = #{hits}
        </if>
        <if test="articleCategoryId != null">
            ,article_category_id = #{articleCategoryId}
        </if>
        <if test="clientId != null">
            ,client_id = #{clientId}
        </if>
        <if test="dataState != null">
            ,data_state = #{dataState,typeHandler=com.froad.db.extend.EnumTypeHandler}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectArticleById" parameterType="java.lang.Long" resultMap="articleResultMap">
		select * from fft_article where id = #{id}
	</select>

    <!--分页数据-->
    <select id="selectArticleByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="articleResultMap">
        select * from fft_article
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.title!= null">
                        and title like CONCAT('%',#{pageFilter.filterEntity.title},'%')
                    </if>
                    <if test="pageFilter.filterEntity.isPublication!= null">
                        and is_publication = #{pageFilter.filterEntity.isPublication}
                    </if>
                    <if test="pageFilter.filterEntity.isTop!= null">
                        and is_top = #{pageFilter.filterEntity.isTop}
                    </if>
                    <if test="pageFilter.filterEntity.isRecommend!= null">
                        and is_recommend = #{pageFilter.filterEntity.isRecommend}
                    </if>
                    <if test="pageFilter.filterEntity.articleCategoryId!= null">
                        and article_category_id = #{pageFilter.filterEntity.articleCategoryId}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>

                </if>
                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} >= #{pageFilter.startTime}
        					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} <= #{pageFilter.endTime}
        					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectArticleByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_article
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.title!= null">
                        and title like CONCAT('%',#{pageFilter.filterEntity.title},'%')
                    </if>
                    <if test="pageFilter.filterEntity.isPublication!= null">
                        and is_publication = #{pageFilter.filterEntity.isPublication}
                    </if>
                    <if test="pageFilter.filterEntity.isTop!= null">
                        and is_top = #{pageFilter.filterEntity.isTop}
                    </if>
                    <if test="pageFilter.filterEntity.isRecommend!= null">
                        and is_recommend = #{pageFilter.filterEntity.isRecommend}
                    </if>
                    <if test="pageFilter.filterEntity.articleCategoryId!= null">
                        and article_category_id = #{pageFilter.filterEntity.articleCategoryId}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} >= #{pageFilter.startTime}
        					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} <= #{pageFilter.endTime}
        					]]>
                </if>
            </where>
        </if>
    </select>


</mapper>