<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.BankOutletsMapper">
	
	<resultMap type="BankOutlets" id="bankOutletsResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="clientId" column="client_id"/>
        <result property="name" column="name"/>
        <result property="addr" column="addr"/>
        <result property="tel" column="tel"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="businessTime" column="business_time" />
        <result property="areaId" column="area_id" />
    </resultMap>
    
    <insert id="saveBankOutlets" parameterType="BankOutlets" useGeneratedKeys="true" keyProperty="id">
    	insert into fft_bank_outlets
    	values(null,#{createTime},#{updateTime},#{clientId},#{name},#{addr},#{tel},#{contactPhone},#{businessTime},#{areaId})
    </insert>
    
	<select id="" resultMap="bankOutletsResultMap">
		select * from fft_bank_outlets
	</select>   
	
</mapper>