<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.BusinessCircleMapper">

    <resultMap type="BusinessCircle" id="businessCircleResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="name" column="name"/>
        <result property="orderValue" column="order_value"/>
        <result property="treePath" column="tree_path"/>
        <result property="parentId" column="parent_id"/>
        <result property="areaId" column="area_id"/>
        <result property="icoUrl" column="ico_url"/>
        <result property="isHot" column="is_hot"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveBusinessCircle" parameterType="BusinessCircle" useGeneratedKeys="true" keyProperty="id">
		insert into fft_business_circle values
		(
			#{id},#{createTime},#{updateTime},
			#{name},#{parentId},#{treePath},#{orderValue},#{areaId},#{icoUrl},#{isHot}
		)
	</insert>
    <!-- 更新 -->
    <update id="updateBusinessCircleById" parameterType="BusinessCircle">
        update fft_business_circle set update_time = #{updateTime}
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="orderValue != null">
            ,order_value = #{orderValue}
        </if>
        <if test="treePath != null">
            ,tree_path = #{treePath}
        </if>
        <if test="parentId != null">
            ,parent_id = #{parentId}
        </if>
        <if test="areaId != null">
            ,area_id = #{areaId}
        </if>
        <if test="icoUrl != null">
            ,ico_url = #{icoUrl}
        </if>
        <if test="isHot != null">
            ,is_hot = #{isHot}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectBusinessCircleById" parameterType="java.lang.Long" resultMap="businessCircleResultMap">
		select * from fft_business_circle where id = #{id}
	</select>


    <!--分页数据-->
    <select id="selectBusinessCircleByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="businessCircleResultMap">
        select * from fft_business_circle
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.areaId!= null">
                        and area_id in (SELECT t.id FROM fft_area t WHERE (t.parent_id = #{pageFilter.filterEntity.areaId} OR t.id = #{pageFilter.filterEntity.areaId} OR t.parent_id IN ( SELECT c.id FROM fft_area c WHERE c.parent_id = #{pageFilter.filterEntity.areaId} OR c.id = #{pageFilter.filterEntity.areaId} )))
                    </if>
                    <!-- parentId 为-1时,表示不根据parent_id 过滤 -->
                    <if test="pageFilter.filterEntity.parentId!= null and pageFilter.filterEntity.parentId !=-1">
	                    <if test="pageFilter.filterEntity.parentId!= null and pageFilter.filterEntity.parentId != 0">
	                        and parent_id = #{pageFilter.filterEntity.parentId}
	                    </if>
	                    <if test="pageFilter.filterEntity.parentId!= null and pageFilter.filterEntity.parentId ==0">
	                        and parent_id is null
	                    </if>
                    </if>
                    <if test="pageFilter.filterEntity.isHot != null">
           				 and is_hot = #{pageFilter.filterEntity.isHot}
      			 	 </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} >= #{pageFilter.startTime}
        					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} <= #{pageFilter.endTime}
        					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectBusinessCircleByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_business_circle
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.areaId!= null">
                        and area_id in (SELECT t.id FROM fft_area t WHERE (t.parent_id = #{pageFilter.filterEntity.areaId} OR t.id = #{pageFilter.filterEntity.areaId} OR t.parent_id IN ( SELECT c.id FROM fft_area c WHERE c.parent_id = #{pageFilter.filterEntity.areaId} OR c.id = #{pageFilter.filterEntity.areaId} )))
                    </if>
                    <if test="pageFilter.filterEntity.parentId!= null and pageFilter.filterEntity.parentId != 0">
                        and parent_id = #{pageFilter.filterEntity.parentId}
                    </if>
                    <if test="pageFilter.filterEntity.parentId!= null and pageFilter.filterEntity.parentId ==0">
                        and parent_id is null
                    </if>
                    <if test="pageFilter.filterEntity.isHot != null">
           				 and is_hot = #{pageFilter.filterEntity.isHot}
      			 	 </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} >= #{pageFilter.startTime}
        					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} <= #{pageFilter.endTime}
        					]]>
                </if>
            </where>
        </if>
    </select>
</mapper>