<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.ClientChannelMapper">

    <insert id="save" parameterType="ClientChannel">
		insert into fft_client_channel values (#{clientId},#{fundsChannelId})
	</insert>
	
	<insert id="saveBatch"  parameterType="java.util.List" >
		insert into fft_client_channel values 
		<foreach collection="list" item="item"  separator="," >
			(#{item.clientId},#{item.fundsChannelId})
        </foreach>
	</insert>

</mapper>