<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.DBStatsMapper">

    <select id="queryMerchant" resultType="java.lang.String">
    	select create_time,update_time from fft_merchant limit 3
    </select>

	<select id="queryMerchantOutlet" resultType="java.lang.String">
    	select create_time,update_time from fft_merchant_outlet limit 3
    </select>

	<select id="queryProduct" resultType="java.lang.String">
    	select create_time,update_time from fft_product limit 3
    </select>
</mapper>