<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.FriendLinkMapper">

    <resultMap type="FriendLink" id="friendLinkResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="name" column="title"/>
        <result property="type" column="type" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="logo" column="logo"/>
        <result property="url" column="url"/>
        <result property="orderValue" column="order_value"/>
        <result property="clientId" column="client_id"/>
        <result property="dataState" column="data_state" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveFriendLink" parameterType="FriendLink" useGeneratedKeys="true" keyProperty="id">
		insert into fft_friend_link values
		(
			#{id},#{createTime},#{updateTime},#{name},#{type,typeHandler=com.froad.db.extend.EnumTypeHandler},
			#{logo},#{url},#{orderValue},#{clientId},30
		)
	</insert>

    <!-- 更新 -->
    <update id="updateFriendLinkById" parameterType="FriendLink">
        update fft_friend_link set update_time = #{updateTime}
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="type != null">
            ,type = #{type,typeHandler=com.froad.db.extend.EnumTypeHandler}
        </if>
        <if test="logo != null">
            ,logo = #{logo}
        </if>
        <if test="url != null">
            ,url = #{url}
        </if>
        <if test="orderValue != null">
            ,order_value = #{orderValue}
        </if>
        <if test="clientId != null">
            ,client_id = #{clientId}
        </if>
        <if test="dataState != null">
            ,data_state = #{dataState,typeHandler=com.froad.db.extend.EnumTypeHandler}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectFriendLinkById" parameterType="java.lang.Long" resultMap="friendLinkResultMap">
		select * from fft_friend_link where id = #{id}
	</select>

    <!--分页数据-->
    <select id="selectFriendLinkByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="friendLinkResultMap">
        select * from fft_friend_link
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.type!= null">
                        and type = #{pageFilter.filterEntity.type,typeHandler=com.froad.db.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} >= #{pageFilter.startTime}
        					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} <= #{pageFilter.endTime}
        					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectFriendLinkByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_friend_link
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.type!= null">
                        and type = #{pageFilter.filterEntity.type,typeHandler=com.froad.db.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} >= #{pageFilter.startTime}
        					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} <= #{pageFilter.endTime}
        					]]>
                </if>
            </where>
        </if>
    </select>


</mapper>