<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.FundsChannelMapper">

    <resultMap type="FundsChannel" id="fundsChannelResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="shortName" column="name"/>
        <result property="fullName" column="full_name"/>
        <result property="channelType" column="channel_type" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="payOrg" column="pay_org"/>
        <result property="icoUrl" column="ico_url"/>
    </resultMap>

    <!-- 查询 -->
    <select id="selectAllFundsChannel" resultMap="fundsChannelResultMap">
		select * from fft_funds_channel
	</select>

</mapper>