<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.HfczMapper">

	<resultMap type="Hfcz" id="hfczResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="remark" column="remark" />
		
		<result property="transId" column="trans_id" />
		<result property="froadTransId" column="froad_trans_id" />
		<result property="hfczState" column="hfcz_state" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
		<result property="mobile" column="mobile" />
		<result property="amount" column="amount" />
		<result property="realPrice" column="real_price"/>
 		<result property="area" column="area" />
		<result property="operator" column="operator" />
	</resultMap>
	
	<!-- 插入 -->
	<insert id="saveHfcz" parameterType="Hfcz" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_hfcz values
		(
			#{id},#{mobile},#{amount},#{realPrice},#{area},#{operator},
			#{hfczState,typeHandler=com.froad.db.extend.EnumTypeHandler},
			#{transId},#{froadTransId},#{createTime},#{updateTime},#{remark}
		)
	</insert>

	<!-- 更新 -->
	<update id="updateHfczById" parameterType="Hfcz">
		update fft_hfcz set update_time = #{updateTime}
		<if test="hfczState != null">
			,hfcz_state = #{hfczState,typeHandler=com.froad.db.extend.EnumTypeHandler}
		</if>
		<if test="froadTransId != null">
			,froad_trans_id = #{froadTransId}
		</if>
		<if test="remark != null">
			,remark = #{remark}
		</if>
		where id = #{id}
	</update>
	
	<!-- 查询 -->
	<select id="selectHfczById" parameterType="java.lang.Long" resultMap="hfczResultMap">
		select * from fft_hfcz where id = #{id}
	</select>
	
	<!-- 查询 -->
	<select id="selectHfczByTransId" parameterType="java.lang.Long" resultMap="hfczResultMap">
		select * from fft_hfcz where trans_id = #{transId}
	</select>
	
	<!-- 查询 -->
	<select id="selectHfczByTransSn" parameterType="java.lang.String" resultMap="hfczResultMap">
		select * from fft_hfcz where trans_id = (select id from fft_trans where sn=#{sn})
	</select>
</mapper>