<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.MemberMapper">

	<resultMap type="Member" id="memberResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="memberCode" column="member_code" />
		<result property="username" column="username" />
		<result property="mobile" column="mobile" />
	</resultMap>
	
	<!-- 插入 -->
	<insert id="saveMember" parameterType="Member" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_member values
		(
			#{id},#{createTime},#{updateTime},#{memberCode},#{username},#{mobile}
		)
	</insert>

	<!-- 更新 -->
	<update id="updateMemberById" parameterType="Member">
		update fft_member set update_time = #{updateTime}
		<if test="mobile != null">
			,mobile = #{mobile}
		</if>
		where id = #{id}
	</update>
	
	<!-- 查询 -->
	<select id="selectMemberById" parameterType="java.lang.Long" resultMap="memberResultMap">
		select * from fft_member where id = #{id}
	</select>
</mapper>