<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.MenuMapper">

	<resultMap type="Menu" id="menuResultMap">
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="isEnabled" column="is_enabled"/>
		<result property="orderValue" column="order_value"/>
		<result property="menuType" column="menu_type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
		<result property="menuClientType" column="menu_client_type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
		<result property="clientId" column="client_id"/>
		<result property="parentId" column="parent_id"/>
		<result property="breakUrl" column="break_url"/>
		<result property="iconUrl" column="ico_url"/>
	</resultMap>
	
	<!-- 条件查询 -->
	<select id="selectMenuByCondition" parameterType="Menu" resultMap="menuResultMap">
			select * from fft_menu
			<where>
					<if test="id!=null">
						and id = #{id}
					</if>
					<if test="clientId!=null">
						and client_id = #{clientId}
					</if>
					<if test="name!=null">
						and name = #{name}
					</if>
					<if test="menuType!=null">
						and menu_type = #{menuType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
					</if>
					<if test="menuClientType!=null">
						and menu_client_type = #{menuClientType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
					</if>
					<if test="isEnabled!=null">
						and is_enabled = #{isEnabled}
					</if>
					<if test="parentId!=null">
						and parent_id = #{parentId}
					</if>
			</where>
			order by order_value desc
	</select>
	
	
	<!--分页数据-->
    <select id="selectMenuByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="menuResultMap">
        select * from fft_menu
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.menuType!=null">
                       and menu_type =  #{pageFilter.filterEntity.menuType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.menuClientType!=null">
                       and menu_client_type =  #{pageFilter.filterEntity.menuClientType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.parentId!= null and pageFilter.filterEntity.parentId != 0">
                        and parent_id = #{pageFilter.filterEntity.parentId}
                    </if>
                    <if test="pageFilter.filterEntity.parentId!= null and pageFilter.filterEntity.parentId ==0">
                        and parent_id is null
                    </if>
                    <if test="pageFilter.filterEntity.clientId">
                    	and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} >= #{pageFilter.startTime}
     					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} <= #{pageFilter.endTime}
     					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectMenuByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_menu
        <if test="pageFilter != null">
            <where>
               <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.menuType!=null">
                       and menu_type =  #{pageFilter.filterEntity.menuType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.menuClientType!=null">
                       and menu_client_type =  #{pageFilter.filterEntity.menuClientType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.parentId!= null and pageFilter.filterEntity.parentId != 0">
                        and parent_id = #{pageFilter.filterEntity.parentId}
                    </if>
                    <if test="pageFilter.filterEntity.parentId!= null and pageFilter.filterEntity.parentId ==0">
                        and parent_id is null
                    </if>
                    <if test="pageFilter.filterEntity.clientId">
                    	and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} >= #{pageFilter.startTime}
     					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} <= #{pageFilter.endTime}
     					]]>
                </if>
            </where>
        </if>
    </select>
    
    <insert id="saveMenu" useGeneratedKeys="true" keyProperty="id" parameterType="Menu">
    	insert into fft_menu
    	values(null,#{createTime},#{updateTime},#{clientId},#{iconUrl},#{name},
    	#{menuType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
    	#{menuClientType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
    	#{isEnabled},#{orderValue},#{parentId},#{breakUrl}
    	)
    </insert>
    
    <update id="updateMenu" parameterType="Menu">
    	update fft_menu set update_time= now(),parent_id = #{parentId}
    	<if test="clientId!=null">
    		,client_id = #{clientId}
    	</if>
    	<if test="iconUrl!=null">
    		,ico_url = #{iconUrl}
    	</if>
    	<if test="name!=null">
    		,name = #{name}
    	</if>
    	<if test="menuType!=null">
    		,menu_type = #{menuType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
    	</if>
    	<if test="menuClientType!=null">
    		,menu_client_type = #{menuClientType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
    	</if>
    	<if test="isEnabled!=null">
    		,is_enabled = #{isEnabled}
    	</if>
    	<if test="orderValue!=null">
    		,order_value = #{orderValue}
    	</if>
    	<if test="breakUrl!=null">
    		,break_url = #{breakUrl}
    	</if>
    	where id = #{id}
    </update>
	
</mapper>