<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.MerchantOutletBusinessMapper">

    <resultMap type="MerchantOutletBusiness" id="merchantOutletBusinessResultMap">
    	<result column="merchant_outlet_id" property="merchantOutletId"/>
    	<result column="business_circle_id" property="businessCircleId"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveMerchantOutletBusiness" parameterType="MerchantOutletBusiness">
		insert into fft_merchant_outlet_business (merchant_outlet_id,business_circle_id) values
		(
			#{merchantOutletId},#{businessCircleId}
		)
	</insert>
    
    <!-- 根据门店ID删除 -->
    <delete id="deleteByMerchantOutletId" parameterType="java.lang.Long">
    	delete from fft_merchant_outlet_business
    	where merchant_outlet_id = #{merchantOutletId}
    </delete>

    <!-- 根据门店ID查询 -->
    <select id="selectByMerchantOutletId" parameterType="java.lang.Long" resultMap="merchantOutletBusinessResultMap">
		select * from fft_merchant_outlet_business 
		where 
		merchant_outlet_id = #{merchantOutletId}
	</select>

</mapper>