<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.MerchantCommentMapper">

	<resultMap type="MerchantComment" id="merchantCommentResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="starLevel" column="star_level" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="productPoint" column="product_point" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="environmentPoint" column="environment_point" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="servePoint" column="serve_point" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="commentDescription" column="comment_description" />
		<result property="merchantOutletId" column="merchant_outlet_id" />
		<result property="memberCode" column="member_code" />
		<result property="dataState" column="data_state" typeHandler="com.froad.db.extend.EnumTypeHandler" />
	</resultMap>
	
	<!-- 插入 -->
	<insert id="saveMerchantComment" parameterType="MerchantComment" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_merchant_comment values
		(
			#{id},#{createTime},#{updateTime},#{starLevel,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			#{productPoint,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{environmentPoint,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			#{servePoint,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			#{commentDescription},#{merchantOutletId},#{memberCode},30
		)
	</insert>
	
	<!-- 更新 -->
	<update id="updateMerchantCommentById" parameterType="MerchantComment" >
		update fft_merchant_comment set update_time = #{updateTime}
		<if test="starLevel != null">
			,star_level = #{starLevel,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
		</if>
		<if test="productPoint != null">
			,product_point = #{productPoint,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
		</if>
		<if test="environmentPoint != null">
			,environment_point = #{environmentPoint,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
		</if>
		<if test="servePoint != null">
			,serve_point = #{servePoint,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
		</if>	
		<if test="commentDescription != null">
			,comment_description = #{commentDescription}
		</if>
		<if test="merchantOutletId != null">
			,merchant_outlet_id = #{merchantOutletId}
		</if>
		<if test="memberCode != null">
			,member_code = #{memberCode}
		</if>	
		<if test="dataState != null">
			,data_state = #{dataState,typeHandler=com.froad.db.extend.EnumTypeHandler}
		</if>
		where id = #{id}
	</update>
	
	<!-- 查询 -->
	<select id="selectMerchantCommentById" parameterType="java.lang.Long" resultMap="merchantCommentResultMap">
		select * from fft_merchant_comment where id = #{id}
	</select>
	
		<!-- 查询 -->
	<select id="selectMerchantCommentAll"  resultMap="merchantCommentResultMap">
		select * from fft_merchant_comment
	</select>
</mapper>