<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.froad.db.ahui.mappers.MerchantTypeRelationMapper">	
	<resultMap type="MerchantTypeRelation" id="MerchantTypeRelationResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="merchantId" column="merchant_id" />
		<result property="merchantTypeId" column="merchant_type_id"/>
	</resultMap>
	
	<select id="distinctMerchantTypeId" resultType="java.lang.Long">
		select distinct merchant_type_id from fft_merchant_type_relation
	</select>
	
	<select id="findMerchantByTypeId" parameterType="java.lang.Long" resultType="java.lang.Long">
		select merchant_id from fft_merchant_type_relation where merchant_type_id=#{typeId}
	</select>
	
	<select id="findMerchantByMerchantId" parameterType="java.lang.Long" resultMap="MerchantTypeRelationResultMap">
		select * from fft_merchant_type_relation where merchant_id=#{merchantId}
	</select>
	
</mapper>