<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.MerchantAccountMapper">

    <resultMap type="MerchantAccount" id="merchantAccountResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="merchantId" column="merchant_id"/>
        <result property="acctName" column="acct_name"/>
        <result property="acctNumber" column="acct_number"/>
        <result property="acctType" column="acct_type" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="isEnabled" column="is_enabled"/>
        <result property="fundsChannelId" column="funds_channel_id"/>
        <result property="openingBank" column="opening_bank"/>
    </resultMap>
    <!-- 插入 -->
    <insert id="saveMerchantAccount" parameterType="MerchantAccount" useGeneratedKeys="true" keyProperty="id">
		insert into fft_merchant_account values(
			#{id},#{createTime},#{updateTime},#{merchantId},#{acctName},#{acctNumber},#{acctType,typeHandler=com.froad.db.extend.EnumTypeHandler},#{isEnabled},#{fundsChannelId}
			,#{openingBank}
		)
	</insert>
    <!-- 查询 -->
    <select id="selectMerchantAccountById" parameterType="java.lang.Long" resultMap="merchantAccountResultMap">
		select * from fft_merchant_account where id=#{id}
	</select>
	
	   <!-- 查询 -->
    <select id="selectMerchantAccountAll"  resultMap="merchantAccountResultMap">
		select * from fft_merchant_account where acct_type = 1
	</select>

    <!-- 查询 -->
    <select id="selectByMerchantId" parameterType="java.lang.Long" resultMap="merchantAccountResultMap">
		select * from fft_merchant_account where merchant_id=#{merchantId}
	</select>

    <!-- 更新 -->
    <update id="updateMerchantAccountById" parameterType="MerchantAccount">
        update fft_merchant_account set update_time = #{updateTime}
        <if test="merchantId != null">
            ,merchant_id = #{merchantId}
        </if>
        <if test="acctName != null">
            ,acct_name = #{acctName}
        </if>
        <if test="acctNumber != null">
            ,acct_number = #{acctNumber}
        </if>
        <if test="acctType != null">
            ,acct_type = #{acctType,typeHandler=com.froad.db.extend.EnumTypeHandler}
        </if>
        <if test="isEnabled != null">
            ,is_enabled = #{isEnabled}
        </if>
        <if test="fundsChannelId != null">
            ,funds_channel_id = #{fundsChannelId}
        </if>
        <if test="openingBank !=null">
        	,opening_bank =#{openingBank}
        </if>
        where id = #{id}
    </update>

    <!--分页数据-->
    <select id="selectMerchantAccountByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="merchantAccountResultMap">
        select * from fft_merchant_account
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        <if test="pageFilter.filterEntity.id!= ''">
                            and id = #{pageFilter.filterEntity.id}
                        </if>
                    </if>
                    <if test="pageFilter.filterEntity.acctName!= null">
                        and acct_name like CONCAT('%',#{pageFilter.filterEntity.acctName},'%')
                    </if>
                    <if test="pageFilter.filterEntity.acctNumber!= null">
                        <if test="pageFilter.filterEntity.acctNumber!= ''">
                            and acct_number = #{pageFilter.filterEntity.acctNumber}
                        </if>
                    </if>
                    <if test="pageFilter.filterEntity.isEnabled!= null">
                        and is_enabled = #{pageFilter.filterEntity.isEnabled}
                    </if>
                    <if test="pageFilter.filterEntity.fundsChannelId!= null">
                        and funds_channel_id = #{pageFilter.filterEntity.fundsChannelId}
                    </if>
                    <if test="pageFilter.filterEntity.acctType!= null">
                        and acct_type = #{pageFilter.filterEntity.acctType,typeHandler=com.froad.db.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.merchantId!= null">
                        and merchant_id = #{pageFilter.filterEntity.merchantId}
                    </if>
                     <if test="pageFilter.filterEntity.openingBank!= null and pageFilter.filterEntity.openingBank!=''">
                        and opening_bank like concat('%',#{pageFilter.filterEntity.openingBank},'%')
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} >= #{pageFilter.startTime}
     					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} <= #{pageFilter.endTime}
     					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectMerchantAccountByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_merchant_account
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        <if test="pageFilter.filterEntity.id!= ''">
                            and id = #{pageFilter.filterEntity.id}
                        </if>
                    </if>
                    <if test="pageFilter.filterEntity.acctName!= null">
                        and acct_name like CONCAT('%',#{pageFilter.filterEntity.acctName},'%')
                    </if>
                    <if test="pageFilter.filterEntity.acctNumber!= null">
                        <if test="pageFilter.filterEntity.acctNumber!= ''">
                            and acct_number = #{pageFilter.filterEntity.acctNumber}
                        </if>
                    </if>
                    <if test="pageFilter.filterEntity.isEnabled!= null">
                        and is_enabled = #{pageFilter.filterEntity.isEnabled}
                    </if>
                    <if test="pageFilter.filterEntity.fundsChannelId!= null">
                        and funds_channel_id = #{pageFilter.filterEntity.fundsChannelId}
                    </if>
                    <if test="pageFilter.filterEntity.acctType!= null">
                        and acct_type = #{pageFilter.filterEntity.acctType,typeHandler=com.froad.db.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.merchantId!= null">
                        and merchant_id = #{pageFilter.filterEntity.merchantId}
                    </if>
                     <if test="pageFilter.filterEntity.openingBank!= null and pageFilter.filterEntity.openingBank!=''">
                       and opening_bank like CONCAT('%',#{pageFilter.filterEntity.openingBank},'%')
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} >= #{pageFilter.startTime}
     					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} <= #{pageFilter.endTime}
     					]]>
                </if>
            </where>
        </if>
    </select>

</mapper>