<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.OutletPresellDeliveryMapper">

	<resultMap type="OutletPresellDelivery" id="outletPresellDeliveryResultMap">
		<id property="merchantOutletId" column="merchant_outlet_id" />
		<id property="presellDeliveryId" column="presell_delivery_id" />
	</resultMap>
	
	<insert id="saveOutletPresellDelivery" parameterType="OutletPresellDelivery" >
		insert into fft_outlet_presell_delivery values(#{merchantOutletId},#{presellDeliveryId})
	</insert>
	
	
	<delete id="deleteOutletPresellDelivery"  parameterType="OutletPresellDelivery">
		delete from fft_outlet_presell_delivery where merchant_outlet_id=#{merchantOutletId} and presell_delivery_id=#{presellDeliveryId}
	</delete>
	
	<select id="selectOutletPresellDeliveryByConditions" parameterType="OutletPresellDelivery" resultMap="outletPresellDeliveryResultMap">
		select * from fft_outlet_presell_delivery where 1=1
	<!-- 	<if test="merchantOutletId != null || presellDeliveryId !=null"> -->
			
				<if test="merchantOutletId != null">
					and merchant_outlet_id=#{merchantOutletId}
				</if>
				<if test="presellDeliveryId != null">
					and presell_delivery_id=#{presellDeliveryId}
				</if>
			
	<!--  	</if>-->
	</select>
	
	<select id="selectDeliveysByOutLetIds" parameterType="java.util.List" resultMap="outletPresellDeliveryResultMap">
		select * from fft_outlet_presell_delivery where merchant_outlet_id in 		
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
</mapper>