<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.PayMapper">

	<resultMap type="Pay" id="payResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="sn" column="sn" />
		<result property="transId" column="trans_id" />
		<result property="payType" column="pay_type" typeHandler="com.froad.db.extend.EnumTypeHandler" />
		<result property="payTypeDetails" column="pay_type_details" typeHandler="com.froad.db.extend.EnumTypeHandler" />
		<result property="step" column="step" />
		<result property="payState" column="pay_state" typeHandler="com.froad.db.extend.EnumTypeHandler" />
		
		<result property="payOrg" column="pay_org" />
		<result property="billNo" column="bill_no" />
		<result property="refundOrderId" column="refund_order_id" />
		<result property="pointBillNo" column="point_bill_no" />
		<result property="refundPointNo" column="refund_point_no" />
		
		
		<result property="payValue" column="pay_value" />
		<result property="fromAccountName" column="from_account_name" />
		<result property="fromAccountNo" column="from_account_no" />
		<result property="toAccountName" column="to_account_name" />
		<result property="toAccountNo" column="to_account_no" />
		<result property="fromPhone" column="from_phone" />
		<result property="toPhone" column="to_phone" />
		<result property="fromRole" column="from_role" typeHandler="com.froad.db.extend.EnumTypeHandler" />
		<result property="toRole" column="to_role" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
		<result property="fromUserName" column="from_user_name"/>
		<result property="toUserName" column="to_user_name" />
		<result property="merchantId" column="merchant_id"/>
		
		<result property="resultCode" column="result_code" />
		<result property="resultDesc" column="result_desc" />
		<result property="remark" column="remark"/>
		<result property="payUrl" column="pay_url"/>
		<result property="enabled" column="enabled"/>
		<result property="checkInNo" column="check_in_no"/>
		<result property="posSn" column="pos_sn"/>
		<result property="ticketId" column="ticket_id"/>
	</resultMap>
	
	<!-- 查询最后一条支付信息 -->
	<select id="queryLastOrderPayInfo"  parameterType="java.lang.Long" resultMap="payResultMap">
		SELECT
			*
		FROM
			fft_pay t WHERE t.trans_id = #{transId} ORDER BY t.create_time DESC LIMIT 1
	</select>
	
	<select id="queryBySettlement"  parameterType="java.lang.Long" resultMap="payResultMap">
		SELECT * FROM fft_pay t WHERE t.ticket_id=#{ticketNo} and pay_type_details = '104' limit 1
	</select>
	
	<select id="findAllGroupFirstDate"  resultMap="payResultMap">
		SELECT
			*
		FROM
			fft_pay pay GROUP BY pay.trans_id ORDER BY pay.create_time ASC
	</select>
	
	<!-- 按卷ID查询信息 -->
	<select id="queryByTicketNo"  parameterType="java.lang.Long" resultMap="payResultMap">
		SELECT * FROM fft_pay t WHERE t.ticket_id=#{ticketNo} limit 1
	</select>
	
	<!-- 查询最后一条支付信息 -->
	<select id="queryPayBySn"  parameterType="java.lang.String" resultMap="payResultMap">
		SELECT * FROM fft_pay t WHERE t.sn=#{sn} ORDER BY t.create_time DESC LIMIT 1
	</select>
	
	<!-- 查询组合支付的退款记录 -->
	<select id="selectPayRefundsDuplicate" resultType="java.util.Map">
		SELECT pay.trans_id FROM fft_trans trans INNER JOIN fft_pay pay ON trans.id=pay.trans_id WHERE (refund_order_id IS NOT NULL OR refund_point_no IS NOT NULL) 
		AND enabled=1 AND trans.type in('01','02','08','12') AND pay.pay_state IN('1011','1012','1013') GROUP BY pay.trans_id HAVING COUNT(trans_id)>1
	</select>
	
	<select id="selectPayRefunds" resultMap="payResultMap">
		SELECT pay.* FROM fft_trans trans INNER JOIN fft_pay pay ON trans.id=pay.trans_id WHERE (refund_order_id IS NOT NULL OR refund_point_no IS NOT NULL) 
		AND enabled=1 AND trans.type in('01','02','08','12') AND pay.pay_state IN('1011','1012','1013') ORDER BY trans.type,id
	</select>
	
	
</mapper>