<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.PresellDeliveryMapper">

    <resultMap type="PresellDelivery" id="presellDeliveryResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="telephone" column="telephone"/>
        <result property="businessTime" column="business_time"/>
        <result property="coordinate" column="coordinate"/>
        <result property="businessCircleId" column="business_circle_id"/>
        <result property="orderValue" column="order_value"/>
        <result property="dataState" column="data_state" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="clientId" column="client_id"/>
        <result property="director" column="director"/>
        <result property="areaId" column="area_id"/>
        <result property="bankOrgNo" column="bank_org_no"/>
        <result property="directorPhone" column="director_phone"/>
        
        <result property="interbankAgency" column="interbank_agency"/>
		<result property="travelAgency" column="travel_agency"/>
		<result property="latticPoint" column="lattice_point"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="savePresellDelivery" parameterType="PresellDelivery" useGeneratedKeys="true" keyProperty="id">
		insert into fft_presell_delivery values
		(
		#{id},#{createTime},#{updateTime},#{name},#{address},
		#{telephone},#{businessTime},#{coordinate},
		#{businessCircleId},#{orderValue},30,#{clientId},#{director},
		#{areaId},#{bankOrgNo},#{directorPhone},#{interbankAgency},#{travelAgency},#{latticPoint}
		)
	</insert>

    <!-- 更新 -->
    <update id="updatePresellDeliveryById" parameterType="PresellDelivery">
        update fft_presell_delivery set update_time = #{updateTime}
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="address != null">
            ,address = #{address}
        </if>
        <if test="telephone != null">
            ,telephone = #{telephone}
        </if>
        <if test="businessTime != null">
            ,business_time = #{businessTime}
        </if>
        <if test="coordinate != null">
            ,coordinate = #{coordinate}
        </if>
        <if test="orderValue != null">
            ,order_value = #{orderValue}
        </if>
        <if test="dataState != null">
            ,data_state = #{dataState,typeHandler=com.froad.db.extend.EnumTypeHandler}
        </if>
        <if test="businessCircleId != null">
            ,business_circle_id = #{businessCircleId}
        </if>
        <if test="clientId != null">
            ,client_id = #{clientId}
        </if>
        <if test="director != null">
            ,director = #{director}
        </if>
        <if test="areaId != null">
            ,area_id = #{areaId}
        </if>
        <if test="bankOrgNo != null">
            ,bank_org_no = #{bankOrgNo}
        </if>
        <if test="directorPhone != null">
            ,director_phone = #{directorPhone}
        </if>
        <if test="interbankAgency != null">
            ,interbank_agency = #{interbankAgency}
        </if>
        <if test="travelAgency != null">
            ,travel_agency = #{travelAgency}
        </if>
        <if test="latticPoint != null">
            ,lattice_point = #{latticPoint}
        </if>
        where id = #{id}
    </update>

    <select id="selectPresellDeliveryById" parameterType="java.lang.Long" resultMap="presellDeliveryResultMap">
    		select * from fft_presell_delivery where id = #{id}
    </select>
    <select id="selectPresellDeliveryByProductSnAndAreaId" resultMap="presellDeliveryResultMap">
    		select pd.* from fft_presell_delivery pd RIGHT JOIN fft_product_presell_delivery ppd on pd.id = ppd.presell_delivery_id
			where ppd.product_presell_id = #{presellDeliveryId}
			<if test="areaId!= null">
				 and pd.area_id = #{areaId};
			</if>
    </select>
    <select id="selectPresellDeliveryByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="presellDeliveryResultMap">
        select * from fft_presell_delivery
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.businessCircleId!= null">
                        and business_circle_id = #{pageFilter.filterEntity.businessCircleId}
                    </if>
                    <if test="pageFilter.filterEntity.dataState!= null">
                        and data_state = #{pageFilter.filterEntity.dataState,typeHandler=com.froad.db.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                    <if test="pageFilter.filterEntity.areaId!= null">
                        and area_id = #{pageFilter.filterEntity.areaId}
                    </if>
                    <if test="pageFilter.filterEntity.bankOrgNo!= null">
                        and bank_org_no = #{pageFilter.filterEntity.bankOrgNo}
                    </if>
                    <if test="pageFilter.filterEntity.interbankAgency!= null and pageFilter.filterEntity.interbankAgency!=''">
                        and interbank_agency = #{pageFilter.filterEntity.interbankAgency}
                    </if>
                     <if test="pageFilter.filterEntity.travelAgency!= null and pageFilter.filterEntity.travelAgency!=''">
                        and travel_agency = #{pageFilter.filterEntity.travelAgency}
                    </if>
                     <if test="pageFilter.filterEntity.latticPoint!= null and pageFilter.filterEntity.latticPoint!=''">
                        and lattice_point = #{pageFilter.filterEntity.latticPoint}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>


    <select id="selectPresellDeliveryByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_presell_delivery
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.businessCircleId!= null">
                        and business_circle_id = #{pageFilter.filterEntity.businessCircleId}
                    </if>
                    <if test="pageFilter.filterEntity.dataState!= null">
                        and data_state = #{pageFilter.filterEntity.dataState,typeHandler=com.froad.db.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                    <if test="pageFilter.filterEntity.areaId!= null">
                        and area_id = #{pageFilter.filterEntity.areaId}
                    </if>    
                    <if test="pageFilter.filterEntity.bankOrgNo!= null">
                        and bank_org_no = #{pageFilter.filterEntity.bankOrgNo}
                    </if>                
                    <if test="pageFilter.filterEntity.interbankAgency!= null and pageFilter.filterEntity.interbankAgency!=''">
                        and interbank_agency = #{pageFilter.filterEntity.interbankAgency}
                    </if>
                     <if test="pageFilter.filterEntity.travelAgency!= null and pageFilter.filterEntity.travelAgency!=''">
                        and travel_agency = #{pageFilter.filterEntity.travelAgency}
                    </if>
                     <if test="pageFilter.filterEntity.latticPoint!= null and pageFilter.filterEntity.latticPoint!=''">
                        and lattice_point = #{pageFilter.filterEntity.latticPoint}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
                </if>
            </where>
        </if>
    </select>
    
    
    <select id="selectByOrgNo" parameterType="java.lang.String" resultMap="presellDeliveryResultMap">
    	select * from fft_presell_delivery where bank_org_no=#{bankOrgNo}
    </select>
    
    <select id="selectByConditions" parameterType="PresellDelivery" resultMap="presellDeliveryResultMap">
    	select * from fft_presell_delivery where 1=1
    	 <if test="name != null">
            and name like CONCAT('%',#{name},'%')
        </if>
        <if test="address != null">
            and address like CONCAT('%',#{address},'%')
        </if>
        <if test="telephone != null">
            and telephone = #{telephone}
        </if>
        <if test="businessTime != null">
            and business_time = #{businessTime}
        </if>
        <if test="coordinate != null">
            and coordinate = #{coordinate}
        </if>
        <if test="orderValue != null">
            and order_value = #{orderValue}
        </if>
        <if test="dataState != null">
            and data_state = #{dataState,typeHandler=com.froad.db.extend.EnumTypeHandler}
        </if>
        <if test="businessCircleId != null">
            and business_circle_id = #{businessCircleId}
        </if>
        <if test="clientId != null">
           and client_id = #{clientId}
        </if>
        <if test="director != null">
            and director = #{director}
        </if>
        <if test="areaId != null">
            and area_id = #{areaId}
        </if>
        <if test="bankOrgNo != null">
            and bank_org_no = #{bankOrgNo}
        </if>
        <if test="directorPhone != null">
            and director_phone = #{directorPhone}
        </if>
    </select>
</mapper>