<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.PresentPointsRuleMapper">

    <resultMap type="PresentPointsRule" id="PresentPointsRuleResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="name" column="name"/>
        <result property="productId" column="product_id"/>
        <result property="pointValue" column="point_value"/>
        <result property="isEnabled" column="is_enabled"/>
        <result property="activeTime" column="active_time"/>
        <result property="expireTime" column="expire_time"/>
        <result property="description" column="description"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="savePresentPointsRule" parameterType="PresentPointsRule" useGeneratedKeys="true" keyProperty="id">
		insert into fft_present_point_rule values(
			#{id},#{createTime},#{updateTime},#{name},#{productId},#{pointValue},#{isEnabled},#{activeTime},#{expireTime},#{description}
		)
	</insert>
    <!-- 查询 -->
    <select id="selectPresentPointsRuleById" parameterType="java.lang.Long" resultMap="PresentPointsRuleResultMap">
		select * from fft_present_point_rule where id=#{id}
	</select>

    <!-- 更新 -->
    <update id="updatePresentPointsRuleById" parameterType="PresentPointsRule">
        update fft_present_point_rule set update_time = #{updateTime}
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="productId != null">
            ,product_id = #{productId}
        </if>
        <if test="pointValue != null">
            ,point_value = #{pointValue}
        </if>
        <if test="isEnabled != null">
            ,is_enabled = #{isEnabled}
        </if>
        <if test="activeTime != null">
            ,active_time = #{activeTime}
        </if>
        <if test="expireTime != null">
            ,expire_time = #{expireTime}
        </if>
        <if test="description != null">
            ,description = #{description}
        </if>
        where id = #{id}
    </update>

    <!--根据商品Id获取所有启用的送积分规则-->
    <select id="selectEnablePresentPointsRuleByProductId" parameterType="java.lang.Long" resultMap="PresentPointsRuleResultMap">
    		select * from fft_present_point_rule where product_id = #{productId} and is_enabled = 1 order by active_time desc
    	</select>
    <!--分页数据-->
    <select id="selectPresentPointsRuleByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="PresentPointsRuleResultMap">
        select * from fft_present_point_rule
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.productId!= null">
                        and product_id = #{pageFilter.filterEntity.productId}
                    </if>
                    <if test="pageFilter.filterEntity.isEnabled!= null ">
                        and is_enabled = #{pageFilter.filterEntity.isEnabled}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
         					 and ${pageFilter.property} >= #{pageFilter.startTime}
         					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
         					 and ${pageFilter.property} <= #{pageFilter.endTime}
         					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectPresentPointsRuleByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_present_point_rule
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.productId!= null">
                        and product_id = #{pageFilter.filterEntity.productId}
                    </if>
                    <if test="pageFilter.filterEntity.isEnabled!= null ">
                        and is_enabled = #{pageFilter.filterEntity.isEnabled}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
         					 and ${pageFilter.property} >= #{pageFilter.startTime}
         					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
         					 and ${pageFilter.property} <= #{pageFilter.endTime}
         					]]>
                </if>
            </where>
        </if>
    </select>

</mapper>