<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.ProductGroupMapper">

    <resultMap type="ProductGroup" id="productGroupResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="areaName" column="area_name"/>
        <result property="perNumber" column="per_number"/>
        <result property="perminNumber" column="permin_number"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <!--<result property="price" column="price" />-->
        <result property="buyKnow" column="buy_know"/>
        <result property="generalizeImage" column="generalize_image"/>
        <result property="detailsImage" column="details_image"/>
        <result property="description" column="description"/>
        <result property="orderValue" column="order_value"/>
        <result property="trueBuyerNumber" column="true_buyer_number"/>
        <result property="virtualBuyerNumber" column="virtual_buyer_number"/>
        <result property="expireTime" column="expire_time"/>
        <result property="purchaseNotes" column="purchase_notes"/>
        <result property="groupDetails" column="group_details"/>
        <result property="summaryHtml5" column="summary_html5"/>
        <result property="merchantId" column="merchant_id"/>
    </resultMap>

    <!-- 查询 
    <select id="selectProductGroupById" parameterType="java.lang.Long" resultMap="productGroupResultMap">
		select * from fft_product_group where id = #{id}
	</select>
	
	<select id="selectByProductId" parameterType="java.lang.Long" resultMap="productGroupResultMap">
		select * from fft_product_group where id = (select product_group_id from fft_product where id=#{id})
	</select>-->
  
 <select id="selectAllProductGroup" resultMap="productGroupResultMap" >
  select fp.id,fp.merchant_id,fg.create_time,true_buyer_number,virtual_buyer_number,expire_time,fg.start_time from fft_product_group fg left join fft_product fp on fg.id=fp.product_group_id     
 </select>
</mapper>