<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.ProductCategoryMapper">
    <resultMap type="ProductCategory" id="productCategoryResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="name" column="name"/>
        <result property="seoTitle" column="seo_title"/>
        <result property="seoKeywords" column="seo_keywords"/>
        <result property="seoDescription" column="seo_description"/>
        <result property="orderValue" column="order_value"/>
        <result property="treePath" column="tree_path"/>
        <result property="parentId" column="parent_id"/>
        <result property="dataState" column="data_state" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="icoUrl" column="ico_url"/>
    </resultMap>

   
    <!-- 查询 -->
    <select id="selectProductCategoryById" parameterType="java.lang.Long" resultMap="productCategoryResultMap">
		select * from fft_product_category where id = #{id}
	</select>
	
	
	 <!-- 查询 所有-->
    <select id="findAllProductCategory"  resultMap="productCategoryResultMap">
		select * from fft_product_category 
	</select>

    <!-- 根据ID查询 -->
    	<select id="getProductCategoryById" parameterType="java.lang.Long" resultMap="productCategoryResultMap">
    		select * from fft_product_category where id = #{id}
    	</select>

  

    
    
</mapper>