<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.ProductRestrictRuleMapper">

    <resultMap type="ProductRestrictRule" id="productRestrictRuleResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="restrictType" column="restrict_type" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="productId" column="product_id"/>
        <result property="quantity" column="quantity"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveProductRestrictRule" parameterType="ProductRestrictRule" useGeneratedKeys="true" keyProperty="id">
		insert into fft_product_restrict_rule values
		(
			#{id},#{createTime},#{updateTime},#{restrictType,typeHandler=com.froad.db.extend.EnumTypeHandler}
			,#{productId},#{quantity},#{remark}
		)
	</insert>

    <!-- 更新 -->
    <update id="updateProductRestrictRuleById" parameterType="ProductRestrictRule">
        update fft_product_restrict_rule set update_time = #{updateTime}
        <if test="restrictType != null">
            ,restrict_type = #{restrictType,typeHandler=com.froad.db.extend.EnumTypeHandler}
        </if>
        <if test="productId != null">
            ,product_id = #{productId}
        </if>
        <if test="quantity != null">
            ,quantity = #{quantity}
        </if>
        <if test="remark != null">
            ,remark = #{remark}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectProductRestrictRuleById" parameterType="java.lang.Long" resultMap="productRestrictRuleResultMap">
		select * from fft_product_restrict_rule where id = #{id}
	</select>

    <!--分页数据-->
    <select id="selectProductRestrictRuleByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="productRestrictRuleResultMap">
        select * from fft_product_restrict_rule
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.productId!= null">
                        and product_id = #{pageFilter.filterEntity.productId}
                    </if>
                    <if test="pageFilter.filterEntity.restrictType!= null">
                        and restrict_type = #{pageFilter.filterEntity.restrictType,typeHandler=com.froad.db.extend.EnumTypeHandler}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} >= #{pageFilter.startTime}
     					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} <= #{pageFilter.endTime}
     					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectProductRestrictRuleByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_product_restrict_rule
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.productId!= null">
                        and product_id = #{pageFilter.filterEntity.productId}
                    </if>
                    <if test="pageFilter.filterEntity.restrictType!= null">
                        and restrict_type = #{pageFilter.filterEntity.restrictType,typeHandler=com.froad.db.extend.EnumTypeHandler}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} >= #{pageFilter.startTime}
     					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
     					 and ${pageFilter.property} <= #{pageFilter.endTime}
     					]]>
                </if>
            </where>
        </if>
    </select>


</mapper>