<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.ProductPresellMapper">

    <resultMap type="ProductPresell" id="productPresellResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="perNumber" column="per_number"/>
        <result property="perminNumber" column="permin_number"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="deliveryStartTime" column="delivery_start_time"/>
        <result property="deliveryEndTime" column="delivery_end_time"/>
        <!--<result property="price" column="price"/>-->

        <result property="clusteringNumber" column="clustering_number"/>
        <result property="trueBuyerNumber" column="true_buyer_number"/>
        <result property="virtualBuyerNumber" column="virtual_buyer_number"/>
        <!--<result property="isCluster" column="is_cluster"/>-->
        <result property="clusterState" column="cluster_state" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="clusterType" column="cluster_type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result property="buyKnow" column="buy_know"/>

        <result property="generalizeImage" column="generalize_image"/>
        <result property="detailsImage" column="details_image"/>
        <result property="description" column="description"/>
        <result property="orderValue" column="order_value"/>
        
        <result property="presellDetails" column="presell_details"/>
        <result property="purchaseNotes" column="purchase_notes"/>
        <result property="ticketExpireTime" column="ticket_expire_time"/>
        <result property="complaintPhone" column="complaint_phone"/>
        <result property="merchantId" column="merchant_id"/>
        
    </resultMap>
    <!-- <resultMap id="statisticResultMap" type="java.util.HashMap"></resultMap>
    <resultMap id="statisticResultMap1" type="PresellTrans">
        <result property="quantity" column="quantity"/>
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
 -->
    

    

    <!-- 查询 -->
    <select id="selectProductPresellById" parameterType="java.lang.Long" resultMap="productPresellResultMap">
		select * from fft_product_presell where id = #{id}
	</select>


    <select id="selectByProductId" parameterType="java.lang.Long" resultMap="productPresellResultMap">
		select * from fft_product_presell where id=(select product_presell_id from fft_product where id=#{id})
	</select>

  

    

    
	<!-- 查询所有 -->
	<select id="selectAllProductPresell" resultMap="productPresellResultMap">
	select fpr.merchant_id,fp.create_time,fpr.id,delivery_start_time,delivery_end_time,clustering_number,true_buyer_number,virtual_buyer_number,cluster_state,cluster_type,ticket_expire_time,
	fp.start_time
	 from fft_product_presell fp left join fft_product fpr on fp.id=fpr.product_presell_id 
	</select>
</mapper>