<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.ProductMapper">

    <resultMap type="Product" id="productResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="sn" column="sn"/>
        <result property="name" column="name"/>
        <result property="fullName" column="full_name"/>
        <result property="price" column="price"/>
        <result property="cost" column="cost"/>
        <result property="marketPrice" column="market_price"/>
        <result property="image" column="image"/>
        <result property="weight" column="weight"/>
        <result property="weightUnit" column="weight_unit"/>
        <result property="store" column="store"/>
        <result property="freezeStore" column="freeze_store"/>
        <result property="warnNumber" column="warn_number"/>
        <result property="isMarketable" column="is_marketable"/>
        <result property="isBest" column="is_best"/>
        <result property="isNew" column="is_new"/>
        <result property="isHot" column="is_hot"/>
        <result property="hits" column="hits"/>
        <result property="introduction" column="introduction"/>
        <result property="description" column="description"/>
        <result property="keyword" column="keyword"/>
        <result property="seoTitle" column="seo_title"/>
        <result property="seoKeywords" column="seo_keywords"/>
        <result property="seoDescription" column="seo_description"/>
        <result property="rackTime" column="rack_time"/>
        <result property="inspectors" column="inspectors"/>
        <result property="productCategoryId" column="product_category_id"/>
        <result property="productTypeId" column="product_type_id"/>
        <result property="isEnableGroup" column="is_enable_group"/>
        <result property="productGroupId" column="product_group_id"/>
        <result property="isEnablePresell" column="is_enable_presell"/>
        <result property="productPresellId" column="product_presell_id"/>
        <result property="orderValue" column="order_value"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="clientId" column="client_id"/>
        <result property="collectToFroad" column="collect_to_froad"/>
        <result property="specialProductType" column="special_product_type"
                typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="denomination" column="denomination"/>
        <result property="buyKnow" column="buy_know"/>
        <result property="detailImage" column="detail_image"/>
        <result property="detailsQrcode" column="details_qrcode"/>
        <result property="appliesType" column="applies_type"/>
        <result property="distributionType" column="distribution_type"/>
        <result property="perNumber" column="per_number"/>
        <result property="perminNumber" column="permin_number"/>
        <result property="largeImage" column="large_image"/>
        <result property="exchangeStartTime" column="effect_time"/>
        <result property="exchangeEndTime" column="expire_time"/>
        <result property="productVerifyType" column="product_verify_type"
                typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="productVerifyTime" column="product_verify_time"/>
        <!-- 商品类型名 -->
        <result property="productType.name" column="productTypeName"/>
        <!-- 商品缩略图 -->
        <result property="productImage.thumbnail" column="thumbnail"/>
        <result property="filmCardMaxNumber" column="film_card_max_number"/>

        <!-- 商户信息-->
        <result property="merchant.name" column="merchant_name"/>
        <result property="merchant.agencyrgName" column="merchant_agencyrg_name"/>
        <result property="merchant.interbankAgency" column="merchant_interbank_agency"/>
        <result property="merchant.travelAgency" column="merchant_travel_agency"/>
        <result property="merchant.latticPoint" column="merchant_lattice_point"/>
        <!-- 积分兑换 -->
        <result property="fftPoints" column="fft_points"/>
        <result property="bankPoints" column="bank_points"/>
        <result property="auditComment" column="audit_comment"/>

        <result property="isEnableFamous" column="is_enable_famous"/>
        <result property="productFamousId" column="product_famous_id"/>

        <result property="sellCount" column="sell_count"/>

        <result property="orgLevel" column="org_level"/>
        <result property="orgVerifyState" column="org_verify_state"/>
        <result property="orgTreePath" column="org_tree_path"/>
        <result column="is_enable" property="isEnable"/>
    </resultMap>

    <resultMap type="ProductExpand" id="productExpandResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>

        <result column="description" property="description"/>
        <result column="purchase_notes" property="purchaseNotes"/>
        <result column="group_details" property="groupDetails"/>
        <result column="summary_html5" property="summaryHtml5"/>
        <result column="expire_time" property="expireTime"/>
        <result column="effect_time" property="effectTime"/>
        <result column="is_enable" property="isEnable"/>
    </resultMap>
    <!-- 名优特惠表 -->
      <resultMap type="ProductFamous" id="ProductFamousResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="per_number" property="perNumber"/>
        <result column="purchase_notes" property="purchaseNotes"/>
        <result column="famous_details" property="famousDetails"/>
        <result column="summary" property="summary"/>
        <result column="buy_konw" property="buyKnow"/>
        <result column="description" property="description"/>
        <result column="generalize_image" property="generalizeImage"/>
       <!--  <result column="effect_time" property="effectTime"/>
        <result column="is_enable" property="isEnable"/>-->
    </resultMap>
    <!-- 精品预售 -->
     <resultMap type="ProductPresell" id="ProductPresellResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="per_number" property="perNumber"/>
        <result column="purchase_notes" property="purchaseNotes"/>
        <result column="presell_details" property="presellDetails"/>
        <result column="summary" property="summary"/>
        <result column="buy_konw" property="buyKnow"/>
        <result column="delivery_start_time" property="deliveryStartTime"/>
        <result column="delivery_end_time" property="deliveryEndTime"/>
         <result column="true_buyer_number" property="trueBuyerNumber"/>
        <result column="virtual_buyer_number" property="virtualBuyerNumber"/>
        <result column="ticket_expire_time" property="ticketExpireTime"/>
        <result column="generalize_image" property="generalizeImage"/>
    </resultMap>
    <!-- 团购 -->
    <resultMap type="ProductGroup" id="ProductGroupResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="per_number" property="perNumber"/>
        <result column="purchase_notes" property="purchaseNotes"/>
        <result column="group_details" property="groupDetails"/>
        <result column="summary_html5" property="summaryHtml5"/>
         <result column="summary" property="summary"/>
        <result column="buy_know" property="buyKnow"/>
        <result column="true_buyer_number" property="trueBuyerNumber"/>
        <result column="virtual_buyer_number" property="virtualBuyerNumber"/>
        <result column="expire_time" property="expireTime"/>
        <result column="generalize_image" property="generalizeImage"/>
        <result column="description" property="description"/>
    </resultMap>
  
    <!-- 查询所有商品数据 -->
    <select id="selectAllProductInAnhui" resultMap="productResultMap">
      select id,merchant_id,create_time,sn,name,full_name,price,cost,market_price,weight,weight_unit,store,sell_count,is_marketable,is_best,introduction,description
      ,rack_time,order_value,buy_know,per_number,distribution_type,film_card_max_number,product_famous_id,product_group_id,product_presell_id,is_enable_group,is_enable_presell 
      ,is_enable_famous,special_product_type,product_category_id,product_verify_type,fft_points,bank_points,is_enable,org_verify_state,audit_comment,org_tree_path,image,update_time,product_verify_time from fft_product
    
    </select>
    <!-- 查询fft_product_famous -->
    <select id="selectProductFamousById" parameterType="java.lang.Long" resultMap="ProductFamousResultMap">
    select summary,buy_know,start_time,end_time,per_number,description from fft_product_famous where id=#{id}
    
    </select>
    <!-- 查询预售表 -->
      <select id="selectProductPresellById" parameterType="java.lang.Long" resultMap="ProductPresellResultMap">
       select summary,buy_know,start_time,end_time,per_number,delivery_start_time,delivery_end_time,true_buyer_number,virtual_buyer_number,ticket_expire_time from fft_product_presell where id=#{id}
    
    </select>
     <!-- 查询团购表 -->
      <select id="selectProductGroupById" parameterType="java.lang.Long" resultMap="ProductGroupResultMap">
       select summary,buy_know,start_time,end_time,per_number,true_buyer_number,virtual_buyer_number,expire_time,description from fft_product_group where id=#{id}
    </select>
    
   
    <!-- 查询预售商品 -->
    <select id="selectPresellProductById" parameterType="java.lang.Long" resultMap="ProductPresellResultMap">
		select e.* from fft_product p inner join fft_product_presell e on p.product_presell_id = e.id where p.id = #{id}
	</select>
    <!--根据商品ID查询商户信息 -->
    <select id="selectMerchantByProductId" parameterType="java.lang.Long" resultMap="productResultMap" >
         select merchant_id,fm.name from fft_product fp left join fft_merchant fm on fp.merchant_id=fm.id where fp.id=#{id}
    </select>
	
	
	 <!-- 查询团购商品 -->
    <select id="selectGroupByProductId" parameterType="java.lang.Long" resultMap="ProductGroupResultMap">
		select e.* from fft_product p inner join fft_product_group e on p.product_group_id = e.id where p.id = #{id}
	</select>
	<!-- 查询线上积分商品 -->
    <select id="selectExchangeByProductId" parameterType="java.lang.Long" resultMap="productExpandResultMap">
		select expire_time,effect_time  from fft_product_exchange where product_id=#{id}
	</select>
    
</mapper>