<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.RegisterGivePointRuleMapper">

    <resultMap type="RegisterGivePointRule" id="registerGivePointRuleResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="clientId" column="client_id"/>
        <result property="begineTime" column="begine_time"/>
        <result property="endTime" column="end_time"/>
        <result property="givePoint" column="give_point"/>
        <result property="isEnable" column="is_enable"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveRegisterGivePointRule" parameterType="RegisterGivePointRule" useGeneratedKeys="true" keyProperty="id">
		insert into fft_register_give_point_rule values
		(
			#{id},#{createTime},#{updateTime},#{clientId},#{begineTime},#{endTime},#{givePoint},#{isEnable}

		)
	</insert>

    <!-- 更新 -->
    <update id="updateRegisterGivePointRuleById" parameterType="RegisterGivePointRule">
        update fft_register_give_point_rule set update_time = #{updateTime}
        <if test="clientId != null">
            ,client_id = #{clientId}
        </if>
        <if test="begineTime != null">
            ,begine_time = #{begineTime}
        </if>
        <if test="endTime != null">
            ,end_time = #{endTime}
        </if>
        <if test="givePoint != null">
            ,give_point = #{givePoint}
        </if>
        <if test="isEnable != null">
            ,is_enable = #{isEnable}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectRegisterGivePointRuleById" parameterType="java.lang.Long" resultMap="registerGivePointRuleResultMap">
		select * from fft_register_give_point_rule where id = #{id}
	</select>

    <!-- 查询 -->
    <select id="selectRegisterGivePointRuleByClientId" parameterType="java.lang.Long" resultMap="registerGivePointRuleResultMap">
   		select * from fft_register_give_point_rule where client_id = #{clientId} AND is_enable = '1'
   	</select>

    <!--分页数据-->
    <select id="selectRegisterGivePointRuleByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="registerGivePointRuleResultMap">
        select * from fft_register_give_point_rule
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                    <if test="pageFilter.filterEntity.isEnable!= null">
                        and is_enable = #{pageFilter.filterEntity.isEnable}
                    </if>
                </if>
                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} >= #{pageFilter.startTime}
        					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} <= #{pageFilter.endTime}
        					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectRegisterGivePointRuleByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_register_give_point_rule
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                    <if test="pageFilter.filterEntity.isEnable!= null">
                        and is_enable = #{pageFilter.filterEntity.isEnable}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} >= #{pageFilter.startTime}
        					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} <= #{pageFilter.endTime}
        					]]>
                </if>
            </where>
        </if>
    </select>


</mapper>