<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.SmsContentMapper">

	<resultMap type="SmsContent" id="smsContentResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="smsType" column="sms_type" typeHandler="com.froad.db.extend.EnumTypeHandler" />
		<result property="clientId" column="client_id" />
		<result property="content" column="content" />
		<result property="msgSuffix" column="msg_suffix" />
		<result property="isEnableSuffix" column="is_enable_suffix" />
	</resultMap>
	
	<insert id="saveSmsContent" parameterType="SmsContent" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_sms_content values(
			#{id},#{createTime},#{updateTime},#{smsType,typeHandler=com.froad.db.extend.EnumTypeHandler}
			,#{clientId},#{content},#{msgSuffix},#{isEnableSuffix}
		);
	</insert>
	
	<select id="selectSmsContentById" resultMap="smsContentResultMap" parameterType="java.lang.Long">
		select * from fft_sms_content where id=#{id}
	</select>
	
	<select id="selectSmsContentToSendMsg" resultMap="smsContentResultMap" parameterType="SmsContent">
		select * from fft_sms_content where client_id = #{clientId} and sms_type = #{smsType,typeHandler=com.froad.db.extend.EnumTypeHandler}
	</select>
	
	<update id="updateSmsContentById" parameterType="SmsContent">
		update fft_sms_content set update_time = #{updateTime}
		<if test="msgSuffix != null">
			,msg_suffix = #{msgSuffix}
		</if>
		<if test="content != null">
			,content = #{content}
		</if>
		<if test="isEnableSuffix != null">
			,is_enable_suffix = #{isEnableSuffix}
		</if>
		<if test="clientId != null">
			,client_id = #{clientId}
		</if>
		<if test="smsType != null">
			,sms_type = #{smsType,typeHandler=com.froad.db.extend.EnumTypeHandler}
		</if>
		where id = #{id}
	</update>
	
	<!-- 分页查询 -->
	<select id="findSmsContentByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="smsContentResultMap"> 
		<![CDATA[ 
			select * from fft_sms_content
		]]>
		
		<!-- 条件 -->
		<if test="pageFilter != null">
			<where>
				<if test="pageFilter.filterEntity != null">
					<if test="pageFilter.filterEntity.smsType!= null">
						and sms_type = #{pageFilter.filterEntity.smsType,typeHandler=com.froad.db.extend.EnumTypeHandler}
					</if>
					<if test="pageFilter.filterEntity.clientId!= null">
						and client_id = #{pageFilter.filterEntity.clientId}
					</if>
					<if test="pageFilter.filterEntity.content!= null">
						and content = CONCAT('%',#{pageFilter.filterEntity.content},'%' ) 
					</if>
					<if test="pageFilter.filterEntity.msgSuffix!= null">
						and msg_suffix = #{pageFilter.filterEntity.msgSuffix}
					</if>
					<if test="pageFilter.filterEntity.isEnableSuffix!= null">
						and is_enable_suffix = #{pageFilter.filterEntity.isEnableSuffix}
					</if>
				</if>
				<!-- 时间段条件 -->
				<if test="pageFilter.property != null and pageFilter.startTime != null">
					<![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
				</if>
				<if test="pageFilter.property != null and pageFilter.endTime != null">
					<![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
				</if>
			</where>
		</if>
		
		<!-- 排序 --> 
		<if test="order != null">
			<if test="order.property != null and order.direction != null">
				order by ${order.property} ${order.direction} 
			</if>
		</if>
	</select>
	<!-- 分页查询结束 -->
	
	<!-- 分页总数 -->
	<select id="findSmsContentByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer"> 
		<![CDATA[ 
			select count(0) from fft_sms_content
		]]>
		
		<!-- 条件 -->
		<if test="pageFilter != null">
			<where>
				<if test="pageFilter.filterEntity != null">
					<if test="pageFilter.filterEntity.smsType!= null">
						and sms_type = #{pageFilter.filterEntity.smsType,typeHandler=com.froad.db.extend.EnumTypeHandler}
					</if>
					<if test="pageFilter.filterEntity.clientId!= null">
						and client_id = #{pageFilter.filterEntity.clientId}
					</if>
					<if test="pageFilter.filterEntity.content!= null">
						 and content = CONCAT('%',#{pageFilter.filterEntity.content},'%' ) 
					</if>
					<if test="pageFilter.filterEntity.msgSuffix!= null">
						and msg_suffix = #{pageFilter.filterEntity.msgSuffix}
					</if>
					<if test="pageFilter.filterEntity.isEnableSuffix!= null">
						and is_enable_suffix = #{pageFilter.filterEntity.isEnableSuffix}
					</if>
				</if>
				<!-- 时间段条件 -->
				<if test="pageFilter.property != null and pageFilter.startTime != null">
					<![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
				</if>
				<if test="pageFilter.property != null and pageFilter.endTime != null">
					<![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
				</if>
			</where>
		</if>
		
	</select>

</mapper>