<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.SmsLogMapper">

    <resultMap type="SmsLog" id="smsLogResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="smsType" column="sms_type" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="clientId" column="client_id"/>
        <result property="mobile" column="mobile"/>
        <result property="content" column="content"/>
        <result property="isSuccess" column="is_success"/>
        <result property="sendUser" column="send_user"/>
        <result property="sendIp" column="send_ip"/>
        <result property="isUsed" column="is_used"/>
        <result property="validTime" column="valid_time"/>
        <result property="code" column="code"/>
        <result property="token" column="token"/>
    </resultMap>

	<select id="findSmsLog" resultMap="smsLogResultMap" parameterType="SmsLog" >
		select * from fft_sms_log
		<where>
			<if test="smsType != null">
				 AND sms_type = #{smsType,typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
		</where>
	</select>

</mapper>