<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.SysUserMapper">

	<resultMap type="SysUser" id="sysUserResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="alias" column="alias" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="department" column="department" />
		<result property="isEnabled" column="is_enabled" />
		<result property="isLocked" column="is_locked" />
		<result property="loginFailureCount" column="login_failure_count" />
		<result property="lockedDate" column="locked_date" />
		<result property="loginDate" column="login_date" />
		<result property="loginIp" column="login_ip" />
		<result property="clientId" column="client_id" />
		<result property="isDelete" column="is_delete" />
		<result property="isFirstLogin" column="is_first_login" />
		
	</resultMap>
	
	
	<!-- 查询 -->
	<select id="selectSysUserById" parameterType="java.lang.Long" resultMap="sysUserResultMap">
		SELECT u.* FROM fft_sys_user u where u.id = #{id}
	</select>
	
	<!-- 查询 -->
	<select id="selectSysUserByName" parameterType="java.lang.String" resultMap="sysUserResultMap">
		SELECT u.* FROM fft_sys_user u where u.username = #{username}
	</select>
	
</mapper>