<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.TagMapper">

    <resultMap type="Tag" id="tagResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="name" column="name"/>
        <result property="type" column="type" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="icon" column="icon"/>
        <result property="description" column="description"/>
        <result property="orderValue" column="order_value"/>
        <result property="dataState" column="data_state" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveTag" parameterType="Tag" useGeneratedKeys="true" keyProperty="id">
		insert into fft_tag values
		(
			#{id},#{createTime},#{updateTime},#{name},#{type,typeHandler=com.froad.db.extend.EnumTypeHandler},
			#{icon},#{description},
			#{orderValue},30
		)
	</insert>

    <!-- 更新 -->
    <update id="updateTagById" parameterType="Tag">
        update fft_tag set update_time = #{updateTime}
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="type != null">
            ,type = #{type,typeHandler=com.froad.db.extend.EnumTypeHandler}
        </if>
        <if test="orderValue != null">
            ,order_value = #{orderValue}
        </if>
        <if test="icon != null">
            ,icon = #{icon}
        </if>
        <if test="description != null">
            ,description = #{description}
        </if>
        <if test="dataState != null">
            ,data_state = #{dataState,typeHandler=com.froad.db.extend.EnumTypeHandler}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectTagById" parameterType="java.lang.Long" resultMap="tagResultMap">
		select * from fft_tag where id = #{id}
	</select>
    <!--分页数据-->
    <select id="selectTagByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="tagResultMap">
        select * from fft_tag
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.type!= null">
                        and type = #{pageFilter.filterEntity.type,typeHandler=com.froad.db.extend.EnumTypeHandler}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
          					 and ${pageFilter.property} >= #{pageFilter.startTime}
          					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
          					 and ${pageFilter.property} <= #{pageFilter.endTime}
          					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectTagByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_tag
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%')
                    </if>
                    <if test="pageFilter.filterEntity.type!= null">
                        and type = #{pageFilter.filterEntity.type,typeHandler=com.froad.db.extend.EnumTypeHandler}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
          					 and ${pageFilter.property} >= #{pageFilter.startTime}
          					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
          					 and ${pageFilter.property} <= #{pageFilter.endTime}
          					]]>
                </if>
            </where>
        </if>
    </select>


</mapper>