<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.TransDetailsMapper">

    <resultMap type="TransDetails" id="transDetailsResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="transId" column="trans_id"/>
        <result property="productId" column="product_id"/>
        
        <result property="productName" column="product_name"/>
        <result property="quantity" column="quantity"/>
        <result property="price" column="price"/>
        <result property="single" column="single"/>
        <result property="supplyMerchantId" column="supply_merchant_id"/>
        <result property="gatherMerchantId" column="gather_merchant_id"/>

    </resultMap>
    
    <sql id="fieldNames">
    	id,create_time,update_time,trans_id,product_id,product_name,quantity,price,single,supply_merchant_id,gather_merchant_id
    </sql>

    <!-- 插入 -->
    <insert id="saveTransDetails" parameterType="TransDetails" useGeneratedKeys="true" keyProperty="id">
		insert into fft_trans_details values
		(
			#{id},#{createTime},#{updateTime},#{transId},#{productId},#{productName},#{quantity},
			#{price},#{single},#{supplyMerchantId},#{gatherMerchantId}
		)
	</insert>

    <!-- 更新 -->
    <update id="updateTransDetailsById" parameterType="TransDetails">
        update fft_trans_details set update_time = #{updateTime}
        <if test="transId != null">
            ,trans_id = #{transId}
        </if>
        <if test="productId != null">
            ,product_id = #{productId}
        </if>
        <if test="productName != null">
            ,product_name = #{productName}
        </if>
        <if test="quantity != null">
            ,quantity = #{quantity}
        </if>
        <if test="price != null">
            ,price = #{price}
        </if>
        <if test="single != null">
            ,single = #{single}
        </if>
        <if test="supplyMerchantId != null">
            ,supply_merchant_id = #{supplyMerchantId}
        </if>
        <if test="gatherMerchantId != null">
            ,gather_merchant_id = #{gatherMerchantId}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectTransDetailsById" parameterType="java.lang.Long" resultMap="transDetailsResultMap">
		select <include refid="fieldNames"/> from fft_trans_details where id = #{id}
	</select>

    <!-- 批量插入 -->
    <insert id="saveBatchTransDetails" parameterType="java.util.List">
        insert into fft_trans_details ( id,create_time,update_time, trans_id,product_id,product_name,quantity, price,single,supply_merchant_id,gather_merchant_id ) values
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.id},NOW(),NOW(), #{item.transId},#{item.productId},#{item.productName},#{item.quantity}, #{item.price},#{item.single},#{item.supplyMerchantId},#{item.gatherMerchantId} )
        </foreach>
    </insert>
    <!-- transId查询 -->
    <select id="selectTransDetailsByTransId" parameterType="java.lang.Long" resultMap="transDetailsResultMap">
  		select <include refid="fieldNames"/> from fft_trans_details where trans_id = #{transId}
  	</select>
</mapper>