<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.TransTicketInfoMapper">

	<resultMap type="TransTicketInfo" id="transTicketInfoResultMap">
		<id property="id" column="id" />		
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		
		<result property="beginTime" column="begin_time" />
		<result property="endTime" column="end_time" />
		<result property="productId" column="product_id" />
		<result property="operator" column="operator" />
		<result property="clientId" column="client_id" />
		
	</resultMap>
	
	<insert id="saveTransTicketInfo" parameterType="TransTicketInfo" useGeneratedKeys="true" keyProperty="id"  >
		insert into fft_trans_ticket_info values( #{id},#{productId},#{operator},#{beginTime},#{endTime},#{createTime},#{updateTime},#{clientId})
	</insert>
	
	<select id="selectByConditions" parameterType="TransTicketInfo" resultMap="transTicketInfoResultMap"> 
		select * from fft_trans_ticket_info where 1=1
		<if test="productId != null">
			and product_id = #{productId}
		</if>
		<if test="operator != null">
			and operator = #{operator}
		</if>
		<if test="beginTime != null">
			and begin_time = #{beginTime}
		</if>
		<if test="endTime != null">
			and end_time = #{endTime}
		</if>
		<if test="clientId != null">
			and client_id = #{clientId}
		</if>
		order by id desc 
	</select>
	
</mapper>