<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.ahui.mappers.TicketMapper">

	<resultMap type="TransSecurityTicket" id="transSecurityTicketResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="transId" column="trans_id" />
		<result property="memberCode" column="member_code" />
		<result property="transType" column="trans_type" typeHandler="com.froad.db.extend.EnumTypeHandler" />
		<result property="securitiesNo" column="securities_no"/>
		<result property="isConsume" column="is_consume"/>
		<result property="consumeTime" column="consume_time"/>
		<result property="expireTime" column="expire_time"/>
		<result property="smsNumber" column="sms_number"/>
		<result property="smsTime" column="sms_time"/>
		<result property="sysUserId" column="sys_user_id"/>
		<result property="merchantId" column="merchant_id"/>
		<result property="TransTicketInfoId" column="trans_ticket_info_id"/>
		<result property="remark" column="remark"/>
		<result property="state" column="state"/>
		<result property="money" column="money"/>
		<result property="trans.id" column="trans_trans_id"/>
		<result property="trans.productName" column="product_name"/>
		<result property="trans.merchantOutlet.name" column="outle_name"/>
		<result property="trans.sn" column="trans_sn"/>
	</resultMap>
	
	<!-- 查询按卷号查询支付信息 -->
	<select id="queryByGroupTicket" parameterType="java.lang.Long" resultMap="transSecurityTicketResultMap">
		select * from fft_trans_security_ticket where trans_id = #{transId} and state = 4
	</select>
	
	<!-- 查询全部 -->
	<select id="queryAll" parameterType="java.lang.Long" resultMap="transSecurityTicketResultMap">
		select * from fft_trans_security_ticket 
	</select>

    
</mapper>