<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.WithdrawPointsRuleMapper">

	<resultMap type="WithdrawPointsRule" id="WithdrawPointsRuleResultMap">
		<id property="id" column="id" />		
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		
		<result property="name" column="name" />
		<result property="fftFeeRule" column="fft_fee_rule" />
		<result property="bankFeeRule" column="bank_fee_rule" />
		<result property="isEnabled" column="is_enabled" />
		<result property="description" column="description"  />
		<result property="clientId" column="client_id"  />
	</resultMap>
	<!-- 插入 -->
	<insert id="saveWithdrawPointsRule" parameterType="WithdrawPointsRule" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_with_draw_points_rule values(
			#{id},#{createTime},#{updateTime},#{name},#{fftFeeRule},#{bankFeeRule},#{isEnabled},#{description},#{clientId}
		)
	</insert>
	
	<select id="selectEnabledRuleByClientId" parameterType="java.lang.Long" resultMap="WithdrawPointsRuleResultMap">
		select * from fft_with_draw_points_rule where client_id=#{clientId} and is_enabled=1
	</select>
	<!-- 查询 -->
	<select id="selectWithdrawPointsRuleById" parameterType="java.lang.Long" resultMap="WithdrawPointsRuleResultMap">
		select * from fft_with_draw_points_rule where id=#{id}
	</select>
	
	<!-- 更新 -->
	<update id="updateWithdrawPointsRuleById" parameterType="WithdrawPointsRule" >
		update fft_with_draw_points_rule set update_time = #{updateTime}
		<if test="name != null">
			,name = #{name}
		</if>
		<if test="fftFeeRule != null">
			,fft_fee_rule = #{fftFeeRule}
		</if>
		<if test="bankFeeRule != null">
			,bank_fee_rule = #{bankFeeRule}
		</if>	
		<if test="isEnabled != null">
			,is_enabled = #{isEnabled}
		</if>	
		<if test="description != null">
			,description = #{description}
		</if>
		<if test="clientId != null">
			,client_id = #{clientId}
		</if>		
		where id = #{id}
	</update>
	
</mapper>