<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
   
	<!-- 用户模块开始 -->
	
	<!-- 账户账务服务连接 -->
	<bean id="userAppendDao" class="com.froad.CB.dao.user.impl.UserAppendDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate" />
    </bean>
	<bean id="userSpecFunc" class="com.froad.CB.dao.user.impl.UserSpecFuncImpl" />
	
	<bean id="userDaoImpl" class="com.froad.CB.dao.user.impl.UserDaoImpl">
		<!-- 账户账务平台接入不需要使用DAO层
		
		-->
	<!-- <property name="sqlMapClientTemplate" ref="sqlMapClientTemplateMall" /> -->	
		<property name="uadi" ref="userAppendDao" />
		<property name="usfi" ref="userSpecFunc" />
		
	</bean> 
	
	
	<bean id="announcementDaoImpl" class="com.froad.CB.dao.announcement.impl.AnnouncementDaoImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="loginManagerDaoImpl" class="com.froad.CB.dao.user.impl.LoginManagerDaoImpl">
			<!-- <property name="sqlMapClientTemplate" ref="sqlMapClientTemplateMall"></property> -->
	</bean>
	
	<bean id="contactManagementDaoImpl" class="com.froad.CB.dao.user.impl.ContactManagementDaoImpl">
		<!-- <property name="sqlMapClientTemplate" ref="sqlMapClientTemplateMall"></property>
		 -->
	</bean>
	
	<bean id="userSuggestDaoImpl" class="com.froad.CB.dao.user.impl.UserSuggestDaoImpl">
	<!-- 疑似数以前据源指定错误 -->
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	<!-- 用户模块结束 -->
   
   <!-- 商户模块 开始 -->
	<bean id="merchantDaoImpl" class="com.froad.CB.dao.merchant.impl.MerchantDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="merchantPhotoDaoImpl" class="com.froad.CB.dao.merchant.impl.MerchantPhotoDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="merchantProductDaoImpl" class="com.froad.CB.dao.merchant.impl.MerchantProductDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="merchantPreferentialDaoImpl" class="com.froad.CB.dao.merchant.impl.MerchantPreferentialDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="merchantPresentDaoImpl" class="com.froad.CB.dao.merchant.impl.MerchantPresentDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="merchantTrafficDaoImpl" class="com.froad.CB.dao.merchant.impl.MerchantTrafficDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="merchantTrafficMAPDaoImpl" class="com.froad.CB.dao.merchant.impl.MerchantTrafficMAPDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="merchantTrainDaoImpl" class="com.froad.CB.dao.merchant.impl.MerchantTrainDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	 <bean id="sellerRuleDetailDaoImpl" class="com.froad.CB.dao.tran.impl.SellerRuleDetailDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
    <!-- 卖家  结束 -->
   
    <!-- 标签开始 -->
	<bean id="tagClassifyADaoImpl" class="com.froad.CB.dao.tag.impl.TagClassifyADAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="tagClassifyBDaoImpl" class="com.froad.CB.dao.tag.impl.TagClassifyBDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="tagDistrictADaoImpl" class="com.froad.CB.dao.tag.impl.TagDistrictADAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="tagDistrictBDaoImpl" class="com.froad.CB.dao.tag.impl.TagDistrictBDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="tagMAPDaoImpl" class="com.froad.CB.dao.tag.impl.TagMAPDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
    <!-- 标签结束 -->
   
    <!-- 积分开始 -->
	<bean id="pointsCurrencyFormulaDaoImpl" class="com.froad.CB.dao.tran.impl.PointsCurrencyFormulaDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
    <!-- 积分结束  -->
    
    
    <!-- 热门搜索  开始-->
    <bean id="searchesDaoImpl" class="com.froad.CB.dao.searches.impl.SearchesDaoImpl">
   		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 热门搜索 结束 -->

	<!-- 投诉begin -->
   <bean id="complaintDaoImpl" class="com.froad.CB.dao.complaint.impl.ComplaintDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   
   <bean id="complaintCategoryDaoImpl" class="com.froad.CB.dao.complaint.impl.ComplaintCategoryDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 投诉end -->
   
   <!-- 收藏begin -->
   <bean id="memberCollectDaoImpl" class="com.froad.CB.dao.user.impl.MemberCollectDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 收藏end -->
   
   <!-- 分享商户begin -->
   <bean id="shareMerchantDaoImpl" class="com.froad.CB.dao.merchant.impl.ShareMerchantDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 分享商户end -->

  
  

   
   
   
   
   
   
   
   
   
   

   

   
   <!-- *******************需求变更后新增的bean定义*************** -->
   <!-- 商品begin -->
   <bean id="goodsDaoImpl" class="com.froad.CB.dao.impl.GoodsDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 商品end -->
   
   <!-- 交易begin -->
   <bean id="transDaoImpl" class="com.froad.CB.dao.impl.TransDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <bean id="transDetailsDaoImpl" class="com.froad.CB.dao.impl.TransDetailsDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <bean id="payDaoImpl" class="com.froad.CB.dao.impl.PayDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 交易end -->

   
   
      <!-- 品牌begin -->
   <bean id="brandDaoImpl" class="com.froad.CB.dao.impl.BrandDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 品牌bend -->
   
    <!-- 商品分类begin -->
   <bean id="goodsCategoryDaoImpl" class="com.froad.CB.dao.impl.GoodsCategoryDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 商品分类end -->
   
    <!-- 商品属性begin -->
   <bean id="goodsAttributeDaoImpl" class="com.froad.CB.dao.impl.GoodsAttributeDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 商品属性end -->
   
    <!-- 商品类型begin -->
   <bean id="goodsTypeDaoImpl" class="com.froad.CB.dao.impl.GoodsTypeDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 商品类型end -->
   
    <!-- 商品属性存储begin -->
   <bean id="goodsGoodsAttributeMapStoreDaoImpl" class="com.froad.CB.dao.impl.GoodsGoodsAttributeMapStoreDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 商品属性存储end -->
   
   	<!-- 通用的goods begin -->
	<bean id="commonGoodsDaoImpl" class="com.froad.CB.dao.impl.CommonGoodsDaoImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>

	 <!-- 协议begin -->
   <bean id="agreementDaoImpl" class="com.froad.CB.dao.impl.AgreementDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 协议bend -->

   
   <!-- 买家buyersDao begin -->
   <bean id="buyersDaoImpl" class="com.froad.CB.dao.impl.BuyersDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 买家buyersDao end -->
   <!-- 卖家seller begin -->
   <bean id="sellerDaoImpl" class="com.froad.CB.dao.impl.SellerDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 卖家seller end -->
   <!-- 买家支付渠道BuyerChannelDao begin -->
   <bean id="buyerChannelDaoImpl" class="com.froad.CB.dao.impl.BuyerChannelDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 买家支付渠道BuyerChannelDao end -->
   <!-- 卖家支付渠道sellerChannelDao begin -->
   <bean id="sellerChannelDaoImpl" class="com.froad.CB.dao.impl.SellerChannelDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 卖家支付渠道sellerChannelDao end -->
   
   
   <!-- 规则begin -->
    <bean id="transRuleDaoImpl" class="com.froad.CB.dao.impl.TransRuleDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <bean id="ruleDetailDaoImpl" class="com.froad.CB.dao.impl.RuleDetailDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <bean id="RuleDetailTempletDaoImpl" class="com.froad.CB.dao.impl.RuleDetailTempletDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 规则end -->
   
   <!-- 收款架  begin -->
   <bean id="goodsGatherRackDaoImpl" class="com.froad.CB.dao.impl.GoodsGatherRackDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
            <!-- client收款架   -->
   <bean id="clientGoodsGatherRackDaoImpl" class="com.froad.CB.dao.impl.ClientGoodsGatherRackDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 收款架 end -->
   <!-- 兑换架  begin -->
   <bean id="goodsExchangeRackDaoImpl" class="com.froad.CB.dao.impl.GoodsExchangeRackDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
             <!-- client兑换架   -->
   <bean id="clientGoodsExchangeRackDaoImpl" class="com.froad.CB.dao.impl.ClientGoodsExchangeRackDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 兑换架 end -->
   <!-- 提现架  begin -->
   <bean id="goodsCarryRackDaoImpl" class="com.froad.CB.dao.impl.GoodsCarryRackDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
            <!-- client提现架   -->
   <bean id="clientGoodsCarryRackDaoImpl" class="com.froad.CB.dao.impl.ClientGoodsCarryRackDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 提现架  end -->
    <!-- 意见建议  begin -->
   <bean id="suggestionDaoImpl" class="com.froad.CB.dao.impl.SuggestionDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 意见建议 end -->
   <!-- 意见建议回复  begin -->
   <bean id="suggestionReplyDaoImpl" class="com.froad.CB.dao.impl.SuggestionReplyDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 意见建议回复  end -->
   
    <!-- 团购begin -->
   <bean id="goodsGroupRackDaoImpl" class="com.froad.CB.dao.impl.GoodsGroupRackDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 团购end -->
   
    <!-- 返利begin -->
   <bean id="goodsRebateRackDaoImpl" class="com.froad.CB.dao.impl.GoodsRebateRackDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
   <!-- 返利end -->
   
    <!-- 广告begin -->
    <bean id="advertDaoImpl" class="com.froad.CB.dao.impl.AdvertDaoImpl">
   	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
   </bean>
    <!-- 广告end -->
    
    <!-- 商户行业begin -->
    <bean id="merchantIndustryDaoImpl" class="com.froad.CB.dao.impl.MerchantIndustryDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 商户行业end -->
    
    <!-- 商户在线申请begin -->
    <bean id="merchantOnlineApplyDaoImpl" class="com.froad.CB.dao.impl.MerchantOnlineApplyDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 商户在线申请end -->
    
    <!-- 短信发送记录begin -->
    <bean id="smsLogDaoImpl" class="com.froad.CB.dao.impl.SmsLogDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 短信发送记录end -->
    
    <!-- 团购商品begin -->
    <bean id="clientGoodsGroupRackDaoImpl" class="com.froad.CB.dao.impl.ClientGoodsGroupRackDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 团购商品end -->
    
    <!-- 返利商品begin -->
    <bean id="clientGoodsRebateRackDaoImpl" class="com.froad.CB.dao.impl.ClientGoodsRebateRackDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 返利商品end -->

    
    <!-- 积分和现金比例 begin-->
    <bean id="pointCashRuleDaoImpl" class="com.froad.CB.dao.impl.PointCashRuleDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>       
    <!-- 积分和现金比例 end-->
   
   


    
    <!-- 资金渠道begin -->
    <bean id="fundsChannelDaoImpl" class="com.froad.CB.dao.impl.FundsChannelDAOImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 资金渠道end -->

    
    <!-- 认证券begin -->
    <bean id="authTicketDaoImpl" class="com.froad.CB.dao.impl.AuthTicketDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 认证券end -->
    
    <!-- 每日签到begin -->
    <bean id="dailyTaskDaoImpl" class="com.froad.CB.dao.impl.DailyTaskDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 每日签到end -->
    
    <!-- 上架商品属性begin -->
    <bean id="goodsRackAttributeDaoImpl" class="com.froad.CB.dao.impl.GoodsRackAttributeDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 上架商品属性end -->
    
    <!-- 交易商品属性begin -->
    <bean id="transGoodsAttributeDaoImpl" class="com.froad.CB.dao.impl.TransGoodsAttributeDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 交易商品属性end -->
    
    <!-- 用户商户关联关系begin -->
    <bean id="merchantUserSetDaoImpl" class="com.froad.CB.dao.impl.MerchantUserSetDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 用户商户关联关系end -->
    
    <!-- 用户商户操作员卖家关联关系begin -->
    <bean id="merchantUserSellerDaoImpl" class="com.froad.CB.dao.impl.MerchantUserSellerDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 用户商户操作员卖家关联关系end -->
    
    <!-- 商户资源begin -->
    <bean id="merchantClerkUrlDaoImpl" class="com.froad.CB.dao.impl.MerchantClerkUrlDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 商户资源end -->
    
    <!-- 用户认证信息begin -->
    <bean id="userCertificationDaoImpl" class="com.froad.CB.dao.impl.UserCertificationDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 用户认证信息end -->
    
    <!-- 临时积分begin -->
    <bean id="tempPointDaoImpl" class="com.froad.CB.dao.impl.TempPointDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 临时积分end -->
    
    <!-- 投诉回复begin -->
    <bean id="complaintReplyDaoImpl" class="com.froad.CB.dao.impl.ComplaintReplyDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 投诉回复end -->
    
    <!-- 卖家规则begin -->
    <bean id="sellerRuleDaoImpl" class="com.froad.CB.dao.impl.SellerRuleDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 卖家规则end -->
    
    <!-- 商户门店begin -->
    <bean id="storeDaoImpl" class="com.froad.CB.dao.impl.StoreDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 商户门店end -->
    
    <!-- 活动begin -->
    <bean id="activityCustInfoDaoImpl" class="com.froad.CB.dao.activity.impl.ActivityCustInfoDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <bean id="activityLotteryResultDaoImpl" class="com.froad.CB.dao.activity.impl.ActivityLotteryResultDaoImpl">
   	 <property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- 活动end -->

	<!-- ClientGoodsCarryRackImages begin-->
    <bean id="clientGoodsCarryRackImagesDaoImpl" class="com.froad.CB.dao.impl.ClientGoodsCarryRackImagesDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>       
    <!-- ClientGoodsCarryRackImages end-->
    
    <!-- ClientGoodsExchangeRackImages begin-->
    <bean id="clientGoodsExchangeRackImagesDaoImpl" class="com.froad.CB.dao.impl.ClientGoodsExchangeRackImagesDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>       
    <!-- ClientGoodsExchangeRackImages end-->
    
    <!-- ClientGoodsGatherRackImages begin-->
    <bean id="clientGoodsGatherRackImagesDaoImpl" class="com.froad.CB.dao.impl.ClientGoodsGatherRackImagesDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>       
    <!-- ClientGoodsGatherRackImages end-->
    
    <!-- ClientGoodsGroupRackImages begin-->
    <bean id="clientGoodsGroupRackImagesDaoImpl" class="com.froad.CB.dao.impl.ClientGoodsGroupRackImagesDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>       
    <!-- ClientGoodsGroupRackImages end-->
    
    <!-- ClientGoodsRebateRackImages begin-->
    <bean id="clientGoodsRebateRackImagesDaoImpl" class="com.froad.CB.dao.impl.ClientGoodsRebateRackImagesDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>       
    <!-- ClientGoodsRebateRackImages end-->
     
    
    <!-- GoodsCarryRackImages begin-->
    <bean id="goodsCarryRackImagesDaoImpl" class="com.froad.CB.dao.impl.GoodsCarryRackImagesDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>       
    <!-- GoodsCarryRackImages end-->
    
    <!-- GoodsExchangeRackImages begin-->
    <bean id="goodsExchangeRackImagesDaoImpl" class="com.froad.CB.dao.impl.GoodsExchangeRackImagesDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>       
    <!-- GoodsExchangeRackImages end-->
    
    <!-- GoodsGatherRackImages begin-->
    <bean id="goodsGatherRackImagesDaoImpl" class="com.froad.CB.dao.impl.GoodsGatherRackImagesDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>       
    <!-- GoodsGatherRackImages end-->
    
    <!-- GoodsGroupRackImages begin-->
    <bean id="goodsGroupRackImagesDaoImpl" class="com.froad.CB.dao.impl.GoodsGroupRackImagesDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>       
    <!-- GoodsGroupRackImages end-->
    
    <!-- GoodsRebateRackImages begin-->
    <bean id="goodsRebateRackImagesDaoImpl" class="com.froad.CB.dao.impl.GoodsRebateRackImagesDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>       
    <!-- GoodsRebateRackImages end-->
    
    <!-- DailyTaskRule begin-->    
    <bean id="dailyTaskRuleDaoImpl" class="com.froad.CB.dao.impl.DailyTaskRuleDaoImpl">
   	 	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    <!-- DailyTaskRule end-->
    <!-- 抽奖活动  begin  -->
    <bean id="springFestivalCouponDaoImpl" class="com.froad.CB.dao.activity.impl.SpringFestivalCouponDaoImpl">
    	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    
    <!-- 抽奖活动  begin  end-->
    
    
    <bean id="presentPointRuleDaoImpl" class="com.froad.CB.dao.impl.PresentPointRuleDaoImpl">
    	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    
    <bean id="presellDeliveryDaoImpl" class="com.froad.CB.dao.impl.PresellDeliveryDaoImpl">
    	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
 
     <bean id="presellBuyInfoDaoImpl" class="com.froad.CB.dao.impl.PresellBuyInfoDaoImpl">
    	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>
    
     <bean id="presellDeliveryMapDaoImpl" class="com.froad.CB.dao.impl.PresellDeliveryMapDaoImpl">
    	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean>  
    
    <bean id="goodsPresellRackDaoImpl" class="com.froad.CB.dao.impl.GoodsPresellRackDaoImpl">
    	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean> 
    <bean id="goodsPresellRackImagesDaoImpl" class="com.froad.CB.dao.impl.GoodsPresellRackImagesDaoImpl">
    	<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
    </bean> 
    
     
 </beans>
