<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties url="file:./config/jdbc.properties"/>
	
	<!-- 指定结果集映射关系 -->
	<typeAliases>
		<typeAlias alias="ActiveBaseRule" type="com.froad.po.ActiveBaseRule" />
        <typeAlias alias="ActiveDetailRule" type="com.froad.po.ActiveDetailRule" />
        <typeAlias alias="ActiveTagRelation" type="com.froad.po.ActiveTagRelation" />
		<typeAlias alias="ActiveOrder" type="com.froad.po.ActiveOrder" />
		<typeAlias alias="ActiveOrderDetail" type="com.froad.po.ActiveOrderDetail" />
		<typeAlias alias="Activities" type="com.froad.po.Activities" />
		<typeAlias alias="ActiveResultInfo" type="com.froad.po.ActiveResultInfo" />
        <typeAlias alias="ActiveSearchProductInfo" type="com.froad.po.ActiveSearchProductInfo" />
		<typeAlias alias="ActiveSearchMerchantInfo" type="com.froad.po.ActiveSearchMerchantInfo" />
		<typeAlias alias="WeightActivityTag" type="com.froad.po.WeightActivityTag" />
		<typeAlias alias="ActiveRuleInfoDetail" type="com.froad.po.ActiveRuleInfoDetail" />
		<typeAlias alias="Product" type="com.froad.po.Product" />
		<typeAlias alias="AreaInfo" type="com.froad.po.AreaInfo" />
		<typeAlias alias="ActiveMainReport" type="com.froad.po.ActiveMainReport" />
		<typeAlias alias="ActiveAttachReport" type="com.froad.po.ActiveAttachReport" />
		<typeAlias alias="Location" type="com.froad.po.mongo.Location" />
		<typeAlias alias="ActiveSustainRelation" type="com.froad.po.ActiveSustainRelation" />
		<typeAlias alias="VouchersDetailRule" type="com.froad.po.VouchersDetailRule" />
		<typeAlias alias="VouchersExpiredInfo" type="com.froad.po.VouchersExpiredInfo" />
		<typeAlias alias="VouchersInfo" type="com.froad.po.VouchersInfo" />
		<typeAlias alias="VouchersUseInfo" type="com.froad.po.VouchersUseInfo" />
		<typeAlias alias="FindVouchersOfSubmitReq" type="com.froad.po.FindVouchersOfSubmitReq" />
		<typeAlias alias="VouchersRuleInfo" type="com.froad.po.VouchersRuleInfo" />
		<typeAlias alias="VouchersUseDetails" type="com.froad.po.VouchersUseDetails" />		
		<typeAlias alias="RegistDetailRule" type="com.froad.po.RegistDetailRule" />	
		<typeAlias alias="RegisteredRuleInfo" type="com.froad.po.RegisteredRuleInfo" />	
		<typeAlias alias="RegisteredExportDetail" type="com.froad.po.RegisteredExportDetail" />
		<typeAlias alias="Vouchers" type="com.froad.po.Vouchers" />
		<typeAlias alias="RegisteredInfo" type="com.froad.po.RegisteredInfo" />
		<typeAlias alias="HandselInfo" type="com.froad.po.HandselInfo" />
	</typeAliases>

	<!-- 分页拦截器 mysql or oracle -->
	<plugins>
		<plugin interceptor="com.froad.db.mysql.interceptor.PageInterceptor">
			<property name="databaseDialect" value="com.froad.db.mysql.dialet.MySQLDialect" />
			<property name="pageSqlIdRegEx" value=".*ByPage" />
		</plugin>
	</plugins>
	
	<!-- -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="com.froad.db.mysql.datasource.DruidDataSourceFactory">
				<property name="driverClassName" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />

				<!-- 配置初始化大小、最小、最大 -->
				<property name="initialSize" value="${pool.initialSize}" />
				<property name="minIdle" value="${pool.minIdle}" />
				<property name="maxActive" value="${pool.maxActive}" />

				<!-- 配置获取连接等待超时的时间 -->
				<property name="maxWait" value="${pool.maxWait}" />

				<property name="validationQuery" value="select now()" />
				<property name="testWhileIdle" value="true" />
				<property name="testOnBorrow" value="false" />
				<property name="testOnReturn" value="false" />
				<property name="poolPreparedStatements" value="false" />
				<property name="maxOpenPreparedStatements" value="-1" />

				<!-- 对于长时间不使用的连接强制关闭 -->
				<property name="removeAbandoned" value="true" />

				<!-- 超过30分钟开始关闭空闲连接 -->
				<property name="removeAbandonedTimeout" value="120" />

				<!-- 将当前关闭动作记录到日志 -->
				<property name="logAbandoned" value="true" />
			</dataSource>
		</environment>
	</environments>

	<!-- 指定mapper资源 -->
	<mappers>
		<!-- 
		<mapper resource="mappers/ProductCategoryCommonMapper.xml" />
		 -->
		<mapper resource="mappers/ActiveBaseRuleMapper.xml" />
		<mapper resource="mappers/ActiveDetailRuleMapper.xml" />
		<mapper resource="mappers/ActiveOrderMapper.xml" />
		<mapper resource="mappers/ActiveOrderDetailMapper.xml" />
		<mapper resource="mappers/ActiveTagRelationMapper.xml" />
		<mapper resource="mappers/ActivitiesMapper.xml" />
		<mapper resource="mappers/ActiveSerchMerchantMapper.xml" />
		<mapper resource="mappers/ActiveSerchProductMapper.xml" />
		<mapper resource="mappers/WeightActivityTagMapper.xml" /> 
		<mapper resource="mappers/ActiveRuleInfoMapper.xml" /> 
		<mapper resource="mappers/ProductMapper.xml" /> 
		<mapper resource="mappers/MinatoSingleProductMapper.xml" />
		<mapper resource="mappers/ActiveMainReportMapper.xml" />
		<mapper resource="mappers/ActiveAttachReportMapper.xml" />
		<mapper resource="mappers/ActiveSustainRelationMapper.xml" />
		<mapper resource="mappers/VouchersDetailRuleMapper.xml" />
		<mapper resource="mappers/VouchersExpiredInfoMapper.xml" />
		<mapper resource="mappers/VouchersInfoMapper.xml" />
		<mapper resource="mappers/VouchersUseInfoMapper.xml" />
		<mapper resource="mappers/VouchersMapper.xml" />
		<mapper resource="mappers/RegistDetailRuleMapper.xml" />
		<mapper resource="mappers/RegisteredRuleInfoMapper.xml" />
		<mapper resource="mappers/HandselInfoMapper.xml" />
	</mappers>

</configuration>