<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.bps.mappers.OperatorLogMapper">
	<resultMap type="OperatorLog" id="operatorLogResultMap">
		<result column="ID" property="id"  />
    	<result column="OPERATE_TYPE" property="operateType" />
    	<result column="OPERATOR" property="operator" />
    	<result column="OPERATE_STATUS" property="operateStatus" />
    	<result column="BACKUP" property="backup" />
    	<result column="CREATE_TIME" property="createTime" />
    	<result column="UPDATE_TIME" property="updateTime" />
    	<result column="REMARK" property="remark" />
    	<result column="ORG_CODE" property="orgCode" />
    	<result column="ORG_NAME" property="orgName" />
	    <result column="BANK_CODE" property="bankCode" />
	    <result column="LOGIN_IP" property="loginIp" />
	    <result column="ROLE_NAME" property="roleName" />
	    <result column="LOGIN_ACCOUNT" property="loginAccount" />
	    <result column="BANK_UNION_CODE" property="bankUnionCode" />
	</resultMap>
	
	
	<select id="findAll" resultMap="operatorLogResultMap">
		select 
			tr_operate_log.ID,
			tr_operate_log.OPERATE_TYPE,
			tr_operate_log.OPERATOR,
			tr_operate_log.OPERATE_STATUS,
			tr_operate_log.`BACKUP`,
			tr_operate_log.CREATE_TIME,
			tr_operate_log.UPDATE_TIME,
			tr_operate_log.REMARK,
			tr_operate_log.ORG_CODE,
			tr_operate_log.ORG_NAME,
			tr_operate_log.BANK_CODE,
			tr_operate_log.LOGIN_IP,
			tr_operate_log.ROLE_NAME,
			tr_operate_log.LOGIN_ACCOUNT,
			tr_operate_log.BANK_UNION_CODE 
		from tr_operate_log
	</select>
	
</mapper>