/*
* Author:
* pengling@f-road.com.cn 
*/
/*登录页面*/
.nopage404{
	background:#fff;
	float:left;
	line-height:30px;
	height:500px;width:1000px;
	margin:-20px 0;}
*+html .nopage404{margin:0}
.nopage404 span{margin:180px auto;display:block;text-align:center; font-family:"微软雅黑"; font-size:30px; color:#999;line-height:45px;}
.nopage404 .back{ display:inline-block;background:#C00;color:#fff; text-decoration:none;padding:0px 7px 0px 7px;margin:0 10px 0 10px;line-height:38px;}