/*
* Author:
* pengling@f-road.com.cn 
*/

body {
	background:#dceaf4
}

/*顶部样式*/
.headtop{width:100%; height:30px; border-bottom:1px solid #eee; background:#fcfcfc; min-width:1000px;}

.headtopmain{width:1000px; margin:0 auto;}

.headtopmain .headname{font:14px/30px "微软雅黑"; color:#666;}

.headtopmain .headname p{margin-right:10px; position:relative; z-index:2;}

.headtopmain .headname p a{ border:1px solid #fcfcfc; padding:3px 5px 4px; *padding:0 5px 0; *height:28px; margin-right:5px;}

.headtopmain .headname p a.showlist{ border-top:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #FFF; background:#fff; *display:inline-block;}

.headtopmain .headname p a img{ margin-left:5px; margin-bottom:3px;}

.headtopmain .headname .nameBg{ background:#FFF; border:1px solid #ccc; position:absolute; font:12px/30px "微软雅黑"; width:105px; margin-top:-2px; z-index:1; display:none;}

.headtopmain .headname .nameBg img{ margin-left:8px; position:absolute; margin-top:8px; *margin-left:0px; *margin-top:1px;}

.headtopmain .headname .nameBg li{ border-bottom:1px dashed #dbdbdb;}

.headtopmain .headname .nameBg li a{ color:#666; padding-left:28px; *padding-left:20px;}

.headtopmain .headname .nameBg li a:hover{color:#0498cb; text-decoration:underline;}

.headtopmain .headname a{color:#666; padding:0 5px;}

.headtopmain .headname a:hover{ color:#09F;}

.headtopmain .headname b{ margin-left:5px;}

.headtopmain .headname b.v{ background:url(../images/v.png) no-repeat 0 3px; padding-left:20px;}

.headtopmain .heademail{margin-top:6px;}

.headtopmain .headlist{font:12px/30px "宋体";}

.headtopmain .headlist a{margin:0 3px; color:#999;}

.headtopmain .headlist a:hover{color:#F00;}

.headtopmain .headlist b{ font:bold 14px/14px Verdana; color:#F00;}

.headtopmain .headlist span{display:inline-block; margin:0 5px; color:#b0ccda;}

.headtopmain .headphone{ margin-left:20px; color:#777; font:12px/27px Verdana; background:url(../images/icon-phone.png) no-repeat 0 3px; padding-left:30px;}

.headtopmain .points{color:#999; font-size:12px;line-height:30px;}
.headtopmain .points b{ color:#F00; margin:0 5px 0 0px; font-family:Verdana, Geneva, sans-serif}

/*头部*/
.box1010 {
	width:1000px;
	margin:0 auto;
}
.navBox .logo {
	margin:0 0 10px 0;
	float:left;
	width:80px
}
.main {
	width:1000px;
	margin:0 auto;
}
/*导航*/
/* 头部主导航 */
.navBox {
	margin:10px auto;
	width:1000px;
}
.nav {
	float:right;
	padding-left:10px;
	height:33px;
	background:url(../images/bg.png) left top no-repeat;
	margin:20px 0
}
*+html .nav {
	margin:20px 0 0 199px;
	float:Left
}
.nav ul {
	padding-right:10px;
	height:33px;
	background:url(../images/bg.png) right -339px repeat;
	width:680px;
	float:left
}
*+html .nav ul {
	background:#000;
	width:695px;
	margin-left:0px;
	background:url(../images/bg.png) center -339px repeat;
}
.nav ul li {
	position:relative;
	z-index:5;
	float:left;
	line-height:33px;
	padding-right:12px;
	background:url(../images/bg.png) right -33px no-repeat;
}
*+html .nav ul li {
}
.nav ul li a {
	float:left;
	height:33px;
	padding-left:15px;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	text-decoration:none;
}
.nav ul li a:hover {
	color:#fff;
	text-decoration:none;
}
.nav .on {
	position:relative;
	z-index:5;
	float:left;
	line-height:33px;
	padding-right:15px;
	background:url(../images/bg.png) right -66px no-repeat;
}
.nav .on a {
	float:left;
	height:33px;
	padding-left:15px;
	font-weight:bold;
	font-size:14px;
	color:#000;
	background:url(../images/bg.png) left -66px no-repeat;
	text-decoration:none;
}
.nav .on a:hover {
	color:#000;
	text-decoration:none;
}
.nav ul .navright {
	float:right;
	text-align:right;
	margin:0;
	padding:0
}
.nav ul .navright a {
	color:#fff;
	font-size:12px;
	font-family:"宋体";
	margin-right:10px
}
.nav .bg {
	background:url(../images/bg.png) right top repeat;
	width:6px;
	height:33px;
	float:right
}
.nav .points{color:#fff;float:right;font-size:12px;line-height:30px;}
.nav .points b{ color:#FF0;margin:0 5px 0 0px; font-family:Verdana, Geneva, sans-serif}
.headSearch {
	height:26px;
	width:105px;
	border:1px solid #069;
	color:#06C;
	font:12px "微软雅黑";
	line-height:24px;
	margin-left:5px;
	display:block;
}
.headSearch02 {
	height:26px;
	width:340px;
	border:1px solid #09F;
	background:#055b87;
	color:#06C;
	font:12px "微软雅黑";
	line-height:24px;
	margin-left:5px;
	display:block;
}
.menu .searchall {
	float:right
}
*+html .menu .searchall {
	width:200px;
	margin:-40px 0 0 100px
}
.menu .rightBtn {
	float:left;
	margin-top:10px;
	margin-left:5px;
	display:inline;
}
.menu .hiddensearch {
	width:403px;
	height:110px;
	background:#0080cb;
	padding:10px;
	border:1px solid #046191;
}
.menu .hiddensearch li {
	font-size:14px;
	float:left;
	margin:0 8px;
	color:#0FF;
	font-family:"微软雅黑";
	line-height:40px;
	height:40px;
}
.menu .hiddensearch li a {
	text-decoration:none;
}
.menu .hiddensearch li.font01 a {
	font-size:18px;
	color:#FF0;
}
.menu .hiddensearch li.font02 a {
	font-size:25px;
	color:#6F0;
}
.menu .hiddensearch li.font03 a {
	font-size:13px;
	color:#FFC;
}
.menu .hiddensearch li.font04 a {
	font-size:20px;
	color:#309;
}
.menu .hiddensearch li.font05 a {
	font-size:16px;
	color:#ccc;
}
.menu .hiddensearch li.font06 a {
	font-size:30px;
	color:#F09;
}
.menu .hiddensearch li.font07 a {
	font-size:18px;
	color:#FC3
}
.menu .hiddensearch li.font08 a {
	font-size:20px;
	color:#3F0
}
.menu .hiddensearch li.font09 a {
	font-size:15px;
	color:#FC6
}
.menu .hiddensearch li.font10 a {
	font-size:32px;
	color:#F6F
}
.menu .hiddensearch li.font11 a {
	font-size:12px;
	color:#9F6
}
.menu .hiddensearch li.font12 a {
	font-size:15px;
	color:#FC0
}
.menu .hiddensearch li.font13 a {
	font-size:22px;
	color:#0F0
}
.menu .hiddensearch li.font14 a {
	font-size:28px;
	color:#999
}
.menu .hiddensearch li.font15 a {
	font-size:17px;
	color:#9FF
}
/*链接*/

/*提示弹出框*/
.miss {
	width:998px;
	height:35px;
	text-align:center;
	background:#fff9f0;
	margin:0px auto 0 auto;
	border:1px solid #feda8f;
	float:left
}
.miss#missadmin {
	width:860px;
}
.miss h2 {
	font: bold 14px/35px "宋体";
	color:#F00;
	float:left;
	margin-left:10px;
	width:950px;
	text-align:center;
}
.miss#missadmin h2 {
	font: bold 14px/35px "宋体";
	color:#F00;
	float:left;
	margin-left:10px;
	width:800px;
	text-align:center;
}
.miss a {
	float:right;
	margin-top:10px;
	margin-right:10px;
	display:inline;
	background:url(../images/cha.png);
	width:12px;
	height:12px;
}
.miss a:hover {
	background:url(../images/hongcha.png);
	width:12px;
	height:12px;
}
/*表单*/
.checkBox {
	margin-right:5px;
	vertical-align:middle;
}

.selectstyle {
	height:25px;
	border:1px solid #ccc;
}
.fromDiv {
	padding-top:20px;
	padding-left:10px;
	line-height:35px;
	width:830px;
	font-size:12px;
}
.fromDiv span {
	float:left;
	margin-right:15px
}
.fromDiv span B {
	float:left;
	font-weight:normal;
	height:40px;
	overflow:hidden;
	text-align:right;
	margin-left:3px;
}
.fromDiv .download {
	margin-left:10px;
	color:#0C0;
	text-decoration:underline;
}
input {
	padding-left:5px;
}
.loginText, .loginText2, .loginText3, .loginText4, .loginText5, .loginTextDate, .errorText, .errorText2, .errorText3, .errorText4, .errorText5, .focusText, .focusText2, .focusText3, .focusText4, .focusText5 {
	border:0px solid #FFF;
	background:url(../images/textbg.gif);
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
}
.loginText, .errorText, .focusText {
	width:235px;
	height:30px;
}
.loginText {
	background-position:0 0;
}
.errorText {
	background-position:0 -32px;
}
.focusText {
	background-position:0 -64px;
}
.loginText2, .errorText2, .focusText2 {
	width:145px;
	height:30px;
}
.loginText2 {
	background-position:0 -96px;
}
.errorText2 {
	background-position:0 -128px;
}
.focusText2 {
	background-position:0 -160px;
}
.loginText3, .errorText3, .focusText3, .loginTextDate {
	width:115px;
	height:30px;
}
.loginText3 {
	background-position:0 -192px;
}
.errorText3 {
	background-position:0 -224px;
}
.focusText3 {
	background-position:0 -256px;
}
.loginTextDate {
	background-position:-122px -192px;
}
.loginText4, .errorText4, .focusText4 {
	width:80px;
	height:30px;
	text-align:center;
	padding-left:0;
	font-size:16px;
	color:#666;
}
.loginText4 {
	background-position:0 -288px;
}
.errorText4 {
	background-position:0 -320px;
}
.focusText4 {
	background-position:0 -352px;
}
.loginText5, .errorText5, .focusText5 {
	width:50px;
	height:30px;
	text-align:center;
	padding-left:0;
	font-size:16px;
	color:#666;
}
.loginText5 {
	background-position:0 -384px;
}
.errorText5 {
	background-position:0 -416px;
}
.focusText5 {
	background-position:0 -448px;
}
.newtextarea,.errornewtextarea,.focusnewtextarea{width:250px; height:90px; border:1px solid #ddd; font:14px/20px "宋体"; padding:2px; color:#555; margin-top:0px;resize:none
	}
.errornewtextarea{background-position: center center}
.focusnewtextarea{background-position: bottom center}
/*分页*/

.page {
	width:98%;
	
	height:35px;
	float:right;
	padding-right:15px;
	display:inline;
	line-height:23px;
	font-size:12px;
	text-align:center;
	margin-top:10px;
}
.page a {
	color:#777;
	text-decoration:none;
	margin:0 2px;
}
.page a:hover {
	color:#0369e7;
	text-decoration:none;
}
.page a.cut {
	font-size:15px;
	color:#F00;
	font-style:italic;
}
.page .yellow {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; MARGIN: 3px; PADDING-TOP: 7px; TEXT-ALIGN: center;
}
.page .yellow A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none
}
.page .yellow A:hover {
	BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px solid; BORDER-LEFT: #f0f0f0 1px solid; COLOR: #000; BORDER-BOTTOM: #f0f0f0 1px solid
}
.page .yellow A:active {
	BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px solid; BORDER-LEFT: #f0f0f0 1px solid; COLOR: #000; BORDER-BOTTOM: #f0f0f0 1px solid
}
.page .yellow SPAN.current {
	BORDER: #f95d50 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px;  COLOR: #fff; PADDING-TOP: 2px;  BACKGROUND-COLOR: #f95d50
}
.page .yellow SPAN.disabled {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid
}
.page .number{color:#666;margin-left:15px}

/*按钮*/
a .textBtn, a .adminBtn, a .textBtn B, a .adminBtn B, a:hover .textBtn, a:hover .adminBtn, a:hover .textBtn B, a:hover .adminBtn B, a .gryBtn, a .gryBtn B {
	background:url(../images/btn.gif) no-repeat;
	text-decoration:none;
}

.fromDiv .fl{ text-decoration:none}
a .textBtn, a .adminBtn, a .gryBtn {
	float:left;
	display:block;
	font-family:"微软雅黑";
	color:#FFF;
	margin-left:7px;
	cursor:pointer;
	clear:both;border:1px solid #a60107
}

a .gryBtn {
	color:#333;border:1px solid #666
}
a .textBtn B, a .adminBtn B, a .gryBtn B {
	display:block;
}
a:hover .textBtn, a:hover .adminBtn {
	color:#FC0;
}
a:hover .gryBtn {
	color:#333;
}
a:hover .textBtn B, a:hover .adminBtn B { 
}
a .textBtn {
	background-position:0 0;
	height:42px;
	line-height:42px;
	padding-left:30px;
	font-size:16px;
}
a .gryBtn {
	background-position:0 -148px;
	height:33px;
	line-height:33px;
	padding:0px 11px 0 11px;font-size:16px
	
}
a .textBtn B {
	background-position:right 0;
	padding-right:30px;
	text-decoration:none;
}
a .gryBtn B {
	background-position:right -148px;
	padding-right:0px;
	text-decoration:none;
}
a:hover .textBtn {
	background-position:0 -42px;
}
a:hover .gryBtn {
	color:#333;
}
a:hover .textBtn B {
	background-position:right -42px;
	text-decoration:none;
}
a .adminBtn {
	background-position:0px -84px;
	height:32px;
	line-height:32px;
	padding-left:13px;
	font-size:14px;
}
a .adminBtn B {
	background-position:right -84px;
	padding-right:13px;
	text-decoration:none;
}
a:hover .adminBtn {
	background-position:0px -116px;
}
a:hover .adminBtn B {
	background-position:right -116px;
	text-decoration:none;
}
.abtn {
	margin:0 auto;
	height:30px;
}

.subBtn,.rightBox .subBtn[type=button]{ background:#F30; border-radius:5px; border:1px solid #900; color:#FFF; padding:5px 15px 5px 15px; font-family:"微软雅黑"; font-size:14px; cursor:pointer}
*+html .subBtn,*+html .rightBox .subBtn[type=button]{padding:3px 8px 3px 8px;}
.subBtn:hover{ background:#FF3535;}
.grayBtn{ background:#999; border-radius:5px; border:1px solid #666; color:#000; padding:5px 15px 5px 15px; font-family:"微软雅黑"; font-size:14px; cursor:pointer}
*+html .grayBtn{padding:3px 8px 3px 8px;}
.grayBtn:hover{ background:#666;}
/*支付方式*/
.payselect {
	padding:0 5px;
	background:#FFC;
	border:1px solid #FC3;
	font:12px/35px "宋体";
	color:#F30;
	width:96%;
	margin:20px auto 0;
}
.payselect .selectfont {
	float:left;
	line-height:30px;
}
.payselect .heightmiddle {
	height:40px;
	margin-top:10px;
	margin-left:160px;
}
.payselect span {
	color:#666;
	font:12px/12px Arial, Helvetica, sans-serif;
	margin-left:5px;
}
.payselect span h2 {
	color:#090;
	display:inline;
	background:url(../images/right.png) no-repeat;
	padding-left:18px;
	font-weight:bold;
}
.payselect span h3 {
	color:#F00;
	display:inline;
	background:url(../images/error.png) no-repeat;
	padding-left:18px;
	font-weight:bold;
}
.payselect span h4 {
	display:inline;
	background:url(../images/alert.png) no-repeat;
	padding-left:18px;
}
.payselect .pointspan {
	float:left;
	font-size:12px;
	line-height:30px;
	font-family:Verdana, Geneva, sans-serif;
	margin-left:10px;
}
.payselect .pointspan b {
	color:#F00;
	margin-right:5px;
}
/*error页面*/
.onerror {
	width:1050px;
	border:1px solid #b7b7b7;
	overflow:hidden;
	padding-bottom:10px;
	background:#f8f8f8;
	height:480px;
	clear:both;
	text-align:center;
	line-height:200px;
	color:#F00;
	font-size:30px;
	font-family:"微软雅黑"
}
/*返回修改*/
.fhuixiugai {
	line-height:25px;
	font-size:12px;
}
.fhuixiugai a {
	color:#666;
	text-decoration:underline;
	margin-right:20px;
}
*+html .fhuixiugai a {float:right;margin-right:20px}
.fhuixiugai a:hover {
	color:#F90;
	text-decoration:underline
}
/*前台成功失败*/
.result {
	width:100%;
	overflow:hidden;
	padding-bottom:10px;
	background:#FFF;
	clear:both
}
.result .successBox {
	width:644px;
	margin:40px auto 40px;
	border:1px solid #090;
	clear:both;
	padding:40px 0px 80px 0;
	text-align:left
}
.result .failBox {
	width:644px;
	margin:40px auto 40px;
	border:1px solid #F00;
	clear:both;
	padding:40px 0px;
}
.result .waitBox {
	width:644px;
	margin:40px auto 40px;
	border:1px solid  #F90;
	clear:both;
	padding:40px 0px;
}
.result B {
	line-height:30px;
}
.result td {
	font-size:14px;
	color:#555;
	line-height:40px;
	text-align:center;
}
.result td.jumpsuccess {
	color:#1cb304;
	font-size:18px;
	font-family:"微软雅黑";
	font-weight:bold;
	background:url(../images/resultright.png) no-repeat 190px 6px;
	padding-left:220px;
	text-align:left
}
.result td.jumpFail {
	color:#F00;
	font-size:18px;
	font-family:"微软雅黑";
	font-weight:bold;
	background:url(../images/resultwrong.png) no-repeat 192px 6px;
	padding-left:0px;
}
.result td.jumpwait {
	color:#F90;
	font-size:18px;
	font-family:"微软雅黑";
	font-weight:bold;
	background:url(../images/clock.gif) no-repeat 192px 6px;
	padding-left:0px;
}
.result td img {
	float:right;
}
.result table {
	margin:0 auto;
	width:80%;
}
.result td a {
	color:#777;
	text-decoration:underline;
	margin-left:10px;
	font-size:12px;
}
.result td a:hover {
	color:#999;
	text-decoration:none;
}
/*信息提示框*/
.messageBox {
	width:83%;
	margin:40px auto 40px;
	height:70px;
	border:1px solid #ccc;
	clear:both;
	padding:40px 0px;
}
.messageBox#pay, .messageBox#doing {
	width:70%;
	margin:40px auto 40px;
	height:70px;
	border:1px solid #faa91e;
	clear:both;
	padding:40px 0px;
	background:#fdf8db;
}
.messageBox dl {
	width:98%;
	margin:0 auto;
	font:14px/24px "宋体";
	text-align:center;
	color:#555;
}
.messageBox dl a {
	color:#06F;
	text-decoration:none;
	line-height:50px;
}
.messageBox dl a:hover {
	color:#666;
	text-decoration:underline;
}
/*验证统一样式*/
.validate {
	font-family:Arial, Helvetica, sans-serif;
}

.validate strong u, .validate dt u {
	color:#F00;
	margin-left:5px;
	margin-right:5px;
	text-decoration:none;
}
.validate strong i {
	margin-left:5px;
	font-style:normal;
	color:#888;
}
.validate span {
	color:#666;
	font:12px/12px Arial, Helvetica, sans-serif;
	margin-left:5px;
}
.validate span h2 {
	color:#090;
	display:inline;
	background:url(../images/right.png) no-repeat;
	padding-left:18px;
	font-weight:bold;
}
.validate span h3 {
	color:#F00;
	display:inline;
	background:url(../images/error.png) no-repeat;
	padding-left:18px;
	font-weight:bold;
}
.validate span h4 {
	display:inline;
	background:url(../images/alert.png) no-repeat;
	padding-left:18px;
}
/*表格*/
.tableA {
	border:1px solid #c7cfef;
	border-width:1px 0 0 1px;
	margin:2px 0 2px 0;
	text-align:center;
	border-collapse:collapse;
	margin:0 auto;
}
.tableA th, .tableA td {
	padding:3px;
	font-size:12px;
	border:1px solid #ccd0cf;
	border-width:0 1px 1px 0;
	margin:2px 0 2px 0;
	text-align:center;
	height:35px;
	font-family:Arial, Helvetica, sans-serif;
}
.tableA td a {
	color:#06F;
	text-decoration:none;
	margin:0 2px;
	line-height:30px;
}
.tableA td a:hover {
	color:#009;
	text-decoration:underline;
}
.tableA td#textLeft {
	text-align:left;
	padding-left:20px;
}
.tableA th {
	height:30px;
	background:#FAFAFA;
	font-weight:bold;
}
.tableA td img {
	padding:2px;
	border:1px solid #999;
	width:50px;
	height:50px;
}
.tableA td#duanxin img {
	width:23px;
	height:18px;
	border:0;
	padding-top:0;
	margin-top:5px;
}
.tableA td#duanxin a {
	float:left;
}
.tableA td#duanxin {
	padding-left:13px;
}
/*.tableoddcolor{ background:#F2F2F2;}
.tableevencolor{ background:#F7F9FF;}
.tablehovercolor{ background:#D9ECFF}
.tableclickcolor{ background:#FFD9E2;}*/

.tableB {
	border:1px solid #c7cfef;
	border-width:1px 0 0 1px;
	margin:2px 0 2px 0;
	text-align:center;
	border-collapse:collapse;
	margin:10px auto;
}
.tableB th, .tableB td {
	padding:3px;
	font-size:12px;
	border:1px solid #ccd0cf;
	border-width:0 1px 1px 0;
	margin:2px 0 2px 0;
	text-align:center;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
}
.tableB td a {
	color:#06F;
	text-decoration:none;
	margin:0 3px;
}
.tableB td a:hover {
	color:#009;
	text-decoration:underline;
}
.tableB td#textLeft {
	text-align:left;
	padding-left:20px;
}
.tableB th {
	height:30px;
	background:#FAFAFA;
	font-weight:bold;
}
.tableB td img {
	padding:2px;
	border:1px solid #999;
	width:50px;
	height:50px;
}
.tableC {
	margin:0 auto;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.tableC span {
	font-size:12px;
	color:#999;
	margin-left:5px;
}
.tableC th {
	text-align:right;
	padding-right:10px;
	color:#222;
}
.tableC td {
	text-align:left;
	height:40px;
	line-height:40px;
}
.tableC img {
	width:300px;
	height:150px;
	padding:2px;
	border:1px solid #999;
}
/*信息框*/
.inforBox {
	width:700px;
	height:auto;
	clear:both;
	overflow:hidden;
	margin:0 auto;
	border:1px solid #ccc;
	margin-top:10px;
	padding:20px 0;
	background:#F9F9F9;
	color:#999;
	font-weight:bold;
}
.inforBox#admin {
	width:700px;
	height:auto;
	clear:both;
	overflow:hidden;
	margin:0 auto;
	border:1px solid #faa91e;
	margin-top:10px;
	padding:20px 0;
	background:#fdf8db;
	color:#222;
	font-weight:normal;
}
.inforBox dl {
	clear:both;
	height:40px;
}
.inforBox dl#dl100 {
	height:140px;
}
.inforBox dl B {
	color:#F00;
}
.inforBox dl dt {
	float:left;
	width:150px;
	text-align:right;
	font-size:14px;
	line-height:28px;
	color:#666;
	font-weight:bold;
}
.inforBox dl dd {
	float:left;
	font-size:14px;
	line-height:28px;
	font-family:Arial, Helvetica, sans-serif;
}
.inforBox span#idright {
	margin-left:20px;
	background:url(../images/phoneright.png) no-repeat;
	font-size:15px;
	padding-left:25px;
	color:#090;
}
.inforBox span#idwrong {
	margin-left:20px;
	background:url(../images/phonewrong.png) no-repeat;
	font-size:15px;
	padding-left:25px;
	color:#f00;
}
/*.inforBox dl dd  a{ font-size:12px; color:#06C; font-weight:normal; text-decoration:none; margin-left:5px;}

.inforBox dl dd  a:hover{ text-decoration:underline; color:#F90;}*/

.inforBox .fail {
	line-height:40px;
	margin-left:20px;
	float:left;
	display:inline;
}
.onError2 {
	background:url(../images/reg3.gif) no-repeat 0 center;
	padding-left:18px;
	font-size:12px;
	color:#F00;
}
.onSuccess {
	background:url(../images/reg4.gif) no-repeat 0 center;
	padding-left:18px;
	font-size:12px;
	color:#090;
}
/*底部*/
.foot {
	width:100%;
	text-align:center;
	font-size:12px;
	font-family:"微软雅黑";
	line-height:30px;
	background:#dceaf4;
	color:#333;
	margin:5px auto;
	float:Left
}
/*预售*/
.group {
	width:1000px;
	overflow:hidden;
	padding:10px 0;
}
.group .list {
	width:1000px;
	margin:0 auto;
	overflow:hidden;
}
.group .list li {
	width:1000px;
	height:305px;
	background:#FFF;
	float:left;
	margin:10px 7px 5px 0px;
	position:relative;
}
.group .list li .icon {
	position:absolute;
	z-index:22;
	left:0px;
	top:0px
}
.group .list li .imgShow {
	width:1000px;
	height:189px;
	margin:0px auto;
}
.group .bookingtext {
	float:right;
	width:380px;
	margin:-180px 0 0 0
}
.group .list li .imgShow img {
	height:275px;
	width:610px;
}
.group .list li .imgShow#xiangqing img {
	height:305px;
	width:350px;
}
.group .list li dl {
	width:345px;
	margin:0 auto;
}
.group .list li dl dt {
	font-weight:bold;
	font-size:18px;
	margin-bottom:5px;
	overflow:hidden;
	font-family:"微软雅黑";
	width:340px;
	height:27px;
}
.group .list li dl dt a {
	color:#000;
	text-decoration:none;
}
.group .list li dl dt a:hover {
	color:#03F;
	text-decoration:none;
}
.group .list li div {
	line-height:24px
}
.group .list li dl dd {
	color:#666;
	font-size:13px;
	line-height:20px;
	height:40px;
	overflow:hidden;
}
.group .list li .groupPrice {
	width:345px;
	height:25px;
	margin:4px auto;
	font-family:"微软雅黑";
}
.group .list li .bookingnum {
	font-size:13px;
	margin:0 0 0 10px;
	font-family: "微软雅黑";
}
.group .list li .bookingnum span{margin-right:0px}
.countdown {
	float:left;
	margin:-5px 0;
	font-family: "微软雅黑";
	font-size:13px;
	width:100%
}
.countdown font {
	float:left;
	line-height:40px;
	font-size:13px
}
.countdown span {
	margin:10px 3px 0 3px;
	display:block;
	background:#000;
	color:#fff;
	text-align:center;
	float:left;
	height:22px;
	line-height:22px;
	padding:0 8px 0 8px
}
*+html .countdown span {
	margin:8px 3px 0 3px;
	display:block;
	background:#000;
	width:13px;
	color:#fff;
	text-align:center;
	line-height:22px;
	font-size:13px;
}
.countdown em {
	float:left;
	line-height:40px
}
.group .list li .groupPrice .firstPrice {
	color:#ee5337;
	font-size:24px;
	float:left;
	line-height:20px;
}
.group .list li .groupPrice .secondPrice {
	color:#666;
	font-size:12px;
	float:left;
	margin-left:10px;
	display:inline;
	line-height:19px;
}
.group .list li .groupPrice img {
	float:right;
	margin-right:20px;
	display:inline;
}
.group .list li .discount {
	width:345px;
	margin:0 auto;
	font-family:"微软雅黑";
}
.group .list li .discount p a {
	margin-left:20px
}
.group .list li .discount .btn {
	width:100%;
	float:left
}
.group .list li .discount .btn a {
	margin:10px 20px 0 0;
	float:left
}
.group .list li .discount .leftDiscount P {
	font-size:12px;
	color:#666;
}
.group .list li .discount .rightDiscount {
	float:right;
	margin-right:10px;
	display:inline;
	font-size:14px;
	line-height:40px;
	color:#666;
}
.group .list li .discount .rightDiscount B {
	color:#F00;
}
.return {
	width:450px;
	font-size:12px;
	line-height:30px;
	background:#fff;
	height:260px
}
.return dt,.windowTitle dt {
	color:#e00119;
	background:#e7e7e7;
	border-bottom:1px solid #d4d4d4;
	margin:0;
	font-size:14px;
	padding-left:10px;
	font-weight:bold;padding:5px;height:24px;line-height:25px
}
.return textarea{margin-right:5px}
.return input {
	margin-left:40px
}
.orderdetails{margin-top:15px; font-family:Verdana;}
.orderdetails th{padding-left:25px}
.orderdetails th,.orderdetails b{font-size:14px;line-height:30px;font-weight:normal}
.orderdetails th a{font-size:13px;padding:0 3px 0 3px;border:1px solid #e60000;color:#e60000; text-decoration:none;display:block;width:66px}
.bordertop,.bordertop th{border-top:1px solid #e2e2e2;padding-top:15px;}
.regeditBox em,.loginBord em{background:url(../images/reg3.gif) no-repeat 0px 0px;
  padding-left: 16px;
  color:#000;margin-left:15px}
.group .list li .groupPrice .secondPrice font{ text-decoration:line-through}