
/*
* Author:
* pengling@f-road.com.cn 
*/
/*验证样式*/

span { margin-left:5px; font-size:12px;}

#commentForm em{font-size:12px; color:#999; background:url(../images/alert.png)  no-repeat 0px 0px; padding-left:16px; margin-left:5px;}

input.error{ border:1px solid #F00; background:#FFECF5; border-radius:5px; height:28px;}

input.right{ border:1px solid #6C0; background:#ECFFEC; border-radius:5px; height:28px; color:#390}

span.error {
  background:url(../images/error.png) no-repeat 0px 0px;
  padding-left: 16px;
  color:#F00;
}

span.success {
  background:url(../images/right.png) no-repeat 0px 0px;
  padding-left:16px;
  color:#090;
}

