<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!-- 引入参数配置文件 <context:property-placeholder location="classpath:jdbc.properties"
        /> -->

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
               <!-- <value>file:/opt/froad/config/froadfft/persistent/jdbc.properties</value> -->
               <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- 设置需要进行Spring注解扫描的类包 -->
    <context:component-scan base-package="com.froad.fft.persistent"/>

    <!-- 使用AspectJ方式配置AOP -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- druid filter -->
    <bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
        <!-- 慢SQL记录 -->
        <property name="slowSqlMillis" value="2000"/>
        <property name="logSlowSql" value="true"/>

        <!-- SQL合并 -->
        <property name="mergeSql" value="true"/>
    </bean>

    <bean id="log-filter" class="com.alibaba.druid.filter.logging.Log4jFilter">
        <property name="resultSetLogEnabled" value="false"/>
    </bean>

    <!-- 防御sql注入 -->
    <bean id="wall-filter" class="com.alibaba.druid.wall.WallFilter">
        <property name="logViolation" value="true"/>
        <property name="throwException" value="false"/>
    </bean>

    <!-- 配置数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <!-- 基本属性 driverClassName、 url、user、password -->
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>

        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize" value="1"/>
        <property name="minIdle" value="10"/>
        <property name="maxActive" value="20"/>

        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait" value="60000"/>

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>

        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000"/>

        <!-- 用来检测连接是否有效的sql，要求是一个查询语句。如果validationQuery为null，testOnBorrow、testOnReturn、testWhileIdle都不会其作用 -->
        <property name="validationQuery" value="SELECT 'x'"/>

        <!-- 建议配置为true，不影响性能，并且保证安全性。申请连接的时候检测，如果空闲时间大于 timeBetweenEvictionRunsMillis，执行validationQuery检测连接是否有效 -->
        <property name="testWhileIdle" value="true"/>

        <!-- 申请连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能 -->
        <property name="testOnBorrow" value="false"/>

        <!-- 归还连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能 -->
        <property name="testOnReturn" value="false"/>

        <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->        <!--如果用Oracle，则把poolPreparedStatements配置为true，mysql可以配置为false。 -->
        <property name="poolPreparedStatements" value="false"/>
        <property name="maxPoolPreparedStatementPerConnectionSize"
                  value="20"/>

        <!-- 对于长时间不使用的连接强制关闭 -->
        <property name="removeAbandoned" value="true"/>

        <!-- 超过30分钟开始关闭空闲连接 -->
        <property name="removeAbandonedTimeout" value="1800"/>

        <!-- 将当前关闭动作记录到日志 -->
        <property name="logAbandoned" value="true"/>

        <!-- 配置监控统计拦截的filters -->        <!-- <property name="filters" value="stat" /> -->

        <property name="proxyFilters">
            <list>
                <ref bean="stat-filter"/>
                <ref bean="wall-filter"/>
                <ref bean="log-filter"/>
            </list>
        </property>
    </bean>

    <!-- mybatis -->
    <bean id="persistenceSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">

        <!-- 自动扫描目录, 省掉persistence-config.xml里的手工配置 <property name="mapperLocations"
            value="classpath:mappers/*.xml" /> -->        <!-- -->
        <property name="configLocation" value="classpath:persistence-config.xml"></property>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> <property
        name="basePackage" value="com.froad.fft.persistent.api" /> <property name="sqlSessionFactoryBeanName"
        value="persistenceSqlSessionFactory" /> </bean> -->

    <!-- 事务管理 <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" /> </bean> -->


    <!--客户端 Mapper -->
    <bean id="sysClientMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.SysClientMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--资源 Mapper -->
    <bean id="sysResourceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.SysResourceMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--角色 Mapper -->
    <bean id="sysRoleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.SysRoleMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--角色资源 Mapper -->
    <bean id="sysRoleResourceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.SysRoleResourceMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!-- 用户 Mapper -->
    <bean id="sysUserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.SysUserMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--用户角色 Mapper -->
    <bean id="sysUserRoleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.SysUserRoleMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--资源渠道 Mapper -->
    <bean id="fundsChannelMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.FundsChannelMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--地区 Mapper -->
    <bean id="areaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.AreaMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--广告 Mapper -->
    <bean id="adMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.AdMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--广告位 Mapper -->
    <bean id="adPositionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.AdPositionMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--协议 Mapper -->
    <bean id="agreementMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.AgreementMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--文章分类 Mapper -->
    <bean id="articleCategoryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ArticleCategoryMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--文章 Mapper -->
    <bean id="articleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ArticleMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商圈 Mapper -->
    <bean id="businessCircleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.BusinessCircleMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--友情链接 Mapper -->
    <bean id="friendLinkMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.FriendLinkMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--赠送积分规则 Mapper -->
    <bean id="givePointRuleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.GivePointRuleMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--日志 Mapper -->
    <bean id="logMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.LogMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--用户 Mapper -->
    <bean id="memberMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MemberMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商户分类 Mapper -->
    <bean id="merchantCategoryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MerchantCategoryMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商户点评 Mapper -->
    <bean id="merchantCommentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MerchantCommentMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商户用户组 Mapper -->
    <bean id="merchantGroupUserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MerchantGroupUserMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商户 Mapper -->
    <bean id="merchantMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MerchantMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商户在线申请 Mapper -->
    <bean id="merchantOnlineApplyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MerchantOnlineApplyMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商户门店 Mapper -->
    <bean id="merchantOutletMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MerchantOutletMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商户门店标签 Mapper -->
    <bean id="merchantOutletTagMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MerchantOutletTagMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商户相册  Mapper -->
    <bean id="merchantPhotoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MerchantPhotoMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商户优惠活动  Mapper -->
    <bean id="merchantPreferentialMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MerchantPreferentialMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商户介绍 Mapper -->
    <bean id="merchantPresentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MerchantPresentMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--导航 Mapper -->
    <bean id="navigationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.NavigationMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--支付 Mapper -->
    <bean id="payMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.PayMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--预售提货点  Mapper -->
    <bean id="presellDeliveryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.PresellDeliveryMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商品属性 Mapper -->
    <bean id="productAttributeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ProductAttributeMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商品属性值 Mapper -->
    <bean id="productAttributeValueMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ProductAttributeValueMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商品分类 Mapper -->
    <bean id="productCategoryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ProductCategoryMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商品团购 Mapper -->
    <bean id="productGroupMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ProductGroupMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商品图片 Mapper -->
    <bean id="productImageMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ProductImageMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商品 Mapper -->
    <bean id="productMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ProductMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商品预售 Mapper -->
    <bean id="productPresellMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ProductPresellMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--商品类型 Mapper -->
    <bean id="productTypeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ProductTypeMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>


    <!--短信模板 Mapper -->
    <bean id="smsContentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.SmsContentMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--短信日志 Mapper -->
    <bean id="smsLogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.SmsLogMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--标签 Mapper -->
    <bean id="tagMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.TagMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--交易详情 Mapper -->
    <bean id="transDetailsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.TransDetailsMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--交易 Mapper -->
    <bean id="transMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.TransMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--交易验证券 Mapper -->
    <bean id="transSecurityTicketMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.TransSecurityTicketMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>


    <!--商户账户 Mapper -->
    <bean id="merchantAccountMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.MerchantAccountMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--客户端和资金渠道中间实体  hessian 服务 -->
    <bean id="clientChannelMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ClientChannelMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--送分规则 Mapper -->
    <bean id="presentPointsRuleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.PresentPointsRuleMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--提现规则 Mapper -->
    <bean id="withdrawPointsRuleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.WithdrawPointsRuleMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--退款 Mapper -->
    <bean id="refundsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.RefundsMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--库存 Mapper -->
    <bean id="stockPileMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.StockPileMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--库存日志 Mapper -->
    <bean id="stockPileLogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.StockPileLogMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--门店提货点关联  Mapper -->
    <bean id="outletPresellDeliveryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.OutletPresellDeliveryMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--现金和积分的比例  Mapper -->
    <bean id="cashPointsRatioMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.CashPointsRatioMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--退/换明细表  Mapper -->
    <bean id="returnSaleDetailMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ReturnSaleDetailMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--退/换  Mapper -->
    <bean id="returnSaleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ReturnSaleMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--预售商品于提货点关联  Mapper -->
    <bean id="productPresellDeliveryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ProductPresellDeliveryMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--限购规则-->
    <bean id="productRestrictRuleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.ProductRestrictRuleMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--限购规则-->
    <bean id="registerGivePointRuleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.RegisterGivePointRuleMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>

    <!--交易统计-->
    <bean id="transStatisticMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.froad.fft.persistent.api.TransStatisticMapper"/>
        <property name="sqlSessionFactory" ref="persistenceSqlSessionFactory"></property>
    </bean>
    <!-- Mapper -->    <!-- Mapper -->    <!-- Mapper -->

</beans>
