<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<description>秒杀接口服务</description>

	<servlet>
		<description>秒杀下单接口</description>
		<servlet-name>PlaceOrderServlet</servlet-name>
		<servlet-class>com.froad.jetty.servlet.PlaceOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaceOrderServlet</servlet-name>
		<url-pattern>/seckill/place_order</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>秒杀下单接口2</description>
		<servlet-name>PlaceOrder2Servlet</servlet-name>
		<servlet-class>com.froad.jetty.servlet.PlaceOrder2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaceOrder2Servlet</servlet-name>
		<url-pattern>/seckill/place_order2</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>秒杀查询接口</description>
		<servlet-name>QueryOrderServlet</servlet-name>
		<servlet-class>com.froad.jetty.servlet.QueryOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryOrderServlet</servlet-name>
		<url-pattern>/seckill/query_order</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>秒杀填充订单信息接口</description>
		<servlet-name>FillOrderServlet</servlet-name>
		<servlet-class>com.froad.jetty.servlet.FillOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FillOrderServlet</servlet-name>
		<url-pattern>/seckill/fill_order</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>秒杀收藏相关接口</description>
		<servlet-name>FavoriteProductServlet</servlet-name>
		<servlet-class>com.froad.jetty.servlet.FavoriteProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FavoriteProductServlet</servlet-name>
		<url-pattern>/seckill/favorite/product/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>秒杀服务器时间戳接口</description>
		<servlet-name>TimestampServlet</servlet-name>
		<servlet-class>com.froad.jetty.servlet.TimestampServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimestampServlet</servlet-name>
		<url-pattern>/seckill/current_timestamp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>秒杀商品相关接口</description>
		<servlet-name>SeckillProductServlet</servlet-name>
		<servlet-class>com.froad.jetty.servlet.SeckillProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SeckillProductServlet</servlet-name>
		<url-pattern>/seckill/query_stock</url-pattern>
	</servlet-mapping>
	
	<!-- 
	<filter>
        <filter-name>cross-origin</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
     -->
     
	<filter>
		<filter-name>SeckillFilter</filter-name>
		<filter-class>com.froad.filter.SeckillFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SeckillFilter</filter-name>
		<servlet-name>*</servlet-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<error-page>
		<error-code>400</error-code>
		<location>/error/400.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.html</location>
	</error-page>

</web-app>