<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.MerchantTempMapper">

	<resultMap type="MerchantTemp" id="merchantTempResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="auditId" column="audit_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="contactName" column="contact_name" />
		<result property="merchantCategoryId" column="merchant_category_id" />
		<result property="merchantCategoryName" column="merchant_category_name" />
		<result property="merchantTypeId" column="merchant_type_id" />
		<result property="merchantTypeName" column="merchant_type_name" />
		<result property="merchantTypeValue" column="merchant_type_value" />
		<result property="legalName" column="legal_name" />
		<result property="legalCredentType" column="legal_credent_type" />
		<result property="legalCredentNo" column="legal_credent_no" />
		<result property="orgCode" column="org_code" />
		<result property="orgName" column="org_name" />
		<result property="cityOrgCode" column="city_org_code" />
		<result property="cityOrgName" column="city_org_name" />
		<result property="countyOrgCode" column="county_org_code" />
		<result property="countyOrgName" column="county_org_name" />
		<result property="accountName" column="account_name" />
		<result property="acountNo" column="acount_no" />
		<result property="loginName" column="login_name" />
		<result property="loginMobile" column="login_mobile" />
		<result property="primeval" column="primeval" />
		
		<!-- 20151019 ll add 商户修改都是必审字段 -->
		<result property="merchantName" column="merchant_name" />
		<result property="phone" column="phone" />
		<result property="contactPhone" column="contact_phone" />
		<result property="license" column="license" />
		<result property="contractStaff" column="contract_staff" />
		
		<!-- 20151125 trimray add 增加外包字段 -->
		<result property="isOutsource" column="is_outsource" />
		<result property="companyId" column="company_id" />
		
	</resultMap>


	<!-- 添加  MerchantTemp -->
	<insert id="auditMerchant" parameterType="MerchantTemp" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_merchant_temp (
				create_time,client_id,audit_id,merchant_id,contact_name,merchant_category_id,merchant_category_name,merchant_type_id,merchant_type_name,merchant_type_value,legal_name,legal_credent_type,legal_credent_no,org_code,org_name,city_org_code,city_org_name,county_org_code,county_org_name,account_name,acount_no,login_name,login_mobile,primeval,merchant_name,phone,contact_phone,license,contract_staff,is_outsource,company_id   
			) VALUES (
				#{createTime},#{clientId},#{auditId},#{merchantId},#{contactName},#{merchantCategoryId},#{merchantCategoryName},#{merchantTypeId},#{merchantTypeName},#{merchantTypeValue},#{legalName},#{legalCredentType},#{legalCredentNo},#{orgCode},#{orgName},#{cityOrgCode},#{cityOrgName},#{countyOrgCode},#{countyOrgName},#{accountName},#{acountNo},#{loginName},#{loginMobile},#{primeval},#{merchantName},#{phone},#{contactPhone},#{license},#{contractStaff},#{isOutsource},#{companyId}    
			) 
		]]>
	</insert>
	
	
	<!-- 修改  MerchantTemp -->
	<update id="updateMerchantTemp" parameterType="Merchant">
		UPDATE cb_merchant_temp 
			<set>
				<if test="auditId != null">
					 audit_id = #{auditId},  
				</if>
			</set>
			 where merchant_id = #{merchantId} and audit_id='0'     
	</update>
	
	<!-- 物理删除 MerchantTemp -->
	<delete id="deleteMerchantTemp" parameterType="java.lang.String">
		DELETE FROM cb_merchant_temp WHERE merchant_id = #{merchantId}  and audit_id='0'      
	</delete>
	
	<!-- 根据审核流水号查询 -->
	<select id="findMerchantTempByAuditId" parameterType="java.lang.String" resultMap="merchantTempResultMap">
		select 
			id,create_time,client_id,audit_id,merchant_id,contact_name,merchant_category_id,merchant_category_name,merchant_type_id,merchant_type_name,merchant_type_value,legal_name,legal_credent_type,legal_credent_no,org_code,org_name,city_org_code,city_org_name,county_org_code,county_org_name,account_name,acount_no,login_name,login_mobile,primeval,merchant_name,phone,contact_phone,license,contract_staff,is_outsource,company_id      
		from cb_merchant_temp 
			where audit_id=#{thridId} order by create_time desc limit 1  
	</select>
	
	<!-- 取最近一笔商户Id变更记录 -->
	<select id="findMerchantTempByMerchantId" parameterType="java.lang.String" resultMap="merchantTempResultMap">
		select 
			id,create_time,client_id,audit_id,merchant_id,contact_name,merchant_category_id,merchant_category_name,merchant_type_id,merchant_type_name,merchant_type_value,legal_name,legal_credent_type,legal_credent_no,org_code,org_name,city_org_code,city_org_name,county_org_code,county_org_name,account_name,acount_no,login_name,login_mobile,primeval,merchant_name,phone,contact_phone,license,contract_staff,is_outsource,company_id      
		from cb_merchant_temp 
			where merchant_id=#{merchantId} order by create_time desc limit 1  
	</select>
	
	
	<select id="findMerchantTemp" parameterType="MerchantTemp" resultMap="merchantTempResultMap">
		select 
			id,create_time,client_id,audit_id,merchant_id,contact_name,merchant_category_id,merchant_category_name,merchant_type_id,merchant_type_name,merchant_type_value,legal_name,legal_credent_type,legal_credent_no,org_code,org_name,city_org_code,city_org_name,county_org_code,county_org_name,account_name,acount_no,login_name,login_mobile,primeval,merchant_name,phone,contact_phone,license,contract_staff,is_outsource,company_id        
		from cb_merchant_temp 
		
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="auditId != null">
				AND audit_id = #{auditId}
			</if>
			<if test="merchantId != null">
				AND merchant_id = #{merchantId}
			</if>
			<if test="orgCode != null">
				AND org_code = #{orgCode}
			</if>
		</where>
	</select>
</mapper>

