<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.MerchantRoleResourceMapper">

	<resultMap type="MerchantRoleResource" id="merchantRoleResourceResultMap">
		<result property="merchantRoleId" column="merchant_role_id" />
		<result property="merchantResourceId" column="merchant_resource_id" />
	</resultMap>


	<!-- 添加  MerchantRoleResource -->
	<insert id="addMerchantRoleResource" parameterType="MerchantRoleResource" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_merchant_role_resource (
				merchant_role_id,merchant_resource_id
			) VALUES (
				#{merchantRoleId},#{merchantResourceId}
			) 
		]]>
	</insert>


	<!-- 批量添加  MerchantRoleResource -->
	<insert id="addMerchantRoleResourceByBatch" parameterType="java.util.List">
		INSERT INTO cb_merchant_role_resource (
			merchant_role_id,merchant_resource_id
		) VALUES 
		<foreach collection="merchantRoleResourceList" item="item" index="index" separator=",">
			(#{merchantRoleId},#{merchantResourceId})
		</foreach>
	</insert>


	<!-- 删除  MerchantRoleResource -->
	<delete id="deleteMerchantRoleResource" parameterType="MerchantRoleResource">
		DELETE FROM cb_merchant_role_resource 
			<where>
				<if test="merchantRoleId != null">
					 AND merchant_role_id = #{merchantRoleId}
				</if>
				<if test="merchantResourceId != null">
					 AND merchant_resource_id = #{merchantResourceId}
				</if>
			</where>
	</delete>


	<!-- 修改  MerchantRoleResource -->
	<update id="updateMerchantRoleResource" parameterType="MerchantRoleResource">
		UPDATE cb_merchant_role_resource SET 
                                           merchant_role_id = #{merchantRoleId}
                                           , merchant_resource_id = #{merchantResourceId}

			<where>
				<if test="merchantRoleId != null">
					 AND merchant_role_id = #{merchantRoleId}
				</if>
				<if test="merchantResourceId != null">
					 AND merchant_resource_id = #{merchantResourceId}
				</if>
			</where>
	</update>


	<!-- 查询  MerchantRoleResource -->
	<select id="findMerchantRoleResourceByMerchant_role_id" parameterType="java.lang.Long" resultMap="merchantRoleResourceResultMap">
		SELECT 
            merchant_role_id,merchant_resource_id 
        FROM cb_merchant_role_resource 
        WHERE 
            merchant_role_id = #{merchantRoleId}

	</select>

	<!-- 查询  MerchantRoleResource -->
	<select id="findMerchantRoleResource" parameterType="MerchantRoleResource" resultMap="merchantRoleResourceResultMap">
		SELECT 
            merchant_role_id,merchant_resource_id 
        FROM cb_merchant_role_resource 
		<where>
			<if test="merchantRoleId != null">
				 AND merchant_role_id = #{merchantRoleId}
			</if>
			<if test="merchantResourceId != null">
				 AND merchant_resource_id = #{merchantResourceId}
			</if>
		</where>
	</select>

	<!-- 分页查询  MerchantRoleResource -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="merchantRoleResourceResultMap">
		SELECT 
            merchant_role_id,merchant_resource_id 
        FROM cb_merchant_role_resource 
		<if test="merchantRoleResource != null">
			<where>
				<if test="merchantRoleResource.merchantRoleId != null">
					 AND merchant_role_id = #{merchantRoleResource.merchantRoleId}
				</if>
				<if test="merchantRoleResource.merchantResourceId != null">
					 AND merchant_resource_id = #{merchantRoleResource.merchantResourceId}
				</if>
			</where>
		</if>
	</select>


</mapper>

