<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.MerchantOutletPhotoMapper">

	<resultMap type="MerchantOutletPhoto" id="merchantOutletPhotoResultMap">
		<id property="id" column="id" />
		<result property="merchantId" column="merchant_id" />
		<result property="outletId" column="outlet_id" />
		<result property="isDefault" column="is_default" />
		<result property="title" column="title" />
		<result property="source" column="source" />
		<result property="large" column="large" />
		<result property="medium" column="medium" />
		<result property="thumbnail" column="thumbnail" />
	</resultMap>


	<!-- 添加  MerchantOutletPhoto -->
	<insert id="addMerchantOutletPhoto" parameterType="MerchantOutletPhoto" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_merchant_outlet_photo (
				merchant_id,outlet_id,is_default,title,source,large,medium,thumbnail
			) VALUES (
				#{merchantId},#{outletId},#{isDefault},#{title},#{source},#{large},#{medium},#{thumbnail}
			) 
		]]>
	</insert>


	<!-- 批量添加  MerchantOutletPhoto -->
	<insert id="addMerchantOutletPhotoByBatch" parameterType="java.util.List">
		INSERT INTO cb_merchant_outlet_photo (
			merchant_id,outlet_id,is_default,title,source,large,medium,thumbnail
		) VALUES 
		<foreach collection="merchantOutletPhotoList" item="item" index="index" separator=",">
			(#{merchantId},#{outletId},#{isDefault},#{title},#{source},#{large},#{medium},#{thumbnail})
		</foreach>
	</insert>

	<!-- 根据门店id删除  MerchantOutletPhoto -->
	<delete id="deleteMerchantOutletPhotoByOutletId" parameterType="java.lang.String">
		DELETE FROM cb_merchant_outlet_photo WHERE outlet_id = #{outletId}
	</delete>

	<!-- 删除  MerchantOutletPhoto -->
	<delete id="deleteMerchantOutletPhoto" parameterType="MerchantOutletPhoto">
		DELETE FROM cb_merchant_outlet_photo 
			<where>
				<if test="id != null">
					 AND id = #{id}
				</if>
				<if test="merchantId != null">
					 AND merchant_id = #{merchantId}
				</if>
				<if test="outletId != null">
					 AND outlet_id = #{outletId}
				</if>
				<if test="isDefault != null">
					 AND is_default = #{isDefault}
				</if>
				<if test="title != null">
					 AND title = #{title}
				</if>
				<if test="source != null">
					 AND source = #{source}
				</if>
				<if test="large != null">
					 AND large = #{large}
				</if>
				<if test="medium != null">
					 AND medium = #{medium}
				</if>
				<if test="thumbnail != null">
					 AND thumbnail = #{thumbnail}
				</if>
			</where>
	</delete>


	<!-- 修改  MerchantOutletPhoto -->
	<update id="updateMerchantOutletPhoto" parameterType="MerchantOutletPhoto">		
	
		UPDATE cb_merchant_outlet_photo 
			<set>
				<if test="merchantId != null">
					  merchant_id = #{merchantId}, 
				</if>
				<if test="outletId != null">
					  outlet_id = #{outletId}, 
				</if>
				<if test="isDefault != null">
					  is_default = #{isDefault}, 
				</if>
				<if test="title != null">
					  title = #{title}, 
				</if>
				<if test="source != null">
					  source = #{source}, 
				</if>
				<if test="large != null">
					  large = #{large}, 
				</if>
				<if test="medium != null">
					  medium = #{medium}, 
				</if>
				<if test="thumbnail != null">
					thumbnail = #{thumbnail}, 
				</if>
			</set>
		where id = #{id}
	</update>


	<!-- 查询  MerchantOutletPhoto -->
	<select id="findMerchantOutletPhotoById" parameterType="java.lang.Long" resultMap="merchantOutletPhotoResultMap">
		SELECT 
            id,merchant_id,outlet_id,is_default,title,source,large,medium,thumbnail 
        FROM cb_merchant_outlet_photo 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询  MerchantOutletPhoto -->
	<select id="findMerchantOutletPhoto" parameterType="MerchantOutletPhoto" resultMap="merchantOutletPhotoResultMap">
		SELECT 
            id,merchant_id,outlet_id,is_default,title,source,large,medium,thumbnail 
        FROM cb_merchant_outlet_photo 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="merchantId != null">
				 AND merchant_id = #{merchantId}
			</if>
			<if test="outletId != null">
				 AND outlet_id = #{outletId}
			</if>
			<if test="isDefault != null">
				 AND is_default = #{isDefault}
			</if>
			<if test="title != null">
				 AND title = #{title}
			</if>
			<if test="source != null">
				 AND source = #{source}
			</if>
			<if test="large != null">
				 AND large = #{large}
			</if>
			<if test="medium != null">
				 AND medium = #{medium}
			</if>
			<if test="thumbnail != null">
				 AND thumbnail = #{thumbnail}
			</if>
		</where>
	</select>

	<!-- 分页查询  MerchantOutletPhoto -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="merchantOutletPhotoResultMap">
		SELECT 
            id,merchant_id,outlet_id,is_default,title,source,large,medium,thumbnail 
        FROM cb_merchant_outlet_photo 
		<if test="merchantOutletPhoto != null">
			<where>
				<if test="merchantOutletPhoto.id != null">
					 AND id = #{merchantOutletPhoto.id}
				</if>
				<if test="merchantOutletPhoto.merchantId != null">
					 AND merchant_id = #{merchantOutletPhoto.merchantId}
				</if>
				<if test="merchantOutletPhoto.outletId != null">
					 AND outlet_id = #{merchantOutletPhoto.outletId}
				</if>
				<if test="merchantOutletPhoto.isDefault != null">
					 AND is_default = #{merchantOutletPhoto.isDefault}
				</if>
				<if test="merchantOutletPhoto.title != null">
					 AND title = #{merchantOutletPhoto.title}
				</if>
				<if test="merchantOutletPhoto.source != null">
					 AND source = #{merchantOutletPhoto.source}
				</if>
				<if test="merchantOutletPhoto.large != null">
					 AND large = #{merchantOutletPhoto.large}
				</if>
				<if test="merchantOutletPhoto.medium != null">
					 AND medium = #{merchantOutletPhoto.medium}
				</if>
				<if test="merchantOutletPhoto.thumbnail != null">
					 AND thumbnail = #{merchantOutletPhoto.thumbnail}
				</if>
			</where>
		</if>
	</select>


</mapper>

