<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.OutletTempMapper">
	<resultMap type="OutletTemp" id="outletTempResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="auditId" column="audit_id" />
	    <result property="merchantId" column="merchant_id" />
	    <result property="outletId" column="outlet_id" />
		<result property="areaId" column="area_id" />
		<result property="outletName" column="outlet_name" />
		<result property="outletFullName" column="outlet_fullname" />
		<result property="address" column="address" />
		<result property="businessHours" column="business_hours" />
		<result property="zip" column="zip" />
		<result property="fax" column="fax" />
		<result property="phone" column="phone" />
		<result property="contactName" column="contact_name" />
		<result property="contactPhone" column="contact_phone" />
		<result property="contactEmail" column="contact_email" />
		<result property="longitude" column="longitude" />
		<result property="latitude" column="latitude" />
		<result property="description" column="description" />
		<result property="preferDetails" column="prefer_details" />
		<result property="discount" column="discount" />
		<result property="discountCode" column="discount_code" />
		<result property="discountRate" column="discount_rate" />
		<result property="acctName" column="acct_name" />
		<result property="acctNumber" column="acct_number" />
		<result property="photoList" column="photo_list" />
		<result property="primeval" column="primeval" />
		<result property="outletCategoryId" column="outlet_category_id" />
		<result property="outletCategoryName" column="outlet_category_name" />
	</resultMap>


	<!-- 添加  OutletTemp -->
	<insert id="addOutletTemp" parameterType="OutletTemp" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_outlet_temp (
			   create_time,client_id,audit_id,merchant_id,outlet_id,area_id,outlet_name,outlet_fullname,address,business_hours,zip,fax,phone,contact_name,contact_phone,contact_email,longitude,latitude,description,prefer_details,discount,discount_code,discount_rate,acct_name,acct_number,photo_list,primeval,outlet_category_id,outlet_category_name 
			) VALUES (
			   #{createTime},#{clientId},#{auditId},#{merchantId},#{outletId},#{areaId},#{outletName},#{outletFullName},#{address},#{businessHours},#{zip},#{fax},#{phone},#{contactName},#{contactPhone},#{contactEmail},#{longitude},#{latitude},#{description},#{preferDetails},#{discount},#{discountCode},#{discountRate},#{acctName},#{acctNumber},#{photoList},#{primeval},#{outletCategoryId},#{outletCategoryName}   
			) 
		]]>
	</insert>
	
	<!-- 通过审核流水号查询门店修改信息 -->
	<select id="findOutletTempByAuditId" parameterType="java.lang.String" resultMap="outletTempResultMap">
		select 
			id,create_time,client_id,audit_id,merchant_id,outlet_id,area_id,outlet_name,outlet_fullname,address,business_hours,zip,fax,phone,contact_name,contact_phone,contact_email,longitude,latitude,description,prefer_details,discount,discount_code,discount_rate,acct_name,acct_number,photo_list,primeval,outlet_category_id,outlet_category_name    
		 from cb_outlet_temp  where audit_id=#{auditId}   
	</select>
	
	<!-- 查询门店修改信息 -->
	<select id="findOutletTemp" parameterType="OutletTemp" resultMap="outletTempResultMap">
	select 
			id,create_time,client_id,audit_id,merchant_id,outlet_id,area_id,outlet_name,outlet_fullname,address,business_hours,zip,fax,phone,contact_name,contact_phone,contact_email,longitude,latitude,description,prefer_details,discount,discount_code,discount_rate,acct_name,acct_number,photo_list,primeval,outlet_category_id,outlet_category_name       
		 from cb_outlet_temp    
		
		<where>
			<if test="id != null">
				AND id = #{id} 
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime} 
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId} 
			</if>
			<if test="auditId != null">
				AND audit_id = #{auditId} 
			</if>
			<if test="merchantId != null">
				AND merchant_id = #{merchantId} 
			</if>
			<if test="outletId != null">
				AND outlet_id = #{outletId} 
			</if>
			<if test="areaId != null">
				AND area_id = #{areaId} 
			</if>
			<if test="outletName != null">
				AND outlet_name = #{outletName} 
			</if>
			<if test="outletFullName != null">
				AND outlet_fullname = #{outletFullName} 
			</if>
			<if test="address != null">
				AND address = #{address} 
			</if>
			<if test="businessHours != null">
				AND business_hours = #{businessHours} 
			</if>
			<if test="zip != null">
				AND zip = #{zip} 
			</if>
			<if test="fax != null">
				AND fax = #{fax} 
			</if>
			<if test="phone != null">
				AND phone = #{phone} 
			</if>
			<if test="contactName != null">
				AND contact_name = #{contactName} 
			</if>
			<if test="contactPhone != null">
				AND contact_phone = #{contactPhone} 
			</if>
			<if test="contactEmail != null">
				AND contact_email = #{contactEmail} 
			</if>
			<if test="longitude != null">
				AND longitude = #{longitude}  
			</if>
			<if test="latitude != null">
				AND latitude = #{latitude}   
			</if>		
			<if test="description != null">
				AND description = #{description} 
			</if>
			<if test="preferDetails != null">
				AND prefer_details = #{preferDetails} 
			</if>
			<if test="discount != null">
				AND discount = #{discount} 
			</if>
			<if test="discountCode != null">
				AND discount_code = #{discountCode} 
			</if>
			<if test="discountRate != null">
				AND discount_rate = #{discountRate} 
			</if>
			<if test="acctName != null">
				AND acct_name = #{acctName} 
			</if>
			<if test="acctNumber != null">
				AND acct_number = #{acctNumber} 
			</if>
			<if test="photoList != null">
				AND photo_list = #{photoList} 
			</if>
			<if test="primeval != null">
				AND primeval = #{primeval} 
			</if>
			<if test="outletCategoryId != null">
				AND outlet_category_id = #{outletCategoryId} 
			</if>
			<if test="outletCategoryName != null">
				AND outlet_category_name = #{outletCategoryName} 
			</if>
			
		</where>
	</select>
	
	<!-- 物理删除 outletTemp -->
	<delete id="removeOutletTemp" parameterType="OutletTemp">
		DELETE FROM cb_outlet_temp    
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime} 
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId} 
			</if>
			<if test="auditId != null">
				AND audit_id = #{auditId} 
			</if>
			<if test="merchantId != null">
				AND merchant_id = #{merchantId} 
			</if>
			<if test="outletId != null">
				AND outlet_id = #{outletId} 
			</if>
			<if test="areaId != null">
				AND area_id = #{areaId} 
			</if>
			<if test="outletName != null">
				AND outlet_name = #{outletName} 
			</if>
			<if test="outletFullName != null">
				AND outlet_fullname = #{outletFullName} 
			</if>
			<if test="address != null">
				AND address = #{address} 
			</if>
			<if test="businessHours != null">
				AND business_hours = #{businessHours} 
			</if>
			<if test="zip != null">
				AND zip = #{zip} 
			</if>
			<if test="fax != null">
				AND fax = #{fax} 
			</if>
			<if test="phone != null">
				AND phone = #{phone} 
			</if>
			<if test="contactName != null">
				AND contact_name = #{contactName} 
			</if>
			<if test="contactPhone != null">
				AND contact_phone = #{contactPhone} 
			</if>
			<if test="contactEmail != null">
				AND contact_email = #{contactEmail} 
			</if>
			<if test="longitude != null">
				AND longitude = #{longitude}  
			</if>
			<if test="latitude != null">
				AND latitude = #{latitude}   
			</if>
			<if test="description != null">
				AND description = #{description} 
			</if>
			<if test="preferDetails != null">
				AND prefer_details = #{preferDetails} 
			</if>
			<if test="discount != null">
				AND discount = #{discount} 
			</if>
			<if test="discountCode != null">
				AND discount_code = #{discountCode} 
			</if>
			<if test="discountRate != null">
				AND discount_rate = #{discountRate} 
			</if>
			<if test="acctName != null">
				AND acct_name = #{acctName} 
			</if>
			<if test="acctNumber != null">
				AND acct_number = #{acctNumber} 
			</if>
			<if test="photoList != null">
				AND photo_list = #{photoList} 
			</if>
			<if test="primeval != null">
				AND primeval = #{primeval} 
			</if>
			<if test="outletCategoryId != null">
				AND outlet_category_id = #{outletCategoryId} 
			</if>
			<if test="outletCategoryName != null">
				AND outlet_category_name = #{outletCategoryName} 
			</if>
		</where>
	</delete>
	
	<!-- 通过门店Id获取门店编辑信息. -->
	<select id="findOutletTempByOutletId" parameterType="java.lang.String" resultMap="outletTempResultMap">
		select 
			id,create_time,client_id,audit_id,merchant_id,outlet_id,area_id,outlet_name,outlet_fullname,address,business_hours,zip,fax,phone,contact_name,contact_phone,contact_email,longitude,latitude,description,prefer_details,discount,discount_code,discount_rate,acct_name,acct_number,photo_list,primeval,outlet_category_id,outlet_category_name        
		 from cb_outlet_temp    
		 <where>
			<if test="outletId != null">
			   AND outlet_id = #{outletId} 
			</if>
			<if test="auditId != null">
			   AND audit_id = #{auditId} 
			</if>
		</where>
		   order by id desc  limit 1  
	</select>
	
	<!-- 修改  uddateOutletTemp -->
	<update id="updateOutletTempByAuditId" parameterType="OutletTemp">
		UPDATE cb_outlet_temp 
			<set>
				<if test="auditId != null">
					 audit_id = #{auditId},  
				</if>
			</set>
			 where outlet_id = #{outletId} and audit_id='0'     
	</update>
	
	<!-- 修改门店编辑信息 -->
	<update id="uddateOutletTemp" parameterType="OutletTemp">
		update cb_outlet_temp   
		<set>
		   <if test="createTime != null">
				 create_time = #{createTime},  
			</if>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="auditId != null">
				audit_id = #{auditId},  
			</if>
			<if test="merchantId != null">
				merchant_id = #{merchantId},  
			</if>
			<if test="outletId != null">
				outlet_id = #{outletId},  
			</if>
			<if test="areaId != null">
				area_id = #{areaId},  
			</if>
			<if test="outletName != null">
				outlet_name = #{outletName}, 
			</if>
			<if test="outletFullName != null">
				outlet_fullname = #{outletFullName},  
			</if>
			<if test="address != null">
				address = #{address}, 
			</if>
			<if test="businessHours != null">
				business_hours = #{businessHours},  
			</if>
			<if test="zip != null">
				zip = #{zip},  
			</if>
			<if test="fax != null">
				fax = #{fax},  
			</if>
			<if test="phone != null">
				phone = #{phone},  
			</if>
			<if test="contactName != null">
				contact_name = #{contactName},  
			</if>
			<if test="contactPhone != null">
				contact_phone = #{contactPhone},  
			</if>
			<if test="contactEmail != null">
				contact_email = #{contactEmail},   
			</if>
			<if test="longitude != null">
				 longitude = #{longitude},   
			</if>
			<if test="latitude != null">
				 latitude = #{latitude},    
			</if>	
			<if test="description != null">
				description = #{description},  
			</if>
			<if test="preferDetails != null">
				prefer_details = #{preferDetails},  
			</if>
			<if test="discount != null">
				discount = #{discount},  
			</if>
			<if test="discountCode != null">
				discount_code = #{discountCode},  
			</if>
			<if test="discountRate != null">
				discount_rate = #{discountRate},  
			</if>
			<if test="acctName != null">
				acct_name = #{acctName},  
			</if>
			<if test="acctNumber != null">
				acct_number = #{acctNumber},  
			</if>
			<if test="photoList != null">
				photo_list = #{photoList},  
			</if>
			<if test="primeval != null">
				primeval = #{primeval}, 
			</if>
			<if test="outletCategoryId != null">
				outlet_category_id = #{outletCategoryId}, 
			</if>
			<if test="outletCategoryName != null">
				outlet_category_name = #{outletCategoryName} 
			</if>
			
		</set>		
		<where>
			<if test="id != null">
				AND id = #{id}  
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}  
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}  
			</if>
			<if test="auditId != null">
				AND audit_id = #{auditId}  
			</if>
			<if test="merchantId != null">
				AND merchant_id = #{merchantId}  
			</if>
			<if test="outletId != null">
				AND outlet_id = #{outletId}  
			</if>
			<if test="areaId != null">
				AND area_id = #{areaId}  
			</if>
			<if test="outletName != null">
				AND outlet_name = #{outletName}  
			</if>
			<if test="outletFullName != null">
				AND outlet_fullname = #{outletFullName}  
			</if>
			<if test="address != null">
				AND address = #{address}  
			</if>
			<if test="businessHours != null">
				AND business_hours = #{businessHours}  
			</if>
			<if test="zip != null">
				AND zip = #{zip}  
			</if>
			<if test="fax != null">
				AND fax = #{fax}  
			</if>
			<if test="phone != null">
				AND phone = #{phone}  
			</if>
			<if test="contactName != null">
				AND contact_name = #{contactName}  
			</if>
			<if test="contactPhone != null">
				AND contact_phone = #{contactPhone}  
			</if>
			<if test="contactEmail != null">
				AND contact_email = #{contactEmail}  
			</if>
			<if test="longitude != null">
				AND longitude = #{longitude}  
			</if>
			<if test="latitude != null">
				AND latitude = #{latitude}   
			</if>	
			<if test="description != null">
				AND description = #{description}  
			</if>
			<if test="preferDetails != null">
				AND prefer_details = #{preferDetails}  
			</if>
			<if test="discount != null">
				AND discount = #{discount}  
			</if>
			<if test="discountCode != null">
				AND discount_code = #{discountCode}  
			</if>
			<if test="discountRate != null">
				AND discount_rate = #{discountRate}  
			</if>
			<if test="acctName != null">
				AND acct_name = #{acctName}  
			</if>
			<if test="acctNumber != null">
				AND acct_number = #{acctNumber}  
			</if>
			<if test="photoList != null">
				AND photo_list = #{photoList}  
			</if>
			<if test="primeval != null">
				AND primeval = #{primeval}  
			</if>
			<if test="outletCategoryId != null">
				AND outlet_category_id = #{outletCategoryId} 
			</if>
			<if test="outletCategoryName != null">
				AND outlet_category_name = #{outletCategoryName} 
			</if>
		</where>
	</update>	
</mapper>