<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.OutletMapper">

	<resultMap type="Outlet" id="outletResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="outletId" column="outlet_id" />
		<result property="areaId" column="area_id" />
		<result property="orderValue" column="order_value" />
		<result property="outletName" column="outlet_name" />
		<result property="outletFullname" column="outlet_fullname" />
		<result property="outletStatus" column="outlet_status" />
		<result property="address" column="address" />
		<result property="businessHours" column="business_hours" />
		<result property="zip" column="zip" />
		<result property="fax" column="fax" />
		<result property="phone" column="phone" />
		<result property="contactName" column="contact_name" />
		<result property="contactPhone" column="contact_phone" />
		<result property="contactEmail" column="contact_email" />
		<result property="serviceProvider" column="service_provider" />
		<result property="longitude" column="longitude" />
		<result property="latitude" column="latitude" />
		<result property="isEnable" column="is_enable" />
		<result property="disableStatus" column="disable_status" />
		<result property="description" column="description" />
		<result property="preferDetails" column="prefer_details" />
		<result property="preferStartPeriod" column="prefer_start_period" />
		<result property="preferEndPeriod" column="prefer_end_period" />
		<result property="discount" column="discount" />
		<result property="discountCode" column="discount_code" />
		<result property="discountRate" column="discount_rate" />
		<result property="auditTime" column="audit_time" />
		<result property="auditComment" column="audit_comment" />
		<result property="auditStaff" column="audit_staff" />
		<result property="auditState" column="audit_state" />
		<result property="editAuditState" column="edit_audit_state" />
		<result property="isDefault" column="is_default" />
		<result property="preferStatus" column="prefer_status" />
		<result property="qrcodeUrl" column="qrcode_url" />
	</resultMap>
		
	<!-- 门店惠付分页返回结构 -->
	<resultMap type="OutletPrefer" id="outletPreferResultMap">
		<id property="id" column="id" />
		<result property="license" column="license"/>
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="outletId" column="outlet_id" />
		<result property="merchantName" column="merchant_name"/>
		<result property="outletName" column="outlet_name" />
		<result property="areaId" column="area_id" />
		<result property="areaName" column="name"/>
		<result property="address" column="address" />
		<result property="createTime" column="create_time" />
		<result property="auditTime" column="audit_time" />
		<result property="disableStatus" column="disable_status" />
		<result property="auditState" column="audit_state"/>
		<result property="editAuditState" column="edit_audit_state"/>
		<result property="orgCode" column="org_code" />
		<result property="orgName" column="org_name" />		
		<result property="isEnable" column="is_enable" />
		<result property="disableStatus" column="disable_status" />
		<result property="isDefault" column="is_default" />
		<result property="qrcodeUrl" column="qrcode_url" />
		<result property="preferStatus" column="prefer_status" />
		<result property="treePathName" column="tree_path_name" />
		<result property="discountRate" column="discount_rate" />
	</resultMap>	


	<!-- 添加  Outlet -->
	<insert id="addOutlet" parameterType="Outlet" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_outlet (
				create_time,client_id,merchant_id,outlet_id,area_id,order_value,outlet_name,outlet_fullname,outlet_status,address,business_hours,zip,fax,phone,contact_name,contact_phone,contact_email,service_provider,longitude,latitude,is_enable,disable_status,description,prefer_details,prefer_start_period,prefer_end_period,discount,discount_code,discount_rate,audit_time,audit_comment,audit_staff,audit_state,edit_audit_state,is_default,prefer_status,qrcode_url 
			) VALUES (
				#{createTime},#{clientId},#{merchantId},#{outletId},#{areaId},#{orderValue},#{outletName},#{outletFullname},#{outletStatus},#{address},#{businessHours},#{zip},#{fax},#{phone},#{contactName},#{contactPhone},#{contactEmail},#{serviceProvider},#{longitude},#{latitude},#{isEnable},#{disableStatus},#{description},#{preferDetails},#{preferStartPeriod},#{preferEndPeriod},#{discount},#{discountCode},#{discountRate},#{auditTime},#{auditComment},#{auditStaff},#{auditState},#{editAuditState}
				,#{isDefault},#{preferStatus},#{qrcodeUrl}
			) 
		]]>
	</insert>


	<!-- 批量添加  Outlet -->
	<insert id="addOutletByBatch" parameterType="java.util.List">
		INSERT INTO cb_outlet (
			create_time,client_id,merchant_id,outlet_id,area_id,order_value,outlet_name,outlet_fullname,outlet_status,address,business_hours,zip,fax,phone,contact_name,contact_phone,contact_email,service_provider,longitude,latitude,is_enable,disable_status,description,prefer_details,prefer_start_period,prefer_end_period,discount,discount_code,discount_rate,audit_time,audit_comment,audit_staff,audit_state,edit_audit_state,is_default,prefer_status,qrcode_url
		) VALUES 
		<foreach collection="outletList" item="item" index="index" separator=",">
			#{createTime},#{clientId},#{merchantId},#{outletId},#{areaId},#{orderValue},#{outletName},#{outletFullname},#{outletStatus},#{address},#{businessHours},#{zip},#{fax},#{phone},#{contactName},#{contactPhone},#{contactEmail},#{serviceProvider},#{longitude},#{latitude},#{isEnable},#{disableStatus},#{description},#{preferDetails},#{preferStartPeriod},#{preferEndPeriod},#{discount},#{discountCode},#{discountRate},#{auditTime},#{auditComment},#{auditStaff},#{auditState},#{editAuditState}
			,,#{isDefault},#{preferStatus},#{qrcodeUrl}
		</foreach>
	</insert>


	<!-- 删除  Outlet -->
	<update id="deleteOutlet" parameterType="Outlet">
		UPDATE cb_outlet SET is_enable = false , disable_status = 2 
			<where>
				<if test="id != null">
					 AND id = #{id}
				</if>
				<if test="clientId != null">
					 AND client_id = #{clientId}
				</if>
				<if test="merchantId != null">
					 AND merchant_id = #{merchantId}
				</if>
				<if test="outletId != null">
					 AND outlet_id = #{outletId}
				</if>
			</where>
	</update>

	<!-- 物理删除  Outlet -->
	<delete id="removeOutlet" parameterType="java.lang.String">
		DELETE FROM cb_outlet WHERE outlet_id = #{outletId}
	</delete>

	<!-- 修改  Outlet -->
	<update id="updateOutlet" parameterType="Outlet">
		UPDATE cb_outlet  
			<set>
				<if test="clientId != null">
					  client_id = #{clientId}, 
				</if>
			 <if test="merchantId != null">
					  merchant_id = #{merchantId},  
				</if>
				<if test="outletId != null">
					  outlet_id = #{outletId},  
				</if> 	
				<if test="areaId != null">
					  area_id = #{areaId},  
				</if>
				<if test="orderValue != null">
					  order_value = #{orderValue},  
				</if>
				<if test="outletName != null">
					  outlet_name = #{outletName},  
				</if>
				<if test="outletFullname != null">
					  outlet_fullname = #{outletFullname}, 
				</if>
				<if test="outletStatus != null">
					  outlet_status = #{outletStatus}, 
				</if>
				<if test="address != null">
					  address = #{address}, 
				</if>
				<if test="businessHours != null">
					  business_hours = #{businessHours}, 
				</if>
				<if test="zip != null">
					  zip = #{zip}, 
				</if>
				<if test="fax != null">
					  fax = #{fax}, 
				</if>
				<if test="phone != null">
					  phone = #{phone}, 
				</if>
				<if test="contactName != null">
					  contact_name = #{contactName}, 
				</if>
				<if test="contactPhone != null">
					  contact_phone = #{contactPhone}, 
				</if>
				<if test="contactEmail != null">
					  contact_email = #{contactEmail}, 
				</if>
				<if test="serviceProvider != null">
					  service_provider = #{serviceProvider}, 
				</if>
				<if test="longitude != null">
					  longitude = #{longitude}, 
				</if>
				<if test="latitude != null">
					  latitude = #{latitude}, 
				</if>
				<if test="isEnable != null">
					  is_enable = #{isEnable}, 
				</if>
				<if test="disableStatus != null">
					  disable_status = #{disableStatus}, 
				</if>
				<if test="description != null">
					  description = #{description}, 
				</if>
				<if test="preferDetails != null">
					  prefer_details = #{preferDetails}, 
				</if>
				<if test="preferStartPeriod != null">
					  prefer_start_period = #{preferStartPeriod}, 
				</if>
				<if test="preferEndPeriod != null">
					  prefer_end_period = #{preferEndPeriod}, 
				</if>
				<if test="discount != null">
					  discount = #{discount}, 
				</if>
				<if test="discountCode != null">
					  discount_code = #{discountCode}, 
				</if>
				<if test="discountRate != null">
					  discount_rate = #{discountRate}, 
				</if>				
				<if test="auditTime != null">
					  audit_time = #{auditTime}, 
				</if>
				<if test="auditComment != null">
					  audit_comment = #{auditComment}, 
				</if>
				<if test="auditStaff != null">
					  audit_staff = #{auditStaff}, 
				</if>
				<if test="auditState != null">
					  audit_state = #{auditState}, 
				</if>
				<if test="editAuditState != null">
					  edit_audit_state = #{editAuditState}, 
				</if>	
				<if test="isDefault != null">
					  is_default = #{isDefault}, 
				</if>				
				<if test="preferStatus != null">
					  prefer_status = #{preferStatus}, 
				</if>
				<if test="qrcodeUrl != null">
					  qrcode_url = #{qrcodeUrl}, 
				</if>
				
			</set>
			<where>
				<if test="id != null">
					 AND id = #{id}
				</if>
				
				<if test="outletId != null">
					 AND outlet_id = #{outletId}
				</if>
				<if test="merchantId != null">
					 AND merchant_id = #{merchantId}
				</if>
			</where>
	</update>


	<!-- 禁用  Outlet -->
	<update id="disableOutlet" parameterType="java.lang.String">
		UPDATE cb_outlet SET is_enable = false , disable_status = 1 
			where outlet_id = #{outletId}
	</update>
	

	<!-- 查询  Outlet -->
	<select id="findOutletById" parameterType="java.lang.Long" resultMap="outletResultMap">
		SELECT 
            id,create_time,client_id,merchant_id,outlet_id,area_id,order_value,outlet_name,outlet_fullname,outlet_status,address,business_hours,zip,fax,phone,contact_name,contact_phone,contact_email,service_provider,longitude,latitude,is_enable,disable_status,description,prefer_details,prefer_start_period,prefer_end_period,discount,audit_time,audit_comment,audit_staff,audit_state,edit_audit_state,is_default,prefer_status,qrcode_url  
        FROM cb_outlet 
        WHERE 
            id = #{id}

	</select>
	
	<!-- 查询  Outlet -->
	<select id="findOutletByOutletId" parameterType="java.lang.String" resultMap="outletResultMap">
		SELECT 
            id,create_time,client_id,merchant_id,outlet_id,area_id,order_value,outlet_name,outlet_fullname,outlet_status,address,business_hours,zip,fax,phone,contact_name,contact_phone,contact_email,service_provider,longitude,latitude,is_enable,disable_status,description,prefer_details,prefer_start_period,prefer_end_period,discount,discount_code,discount_rate,audit_time,audit_comment,audit_staff,audit_state,edit_audit_state,is_default,prefer_status,qrcode_url 
        FROM cb_outlet 
        WHERE 
            outlet_id = #{outletId}

	</select>

	<!-- 查询  Outlet -->
	<select id="findOutlet" parameterType="Outlet" resultMap="outletResultMap" fetchSize="1000">
		SELECT 
            id,create_time,client_id,merchant_id,outlet_id,area_id,order_value,outlet_name,outlet_fullname,outlet_status,address,business_hours,zip,fax,phone,contact_name,contact_phone,contact_email,service_provider,longitude,latitude,is_enable,disable_status,description,prefer_details,prefer_start_period,prefer_end_period,discount,discount_code,discount_rate,audit_time,audit_comment,audit_staff,audit_state,edit_audit_state,is_default,prefer_status,qrcode_url  
        FROM cb_outlet 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="merchantId != null">
				 AND merchant_id = #{merchantId}
			</if>
			<if test="outletId != null">
				 AND outlet_id = #{outletId}
			</if>
			<if test="areaId != null">
				 AND area_id = #{areaId}
			</if>
			<if test="orderValue != null">
				 AND order_value = #{orderValue}
			</if>
			<if test="outletName != null">
				 AND outlet_name like CONCAT('%',#{outletName},'%' )
			</if>
			<if test="outletFullname != null">
				 AND outlet_fullname like CONCAT('%',#{outletFullname},'%' )
			</if>
			<if test="outletStatus != null">
				 AND outlet_status = #{outletStatus}
			</if>
			<if test="address != null">
				 AND address like CONCAT('%', #{address}, '%' )
			</if>
			<if test="businessHours != null">
				 AND business_hours = #{businessHours}
			</if>
			<if test="zip != null">
				 AND zip = #{zip}
			</if>
			<if test="fax != null">
				 AND fax = #{fax}
			</if>
			<if test="phone != null">
				 AND phone = #{phone}
			</if>
			<if test="contactName != null">
				 AND contact_name = #{contactName}
			</if>
			<if test="contactPhone != null">
				 AND contact_phone = #{contactPhone}
			</if>
			<if test="contactEmail != null">
				 AND contact_email = #{contactEmail}
			</if>
			<if test="serviceProvider != null">
				 AND service_provider = #{serviceProvider}
			</if>
			<if test="longitude != null">
				 AND longitude = #{longitude}
			</if>
			<if test="latitude != null">
				 AND latitude = #{latitude}
			</if>
			<if test="isEnable != null">
				 AND is_enable = #{isEnable}
			</if>
			<if test="disableStatus != null">
				 AND disable_status = #{disableStatus}
			</if>
			<if test="description != null">
				 AND description = #{description}
			</if>
			<if test="preferDetails != null">
				 AND prefer_details = #{preferDetails}
			</if>
			<if test="preferStartPeriod != null">
				 AND prefer_start_period = #{preferStartPeriod}
			</if>
			<if test="preferEndPeriod != null">
				 AND prefer_end_period = #{preferEndPeriod}
			</if>
			<if test="discount != null">
				 AND discount = #{discount}
			</if>
			<if test="auditTime != null">
				 AND audit_time = #{auditTime}
			</if>
			<if test="auditComment != null">
				 AND audit_comment = #{auditComment}
			</if>
			<if test="auditStaff != null">
				 AND audit_staff = #{auditStaff}
			</if>
			<if test="auditState != null">
				 AND audit_state = #{auditState}
			</if>
			<if test="editAuditState != null">
				 AND edit_audit_state = #{editAuditState}
			</if>
			<if test="isDefault != null">
				 AND is_default = #{isDefault}
			</if>
			<if test="preferStatus != null">
				 AND prefer_status = #{preferStatus}
			</if>			
			<if test="disableStatusList != null and disableStatusList.size > 0">	 
			     AND disable_status IN 
	  	    	<foreach item="item" collection="disableStatusList"  separator="," open="(" close=")" index="">
	             	#{item}      	
	  			</foreach>
			</if>
		</where>
		 LIMIT 1000 
	</select>
	
	<!-- 查询机构对应的虚拟门店 -->
	<select id="findBankOutlet" resultMap="outletResultMap">
		SELECT 
            cl.* 
        FROM cb_outlet cl LEFT JOIN cb_merchant cm ON cl.merchant_id = cm.merchant_id 
		<where>
		 AND cl.outlet_status = true
		 AND cl.is_enable = true
		 AND cl.client_id = #{clientId}
		 AND cm.merchant_status = true
		 AND cm.is_enable = true
		 AND cm.org_code = #{orgCode}
		</where>
		 LIMIT 1
	</select>
	
	<!-- 查询提货网点(预售用到) -->
	<select id="findSubBankOutlet" resultMap="outletResultMap" fetchSize="1000">
		SELECT 
            cl.outlet_id, cl.outlet_name  
        FROM cb_outlet cl LEFT JOIN cb_org co ON cl.outlet_id = co.outlet_id 
		<where>
		 AND (co.province_agency = #{orgCode} OR co.city_agency = #{orgCode} OR co.county_agency = #{orgCode}) 
		 AND co.org_code <![CDATA[ <> ]]> #{orgCode}
		 AND cl.client_id = #{clientId}
		 AND cl.outlet_status = true
		 AND cl.is_enable = true
		</where>
		 LIMIT 1000 
	</select>
	
	<!-- 统计 Outlet -->
	<select id="countOutlet" parameterType="Outlet" resultType="java.lang.Integer">
		SELECT 
            count(id) 
        FROM cb_outlet 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="merchantId != null">
				 AND merchant_id = #{merchantId}
			</if>
			<if test="outletId != null">
				 AND outlet_id = #{outletId}
			</if>
			<if test="areaId != null">
				 AND area_id = #{areaId}
			</if>
			<if test="orderValue != null">
				 AND order_value = #{orderValue}
			</if>
			<if test="outletName != null">
				 AND outlet_name = #{outletName}
			</if>
			<if test="outletFullname != null">
				 AND outlet_fullname = #{outletFullname} 
			</if>
			<if test="outletStatus != null">
				 AND outlet_status = #{outletStatus}
			</if>
			<if test="address != null">
				 AND address like CONCAT('%', #{address}, '%' )
			</if>
			<if test="businessHours != null">
				 AND business_hours = #{businessHours}
			</if>
			<if test="zip != null">
				 AND zip = #{zip}
			</if>
			<if test="fax != null">
				 AND fax = #{fax}
			</if>
			<if test="phone != null">
				 AND phone = #{phone}
			</if>
			<if test="contactName != null">
				 AND contact_name = #{contactName}
			</if>
			<if test="contactPhone != null">
				 AND contact_phone = #{contactPhone}
			</if>
			<if test="contactEmail != null">
				 AND contact_email = #{contactEmail}
			</if>
			<if test="serviceProvider != null">
				 AND service_provider = #{serviceProvider}
			</if>
			<if test="longitude != null">
				 AND longitude = #{longitude}
			</if>
			<if test="latitude != null">
				 AND latitude = #{latitude}
			</if>
			<if test="isEnable != null">
				 AND is_enable = #{isEnable}
			</if>
			<if test="disableStatus != null">
				 AND disable_status = #{disableStatus}
			</if>
			<if test="description != null">
				 AND description = #{description}
			</if>
			<if test="preferDetails != null">
				 AND prefer_details = #{preferDetails}
			</if>
			<if test="preferStartPeriod != null">
				 AND prefer_start_period = #{preferStartPeriod}
			</if>
			<if test="preferEndPeriod != null">
				 AND prefer_end_period = #{preferEndPeriod}
			</if>
			<if test="discount != null">
				 AND discount = #{discount}
			</if>
			<if test="auditTime != null">
				 AND audit_time = #{auditTime}
			</if>
			<if test="auditComment != null">
				 AND audit_comment = #{auditComment}
			</if>
			<if test="auditStaff != null">
				 AND audit_staff = #{auditStaff}
			</if>
			<if test="auditState != null">
				 AND audit_state = #{auditState}
			</if>
			<if test="editAuditState != null">
				 AND edit_audit_state = #{editAuditState}
			</if>
			<if test="preferStatus != null">
				 AND prefer_status = #{preferStatus}
			</if>
			<if test="disableStatusList != null and disableStatusList.size > 0">	 
			     AND disable_status IN 
	  	    	<foreach item="item" collection="disableStatusList"  separator="," open="(" close=")" index="">
	             	#{item}      	
	  			</foreach>
			</if>
		</where>
	</select>
	
	<!-- 查询 Bank Outlet -->
	<select id="findBankOutletByMerchantIdList" parameterType="java.util.List" resultMap="outletResultMap">
		SELECT 
            id,create_time,client_id,merchant_id,outlet_id,area_id,order_value,outlet_name,outlet_fullname,outlet_status,address,business_hours,zip,fax,phone,contact_name,contact_phone,contact_email,service_provider,longitude,latitude,is_enable,disable_status,description,prefer_details,prefer_start_period,prefer_end_period,discount,audit_time,audit_comment,audit_staff,audit_state,edit_audit_state,is_default,prefer_status,qrcode_url   
        FROM cb_outlet 
		<where>				
			
				 is_enable = true
				 AND outlet_status = true
				 
			<if test="merchantIdList != null and merchantIdList.size > 0">	 
				 AND merchant_id IN 
	  	    	<foreach item="item" collection="merchantIdList"  separator="," open="(" close=")" index="">
	             	#{item}      	
	  			</foreach>
			</if>
			
			
		</where>
	</select>

	<!-- 分页查询  Outlet -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="outletResultMap">
		SELECT 
            id,create_time,client_id,merchant_id,outlet_id,area_id,order_value,outlet_name,outlet_fullname,outlet_status,address,business_hours,zip,fax,phone,contact_name,contact_phone,contact_email,service_provider,longitude,latitude,is_enable,disable_status,description,prefer_details,prefer_start_period,prefer_end_period,discount,audit_time,audit_comment,audit_staff,audit_state,edit_audit_state,is_default,prefer_status,qrcode_url 
        FROM cb_outlet 
		<if test="outlet != null">
			<where>
				<if test="outlet.id != null">
					 AND id = #{outlet.id} 
				</if>
				<if test="outlet.createTime != null">
					 AND create_time = #{outlet.createTime}
				</if>
				<if test="outlet.startCreateTime != null">
					 AND create_time <![CDATA[ >= ]]> #{outlet.startCreateTime}
				</if>
				<if test="outlet.endCreateTime != null">				
					 AND create_time <![CDATA[ <= ]]> #{outlet.endCreateTime}
				</if>
				<if test="outlet.clientId != null">
					 AND client_id = #{outlet.clientId}
				</if>
				<if test="outlet.merchantId != null">
					 AND merchant_id = #{outlet.merchantId}
				</if>
				<if test="outlet.outletId != null">
					 AND outlet_id = #{outlet.outletId}
				</if>
				<if test="outlet.areaId != null">
					 AND area_id = #{outlet.areaId}
				</if>
				<if test="outlet.orderValue != null">
					 AND order_value = #{outlet.orderValue}
				</if>
				<if test="outlet.outletName != null">
					 AND outlet_name like CONCAT('%',#{outlet.outletName},'%' )
				</if>
				<if test="outlet.outletFullname != null">
					 AND outlet_fullname like CONCAT('%',#{outlet.outletFullname},'%' )
				</if>
				<if test="outlet.outletStatus != null">
					 AND outlet_status = #{outlet.outletStatus}
				</if>
				<if test="outlet.address != null">
					 AND address like CONCAT('%', #{outlet.address}, '%' )
				</if>
				<if test="outlet.businessHours != null">
					 AND business_hours = #{outlet.businessHours}
				</if>
				<if test="outlet.zip != null">
					 AND zip = #{outlet.zip}
				</if>
				<if test="outlet.fax != null">
					 AND fax = #{outlet.fax}
				</if>
				<if test="outlet.phone != null">
					 AND phone = #{outlet.phone}
				</if>
				<if test="outlet.contactName != null">
					 AND contact_name = #{outlet.contactName}
				</if>
				<if test="outlet.contactPhone != null">
					 AND contact_phone = #{outlet.contactPhone}
				</if>
				<if test="outlet.contactEmail != null">
					 AND contact_email = #{outlet.contactEmail}
				</if>
				<if test="outlet.serviceProvider != null">
					 AND service_provider = #{outlet.serviceProvider}
				</if>
				<if test="outlet.longitude != null">
					 AND longitude = #{outlet.longitude}
				</if>
				<if test="outlet.latitude != null">
					 AND latitude = #{outlet.latitude}
				</if>
				<if test="outlet.isEnable != null">
					 AND is_enable = #{outlet.isEnable}
				</if>
				<if test="outlet.disableStatus != null">
					 AND disable_status = #{outlet.disableStatus}
				</if>
				<if test="outlet.description != null">
					 AND description = #{outlet.description}
				</if>
				<if test="outlet.preferDetails != null">
					 AND prefer_details = #{outlet.preferDetails}
				</if>
				<if test="outlet.preferStartPeriod != null">
				 	AND prefer_start_period = #{outlet.preferStartPeriod}
				</if>
				<if test="outlet.preferEndPeriod != null">
					 AND prefer_end_period = #{outlet.preferEndPeriod}
				</if>
				<if test="outlet.discount != null">
					 AND discount = #{outlet.discount}
				</if>
				<if test="outlet.auditTime != null">
					 AND audit_time = #{outlet.auditTime}
				</if>
				<if test="outlet.auditComment != null">
					 AND audit_comment = #{outlet.auditComment}
				</if>
				<if test="outlet.auditStaff != null">
					 AND audit_staff = #{outlet.auditStaff}
				</if>
				<if test="outlet.preferStatus != null">
					 AND prefer_status = #{outlet.preferStatus}
				</if>
				
				<!-- 0=审核中    1=审核通过     2=审核不通过     	3=未提交    4=删除    5=全部  -->
				<if test="outlet.auditState != null and outlet.auditState == '0'.toString()">
					AND (audit_state = '0' OR audit_state = '4' OR edit_audit_state = '0' OR edit_audit_state = '4' )
				</if>
				<if test="outlet.auditState != null and outlet.auditState == '1'.toString()">
					AND (audit_state = '1' OR (audit_state = '1'  AND edit_audit_state = '1') )
				</if>
				<if test="outlet.auditState != null and outlet.auditState == '2'.toString()">
					AND (audit_state = '2' OR edit_audit_state = '2' )
				</if>
				<if test="outlet.auditState != null and outlet.auditState == '3'.toString()">
					AND (audit_state = '3' OR edit_audit_state = '3' )
				</if>
				<if test="outlet.auditState != null and outlet.auditState == '4'.toString()">
					AND disable_status ='2'
				</if>

				<if test="outlet.disableStatusList != null and outlet.disableStatusList.size > 0">	 
				     AND disable_status IN 
		  	    	<foreach item="item" collection="outlet.disableStatusList"  separator="," open="(" close=")" index="">
		             	#{item}      	
		  			</foreach>
				</if>
				
			</where>
			 <if test="orderBy != null">
				 ORDER BY 
				  is_default DESC,
	        	<foreach item="item" collection="orderBy"  index="key">
				 	${key} ${item} , 
				</foreach>
				 create_time
        	</if>
		</if>
	</select>
<!-- 修改  Outlet -->
	<update id="updateOutletByOutletId" parameterType="Outlet">
		UPDATE cb_outlet  
			<set>
				<if test="areaId != null">
					  area_id = #{areaId}, 
				</if>
				<if test="orderValue != null">
					  order_value = #{orderValue}, 
				</if>
				<if test="outletName != null">
					  outlet_name = #{outletName}, 
				</if>
				<if test="outletFullname != null">
					  outlet_fullname = #{outletFullname}, 
				</if>
				<if test="outletStatus != null">
					  outlet_status = #{outletStatus}, 
				</if>
				<if test="address != null">
					  address = #{address}, 
				</if>
				<if test="businessHours != null">
					  business_hours = #{businessHours}, 
				</if>
				<if test="zip != null">
					  zip = #{zip}, 
				</if>
				<if test="fax != null">
					  fax = #{fax}, 
				</if>
				<if test="phone != null">
					  phone = #{phone}, 
				</if>
				<if test="contactName != null">
					  contact_name = #{contactName}, 
				</if>
				<if test="contactPhone != null">
					  contact_phone = #{contactPhone}, 
				</if>
				<if test="contactEmail != null">
					  contact_email = #{contactEmail}, 
				</if>
				<if test="serviceProvider != null">
					  service_provider = #{serviceProvider}, 
				</if>
				<if test="longitude != null">
					  longitude = #{longitude}, 
				</if>
				<if test="latitude != null">
					  latitude = #{latitude}, 
				</if>
				<if test="isEnable != null">
					  is_enable = #{isEnable}, 
				</if>
				<if test="disableStatus != null">
					  disable_status = #{disableStatus}, 
				</if>
				<if test="description != null">
					  description = #{description}, 
				</if>
				<if test="preferDetails != null">
					  prefer_details = #{preferDetails}, 
				</if>
				<if test="preferStartPeriod != null">
					  prefer_start_period = #{preferStartPeriod}, 
				</if>
				<if test="preferEndPeriod != null">
					  prefer_end_period = #{preferEndPeriod}, 
				</if>
				<if test="discount != null">
					  discount = #{discount}, 
				</if>
				<if test="discountCode != null">
					  discount_code = #{discountCode}, 
				</if>
				<if test="discountRate != null">
					  discount_rate = #{discountRate}, 
				</if>
				<if test="auditComment != null">
					  audit_comment = #{auditComment}, 
				</if>
				<if test="auditStaff != null">
					  audit_staff = #{auditStaff}, 
				</if>
				<if test="auditState != null">
					  audit_state = #{auditState}, 
				</if>
				<if test="editAuditState != null">
					  edit_audit_state = #{editAuditState}, 
				</if>
				<if test="auditTime != null">
					  audit_time = #{auditTime}, 
				</if>
				<if test="preferStatus != null">
					  prefer_status = #{preferStatus}, 
				</if>
				<if test="qrcodeUrl != null">
					  qrcode_url = #{qrcodeUrl}, 
				</if>
			</set>
			<where>
				<if test="id != null">
					 AND id = #{id}
				</if>
				
				<if test="outletId != null">
					 AND outlet_id = #{outletId}
				</if>
				<if test="merchantId != null">
					 AND merchant_id = #{merchantId}
				</if>
			</where>
	</update>
	<!-- 判断是否默认门店 -->
	<select id="countIsDefault"   parameterType="Outlet" resultType="java.lang.Integer" >
	SELECT 
            count(id) 
        FROM cb_outlet WHERE merchant_id=#{merchantId} AND audit_state = #{auditState} AND is_default=#{isDefault}
	
	</select>
	
    <!-- 惠付分页查询 -->
	<select id="findOutletPreferByPage" parameterType="java.util.HashMap" resultMap="outletPreferResultMap">
		SELECT 
			t.id,b.license,t.client_id,t.merchant_id,t.outlet_id,b.merchant_name,t.outlet_name,t.area_id,s.name,s.tree_path_name,
			t.address,t.create_time,t.audit_time,t.disable_status,t.audit_state,t.edit_audit_state,o.org_code,o.org_name,t.is_enable,t.disable_status,t.is_default,t.qrcode_url,t.prefer_status,t.discount_rate 
		FROM cb_outlet t  
		LEFT JOIN cb_merchant b on t.merchant_id = b.merchant_id 
		LEFT JOIN cb_org o  ON b.org_code = o.org_code AND b.client_id = o.client_id  
	    LEFT JOIN cb_area s  ON t.area_id = s.id 
	    
		<if test="outletPrefer != null">
			<where>
				 t.outlet_status = false 
				<if test="outletPrefer.id != null">
					 AND t.id = #{outletPrefer.id} 
				</if>
				<if test="outletPrefer.orgCode != null">
					 AND b.org_Code = #{outletPrefer.orgCode}
				</if>
				<if test="outletPrefer.proOrgCode != null">
					 AND b.pro_org_code = #{outletPrefer.proOrgCode}
				</if>
				<if test="outletPrefer.cityOrgCode != null">
					 AND b.city_org_code = #{outletPrefer.cityOrgCode}
				</if>
				<if test="outletPrefer.countyOrgCode != null">
					 AND b.county_org_code = #{outletPrefer.countyOrgCode}
				</if>
				<if test="outletPrefer.startCreateTime != null">
					 AND t.create_time <![CDATA[ >= ]]> #{outletPrefer.startCreateTime}
				</if>
				<if test="outletPrefer.endCreateTime != null">				
					 AND t.create_time <![CDATA[ <= ]]> #{outletPrefer.endCreateTime}
				</if>
				<if test="outletPrefer.clientId != null">
					 AND t.client_id = #{outletPrefer.clientId}
				</if>
				<if test="outletPrefer.merchantId != null">
					 AND t.merchant_id = #{outletPrefer.merchantId}
				</if>
				<if test="outletPrefer.outletId != null">
					 AND t.outlet_id = #{outletPrefer.outletId}
				</if>
				<if test="outletPrefer.license != null">
					 AND b.license = #{outletPrefer.license}
				</if>
				<if test="outletPrefer.outletName != null">
					 AND t.outlet_name like CONCAT('%',#{outletPrefer.outletName},'%' )
				</if>
				<if test="outletPrefer.merchantName != null">
					 AND b.merchant_name like CONCAT('%',#{outletPrefer.merchantName},'%' )
				</if>
				<if test="outletPrefer.address != null">
					 AND t.address like CONCAT('%', #{outletPrefer.address}, '%' )
				</if>
				<if test="outletPrefer.disableStatus != null">
					 AND t.disable_status = #{outletPrefer.disableStatus}
				</if>
				
				<if test="outletPrefer.startAuditTime != null">
					 AND t.audit_time <![CDATA[ >= ]]> #{outletPrefer.startAuditTime}
				</if>
				<if test="outletPrefer.endAuditTime != null">				
					 AND t.audit_time <![CDATA[ <= ]]> #{outletPrefer.endAuditTime}
				</if>
				
				<if test="outletPrefer.isEnable != null">
					 AND t.is_enable = #{outletPrefer.isEnable}
				</if>
				
				<!-- 0=审核中    1=审核通过     2=审核不通过     	3=未提交    4=删除    5=全部  -->
				<if test="outletPrefer.auditState != null and outletPrefer.auditState == '0'.toString()">
					 AND (t.audit_state = '0' OR t.audit_state = '4' OR t.edit_audit_state = '0' OR t.edit_audit_state = '4' )
				</if>
				<if test="outletPrefer.auditState != null and outletPrefer.auditState == '1'.toString()">
					 AND (t.audit_state = '1' OR (t.audit_state = '1'  AND t.edit_audit_state = '1') )
				</if>
				<if test="outletPrefer.auditState != null and outletPrefer.auditState == '2'.toString()">
					 AND (t.audit_state = '2' OR t.edit_audit_state = '2' )
				</if>
				<if test="outletPrefer.auditState != null and outletPrefer.auditState == '3'.toString()">
					 AND (t.audit_state = '3' OR t.edit_audit_state = '3' )
				</if>
				<if test="outletPrefer.auditState != null and outletPrefer.auditState == '4'.toString()">
					 AND t.disable_status ='2'
				</if>
				
				<if test="outletPrefer.disableStatusList != null and outletPrefer.disableStatusList.size > 0">	 
				     AND t.disable_status IN 
		  	    	<foreach item="item" collection="outletPrefer.disableStatusList"  separator="," open="(" close=")" index="">
		             	#{item}      	
		  			</foreach>
				</if>
					
				<if test="outletPrefer.orgCodesCondition != null and outletPrefer.orgCodesCondition.size > 0">
					 AND (
						 b.pro_org_code IN
						 <foreach collection="outletPrefer.orgCodesCondition" item="items" open="(" close=")" separator=",">
							#{items}
					 	</foreach>
					 	OR b.city_org_code IN
						<foreach collection="outletPrefer.orgCodesCondition" item="items" open="(" close=")" separator=",">
							#{items}
					 	</foreach>
						OR b.county_org_code IN
						<foreach collection="outletPrefer.orgCodesCondition" item="items" open="(" close=")" separator=",">
							#{items}
					 	</foreach>
					 	OR b.org_code IN 
					 <foreach collection="outletPrefer.orgCodesCondition" item="items" open="(" close=")" separator=",">
						#{items}
					 </foreach>
					)
				
				</if>
			</where>
		</if>	
	</select>
</mapper>