<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ProductMonthCountMapper">

	<resultMap type="ProductMonthCount" id="productMonthCountResultMap">
		<id property="id" column="id" />
		<result property="clientId"        column="client_id" />
		<result property="merchantId"      column="merchant_id" />
		<result property="productId"       column="product_id" />
		<result property="productName"     column="product_name" />
		<result property="year"            column="year" />
		<result property="month"           column="month" />
		<result property="maxCount"       column="sell_count" />
		<result property="maxMoney"       column="sell_money" />
	</resultMap>





	<!-- 查询  查询一个 ProductMonthCount 最大月销量的信息 -->
	<select id="findProductMonthCountOfSellCountMax" parameterType="MerchantMonthCount" resultMap="productMonthCountResultMap">
    SELECT 
      a.id,a.client_id,a.merchant_id,a.product_id,
      (select b.name from cb_product b where b.product_id = a.product_id) product_name,
      a.year,a.month,a.sell_count,a.sell_money
    FROM cb_product_month_count a
    WHERE a.client_id = #{clientId}
      AND a.merchant_id = #{merchantId}
      AND a.year = #{year}
      AND a.month = #{month}
    ORDER BY a.sell_count DESC LIMIT 1;
	</select>

</mapper>

