<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mappers.MerchantMapper">

	<resultMap type="Merchant" id="merchantResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="proOrgCode" column="pro_org_code" />
		<result property="cityOrgCode" column="city_org_code" />
		<result property="countyOrgCode" column="county_org_code" />
		<result property="orgCode" column="org_code" />
		<result property="merchantName" column="merchant_name" />
		<result property="merchantFullname" column="merchant_fullname" />
		<result property="logo" column="logo" />
		<result property="address" column="address" />
		<result property="phone" column="phone" />
		<result property="areaId" column="area_id" />
		<result property="merchantStatus" column="merchant_status" />
		<result property="isEnable" column="is_enable" />
		<result property="disableStatus" column="disable_status" />
		<result property="isTop" column="is_top" />
		<result property="introduce" column="introduce" />
		<result property="license" column="license" />
		<result property="taxReg" column="tax_reg" />
		<result property="contractBegintime" column="contract_begintime" />
		<result property="contractEndtime" column="contract_endtime" />
		<result property="contractStaff" column="contract_staff" />
		<result property="auditStartOrgCode" column="audit_start_org_code" />
		<result property="auditEndOrgCode" column="audit_end_org_code" />
		<result property="auditState" column="audit_state" />
		<result property="auditOrgCode" column="audit_org_code" />
		<result property="auditStage" column="audit_stage" />
		<result property="auditTime" column="audit_time" />
		<result property="auditComment" column="audit_comment" />
		<result property="auditStaff" column="audit_staff" />
		<result property="reviewStaff" column="review_staff" />
		<result property="contactName" column="contact_name" />
		<result property="contactPhone" column="contact_phone" />
		<result property="contactEmail" column="contact_email" />
		<result property="legalName" column="legal_name" />
		<result property="legalCredentType" column="legal_credent_type" />
		<result property="legalCredentNo" column="legal_credent_no" />
		<result property="complaintPhone" column="complaint_phone" />
		<result property="userOrgCode" column="user_org_code" />
	</resultMap>
	
	<resultMap type="MerchantCount" id="merchantCountResultMap">
		<result property="clientId" column="client_id" />
		<result property="proOrgCode" column="pro_org_code" />
		<result property="cityOrgCode" column="city_org_code" />
		<result property="countyOrgCode" column="county_org_code" />
		<result property="orgCode" column="org_code" />
		<result property="balanceMerchantTotal" column="balance_merchant_total" />
		<result property="contractStaff" column="contract_staff" />
		<result property="userOrgCode" column="user_org_code" />
		<result property="merchantIdList" column="merchant_id_list" />
	</resultMap>
	
	<sql id="selectColumn">
		id,create_time,client_id,merchant_id,pro_org_code,city_org_code,county_org_code,org_code,
		merchant_name,merchant_fullname,logo,address,phone,area_id,merchant_status,is_enable,disable_status,
		is_top,introduce,license,tax_reg,contract_begintime,contract_endtime,contract_staff,
		audit_start_org_code,audit_end_org_code,audit_state,audit_org_code,audit_stage,audit_time,audit_comment,
		audit_staff,review_staff,contact_name,contact_phone,contact_email,legal_name,legal_credent_type,
		legal_credent_no,complaint_phone,user_org_code 
	</sql>
	
	<select id="selectTotalMerchantByPage" resultMap="merchantCountResultMap">
		SELECT 
			COUNT(1) balance_merchant_total,client_id,pro_org_code,city_org_code,county_org_code,org_code,contract_staff,user_org_code 
		FROM cb_merchant 
		<where>
			merchant_status = 0 
			AND disable_status = 0 
			AND audit_state = 1 
			<if test="begDate != null">
				AND create_time >= #{begDate} 
			</if>
			<if test="endDate != null">
				<![CDATA[
				AND create_time <= #{endDate} 
				]]>
			</if>
		</where> 
		GROUP BY client_id,pro_org_code,city_org_code,county_org_code,contract_staff 
		ORDER BY client_id,pro_org_code,city_org_code,county_org_code,contract_staff 
	</select>
	
	<select id="findRecordCountByDate" resultType="int">
		SELECT COUNT(1) FROM (
			SELECT 1 FROM cb_merchant
			<where>
				merchant_status=1 
				AND disable_status = 0 
				AND audit_state = 1 
				<if test="startDate != null">
					<![CDATA[
					AND create_time >= #{startDate}
					]]>
				</if>
				<if test="endDate != null">
					<![CDATA[
					AND create_time <= #{endDate}
					]]>
				</if>				
			</where> 
			GROUP BY client_id,pro_org_code,city_org_code,county_org_code,contract_staff 
		) AS cb_result
	</select>
	
	<select id="findAllRecordCount" resultType="int">
		SELECT COUNT(1) 
		FROM cb_merchant 
		<where>
			audit_state = 1 
			<if test="date != null">
			<![CDATA[
				AND create_time <= #{date} 
			]]>  
			</if>
		</where>
	</select>	
	
	<select id="findAllByPage" resultMap="merchantResultMap">
		SELECT <include refid="selectColumn" /> 
		FROM cb_merchant 
		<where>
			audit_state = 1 and merchant_status = '0' 
			<if test="date != null">
			<![CDATA[
				AND create_time <= #{date} 
			]]>  
			</if>
		</where>
	</select>	
	
	<select id="findByMerchantCount" resultMap="merchantResultMap">
		SELECT <include refid="selectColumn" /> 
		FROM cb_merchant 
		<where>
			<if test="merchantCount.clientId != null">
				AND client_id=#{merchantCount.clientId} 
			</if>
			<if test="merchantCount.clientId == null">
				AND client_id is null 
			</if>
			<if test="merchantCount.proOrgCode != null">
				AND pro_org_code=#{merchantCount.proOrgCode} 
			</if>
			<if test="merchantCount.proOrgCode == null">
				AND pro_org_code is null 
			</if>
			<if test="merchantCount.cityOrgCode != null">
				AND city_org_code=#{merchantCount.cityOrgCode} 
			</if>
			<if test="merchantCount.cityOrgCode == null">
				AND city_org_code is null 
			</if>
			<if test="merchantCount.countyOrgCode != null">
				AND county_org_code=#{merchantCount.countyOrgCode} 
			</if>
			<if test="merchantCount.countyOrgCode == null">
				AND county_org_code is null 
			</if>
			<if test="merchantCount.contractStaff != null">
				AND contract_staff=#{merchantCount.contractStaff} 
			</if>
			<if test="merchantCount.contractStaff == null">
				AND contract_staff is null 
			</if>
			<if test="date != null">
			<![CDATA[
				AND create_time <= #{date} 
			]]> 
			</if>
		</where>
	</select>
	
	<!-- 查询  Merchant -->
	<select id="findMerchantByMerchantId" parameterType="java.lang.String" resultMap="merchantResultMap">
		SELECT 
            <include refid="selectColumn" /> 
        FROM cb_merchant cm 
        WHERE 
            cm.merchant_id = #{merchantId} AND disable_status = 0 AND audit_state = 1 
	</select>
	
	<select id="selectAllAuditMerchantsByPage" resultMap="merchantResultMap">
		SELECT <include refid="selectColumn" /> FROM cb_merchant WHERE merchant_status = 0 AND audit_state = 1 
	</select>
	
	
	<select id="selectMerchantIdListInfoByPage" resultMap="merchantCountResultMap">
		SELECT 
			client_id,pro_org_code,city_org_code,county_org_code,org_code,contract_staff,user_org_code 
		FROM cb_merchant 
		<where>
			merchant_status = 0 
			AND audit_state = 1 
			<if test="begDate != null">
				AND create_time >= #{begDate} 
			</if>
			<if test="endDate != null">
				<![CDATA[
				AND create_time <= #{endDate} 
				]]>
			</if>
		</where> 
		GROUP BY client_id,pro_org_code,city_org_code,county_org_code,contract_staff 
	</select>
	
	<select id="selectMerchantIdListInfoCount" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM (
			SELECT 1 FROM cb_merchant 
			<where>
				merchant_status = 0 
				AND audit_state = 1 
				<if test="begDate != null">
					AND create_time >= #{begDate} 
				</if>
				<if test="endDate != null">
					<![CDATA[
					AND create_time <= #{endDate} 
					]]>
				</if>
			</where> 
			GROUP BY client_id,pro_org_code,city_org_code,county_org_code,contract_staff
		) c_t 
	</select>
	
</mapper>

