<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mappers.OutletMapper">
	<resultMap type="MerchantOutlet" id="outletResultMap">
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="outletId" column="outlet_id" />
		<result property="outletName" column="outlet_name" />
		<result property="outletStatus" column="outlet_status" />
		<result property="address" column="address" />
		<result property="isEnable" column="is_enable" />
		<result property="disableStatus" column="disable_status" />
	</resultMap>
	
	<sql id="selectColumn">
		create_time,client_id,merchant_id,outlet_id,outlet_name,outlet_status,address,is_enable,disable_status 
	</sql>	
	
	<select id="findByCondition" resultMap="outletResultMap">
		SELECT <include refid="selectColumn" /> 
		FROM cb_outlet 
		<where>
			<if test="clientId != null">
				AND client_id = #{clientId} 
			</if>
			<if test="merchantId != null">
				AND merchant_id = #{merchantId} 
			</if>
			<if test="outletId != null">
				AND outlet_id = #{outletId} 
			</if>						
		</where>		
	</select>
	
</mapper>