<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ActiveOrderDetailMapper">

	<resultMap type="ActiveOrderDetail" id="activeOrderDetailResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="orderId" column="order_id" />
		<result property="orderMarketType" column="order_market_type" />
		<result property="activeId" column="active_id" />
		<result property="type" column="type" />
		<result property="subOrderId" column="sub_order_id" />
		<result property="productId" column="product_id" />
		<result property="productName" column="product_name" />
		
		<result property="productPrice" column="product_price"/>
		<result property="productVipPrice" column="product_vip_price"/>

		
		<result property="orgNormalPriceMarket" column="org_normal_price_market" />
		<result property="orgNormalPriceCount" column="org_normal_price_count" />
		
		<result property="normalPriceMarket" column="normal_price_market" />
		<result property="normalPriceCount" column="normal_price_count" />
		
		<result property="orgVipPriceMarket" column="org_vip_price_market" />
		<result property="orgVipPriceCount" column="org_vip_price_count" />
				
		<result property="vipPriceMarket" column="vip_price_market" />
		<result property="vipPriceCount" column="vip_price_count" />
		

		<result property="ticketId" column="ticket_id" />
	</resultMap>


	<!-- 所有字段list -->
	<sql id="Base_Column_List">
		id,client_id,create_time,update_time,order_id,order_market_type,active_id,type,sub_order_id,product_id,product_name,product_price,product_vip_price,org_normal_price_market,org_normal_price_count,normal_price_market,normal_price_count,org_vip_price_market,org_vip_price_count,vip_price_market,vip_price_count,ticket_id
	</sql>
	
	


	<!-- 不包含ID字段list -->
	<sql id="Not_ID_Column_List">
		client_id,create_time,update_time,order_id,order_market_type,active_id,type,sub_order_id,product_id,product_name,product_price,product_vip_price,org_normal_price_market,org_normal_price_count,normal_price_market,normal_price_count,org_vip_price_market,org_vip_price_count,vip_price_market,vip_price_count,ticket_id
	</sql>


	<!-- 添加  ActiveOrderDetail -->
	<insert id="addActiveOrderDetail" parameterType="ActiveOrderDetail" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_active_order_detail (
			<include refid="Not_ID_Column_List" />
		) VALUES (
			#{clientId},
			#{createTime},
			#{updateTime},
			#{orderId},
			#{orderMarketType},
			#{activeId},
			#{type},
			#{subOrderId},
			#{productId},
			#{productName},
			#{productPrice},
			#{productVipPrice},
			#{orgNormalPriceMarket},
			#{orgNormalPriceCount},
			#{normalPriceMarket},
			#{normalPriceCount},
			#{orgVipPriceMarket},
			#{orgVipPriceCount},
			#{vipPriceMarket},
			#{vipPriceCount},
			#{ticketId}
		) 
	</insert>


	<!-- 批量添加  ActiveOrderDetail -->
	<insert id="addActiveOrderDetailByBatch" parameterType="java.util.List">
		INSERT INTO cb_active_order_detail (
			<include refid="Not_ID_Column_List" />
		) VALUES 
		<foreach collection="activeOrderDetailList" item="item" index="index" separator=",">
			(
			#{item.clientId},
			#{item.createTime},
			#{item.updateTime},
			#{item.orderId},
			#{item.orderMarketType},
			#{item.activeId},
			#{item.type},
			#{item.subOrderId},
			#{item.productId},
			#{item.productName},
			#{item.productPrice},
			#{item.productVipPrice},
			#{item.orgNormalPriceMarket},
			#{item.orgNormalPriceCount},
			#{item.normalPriceMarket},
			#{item.normalPriceCount},
			#{item.orgVipPriceMarket},
			#{item.orgVipPriceCount},
			#{item.vipPriceMarket},
			#{item.vipPriceCount},
			#{item.ticketId})
		</foreach>
	</insert>


	<!-- 删除  ActiveOrderDetail -->
	<delete id="deleteActiveOrderDetail" parameterType="ActiveOrderDetail">
		DELETE FROM cb_active_order_detail 
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
			<if test="orderId != null">
				AND order_id = #{orderId}
			</if>
			<if test="orderMarketType != null">
				AND order_market_type = #{orderMarketType}
			</if>
			<if test="activeId != null">
				AND active_id = #{activeId}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="subOrderId != null">
				AND sub_order_id = #{subOrderId}
			</if>
			<if test="productId != null">
				AND product_id = #{productId}
			</if>
			<if test="productName != null">
				AND product_name = #{productName}
			</if>
			<if test="productPrice != null">
				AND product_price = #{productPrice}
			</if>
			<if test="productPrice != null">
				AND product_vip_price = #{productVipPrice}
			</if>
			<if test="orgNormalPriceMarket != null">
				AND org_normal_price_market = #{orgNormalPriceMarket}
			</if>
			<if test="orgNormalPriceCount != null">
				AND org_normal_price_count = #{orgNormalPriceCount}
			</if>
			<if test="normalPriceMarket != null">
				AND normal_price_market = #{normalPriceMarket}
			</if>
			<if test="normalPriceCount != null">
				AND normal_price_count = #{normalPriceCount}
			</if>
			
			<if test="orgVipPriceMarket != null">
				AND org_vip_price_market = #{orgVipPriceMarket}
			</if>
			<if test="orgVipPriceCount != null">
				AND org_vip_price_count = #{orgVipPriceCount}
			</if>
			
			<if test="vipPriceMarket != null">
				AND vip_price_market = #{vipPriceMarket}
			</if>
			<if test="vipPriceCount != null">
				AND vip_price_count = #{vipPriceCount}
			</if>
			
			<if test="ticketId != null">
				AND ticket_id = #{ticketId}
			</if>
		</where>
	</delete>


	<!-- 根据id删除  ActiveOrderDetail -->
	<delete id="deleteActiveOrderDetailById" parameterType="java.lang.Long">
		DELETE FROM cb_active_order_detail 
		 WHERE 
			 id = #{id} 
	</delete>


	<!-- 修改  ActiveOrderDetail -->
	<update id="updateActiveOrderDetail" parameterType="ActiveOrderDetail">
		UPDATE cb_active_order_detail 
		<set>
			<if test="id != null">
				id = #{id}, 
			</if>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="orderId != null">
				order_id = #{orderId}, 
			</if>
			<if test="orderMarketType != null">
				order_market_type = #{orderMarketType}, 
			</if>
			<if test="activeId != null">
				active_id = #{activeId}, 
			</if>
			<if test="type != null">
				type = #{type}, 
			</if>
			<if test="subOrderId != null">
				sub_order_id = #{subOrderId}, 
			</if>
			<if test="productId != null">
				product_id = #{productId}, 
			</if>
			<if test="productName != null">
				product_name = #{productName}, 
			</if>			
			<if test="productPrice != null">
				product_price = #{productPrice}, 
			</if>
			<if test="productVipPrice != null">
				product_vip_price = #{productVipPrice}, 
			</if>
			
			<if test="orgNormalPriceMarket != null">
				org_normal_price_market = #{orgNormalPriceMarket},
			</if>
			<if test="orgNormalPriceCount != null">
				 org_normal_price_count = #{orgNormalPriceCount},
			</if>
			<if test="normalPriceMarket != null">
				normal_price_market = #{normalPriceMarket},
			</if>
			<if test="normalPriceCount != null">
				normal_price_count = #{normalPriceCount},
			</if>
			
			<if test="orgVipPriceMarket != null">
				org_vip_price_market = #{orgVipPriceMarket},
			</if>
			<if test="orgVipPriceCount != null">
				org_vip_price_count = #{orgVipPriceCount},
			</if>
			
			<if test="vipPriceMarket != null">
				vip_price_market = #{vipPriceMarket},
			</if>
			<if test="vipPriceCount != null">
				vip_price_count = #{vipPriceCount},
			</if>
			
			<if test="vipPriceCount != null">
				vip_price_count = #{vipPriceCount}, 
			</if>
		</set>

		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
			<if test="orderId != null">
				AND order_id = #{orderId}
			</if>
			<if test="orderMarketType != null">
				AND order_market_type = #{orderMarketType}
			</if>
			<if test="activeId != null">
				AND active_id = #{activeId}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="subOrderId != null">
				AND sub_order_id = #{subOrderId}
			</if>
			<if test="productId != null">
				AND product_id = #{productId}
			</if>
			<if test="productName != null">
				AND product_name = #{productName}
			</if>	
					
			<if test="productVipPrice != null">
				AND product_vip_price = #{productVipPrice}
			</if>
			
			<if test="productPrice != null">
				AND product_price = #{productPrice}
			</if>
			
			<if test="orgNormalPriceMarket != null">
				AND org_normal_price_market = #{orgNormalPriceMarket}
			</if>
			<if test="orgNormalPriceCount != null">
				AND org_normal_price_count = #{orgNormalPriceCount}
			</if>
			<if test="normalPriceMarket != null">
				AND normal_price_market = #{normalPriceMarket}
			</if>
			<if test="normalPriceCount != null">
				AND normal_price_count = #{normalPriceCount}
			</if>
			
			<if test="orgVipPriceMarket != null">
				AND org_vip_price_market = #{orgVipPriceMarket}
			</if>
			<if test="orgVipPriceCount != null">
				AND org_vip_price_count = #{orgVipPriceCount}
			</if>
			
			<if test="vipPriceMarket != null">
				AND vip_price_market = #{vipPriceMarket}
			</if>
			<if test="vipPriceCount != null">
				AND vip_price_count = #{vipPriceCount}
			</if>
			<if test="ticketId != null">
				AND ticket_id = #{ticketId}
			</if>
		</where>
	</update>


	<!-- 根据id修改  ActiveOrderDetail -->
	<update id="updateActiveOrderDetailById" parameterType="ActiveOrderDetail">
		UPDATE cb_active_order_detail 
		<set>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="orderId != null">
				order_id = #{orderId}, 
			</if>
			<if test="orderMarketType != null">
				order_market_type = #{orderMarketType}, 
			</if>
			<if test="activeId != null">
				active_id = #{activeId}, 
			</if>
			<if test="type != null">
				type = #{type}, 
			</if>
			<if test="subOrderId != null">
				sub_order_id = #{subOrderId}, 
			</if>
			<if test="productId != null">
				product_id = #{productId}, 
			</if>
			<if test="productName != null">
				product_name = #{productName}, 
			</if>
					
			<if test="productPrice != null">
				product_price = #{productPrice}, 
			</if>
			
			<if test="productVipPrice != null">
				product_vip_price = #{productVipPrice}, 
			</if>
			
			<if test="orgNormalPriceMarket != null">
				org_normal_price_market = #{orgNormalPriceMarket}, 
			</if>
			<if test="orgNormalPriceCount != null">
				org_normal_price_count = #{orgNormalPriceCount}, 
			</if>
			
			<if test="normalPriceMarket != null">
				normal_price_market = #{normalPriceMarket}, 
			</if>
			<if test="normalPriceCount != null">
				normal_price_count = #{normalPriceCount}, 
			</if>
			
			<if test="orgVipPriceMarket != null">
				org_vip_price_market = #{orgVipPriceMarket}, 
			</if>
			<if test="orgVipPriceCount != null">
				org_vip_price_count = #{orgVipPriceCount}, 
			</if>
			
			<if test="vipPriceMarket != null">
				vip_price_market = #{vipPriceMarket}, 
			</if>
			<if test="vipPriceCount != null">
				vip_price_count = #{vipPriceCount}, 
			</if>
			
			<if test="ticketId != null">
				ticket_id = #{ticketId}, 
			</if>
		</set>

		 WHERE 
            id = #{id} 
	</update>
	
	
	<!-- 根据orderid修改  ActiveOrderDetail -->
	<update id="updateActiveOrderDetailByOrderId" parameterType="ActiveOrderDetail">
		UPDATE cb_active_order_detail 
		<set>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="orderId != null">
				order_id = #{orderId}, 
			</if>
			<if test="orderMarketType != null">
				order_market_type = #{orderMarketType}, 
			</if>
			<if test="activeId != null">
				active_id = #{activeId}, 
			</if>
			<if test="type != null">
				type = #{type}, 
			</if>
			<if test="subOrderId != null">
				sub_order_id = #{subOrderId}, 
			</if>
			<if test="productId != null">
				product_id = #{productId}, 
			</if>
			<if test="productName != null">
				product_name = #{productName}, 
			</if>	
					
			<if test="productPrice != null">
				product_price = #{productPrice}, 
			</if>
			
			<if test="productVipPrice != null">
				product_vip_price = #{productVipPrice}, 
			</if>
			
			<if test="orgNormalPriceMarket != null">
				org_normal_price_market = #{orgNormalPriceMarket}, 
			</if>
			<if test="orgNormalPriceCount != null">
				org_normal_price_count = #{orgNormalPriceCount}, 
			</if>
			
			<if test="normalPriceMarket != null">
				normal_price_market = #{normalPriceMarket}, 
			</if>
			<if test="normalPriceCount != null">
				normal_price_count = #{normalPriceCount}, 
			</if>
			
			<if test="orgVipPriceMarket != null">
				org_vip_price_market = #{orgVipPriceMarket}, 
			</if>
			<if test="orgVipPriceCount != null">
				org_vip_price_count = #{orgVipPriceCount}, 
			</if>
			
			<if test="vipPriceMarket != null">
				vip_price_market = #{vipPriceMarket}, 
			</if>
			<if test="vipPriceCount != null">
				vip_price_count = #{vipPriceCount}, 
			</if>
			
			<if test="ticketId != null">
				ticket_id = #{ticketId}, 
			</if>
		</set>

		 WHERE 
            order_id = #{orderId} 
	</update>
	
	
	<!-- 根据subOrderId修改  ActiveOrderDetail -->
	<update id="updateActiveOrderDetailCount" parameterType="ActiveOrderDetail">
		UPDATE cb_active_order_detail 
		<set>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="orderId != null">
				order_id = #{orderId}, 
			</if>
			<if test="orderMarketType != null">
				order_market_type = #{orderMarketType}, 
			</if>
			<if test="activeId != null">
				active_id = #{activeId}, 
			</if>
			<if test="type != null">
				type = #{type}, 
			</if>
			<if test="subOrderId != null">
				sub_order_id = #{subOrderId}, 
			</if>
			<if test="productId != null">
				product_id = #{productId}, 
			</if>
			<if test="productName != null">
				product_name = #{productName}, 
			</if>			
			<if test="productPrice != null">
				product_price = #{productPrice}, 
			</if>
			
			<if test="productVipPrice != null">
				product_vip_price = #{productVipPrice}, 
			</if>
			
			
			<if test="orgNormalPriceMarket != null">
				org_normal_price_market = #{orgNormalPriceMarket},
			</if>
			
			<if test="orgNormalPriceCount != null">
				org_normal_price_count = #{orgNormalPriceCount}, 
			</if>
			
			
			<if test="normalPriceMarket != null">
				normal_price_market = normal_price_market-#{normalPriceMarket},
			</if>
			
			<if test="normalPriceCount != null">
				normal_price_count = normal_price_count- #{normalPriceCount}, 
			</if>
			
			
			<if test="orgVipPriceMarket != null">
				org_vip_price_market =#{orgVipPriceMarket}
			</if>
			
			<if test="orgVipPriceCount != null">
				org_vip_price_count =#{orgVipPriceCount}, 
			</if>
			
			
			<if test="vipPriceMarket != null">
				vip_price_market =vip_price_market- #{vipPriceMarket},
			</if>
			
			<if test="vipPriceCount != null">
				vip_price_count = vip_price_count-#{vipPriceCount}, 
			</if>
			
			
			<if test="ticketId != null">
				ticket_id = #{ticketId}, 
			</if>
		</set>
		 WHERE id = #{id} 
		 
	</update>
	
	
	<!-- 根据subOrderId修改  ActiveOrderDetail -->
	<update id="updateActiveOrderDetailCountBack" parameterType="ActiveOrderDetail">
		UPDATE cb_active_order_detail 
		<set>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="orderId != null">
				order_id = #{orderId}, 
			</if>
			<if test="orderMarketType != null">
				order_market_type = #{orderMarketType}, 
			</if>
			<if test="activeId != null">
				active_id = #{activeId}, 
			</if>
			<if test="type != null">
				type = #{type}, 
			</if>
			<if test="subOrderId != null">
				sub_order_id = #{subOrderId}, 
			</if>
			<if test="productId != null">
				product_id = #{productId}, 
			</if>
			<if test="productName != null">
				product_name = #{productName}, 
			</if>			
			<if test="productPrice != null">
				product_price = #{productPrice}, 
			</if>
			
			<if test="productVipPrice != null">
				product_vip_price = #{productVipPrice}, 
			</if>
			
			<if test="orgNormalPriceMarket != null">
				org_normal_price_market = #{orgNormalPriceMarket}
			</if>
			
			<if test="orgNormalPriceCount != null">
				org_normal_price_count = #{orgNormalPriceCount}, 
			</if>
			
			<if test="normalPriceMarket != null">
				normal_price_market = normal_price_market+ #{normalPriceMarket},
			</if>
			<if test="normalPriceCount != null">
				normal_price_count = normal_price_count+ #{normalPriceCount}, 
			</if>
			
			<if test="orgVipPriceMarket != null">
				org_vip_price_market =#{orgVipPriceMarket}
			</if>
			
			<if test="orgVipPriceCount != null">
				org_vip_price_count =#{orgVipPriceCount}, 
			</if>
			
			<if test="vipPriceMarket != null">
				vip_price_market = vip_price_market+ #{vipPriceMarket},
			</if>
			<if test="vipPriceCount != null">
				vip_price_count = vip_price_count + #{vipPriceCount}, 
			</if>
			
			<if test="ticketId != null">
				ticket_id = #{ticketId}, 
			</if>
		</set>
		 WHERE id = #{id}
		 
		 
	</update>
	


	<!-- 根据id查询  ActiveOrderDetail -->
	<select id="findActiveOrderDetailById" parameterType="java.lang.Long" resultMap="activeOrderDetailResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_active_order_detail 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询一个  ActiveOrderDetail -->
	<select id="findOneActiveOrderDetail" parameterType="ActiveOrderDetail" resultMap="activeOrderDetailResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_active_order_detail 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 AND update_time = #{updateTime}
			</if>
			<if test="orderId != null">
				 AND order_id = #{orderId}
			</if>
			<if test="orderMarketType != null">
				 AND order_market_type = #{orderMarketType}
			</if>
			<if test="activeId != null">
				 AND active_id = #{activeId}
			</if>
			<if test="type != null">
				 AND type = #{type}
			</if>
			<if test="subOrderId != null">
				 AND sub_order_id = #{subOrderId}
			</if>
			<if test="productId != null">
				 AND product_id = #{productId}
			</if>
			<if test="productName != null">
				 AND product_name = #{productName}
			</if>			
			<if test="productPrice != null">
				 AND product_price = #{productPrice}
			</if>
			<if test="productVipPrice != null">
				 AND product_vip_price = #{productVipPrice}
			</if>
			
			<if test="orgNormalPriceMarket != null">
				 AND org_ormal_price_market = #{orgNormalPriceMarket}
			</if>
			<if test="orgNormalPriceCount != null">
				 AND org_normal_price_count = #{orgNormalPriceCount}
			</if>
			
			<if test="normalPriceMarket != null">
				 AND normal_price_market = #{normalPriceMarket}
			</if>
			<if test="normalPriceCount != null">
				 AND normal_price_count = #{normalPriceCount}
			</if>
			
			<if test="orgVipPriceMarket != null">
				 AND org_vip_price_market = #{orgVipPriceMarket}
			</if>
			<if test="orgVipPriceCount != null">
				 AND org_vip_price_count = #{orgVipPriceCount}
			</if>
			
			<if test="vipPriceMarket != null">
				 AND vip_price_market = #{vipPriceMarket}
			</if>
			<if test="vipPriceCount != null">
				 AND vip_price_count = #{vipPriceCount}
			</if>
			
			<if test="ticketId != null">
				 AND ticket_id = #{ticketId}
			</if>
		 LIMIT 1 
		</where>
	</select>
	
	
	
	<!-- 统计  ActiveOrderDetail -->
	<select id="countActiveOrderDetail" parameterType="ActiveOrderDetail" resultType="java.lang.Integer">
		SELECT COUNT(0) FROM cb_active_order_detail 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 AND update_time = #{updateTime}
			</if>
			<if test="orderId != null">
				 AND order_id = #{orderId}
			</if>
			<if test="orderMarketType != null">
				 AND order_market_type = #{orderMarketType}
			</if>
			<if test="activeId != null">
				 AND active_id = #{activeId}
			</if>
			<if test="type != null">
				 AND type = #{type}
			</if>
			<if test="subOrderId != null">
				 AND sub_order_id = #{subOrderId}
			</if>
			<if test="productId != null">
				 AND product_id = #{productId}
			</if>
			<if test="productName != null">
				 AND product_name = #{productName}
			</if>			
			<if test="productPrice != null">
				 AND product_price = #{productPrice}
			</if>
			<if test="productVipPrice != null">
				 AND product_vip_price = #{productVipPrice}
			</if>
			
			<if test="orgNormalPriceMarket != null">
				 AND org_normal_price_market = #{orgNormalPriceMarket}
			</if>
			
			<if test="orgNormalPriceCount != null">
				 AND org_normal_price_count = #{orgNormalPriceCount}
			</if>
			
			
			<if test="normalPriceMarket != null">
				 AND normal_price_market = #{normalPriceMarket}
			</if>
			
			<if test="normalPriceCount != null">
				 AND normal_price_count = #{normalPriceCount}
			</if>
			
			<if test="orgVipPriceMarket != null">
				 AND org_vip_price_market = #{orgVipPriceMarket}
			</if>
			<if test="orgVipPriceCount != null">
				 AND org_vip_price_count = #{orgVipPriceCount}
			</if>
			
			<if test="vipPriceMarket != null">
				 AND vip_price_market = #{vipPriceMarket}
			</if>
			<if test="vipPriceCount != null">
				 AND vip_price_count = #{vipPriceCount}
			</if>
			<if test="ticketId != null">
				 AND ticket_id = #{ticketId}
			</if>
		</where>
	</select>

	<!-- 查询  ActiveOrderDetail -->
	<select id="findActiveOrderDetail" parameterType="ActiveOrderDetail" resultMap="activeOrderDetailResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_active_order_detail 
		<if test="activeOrderDetail != null">
			<where>
				<if test="activeOrderDetail.id != null">
					 AND id = #{activeOrderDetail.id}
				</if>
				<if test="activeOrderDetail.clientId != null">
					 AND client_id = #{activeOrderDetail.clientId}
				</if>
				<if test="activeOrderDetail.createTime != null">
					 AND create_time = #{activeOrderDetail.createTime}
				</if>
				<if test="activeOrderDetail.updateTime != null">
					 AND update_time = #{activeOrderDetail.updateTime}
				</if>
				<if test="activeOrderDetail.orderId != null">
					 AND order_id = #{activeOrderDetail.orderId}
				</if>
				<if test="activeOrderDetail.orderMarketType != null">
					 AND order_market_type = #{activeOrderDetail.orderMarketType}
				</if>
				<if test="activeOrderDetail.activeId != null">
					 AND active_id = #{activeOrderDetail.activeId}
				</if>
				<if test="activeOrderDetail.type != null">
					 AND type = #{activeOrderDetail.type}
				</if>
				<if test="activeOrderDetail.subOrderId != null">
					 AND sub_order_id = #{activeOrderDetail.subOrderId}
				</if>
				<if test="activeOrderDetail.productId != null">
					 AND product_id = #{activeOrderDetail.productId}
				</if>
				<if test="activeOrderDetail.productName != null">
					 AND product_name = #{activeOrderDetail.productName}
				</if>				
				<if test="activeOrderDetail.productPrice != null">
					 AND product_price = #{activeOrderDetail.productPrice}
				</if>
				
				<if test="activeOrderDetail.productVipPrice != null">
					 AND product_vip_price = #{activeOrderDetail.productVipPrice}
				</if>
				
				<if test="activeOrderDetail.orgNormalPriceMarket != null">
					 AND org_normal_price_market = #{activeOrderDetail.orgNormalPriceMarket}
				</if>
				<if test="activeOrderDetail.orgNormalPriceCount != null">
					 AND org_normal_price_count = #{activeOrderDetail.orgNormalPriceCount}
				</if>
				
				<if test="activeOrderDetail.normalPriceMarket != null">
					 AND normal_price_market = #{activeOrderDetail.normalPriceMarket}
				</if>
				<if test="activeOrderDetail.normalPriceCount != null">
					 AND normal_price_count = #{activeOrderDetail.normalPriceCount}
				</if>
				
				<if test="activeOrderDetail.orgVipPriceMarket != null">
					 AND org_vip_price_market = #{activeOrderDetail.orgVipPriceMarket}
				</if>
				<if test="activeOrderDetail.orgVipPriceCount != null">
					 AND org_vip_price_count = #{activeOrderDetail.orgVipPriceCount}
				</if>
				
				
				<if test="activeOrderDetail.vipPriceMarket != null">
					 AND vip_price_market = #{activeOrderDetail.vipPriceMarket}
				</if>
				<if test="activeOrderDetail.vipPriceCount != null">
					 AND vip_price_count = #{activeOrderDetail.vipPriceCount}
				</if>
				
				
				<if test="activeOrderDetail.ticketId != null">
					 AND ticket_id = #{activeOrderDetail.ticketId}
				</if>
			</where>
		</if>
		<if test="order != null">
		 ORDER BY ${order} 
		</if>
	</select>

	<!-- 分页查询  ActiveOrderDetail -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="activeOrderDetailResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_active_order_detail 
		<if test="activeOrderDetail != null">
			<where>
				<if test="activeOrderDetail.id != null">
					 AND id = #{activeOrderDetail.id}
				</if>
				<if test="activeOrderDetail.clientId != null">
					 AND client_id = #{activeOrderDetail.clientId}
				</if>
				<if test="activeOrderDetail.createTime != null">
					 AND create_time = #{activeOrderDetail.createTime}
				</if>
				<if test="activeOrderDetail.updateTime != null">
					 AND update_time = #{activeOrderDetail.updateTime}
				</if>
				<if test="activeOrderDetail.orderId != null">
					 AND order_id = #{activeOrderDetail.orderId}
				</if>
				<if test="activeOrderDetail.orderMarketType != null">
					 AND order_market_type = #{activeOrderDetail.orderMarketType}
				</if>
				<if test="activeOrderDetail.activeId != null">
					 AND active_id = #{activeOrderDetail.activeId}
				</if>
				<if test="activeOrderDetail.type != null">
					 AND type = #{activeOrderDetail.type}
				</if>
				<if test="activeOrderDetail.subOrderId != null">
					 AND sub_order_id = #{activeOrderDetail.subOrderId}
				</if>
				<if test="activeOrderDetail.productId != null">
					 AND product_id = #{activeOrderDetail.productId}
				</if>
				<if test="activeOrderDetail.productName != null">
					 AND product_name = #{activeOrderDetail.productName}
				</if>				
				<if test="activeOrderDetail.productPrice != null">
					 AND product_price = #{activeOrderDetail.productPrice}
				</if>
				
				<if test="activeOrderDetail.productVipPrice != null">
					 AND product_vip_price = #{activeOrderDetail.productVipPrice}
				</if>
				
				<if test="activeOrderDetail.orgNormalPriceMarket != null">
					 AND org_normal_price_market = #{activeOrderDetail.orgNormalPriceMarket}
				</if>
				<if test="activeOrderDetail.orgNormalPriceCount != null">
					 AND org_normal_price_count = #{activeOrderDetail.orgNormalPriceCount }
				</if>
				
				<if test="activeOrderDetail.normalPriceMarket != null">
					 AND normal_price_market = #{activeOrderDetail.normalPriceMarket}
				</if>
				<if test="activeOrderDetail.normalPriceCount != null">
					 AND normal_price_count = #{activeOrderDetail.normalPriceCount}
				</if>
				
				
				<if test="activeOrderDetail.orgVipPriceMarket != null">
					 AND org_vip_price_market = #{activeOrderDetail.orgVipPriceMarket}
				</if>
				<if test="activeOrderDetail.orgVipPriceCount != null">
					 AND org_vip_price_count = #{activeOrderDetail.orgVipPriceCount}
				</if>
				
				<if test="activeOrderDetail.vipPriceMarket != null">
					 AND vip_price_market = #{activeOrderDetail.vipPriceMarket}
				</if>
				<if test="activeOrderDetail.vipPriceCount != null">
					 AND vip_price_count = #{activeOrderDetail.vipPriceCount}
				</if>
				<if test="activeOrderDetail.ticketId != null">
					 AND ticket_id = #{activeOrderDetail.ticketId}
				</if>
			</where>
		</if>
	</select>


</mapper>

