<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ActiveMainReportMapper">

	<resultMap type="ActiveMainReport" id="activeMainReportResultMap">
		<result property="orderId" column="order_id" />
		<result property="orderMoney" column="order_modify_money" />
		<result property="payTime" column="pay_time" />
		<result property="priceMarket" column="price_market" />
		<result property="vipPriceMarket" column="vip_price_market" />
		<result property="memberCode" column="member_code" />
		<result property="phone" column="phone" />
		<result property="detail" column="detail" />
		<result property="clientId" column="client_id" />
		<result property="orderMarketType" column="order_market_type" />
		<result property="clientName" column="bank_name" />
	</resultMap>

	<select id="getActiveMainReport" resultMap="activeMainReportResultMap"><!-- 前端需要传个满减标示 -->
		SELECT 
			o.order_id,
			o.order_modify_money,
			o.pay_time,
			SUM(IFNULL(detail.normal_price_market, 0)) as price_market,
		 	SUM(IFNULL(detail.vip_price_market, 0)) as vip_price_market,
			o.member_code,
			o.phone,
			o.detail,
			o.client_id,
			detail.order_market_type,
			c.bank_name
		FROM 
			cb_active_order o
		LEFT JOIN cb_active_order_detail detail
			on (o.order_id = detail.order_id)
		LEFT JOIN cb_client c
			on c.client_id = detail.client_id	
		where o.client_id = detail.client_id 
		and detail.active_id = #{activeId} and detail.client_id = #{clientId} 
		and detail.order_market_type = #{Type} and status = '1'
		GROUP BY order_id
	</select>

</mapper>

