<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ActiveDetailRuleMapper">

	<resultMap type="ActiveDetailRule" id="activeDetailRuleResultMap">
        <id property="id" column="id" />
        <result property="clientId" column="client_id" />
        <result property="activeId" column="active_id" />
        <result property="minLimit" column="min_limit" />
        <result property="maxCount" column="max_count" />
        <result property="isPerDay" column="is_per_day" />
        <result property="perDay" column="per_day" />
        <result property="perCount" column="per_count" />
        <result property="isTotalDay" column="is_total_day" />
        <result property="totalDay" column="total_day" />
        <result property="totalCount" column="total_count" />
        <result property="isPaperPay" column="is_paper_pay" />
        <result property="isPrePay" column="is_pre_pay" />
        <result property="retMoney" column="ret_money" />
        <result property="maxMoney" column="max_money" />
        <result property="prePayActiveId" column="pre_pay_active_id" />
        <result property="productId" column="product_id" />
        <result property="productCount" column="product_count" />
        <result property="point" column="point" />
        <result property="pointType" column="point_type" />
        <result property="pointCount" column="point_count" />
        <result property="payMethod" column="pay_method" />
	</resultMap>
	
		<!-- 所有字段list -->
	<sql id="Base_Column_List">
		id,client_id,active_id,min_limit,max_count,is_per_day,per_day,per_count,is_total_day,total_day,total_count,is_paper_pay,is_pre_pay,ret_money,max_money,pre_pay_active_id,product_id,product_count,point,point_type,point_count,pay_method
	</sql>
    
    <!-- 添加  ActiveDetailRule -->
    <insert id="addActiveDetailRule" parameterType="ActiveDetailRule" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO cb_active_detail_rule (
                client_id
                ,active_id
                ,min_limit
                ,max_count
                ,is_per_day
                ,per_day
                ,per_count
                ,is_total_day
                ,total_day
                ,total_count
                ,is_paper_pay
                ,is_pre_pay
                ,ret_money
                ,max_money
                ,pre_pay_active_id
                ,product_id
                ,product_count
                ,point
                ,point_type
                ,point_count
                ,pay_method
            ) VALUES 
            (
                #{clientId}
                ,#{activeId}
                ,#{minLimit}
                ,#{maxCount}
                ,#{isPerDay}
                ,#{perDay}
                ,#{perCount}
                ,#{isTotalDay}
                ,#{totalDay}
                ,#{totalCount}
                ,#{isPaperPay}
                ,#{isPrePay}
                ,#{retMoney}
                ,#{maxMoney}
                ,#{prePayActiveId}
                ,#{productId}
                ,#{productCount}
                ,#{point}
                ,#{pointType}
                ,#{pointCount}
                ,#{payMethod}
            ) 
        ]]>
    </insert>
    
    
	<!-- 查询一个  ActiveBaseRule -->
	<select id="findActiveDetailRuleByActiveId" resultMap="activeDetailRuleResultMap">
		SELECT 
			*
        FROM cb_active_detail_rule 
		where active_id = #{activeId}
	</select>


	<update id="updateActiveDetailRuleByActiveId" parameterType="ActiveDetailRule">
		UPDATE cb_active_detail_rule
			set
				client_id = #{clientId}
                ,min_limit = #{minLimit}
                ,max_count = #{maxCount}
                ,is_per_day = #{isPerDay}
                ,per_day = #{perDay}
                ,per_count = #{perCount}
                ,is_total_day = #{isTotalDay}
                ,total_day = #{totalDay}
                ,total_count = #{totalCount}
                ,is_paper_pay = #{isPaperPay}
                ,is_pre_pay = #{isPrePay} 
                ,ret_money = #{retMoney}
                ,max_money = #{maxMoney}
                ,pre_pay_active_id = #{prePayActiveId}
                ,product_id = #{productId}
                ,product_count = #{productCount}
                ,point = #{point}
                ,point_type = #{pointType}
                ,point_count = #{pointCount}
                ,pay_method = #{payMethod}
          where active_id = #{activeId}   
 
	</update>
	
		<!-- 查询一个  ActiveDetailRule -->
	<select id="findOneActiveDetailRule" parameterType="ActiveDetailRule" resultMap="activeDetailRuleResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_active_detail_rule 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="activeId != null">
				 AND active_id = #{activeId}
			</if>
			<if test="minLimit != null">
				 AND min_limit = #{minLimit}
			</if>
			<if test="maxCount != null">
				 AND max_count = #{maxCount}
			</if>
			<if test="isPerDay != null">
				 AND is_per_day = #{isPerDay}
			</if>
			<if test="perDay != null">
				 AND per_day = #{perDay}
			</if>
			<if test="perCount != null">
				 AND per_count = #{perCount}
			</if>
			<if test="isTotalDay != null">
				 AND is_total_day = #{isTotalDay}
			</if>
			<if test="totalDay != null">
				 AND total_day = #{totalDay}
			</if>
			<if test="totalCount != null">
				 AND total_count = #{totalCount}
			</if>
			<if test="isPaperPay != null">
				 AND is_paper_pay = #{isPaperPay}
			</if>
			<if test="isPrePay != null"> 
				 AND is_pre_pay = #{isPrePay}
			</if>
			<if test="retMoney != null">
				 AND ret_money = #{retMoney}
			</if>
			<if test="maxMoney != null">
				 AND max_money = #{maxMoney}
			</if>
			<if test="prePayActiveId != null">
				 AND pre_pay_active_id = #{prePayActiveId}
			</if>
			<if test="productId != null">
				 AND product_id = #{productId}
			</if>
			<if test="productCount != null">
				 AND product_count = #{productCount}
			</if>
			<if test="point != null">
				 AND point = #{point}
			</if>
			<if test="pointType != null">
				 AND point_type = #{pointType}
			</if>
			<if test="pointCount != null">
				 AND point_count = #{pointCount}
			</if>
			<if test="payMethod != null">
				 AND pay_method = #{payMethod}
			</if>
		 LIMIT 1 
		</where>
	</select>


</mapper>

