<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ActivitiesMapper">

	<resultMap type="Activities" id="activitiesResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="createTime" column="create_time" />
		<result property="activitiesName" column="activities_name" />
		<result property="points" column="points" />
		<result property="beginTime" column="begin_time" />
		<result property="endTime" column="end_time" />
		<result property="status" column="status" />
		<result property="count" column="count" />
	</resultMap>


	<!-- 所有字段list -->
	<sql id="Base_Column_List">
		id,client_id,create_time,activities_name,points,begin_time,end_time,status,count
	</sql>


	<!-- 不包含ID字段list -->
	<sql id="Not_ID_Column_List">
		client_id,create_time,activities_name,points,begin_time,end_time,status,count
	</sql>


	<!-- 添加  Activities -->
	<insert id="addActivities" parameterType="Activities" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_activities (
			<include refid="Not_ID_Column_List" />
		) VALUES (
			#{clientId},#{createTime},#{activitiesName},#{points},#{beginTime},#{endTime},#{status},#{count}
		) 
	</insert>


	<!-- 批量添加  Activities -->
	<insert id="addActivitiesByBatch" parameterType="java.util.List">
		INSERT INTO cb_activities (
			<include refid="Not_ID_Column_List" />
		) VALUES 
		<foreach collection="activitiesList" item="item" index="index" separator=",">
			(#{item.id},#{item.clientId},#{item.createTime},#{item.activitiesName},#{item.points},#{item.beginTime},#{item.endTime},#{item.status},#{item.count})
		</foreach>
	</insert>


	<!-- 删除  Activities -->
	<delete id="deleteActivities" parameterType="Activities">
		DELETE FROM cb_activities 
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="activitiesName != null">
				AND activities_name = #{activitiesName}
			</if>
			<if test="points != null">
				AND points = #{points}
			</if>
			<if test="beginTime != null">
				AND begin_time = #{beginTime}
			</if>
			<if test="endTime != null">
				AND end_time = #{endTime}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="count != null">
				AND count = #{count}
			</if>
		</where>
	</delete>


	<!-- 根据id删除  Activities -->
	<delete id="deleteActivitiesById" parameterType="java.lang.Long">
		DELETE FROM cb_activities 
		 WHERE 
			 id = #{id} 
	</delete>


	<!-- 修改  Activities -->
	<update id="updateActivities" parameterType="Activities">
		UPDATE cb_activities 
		<set>
			<if test="id != null">
				id = #{id}, 
			</if>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="activitiesName != null">
				activities_name = #{activitiesName}, 
			</if>
			<if test="points != null">
				points = #{points}, 
			</if>
			<if test="beginTime != null">
				begin_time = #{beginTime}, 
			</if>
			<if test="endTime != null">
				end_time = #{endTime}, 
			</if>
			<if test="status != null">
				status = #{status}, 
			</if>
		</set>

		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="activitiesName != null">
				AND activities_name = #{activitiesName}
			</if>
			<if test="points != null">
				AND points = #{points}
			</if>
			<if test="beginTime != null">
				AND begin_time = #{beginTime}
			</if>
			<if test="endTime != null">
				AND end_time = #{endTime}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="count != null">
				AND count = #{count}
			</if>
		</where>
	</update>


	<!-- 根据id修改  Activities -->
	<update id="updateActivitiesById" parameterType="Activities">
		UPDATE cb_activities 
		<set>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="activitiesName != null">
				activities_name = #{activitiesName}, 
			</if>
			<if test="points != null">
				points = #{points}, 
			</if>
			<if test="beginTime != null">
				begin_time = #{beginTime}, 
			</if>
			<if test="endTime != null">
				end_time = #{endTime}, 
			</if>
			<if test="status != null">
				status = #{status}, 
			</if>
			<if test="count != null">
				count = #{count}, 
			</if>
		</set>

		 WHERE 
            id = #{id} 
	</update>


	<!-- 根据id查询  Activities -->
	<select id="findActivitiesById" parameterType="java.lang.Long" resultMap="activitiesResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_activities 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询一个  Activities -->
	<select id="findOneActivities" parameterType="Activities" resultMap="activitiesResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_activities 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="activitiesName != null">
				 AND activities_name = #{activitiesName}
			</if>
			<if test="points != null">
				 AND points = #{points}
			</if>
			<if test="beginTime != null">
				 AND begin_time = #{beginTime}
			</if>
			<if test="endTime != null">
				 AND end_time = #{endTime}
			</if>
			<if test="status != null">
				 AND status = #{status}
			</if>
			<if test="count != null">
				 AND count = #{count}
			</if>
		 LIMIT 1 
		</where>
	</select>

	<!-- 统计  Activities -->
	<select id="countActivities" parameterType="Activities" resultType="java.lang.Integer">
		SELECT COUNT(0) FROM cb_activities 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="activitiesName != null">
				 AND activities_name = #{activitiesName}
			</if>
			<if test="points != null">
				 AND points = #{points}
			</if>
			<if test="beginTime != null">
				 AND begin_time = #{beginTime}
			</if>
			<if test="endTime != null">
				 AND end_time = #{endTime}
			</if>
			<if test="status != null">
				 AND status = #{status}
			</if>
			<if test="count != null">
				 AND count = #{count}
			</if>
		</where>
	</select>

	<!-- 查询  Activities -->
	<select id="findActivities" parameterType="Activities" resultMap="activitiesResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_activities 
		<if test="activities != null">
			<where>
				<if test="activities.id != null">
					 AND id = #{activities.id}
				</if>
				<if test="activities.clientId != null">
					 AND client_id = #{activities.clientId}
				</if>
				<if test="activities.createTime != null">
					 AND create_time = #{activities.createTime}
				</if>
				<if test="activities.activitiesName != null">
					 AND activities_name = #{activities.activitiesName}
				</if>
				<if test="activities.points != null">
					 AND points = #{activities.points}
				</if>
				<if test="activities.beginTime != null">
					 AND begin_time = #{activities.beginTime}
				</if>
				<if test="activities.endTime != null">
					 AND end_time = #{activities.endTime}
				</if>
				<if test="activities.status != null">
					 AND status = #{activities.status}
				</if>
				<if test="activities.count != null">
					 AND count = #{activities.count}
				</if>
			</where>
		</if>
		<if test="order != null">
		 ORDER BY ${order} 
		</if>
	</select>

	<!-- 分页查询  Activities -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="activitiesResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_activities 
		<if test="activities != null">
			<where>
				<if test="activities.id != null">
					 AND id = #{activities.id}
				</if>
				<if test="activities.clientId != null">
					 AND client_id = #{activities.clientId}
				</if>
				<if test="activities.createTime != null">
					 AND create_time = #{activities.createTime}
				</if>
				<if test="activities.activitiesName != null">
					 AND activities_name = #{activities.activitiesName}
				</if>
				<if test="activities.points != null">
					 AND points = #{activities.points}
				</if>
				<if test="activities.beginTime != null">
					 AND begin_time = #{activities.beginTime}
				</if>
				<if test="activities.endTime != null">
					 AND end_time = #{activities.endTime}
				</if>
				<if test="activities.status != null">
					 AND status = #{activities.status}
				</if>
				<if test="activities.count != null">
					 AND count = #{activities.count}
				</if>
			</where>
		</if>
	</select>


</mapper>

