<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ActiveTagRelationMapper">

	<resultMap type="ActiveTagRelation" id="activeTagRelationResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="activeId" column="active_id" />
		<result property="itemType" column="item_type" />
		<result property="itemId" column="item_id" />
	</resultMap>

    <!-- 添加  ActiveTagRelation -->
    <insert id="addActiveTagRelation" parameterType="ActiveTagRelation" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO cb_active_tag_relation (
                client_id
                ,create_time
                ,update_time                
                ,active_id
                ,item_type
                ,item_id
            ) VALUES 
            (
                #{clientId}
                ,#{createTime}
                ,#{updateTime}
                ,#{activeId}
                ,#{itemType}
                ,#{itemId}
            ) 
        ]]>
    </insert>
    
    <update id="updateActiveTagRelationByActiveId" parameterType="ActiveTagRelation">
    	UPDATE cb_active_tag_relation
    		set
    			 client_id = #{clientId}
                ,update_time = #{updateTime}           
                ,item_type = #{itemType}
                ,item_id = #{itemId}
        where active_id = #{activeId}     
    </update>
    
        
	<!-- 查询一个  ActiveBaseRule -->
	<select id="findActiveTagRelationByActiveId" resultMap="activeTagRelationResultMap">
		SELECT 
			*
        FROM cb_active_tag_relation 
		where active_id = #{activeId}
	</select>
		
	<select id="countLimitProductActivityTag" resultType="java.lang.Integer">
		SELECT 
			count(1)
        FROM cb_active_tag_relation  tag
        LEFT JOIN cb_active_base_rule base
			on tag.active_id = base.active_id
		LEFT JOIN cb_active_detail_rule detail
			ON tag.active_id = detail.active_id				
        WHERE 
              tag.item_type = '3' and tag.client_id = #{clientId} 
              and base.type = #{activeType} 
            	and base.expire_end_time <![CDATA[ >= ]]> SYSDATE()
            	and detail.is_pre_pay = '1' and base.status = '3'
			
	</select>
	
	<select id="findOneActiveTagRelation" parameterType="activeTagRelation" resultMap="activeTagRelationResultMap">
		SELECT 
			 client_id
                ,create_time
                ,update_time                
                ,active_id
                ,item_type
                ,item_id
        FROM cb_active_tag_relation 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="activeId != null">
				 AND active_id = #{activeId}
			</if>
		 LIMIT 1 
		</where>
	</select>
	
	<select id="findActive" resultMap="activeTagRelationResultMap">
   		select
   			 tag.client_id
              ,tag.create_time
              ,tag.update_time                
              ,tag.active_id
              ,tag.item_type
              ,tag.item_id
   		 from cb_active_tag_relation tag
	LEFT JOIN cb_active_base_rule base
		on tag.active_id = base.active_id
			and tag.client_id = base.client_id
	LEFT JOIN cb_active_detail_rule detail
		ON tag.active_id = detail.active_id
			and tag.client_id = detail.client_id
	where tag.item_type = #{itemType} and base.expire_end_time <![CDATA[ >= ]]> SYSDATE() and tag.client_id = #{clientId}
	and base.status = '3' and tag.item_id = #{itemId}
	and base.type = #{type}
			<if test="activeId != null">
				 AND tag.active_id != #{activeId}
			</if>
	LIMIT 1			
   </select>
	
</mapper>

