<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ActiveRuleInfoMapper">

 	<resultMap type="ActiveRuleInfoDetail" id="activeRuleInfoDetailResultMap">
		<result property="clientId" column="client_id" />
		<result property="activeId" column="active_id" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="activeName" column="active_name" />
		<result property="activeLogo" column="active_logo" />
		<result property="expireStartTime" column="expire_start_time" />
		<result property="expireEndTime" column="expire_end_time" />
		<result property="limitType" column="limit_type" />
		<result property="merchantRate" column="merchant_rate" />
		<result property="bankRate" column="bank_rate" />
		<result property="fftRate" column="fft_rate" />
		<result property="settleType" column="settle_type" />
		<result property="description" column="description" />
		<result property="minLimit" column="min_limit" />
        <result property="maxCount" column="max_count" />
        <result property="isPerDay" column="is_per_day" />
        <result property="perDay" column="per_day" />
        <result property="perCount" column="per_count" />
        <result property="isTotalDay" column="is_total_day" />
        <result property="totalDay" column="total_day" />
        <result property="totalCount" column="total_count" />
        <result property="isPaperPay" column="is_paper_pay" />
        <result property="isPrePay" column="is_pre_pay" />
        <result property="retMoney" column="ret_money" />
        <result property="maxMoney" column="max_money" />
        <result property="prePayActiveId" column="pre_pay_active_id" />
        <result property="productId" column="product_id" />
        <result property="productCount" column="product_count" />
        <result property="point" column="point" />
        <result property="pointType" column="point_type" />
        <result property="pointCount" column="point_count" />
        <result property="payMethod" column="pay_method" />
        <result property="itemType" column="item_type" />
		<result property="itemId" column="item_id" />
	</resultMap>
	<!-- 根据活动名称、、客户端 、 状态、活动期 -->
	<select id="findAllActiveRuleInfoByPage" parameterType="java.util.HashMap" resultMap="activeRuleInfoDetailResultMap">
		SELECT 
			base.client_id
			,base.active_id
			,base.type
			,base.status
			,base.create_time
			,base.update_time
			,base.active_name
			,base.active_logo
			,base.expire_start_time
			,base.expire_end_time
			,base.limit_type
			,base.merchant_rate
			,base.bank_rate
			,base.fft_rate
			,base.settle_type
			,base.description
			,detail.min_limit
			,detail.max_count
			,detail.is_pre_pay
			,detail.per_day
			,detail.per_count
			,detail.is_total_day
			,detail.total_day
			,detail.total_count
			,detail.is_paper_pay
			,detail.is_pre_pay
			,detail.ret_money
			,detail.max_money
			,detail.pre_pay_active_id
			,detail.product_id
			,detail.product_count
			,detail.point
			,detail.point_type
			,detail.point_count
			,detail.pay_method
			,tag.item_type
			,tag.item_id
        FROM cb_active_base_rule base
        	left join cb_active_detail_rule detail
        		on base.client_id = detail.client_id
        		and base.active_id = detail.active_id
        	left join cb_active_tag_relation tag
        		on base.client_id = tag.client_id
        		and base.active_id = tag.active_id 
        <where>	
        	(base.type = '0' or base.type = '1') 
	        <if test="activeRuleInfo.activeBaseRule != null">
				<if test="activeRuleInfo.activeBaseRule.clientId != null">
					 AND base.client_id = #{activeRuleInfo.activeBaseRule.clientId}
				</if>
				<if test="activeRuleInfo.activeBaseRule.activeName != null">
					 AND base.active_name like CONCAT('%',#{activeRuleInfo.activeBaseRule.activeName},'%' )
				</if>
				<if test="activeRuleInfo.activeBaseRule.status != null">
					 AND base.status = #{activeRuleInfo.activeBaseRule.status}
				</if>
				<if test="activeRuleInfo.activeBaseRule.expireStartTime != null">
					 AND base.expire_start_time 
					 	<![CDATA[ >= ]]>
					  #{activeRuleInfo.activeBaseRule.expireStartTime}
				</if>
				<if test="activeRuleInfo.activeBaseRule.expireEndTime != null">
					 AND base.expire_end_time 
					 	<![CDATA[ <= ]]>
					  #{activeRuleInfo.activeBaseRule.expireEndTime}
				</if>
			</if>
		</where>	
	</select>


</mapper>

