<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ActiveAttachReportMapper">

	<resultMap type="ActiveAttachReport" id="activeAttachReportResultMap">
		<result property="orderId" column="order_id" />
		<result property="orderMoney" column="order_money" />
		<result property="payTime" column="pay_time" />
		<result property="merchantId" column="merchant_id" />
		<result property="merchantName" column="merchant_name" />
		<result property="productName" column="name" />
		<result property="productPrice" column="product_price" />
		<result property="productVipPrice" column="product_vip_price" />
		<result property="priceCount" column="normal_price_count" />
		<result property="vipPriceCount" column="vip_price_count" />
		<result property="priceMarket" column="normal_price_market" />
		<result property="vipPriceMarket" column="vip_price_market" />
		<result property="memberCode" column="member_code" />
		<result property="phone" column="phone" />
		<result property="clientId" column="client_id" />
		<result property="clientName" column="bank_name" />
		<result property="merchantName" column="merchant_name" />
		<result property="payBillNO" column="pay_bill_no" />
		<result property="returnBillNO" column="return_bill_no" />
		<result property="returnMoney" column="return_money" />
	</resultMap>

	<select id="getActiveAttachReport" resultMap="activeAttachReportResultMap">
	select 
		o.order_id,
		o.order_modify_money as 'order_money',
		o.pay_time,
		prod.merchant_id,
		prod.name,
		od.product_price,
		od.product_vip_price,
		od.normal_price_count,
		od.vip_price_count,
		od.normal_price_market,
		od.vip_price_market,
		o.member_code,
		o.phone,
		o.client_id,
		o.pay_bill_no,
		o.return_bill_no,
		o.return_money,
		c.bank_name,
		prod.merchant_name
		FROM
	cb_active_order o
	LEFT JOIN cb_active_order_detail od
		on o.order_id = od.order_id
	LEFT JOIN cb_product prod
		on prod.product_id = od.product_id
	LEFT JOIN cb_client c
		on c.client_id = od.client_id	
	where o.client_id = od.client_id
	and	od.active_id = #{activeId} and od.client_id = #{clientId}
	and status = '1'
	</select>

</mapper>

