<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.RegistDetailRuleMapper">

	<resultMap type="RegistDetailRule" id="registDetailRuleResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activeId" column="active_id" />
		<result property="triggerType" column="trigger_type" />
		<result property="awardType" column="award_type" />
		<result property="limitMoney" column="limit_money" />
		<result property="cutMoney" column="cut_money" />
		<result property="vouchersActiveId" column="vouchers_active_id" />
		<result property="productId" column="product_id" />
		<result property="productCount" column="product_count" />
		<result property="awardCount" column="award_count" />
		<result property="isTotalDay" column="is_total_day" />
		<result property="totalDay" column="total_day" />
		<result property="totalMoney" column="total_money" />
		<result property="totalCount" column="total_count" />
		<result property="isAwardCre" column="is_award_cre" />
		<result property="creAwardType" column="cre_award_type" />
		<result property="creVouchersActiveId" column="cre_vouchers_active_id" />
		<result property="creProductId" column="cre_product_id" />
		<result property="isLimitCreCount" column="is_limit_cre_count" />
		<result property="perBankIntegral" column="per_bank_integral" />
		<result property="totalBankIntegral" column="total_bank_integral" />
		<result property="perUnionIntegral" column="per_union_integral" />
		<result property="totalUnionIntegral" column="total_union_integral" />
		<result property="creAwardCount" column="cre_award_count" />
	</resultMap>


	<!-- 所有字段list -->
	<sql id="Base_Column_List">
		id,client_id,active_id,trigger_type,award_type,limit_money,cut_money,vouchers_active_id,product_id,product_count,award_count,is_total_day,total_day,total_count,is_award_cre,cre_award_type,cre_vouchers_active_id,cre_product_id,is_limit_cre_count,cre_award_count,per_bank_integral,total_bank_integral,per_union_integral,total_union_integral,total_money
	</sql>


	<!-- 不包含ID字段list -->
	<sql id="Not_ID_Column_List">
		client_id,active_id,trigger_type,award_type,limit_money,cut_money,vouchers_active_id,product_id,product_count,award_count,is_total_day,total_day,total_count,is_award_cre,cre_award_type,cre_vouchers_active_id,cre_product_id,is_limit_cre_count,cre_award_count,per_bank_integral,total_bank_integral,per_union_integral,total_union_integral,total_money
	</sql>


	<!-- 添加  RegistDetailRule -->
	<insert id="addRegistDetailRule" parameterType="RegistDetailRule" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_regist_detail_rule (
			<include refid="Not_ID_Column_List" />
		) VALUES (
			#{clientId},#{activeId},#{triggerType},#{awardType},#{limitMoney},
			#{cutMoney},#{vouchersActiveId},#{productId},#{productCount},#{awardCount},
			#{isTotalDay},#{totalDay},#{totalCount},#{isAwardCre},#{creAwardType},
			#{creVouchersActiveId},#{creProductId},#{isLimitCreCount},#{creAwardCount},
			#{perBankIntegral},#{totalBankIntegral},#{perUnionIntegral},#{totalUnionIntegral},#{totalMoney}
		) 
	</insert>


	<!-- 批量添加  RegistDetailRule -->
	<insert id="addRegistDetailRuleByBatch" parameterType="java.util.List">
		INSERT INTO cb_regist_detail_rule (
			<include refid="Not_ID_Column_List" />
		) VALUES 
		<foreach collection="registDetailRuleList" item="item" index="index" separator=",">
			(#{item.clientId},#{item.activeId},#{item.triggerType},#{item.awardType},
			#{item.limitMoney},#{item.cutMoney},#{item.vouchersActiveId},
			#{item.productId},#{item.productCount},#{item.awardCount},#{item.isTotalDay},
			#{item.totalDay},#{item.totalCount},#{item.isAwardCre},#{item.creAwardType},
			#{item.creVouchersActiveId},#{item.creProductId},#{item.isLimitCreCount},#{item.creAwardCount},
			#{item.perBankIntegral},#{item.totalBankIntegral},#{item.perUnionIntegral},#{item.totalUnionIntegral},#{totalMoney})
		</foreach>
	</insert>


	<!-- 删除  RegistDetailRule -->
	<delete id="deleteRegistDetailRule" parameterType="RegistDetailRule">
		DELETE FROM cb_regist_detail_rule 
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="activeId != null">
				AND active_id = #{activeId}
			</if>
			<if test="triggerType != null">
				AND trigger_type = #{triggerType}
			</if>
			<if test="awardType != null">
				AND award_type = #{awardType}
			</if>
			<if test="limitMoney != null">
				AND limit_money = #{limitMoney}
			</if>
			<if test="cutMoney != null">
				AND cut_money = #{cutMoney}
			</if>
			<if test="vouchersActiveId != null">
				AND vouchers_active_id = #{vouchersActiveId}
			</if>
			<if test="productId != null">
				AND product_id = #{productId}
			</if>
			<if test="productCount != null">
				AND product_count = #{productCount}
			</if>
			<if test="awardCount != null">
				AND award_count = #{awardCount}
			</if>
			<if test="isTotalDay != null">
				AND is_total_day = #{isTotalDay}
			</if>
			<if test="totalDay != null">
				AND total_day = #{totalDay}
			</if>
			<if test="totalCount != null">
				AND total_count = #{totalCount}
			</if>
			<if test="isAwardCre != null">
				AND is_award_cre = #{isAwardCre}
			</if>
			<if test="creAwardType != null">
				AND cre_award_type = #{creAwardType}
			</if>
			<if test="creVouchersActiveId != null">
				AND cre_vouchers_active_id = #{creVouchersActiveId}
			</if>
			<if test="creProductId != null">
				AND cre_product_id = #{creProductId}
			</if>
			<if test="isLimitCreCount != null">
				AND is_limit_cre_count = #{isLimitCreCount}
			</if>
			<if test="creAwardCount != null">
				AND cre_award_count = #{creAwardCount}
			</if>
			<if test="totalUnionIntegral != null">
				total_union_integral = #{totalUnionIntegral}, 
			</if>
			<if test="perUnionIntegral != null">
				per_union_integral = #{perUnionIntegral}, 
			</if>
			<if test="totalBankIntegral != null">
				total_bank_integral = #{totalBankIntegral}, 
			</if>
			<if test="perBankIntegral != null">
				per_bank_integral = #{perBankIntegral}, 
			</if>
		</where>
	</delete>


	<!-- 根据id删除  RegistDetailRule -->
	<delete id="deleteRegistDetailRuleById" parameterType="java.lang.Long">
		DELETE FROM cb_regist_detail_rule 
		 WHERE 
			 id = #{id} 
	</delete>


	<!-- 修改  RegistDetailRule -->
	<update id="updateRegistDetailRule" parameterType="RegistDetailRule">
		UPDATE cb_regist_detail_rule 
		<set>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="activeId != null">
				active_id = #{activeId}, 
			</if>
			<if test="triggerType != null">
				trigger_type = #{triggerType}, 
			</if>
			<if test="awardType != null">
				award_type = #{awardType}, 
			</if>
			<if test="limitMoney != null">
				limit_money = #{limitMoney}, 
			</if>
			<if test="cutMoney != null">
				cut_money = #{cutMoney}, 
			</if>
			<if test="totalMoney != null">
				total_money = #{totalMoney},
			</if>
				vouchers_active_id = #{vouchersActiveId}, 
			<if test="productId != null">
				product_id = #{productId}, 
			</if>
			<if test="productCount != null">
				product_count = #{productCount}, 
			</if>
			<if test="awardCount != null">
				award_count = #{awardCount}, 
			</if>
			<if test="isTotalDay != null">
				is_total_day = #{isTotalDay}, 
			</if>
			<if test="totalDay != null">
				total_day = #{totalDay}, 
			</if>
			<if test="totalCount != null">
				total_count = #{totalCount}, 
			</if>
			<if test="isAwardCre != null">
				is_award_cre = #{isAwardCre}, 
			</if>
			<if test="creAwardType != null">
				cre_award_type = #{creAwardType}, 
			</if>
			<if test="creVouchersActiveId != null">
				cre_vouchers_active_id = #{creVouchersActiveId}, 
			</if>
			<if test="creProductId != null">
				cre_product_id = #{creProductId}, 
			</if>
			<if test="isLimitCreCount != null">
				is_limit_cre_count = #{isLimitCreCount}, 
			</if>
			<if test="totalUnionIntegral != null">
				total_union_integral = #{totalUnionIntegral}, 
			</if>
			<if test="perUnionIntegral != null">
				per_union_integral = #{perUnionIntegral}, 
			</if>
			<if test="totalBankIntegral != null">
				total_bank_integral = #{totalBankIntegral}, 
			</if>
			<if test="perBankIntegral != null">
				per_bank_integral = #{perBankIntegral}, 
			</if>
		</set>

		<where>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="activeId != null">
				AND active_id = #{activeId}
			</if>
		</where>
	</update>


	<!-- 根据id修改  RegistDetailRule -->
	<update id="updateRegistDetailRuleById" parameterType="RegistDetailRule">
		UPDATE cb_regist_detail_rule 
		<set>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="activeId != null">
				active_id = #{activeId}, 
			</if>
			<if test="triggerType != null">
				trigger_type = #{triggerType}, 
			</if>
			<if test="awardType != null">
				award_type = #{awardType}, 
			</if>
			<if test="limitMoney != null">
				limit_money = #{limitMoney}, 
			</if>
			<if test="cutMoney != null">
				cut_money = #{cutMoney}, 
			</if>
			<if test="vouchersActiveId != null">
				vouchers_active_id = #{vouchersActiveId}, 
			</if>
			<if test="productId != null">
				product_id = #{productId}, 
			</if>
			<if test="productCount != null">
				product_count = #{productCount}, 
			</if>
			<if test="awardCount != null">
				award_count = #{awardCount}, 
			</if>
			<if test="isTotalDay != null">
				is_total_day = #{isTotalDay}, 
			</if>
			<if test="totalDay != null">
				total_day = #{totalDay}, 
			</if>
			<if test="totalCount != null">
				total_count = #{totalCount}, 
			</if>
			<if test="isAwardCre != null">
				is_award_cre = #{isAwardCre}, 
			</if>
			<if test="creAwardType != null">
				cre_award_type = #{creAwardType}, 
			</if>
			<if test="creVouchersActiveId != null">
				cre_vouchers_active_id = #{creVouchersActiveId}, 
			</if>
			<if test="creProductId != null">
				cre_product_id = #{creProductId}, 
			</if>
			<if test="isLimitCreCount != null">
				is_limit_cre_count = #{isLimitCreCount}, 
			</if>
			<if test="creAwardCount != null">
				cre_award_count = #{creAwardCount}, 
			</if>
			<if test="totalUnionIntegral != null">
				total_union_integral = #{totalUnionIntegral}, 
			</if>
			<if test="perUnionIntegral != null">
				per_union_integral = #{perUnionIntegral}, 
			</if>
			<if test="totalBankIntegral != null">
				total_bank_integral = #{totalBankIntegral}, 
			</if>
			<if test="perBankIntegral != null">
				per_bank_integral = #{perBankIntegral}, 
			</if>
		</set>

		 WHERE 
            id = #{id} 
	</update>


	<!-- 根据id查询  RegistDetailRule -->
	<select id="findRegistDetailRuleById" parameterType="java.lang.Long" resultMap="registDetailRuleResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_regist_detail_rule 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询一个  RegistDetailRule -->
	<select id="findOneRegistDetailRule" parameterType="RegistDetailRule" resultMap="registDetailRuleResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_regist_detail_rule 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="activeId != null">
				 AND active_id = #{activeId}
			</if>
			<if test="triggerType != null">
				 AND trigger_type = #{triggerType}
			</if>
			<if test="awardType != null">
				 AND award_type = #{awardType}
			</if>
			<if test="limitMoney != null">
				 AND limit_money = #{limitMoney}
			</if>
			<if test="cutMoney != null">
				 AND cut_money = #{cutMoney}
			</if>
			<if test="vouchersActiveId != null">
				 AND vouchers_active_id = #{vouchersActiveId}
			</if>
			<if test="productId != null">
				 AND product_id = #{productId}
			</if>
			<if test="productCount != null">
				 AND product_count = #{productCount}
			</if>
			<if test="awardCount != null">
				 AND award_count = #{awardCount}
			</if>
			<if test="isTotalDay != null">
				 AND is_total_day = #{isTotalDay}
			</if>
			<if test="totalDay != null">
				 AND total_day = #{totalDay}
			</if>
			<if test="totalCount != null">
				 AND total_count = #{totalCount}
			</if>
			<if test="isAwardCre != null">
				 AND is_award_cre = #{isAwardCre}
			</if>
			<if test="creAwardType != null">
				 AND cre_award_type = #{creAwardType}
			</if>
			<if test="creVouchersActiveId != null">
				 AND cre_vouchers_active_id = #{creVouchersActiveId}
			</if>
			<if test="creProductId != null">
				 AND cre_product_id = #{creProductId}
			</if>
			<if test="isLimitCreCount != null">
				 AND is_limit_cre_count = #{isLimitCreCount}
			</if>
			<if test="creAwardCount != null">
				 AND cre_award_count = #{creAwardCount}
			</if>
			<if test="totalUnionIntegral != null">
				AND total_union_integral = #{totalUnionIntegral}, 
			</if>
			<if test="perUnionIntegral != null">
				AND per_union_integral = #{perUnionIntegral}, 
			</if>
			<if test="totalBankIntegral != null">
				AND total_bank_integral = #{totalBankIntegral}, 
			</if>
			<if test="perBankIntegral != null">
				AND per_bank_integral = #{perBankIntegral}, 
			</if>
		 LIMIT 1 
		</where>
	</select>

	<!-- 统计  RegistDetailRule -->
	<select id="countRegistDetailRule" parameterType="RegistDetailRule" resultType="java.lang.Integer">
		SELECT COUNT(0) FROM cb_regist_detail_rule 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="activeId != null">
				 AND active_id = #{activeId}
			</if>
			<if test="triggerType != null">
				 AND trigger_type = #{triggerType}
			</if>
			<if test="awardType != null">
				 AND award_type = #{awardType}
			</if>
			<if test="limitMoney != null">
				 AND limit_money = #{limitMoney}
			</if>
			<if test="cutMoney != null">
				 AND cut_money = #{cutMoney}
			</if>
			<if test="vouchersActiveId != null">
				 AND vouchers_active_id = #{vouchersActiveId}
			</if>
			<if test="productId != null">
				 AND product_id = #{productId}
			</if>
			<if test="productCount != null">
				 AND product_count = #{productCount}
			</if>
			<if test="awardCount != null">
				 AND award_count = #{awardCount}
			</if>
			<if test="isTotalDay != null">
				 AND is_total_day = #{isTotalDay}
			</if>
			<if test="totalDay != null">
				 AND total_day = #{totalDay}
			</if>
			<if test="totalCount != null">
				 AND total_count = #{totalCount}
			</if>
			<if test="isAwardCre != null">
				 AND is_award_cre = #{isAwardCre}
			</if>
			<if test="creAwardType != null">
				 AND cre_award_type = #{creAwardType}
			</if>
			<if test="creVouchersActiveId != null">
				 AND cre_vouchers_active_id = #{creVouchersActiveId}
			</if>
			<if test="creProductId != null">
				 AND cre_product_id = #{creProductId}
			</if>
			<if test="isLimitCreCount != null">
				 AND is_limit_cre_count = #{isLimitCreCount}
			</if>
			<if test="creAwardCount != null">
				 AND cre_award_count = #{creAwardCount}
			</if>
			<if test="totalUnionIntegral != null">
				AND total_union_integral = #{totalUnionIntegral}, 
			</if>
			<if test="perUnionIntegral != null">
				AND per_union_integral = #{perUnionIntegral}, 
			</if>
			<if test="totalBankIntegral != null">
				AND total_bank_integral = #{totalBankIntegral}, 
			</if>
			<if test="perBankIntegral != null">
				AND per_bank_integral = #{perBankIntegral}, 
			</if>
		</where>
	</select>

	<!-- 查询  RegistDetailRule -->
	<select id="findRegistDetailRule" parameterType="RegistDetailRule" resultMap="registDetailRuleResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_regist_detail_rule 
		<if test="registDetailRule != null">
			<where>
				<if test="registDetailRule.id != null">
					 AND id = #{registDetailRule.id}
				</if>
				<if test="registDetailRule.clientId != null">
					 AND client_id = #{registDetailRule.clientId}
				</if>
				<if test="registDetailRule.activeId != null">
					 AND active_id = #{registDetailRule.activeId}
				</if>
				<if test="registDetailRule.triggerType != null">
					 AND trigger_type = #{registDetailRule.triggerType}
				</if>
				<if test="registDetailRule.awardType != null">
					 AND award_type = #{registDetailRule.awardType}
				</if>
				<if test="registDetailRule.limitMoney != null">
					 AND limit_money = #{registDetailRule.limitMoney}
				</if>
				<if test="registDetailRule.cutMoney != null">
					 AND cut_money = #{registDetailRule.cutMoney}
				</if>
				<if test="registDetailRule.vouchersActiveId != null">
					 AND vouchers_active_id = #{registDetailRule.vouchersActiveId}
				</if>
				<if test="registDetailRule.productId != null">
					 AND product_id = #{registDetailRule.productId}
				</if>
				<if test="registDetailRule.productCount != null">
					 AND product_count = #{registDetailRule.productCount}
				</if>
				<if test="registDetailRule.awardCount != null">
					 AND award_count = #{registDetailRule.awardCount}
				</if>
				<if test="registDetailRule.isTotalDay != null">
					 AND is_total_day = #{registDetailRule.isTotalDay}
				</if>
				<if test="registDetailRule.totalDay != null">
					 AND total_day = #{registDetailRule.totalDay}
				</if>
				<if test="registDetailRule.totalCount != null">
					 AND total_count = #{registDetailRule.totalCount}
				</if>
				<if test="registDetailRule.isAwardCre != null">
					 AND is_award_cre = #{registDetailRule.isAwardCre}
				</if>
				<if test="registDetailRule.creAwardType != null">
					 AND cre_award_type = #{registDetailRule.creAwardType}
				</if>
				<if test="registDetailRule.creVouchersActiveId != null">
					 AND cre_vouchers_active_id = #{registDetailRule.creVouchersActiveId}
				</if>
				<if test="registDetailRule.creProductId != null">
					 AND cre_product_id = #{registDetailRule.creProductId}
				</if>
				<if test="registDetailRule.isLimitCreCount != null">
					 AND is_limit_cre_count = #{registDetailRule.isLimitCreCount}
				</if>
				<if test="registDetailRule.creAwardCount != null">
					 AND cre_award_count = #{registDetailRule.creAwardCount}
				</if>
				<if test="registDetailRule.totalUnionIntegral != null">
					AND total_union_integral = #{registDetailRule.totalUnionIntegral}, 
				</if>
				<if test="registDetailRule.perUnionIntegral != null">
					AND per_union_integral = #{registDetailRule.perUnionIntegral}, 
				</if>
				<if test="registDetailRule.totalBankIntegral != null">
					AND total_bank_integral = #{registDetailRule.totalBankIntegral}, 
				</if>
				<if test="registDetailRule.perBankIntegral != null">
					AND per_bank_integral = #{registDetailRule.perBankIntegral}, 
				</if>
			</where>
		</if>
		<if test="order != null">
		 ORDER BY ${order} 
		</if>
	</select>

	<!-- 分页查询  RegistDetailRule -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="registDetailRuleResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_regist_detail_rule 
		<if test="registDetailRule != null">
			<where>
				<if test="registDetailRule.id != null">
					 AND id = #{registDetailRule.id}
				</if>
				<if test="registDetailRule.clientId != null">
					 AND client_id = #{registDetailRule.clientId}
				</if>
				<if test="registDetailRule.activeId != null">
					 AND active_id = #{registDetailRule.activeId}
				</if>
				<if test="registDetailRule.triggerType != null">
					 AND trigger_type = #{registDetailRule.triggerType}
				</if>
				<if test="registDetailRule.awardType != null">
					 AND award_type = #{registDetailRule.awardType}
				</if>
				<if test="registDetailRule.limitMoney != null">
					 AND limit_money = #{registDetailRule.limitMoney}
				</if>
				<if test="registDetailRule.cutMoney != null">
					 AND cut_money = #{registDetailRule.cutMoney}
				</if>
				<if test="registDetailRule.vouchersActiveId != null">
					 AND vouchers_active_id = #{registDetailRule.vouchersActiveId}
				</if>
				<if test="registDetailRule.productId != null">
					 AND product_id = #{registDetailRule.productId}
				</if>
				<if test="registDetailRule.productCount != null">
					 AND product_count = #{registDetailRule.productCount}
				</if>
				<if test="registDetailRule.awardCount != null">
					 AND award_count = #{registDetailRule.awardCount}
				</if>
				<if test="registDetailRule.isTotalDay != null">
					 AND is_total_day = #{registDetailRule.isTotalDay}
				</if>
				<if test="registDetailRule.totalDay != null">
					 AND total_day = #{registDetailRule.totalDay}
				</if>
				<if test="registDetailRule.totalCount != null">
					 AND total_count = #{registDetailRule.totalCount}
				</if>
				<if test="registDetailRule.isAwardCre != null">
					 AND is_award_cre = #{registDetailRule.isAwardCre}
				</if>
				<if test="registDetailRule.creAwardType != null">
					 AND cre_award_type = #{registDetailRule.creAwardType}
				</if>
				<if test="registDetailRule.creVouchersActiveId != null">
					 AND cre_vouchers_active_id = #{registDetailRule.creVouchersActiveId}
				</if>
				<if test="registDetailRule.creProductId != null">
					 AND cre_product_id = #{registDetailRule.creProductId}
				</if>
				<if test="registDetailRule.isLimitCreCount != null">
					 AND is_limit_cre_count = #{registDetailRule.isLimitCreCount}
				</if>
				<if test="registDetailRule.creAwardCount != null">
					 AND cre_award_count = #{registDetailRule.creAwardCount}
				</if>
				
			</where>
		</if>
	</select>

	<!-- 查询当前客户端有效的注册送规则 -->
	<select id="findNowEffectiveRegisteredHandsel" parameterType="java.lang.String" resultMap="registDetailRuleResultMap">
		select 
			<include refid="Base_Column_List" />
        from cb_regist_detail_rule 
        where trigger_type = 0
          and active_id in (select active_id from cb_active_base_rule where expire_start_time <![CDATA[<]]> NOW() and expire_end_time <![CDATA[>]]> NOW() and client_id = #{clientId} and type = '6' and `status` = '3' )
		LIMIT 1 
	</select>

</mapper>

