<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.RegisteredRuleInfoMapper">
	<!-- 注册规则联合查询  -->
	<resultMap type="RegisteredRuleInfo" id="registeredRuleInfoResultMap">  
		<association property="activeBaseRule" column="active_id"  
            javaType="ActiveBaseRule" resultMap="baseRuleResultMap" /> 
        <association property="activeTagRelation" column="active_id"  
            javaType="ActiveTagRelation" resultMap="tagRelationResultMap" /> 
        <association property="registeredDetailRule" column="active_id"  
            javaType="RegistDetailRule" resultMap="detailRuleResultMap" />  
    </resultMap> 
    
    <resultMap type="RegisteredInfo" id="registeredInfoResultMap">
    	<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activeId" column="active_id" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="activeName" column="active_name" />
		<result property="activeLogo" column="active_logo" />
		<result property="expireStartTime" column="expire_start_time" />
		<result property="expireEndTime" column="expire_end_time" />
		<result property="limitType" column="limit_type" />
		<result property="merchantRate" column="merchant_rate" />
		<result property="bankRate" column="bank_rate" />
		<result property="fftRate" column="fft_rate" />
		<result property="settleType" column="settle_type" />
		<result property="description" column="description" />
		<result property="operator" column="operator" />
		<result property="itemType" column="item_type" />
		<result property="itemId" column="item_id" />
		<result property="triggerType" column="trigger_type" />
		<result property="awardType" column="award_type" />
		<result property="limitMoney" column="limit_money" />
		<result property="cutMoney" column="cut_money" />
		<result property="totalMoney" column="total_money" />
		<result property="vouchersActiveId" column="vouchers_active_id" />
		<result property="productId" column="product_id" />
		<result property="productCount" column="product_count" />
		<result property="awardCount" column="award_count" />
		<result property="isTotalDay" column="is_total_day" />
		<result property="totalDay" column="total_day" />
		<result property="totalCount" column="total_count" />
		<result property="isAwardCre" column="is_award_cre" />
		<result property="creAwardType" column="cre_award_type" />
		<result property="creVouchersActiveId" column="cre_vouchers_active_id" />
		<result property="creProductId" column="cre_product_id" />
		<result property="isLimitCreCount" column="is_limit_cre_count" />
		<result property="creAwardCount" column="cre_award_count" />
    </resultMap>
	
	<resultMap type="ActiveBaseRule" id="baseRuleResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activeId" column="active_id" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="activeName" column="active_name" />
		<result property="activeLogo" column="active_logo" />
		<result property="expireStartTime" column="expire_start_time" />
		<result property="expireEndTime" column="expire_end_time" />
		<result property="limitType" column="limit_type" />
		<result property="merchantRate" column="merchant_rate" />
		<result property="bankRate" column="bank_rate" />
		<result property="fftRate" column="fft_rate" />
		<result property="settleType" column="settle_type" />
		<result property="description" column="description" />
		<result property="operator" column="operator" />
	</resultMap>
	
	<resultMap type="ActiveTagRelation" id="tagRelationResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="activeId" column="active_id" />
		<result property="itemType" column="item_type" />
		<result property="itemId" column="item_id" />
	</resultMap>
	
	<resultMap type="RegistDetailRule" id="detailRuleResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activeId" column="active_id" />
		<result property="triggerType" column="trigger_type" />
		<result property="awardType" column="award_type" />
		<result property="limitMoney" column="limit_money" />
		<result property="cutMoney" column="cut_money" />
		<result property="totalMoney" column="total_money" />
		<result property="vouchersActiveId" column="vouchers_active_id" />
		<result property="productId" column="product_id" />
		<result property="productCount" column="product_count" />
		<result property="awardCount" column="award_count" />
		<result property="isTotalDay" column="is_total_day" />
		<result property="totalDay" column="total_day" />
		<result property="totalCount" column="total_count" />
		<result property="isAwardCre" column="is_award_cre" />
		<result property="creAwardType" column="cre_award_type" />
		<result property="creVouchersActiveId" column="cre_vouchers_active_id" />
		<result property="creProductId" column="cre_product_id" />
		<result property="isLimitCreCount" column="is_limit_cre_count" />
		<result property="creAwardCount" column="cre_award_count" />
		<result property="perBankIntegral" column="per_bank_integral" />
		<result property="totalBankIntegral" column="total_bank_integral" />
		<result property="perUnionIntegral" column="per_union_integral" />
		<result property="totalUnionIntegral" column="total_union_integral" />
	</resultMap>
	
	<resultMap type="RegisteredExportDetail" id="registeredExportDetailResultMap">
		<result property="menberCode" column="member_code" />
		<result property="phone" column="phone" />
		<result property="registeredTime" column="send_time" />
		<result property="activeName" column="active_name" />
		<result property="clientName" column="name" />
	</resultMap>
		
	<select id="findRegisteredRuleInfo" parameterType="RegisteredRuleInfo" resultMap="registeredRuleInfoResultMap">
		<![CDATA[
			select * from cb_active_base_rule a LEFT JOIN cb_regist_detail_rule d 
			on a.active_id = d.active_id LEFT JOIN cb_active_tag_relation r 
			on a.active_id = r.active_id
			where 1=1
		]]>
		<if test = "activeBaseRule.clientId != null">
			and a.client_id = #{activeBaseRule.clientId}
		</if>
		<if test = "activeBaseRule.activeId != null">
			and a.active_id = #{activeBaseRule.activeId}
		</if>
	</select>
	
	<select id="findregisterRuleListByPage" parameterType="ActiveBaseRule" resultMap="registeredInfoResultMap">
		<![CDATA[
			select * from cb_active_base_rule a LEFT JOIN cb_regist_detail_rule d 
			on a.active_id = d.active_id LEFT JOIN cb_active_tag_relation r 
			on a.active_id = r.active_id 
			where 1=1 and (a.type = '6' or a.type = '7') 
		]]>
		<if test = "activeBaseRule.clientId != null">
			and a.client_id = #{activeBaseRule.clientId}
		</if>
		<if test = "activeBaseRule.activeId != null">
			and a.active_id = #{activeBaseRule.activeId}
		</if>
		<!--  <if test = "activeBaseRule.type != null">
			and a.type = #{activeBaseRule.type}
		</if> -->		
		<if test = "activeBaseRule.status != null">		
			and a.status = #{activeBaseRule.status}
		</if>
		<!--  <if test = "activeBaseRule.createTime != null">
			and a.create_time = #{activeBaseRule.createTime}
		</if>	
		<if test = "activeBaseRule.updateTime != null">
			and a.update_time = #{activeBaseRule.updateTime}
		</if>-->
		<if test = "activeBaseRule.activeName != null">
			and a.active_name like CONCAT('%',#{activeBaseRule.activeName},'%' )
		</if>
		<if test = "activeBaseRule.expireEndTime != null">
			and a.expire_end_time <![CDATA[<=]]> #{activeBaseRule.expireEndTime}
		</if>
		<if test = "activeBaseRule.expireStartTime != null">
			and a.expire_start_time <![CDATA[>=]]> #{activeBaseRule.expireStartTime}
		</if>
		<if test = "activeBaseRule.limitType != null">
			and a.limit_type = #{activeBaseRule.limitType}
		</if>
		<!--  <if test = "activeBaseRule.merchantRate != null">
			and a.merchant_rate = #{activeBaseRule.merchantRate}
		</if>
		<if test = "activeBaseRule.bankRate != null">
			and a.bank_rate = #{activeBaseRule.bankRate}
		</if>
		<if test = "activeBaseRule.fftRate != null">
			and a.fft_rate = #{activeBaseRule.fftRate}
		</if>-->
		<if test = "activeBaseRule.operator != null">
			and a.operator = #{activeBaseRule.operator}
		</if>
	</select>
	
	<select id="findRegisteredExportDetailInfo" parameterType="RegisteredRuleInfo" resultMap="registeredExportDetailResultMap">
		<![CDATA[
			select i.member_code,i.send_time,a.active_name,c.`name` 
			from cb_vouchers_info i, cb_active_base_rule a,cb_client c
			where i.active_id = a.active_id
			and c.client_id = a.client_id
			and a.active_id = #{activeBaseRule.activeId}
			and a.client_id = #{activeBaseRule.clientId}
			and i.member_code > 0
		]]>
	</select>	
</mapper>

