<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.VouchersExpiredInfoMapper">

	<resultMap type="VouchersExpiredInfo" id="vouchersExpiredInfoResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="activeId" column="active_id" />
		<result property="vouchersId" column="vouchers_id" />
		<result property="vouchersMoney" column="vouchers_money" />
		<result property="vouchersUseMoney" column="vouchers_use_money" />
		<result property="vouchersResMoney" column="vouchers_res_money" />
		<result property="memberCode" column="member_code" />
		<result property="sendActiveId" column="send_active_id" />
		<result property="sendTime" column="send_time" />
		<result property="status" column="status" />
		<result property="useOrderId" column="use_order_id" />
		<result property="useTime" column="use_time" />
		<result property="userMemberCode" column="user_member_code" />
	</resultMap>


	<!-- 所有字段list -->
	<sql id="Base_Column_List">
		id,client_id,create_time,update_time,active_id,vouchers_id,vouchers_money,vouchers_use_money,vouchers_res_money,member_code,send_active_id,send_time,status,use_time,user_member_code
	</sql>


	<!-- 不包含ID字段list -->
	<sql id="Not_ID_Column_List">
		client_id,create_time,update_time,active_id,vouchers_id,vouchers_money,vouchers_use_money,vouchers_res_money,member_code,send_active_id,send_time,status,use_time,user_member_code
	</sql>


	<!-- 添加  VouchersExpiredInfo -->
	<insert id="addVouchersExpiredInfo" parameterType="VouchersExpiredInfo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_vouchers_expired_info (
			<include refid="Not_ID_Column_List" />
		) VALUES (
			#{clientId},#{createTime},#{updateTime},#{activeId},#{vouchersId},#{vouchersMoney},#{vouchersUseMoney},#{vouchersResMoney},#{memberCode},#{sendActiveId},#{sendTime},#{status},#{useTime},#{userMemberCode}
		) 
	</insert>


	<!-- 批量添加  VouchersExpiredInfo -->
	<insert id="addVouchersExpiredInfoByBatch" parameterType="java.util.List">
		INSERT INTO cb_vouchers_expired_info (
			<include refid="Not_ID_Column_List" />
		) VALUES 
		<foreach collection="vouchersExpiredInfoList" item="item" index="index" separator=",">
			(#{item.clientId},#{item.createTime},#{item.updateTime},#{item.activeId},#{item.vouchersId},#{item.vouchersMoney},#{item.vouchersUseMoney},#{item.vouchersResMoney},#{item.memberCode},#{item.sendActiveId},#{item.sendTime},#{item.status},#{item.useTime},#{item.userMemberCode})
		</foreach>
	</insert>


	<!-- 删除  VouchersExpiredInfo -->
	<delete id="deleteVouchersExpiredInfo" parameterType="VouchersExpiredInfo">
		DELETE FROM cb_vouchers_expired_info 
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
			<if test="activeId != null">
				AND active_id = #{activeId}
			</if>
			<if test="vouchersId != null">
				AND vouchers_id = #{vouchersId}
			</if>
			<if test="vouchersMoney != null">
				AND vouchers_money = #{vouchersMoney}
			</if>
			<if test="vouchersUseMoney != null">
				AND vouchers_use_money = #{vouchersUseMoney}
			</if>
			<if test="vouchersResMoney != null">
				AND vouchers_res_money = #{vouchersResMoney}
			</if>
			<if test="memberCode != null">
				AND member_code = #{memberCode}
			</if>
			<if test="sendActiveId != null">
				AND send_active_id = #{sendActiveId}
			</if>
			<if test="sendTime != null">
				AND send_time = #{sendTime}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="useTime != null">
				AND use_time = #{useTime}
			</if>
			<if test="userMemberCode != null">
				AND user_member_code = #{userMemberCode}
			</if>
		</where>
	</delete>


	<!-- 根据id删除  VouchersExpiredInfo -->
	<delete id="deleteVouchersExpiredInfoById" parameterType="java.lang.Long">
		DELETE FROM cb_vouchers_expired_info 
		 WHERE 
			 id = #{id} 
	</delete>


	<!-- 修改  VouchersExpiredInfo -->
	<update id="updateVouchersExpiredInfo" parameterType="VouchersExpiredInfo">
		UPDATE cb_vouchers_expired_info 
		<set>
			<if test="id != null">
				id = #{id}, 
			</if>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="activeId != null">
				active_id = #{activeId}, 
			</if>
			<if test="vouchersId != null">
				vouchers_id = #{vouchersId}, 
			</if>
			<if test="vouchersMoney != null">
				vouchers_money = #{vouchersMoney}, 
			</if>
			<if test="vouchersUseMoney != null">
				vouchers_use_money = #{vouchersUseMoney}, 
			</if>
			<if test="vouchersResMoney != null">
				vouchers_res_money = #{vouchersResMoney}, 
			</if>
			<if test="memberCode != null">
				member_code = #{memberCode}, 
			</if>
			<if test="sendActiveId != null">
				send_active_id = #{sendActiveId}, 
			</if>
			<if test="sendTime != null">
				send_time = #{sendTime}, 
			</if>
			<if test="status != null">
				status = #{status}, 
			</if>
			<if test="useTime != null">
				use_time = #{useTime}, 
			</if>
		</set>

		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
			<if test="activeId != null">
				AND active_id = #{activeId}
			</if>
			<if test="vouchersId != null">
				AND vouchers_id = #{vouchersId}
			</if>
			<if test="vouchersMoney != null">
				AND vouchers_money = #{vouchersMoney}
			</if>
			<if test="vouchersUseMoney != null">
				AND vouchers_use_money = #{vouchersUseMoney}
			</if>
			<if test="vouchersResMoney != null">
				AND vouchers_res_money = #{vouchersResMoney}
			</if>
			<if test="memberCode != null">
				AND member_code = #{memberCode}
			</if>
			<if test="sendActiveId != null">
				AND send_active_id = #{sendActiveId}
			</if>
			<if test="sendTime != null">
				AND send_time = #{sendTime}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="useTime != null">
				AND use_time = #{useTime}
			</if>
			<if test="userMemberCode != null">
				AND user_member_code = #{userMemberCode}
			</if>
		</where>
	</update>


	<!-- 根据id修改  VouchersExpiredInfo -->
	<update id="updateVouchersExpiredInfoById" parameterType="VouchersExpiredInfo">
		UPDATE cb_vouchers_expired_info 
		<set>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="activeId != null">
				active_id = #{activeId}, 
			</if>
			<if test="vouchersId != null">
				vouchers_id = #{vouchersId}, 
			</if>
			<if test="vouchersMoney != null">
				vouchers_money = #{vouchersMoney}, 
			</if>
			<if test="vouchersUseMoney != null">
				vouchers_use_money = #{vouchersUseMoney}, 
			</if>
			<if test="vouchersResMoney != null">
				vouchers_res_money = #{vouchersResMoney}, 
			</if>
			<if test="memberCode != null">
				member_code = #{memberCode}, 
			</if>
			<if test="sendActiveId != null">
				send_active_id = #{sendActiveId}, 
			</if>
			<if test="sendTime != null">
				send_time = #{sendTime}, 
			</if>
			<if test="status != null">
				status = #{status}, 
			</if>
			<if test="useTime != null">
				use_time = #{useTime}, 
			</if>
			<if test="userMemberCode != null">
				user_member_code = #{userMemberCode}, 
			</if>
		</set>

		 WHERE 
            id = #{id} 
	</update>


	<!-- 根据id查询  VouchersExpiredInfo -->
	<select id="findVouchersExpiredInfoById" parameterType="java.lang.Long" resultMap="vouchersExpiredInfoResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_vouchers_expired_info 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询一个  VouchersExpiredInfo -->
	<select id="findOneVouchersExpiredInfo" parameterType="VouchersExpiredInfo" resultMap="vouchersExpiredInfoResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_vouchers_expired_info 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 AND update_time = #{updateTime}
			</if>
			<if test="activeId != null">
				 AND active_id = #{activeId}
			</if>
			<if test="vouchersId != null">
				 AND vouchers_id = #{vouchersId}
			</if>
			<if test="vouchersMoney != null">
				 AND vouchers_money = #{vouchersMoney}
			</if>
			<if test="vouchersUseMoney != null">
				 AND vouchers_use_money = #{vouchersUseMoney}
			</if>
			<if test="vouchersResMoney != null">
				 AND vouchers_res_money = #{vouchersResMoney}
			</if>
			<if test="memberCode != null">
				 AND member_code = #{memberCode}
			</if>
			<if test="sendActiveId != null">
				 AND send_active_id = #{sendActiveId}
			</if>
			<if test="sendTime != null">
				 AND send_time = #{sendTime}
			</if>
			<if test="status != null">
				 AND status = #{status}
			</if>
			<if test="useTime != null">
				 AND use_time = #{useTime}
			</if>
			<if test="userMemberCode != null">
				 AND user_member_code = #{userMemberCode}
			</if>
		 LIMIT 1 
		</where>
	</select>

	<!-- 统计  VouchersExpiredInfo -->
	<select id="countVouchersExpiredInfo" parameterType="VouchersExpiredInfo" resultType="java.lang.Integer">
		SELECT COUNT(0) FROM cb_vouchers_expired_info 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 AND update_time = #{updateTime}
			</if>
			<if test="activeId != null">
				 AND active_id = #{activeId}
			</if>
			<if test="vouchersId != null">
				 AND vouchers_id = #{vouchersId}
			</if>
			<if test="vouchersMoney != null">
				 AND vouchers_money = #{vouchersMoney}
			</if>
			<if test="vouchersUseMoney != null">
				 AND vouchers_use_money = #{vouchersUseMoney}
			</if>
			<if test="vouchersResMoney != null">
				 AND vouchers_res_money = #{vouchersResMoney}
			</if>
			<if test="memberCode != null">
				 AND member_code = #{memberCode}
			</if>
			<if test="sendActiveId != null">
				 AND send_active_id = #{sendActiveId}
			</if>
			<if test="sendTime != null">
				 AND send_time = #{sendTime}
			</if>
			<if test="status != null">
				 AND status = #{status}
			</if>
			<if test="useTime != null">
				 AND use_time = #{useTime}
			</if>
			<if test="userMemberCode != null">
				 AND user_member_code = #{userMemberCode}
			</if>
		</where>
	</select>

	<!-- 查询  VouchersExpiredInfo -->
	<select id="findVouchersExpiredInfo" parameterType="VouchersExpiredInfo" resultMap="vouchersExpiredInfoResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_vouchers_expired_info 
		<if test="vouchersExpiredInfo != null">
			<where>
				<if test="vouchersExpiredInfo.id != null">
					 AND id = #{vouchersExpiredInfo.id}
				</if>
				<if test="vouchersExpiredInfo.clientId != null">
					 AND client_id = #{vouchersExpiredInfo.clientId}
				</if>
				<if test="vouchersExpiredInfo.createTime != null">
					 AND create_time = #{vouchersExpiredInfo.createTime}
				</if>
				<if test="vouchersExpiredInfo.updateTime != null">
					 AND update_time = #{vouchersExpiredInfo.updateTime}
				</if>
				<if test="vouchersExpiredInfo.activeId != null">
					 AND active_id = #{vouchersExpiredInfo.activeId}
				</if>
				<if test="vouchersExpiredInfo.vouchersId != null">
					 AND vouchers_id = #{vouchersExpiredInfo.vouchersId}
				</if>
				<if test="vouchersExpiredInfo.vouchersMoney != null">
					 AND vouchers_money = #{vouchersExpiredInfo.vouchersMoney}
				</if>
				<if test="vouchersExpiredInfo.vouchersUseMoney != null">
					 AND vouchers_use_money = #{vouchersExpiredInfo.vouchersUseMoney}
				</if>
				<if test="vouchersExpiredInfo.vouchersResMoney != null">
					 AND vouchers_res_money = #{vouchersExpiredInfo.vouchersResMoney}
				</if>
				<if test="vouchersExpiredInfo.memberCode != null">
					 AND member_code = #{vouchersExpiredInfo.memberCode}
				</if>
				<if test="vouchersExpiredInfo.sendActiveId != null">
					 AND send_active_id = #{vouchersExpiredInfo.sendActiveId}
				</if>
				<if test="vouchersExpiredInfo.sendTime != null">
					 AND send_time = #{vouchersExpiredInfo.sendTime}
				</if>
				<if test="vouchersExpiredInfo.status != null">
					 AND status = #{vouchersExpiredInfo.status}
				</if>
				<if test="vouchersExpiredInfo.useTime != null">
					 AND use_time = #{vouchersExpiredInfo.useTime}
				</if>
				<if test="vouchersExpiredInfo.userMemberCode != null">
					 AND user_member_code = #{vouchersExpiredInfo.userMemberCode}
				</if>
			</where>
		</if>
		<if test="order != null">
		 ORDER BY ${order} 
		</if>
	</select>

	<!-- 分页查询  VouchersExpiredInfo -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="vouchersExpiredInfoResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_vouchers_expired_info 
		<if test="vouchersExpiredInfo != null">
			<where>
				<if test="vouchersExpiredInfo.id != null">
					 AND id = #{vouchersExpiredInfo.id}
				</if>
				<if test="vouchersExpiredInfo.clientId != null">
					 AND client_id = #{vouchersExpiredInfo.clientId}
				</if>
				<if test="vouchersExpiredInfo.createTime != null">
					 AND create_time = #{vouchersExpiredInfo.createTime}
				</if>
				<if test="vouchersExpiredInfo.updateTime != null">
					 AND update_time = #{vouchersExpiredInfo.updateTime}
				</if>
				<if test="vouchersExpiredInfo.activeId != null">
					 AND active_id = #{vouchersExpiredInfo.activeId}
				</if>
				<if test="vouchersExpiredInfo.vouchersId != null">
					 AND vouchers_id = #{vouchersExpiredInfo.vouchersId}
				</if>
				<if test="vouchersExpiredInfo.vouchersMoney != null">
					 AND vouchers_money = #{vouchersExpiredInfo.vouchersMoney}
				</if>
				<if test="vouchersExpiredInfo.vouchersUseMoney != null">
					 AND vouchers_use_money = #{vouchersExpiredInfo.vouchersUseMoney}
				</if>
				<if test="vouchersExpiredInfo.vouchersResMoney != null">
					 AND vouchers_res_money = #{vouchersExpiredInfo.vouchersResMoney}
				</if>
				<if test="vouchersExpiredInfo.memberCode != null">
					 AND member_code = #{vouchersExpiredInfo.memberCode}
				</if>
				<if test="vouchersExpiredInfo.sendActiveId != null">
					 AND send_active_id = #{vouchersExpiredInfo.sendActiveId}
				</if>
				<if test="vouchersExpiredInfo.sendTime != null">
					 AND send_time = #{vouchersExpiredInfo.sendTime}
				</if>
				<if test="vouchersExpiredInfo.status != null">
					 AND status = #{vouchersExpiredInfo.status}
				</if>
				<if test="vouchersExpiredInfo.useTime != null">
					 AND use_time = #{vouchersExpiredInfo.useTime}
				</if>
				<if test="vouchersExpiredInfo.userMemberCode != null">
					 AND user_member_code = #{vouchersExpiredInfo.userMemberCode}
				</if>
			</where>
		</if>
	</select>


</mapper>

