<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.VouchersMapper">
	<!-- 红包规则联合查询  -->
	<resultMap type="VouchersRuleInfo" id="vouchersRuleInfoResultMap">  
		<association property="activeBaseRule" column="active_id"  
            javaType="ActiveBaseRule" resultMap="baseRuleResultMap" /> 
        <association property="activeTagRelation" column="active_id"  
            javaType="ActiveTagRelation" resultMap="tagRelationResultMap" /> 
        <association property="vouchersDetailRule" column="active_id"  
            javaType="VouchersDetailRule" resultMap="detailRuleResultMap" />  
    </resultMap> 
    
    <resultMap type="Vouchers" id="vouchersResultMap">
    	<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activeId" column="active_id" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="activeName" column="active_name" />
		<result property="activeLogo" column="active_logo" />
		<result property="expireStartTime" column="expire_start_time" />
		<result property="expireEndTime" column="expire_end_time" />
		<result property="limitType" column="limit_type" />
		<result property="merchantRate" column="merchant_rate" />
		<result property="bankRate" column="bank_rate" />
		<result property="fftRate" column="fft_rate" />
		<result property="settleType" column="settle_type" />
		<result property="description" column="description" />
		<result property="operator" column="operator" />
		<result property="itemType" column="item_type" />
		<result property="itemId" column="item_id" />
		<result property="minMoney" column="min_money" />
		<result property="maxMoney" column="max_money" />
		<result property="totalMoney" column="total_money" />
		<result property="isTotalDay" column="is_total_day" />
		<result property="totalDay" column="total_day" />
		<result property="totalCount" column="total_count" />
		<result property="orderMinMoney" column="order_min_money" />
		<result property="isPerDay" column="is_per_day" />
		<result property="perDay" column="per_day" />
		<result property="perCount" column="per_count" />
		<result property="isRepeat" column="is_repeat" />
		<result property="isOtherActive" column="is_other_active" />
		<result property="isPrePay" column="is_pre_pay" />
		<result property="isFtof" column="if_ftof" />
		<result property="payMethod" column="pay_method" />
		<result property="isOnlyNewUsers" column="is_only_new_users" />		
	</resultMap>
	
	<resultMap type="ActiveBaseRule" id="baseRuleResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activeId" column="active_id" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="activeName" column="active_name" />
		<result property="activeLogo" column="active_logo" />
		<result property="expireStartTime" column="expire_start_time" />
		<result property="expireEndTime" column="expire_end_time" />
		<result property="limitType" column="limit_type" />
		<result property="merchantRate" column="merchant_rate" />
		<result property="bankRate" column="bank_rate" />
		<result property="fftRate" column="fft_rate" />
		<result property="settleType" column="settle_type" />
		<result property="description" column="description" />
		<result property="operator" column="operator" />
	</resultMap>
	
	<resultMap type="ActiveTagRelation" id="tagRelationResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="activeId" column="active_id" />
		<result property="itemType" column="item_type" />
		<result property="itemId" column="item_id" />
	</resultMap>
	
	<resultMap type="VouchersDetailRule" id="detailRuleResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activeId" column="active_id" />
		<result property="minMoney" column="min_money" />
		<result property="maxMoney" column="max_money" />
		<result property="totalMoney" column="total_money" />
		<result property="isTotalDay" column="is_total_day" />
		<result property="totalDay" column="total_day" />
		<result property="totalCount" column="total_count" />
		<result property="orderMinMoney" column="order_min_money" />
		<result property="isPerDay" column="is_per_day" />
		<result property="perDay" column="per_day" />
		<result property="perCount" column="per_count" />
		<result property="isRepeat" column="is_repeat" />
		<result property="isOtherActive" column="is_other_active" />
		<result property="isPrePay" column="is_pre_pay" />
		<result property="isFtof" column="if_ftof" />
		<result property="payMethod" column="pay_method" />
		<result property="isOnlyNewUsers" column="is_only_new_users" />		
	</resultMap>
	
	<sql id="active_base_rule_Column_List">
		client_id,active_id,type,status,create_time,update_time,active_name,active_logo,expire_start_time,expire_end_time,limit_type,merchant_rate,bank_rate,fft_rate,settle_type,description,operator
	</sql>
	
	<sql id="vouchers_info_Column_List">
		client_id,create_time,update_time,active_id,vouchers_id,vouchers_money,vouchers_use_money,vouchers_res_money,member_code,send_active_id,send_time,status,use_time,user_member_code,is_upload
	</sql>
	
	<sql id="vouchers_detail_Column_List">
		client_id,active_id,min_money,max_money,total_money,is_total_day,total_day,total_count,order_min_money,is_per_day,per_day,per_count,is_repeat,is_other_active,is_pre_pay,if_ftof,pay_method,is_only_new_users
	</sql>
	
	<sql id="active_sustain_Column_List">
		client_id,create_time,update_time,active_id,sustain_active_type,sustain_active_id,sustain_active_name
	</sql>
	
	<sql id="active_tag_relation_Column_List">
		 client_id,create_time,update_time,active_id,item_type,item_id
	</sql>
	
	<!-- 新增红包规则  -->
	<insert id="addVouchersRuleInfo" parameterType="VouchersRuleInfo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_active_base_rule (
			<include refid="active_base_rule_Column_List" />
		) VALUES (
				#{activeBaseRule.clientId}
				,#{activeBaseRule.activeId}
				,#{activeBaseRule.type}
				,#{activeBaseRule.status}
				,#{activeBaseRule.createTime}
				,#{activeBaseRule.createTime}
				,#{activeBaseRule.activeName}
				,#{activeBaseRule.activeLogo}
				,#{activeBaseRule.expireStartTime}
				,#{activeBaseRule.expireEndTime}
				,#{activeBaseRule.limitType}
				,#{activeBaseRule.merchantRate}
				,#{activeBaseRule.bankRate}
				,#{activeBaseRule.fftRate}
				,#{activeBaseRule.settleType}
				,#{activeBaseRule.description}
				,#{activeBaseRule.operator}
		);	
	</insert>
	
	<insert id="addVouchersDetailInfo" parameterType="VouchersRuleInfo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_vouchers_detail_rule (
			<include refid="vouchers_detail_Column_List" />
		) VALUES (
			#{vouchersDetailRule.clientId}
			,#{activeBaseRule.activeId}
			,#{vouchersDetailRule.minMoney}
			,#{vouchersDetailRule.maxMoney}
			,#{vouchersDetailRule.totalMoney}
			,#{vouchersDetailRule.isTotalDay}
			,#{vouchersDetailRule.totalDay}
			,#{vouchersDetailRule.totalCount}
			,#{vouchersDetailRule.orderMinMoney}
			,#{vouchersDetailRule.isPerDay}
			,#{vouchersDetailRule.perDay}
			,#{vouchersDetailRule.perCount}
			,#{vouchersDetailRule.isRepeat}
			,#{vouchersDetailRule.isOtherActive}
			,#{vouchersDetailRule.isPrePay}
			,#{vouchersDetailRule.isFtof}
			,#{vouchersDetailRule.payMethod}
			,#{vouchersDetailRule.isOnlyNewUsers}
		);
	</insert>
	
	<insert id="addActiveTagRelationInfo" parameterType="VouchersRuleInfo" useGeneratedKeys="true" keyProperty="id">	
		INSERT INTO cb_active_tag_relation (
			<include refid="active_tag_relation_Column_List" />
		) VALUES (
			 #{activeTagRelation.clientId}
                ,#{activeBaseRule.createTime}
                ,#{activeBaseRule.createTime}
                ,#{activeBaseRule.activeId}
                ,#{activeTagRelation.itemType}
                ,#{activeTagRelation.itemId}
		);
	</insert>
	
	<insert id="addVouchersInfo" parameterType="VouchersRuleInfo" useGeneratedKeys="true" keyProperty="id">	
		INSERT INTO cb_vouchers_info (
			<include refid="vouchers_info_Column_List"/>
		) VALUES 
		<foreach collection="vouchersInfoList" item="vouchersInfoList" index="index" separator=",">
			(#{vouchersInfoList.clientId}
			,#{activeBaseRule.createTime}
			,#{activeBaseRule.createTime}
			,#{activeBaseRule.activeId}
			,#{vouchersInfoList.vouchersId}
			,#{vouchersInfoList.vouchersMoney}
			,#{vouchersInfoList.vouchersUseMoney}
			,#{vouchersInfoList.vouchersResMoney}
			,#{vouchersInfoList.memberCode}
			,#{vouchersInfoList.sendActiveId}
			,#{vouchersInfoList.sendTime}
			,#{vouchersInfoList.status}
			,#{vouchersInfoList.useTime}
			,#{vouchersInfoList.userMemberCode})
		</foreach>
	</insert>
	
	<insert id="addTemporaryVouchersInfo">	
		INSERT INTO cb_vouchers_temporary_info (
			<include refid="vouchers_info_Column_List"/>
		) VALUES 
		<foreach collection="vouchersRuleInfo" item="vouchersRuleInfo" index="index" separator=",">
			(#{vouchersRuleInfo.clientId}
			,SYSDATE()
			,SYSDATE()
			,#{vouchersRuleInfo.activeId}
			,#{vouchersRuleInfo.vouchersId}
			,"0"
			,"0"
			,"0"
			,"0"
			,NULL
			,NULL
			,"0"
			,NULL
			,"0"
			,#{vouchersRuleInfo.isUpload})
		</foreach>
	</insert>
		
	<insert id="addActiveSustainInfo" parameterType="VouchersRuleInfo" useGeneratedKeys="true" keyProperty="id">	 
		INSERT INTO cb_active_sustain_relation (
			<include refid="active_sustain_Column_List"></include>
		) VALUES 
			<foreach collection="activeSustainRelationList" item="activeSustainRelationList" index="index" separator=",">
				(#{activeSustainRelationList.clientId}
				,#{activeSustainRelationList.updateTime}
				,#{activeSustainRelationList.updateTime}
				,#{activeBaseRule.activeId}
				,#{activeSustainRelationList.sustainActiveType}
				,#{activeSustainRelationList.sustainActiveId}
				,#{activeSustainRelationList.sustainActiveName})
			</foreach>
	</insert>
	
	<select id="findvoucherList" parameterType="VouchersRuleInfo" resultMap="vouchersResultMap">
		<![CDATA[
			select * from cb_active_base_rule a LEFT JOIN cb_vouchers_detail_rule d 
			on a.active_id = d.active_id LEFT JOIN cb_active_tag_relation r 
			on a.active_id = r.active_id
			where 1=1
		]]>
		<if test = "activeBaseRule.clientId != null">
			and a.client_id = #{activeBaseRule.clientId}
		</if>
		<if test = "activeBaseRule.activeId != null">
			and a.active_id = #{activeBaseRule.activeId}
		</if>
		<if test = "activeBaseRule.type != null">
			and a.type = #{activeBaseRule.type}
		</if>		
		<if test = "activeBaseRule.status != null">		
			and a.status = #{activeBaseRule.status}
		</if>
		<if test = "activeBaseRule.createTime != null">
			and a.create_time = #{activeBaseRule.createTime}
		</if>	
		<if test = "activeBaseRule.updateTime != null">
			and a.update_time = #{activeBaseRule.updateTime}
		</if>
		<if test = "activeBaseRule.activeName != null">
			and a.active_name = #{activeBaseRule.activeName}
		</if>
		<if test = "activeBaseRule.expireStartTime != null">
			and a.expire_start_time = #{activeBaseRule.expireStartTime}
		</if>
		<if test = "activeBaseRule.expireEndTime != null">
			and a.expire_end_time = #{activeBaseRule.expireEndTime}
		</if>
		<if test = "activeBaseRule.limitType != null">
			and a.limit_type = #{activeBaseRule.limitType}
		</if>
		<if test = "activeBaseRule.merchantRate != null">
			and a.merchant_rate = #{activeBaseRule.merchantRate}
		</if>
		<if test = "activeBaseRule.bankRate != null">
			and a.bank_rate = #{activeBaseRule.bankRate}
		</if>
		<if test = "activeBaseRule.fftRate != null">
			and a.fft_rate = #{activeBaseRule.fftRate}
		</if>
		<if test = "activeBaseRule.operator != null">
			and a.operator = #{activeBaseRule.operator}
		</if>		
	</select>
	
	<select id="findvoucherListByPage" resultMap="vouchersResultMap">
		<![CDATA[
			select * from cb_active_base_rule a LEFT JOIN cb_vouchers_detail_rule d 
			on a.active_id = d.active_id LEFT JOIN cb_active_tag_relation r 
			on a.active_id = r.active_id 
			where 1=1
		]]>
		<if test = "activeBaseRule.clientId != null">
			and a.client_id = #{activeBaseRule.clientId}
		</if>
		<if test = "activeBaseRule.activeId != null">
			and a.active_id = #{activeBaseRule.activeId}
		</if>
		<if test = "activeBaseRule.type != null">
			and a.type = #{activeBaseRule.type}
		</if>		
		<if test = "activeBaseRule.status != null">		
			and a.status = #{activeBaseRule.status}
		</if>
		<if test = "activeBaseRule.createTime != null">
			and a.create_time = #{activeBaseRule.createTime}
		</if>	
		<if test = "activeBaseRule.updateTime != null">
			and a.update_time = #{activeBaseRule.updateTime}
		</if>
		<if test = "activeBaseRule.activeName != null">
			and a.active_name  like CONCAT('%',#{activeBaseRule.activeName},'%' )
		</if>
		<if test = "activeBaseRule.expireStartTime != null">
			and a.expire_start_time = #{activeBaseRule.expireStartTime}
		</if>
		<if test = "activeBaseRule.expireEndTime != null">
			and a.expire_end_time = #{activeBaseRule.expireEndTime}
		</if>
		<if test = "activeBaseRule.limitType != null">
			and a.limit_type = #{activeBaseRule.limitType}
		</if>
		<if test = "activeBaseRule.merchantRate != null">
			and a.merchant_rate = #{activeBaseRule.merchantRate}
		</if>
		<if test = "activeBaseRule.bankRate != null">
			and a.bank_rate = #{activeBaseRule.bankRate}
		</if>
		<if test = "activeBaseRule.fftRate != null">
			and a.fft_rate = #{activeBaseRule.fftRate}
		</if>
		<if test = "activeBaseRule.operator != null">
			and a.operator = #{activeBaseRule.operator}
		</if>
	</select>
	
	<!-- 从临时表拷贝数据 -->
	<insert id="copyVouchersInfo" parameterType="VouchersRuleInfo" useGeneratedKeys="true" keyProperty="id">	
		INSERT INTO cb_vouchers_info (
			<include refid="vouchers_info_Column_List"/>
		)
		SELECT 
		<include refid="vouchers_info_Column_List"/>
		FROM cb_vouchers_temporary_info i where i.active_id = #{vouchersDetailRule.temporaryActiveId}
	</insert>
	
	<!-- 修改拷贝后的临时券码 -->
	<update id="updateVouchersInfo" parameterType="VouchersRuleInfo">
		UPDATE cb_vouchers_info 
		<set>
			<if test="activeBaseRule.clientId != null">
				client_id = #{activeBaseRule.clientId}, 
			</if>
			<if test="activeBaseRule.activeId != null">
				active_id = #{activeBaseRule.activeId}, 
			</if>
			<if test="vouchersDetailRule.minMoney != null">
				vouchers_money = #{vouchersDetailRule.minMoney}, 
			</if>
			<if test="vouchersDetailRule.minMoney != null">
				vouchers_res_money = #{vouchersDetailRule.minMoney}, 
			</if>
		</set>
		<where>
			<if test="vouchersDetailRule.temporaryActiveId != null">
				active_id = #{vouchersDetailRule.temporaryActiveId}
			</if>
		</where>
	</update>
	
</mapper>

