<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.WeightActivityTagMapper">

	<resultMap type="WeightActivityTag" id="weightActivityTagResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activityId" column="activity_id" />
		<result property="elementId" column="element_id" />
		<result property="weight" column="weight" />
		<result property="activityType" column="activity_type" />
		<result property="operator" column="operator" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,client_id,activity_id,element_id,weight,activity_type,operator,create_time,update_time
	</sql>
	<!-- 根据activity id查询   -->
	<select id="findWeightActivityTagByActivityId" resultMap="weightActivityTagResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_weight_activity_tag 
        WHERE 
            activity_id = #{activityId} and activity_type = #{activityType} and client_id = #{clientId}
	</select>
	
	<select id="findAllWeightActivityTag" parameterType="java.lang.String" resultMap="weightActivityTagResultMap">
		SELECT 
			<include refid="Base_Column_List" />
		FROM cb_weight_activity_tag
		where client_id = #{clientId}
	</select>
   
   <select id="findActive" resultType="java.lang.Integer">
   		select count(1) from cb_active_tag_relation tag
	LEFT JOIN cb_active_base_rule base
		on tag.active_id = base.active_id
			and tag.client_id = base.client_id
	LEFT JOIN cb_active_detail_rule detail
		ON tag.active_id = detail.active_id
			and tag.client_id = detail.client_id
	where tag.item_type = #{itemType} and base.expire_end_time <![CDATA[ >= ]]> SYSDATE() and tag.client_id = #{clientId}
	and base.status = '3' and is_pre_pay = '1' and tag.item_id = #{itemId}
			<if test="activeId != null">
				 AND tag.active_id != #{activeId}
			</if>
   </select>
   
	
</mapper>

