<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- The content of element type "configuration" must match "(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,plugins?,environments?,databaseIdProvider?,mappers?)". -->

	<properties url="file:./config/jdbc.properties"/>

	<!-- 指定结果集映射关系 -->
	<typeAliases>
		<typeAlias alias="BizInstanceAttr" type="com.froad.po.mysql.BizInstanceAttr" />
		<typeAlias alias="BizInstanceAttrValue" type="com.froad.po.mysql.BizInstanceAttrValue" />
		<typeAlias alias="HistoryInstance" type="com.froad.po.mysql.HistoryInstance" />
		<typeAlias alias="HistoryTask" type="com.froad.po.mysql.HistoryTask" />
		<typeAlias alias="HistoryTaskActor" type="com.froad.po.mysql.HistoryTaskActor" />
		<typeAlias alias="Instance" type="com.froad.po.mysql.Instance" />
		<typeAlias alias="Process" type="com.froad.po.mysql.Process" />
		<typeAlias alias="ProcessNode" type="com.froad.po.mysql.ProcessNode" />
		<typeAlias alias="Task" type="com.froad.po.mysql.Task" />
		<typeAlias alias="TaskActor" type="com.froad.po.mysql.TaskActor" />
		<typeAlias alias="ProcessConfig" type="com.froad.po.mysql.ProcessConfig" />

		<typeAlias alias="Org" type="com.froad.po.Org" />
	</typeAliases>
	
	<!-- 分页拦截器 mysql or oracle -->
	<plugins>
		<plugin interceptor="com.froad.db.mysql.interceptor.PageInterceptor">
			<property name="databaseDialect" value="com.froad.db.mysql.dialet.MySQLDialect" />
			<property name="pageSqlIdRegEx" value=".*ByPage" />
		</plugin>
	</plugins>

	<!-- -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="com.froad.db.mysql.datasource.DruidDataSourceFactory">
				<property name="driverClassName" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />

				<!-- 配置初始化大小、最小、最大 -->
				<property name="initialSize" value="${pool.initialSize}" />
				<property name="minIdle" value="${pool.minIdle}" />
				<property name="maxActive" value="${pool.maxActive}" />

				<!-- 配置获取连接等待超时的时间 -->
				<property name="maxWait" value="${pool.maxWait}" />

				<property name="validationQuery" value="select now()" />
				<property name="testWhileIdle" value="true" />
				<property name="testOnBorrow" value="false" />
				<property name="testOnReturn" value="false" />
				<property name="poolPreparedStatements" value="false" />
				<property name="maxOpenPreparedStatements" value="-1" />

				<!-- 对于长时间不使用的连接强制关闭 -->
				<property name="removeAbandoned" value="true" />

				<!-- 超过30分钟开始关闭空闲连接 -->
				<property name="removeAbandonedTimeout" value="120" />

				<!-- 将当前关闭动作记录到日志 -->
				<property name="logAbandoned" value="true" />
			</dataSource>
		</environment>
	</environments>

	<!-- 指定mapper资源 -->
	<mappers>		
		<mapper resource="mappers/BizInstanceAttrMapper.xml" />
		<mapper resource="mappers/BizInstanceAttrValueMapper.xml" />
		<mapper resource="mappers/HistoryInstanceMapper.xml" />
		<mapper resource="mappers/HistoryTaskMapper.xml" />
		<mapper resource="mappers/HistoryTaskActorMapper.xml" />
		<mapper resource="mappers/InstanceMapper.xml" />
		<mapper resource="mappers/ProcessMapper.xml" />
		<mapper resource="mappers/ProcessNodeMapper.xml" />
		<mapper resource="mappers/TaskMapper.xml" />
		<mapper resource="mappers/TaskActorMapper.xml" />
		<mapper resource="mappers/ProcessConfigMapper.xml" />
		
		<mapper resource="mappers/OrgCommonMapper.xml" />
	</mappers>

</configuration>