<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chonggou.mappers.BankOperateLogMapper">

	<resultMap type="BankOperateLog" id="bankOperateLogResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="platType" column="plat_type" />
		<result property="userId" column="user_id" />
		<result property="username" column="username" />
		<result property="roleId" column="role_id" />
		<result property="description" column="description" />
		<result property="clientId" column="client_id" />
		<result property="orgCode" column="org_code" />
		<result property="orgName" column="org_name" />
		<result property="operatorIp" column="operator_ip" />
		<result property="logType" column="log_type" />
	</resultMap>


	<!-- 添加  BankOperateLog -->
	<insert id="addBankOperateLogByBatch" parameterType="BankOperateLog">
			INSERT INTO cb_bank_operate_log (
				create_time,plat_type,user_id,username,role_id,description,client_id,org_code,org_name,operator_ip,log_type
			) VALUES
			<foreach collection="bankOperateLogs" item="item" index="index" separator=",">
				(#{item.createTime},#{item.platType},#{item.userId},#{item.username},#{item.roleId},#{item.description},#{item.clientId},#{item.orgCode},#{item.orgName},#{item.operatorIp},#{item.logType}) 
			</foreach> 
	</insert>


	

</mapper>

