<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chonggou.mappers.BankResourceMapper">

	<resultMap type="BankResource" id="bankResourceResultMap">
		<id property="id" column="id"/>
		<result property="clientId" column="client_id" />
		<result property="resourceName" column="resource_name" />
		<result property="resourceType" column="resource_type" />
		<result property="parentResourceId" column="parent_resource_id" />
		<result property="status" column="status" />
		<result property="resourceUrl" column="resource_url" />
		<result property="api" column="api" />
		<result property="resourceIcon" column="resource_icon" />
		<result property="treePath" column="tree_path" />
		<result property="isDelete" column="is_delete" />
		<result property="orderValue" column="order_value" />
	</resultMap>


	<!-- 添加  BankResource -->
	<insert id="addBankResource" parameterType="BankResource" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into cb_bank_resource (
				id,client_id,resource_name,resource_type,parent_resource_id,status,resource_url,api,resource_icon,tree_path,is_delete
			) values (
				#{id},#{clientId},#{resourceName},#{resourceType},#{parentResourceId},#{status},#{resourceUrl},#{api},#{resourceIcon},#{treePath},#{isDelete}
			) 
		]]>
	</insert>


	<!-- 修改  BankResource -->
	<update id="updateBankResource" parameterType="BankResource">
		update cb_bank_resource 
            <set>
            	<if test="resourceName != null">
            		resource_name=#{resourceName},
            	</if>
            	<if test="resourceType != null">
            		resource_type=#{resourceType},
            	</if>
            	<if test="parentResourceId != null">
            		parent_resource_id=#{parentResourceId},
            	</if>
            	<if test="status != null">
            		status=#{status},
            	</if>
            	<if test="resourceUrl != null">
            		resource_url=#{resourceUrl},
            	</if>
            	<if test="resourceIcon != null">
            		resource_icon=#{resourceIcon},
            	</if>
            	<if test="treePath != null">
            		tree_path=#{treePath},
            	</if>
            	<if test="api != null">
            		api = #{api},
            	</if>
            </set>
            
			where id = #{id} and is_delete = 0
	</update>

	
	<select id="findById" parameterType="java.lang.Long" resultMap="bankResourceResultMap">
		select * from cb_bank_resource where id=#{id}
	</select>
	
	
	<select id="findAllResources" resultMap="bankResourceResultMap">
		select * from cb_bank_resource
	</select>
	
</mapper>

