<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chonggou.mappers.MerchantResourceMapper">

	<resultMap type="MerchantResource" id="merchantResourceResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="name" column="name" />
		<result property="icon" column="icon" />
		<result property="url" column="url" />
		<result property="api" column="api" />
		<result property="type" column="type" />
		<result property="parentId" column="parent_id" />
		<result property="treePath" column="tree_path" />
		<result property="isEnabled" column="is_enabled" />
	</resultMap>


	<!-- 添加  MerchantResource -->
	<insert id="addMerchantResource" parameterType="MerchantResource" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_merchant_resource (
				client_id,name,icon,url,api,type,parent_id,tree_path,is_enabled
			) VALUES (
				#{clientId},#{name},#{icon},#{url},#{api},#{type},#{parentId},#{treePath},#{isEnabled}
			) 
		]]>
	</insert>


	<!-- 批量添加  MerchantResource -->
	<insert id="addMerchantResourceByBatch" parameterType="java.util.List">
		INSERT INTO cb_merchant_resource (
			client_id,name,icon,url,api,type,parent_id,tree_path,is_enabled
		) VALUES 
		<foreach collection="merchantResourceList" item="item" index="index" separator=",">
			(#{clientId},#{name},#{icon},#{url},#{api},#{type},#{parentId},#{treePath},#{isEnabled})
		</foreach>
	</insert>


	<!-- 删除  MerchantResource -->
	<delete id="deleteMerchantResource" parameterType="MerchantResource">
		DELETE FROM cb_merchant_resource where id = #{id}
	</delete>


	<!-- 修改  MerchantResource -->
	<update id="updateMerchantResource" parameterType="MerchantResource">
		UPDATE cb_merchant_resource 
		<set>
				
				<if test="clientId != null">
					  client_id = #{clientId}, 
				</if>
				<if test="name != null">
					  name = #{name}, 
				</if>
				<if test="icon != null">
					  icon = #{icon}, 
				</if>
				<if test="url != null">
					  url = #{url}, 
				</if>
				<if test="api != null">
					  api = #{api}, 
				</if>
				<if test="type != null">
					  type = #{type}, 
				</if>
				<if test="parentId != null">
					  parent_id = #{parentId}, 
				</if>
				<if test="treePath != null">
					  tree_path = #{treePath}, 
				</if>
				<if test="isEnabled != null">
					  is_enabled = #{isEnabled}, 
				</if>
		</set>
		
		where id = #{id}
	</update>


	<!-- 查询  MerchantResource -->
	<select id="findMerchantResourceById" parameterType="java.lang.Long" resultMap="merchantResourceResultMap">
		SELECT 
            id,client_id,name,icon,url,api,type,parent_id,tree_path,is_enabled 
        FROM cb_merchant_resource 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询  MerchantResource -->
	<select id="findMerchantResource" parameterType="MerchantResource" resultMap="merchantResourceResultMap">
		SELECT 
            id,client_id,name,icon,url,api,type,parent_id,tree_path,is_enabled 
        FROM cb_merchant_resource 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="name != null">
				 AND name = #{name}
			</if>
			<if test="icon != null">
				 AND icon = #{icon}
			</if>
			<if test="url != null">
				 AND url = #{url}
			</if>
			<if test="type != null">
				 AND type = #{type}
			</if>
			<if test="parentId != null">
				 AND parent_id = #{parentId}
			</if>
			<if test="treePath != null">
				 AND tree_path = #{treePath}
			</if>
			<if test="isEnabled != null">
				 AND is_enabled = #{isEnabled}
			</if>
		</where>
	</select>

	<!-- 分页查询  MerchantResource -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="merchantResourceResultMap">
		SELECT 
            id,client_id,name,icon,url,api,type,parent_id,tree_path,is_enabled 
        FROM cb_merchant_resource 
		<if test="merchantResource != null">
			<where>
				<if test="merchantResource.id != null">
					 AND id = #{merchantResource.id}
				</if>
				<if test="merchantResource.clientId != null">
					 AND client_id = #{merchantResource.clientId}
				</if>
				<if test="merchantResource.name != null">
					 AND name = #{merchantResource.name}
				</if>
				<if test="merchantResource.icon != null">
					 AND icon = #{merchantResource.icon}
				</if>
				<if test="merchantResource.url != null">
					 AND url = #{merchantResource.url}
				</if>
				<if test="merchantResource.type != null">
					 AND type = #{merchantResource.type}
				</if>
				<if test="merchantResource.parentId != null">
					 AND parent_id = #{merchantResource.parentId}
				</if>
				<if test="merchantResource.treePath != null">
					 AND tree_path = #{merchantResource.treePath}
				</if>
				<if test="merchantResource.isEnabled != null">
					 AND is_enabled = #{merchantResource.isEnabled}
				</if>
			</where>
		</if>
	</select>


</mapper>

