<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chonggou.mappers.OrgMapper">

	<resultMap type="Org" id="orgResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="bankType" column="bank_type" />
		<result property="orgCode" column="org_code" />
		<result property="orgName" column="org_name" />
		<result property="provinceAgency" column="province_agency" />
		<result property="cityAgency" column="city_agency" />
		<result property="countyAgency" column="county_agency" />
		<result property="phone" column="phone" />
		<result property="merchantId" column="merchant_id" />
		<result property="outletId" column="outlet_id" />
		<result property="areaId" column="area_id" />
		<result property="orgLevel" column="org_level" />
		<result property="needReview" column="need_review" />
		<result property="orgType" column="org_type" />
		<result property="isEnable" column="is_enable" />
	</resultMap>
	
	<!-- 根据id查询  Org -->
	<select id="findOrgById" parameterType="Org" resultMap="orgResultMap">
		select 
			id,client_id,bank_type,org_code,org_name,province_agency,city_agency,county_agency,phone,
			merchant_id,outlet_id,area_id,org_level,need_review,org_type,is_enable 
		from cb_org 
		where is_enable=1 
			<if test="merchantId != null">
				and merchant_id = #{merchantId}
			</if>
			<if test="clientId != null">
				and client_id = #{clientId}
			</if>
			<if test="orgCode != null">
				and org_code = #{orgCode}
			</if>
			<if test="outletId!=null">
			    and outlet_id=#{outletId}
			</if>
	</select>
		
		
		
	<!-- 查询  Org -->
	<select id="findOrg" parameterType="Org" resultMap="orgResultMap">
		select 
			id,client_id,bank_type,org_code,org_name,province_agency,city_agency,county_agency,phone,
			merchant_id,outlet_id,area_id,org_level,need_review,org_type,is_enable 
		from cb_org 
		
			<where>
				<if test="id != null">
					and id = #{id}
				</if>
				<if test="clientId != null">
					and client_id = #{clientId}
				</if>
				<if test="bankType != null">
					and bank_type = #{bankType}
				</if>
				<if test="orgCode != null">
					and org_code = #{orgCode}
				</if>
				<if test="orgName != null">
					and org_name = #{orgName}
				</if>
				<if test="provinceAgency != null">
					and province_agency = #{provinceAgency}
				</if>
				<if test="cityAgency != null">
					and city_agency = #{cityAgency}
				</if>
				<if test="countyAgency != null">
					and county_agency = #{countyAgency}
				</if>
				<if test="phone != null">
					and phone = #{phone}
				</if>
				<if test="merchantId != null">
					and merchant_id = #{merchantId}
				</if>
				<if test="outletId != null">
					and outlet_id = #{outletId}
				</if>
				<if test="areaId != null">
					and area_id = #{areaId}
				</if>
				<if test="orgLevel != null">
					and org_level = #{orgLevel}
				</if>
				<if test="orgType != null">
					and org_type = #{orgType}
				</if>
				<if test="isEnable != null">
					and is_enable = #{isEnable}
				</if>
			</where>
	</select>

	
	<!-- 获取机构信息 -->
	<!-- 查询  Org -->
	<select id="queryByOrgInfo" parameterType="Org" resultMap="orgResultMap">
		select 
			id,client_id,bank_type,org_code,org_name,province_agency,city_agency,county_agency,phone,
			merchant_id,outlet_id,area_id,org_level,need_review,org_type,is_enable
		from cb_org 
			<where>
				<if test="clientId != null">
					and client_id = #{clientId}
				</if>
				<if test="merchantId != null">
					and merchant_id = #{merchantId}
				</if>
				<if test="outletId != null">
					and outlet_id = #{outletId}
				</if>
				<if test="orgCode != null">
					and org_code = #{orgCode}
				</if>
			</where>
	</select>
	
	<!-- 添加  Org -->
	<insert id="addOrg" parameterType="Org" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into cb_org (
				client_id,bank_type,org_code,org_name,province_agency,city_agency,county_agency,phone,merchant_id,outlet_id,area_id,org_level,need_review,org_type,is_enable
			) values (
				#{clientId},#{bankType},#{orgCode},#{orgName},#{provinceAgency},#{cityAgency},#{countyAgency},#{phone},#{merchantId},#{outletId},#{areaId},#{orgLevel},#{needReview},#{orgType},#{isEnable}
			) 
		]]>
	</insert>


	<!-- 批量添加  Org -->
	<insert id="addOrgByBatch" parameterType="java.util.List">
		insert into cb_org (
			client_id,bank_type,org_code,org_name,province_agency,city_agency,county_agency,phone,merchant_id,outlet_id,area_id,org_level,need_review,org_type,is_enable
		) values 
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.clientId},#{item.bankType},#{item.orgCode},#{item.orgName},#{item.provinceAgency},#{item.cityAgency},#{item.countyAgency},#{item.phone},#{item.merchantId},#{item.outletId},#{item.areaId},#{item.orgLevel},#{item.needReview},#{item.orgType},#{item.isEnable})
		</foreach>
	</insert>

</mapper>

