<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chonggou.mappers.ProductCategoryMapper">

	<resultMap type="ProductCategoryCG" id="productCategoryResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="name" column="name" />
		<result property="treePath" column="tree_path" />
		<result property="parentId" column="parent_id" />
		<result property="isDelete" column="is_delete" />
		<result property="icoUrl" column="ico_url" />
		<result property="orderValue" column="order_value" />
	</resultMap>
	<!-- 添加  ProductCategory -->
	<insert id="addProductCategory" parameterType="ProductCategoryCG" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_product_category (
				client_id,name,tree_path,parent_id,is_delete,ico_url,order_value
			) values (
				#{clientId},trim(#{name}),trim(#{treePath}),#{parentId},0,#{icoUrl},#{orderValue}
			) 
		]]>
	</insert>
	<!-- 修改  ProductCategory -->
	<update id="updateProductCategory" parameterType="ProductCategoryCG">
		UPDATE cb_product_category 
		SET
		<if test="name!=null">
		name = trim(#{name})
		</if>
		<if test="treePath!=null">
		 , tree_path = trim(#{treePath})
		</if>
		<if test="parentId!=null">
		 , parent_id = #{parentId}
		</if>
		<if test="icoUrl!=null">
		 , ico_url = #{icoUrl}
		</if>
		  
		<if test="orderValue != null">
		    ,order_value= #{orderValue}	
		</if>	
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
		</where>
	</update>
	<!-- 查询  ProductCategory -->
	<select id="getProductCategorys" parameterType="ProductCategoryCG" resultMap="productCategoryResultMap">
		SELECT id,client_id,name,tree_path,parent_id,is_delete,ico_url,order_value 
		FROM cb_product_category
		WHERE is_delete=0
		<if test="id != null">
			AND id = #{id}
		</if>
		<if test="clientId != null">
			AND client_id = #{clientId}
		</if>
		 ORDER BY order_value DESC 
	</select>
	<!-- 查询  ProductCategory -->
	<select id="findProductCategorys" parameterType="Map" resultMap="productCategoryResultMap">
		SELECT id,client_id,name,tree_path,parent_id,is_delete,ico_url,order_value  
		FROM cb_product_category
        <where>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="names!=null and names.size>0">
				 AND name IN  
				 <foreach collection="names" item="item" open="(" separator="," close=")">
                     #{item}
				 </foreach>
			</if>
		</where>
		 ORDER BY parent_id ASC  
	</select>
<!-- 查询所有 -->
<select id="findAllProductCategory"  resultMap="productCategoryResultMap">
		select * from cb_product_category 
</select>
	<select id="findProductCategoryById" parameterType="java.lang.Long" resultMap="productCategoryResultMap">
    		select * from cb_product_category where id = #{id}
    </select>
</mapper>