<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
	default-autowire="byName">
	
	<bean id="bossProductService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossProductService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossProductService</value>
		</constructor-arg>
	</bean>
	
	<bean id="bossOrderQueryService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossOrderQueryService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossOrderQueryService</value>
		</constructor-arg>
		<constructor-arg>
			<map>
				<entry key="getPresellBillExportUrl" value="60000" />
				<entry key="exportQueryOrderList" value="60000" />
				<entry key="exportPresellOrderTicket" value="60000" />
				<entry key="exportGroupOrderTicket" value="60000" />
				<entry key="exportPointOrderTicket" value="60000" />
			</map>
		</constructor-arg>
	</bean>
	
	<bean id="bossSettlementService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossSettlementService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossSettlementService</value>
		</constructor-arg>
		<constructor-arg>
			<map>
				<entry key="exportSettlementQueryByPage" value="60000" />
			</map>
		</constructor-arg>
	</bean>
	
	<bean id="bossQueryPaymentService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossQueryPaymentService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossQueryPaymentService</value>
		</constructor-arg>
		<constructor-arg>
			<map>
				<entry key="exportPaymentList" value="60000" />
			</map>
		</constructor-arg>
	</bean>
	
	<bean id="bossQueryRefundOrderService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossQueryRefundOrderService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossQueryRefundOrderService</value>
		</constructor-arg>
		<constructor-arg>
			<map>
				<entry key="exportRefundOrderList" value="60000" />
			</map>
		</constructor-arg>
	</bean>
	<bean id="BossmerchantCategoryService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossMerchantCategoryService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossMerchantCategoryService</value>
		</constructor-arg>
		<constructor-arg>
			<map>
				<entry key="merchantCategoryDetailExport" value="60000" />
			</map>
		</constructor-arg>
	</bean>
	<bean id="bossProductCategoryService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossProductCategoryService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossProductCategoryService</value>
		</constructor-arg>
		<constructor-arg>
			<map>
				<entry key="productCategoryDetailExport" value="60000" />
			</map>
		</constructor-arg>
	</bean>
	<bean id="bankAccessService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BankAccessService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BankAccessService</value>
		</constructor-arg>
	</bean>
	
	<bean id="exceptionOfPaymentService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.ExceptionOfPaymentService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>ExceptionOfPaymentService</value>
		</constructor-arg>
	</bean>
	
	<bean id="businessZoneTagService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BusinessZoneTagService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BusinessZoneTagService</value>
		</constructor-arg>
	</bean>
	
		<bean id="outletActivityService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.OutletActivityService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>OutletActivityService</value>
		</constructor-arg>
	</bean>
	
	<bean id="productActivityTagService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.ProductActivityTagService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>ProductActivityTagService</value>
		</constructor-arg>
	</bean>
	
	<bean id="merchantActivityTagService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.MerchantActivityTagService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>MerchantActivityTagService</value>
		</constructor-arg>
	</bean>
	<bean id="providerOrderService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.ProviderOrderService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>ProviderOrderService</value>
		</constructor-arg>
	</bean>
	
	
	<bean id="businessOrderQueryService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BusinessOrderQueryService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BusinessOrderQueryService</value>
		</constructor-arg>
	</bean>
	<bean id="providerService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.ProviderService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>ProviderService</value>
		</constructor-arg>
	</bean>
	
	<bean id="bossDictionaryCategoryService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossDictionaryCategoryService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossDictionaryCategoryService</value>
		</constructor-arg>
	</bean>
	
	<bean id="bossDictionaryService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossDictionaryService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossDictionaryService</value>
		</constructor-arg>
	</bean>
	
	<bean id="bossDictionaryItemService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossDictionaryItemService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossDictionaryItemService</value>
		</constructor-arg>
	</bean>	
	
	<bean id="bossFFTUserService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossFFTUserService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossFFTUserService</value>
		</constructor-arg>
	</bean>
	
	<bean id="bossMerchantService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossMerchantService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.boss.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossMerchantService</value>
		</constructor-arg>
	</bean>
</beans>
