<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
	default-autowire="byName">
	
	
	<bean id="activitiesService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.ActivitiesService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>ActivitiesService</value>
		</constructor-arg>
	</bean>
	<bean id="adService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.AdService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>AdService</value>
		</constructor-arg>
	</bean>
	<bean id="adPositionService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.AdPositionService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>AdPositionService</value>
		</constructor-arg>
	</bean>
	<bean id="smsContentService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.SmsContentService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>SmsContentService</value>
		</constructor-arg>
	</bean>
	<bean id="smsLogService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.SmsLogService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>SmsLogService</value>
		</constructor-arg>
	</bean>
	<bean id="areaService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.AreaService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>AreaService</value>
		</constructor-arg>
	</bean>
	<bean id="bossRoleService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BossRoleService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BossRoleService</value>
		</constructor-arg>
	</bean>
	<bean id="smsMessageService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.SmsMessageService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>SmsMessageService</value>
		</constructor-arg>
	</bean>	
	<bean id="deliveryCorpService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.DeliveryCorpService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>DeliveryCorpService</value>
		</constructor-arg>
	</bean>	
	<bean id="adLocationService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.AdLocationService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>AdLocationService</value>
		</constructor-arg>
	</bean>
	<bean id="advertisingService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.AdvertisingService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>AdvertisingService</value>
		</constructor-arg>
	</bean>
	<bean id="dictionaryService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.DictionaryService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>DictionaryService</value>
		</constructor-arg>
	</bean>
	<bean id="deliveryWayBillService"  class="com.froad.cbank.coremodule.normal.boss.common.thrift.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.DeliveryWayBillService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>DeliveryWayBillService</value>
		</constructor-arg>
	</bean>	
</beans>  