<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<!-- 第三方Service 接口注入 -->
	
	<!-- 用户系统 -->
	<bean id="userSpecService"
		class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${user.hessian.pe_engine.url}/service/userSpecService" />
		<property name="serviceInterface" value="com.pay.user.service.UserSpecService" />
	</bean>
	
	<!-- VIP用户系统 -->
	<bean id="vIPSpecService"
		class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${user.hessian.pe_engine.url}/service/vipSpecService" />
		<property name="serviceInterface" value="com.pay.user.service.VIPSpecService" />
	</bean>
	
	<!-- 用户人工申诉系统 -->
	<bean id="userOuterSpecService"
		class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${user.hessian.pe_engine.url}/service/userOuterSpecService" />
		<property name="serviceInterface" value="com.pay.user.service.UserOuterSpecService" />
	</bean>

	<!-- 联合登陆 -->
	<bean id="thirdPartySpecService"
		class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${user.hessian.pe_engine.url}/service/thirdPartyService" />
		<property name="serviceInterface" value="com.pay.user.service.ThirdPartySpecService" />
	</bean>

	<!-- 账务系统 -->
	<bean id="acctSpecService"
		class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${user.hessian.pe_engine.url}/service/acctSpecService" />
		<property name="serviceInterface" value="com.pay.pe.service.AcctSpecService" />
	</bean>
</beans>