/*
* Author:
* pengling@f-road.com.cn 
*/
/*团购*/
.group{width:758px; border:1px solid #b7b7b7; overflow:hidden; padding:10px 0; background:#f2f6f9;}

.group .list{width:736px; margin:0 auto; overflow:hidden; }

.group .list li{width:352px; height:363px; border:1px solid #CCC; background:#FFF; float:left; margin:10px 7px 5px 7px; position:relative;}

.group .list li .icon{ position:absolute; z-index:22; right:0;}

.group .list li .imgShow{width:322px; height:189px; margin:15px auto;}

.group .list li .imgShow img{width:322px; height:189px;}

.group .list li dl{width:325px; margin:0 auto;}
 
.group .list li dl dt{ font-weight:bold; font-size:16px; margin-bottom:5px; height:18px; overflow:hidden;}

.group .list li dl dt a{ color:#000; text-decoration:none;}

.group .list li dl dt a:hover{ color:#03F; text-decoration:none;}

.group .list li dl dd{ color:#666; font-size:16px; line-height:20px; height:40px; overflow:hidden;}

.group .list li .groupPrice{width:330px; height:40px; margin:0 auto; font-family:"微软雅黑";}

.group .list li .groupPrice .firstPrice{ color:#ee5337; font-size:24px; float:left; line-height:40px;}

.group .list li .groupPrice .secondPrice{ color:#666; font-size:12px; float:left; margin-left:10px; display:inline; line-height:40px;}

.group .list li .groupPrice img{ float:right; margin-right:20px; display:inline;}

.group .list li .discount{width:320px; margin:0 auto; font-family:"微软雅黑";}

.group .list li .discount .leftDiscount{ float:left;}

.group .list li .discount .leftDiscount P{ font-size:12px; color:#666;}

.group .list li .discount .rightDiscount{ float:right; margin-right:10px; display:inline; font-size:14px; line-height:40px; color:#666; }

.group .list li .discount .rightDiscount B{ color:#F00;}
