<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>
    
    <appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="File" value="/var/log/applogs/fenfentong/server/info/tomcat_log_info_SQL.log" />   
        <param name="DatePattern" value="'.'yyyyMMdd" />   
        <layout class="org.apache.log4j.PatternLayout">  
         <param name="ConversionPattern"   
            value="[%d{MMdd HH:mm:ss SSS\} %-5p] [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>   
    </appender>  

    <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
    <logger name="org.springframework.security">
        <level value="INFO"/>
    </logger>

    <logger name="org.apache">
        <level value="ERROR"/>
    </logger>
    
    <logger name="com.opensymphony">
        <level value="ERROR"/>
    </logger>
	
    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>
    
    <logger name="com.froad.CB.dao.impl">
        <level value="DEBUG"/>
    </logger>
     
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGFILE"/>
    </root>

</log4j:configuration>
