<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.FFTOrgMapper">

	<resultMap type="FFTOrg" id="fftOrgResultMap">
		<id property="id" column="id" />
		<result property="orgId" column="org_id" />
		<result property="parentId" column="parent_id" />
		<result property="level" column="level" />
		<result property="platform" column="platform" />
		<result property="clientId" column="client_id" />
		<result property="treePath" column="tree_path" />
		<result property="code" column="code" />
		<result property="orgName" column="org_name" />
		<result property="phone" column="phone" />
		<result property="areaId" column="area_id" />
		<result property="address" column="address" />
		<result property="isDelete" column="is_delete" />
	</resultMap>

	<resultMap type="FFTOrg" id="fftOrgCountResultMap">
		<result property="quantity" column="quantity" />
		<result property="parentId" column="parent_id" />
	</resultMap>
	
	<sql id="selectColumn">
		id,org_id,parent_id,level,platform,client_id,tree_path,code,org_name,phone,area_id,address,is_delete  
	</sql>
	
	

	<!-- 添加  FFTOrg -->
	<insert id="addFFTOrg" parameterType="FFTOrg" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_fft_org (
				org_id,parent_id,level,platform,client_id,tree_path,code,org_name,phone,area_id,address,is_delete 
			) VALUES (
				#{orgId},#{parentId},#{level},#{platform},#{clientId},#{treePath},#{code},#{orgName},#{phone},#{areaId},#{address},#{isDelete}  
			) 
		]]>
	</insert>


	<!-- 批量添加  FFTOrg -->
	<insert id="addFFTOrgByBatch" parameterType="java.util.List">
		INSERT INTO cb_fft_org (
			org_id,parent_id,level,platform,client_id,tree_path,code,org_name,phone,area_id,address,is_delete      
		) VALUES 
		<foreach collection="fftOrgList" item="item" index="index" separator=",">
			(#{item.orgId},#{item.parentId},#{item.level},#{item.platform},#{item.clientId},#{item.treePath},#{item.code},#{item.orgName},#{item.phone},#{item.areaId},#{item.address},#{item.isDelete})
		</foreach>
	</insert>


	<!-- 删除  FFTOrg -->
	<delete id="deleteFFTOrg" parameterType="java.lang.Long">
		update cb_fft_org  set is_delete=true  where id = #{id} 
	</delete>
	
	
	<!-- 修改  FFTOrg -->
	<update id="updateFFTOrg" parameterType="FFTOrg">
		UPDATE cb_fft_org      
		<set>
				<if test="code != null">
					  code = #{code}, 
				</if>
				<if test="level != null">
					  level = #{level}, 
				</if>
				<if test="orgName != null">
					  org_name = #{orgName}, 
				</if>
				<if test="phone != null">
					  phone = #{phone}, 
				</if>
				<if test="areaId != null">
					  area_id = #{areaId}, 
				</if>
				<if test="address != null">
					  address = #{address}, 
				</if>
				<if test="treePath != null">
					  tree_path = #{treePath}, 
				</if>
		</set>
		<where>
			<if test="id != null">
				 AND id = #{id} 
			</if>
		</where>
	</update>


	<!-- 查询  FFTOrg 根据id查 -->
	<select id="findFFTOrgById" parameterType="java.lang.Long" resultMap="fftOrgResultMap">
		SELECT 
            <include refid="selectColumn" />      
        FROM cb_fft_org   
        WHERE 
            id = #{id}
	</select>
	
	<!-- 查询  FFTOrg 根据org_id查 -->
	<select id="findFFTOrgByOrgId" parameterType="java.lang.String" resultMap="fftOrgResultMap">
		SELECT 
            <include refid="selectColumn" />      
        FROM cb_fft_org   
        WHERE 
            org_id = #{orgId}
	</select>
	
	<!-- 查询 单个 FFTOrg -->
	<select id="findOnlyFFTOrg" parameterType="FFTOrg" resultMap="fftOrgResultMap">
		SELECT 
            <include refid="selectColumn" />      
        FROM cb_fft_org   
        <where>
			<if test="id != null">
				 AND id = #{id} 
			</if>
			<if test="orgId != null">
				 AND org_id = #{orgId} 
			</if>
		</where>
	</select>
	
	<!-- 查询id下的子组织信息 -->
	<select id="findChildList" parameterType="java.lang.Long" resultMap="fftOrgResultMap">
		SELECT 
            <include refid="selectColumn" />     
        FROM cb_fft_org     
        WHERE    
        	tree_path like CONCAT('%',#{id},'%') and is_delete=false
	</select>
	
	<!-- 查询多集合id下的子组织信息 -->
	<select id="findChildListByIds" resultMap="fftOrgResultMap">
		SELECT 
            <include refid="selectColumn" />     
        FROM cb_fft_org 
        <where> 
        	is_delete=false 
	        <if test="ids != null and ids.size>0 ">
	        	AND 
	        	<foreach collection="ids" item="id" open="(" separator="or" close=")" index="index">
	              	tree_path REGEXP CONCAT('^.*',#{id},'.*$') 
	       		</foreach>
	        </if>
	        <!-- <if test="treePathSql!=null and treePathSql!=''">
	        	${treePathSql}
	        </if>  -->
        </where>
	</select>
	
	
	<!-- 查询组织id下的子组织数量 -->
	<select id="findChildListCount" parameterType="java.util.List" resultMap="fftOrgCountResultMap">
        SELECT parent_id,COUNT(id) quantity FROM cb_fft_org 
        WHERE parent_id in 
			<foreach collection="ids" item="item" open="(" separator="," close=")">
              	#{item} 
       		</foreach>
       	and is_delete=false GROUP BY parent_id 
	</select>

	<!-- 查询用户下可查看的boss权限组织数量 -->
	<select id="findFFTOrgReByBossUserIdCount" resultMap="fftOrgCountResultMap">
		select parent_id,COUNT(id) quantity from cb_fft_org where platform='boss' and is_delete=false and org_id in 
		(select re_org_id from cb_fft_org_re where org_id in(select org_id from cb_fft_user_org where user_id=#{userId})) 
		and parent_id in 
			<foreach collection="ids" item="item" open="(" separator="," close=")">
              	#{item} 
       		</foreach>
       	and is_delete=false GROUP BY parent_id 
	</select>

	<!-- 查询用户下可查看的权限组织列表 -->
	<select id="findFFTOrgReByUserId" resultMap="fftOrgResultMap">
		select 
			<include refid="selectColumn" />  
		from cb_fft_org where is_delete=false 
			and org_id in
			(select re_org_id from cb_fft_org_re where org_id in(select org_id from cb_fft_user_org where user_id=#{userId}))
			<if test="clientId != null">
				and client_id = #{clientId} 
			</if> 
			<if test="platform != null">
				and platform = #{platform}  
			</if> 
		ORDER BY platform DESC,id ASC   
	</select>
	
	<!-- 查询用户下可查看的boss权限组织列表-查顶级2级 -->
	<select id="findFFTOrgReByBossUserIdTwoLevel" parameterType="java.lang.Long" resultMap="fftOrgResultMap">
		select 
			<include refid="selectColumn" /> 
		from cb_fft_org where platform='boss' and is_delete=false 
			and (level=0 or parent_id in (select id from cb_fft_org where level=0))  
			and org_id in 
			(select re_org_id from cb_fft_org_re where org_id in(select org_id from cb_fft_user_org where user_id=#{userId}))  ORDER BY platform DESC,id ASC  
	</select>
	
	<!-- 查询用户下可查看的组织列表-查顶级2级 -->
	<select id="findFFTOrgReByUserIdTwoLevel" resultMap="fftOrgResultMap">
		select 
			<include refid="selectColumn" /> 
		from cb_fft_org where is_delete=false and (level=0 or parent_id in (select id from cb_fft_org where level=0)) ORDER BY platform DESC,id ASC 
	</select>
	
	<!-- 查询用户下可查看的boss权限组织列表 -查用户下该组织id下一级的权限组织-->
	<select id="findFFTOrgReByBossUserIdOrgId" resultMap="fftOrgResultMap">
		select 
			<include refid="selectColumn" /> 
		from cb_fft_org where platform='boss' and is_delete=false and parent_id=#{id} and org_id in 
			(select re_org_id from cb_fft_org_re where org_id in(select org_id from cb_fft_user_org where user_id=#{userId}))  ORDER BY platform DESC,id ASC 
	</select>
	
	
	<!-- 查询 clientId下符合bank的一级组织-->
	<select id="findFFTOrgOneBankByClientIds" parameterType="java.util.List" resultMap="fftOrgResultMap">
		SELECT 
            <include refid="selectColumn" />    
        FROM cb_fft_org   
        WHERE  
        	is_delete=false and platform='bank' and level=1 and 
        	client_id in 
        	<foreach collection="clientIds" item="item" open="(" separator="," close=")">
              	#{item}
       		</foreach>
	</select>
	
	
	<!-- 查询  FFTOrg 非一级银行组织-->
	<select id="findFFTOrgNotOne" parameterType="java.lang.String" resultMap="fftOrgResultMap">
		SELECT 
            <include refid="selectColumn" />      
        FROM cb_fft_org   
        WHERE 
        	platform = 'bank' AND client_id = #{clientId} AND level != 1 AND is_delete = false  
	</select>
	
	
	<!-- 组织Id集合查询-->
	<select id="findFFTOrgByOrgIds" parameterType="java.util.List" resultMap="fftOrgResultMap">
		SELECT 
            <include refid="selectColumn" />    
        FROM cb_fft_org   
        WHERE  
        	org_id in 
        	<foreach collection="orgIds" item="item" open="(" separator="," close=")">
              	#{item}
       		</foreach>
	</select>
	
	<!-- 组织Id集合查询-->
	<select id="findFFTOrgByIds" parameterType="java.util.List" resultMap="fftOrgResultMap">
		SELECT 
            <include refid="selectColumn" />    
        FROM cb_fft_org    
        WHERE  
        	id in 
        	<foreach collection="ids" item="item" open="(" separator="," close=")">
              	#{item}
       		</foreach>
	</select>
	
	
	<!-- 查询  FFTOrg -->
	<select id="findFFTOrg" parameterType="FFTOrg" resultMap="fftOrgResultMap">
		SELECT 
            <include refid="selectColumn" />      
        FROM cb_fft_org   
		<where>
			<if test="parentId != null">
				 AND parent_id = #{parentId} 
			</if>
			<if test="platform != null">
				 AND platform = #{platform} 
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId} 
			</if>
			<if test="treePath != null">
				 AND tree_path = #{treePath} 
			</if>
			<if test="code != null">
				 AND code = #{code} 
			</if>
			<if test="level != null">
				 AND level = #{level} 
			</if>
			<if test="orgName != null">
				 AND org_name = #{orgName} 
			</if>
			<if test="phone != null">
				 AND phone = #{phone}  
			</if>
			<if test="areaId != null">
				 AND area_id = #{areaId}  
			</if>
			<if test="address != null">
				 AND address = #{address} 
			</if>
			<if test="isDelete != null">
				 AND is_delete = #{isDelete} 
			</if>
		</where>
		order by id desc 
	</select>

	<!-- 分页查询  FFTOrg -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="fftOrgResultMap">
		SELECT 
             <include refid="selectColumn" />     
        FROM cb_fft_org   
		<if test="fftOrg != null">
			<where>
				<if test="fftOrg.parentId != null">
				 	 AND parent_id = #{fftOrg.parentId} 
				</if>
				<if test="fftOrg.platform != null">
					 AND platform = #{fftOrg.platform} 
				</if>
				<if test="fftOrg.clientId != null">
					 AND client_id = #{fftOrg.clientId} 
				</if>
				<if test="fftOrg.treePath != null">
					 AND tree_path like CONCAT('%',#{fftOrg.treePath} ,'%')   
				</if>
				<if test="fftOrg.code != null">
					 AND code = #{fftOrg.code} 
				</if>
				<if test="fftOrg.level != null">
					 AND level = #{fftOrg.level} 
				</if>
				<if test="fftOrg.orgName != null">
					 AND org_name like CONCAT('%',#{fftOrg.orgName},'%' )    
				</if>
				<if test="fftOrg.phone != null">
					 AND phone = #{fftOrg.phone}  
				</if>
				<if test="fftOrg.areaId != null">
					 AND area_id = #{fftOrg.areaId}  
				</if>
				<if test="fftOrg.address != null">
					 AND address = #{fftOrg.address} 
				</if>
				<if test="fftOrg.isDelete != null">
					 AND is_delete = #{fftOrg.isDelete} 
				</if>
			</where>
			order by id desc 
		</if>
	</select>


</mapper>

