<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.OrgRoleMapper">

	<resultMap type="OrgRole" id="orgRoleResultMap">
		<id property="id" column="id" />
		<result property="orgId" column="org_id" />
		<result property="roleId" column="role_id" />
		<result property="roleName" column="role_name" />
	</resultMap>
	
	<sql id="selectColumn">
		id,org_id,role_id,role_name   
	</sql>

	<!-- 添加  OrgRole -->
	<insert id="addOrgRole" parameterType="OrgRole" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_org_role (
				org_id,role_id,role_name 
			) VALUES (
				#{orgId},#{roleId},#{roleName}    
			) 
		]]>
	</insert>


	<!-- 批量添加  OrgRole -->
	<insert id="addOrgRoleByBatch" parameterType="java.util.List">
		INSERT INTO cb_org_role (
			org_id,role_id,role_name 
		) VALUES 
		<foreach collection="orgRoleList" item="item" index="index" separator=",">
			(#{item.orgId},#{item.roleId},#{item.roleName})
		</foreach>
	</insert>


	<!-- 删除  OrgRole 根据组织Id-->
	<delete id="deleteOrgRoleByOrgId" parameterType="java.lang.String">
		delete from cb_org_role  where org_id = #{orgId} 
	</delete>
	
	<!-- 删除  OrgRole 根据角色Id-->
	<delete id="deleteOrgRoleByRoleId" parameterType="java.lang.Long">
		delete from cb_org_role  where role_id = #{roleId} 
	</delete>
	

	<!-- 查询  OrgRole -->
	<select id="findOrgRoleById" parameterType="java.lang.Long" resultMap="orgRoleResultMap">
		SELECT 
            <include refid="selectColumn" />        
        FROM cb_org_role   
        WHERE 
            id = #{id}
	</select>
	

	<!-- 查询  OrgRole -->
	<select id="findOrgRoleByOrgId" parameterType="java.lang.String" resultMap="orgRoleResultMap">
		SELECT 
            <include refid="selectColumn" />      
        FROM cb_org_role   
		 WHERE 
            org_id = #{orgId}
	</select>
	
	
	<!-- 查询  OrgRole -->
	<select id="findOrgRole" parameterType="OrgRole" resultMap="orgRoleResultMap">
		SELECT 
            <include refid="selectColumn" />         
        FROM cb_org_role   
		<where>
			<if test="orgId != null">
				 AND org_id = #{orgId}
			</if>
			<if test="roleId != null">
				 AND role_id = #{roleId}
			</if>
			<if test="roleName != null">
				 AND role_name = #{roleName}
			</if>
		</where>
	</select>

	<!-- 根据组织id集合查询组织角色 -->
	<select id="findOrgRoleByOrgIds" parameterType="java.util.List" resultMap="orgRoleResultMap">
        SELECT 
            <include refid="selectColumn" />         
        FROM cb_org_role 
        WHERE org_id in 
			<foreach collection="orgIds" item="item" open="(" separator="," close=")">
              	#{item} 
       		</foreach>
	</select>
	

	<!-- 分页查询  OrgRole -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="orgRoleResultMap">
		SELECT 
             <include refid="selectColumn" />         
        FROM cb_org_role   
		<if test="orgRole != null">
			<where>
				<if test="orgRole.orgId != null">
					 AND org_id = #{orgRole.orgId}
				</if>
				<if test="orgRole.roleId != null">
					 AND role_id = #{orgRole.roleId}
				</if>
				<if test="orgRole.roleName != null">
					 AND role_name = #{orgRole.roleName}
				</if>
			</where>
			order by id desc 
		</if>
	</select>


</mapper>

