<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ResourceMapper">
 
	<!-- 添加  Resource -->
	<insert id="addResource" parameterType="Resource" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_bank_resource (
				client_id,resource_name,resource_type,parent_resource_id,status,resource_url,resource_icon,tree_path,is_delete,api,order_value,resource_key,platform
			) VALUES (
				#{clientId},#{resourceName},#{resourceType},#{parentResourceId},#{status},#{resourceUrl},#{resourceIcon},#{treePath},#{isDelete},#{api},#{orderValue},#{resourceKey},#{platform}
			) 
		]]>
	</insert>


	<!-- 批量添加  Resource -->
	<insert id="addResourceByBatch" parameterType="java.util.List">
		INSERT INTO cb_bank_resource (
			client_id,resource_name,resource_type,parent_resource_id,status,resource_url,resource_icon,tree_path,is_delete,api,order_value,resource_key,platform
		) VALUES 
		<foreach collection="resourceList" item="item" index="index" separator=",">
			(#{clientId},#{resourceName},#{resourceType},#{parentResourceId},#{status},#{resourceUrl},#{resourceIcon},#{treePath},#{isDelete},#{api},#{orderValue},#{resourceKey},#{platform})
		</foreach>
	</insert>


	<!-- 删除  Resource -->
	<update id="deleteResource" parameterType="Resource">
		update cb_bank_resource set is_delete = 1 where id = #{id} 
	</update>


	<!-- 修改  Resource -->
	<update id="updateResource" parameterType="Resource">
		UPDATE cb_bank_resource 
		<set>
				<if test="resourceName != null">
					  resource_name = #{resourceName}, 
				</if>
				<if test="resourceType != null">
					  resource_type = #{resourceType}, 
				</if>
				<if test="parentResourceId != null">
					  parent_resource_id = #{parentResourceId}, 
				</if>
				<if test="status != null">
					  status = #{status}, 
				</if>
				<if test="resourceUrl != null">
					  resource_url = #{resourceUrl}, 
				</if>
				<if test="resourceIcon != null">
					  resource_icon = #{resourceIcon}, 
				</if>
				<if test="treePath != null">
					  tree_path = #{treePath}, 
				</if>
				<if test="isDelete != null">
					  is_delete = #{isDelete}, 
				</if>
				<if test="api != null">
					  api = #{api}, 
				</if>
				<if test="orderValue != null">
					  order_value = #{orderValue}, 
				</if>
				<if test="resourceKey != null">
					  resource_key = #{resourceKey}, 
				</if>
				
		</set>
		where id = #{id} and is_delete = 0			
	</update>


	<!-- 查询  Resource -->
	<select id="findResourceById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT 
           id, resource_name, type, parent_resource_id, status, resource_url, resource_icon, 
           tree_path, is_delete, api, order_value, is_system, is_menu, platform, resource_key   
        FROM cb_resource 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询  Resource -->
	<select id="findResource" parameterType="Resource" resultMap="BaseResultMap">
		SELECT 
            id, resource_name, type, parent_resource_id, status, resource_url, resource_icon, 
    tree_path, is_delete, api, order_value, is_system, is_menu, platform, resource_key  
        FROM cb_resource 
		<where> 
			<if test="resourceName != null">
				 AND resource_name = #{resourceName}
			</if>
			<if test="type != null">
				 AND type = #{type}
			</if>
			<if test="parentResourceId != null">
				 AND parent_resource_id = #{parentResourceId}
			</if>
			<if test="status != null">
				 AND status = #{status}
			</if>
			<if test="resourceUrl != null">
				 AND resource_url = #{resourceUrl}
			</if>
			<if test="resourceIcon != null">
				 AND resource_icon = #{resourceIcon}
			</if>
			<if test="treePath != null"> 
				 AND find_in_set(#{treePath},tree_path)
			</if>
			<if test="isDelete != null">
				 AND is_delete = #{isDelete}
			</if>
			<if test="api != null">
				 AND api = #{api}
			</if>
			<if test="orderValue != null">
				 AND order_value = #{orderValue}
			</if>
			<if test="resourceKey != null">
				 AND resource_key = #{resourceKey}
			</if>
			<if test="platform != null">
				 AND platform = #{platform}
			</if>
		</where>
		order by tree_path asc
	</select>

	<!-- 根据角色查询资源信息 -->
	<select id="findResourceByRole" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select resource.id, resource_name, type, parent_resource_id, status, resource_url, resource_icon, 
    tree_path, is_delete, api, order_value, is_system, is_menu, resource.platform, resource_key   
		 from cb_resource resource,cb_role_resource role
		 where 
		 resource.id=role.resource_id and role.role_id=#{roleId}
		 
		        <if test="resource.resourceName != null">
				 AND resource_name = #{resource.resourceName}
			</if>
			<if test="resource.type != null">
				 AND type = #{resource.type}
			</if>
			<if test="resource.parentResourceId != null">
				 AND parent_resource_id = #{resource.parentResourceId}
			</if>
			<if test="resource.status != null">
				 AND status = #{resource.status}
			</if>
			<if test="resource.resourceUrl != null">
				 AND resource_url = #{resource.resourceUrl}
			</if>
			<if test="resource.resourceIcon != null">
				 AND resource_icon = #{resource.resourceIcon}
			</if>
			<if test="resource.treePath != null">
				 AND tree_path = #{resource.treePath}
			</if>
			<if test="resource.isDelete != null">
				 AND is_delete = #{resource.isDelete}
			</if>
			<if test="resource.api != null">
				 AND api = #{resource.api}
			</if>
			<if test="resource.orderValue != null">
				 AND order_value = #{resource.orderValue}
			</if>
			<if test="resource.resourceKey != null">
				 AND resource_key = #{resource.resourceKey}
			</if>
			<if test="resource.platform != null">
				 AND platform = #{resource.platform}
			</if>
		 
		 order by tree_path asc
	</select>
	
	<!-- 根据角色集合查询资源信息 --> 
    <select id="findResourceByRoles" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select 
	resource.id, resource_name, type, parent_resource_id, status, resource_url, resource_icon, 
    tree_path, is_delete, api, order_value, is_system, is_menu, resource.platform, resource_key  
     from cb_resource resource,cb_role_resource role 
		 where 
		 resource.id=role.resource_id  
				  <if test="resource.resourceName != null">
				 AND resource_name = #{resource.resourceName}
			</if>
			<if test="resource.type != null">
				 AND type = #{resource.type}
			</if>
			<if test="resource.parentResourceId != null">
				 AND parent_resource_id = #{resource.parentResourceId}
			</if>
			<if test="resource.status != null">
				 AND status = #{resource.status}
			</if>
			<if test="resource.resourceUrl != null">
				 AND resource_url = #{resource.resourceUrl}
			</if>
			<if test="resource.resourceIcon != null">
				 AND resource_icon = #{resource.resourceIcon}
			</if>
			<if test="resource.treePath != null">
				 AND tree_path = #{resource.treePath}
			</if>
			<if test="resource.isDelete != null">
				 AND is_delete = #{resource.isDelete}
			</if>
			<if test="resource.api != null">
				 AND api = #{resource.api}
			</if>
			<if test="resource.orderValue != null">
				 AND order_value = #{resource.orderValue}
			</if>
			<if test="resource.resourceKey != null">
				 AND resource_key = #{resource.resourceKey}
			</if>
			<if test="resource.platform != null">
				 AND platform = #{resource.platform}
			</if>
	            <if test="roles!=null">
	                AND role.role_id in
	                <foreach collection="roles" item="role" index="index" open="(" close=")" separator=",">
	                    #{role}
	                </foreach>
	            </if>  
	            GROUP BY resource.tree_path
	             order by resource.tree_path asc 
    </select>
	
	
	<!-- 分页查询  Resource -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT 
            id, resource_name, type, parent_resource_id, status, resource_url, resource_icon, 
    tree_path, is_delete, api, order_value, is_system, is_menu, platform, resource_key     
        FROM cb_bank_resource 
		<if test="resource != null">
			<where>
				<if test="resource.id != null">
					 AND id = #{resource.id}
				</if> 
				<if test="resource.resourceName != null">
					 AND resource_name = #{resource.resourceName}
				</if>
				<if test="resource.resourceType != null">
					 AND resource_type = #{resource.resourceType}
				</if>
				<if test="resource.parentResourceId != null">
					 AND parent_resource_id = #{resource.parentResourceId}
				</if>
				<if test="resource.status != null">
					 AND status = #{resource.status}
				</if>
				<if test="resource.resourceUrl != null">
					 AND resource_url = #{resource.resourceUrl}
				</if>
				<if test="resource.resourceIcon != null">
					 AND resource_icon = #{resource.resourceIcon}
				</if>
				<if test="resource.treePath != null">
					 AND tree_path = #{resource.treePath}
				</if>
				<if test="resource.isDelete != null">
					 AND is_delete = #{resource.isDelete}
				</if>
				<if test="resource.api != null">
					 AND api = #{resource.api}
				</if>
				<if test="resource.orderValue != null">
					 AND order_value = #{resource.orderValue}
				</if>
				<if test="resource.resourceKey != null">
					 AND resource_key = #{resource.resourceKey}
				</if>
				<if test="resource.platform != null">
					 AND platform = #{resource.platform}
				</if>
			</where>
		</if>
	</select>
	
	
	<!-- 根据用户查询资源信息 -->
	<select id="findResourceByUser" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select id, resource_name, type, parent_resource_id, status, resource_url, resource_icon, 
    tree_path, is_delete, api, order_value, is_system, is_menu, platform, resource_key   
		 from cb_resource resource,cb_user_resource u
		 where  resource.id=u.resource_id and u.user_id=#{userId}  and user_type=#{userType}
		        <if test="resource.resourceName != null">
				 AND resource_name = #{resource.resourceName}
			</if>
			<if test="resource.type != null">
				 AND type = #{resource.type}
			</if>
			<if test="resource.parentResourceId != null">
				 AND parent_resource_id = #{resource.parentResourceId}
			</if>
			<if test="resource.status != null">
				 AND status = #{resource.status}
			</if>
			<if test="resource.resourceUrl != null">
				 AND resource_url = #{resource.resourceUrl}
			</if>
			<if test="resource.resourceIcon != null">
				 AND resource_icon = #{resource.resourceIcon}
			</if>
			<if test="resource.treePath != null">
				 AND tree_path = #{resource.treePath}
			</if>
			<if test="resource.isDelete != null">
				 AND is_delete = #{resource.isDelete}
			</if>
			<if test="resource.api != null">
				 AND api = #{resource.api}
			</if>
			<if test="resource.orderValue != null">
				 AND order_value = #{resource.orderValue}
			</if>
			<if test="resource.resourceKey != null">
				 AND resource_key = #{resource.resourceKey}
			</if>
			<if test="resource.platform != null">
				 AND platform = #{resource.platform}
			</if> 
		 order by tree_path asc
	</select>
	


</mapper>

