<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.RoleMapper">

 

	<!-- 添加  Role -->
	<insert id="addRole" parameterType="Role" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_bank_role (
				client_id,role_name,status,is_delete,remark,tag,org_code
			) VALUES (
				#{clientId},#{roleName},#{status},#{isDelete},#{remark},#{tag},#{orgCode}
			) 
		]]>
	</insert>


	<!-- 批量添加  Role -->
	<insert id="addRoleByBatch" parameterType="java.util.List">
		INSERT INTO cb_bank_role (
			client_id,role_name,status,is_delete,remark,tag,org_code
		) VALUES 
		<foreach collection="roleList" item="item" index="index" separator=",">
			(#{clientId},#{roleName},#{status},#{isDelete},#{remark},#{tag},#{orgCode})
		</foreach>
	</insert>


	<!-- 删除  Role -->
	<update id="deleteRole" parameterType="Role">
		update cb_bank_role set is_delete=1 where id=#{id}
	</update>


	<!-- 修改  Role -->
	<update id="updateRole" parameterType="Role">
		UPDATE cb_bank_role 
		<set>
				<if test="id != null">
					  id = #{id}, 
				</if>
				<if test="clientId != null">
					  client_id = #{clientId}, 
				</if>
				<if test="roleName != null">
					  role_name = #{roleName}, 
				</if>
				<if test="status != null">
					  status = #{status}, 
				</if>
				<if test="isDelete != null">
					  is_delete = #{isDelete}, 
				</if>
				<if test="remark != null">
					  remark = #{remark}, 
				</if>
				<if test="tag != null">
					  tag = #{tag}, 
				</if>
		</set>
		where  id = #{id} and is_delete=0
	</update>


	<!-- 查询  Role -->
	<select id="findRoleById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT 
            id,client_id,role_name,status,is_delete,remark,tag,org_code 
        FROM cb_bank_role 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询  Role -->
	<select id="findRole" parameterType="Role" resultMap="BaseResultMap">
		select 
			cr.id,cr.client_id,cr.role_name,cr.status,cr.remark,cr.is_delete,cr.tag,cr.org_code   
		from cb_bank_role cr    
			<if test="orgCode != null">
				inner join (select org_code from cb_org where province_agency=#{orgCode} 
		 			or city_agency=#{orgCode}  
		 			or county_agency=#{orgCode}  
		 			or org_code=#{orgCode} )  co  
				on  cr.org_code=co.org_code  
			</if>
			<where>
				<if test="id != null">
					and cr.id = #{id}
				</if>
				<if test="clientId != null">
					and cr.client_id = #{clientId}
				</if>
				<if test="roleName != null">
					and cr.role_name = #{roleName}
				</if>
				<if test="status != null">
					and cr.status = #{status}
				</if>
				<if test="remark != null">
					and cr.remark = #{remark}
				</if>
				<if test="isDelete != null">
					and cr.is_delete = #{isDelete}
				</if>
				<if test="tag != null">
					and cr.tag=#{tag} 
				</if>
			</where>
	</select>

	<!-- 分页查询  Role -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select 
			cr.id,cr.client_id,cr.role_name,cr.status,cr.remark,cr.is_delete,cr.tag,cr.org_code   
		from cb_bank_role cr     
		<if test="bankRole != null">
			<if test="bankRole.orgCode != null">
				inner join (select org_code from cb_org where (province_agency=#{bankRole.orgCode} 
		 			or city_agency=#{bankRole.orgCode}  
		 			or county_agency=#{bankRole.orgCode}  
		 			or org_code=#{bankRole.orgCode}) and client_id=#{bankRole.clientId} and is_enable=true)  co  
				on  cr.org_code=co.org_code  
			</if>
			<where>
				<if test="bankRole.id != null">
					and cr.role_id = #{bankRole.id} 
				</if>
				<if test="bankRole.clientId != null">
					and cr.client_id = #{bankRole.clientId} 
				</if>
				<if test="bankRole.roleName != null">
					and cr.role_name = #{bankRole.roleName} 
				</if>
				<if test="bankRole.status != null">
					and cr.status = #{bankRole.status} 
				</if>
				<if test="bankRole.remark != null">
					and cr.remark = #{bankRole.remark} 
				</if>
				<if test="bankRole.isDelete != null">
					and cr.is_delete = #{bankRole.isDelete} 
				</if>
				<if test="bankRole.tag != null">
					and cr.tag = #{bankRole.tag} 
				</if>
			</where>
		</if>
		order by id desc 
	</select>


</mapper>

