<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.froad.db.mysql.mapper.RoleResourceMapper" >
 
    <!-- 单个插入 -->
  <insert id="addRoleResource" parameterType="RoleResource" >
    insert into cb_role_resource (resource_id,role_id,platform)
    values (#{resourceId}, #{roleId}, #{platform})
  </insert>
  
  <!-- 批量插入 -->
  <insert id="addRoleResourceByBatch" parameterType="java.util.List" >
 	INSERT INTO cb_role_resource (
		resource_id,role_id,platform
	) VALUES 
	<foreach collection="roleResourceList" item="item" index="index" separator=",">
		(#{item.resourceId},#{item.roleId},#{item.platform})
	</foreach>
  </insert>
  
  <!-- 条件删除 -->
  <delete id="deleteRoleResource" parameterType="RoleResource" >
    delete from cb_role_resource
    <where>
    	<if test="resourceId != null">
			and resource_id = #{resourceId}
		</if>
    	<if test="roleId != null">
			and role_id = #{roleId}
		</if>
		<if test="platform != null">
			and platform = #{platform}
		</if>
    </where> 
  </delete>
  
  <!-- 条件删除 -->
  <delete id="deleteRoleResourceChildren" parameterType="java.util.List" >
    delete from cb_role_resource
    	where resource_id in  
    	<foreach collection="resourceIds" item="item" index="index" open="(" close=")" separator=",">
	           #{item}
	    </foreach>
  </delete>
  
  
  <!-- 条件更新 -->
   <update id="updateRoleResource" parameterType="RoleResource" >
  	update cb_role_resource
  	<set>
  		<if test="resourceId != null">
			resource_id = #{resourceId},
		</if>
  	</set>
  	<where>
    	<if test="roleId != null">
			and role_id = #{roleId}
		</if>
  	</where>
  </update>
  
  <select id="findRoleResource" parameterType="RoleResource" resultMap="BaseResultMap" >
  	select role_id,resource_id from cb_role_resource
  	 <where>
  	 	<if test="roleId != null">
			and role_id = #{roleId}
		</if>
		<if test="platform != null">
			and platform = #{platform}
		</if>
  	 </where> 
  </select>
  
  
</mapper>