<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- The content of element type "configuration" must match "(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,plugins?,environments?,databaseIdProvider?,mappers?)". -->
	
	<properties url="file:./config/jdbc.properties"/>
	
	<!-- 指定结果集映射关系 -->
	<typeAliases>
		<typeAlias alias="SmsLog" type="com.froad.po.SmsLog" />
		<typeAlias alias="Merchant" type="com.froad.po.Merchant" />
		<typeAlias alias="Product" type="com.froad.po.Product"/>
		<typeAlias alias="PresellProduct" type="com.froad.po.PresellProduct"/>
		<typeAlias alias="ProductSeckill" type="com.froad.po.ProductSeckill"/>
		<typeAlias alias="PresellShip" type="com.froad.po.PresellShip"/>
		<typeAlias alias="Area" type="com.froad.po.Area"/>
		<typeAlias alias="MerchantAccount" type="com.froad.po.MerchantAccount"/>
		<typeAlias alias="Waybill" type="com.froad.po.Waybill" />
		<typeAlias alias="VouchersInfo" type="com.froad.po.VouchersInfo" />
		<typeAlias alias="VouchersUseDetails" type="com.froad.po.VouchersUseDetails" />
		
	</typeAliases>

	<!-- -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="com.froad.db.mysql.datasource.DruidDataSourceFactory">

				<property name="driverClassName" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />



				<!-- 配置初始化大小、最小、最大 -->
				<property name="initialSize" value="${pool.initialSize}" />
				<property name="minIdle" value="${pool.minIdle}" />
				<property name="maxActive" value="${pool.maxActive}" />

				<!-- 配置获取连接等待超时的时间 -->
				<property name="maxWait" value="${pool.maxWait}" />

				<property name="validationQuery" value="select now()" />
				<property name="testWhileIdle" value="true" />
				<property name="testOnBorrow" value="false" />
				<property name="testOnReturn" value="false" />
				<property name="poolPreparedStatements" value="false" />
				<property name="maxOpenPreparedStatements" value="-1" />

				<!-- 对于长时间不使用的连接强制关闭 -->
				<property name="removeAbandoned" value="true" />

				<!-- 超过30分钟开始关闭空闲连接 -->
				<property name="removeAbandonedTimeout" value="1800" />

				<!-- 将当前关闭动作记录到日志 -->
				<property name="logAbandoned" value="true" />
			</dataSource>
		</environment>
	</environments>

	<!-- 指定mapper资源 -->
	<mappers>
		<mapper resource="mappers/SmsLogMapper.xml" />
		<mapper resource="mappers/MerchantMapper.xml" />
		<mapper resource="mappers/ProductMapper.xml"/>
        <mapper resource="mappers/PresellShipMapper.xml"/> 
        <mapper resource="mappers/AreaMapper.xml"/> 
        <mapper resource="mappers/MerchantAccountMapper.xml"/>
        <mapper resource="mappers/WayBillCommonMapper.xml" />
        <mapper resource="mappers/VouchersInfoMapper.xml" />
	</mappers>

</configuration>
