<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mappers.MerchantCategoryMapper">

	<resultMap type="MerchantCategory" id="merchantCategoryResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="parentId" column="parent_id" />
		<result property="name" column="name" />
		<result property="treePath" column="tree_path" />
		<result property="icoUrl" column="ico_url" />
		<result property="isDelete" column="is_delete" />
		<result property="orderValue" column="order_value" />
	</resultMap>

	<!-- 查询  MerchantCategory -->
	<select id="findMerchantCategory" parameterType="MerchantCategory" resultMap="merchantCategoryResultMap">
		SELECT 
            id,client_id,parent_id,name,tree_path,ico_url,is_delete,order_value 
        FROM cb_merchant_category 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="parentId != null">
				 AND parent_id = #{parentId}
			</if>
			<if test="name != null">
				 AND name = #{name}
			</if>
			<if test="treePath != null">
				 AND tree_path = #{treePath}
			</if>
			<if test="icoUrl != null">
				 AND ico_url = #{icoUrl}
			</if>
			<if test="isDelete != null">
				 AND is_delete = #{isDelete}
			</if>
		</where>
		
			order by order_value DESC
	</select>

</mapper>

