<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mappers.MerchantMapper">
	
	<resultMap type="Merchant" id="merchantResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="proOrgCode" column="pro_org_code" />
		<result property="cityOrgCode" column="city_org_code" />
		<result property="countyOrgCode" column="county_org_code" />
		<result property="orgCode" column="org_code" />
		<result property="merchantName" column="merchant_name" />
		<result property="merchantFullname" column="merchant_fullname" />
		<result property="logo" column="logo" />
		<result property="address" column="address" />
		<result property="phone" column="phone" />
		<result property="areaId" column="area_id" />
		<result property="merchantStatus" column="merchant_status" />
		<result property="isEnable" column="is_enable" />
		<result property="disableStatus" column="disable_status" />
		<result property="isTop" column="is_top" />
		<result property="introduce" column="introduce" />
		<result property="license" column="license" />
		<result property="taxReg" column="tax_reg" />
		<result property="contractBegintime" column="contract_begintime" />
		<result property="contractEndtime" column="contract_endtime" />
		<result property="contractStaff" column="contract_staff" />
		<result property="auditStartOrgCode" column="audit_start_org_code" />
		<result property="auditEndOrgCode" column="audit_end_org_code" />
		<result property="auditState" column="audit_state" />
		<result property="auditOrgCode" column="audit_org_code" />
		<result property="auditStage" column="audit_stage" />
		<result property="auditTime" column="audit_time" />
		<result property="auditComment" column="audit_comment" />
		<result property="auditStaff" column="audit_staff" />
		<result property="reviewStaff" column="review_staff" />
		<result property="contactName" column="contact_name" />
		<result property="contactPhone" column="contact_phone" />
		<result property="contactEmail" column="contact_email" />
		<result property="legalName" column="legal_name" />
		<result property="legalCredentType" column="legal_credent_type" />
		<result property="legalCredentNo" column="legal_credent_no" />
		<result property="complaintPhone" column="complaint_phone" />
		<result property="userOrgCode" column="user_org_code" />
		<result property="companyCredential" column="company_credential" />
	</resultMap>
	
	<select id="findAllRealMerchants" resultMap="merchantResultMap">
		SELECT 
            cm.id,cm.create_time,cm.client_id,cm.merchant_id,cm.pro_org_code,cm.city_org_code,
            cm.county_org_code,cm.org_code,cm.merchant_name,cm.merchant_fullname,cm.logo,
            cm.address,cm.phone,cm.area_id,cm.merchant_status,cm.is_enable,cm.disable_status,
            cm.is_top,cm.introduce,cm.license,cm.tax_reg,cm.contract_begintime,cm.contract_endtime,
            cm.contract_staff,cm.audit_start_org_code,cm.audit_end_org_code,cm.audit_state,
            cm.audit_org_code,cm.audit_stage,cm.audit_time,cm.audit_comment,cm.audit_staff,
            cm.review_staff,cm.contact_name,cm.contact_phone,cm.contact_email,cm.legal_name,
            cm.legal_credent_type,cm.legal_credent_no,cm.complaint_phone,cm.user_org_code,cm.company_credential
        FROM cb_merchant cm 
        WHERE cm.merchant_status = 0
	</select>
	
</mapper>

