<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.QrCodeMapper">

    <!-- 查询二维码 -->
    <select id="getQrCode" resultType="QrCode" parameterType="QrCodeRequestVo">   
        SELECT create_time, keyword, client_id, url FROM cb_qrcode WHERE keyword=#{keyword} AND client_id = #{clientId} LIMIT 1
    </select>
    
    <insert id="addQrCode" parameterType="com.froad.po.QrCode">
    	INSERT INTO cb_qrcode 
    	(create_time, keyword, client_id, url) 
    	VALUES (#{createTime},#{keyword},#{clientId},#{url})
    </insert>
   
</mapper>