<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
	default-autowire="byName">

	<mvc:annotation-driven >
		<mvc:message-converters register-defaults="true">
			<bean class="com.froad.cbank.coremodule.framework.web.basic.spring.MappingJacksonHttpMessageConverter"></bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<context:annotation-config />
	
	<context:component-scan base-package="com.froad.cbank.coremodule" name-generator="com.froad.cbank.coremodule.framework.web.basic.spring.SdpAnnotationBeanNameGenerator"/>

	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="ignoreAcceptHeader" value="true" />
		<property name="order" value="1" />
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
			</map>
		</property>
		<property name="defaultViews">
			<list>
				<!-- JSON View -->
				<bean class="com.froad.cbank.coremodule.framework.common.util.web.MappingJsonView">
				</bean>
			</list>
		</property>
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大尺寸为2MB -->
		<property name="maxUploadSize">
			<value>2202000</value>
		</property>
	</bean>
	<!-- SpringMVC在超出上传文件限制时，会抛出org.springframework.web.multipart.MaxUploadSizeExceededException -->
	
	<!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的，而且此时还没有进入到Controller方法中 -->

	<bean id="exceptionResolver" class="com.froad.cbank.coremodule.framework.web.basic.spring.JsonHandlerExceptionResolver" p:order="1">
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">500,上传文件大小超限</prop>
				<prop key="org.springframework.http.converter.HttpMessageNotReadableException">608</prop>
				<prop key="org.springframework.web.HttpRequestMethodNotSupportedException">500,请求方式不支持</prop>
				<prop key="java.lang.Exception">500,系统错误</prop>
			</props>
		</property>
	</bean>


    <mvc:interceptors>  
    	<!-- Http拦截器   -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean id="httpInterceptor" class="com.froad.cbank.coremodule.module.normal.user.interceptor.HttpInterceptor" />
		</mvc:interceptor>
		
		<!-- token拦截器   -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean id="tokenInterceptor" class="com.froad.cbank.coremodule.module.normal.user.interceptor.TokenInterceptor" />
		</mvc:interceptor>
		
		<!-- function拦截器   -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean id="functionInterceptor" class="com.froad.cbank.coremodule.module.normal.user.interceptor.FunctionInterceptor" />
		</mvc:interceptor>
    </mvc:interceptors>

    
	<import resource="classpath*:applicationContext.xml" />
	
</beans>  