<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.BizInstanceAttrMapper">

	<resultMap type="BizInstanceAttr" id="bizInstanceAttrResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="clientId" column="client_id" />
		<result property="name" column="name" />
		<result property="fieldName" column="field_name" />
	</resultMap>


	<!-- 所有字段list -->
	<sql id="Base_Column_List">
		id,create_time,update_time,client_id,name,field_name
	</sql>


	<!-- 不包含ID字段list -->
	<sql id="Not_ID_Column_List">
		create_time,update_time,client_id,name,field_name
	</sql>


	<!-- 添加  BizInstanceAttr -->
	<insert id="addBizInstanceAttr" parameterType="BizInstanceAttr" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_biz_instance_attr (
			<include refid="Not_ID_Column_List" />
		) VALUES (
			#{createTime},#{updateTime},#{clientId},#{name},#{fieldName}
		) 
	</insert>


	<!-- 批量添加  BizInstanceAttr -->
	<insert id="addBizInstanceAttrByBatch" parameterType="java.util.List">
		INSERT INTO cb_biz_instance_attr (
			<include refid="Not_ID_Column_List" />
		) VALUES 
		<foreach collection="bizInstanceAttrList" item="item" index="index" separator=",">
			(#{item.createTime},#{item.updateTime},#{item.clientId},#{item.name},#{item.fieldName})
		</foreach>
	</insert>


	<!-- 删除  BizInstanceAttr -->
	<delete id="deleteBizInstanceAttr" parameterType="BizInstanceAttr">
		DELETE FROM cb_biz_instance_attr 
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="name != null">
				AND name = #{name}
			</if>
			<if test="fieldName != null">
				AND field_name = #{fieldName}
			</if>
		</where>
	</delete>


	<!-- 根据id删除  BizInstanceAttr -->
	<delete id="deleteBizInstanceAttrById" parameterType="java.lang.Long">
		DELETE FROM cb_biz_instance_attr 
		 WHERE 
			 id = #{id} 
	</delete>


	<!-- 修改  BizInstanceAttr -->
	<update id="updateBizInstanceAttr" parameterType="BizInstanceAttr">
		UPDATE cb_biz_instance_attr 
		<set>
			<if test="id != null">
				id = #{id}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="name != null">
				name = #{name}, 
			</if>
		</set>

		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="name != null">
				AND name = #{name}
			</if>
			<if test="fieldName != null">
				AND field_name = #{fieldName}
			</if>
		</where>
	</update>


	<!-- 根据id修改  BizInstanceAttr -->
	<update id="updateBizInstanceAttrById" parameterType="BizInstanceAttr">
		UPDATE cb_biz_instance_attr 
		<set>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="name != null">
				name = #{name}, 
			</if>
			<if test="fieldName != null">
				field_name = #{fieldName}, 
			</if>
		</set>

		 WHERE 
            id = #{id} 
	</update>


	<!-- 根据id查询  BizInstanceAttr -->
	<select id="findBizInstanceAttrById" parameterType="java.lang.Long" resultMap="bizInstanceAttrResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_biz_instance_attr 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询一个  BizInstanceAttr -->
	<select id="findOneBizInstanceAttr" parameterType="BizInstanceAttr" resultMap="bizInstanceAttrResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_biz_instance_attr 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="name != null">
				 AND name = #{name}
			</if>
			<if test="fieldName != null">
				 AND field_name = #{fieldName}
			</if>
		 LIMIT 1 
		</where>
	</select>

	<!-- 统计  BizInstanceAttr -->
	<select id="countBizInstanceAttr" parameterType="BizInstanceAttr" resultType="java.lang.Integer">
		SELECT COUNT(0) FROM cb_biz_instance_attr 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="name != null">
				 AND name = #{name}
			</if>
			<if test="fieldName != null">
				 AND field_name = #{fieldName}
			</if>
		</where>
	</select>

	<!-- 查询  BizInstanceAttr -->
	<select id="findBizInstanceAttr" parameterType="BizInstanceAttr" resultMap="bizInstanceAttrResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_biz_instance_attr 
		<if test="bizInstanceAttr != null">
			<where>
				<if test="bizInstanceAttr.id != null">
					 AND id = #{bizInstanceAttr.id}
				</if>
				<if test="bizInstanceAttr.createTime != null">
					 AND create_time = #{bizInstanceAttr.createTime}
				</if>
				<if test="bizInstanceAttr.updateTime != null">
					 AND update_time = #{bizInstanceAttr.updateTime}
				</if>
				<if test="bizInstanceAttr.clientId != null">
					 AND client_id = #{bizInstanceAttr.clientId}
				</if>
				<if test="bizInstanceAttr.name != null">
					 AND name = #{bizInstanceAttr.name}
				</if>
				<if test="bizInstanceAttr.fieldName != null">
					 AND field_name = #{bizInstanceAttr.fieldName}
				</if>
			</where>
		</if>
		<if test="order != null">
		 ORDER BY ${order} 
		</if>
	</select>

	<!-- 分页查询  BizInstanceAttr -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="bizInstanceAttrResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_biz_instance_attr 
		<if test="bizInstanceAttr != null">
			<where>
				<if test="bizInstanceAttr.id != null">
					 AND id = #{bizInstanceAttr.id}
				</if>
				<if test="bizInstanceAttr.createTime != null">
					 AND create_time = #{bizInstanceAttr.createTime}
				</if>
				<if test="bizInstanceAttr.updateTime != null">
					 AND update_time = #{bizInstanceAttr.updateTime}
				</if>
				<if test="bizInstanceAttr.clientId != null">
					 AND client_id = #{bizInstanceAttr.clientId}
				</if>
				<if test="bizInstanceAttr.name != null">
					 AND name = #{bizInstanceAttr.name}
				</if>
				<if test="bizInstanceAttr.fieldName != null">
					 AND field_name = #{bizInstanceAttr.fieldName}
				</if>
			</where>
		</if>
	</select>


</mapper>

