<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.InstanceMapper">

	<resultMap type="Instance" id="instanceResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="clientId" column="client_id" />
		<result property="instanceId" column="instance_id" />
		<result property="processId" column="process_id" />
		<result property="creator" column="creator" />
		<result property="expireTime" column="expire_time" />
		<result property="lastUpdator" column="last_updator" />
		<result property="orderValue" column="order_value" />
		<result property="version" column="version" />
	</resultMap>


	<!-- 所有字段list -->
	<sql id="Base_Column_List">
		id,create_time,update_time,client_id,instance_id,process_id,creator,expire_time,last_updator,order_value,version
	</sql>


	<!-- 不包含ID字段list -->
	<sql id="Not_ID_Column_List">
		create_time,update_time,client_id,instance_id,process_id,creator,expire_time,last_updator,order_value,version
	</sql>


	<!-- 添加  Instance -->
	<insert id="addInstance" parameterType="Instance" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_instance (
			<include refid="Not_ID_Column_List" />
		) VALUES (
			#{createTime},#{updateTime},#{clientId},#{instanceId},#{processId},#{creator},#{expireTime},#{lastUpdator},#{orderValue},#{version}
		) 
	</insert>


	<!-- 批量添加  Instance -->
	<insert id="addInstanceByBatch" parameterType="java.util.List">
		INSERT INTO cb_instance (
			<include refid="Not_ID_Column_List" />
		) VALUES 
		<foreach collection="instanceList" item="item" index="index" separator=",">
			(#{item.createTime},#{item.updateTime},#{item.clientId},#{item.instanceId},#{item.processId},#{item.creator},#{item.expireTime},#{item.lastUpdator},#{item.orderValue},#{item.version})
		</foreach>
	</insert>


	<!-- 删除  Instance -->
	<delete id="deleteInstance" parameterType="Instance">
		DELETE FROM cb_instance 
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="instanceId != null">
				AND instance_id = #{instanceId}
			</if>
			<if test="processId != null">
				AND process_id = #{processId}
			</if>
			<if test="creator != null">
				AND creator = #{creator}
			</if>
			<if test="expireTime != null">
				AND expire_time = #{expireTime}
			</if>
			<if test="lastUpdator != null">
				AND last_updator = #{lastUpdator}
			</if>
			<if test="orderValue != null">
				AND order_value = #{orderValue}
			</if>
			<if test="version != null">
				AND version = #{version}
			</if>
		</where>
	</delete>


	<!-- 根据id删除  Instance -->
	<delete id="deleteInstanceById" parameterType="java.lang.Long">
		DELETE FROM cb_instance 
		 WHERE 
			 id = #{id} 
	</delete>


	<!-- 根据instanceId删除  Instance -->
	<delete id="deleteInstanceByInstanceId" parameterType="java.lang.String">
		DELETE FROM cb_instance 
		 WHERE 
            instance_id = #{instanceId}
	</delete>


	<!-- 修改  Instance -->
	<update id="updateInstance" parameterType="Instance">
		UPDATE cb_instance 
		<set>
			<if test="id != null">
				id = #{id}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="instanceId != null">
				instance_id = #{instanceId}, 
			</if>
			<if test="processId != null">
				process_id = #{processId}, 
			</if>
			<if test="creator != null">
				creator = #{creator}, 
			</if>
			<if test="expireTime != null">
				expire_time = #{expireTime}, 
			</if>
			<if test="lastUpdator != null">
				last_updator = #{lastUpdator}, 
			</if>
			<if test="orderValue != null">
				order_value = #{orderValue}, 
			</if>
		</set>

		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="instanceId != null">
				AND instance_id = #{instanceId}
			</if>
			<if test="processId != null">
				AND process_id = #{processId}
			</if>
			<if test="creator != null">
				AND creator = #{creator}
			</if>
			<if test="expireTime != null">
				AND expire_time = #{expireTime}
			</if>
			<if test="lastUpdator != null">
				AND last_updator = #{lastUpdator}
			</if>
			<if test="orderValue != null">
				AND order_value = #{orderValue}
			</if>
			<if test="version != null">
				AND version = #{version}
			</if>
		</where>
	</update>


	<!-- 根据id修改  Instance -->
	<update id="updateInstanceById" parameterType="Instance">
		UPDATE cb_instance 
		<set>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="instanceId != null">
				instance_id = #{instanceId}, 
			</if>
			<if test="processId != null">
				process_id = #{processId}, 
			</if>
			<if test="creator != null">
				creator = #{creator}, 
			</if>
			<if test="expireTime != null">
				expire_time = #{expireTime}, 
			</if>
			<if test="lastUpdator != null">
				last_updator = #{lastUpdator}, 
			</if>
			<if test="orderValue != null">
				order_value = #{orderValue}, 
			</if>
			<if test="version != null">
				version = #{version}, 
			</if>
		</set>

		 WHERE 
            id = #{id} 
	</update>


	<!-- 根据instanceId修改  Instance -->
	<update id="updateInstanceByInstanceId" parameterType="Instance">
		UPDATE cb_instance 
		<set>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="processId != null">
				process_id = #{processId}, 
			</if>
			<if test="creator != null">
				creator = #{creator}, 
			</if>
			<if test="expireTime != null">
				expire_time = #{expireTime}, 
			</if>
			<if test="lastUpdator != null">
				last_updator = #{lastUpdator}, 
			</if>
			<if test="orderValue != null">
				order_value = #{orderValue}, 
			</if>
			<if test="version != null">
				version = #{version}, 
			</if>
		</set>

		 WHERE 
            instance_id = #{instanceId}
	</update>


	<!-- 根据id查询  Instance -->
	<select id="findInstanceById" parameterType="java.lang.Long" resultMap="instanceResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_instance 
        WHERE 
            id = #{id}

	</select>

	<!-- 根据instanceId查询 Instance -->
	<select id="findInstanceByInstanceId" parameterType="java.lang.String" resultMap="instanceResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_instance 
        WHERE 
            instance_id = #{instanceId}

	</select>

	<!-- 查询一个  Instance -->
	<select id="findOneInstance" parameterType="Instance" resultMap="instanceResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_instance 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="instanceId != null">
				 AND instance_id = #{instanceId}
			</if>
			<if test="processId != null">
				 AND process_id = #{processId}
			</if>
			<if test="creator != null">
				 AND creator = #{creator}
			</if>
			<if test="expireTime != null">
				 AND expire_time = #{expireTime}
			</if>
			<if test="lastUpdator != null">
				 AND last_updator = #{lastUpdator}
			</if>
			<if test="orderValue != null">
				 AND order_value = #{orderValue}
			</if>
			<if test="version != null">
				 AND version = #{version}
			</if>
		 LIMIT 1 
		</where>
	</select>

	<!-- 统计  Instance -->
	<select id="countInstance" parameterType="Instance" resultType="java.lang.Integer">
		SELECT COUNT(0) FROM cb_instance 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="instanceId != null">
				 AND instance_id = #{instanceId}
			</if>
			<if test="processId != null">
				 AND process_id = #{processId}
			</if>
			<if test="creator != null">
				 AND creator = #{creator}
			</if>
			<if test="expireTime != null">
				 AND expire_time = #{expireTime}
			</if>
			<if test="lastUpdator != null">
				 AND last_updator = #{lastUpdator}
			</if>
			<if test="orderValue != null">
				 AND order_value = #{orderValue}
			</if>
			<if test="version != null">
				 AND version = #{version}
			</if>
		</where>
	</select>

	<!-- 查询  Instance -->
	<select id="findInstance" parameterType="Instance" resultMap="instanceResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_instance 
		<if test="instance != null">
			<where>
				<if test="instance.id != null">
					 AND id = #{instance.id}
				</if>
				<if test="instance.createTime != null">
					 AND create_time = #{instance.createTime}
				</if>
				<if test="instance.updateTime != null">
					 AND update_time = #{instance.updateTime}
				</if>
				<if test="instance.clientId != null">
					 AND client_id = #{instance.clientId}
				</if>
				<if test="instance.instanceId != null">
					 AND instance_id = #{instance.instanceId}
				</if>
				<if test="instance.processId != null">
					 AND process_id = #{instance.processId}
				</if>
				<if test="instance.creator != null">
					 AND creator = #{instance.creator}
				</if>
				<if test="instance.expireTime != null">
					 AND expire_time = #{instance.expireTime}
				</if>
				<if test="instance.lastUpdator != null">
					 AND last_updator = #{instance.lastUpdator}
				</if>
				<if test="instance.orderValue != null">
					 AND order_value = #{instance.orderValue}
				</if>
				<if test="instance.version != null">
					 AND version = #{instance.version}
				</if>
			</where>
		</if>
		<if test="order != null">
		 ORDER BY ${order} 
		</if>
	</select>

	<!-- 分页查询  Instance -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="instanceResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_instance 
		<if test="instance != null">
			<where>
				<if test="instance.id != null">
					 AND id = #{instance.id}
				</if>
				<if test="instance.createTime != null">
					 AND create_time = #{instance.createTime}
				</if>
				<if test="instance.updateTime != null">
					 AND update_time = #{instance.updateTime}
				</if>
				<if test="instance.clientId != null">
					 AND client_id = #{instance.clientId}
				</if>
				<if test="instance.instanceId != null">
					 AND instance_id = #{instance.instanceId}
				</if>
				<if test="instance.processId != null">
					 AND process_id = #{instance.processId}
				</if>
				<if test="instance.creator != null">
					 AND creator = #{instance.creator}
				</if>
				<if test="instance.expireTime != null">
					 AND expire_time = #{instance.expireTime}
				</if>
				<if test="instance.lastUpdator != null">
					 AND last_updator = #{instance.lastUpdator}
				</if>
				<if test="instance.orderValue != null">
					 AND order_value = #{instance.orderValue}
				</if>
				<if test="instance.version != null">
					 AND version = #{instance.version}
				</if>
			</where>
		</if>
	</select>


</mapper>

