<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ProcessConfigMapper">

	<resultMap type="ProcessConfig" id="processConfigResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="clientId" column="client_id" />
		<result property="orgCodeLeve" column="org_code_leve" />
		<result property="type" column="type" />
		<result property="typeDetail" column="type_detail" />
		<result property="processId" column="process_id" />
		<result property="creator" column="creator" />
	</resultMap>


	<!-- 所有字段list -->
	<sql id="Base_Column_List">
		id,create_time,update_time,client_id,org_code_leve,type,type_detail,process_id,creator
	</sql>


	<!-- 不包含ID字段list -->
	<sql id="Not_ID_Column_List">
		create_time,update_time,client_id,org_code_leve,type,type_detail,process_id,creator
	</sql>


	<!-- 添加  ProcessConfig -->
	<insert id="addProcessConfig" parameterType="ProcessConfig" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_process_config (
			<include refid="Not_ID_Column_List" />
		) VALUES (
			#{createTime},#{updateTime},#{clientId},#{orgCodeLeve},#{type},#{typeDetail},#{processId},#{creator}
		) 
	</insert>


	<!-- 批量添加  ProcessConfig -->
	<insert id="addProcessConfigByBatch" parameterType="java.util.List">
		INSERT INTO cb_process_config (
			<include refid="Not_ID_Column_List" />
		) VALUES 
		<foreach collection="processConfigList" item="item" index="index" separator=",">
			(#{item.createTime},#{item.updateTime},#{item.clientId},#{item.orgCodeLeve},#{item.type},#{item.typeDetail},#{item.processId},#{item.creator})
		</foreach>
	</insert>


	<!-- 删除  ProcessConfig -->
	<delete id="deleteProcessConfig" parameterType="ProcessConfig">
		DELETE FROM cb_process_config 
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="orgCodeLeve != null">
				AND org_code_leve = #{orgCodeLeve}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="typeDetail != null">
				AND type_detail = #{typeDetail}
			</if>
			<if test="processId != null">
				AND process_id = #{processId}
			</if>
			<if test="creator != null">
				AND creator = #{creator}
			</if>
		</where>
	</delete>


	<!-- 根据id删除  ProcessConfig -->
	<delete id="deleteProcessConfigById" parameterType="java.lang.Long">
		DELETE FROM cb_process_config 
		 WHERE 
			 id = #{id} 
	</delete>


	<!-- 修改  ProcessConfig -->
	<update id="updateProcessConfig" parameterType="ProcessConfig">
		UPDATE cb_process_config 
		<set>
			<if test="id != null">
				id = #{id}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="orgCodeLeve != null">
				org_code_leve = #{orgCodeLeve}, 
			</if>
			<if test="type != null">
				type = #{type}, 
			</if>
			<if test="typeDetail != null">
				type_detail = #{typeDetail}, 
			</if>
			<if test="processId != null">
				process_id = #{processId}, 
			</if>
		</set>

		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId}
			</if>
			<if test="orgCodeLeve != null">
				AND org_code_leve = #{orgCodeLeve}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="typeDetail != null">
				AND type_detail = #{typeDetail}
			</if>
			<if test="processId != null">
				AND process_id = #{processId}
			</if>
			<if test="creator != null">
				AND creator = #{creator}
			</if>
		</where>
	</update>


	<!-- 根据id修改  ProcessConfig -->
	<update id="updateProcessConfigById" parameterType="ProcessConfig">
		UPDATE cb_process_config 
		<set>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="clientId != null">
				client_id = #{clientId}, 
			</if>
			<if test="orgCodeLeve != null">
				org_code_leve = #{orgCodeLeve}, 
			</if>
			<if test="type != null">
				type = #{type}, 
			</if>
			<if test="typeDetail != null">
				type_detail = #{typeDetail}, 
			</if>
			<if test="processId != null">
				process_id = #{processId}, 
			</if>
			<if test="creator != null">
				creator = #{creator}, 
			</if>
		</set>

		 WHERE 
            id = #{id} 
	</update>


	<!-- 根据id查询  ProcessConfig -->
	<select id="findProcessConfigById" parameterType="java.lang.Long" resultMap="processConfigResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_process_config 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询一个  ProcessConfig -->
	<select id="findOneProcessConfig" parameterType="ProcessConfig" resultMap="processConfigResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_process_config 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="orgCodeLeve != null">
				 AND org_code_leve = #{orgCodeLeve}
			</if>
			<if test="type != null">
				 AND type = #{type}
			</if>
			<if test="typeDetail != null">
				 AND type_detail = #{typeDetail}
			</if>
			<if test="processId != null">
				 AND process_id = #{processId}
			</if>
			<if test="creator != null">
				 AND creator = #{creator}
			</if>
		 LIMIT 1 
		</where>
	</select>

	<!-- 统计  ProcessConfig -->
	<select id="countProcessConfig" parameterType="ProcessConfig" resultType="java.lang.Integer">
		SELECT COUNT(0) FROM cb_process_config 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="createTime != null">
				 AND create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				 AND update_time = #{updateTime}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="orgCodeLeve != null">
				 AND org_code_leve = #{orgCodeLeve}
			</if>
			<if test="type != null">
				 AND type = #{type}
			</if>
			<if test="typeDetail != null">
				 AND type_detail = #{typeDetail}
			</if>
			<if test="processId != null">
				 AND process_id = #{processId}
			</if>
			<if test="creator != null">
				 AND creator = #{creator}
			</if>
		</where>
	</select>

	<!-- 查询  ProcessConfig -->
	<select id="findProcessConfig" parameterType="ProcessConfig" resultMap="processConfigResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_process_config 
		<if test="processConfig != null">
			<where>
				<if test="processConfig.id != null">
					 AND id = #{processConfig.id}
				</if>
				<if test="processConfig.createTime != null">
					 AND create_time = #{processConfig.createTime}
				</if>
				<if test="processConfig.updateTime != null">
					 AND update_time = #{processConfig.updateTime}
				</if>
				<if test="processConfig.clientId != null">
					 AND client_id = #{processConfig.clientId}
				</if>
				<if test="processConfig.orgCodeLeve != null">
					 AND org_code_leve = #{processConfig.orgCodeLeve}
				</if>
				<if test="processConfig.type != null">
					 AND type = #{processConfig.type}
				</if>
				<if test="processConfig.typeDetail != null">
					 AND type_detail = #{processConfig.typeDetail}
				</if>
				<if test="processConfig.processId != null">
					 AND process_id = #{processConfig.processId}
				</if>
				<if test="processConfig.creator != null">
					 AND creator = #{processConfig.creator}
				</if>
			</where>
		</if>
		<if test="order != null">
		 ORDER BY ${order} 
		</if>
	</select>

	<!-- 分页查询  ProcessConfig -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="processConfigResultMap">
		SELECT 
			<include refid="Base_Column_List" />
        FROM cb_process_config 
		<if test="processConfig != null">
			<where>
				<if test="processConfig.id != null">
					 AND id = #{processConfig.id}
				</if>
				<if test="processConfig.createTime != null">
					 AND create_time = #{processConfig.createTime}
				</if>
				<if test="processConfig.updateTime != null">
					 AND update_time = #{processConfig.updateTime}
				</if>
				<if test="processConfig.clientId != null">
					 AND client_id = #{processConfig.clientId}
				</if>
				<if test="processConfig.orgCodeLeve != null">
					 AND org_code_leve = #{processConfig.orgCodeLeve}
				</if>
				<if test="processConfig.type != null">
					 AND type = #{processConfig.type}
				</if>
				<if test="processConfig.typeDetail != null">
					 AND type_detail = #{processConfig.typeDetail}
				</if>
				<if test="processConfig.processId != null">
					 AND process_id = #{processConfig.processId}
				</if>
				<if test="processConfig.creator != null">
					 AND creator = #{processConfig.creator}
				</if>
			</where>
		</if>
	</select>


</mapper>

