/*
* Author:
* pengling@f-road.com.cn 
*/
/*弹出框*/

.dialog{width:400px; border:5px solid #06F; padding-bottom:20px; background:#FFF;}

.dialog dt{ font:14px/35px "微软雅黑"; height:35px; background:#B3D9FF;}

.dialog dt b{ float:left; margin-left:10px; display:inline; color:#069}

.dialog dt a{ float:right; margin-top:10px; margin-right:10px; display:inline; background:url(../images/cha.png); width:12px; height:12px;}

.dialog dt a:hover{background:url(../images/hongcha.png); width:12px; height:12px;}

.dialog .onmess{height:30px; background:#F9ECF9; text-align:center;}

.dialog .onmess b{color:#F00; line-height:30px; font-size:12px;}

.dialog dd{ text-align:center; font:16px/20px "微软雅黑"; color:#036; margin-top:15px; margin-bottom:10px;}

.dialog p{ font:12px/14px "宋体"; color:#777; text-align:left; line-height:25px; margin-left:70px;}

.dialog b{color:#F00; margin:0 4px;}

.dialog dd a{ color:#666; font-size:14px;}

.dialog dd a:hover{ color:#F30;}
