/*
* Author:
* pengling@f-road.com.cn 
*/
/*弹出框*/


@charset "utf-8";
input.formText {
    border-color: #999999 #E1E1E1 #E1E1E1 #999999;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 180px;
}
input.formText:hover {
    background-color: #FEFBF7;
    border: 1px solid #CAE1FF;
}
input.formText:focus {
    background-color: #FFF8EF;
}
textarea.formTextarea {
    border-color: #999999 #E1E1E1 #E1E1E1 #999999;
    border-style: solid;
    border-width: 1px;
    height: 120px;
    padding: 5px;
    width: 350px;
}
textarea.formTextarea:hover {
    background-color: #FEFBF7;
    border: 1px solid #CAE1FF;
}
textarea.formTextarea:focus {
    background-color: #FFF8EF;
}

textarea.editor {
    width: 100%;
}

.dialogOverlay {
    background: url("../images/dialog_base_overlay_bg.png") repeat scroll 0 0 transparent;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
* html .dialogOverlay {
    position: absolute;
    top: 0;
}
.baseDialog {
    display: none;
    left: 50%;
    overflow: hidden;
    padding: 5px;
    position: fixed;
    top: 25%;
    z-index: 100;
}
* html .baseDialog {
    position: absolute;
}
.baseDialog .dialogWrap {
    background-color: #000000;
    height: 1000px;
    left: 0;
    opacity: 0.15;
    position: absolute;
    top: 0;
    width: 1000px;
    z-index: -1;
}
.baseDialog .dialogMain {
    background: url("../images/dialog_base_x_bg.gif") repeat-x scroll 0 -120px #FFFFFF;
    border: 1px solid #779CB0;
}
.baseDialog .dialogTitle {
    background:#b3d9ff;
	font-family:"微软雅黑";
    clear: both;
    color: #666666;
    cursor: move;
    font-weight: bold;
    height:40px;
    line-height: 40px;
    padding-left: 10px;
}
.baseDialog .dialogClose {
	background: url("../images/dialog_cha.png");
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 15px;
    top: 20px;
    width: 12px;
}
.baseDialog .dialogClose:hover {
    background: url("../images/dialog_hongcha.png");
}
.baseDialog .dialogContent {
    clear: both;
    line-height: 30px;
    margin: 40px 50px;
}
.baseDialog .dialogwarnIcon {
    background: url("../images/dialog_warn_icon.png") no-repeat;
	line-height:40px;
    text-align:center;
	font-family:"微软雅黑";
	margin-left:50px;
}
.baseDialog .dialogsuccessIcon {
    background: url("../images/dialog_success_icon.png") no-repeat;
	line-height:40px;
    text-align:center;
	font-family:"微软雅黑";
	margin-left:50px;
}
.baseDialog .dialogerrorIcon {
    background: url("../images/dialog_error_icon.png") no-repeat;
	line-height:40px;
    text-align:center;
	font-family:"微软雅黑";
	margin-left:50px;
}
.baseDialog .dialogButtonArea {
    background: url("../images/dialog_base_x_bg.gif") repeat-x scroll 0 -60px transparent;
    clear: both;
    height: 34px;
    padding-top: 6px;
    text-align: center;
}
.baseDialog .dialogButtonArea input {
    margin: 0 10px;
}
.baseDialog .dialogButtonArea .formButton {
	color: #000000;
	border:1px solid #00C;
	background:#65a2fd;
	font-family:"微软雅黑";
    cursor: pointer;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 70px;
}
.baseDialog .dialogButtonArea .formButton:hover {
	color: #FFF;
	font-weight:bold;
	background:#F90;
}
.baseDialog .dialogIframe {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

