/*
* Author:
* pengling@f-road.com.cn 
*/
/*头部*/
.head100{width:100%; min-width:1100px;  height:85px; background:#FFF;}

.head, .menu{width:1050px; margin:0 auto; }

.box1010{width:1010px; margin:0 auto;}

.head .logo, .head .line{ float:left;}

.head .rightList{ float:right; font:12px "微软雅黑"; margin-top:15px; width:440px;}

.head .rightList .divmember{ float:right; line-height:30px;}

.head .rightList .divmember .arrowmember{float:right; position:relative; margin-left:5px; border:1px; border-style:solid; border-color:#FFF; width:80px; text-align:center; background:#FFF;}

.head .rightList .divmember .arrowmember a{ color:#F60; text-decoration:none;}

.head .rightList .divmember .arrowmember a:hover{color:#F60; text-decoration:underline;}

.head .rightList .divmember .arrowmember img{ margin-bottom:3px; margin-left:5px;}

.head .rightList .divmember .showmember{position:absolute; margin-top:30px; margin-left:5px;  border-left:1px solid #ccc;  border-right:1px solid #ccc; border-bottom:1px solid #ccc; width:80px; text-align:center; background:#FFF; padding-bottom:10px;}

.head .rightList .divmember .showmember a{text-decoration:none; color:#999;}

.head .rightList .divmember .showmember a:hover{color:#666; text-decoration:underline;}

.head .rightList .leftmember{ float:right; line-height:30px;}

.head .rightList .leftmember b{margin-right:5px; color:#39C; max-width:170px; height:30px; overflow:hidden; float:left; word-break: break-all; white-space:normal; word-wrap:break-word;}

.head .rightList .leftmember a{ text-decoration:none; margin:0 5px; color:#999;}

.head .rightList .leftmember a:hover{color:#666; text-decoration:underline;}

.head .rightList .leftmember span{display:inline-block; margin:0 5px; color:#999;}

.head .rightList dd{float:right; clear:both; margin-top:3px; color:#666;}

.head .rightList dd B{ font-size:14px; color:#F00;}
