/*
* Author:
* pengling@f-road.com.cn 
*/

.pointright {position: fixed;  width:63px; top:143px; CURSOR: pointer; RIGHT:80px; _position: absolute; _right: auto;}

.li01, .li02, .li03, .li04, .li05, .li06{ background:url(../images/rightmove.png) no-repeat; width:80px; height:63px; margin-bottom:5px;}

.li01{background-position:0 0; position:relative;}

.li02{background-position:0 -126px;}

.li03{background-position:0 -252px;}

.li04{background-position:0 -378px;}

.li05{background-position:0 -567px;}

.li06{background-position:0 -630px;}

a:hover .li01{background-position:0 -63px;}

a:hover .li02{background-position:0 -189px;}

a:hover .li03{background-position:0 -315px;}

a:hover .li04{background-position:0 -441px;}

a:hover .li05{background-position:0 -504px;}

a:hover .li06{background-position:0 -693px;}
