<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.AdMapper">

    <resultMap type="Ad" id="adResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="title" column="title"/>
        <result property="type" column="type" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler"/>
        <result property="beginTime" column="begin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="content" column="content"/>
        <result property="path" column="path"/>
        <result property="link" column="link"/>
        <result property="isEnabled" column="is_enabled"/>
        <result property="isBlankTarge" column="is_blank_targe"/>
        <result property="clickCount" column="click_count"/>
        <result property="orderValue" column="order_value"/>
        <result property="adPositionId" column="ad_position_id"/>
        <result property="dataState" column="data_state" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveAd" parameterType="Ad" useGeneratedKeys="true" keyProperty="id">
		insert into fft_ad values
		(
			#{id},#{createTime},#{updateTime},#{title},#{type,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},
			#{beginTime},#{endTime},#{content},#{path},#{link},#{isEnabled},#{isBlankTarge},0,#{orderValue},#{adPositionId},30
		)
	</insert>

    <!-- 更新 -->
    <update id="updateAdById" parameterType="Ad">
        update fft_ad set update_time = #{updateTime}
        <if test="title != null">
            ,title = #{title}
        </if>
        <if test="type != null">
            ,type = #{type,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
        </if>
        <if test="beginTime != null">
            ,begin_time = #{beginTime}
        </if>
        <if test="endTime != null">
            ,end_time = #{endTime}
        </if>
        <if test="content != null">
            ,content = #{content}
        </if>
        <if test="path != null">
            ,path = #{path}
        </if>
        <if test="link != null">
            ,link = #{link}
        </if>
        <if test="isEnabled != null">
            ,is_enabled = #{isEnabled}
        </if>
        <if test="isBlankTarge != null">
            ,is_blank_targe = #{isBlankTarge}
        </if>
        <if test="clickCount != null">
            ,click_count = #{clickCount}
        </if>
        <if test="orderValue != null">
            ,order_value = #{orderValue}
        </if>
        <if test="adPositionId != null">
            ,ad_position_id = #{adPositionId}
        </if>
        <if test="dataState != null">
            ,data_state = #{dataState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectAdById" parameterType="java.lang.Long" resultMap="adResultMap">
		select * from fft_ad where id = #{id}
	</select>
	
	<select id="selectEnableAdByAdPositionId" parameterType="java.lang.Long" resultMap="adResultMap">
		select * from fft_ad where ad_position_id = #{adPositionId} and is_enabled = 1 order by order_value desc
	</select>

    <!--分页数据-->
    <select id="selectAdByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="adResultMap">
        select * from fft_ad
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.title!= null">
                        and title like '%${pageFilter.filterEntity.title}%'
                    </if>
                    <if test="pageFilter.filterEntity.type!= null ">
                        and type = #{pageFilter.filterEntity.type,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler }
                    </if>
                    <if test="pageFilter.filterEntity.isEnabled!= null ">
                        and is_enabled = #{pageFilter.filterEntity.isEnabled}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
      					 and ${pageFilter.property} >= #{pageFilter.startTime}
      					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
      					 and ${pageFilter.property} <= #{pageFilter.endTime}
      					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectAdByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_ad
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.title!= null">
                        and title like '%${pageFilter.filterEntity.title}%'
                    </if>
                    <if test="pageFilter.filterEntity.type!= null ">
                        and type = #{pageFilter.filterEntity.type,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler }
                    </if>
                    <if test="pageFilter.filterEntity.isEnabled!= null ">
                        and is_enabled = #{pageFilter.filterEntity.isEnabled}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
      					 and ${pageFilter.property} >= #{pageFilter.startTime}
      					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
      					 and ${pageFilter.property} <= #{pageFilter.endTime}
      					]]>
                </if>
            </where>
        </if>
    </select>


</mapper>