<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.MerchantPhotoMapper">

	<resultMap type="MerchantPhoto" id="merchantPhotoResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="title" column="title" />
		<result property="url" column="url"/>
		<result property="width" column="width" />
		<result property="height" column="height" />
		<result property="orderValue" column="order_value" />
		<result property="description" column="description" />
		<result property="merchantOutletId" column="merchant_outlet_id" />
	</resultMap>
	
	<!-- 插入 -->
	<insert id="saveMerchantPhoto" parameterType="MerchantPhoto" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_merchant_photo values
		(
			#{id},#{createTime},#{updateTime},#{title},#{url},#{width},#{height},#{orderValue},#{description},#{merchantOutletId}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="updateMerchantPhotoById" parameterType="MerchantPhoto" >
		update fft_merchant_photo set update_time = #{updateTime}
		<if test="title != null">
			,title = #{title}
		</if>
		<if test="url != null">
			,url = #{url}
		</if>
		<if test="width != null">
			,width = #{width}
		</if>
		<if test="height != null">
			,height = #{height}
		</if>
		<if test="orderValue != null">
			,order_value = #{orderValue}
		</if>
		<if test="description != null">
			,description = #{description}
		</if>
		<if test="merchantOutletId != null">
			,merchant_outlet_id = #{merchantOutletId}
		</if>
		where id = #{id}
	</update>
	
	<!-- 查询 -->
	<select id="selectMerchantPhotoById" parameterType="java.lang.Long" resultMap="merchantPhotoResultMap">
		select * from fft_merchant_photo where id = #{id}
	</select>
</mapper>