<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.MerchantMapper">

    <resultMap type="Merchant" id="merchantResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="name" column="name"/>
        <result property="fullName" column="full_name"/>
        <result property="logo" column="logo"/>
        <result property="address" column="address"/>
        <result property="zip" column="zip"/>
        <result property="fax" column="fax"/>
        <result property="tel" column="tel"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="contactEmail" column="contact_email"/>
        <result property="legalName" column="legal_name"/>
        <result property="legalCredentType" column="legal_credent_type"/>
        <result property="legalCredentNo" column="legal_credent_no"/>
        <result property="contractBegintime" column="contract_begintime"/>
        <result property="contractEndtime" column="contract_endtime"/>
        <result property="contractStaff" column="contract_staff"/>
        <result property="reviewStaff" column="review_staff"/>
        <result property="isAudit" column="is_audit"/>

        <result property="orderValue" column="order_value"/>
        <result property="type" column="type" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler"/>
        <result property="areaId" column="area_id"/>
        <result property="merchantCategoryId" column="merchant_category_id"/>
        <result property="clientId" column="client_id"/>
        <result property="dataState" column="data_state" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler"/>

    </resultMap>

    <!-- 插入 -->
    <insert id="saveMerchant" parameterType="Merchant" useGeneratedKeys="true" keyProperty="id">
		insert into fft_merchant values
		(
			#{id},#{createTime},#{updateTime},#{name},#{fullName},#{logo},#{address},#{zip},#{fax},#{tel},#{contactName},#{contactPhone}
			,#{contactEmail},#{legalName},#{legalCredentType},#{legalCredentNo},#{contractBegintime},#{contractEndtime},
			#{contractStaff},#{reviewStaff},#{isAudit},#{orderValue},#{type,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},
			#{areaId},#{merchantCategoryId},#{clientId},30
		)
	</insert>

    <!-- 更新 -->
    <update id="updateMerchantById" parameterType="Merchant">
        update fft_merchant set update_time = #{updateTime}
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="fullName != null">
            ,full_name = #{fullName}
        </if>
        <if test="logo != null">
            ,logo = #{logo}
        </if>
        <if test="address != null">
            ,address = #{address}
        </if>
        <if test="zip != null">
            ,zip = #{zip}
        </if>
        <if test="fax != null">
            ,fax = #{fax}
        </if>
        <if test="tel != null">
            ,tel = #{tel}
        </if>
        <if test="contactName != null">
            ,contact_name = #{contactName}
        </if>
        <if test="contactPhone != null">
            ,contact_phone = #{contactPhone}
        </if>
        <if test="contactEmail != null">
            ,contact_email = #{contactEmail}
        </if>
        <if test="legalName != null">
            ,legal_name = #{legalName}
        </if>
        <if test="legalCredentType != null">
            ,legal_credent_type = #{legalCredentType}
        </if>
        <if test="legalCredentNo != null">
            ,legal_credent_no = #{legalCredentNo}
        </if>
        <if test="contractBegintime != null">
            ,contract_begintime = #{contractBegintime}
        </if>
        <if test="contractEndtime != null">
            ,contract_endtime = #{contractEndtime}
        </if>
        <if test="contractStaff != null">
            ,contract_staff = #{contractStaff}
        </if>
        <if test="reviewStaff != null">
            ,review_staff = #{reviewStaff}
        </if>
        <if test="isAudit != null">
            ,is_audit = #{isAudit}
        </if>
        <if test="orderValue != null">
            ,order_value = #{orderValue}
        </if>
        <if test="type != null">
            ,type = #{type,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
        </if>
        <if test="areaId != null">
            ,area_id = #{areaId}
        </if>
        <if test="merchantCategoryId != null">
            ,merchant_category_id = #{merchantCategoryId}
        </if>
        <if test="clientId != null">
            ,client_id = #{clientId}
        </if>
        <if test="dataState != null">
            ,data_state = #{dataState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectMerchantById" parameterType="java.lang.Long" resultMap="merchantResultMap">
		select * from fft_merchant where id = #{id}
	</select>

    <!-- 查询 -->
    <select id="selectMerchantByClientId" parameterType="java.lang.Long" resultMap="merchantResultMap">
		select * from fft_merchant where client_id=#{clientId}
	</select>

    <!--分页 -->
    <select id="selectMerchantByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="merchantResultMap">
        select * from fft_merchant
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like '%${pageFilter.filterEntity.name}%'
                    </if>
                    <if test="pageFilter.filterEntity.fullName!= null">
                        and full_name = #{pageFilter.filterEntity.fullName}
                    </if>
                    <if test="pageFilter.filterEntity.logo!= null">
                        and logo = #{pageFilter.filterEntity.logo}
                    </if>
                    <if test="pageFilter.filterEntity.address!= null">
                        and address = #{pageFilter.filterEntity.address}
                    </if>
                    <if test="pageFilter.filterEntity.contactName!= null">
                        and contact_name = #{pageFilter.filterEntity.contactName}
                    </if>
                    <if test="pageFilter.filterEntity.contactPhone!= null">
                        and contact_phone = #{pageFilter.filterEntity.contactPhone}
                    </if>
                    <if test="pageFilter.filterEntity.legalName!= null">
                        and legal_name = #{pageFilter.filterEntity.legalName}
                    </if>
                    <if test="pageFilter.filterEntity.legalCredentType!= null">
                        and legal_credent_type = #{pageFilter.filterEntity.legalCredentType}
                    </if>
                    <if test="pageFilter.filterEntity.legalCredentNo!= null">
                        and legal_credent_no = #{pageFilter.filterEntity.legalCredentNo}
                    </if>
                    <if test="pageFilter.filterEntity.contractStaff!= null">
                        and contract_staff = #{pageFilter.filterEntity.contractStaff}
                    </if>
                    <if test="pageFilter.filterEntity.reviewStaff!= null">
                        and review_staff = #{pageFilter.filterEntity.reviewStaff}
                    </if>
                    <if test="pageFilter.filterEntity.isAudit!= null">
                        and is_audit = #{pageFilter.filterEntity.isAudit}
                    </if>
                    <if test="pageFilter.filterEntity.type!= null">
                        and type = #{pageFilter.filterEntity.type,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.areaId!= null">
                        and area_id = #{pageFilter.filterEntity.areaId}
                    </if>
                    <if test="pageFilter.filterEntity.merchantCategoryId!= null">
                        and merchant_category_id = #{pageFilter.filterEntity.merchantCategoryId}
                    </if>
                    <if test="pageFilter.filterEntity.dataState!= null">
                        and data_state = #{pageFilter.filterEntity.dataState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>

                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>
    <!-- 查询分页条数 -->
    <select id="selectMerchantByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_merchant
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like '%${pageFilter.filterEntity.name}%'
                    </if>
                    <if test="pageFilter.filterEntity.fullName!= null">
                        and full_name = #{pageFilter.filterEntity.fullName}
                    </if>
                    <if test="pageFilter.filterEntity.logo!= null">
                        and logo = #{pageFilter.filterEntity.logo}
                    </if>
                    <if test="pageFilter.filterEntity.address!= null">
                        and address = #{pageFilter.filterEntity.address}
                    </if>
                    <if test="pageFilter.filterEntity.contactName!= null">
                        and contact_name = #{pageFilter.filterEntity.contactName}
                    </if>
                    <if test="pageFilter.filterEntity.contactPhone!= null">
                        and contact_phone = #{pageFilter.filterEntity.contactPhone}
                    </if>
                    <if test="pageFilter.filterEntity.legalName!= null">
                        and legal_name = #{pageFilter.filterEntity.legalName}
                    </if>
                    <if test="pageFilter.filterEntity.legalCredentType!= null">
                        and legal_credent_type = #{pageFilter.filterEntity.legalCredentType}
                    </if>
                    <if test="pageFilter.filterEntity.legalCredentNo!= null">
                        and legal_credent_no = #{pageFilter.filterEntity.legalCredentNo}
                    </if>
                    <if test="pageFilter.filterEntity.contractStaff!= null">
                        and contract_staff = #{pageFilter.filterEntity.contractStaff}
                    </if>
                    <if test="pageFilter.filterEntity.reviewStaff!= null">
                        and review_staff = #{pageFilter.filterEntity.reviewStaff}
                    </if>
                    <if test="pageFilter.filterEntity.isAudit!= null">
                        and is_audit = #{pageFilter.filterEntity.isAudit}
                    </if>
                    <if test="pageFilter.filterEntity.type!= null">
                        and type = #{pageFilter.filterEntity.type,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.areaId!= null">
                        and area_id = #{pageFilter.filterEntity.areaId}
                    </if>
                    <if test="pageFilter.filterEntity.merchantCategoryId!= null">
                        and merchant_category_id = #{pageFilter.filterEntity.merchantCategoryId}
                    </if>
                    <if test="pageFilter.filterEntity.dataState!= null">
                        and data_state = #{pageFilter.filterEntity.dataState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>

                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <!-- 查询所有已限定规则商品 -->
    <select id="selectAllOutletMerchant"  resultMap="merchantResultMap" parameterType="java.util.Map">
      SELECT * FROM fft_merchant t WHERE  EXISTS (SELECT 1 FROM fft_merchant_outlet o WHERE o.merchant_id=t.id)
        <if test="clientId != null">
            and t.client_id = #{clientId}
        </if>
        order by t.id desc
    </select>


</mapper>