<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.MerchantPresentMapper">

	<resultMap type="MerchantPresent" id="merchantPresentResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="merchantOutletId" column="merchant_outlet_id" />
	</resultMap>
	
	<!-- 插入 -->
	<insert id="saveMerchantPresent" parameterType="MerchantPresent" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_merchant_present values
		(
			#{id},#{createTime},#{updateTime},#{title},#{content},#{merchantOutletId}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="updateMerchantPresentById" parameterType="MerchantPresent" >
		update fft_merchant_present set update_time = #{updateTime}
		<if test="title != null">
			,title = #{title}
		</if>
		<if test="content != null">
			,content = #{content}
		</if>
		<if test="merchantOutletId != null">
			,merchant_outlet_id = #{merchantOutletId}
		</if>
		where id = #{id}
	</update>
	
	<!-- 查询 -->
	<select id="selectMerchantPresentById" parameterType="java.lang.Long" resultMap="merchantPresentResultMap">
		select * from fft_merchant_present where id = #{id}
	</select>
</mapper>