<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.MerchantOnlineApplyMapper">

	<resultMap type="MerchantOnlineApply" id="merchantOnlineApplyResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="companyName" column="company_name" />
		<result property="linkman" column="linkman" />
		<result property="mobile" column="mobile" />
		<result property="phone" column="phone" />
		<result property="address" column="address" />
		<result property="areaId" column="area_id" />
		<result property="cooperationType" column="cooperation_type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"  />
		<result property="cooperativePurpose" column="cooperative_purpose" />
		<result property="isRelation" column="is_relation" />
		<result property="relationAccount" column="relation_account" />
		<result property="relationTime" column="relation_time" />
		<result property="relationMark" column="relation_mark" />
		<result property="clientId" column="client_id"/>
	</resultMap>
	
	<!-- 插入 -->
	<insert id="saveMerchantOnlineApply" parameterType="MerchantOnlineApply" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_merchant_online_apply values
		(
			#{id},#{createTime},#{updateTime},#{companyName},
			#{linkman},#{mobile},#{phone},#{address},#{areaId},#{cooperationType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			#{cooperativePurpose},#{isRelation},#{relationAccount},#{relationTime},#{relationMark},#{clientId}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="updateMerchantOnlineApplyById" parameterType="MerchantOnlineApply" >
		update fft_merchant_online_apply set update_time = #{updateTime}
		<if test="companyName != null">
			,company_name = #{companyName}
		</if>
		<if test="linkman != null">
			,linkman = #{linkman}
		</if>
		<if test="mobile != null">
			,mobile = #{mobile}
		</if>
		<if test="phone != null">
			,phone = #{phone}
		</if>	
		<if test="address != null">
			,address = #{address}
		</if>
		<if test="areaId != null">
			,area_id = #{areaId}
		</if>
		<if test="cooperationType != null">
			,cooperation_type = #{cooperationType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
		</if>
		<if test="cooperativePurpose != null">
			,cooperative_purpose = #{cooperativePurpose}
		</if>
		<if test="isRelation != null">
			,is_relation = #{isRelation}
		</if>
		<if test="relationAccount != null">
			,relation_account = #{relationAccount}
		</if>	
		<if test="relationTime != null">
			,relation_time = #{relationTime}
		</if>
		<if test="relationMark != null">
			,relation_mark = #{relationMark}
		</if>	
		where id = #{id}
	</update>
	
	<!-- 查询 -->
	<select id="selectMerchantOnlineApplyById" parameterType="java.lang.Long" resultMap="merchantOnlineApplyResultMap">
		select * from fft_merchant_online_apply where id = #{id}
	</select>
</mapper>