<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.MerchantGroupUserMapper">

    <resultMap type="MerchantGroupUser" id="MerchantGroupUserResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="merchantId" column="merchant_id"/>
        <result property="merchantOutletId" column="merchant_outlet_id"/>
        <result property="sysUserId" column="sys_user_id"/>

    </resultMap>

    <!-- 插入 -->
    <insert id="saveMerchantGroupUser" parameterType="MerchantGroupUser" useGeneratedKeys="true" keyProperty="id">
		insert into fft_merchant_group_user values
		(
			#{id},#{createTime},#{updateTime},
			#{merchantId}, #{merchantOutletId},#{sysUserId}
		)
	</insert>
    <!-- 更新 -->
    <update id="updateMerchantGroupUserById" parameterType="MerchantGroupUser">
        update fft_merchant_group_user set update_time = #{updateTime}
        <if test="merchantId != null">
            ,merchant_id = #{merchantId}
        </if>
        <if test="merchantOutletId != null">
            ,merchant_outlet_id = #{merchantOutletId}
        </if>
        <if test="sysUserId != null">
            ,sys_user_id = #{sysUserId}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectMerchantGroupUserById" parameterType="java.lang.Long" resultMap="MerchantGroupUserResultMap">
		select * from fft_merchant_group_user where id = #{id}
	</select>
	
	<select id="findAllMerchantGroupUser" resultMap="MerchantGroupUserResultMap">
		select * from fft_merchant_group_user
	</select>
	
	<select id="findMerchantGroupUserByUserId" parameterType="java.lang.Long" resultMap="MerchantGroupUserResultMap">
		select * from fft_merchant_group_user where sys_user_id=#{userId}
	</select>
	
	<select id="selectByConditions" parameterType="MerchantGroupUser" resultMap="MerchantGroupUserResultMap">
		select * from fft_merchant_group_user where 1=1
		<if test="id != null">
            and id = #{id}
        </if>
		<if test="merchantId != null">
            and merchant_id = #{merchantId}
        </if>
        <if test="merchantOutletId != null">
            and merchant_outlet_id = #{merchantOutletId}
        </if>
		 <if test="sysUserId != null">
            and sys_user_id = #{sysUserId}
        </if>
	</select>
	
</mapper>