<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.MerchantOutletMapper">

    <resultMap type="MerchantOutlet" id="merchantOutletResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="name" column="name"/>
        <result property="fullName" column="full_name"/>
        <result property="logo" column="logo"/>
        <result property="address" column="address"/>
        <result property="businessHours" column="business_hours"/>
        <result property="zip" column="zip"/>
        <result property="fax" column="fax"/>
        <result property="tel" column="tel"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="contactEmail" column="contact_email"/>
        <result property="serviceProvider" column="service_provider"/>
        <result property="coordinate" column="coordinate"/>
        <result property="orderValue" column="order_value"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="dataState" column="data_state" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler"/>
    </resultMap>

    <resultMap id="statisticResultMap" type="OutletStatistic">
        <result property="deliveryId" column="deliveryid"/>
        <result property="deliveryName" column="deliveryname"/>
        <result property="outletId" column="outletid"/>
        <result property="outletName" column="outletname"/>
        <result property="price" column="price"/>
        <result property="quantity" column="quantity"/>
        <result property="orderNum" column="ordernum"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveMerchantOutlet" parameterType="MerchantOutlet" useGeneratedKeys="true" keyProperty="id">
		insert into fft_merchant_outlet values
		(
			#{id},#{createTime},#{updateTime},#{name},#{fullName},#{logo},#{address},#{businessHours},#{zip},#{fax},#{tel},
			#{contactName},#{contactPhone},#{contactEmail},#{serviceProvider},#{coordinate},#{orderValue},#{merchantId},30
		)
	</insert>

    <!-- 更新 -->
    <update id="updateMerchantOutletById" parameterType="MerchantOutlet">
        update fft_merchant_outlet set update_time = #{updateTime}
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="fullName != null">
            ,full_name = #{fullName}
        </if>
        <if test="logo != null">
            ,logo = #{logo}
        </if>
        <if test="address != null">
            ,address = #{address}
        </if>
        <if test="businessHours != null">
            ,business_hours = #{businessHours}
        </if>
        <if test="zip != null">
            ,zip = #{zip}
        </if>
        <if test="fax != null">
            ,fax = #{fax}
        </if>
        <if test="tel != null">
            ,tel = #{tel}
        </if>
        <if test="contactName != null">
            ,contact_name = #{contactName}
        </if>
        <if test="contactPhone != null">
            ,contact_phone = #{contactPhone}
        </if>
        <if test="contactEmail != null">
            ,contact_email = #{contactEmail}
        </if>
        <if test="serviceProvider != null">
            ,service_provider = #{serviceProvider}
        </if>
        <if test="coordinate != null">
            ,coordinate = #{coordinate}
        </if>
        <if test="orderValue != null">
            ,order_value = #{orderValue}
        </if>
        <if test="merchantId != null">
            ,merchant_id = #{merchantId}
        </if>
        <if test="dataState != null">
            ,data_state = #{dataState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectMerchantOutletById" parameterType="java.lang.Long" resultMap="merchantOutletResultMap">
		select * from fft_merchant_outlet where id = #{id}
	</select>

    <!--分页 -->
    <select id="selectMerchantOutletByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="merchantOutletResultMap">
        select * from fft_merchant_outlet
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        <if test="pageFilter.filterEntity.id!= ''">
                            and id = #{pageFilter.filterEntity.id}
                        </if>
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like '%${pageFilter.filterEntity.name}%'
                    </if>
                    <if test="pageFilter.filterEntity.fullName!= null">
                        and full_name = #{pageFilter.filterEntity.fullName}
                    </if>
                    <if test="pageFilter.filterEntity.logo!= null">
                        and logo = #{pageFilter.filterEntity.logo}
                    </if>
                    <if test="pageFilter.filterEntity.address!= null">
                        and address = #{pageFilter.filterEntity.address}
                    </if>
                    <if test="pageFilter.filterEntity.contactName!= null">
                        and contact_name = #{pageFilter.filterEntity.contactName}
                    </if>
                    <if test="pageFilter.filterEntity.contactPhone!= null">
                        and contact_phone = #{pageFilter.filterEntity.contactPhone}
                    </if>
                    <if test="pageFilter.filterEntity.serviceProvider!= null">
                        and service_provider = #{pageFilter.filterEntity.serviceProvider}
                    </if>
                    <if test="pageFilter.filterEntity.merchantId!= null">
                        and merchant_id = #{pageFilter.filterEntity.merchantId}
                    </if>
                    <if test="pageFilter.filterEntity.dataState!= null">
                        and data_state = #{pageFilter.filterEntity.dataState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
                    </if>

                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
   					 and ${pageFilter.property} >= #{pageFilter.startTime}
   					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
   					 and ${pageFilter.property} <= #{pageFilter.endTime}
   					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>
    <!-- 查询分页条数 -->
    <select id="selectMerchantOutletByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_merchant_outlet
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        <if test="pageFilter.filterEntity.id!= ''">
                            and id = #{pageFilter.filterEntity.id}
                        </if>
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like '%${pageFilter.filterEntity.name}%'
                    </if>
                    <if test="pageFilter.filterEntity.fullName!= null">
                        and full_name = #{pageFilter.filterEntity.fullName}
                    </if>
                    <if test="pageFilter.filterEntity.logo!= null">
                        and logo = #{pageFilter.filterEntity.logo}
                    </if>
                    <if test="pageFilter.filterEntity.address!= null">
                        and address = #{pageFilter.filterEntity.address}
                    </if>
                    <if test="pageFilter.filterEntity.contactName!= null">
                        and contact_name = #{pageFilter.filterEntity.contactName}
                    </if>
                    <if test="pageFilter.filterEntity.contactPhone!= null">
                        and contact_phone = #{pageFilter.filterEntity.contactPhone}
                    </if>
                    <if test="pageFilter.filterEntity.serviceProvider!= null">
                        and service_provider = #{pageFilter.filterEntity.serviceProvider}
                    </if>
                    <if test="pageFilter.filterEntity.merchantId!= null">
                        and merchant_id = #{pageFilter.filterEntity.merchantId}
                    </if>
                    <if test="pageFilter.filterEntity.dataState!= null">
                        and data_state = #{pageFilter.filterEntity.dataState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
   					 and ${pageFilter.property} >= #{pageFilter.startTime}
   					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
   					 and ${pageFilter.property} <= #{pageFilter.endTime}
   					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>
    <!--查询所有未绑定预售提货点分店-->
    <select id="selectAllUnboundtoPresellDeliveryOutlet" resultMap="merchantOutletResultMap">
    		select * from fft_merchant_outlet t where t.id not in (SELECT od.merchant_outlet_id FROM fft_outlet_presell_delivery od )
    </select>

    <!-- 条件查询 -->
    <select id="selectByConditions" parameterType="MerchantOutlet" resultMap="merchantOutletResultMap">
        select * from fft_merchant_outlet where 1=1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="fullName != null">
            and full_name = #{fullName}
        </if>
        <if test="logo != null">
            and logo = #{logo}
        </if>
        <if test="address != null">
            and address = #{address}
        </if>
        <if test="businessHours != null">
            and business_hours = #{businessHours}
        </if>
        <if test="zip != null">
            and zip = #{zip}
        </if>
        <if test="fax != null">
            and fax = #{fax}
        </if>
        <if test="tel != null">
            and tel = #{tel}
        </if>
        <if test="contactName != null">
            and contact_name = #{contactName}
        </if>
        <if test="contactPhone != null">
            and contact_phone = #{contactPhone}
        </if>
        <if test="contactEmail != null">
            and contact_email = #{contactEmail}
        </if>
        <if test="serviceProvider != null">
            and service_provider = #{serviceProvider}
        </if>
        <if test="coordinate != null">
            and coordinate = #{coordinate}
        </if>
        <if test="orderValue != null">
            and order_value = #{orderValue}
        </if>
        <if test="merchantId != null">
            and merchant_id = #{merchantId}
        </if>
        <if test="dataState != null">
            and data_state = #{dataState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
        </if>
    </select>



</mapper>