<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.NavigationMapper">

    <resultMap type="Navigation" id="navigationResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="name" column="name"/>
        <result property="position" column="position" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler"/>
        <result property="url" column="url"/>
        <result property="isVisible" column="is_visible"/>
        <result property="isBlankTarget" column="is_blank_target"/>
        <result property="orderValue" column="order_value"/>
        <result property="clientId" column="client_id"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveNavigation" parameterType="Navigation" useGeneratedKeys="true" keyProperty="id">
		insert into fft_navigation values
		(
			#{id},#{createTime},#{updateTime},#{name},#{position,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},
			#{url},#{isVisible},#{isBlankTarget},#{orderValue},#{clientId}
		)
	</insert>

    <!-- 更新 -->
    <update id="updateNavigationById" parameterType="Navigation">
        update fft_navigation set update_time = #{updateTime}
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="position != null">
            ,position = #{position,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
        </if>
        <if test="url != null">
            ,url = #{url}
        </if>
        <if test="isVisible != null">
            ,is_visible = #{isVisible}
        </if>
        <if test="isBlankTarget != null">
            ,is_blank_target = #{isBlankTarget}
        </if>
        <if test="orderValue != null">
            ,order_value = #{orderValue}
        </if>
        <if test="clientId != null">
            ,client_id = #{clientId}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectNavigationById" parameterType="java.lang.Long" resultMap="navigationResultMap">
		select * from fft_navigation where id = #{id}
	</select>

    <!--分页数据-->
    <select id="selectNavigationByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="navigationResultMap">
        select * from fft_navigation
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like '%${pageFilter.filterEntity.name}%'
                    </if>
                    <if test="pageFilter.filterEntity.position!= null ">
                        and position = #{pageFilter.filterEntity.position,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler }
                    </if>
                    <if test="pageFilter.filterEntity.isVisible!= null ">
                        and is_visible = #{pageFilter.filterEntity.isVisible}
                    </if>
                    <if test="pageFilter.filterEntity.isBlankTarget!= null ">
                        and is_blank_target = #{pageFilter.filterEntity.isBlankTarget}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} >= #{pageFilter.startTime}
        					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} <= #{pageFilter.endTime}
        					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectNavigationByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_navigation
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.name!= null">
                        and name like '%${pageFilter.filterEntity.name}%'
                    </if>
                    <if test="pageFilter.filterEntity.position!= null ">
                        and position = #{pageFilter.filterEntity.position,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler }
                    </if>
                    <if test="pageFilter.filterEntity.isVisible!= null ">
                        and is_visible = #{pageFilter.filterEntity.isVisible}
                    </if>
                    <if test="pageFilter.filterEntity.isBlankTarget!= null ">
                        and is_blank_target = #{pageFilter.filterEntity.isBlankTarget}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} >= #{pageFilter.startTime}
        					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
        					 and ${pageFilter.property} <= #{pageFilter.endTime}
        					]]>
                </if>
            </where>
        </if>
    </select>
</mapper>