<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.PayMapper">

	<resultMap type="Pay" id="payResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="sn" column="sn" />
		<result property="transId" column="trans_id" />
		<result property="payType" column="pay_type" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler" />
		<result property="payTypeDetails" column="pay_type_details" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler" />
		<result property="step" column="step" />
		<result property="payState" column="pay_state" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler" />
		
		<result property="payOrg" column="pay_org" />
		<result property="billNo" column="bill_no" />
		<result property="refundOrderId" column="refund_order_id" />
		<result property="pointBillNo" column="point_bill_no" />
		<result property="refundPointNo" column="refund_point_no" />
		
		
		<result property="payValue" column="pay_value" />
		<result property="fromAccountName" column="from_account_name" />
		<result property="fromAccountNo" column="from_account_no" />
		<result property="toAccountName" column="to_account_name" />
		<result property="toAccountNo" column="to_account_no" />
		<result property="fromPhone" column="from_phone" />
		<result property="toPhone" column="to_phone" />
		<result property="fromRole" column="from_role" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler" />
		<result property="toRole" column="to_role" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler"/>
		<result property="fromUserName" column="from_user_name"/>
		<result property="toUserName" column="to_user_name" />
		<result property="merchantId" column="merchant_id"/>
		
		<result property="resultCode" column="result_code" />
		<result property="resultDesc" column="result_desc" />
		<result property="remark" column="remark"/>
	</resultMap>
	
	<!-- 插入 -->
	<insert id="savePay" parameterType="Pay" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_pay values
		(
			#{id},#{createTime},#{updateTime},#{sn},#{transId},#{payType,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},#{payTypeDetails,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},
			#{step},#{payState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},
			#{payOrg},#{billNo},#{refundOrderId},#{pointBillNo},#{refundPointNo},
			#{payValue},#{fromAccountName},#{fromAccountNo},#{toAccountName},#{toAccountNo},#{fromPhone},#{toPhone},#{fromRole,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},
			#{toRole,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},
			#{fromUserName},#{toUserName},#{merchantId},#{resultCode},#{resultDesc},#{remark}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="updatePayById" parameterType="Pay" >
		update fft_pay set update_time = #{updateTime}
		<if test="payType != null">
			,pay_type = #{payType,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
		</if>
		<if test="payTypeDetails != null">
			,pay_type_details = #{payTypeDetails,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
		</if>
		<if test="step != null">
			,step = #{step}
		</if>
		<if test="payState != null">
			,pay_state = #{payState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
		</if>
		<if test="payOrg != null">
			,pay_org = #{payOrg}
		</if>		
		<if test="billNo != null">
			,bill_no = #{billNo}
		</if>
		<if test="refundOrderId != null">
			,refund_order_id = #{refundOrderId}
		</if>
		<if test="pointBillNo != null">
			,point_bill_no = #{pointBillNo}
		</if>
		<if test="refundPointNo != null">
			,refund_point_no = #{refundPointNo}
		</if>	
		<if test="payValue != null">
			,pay_value = #{payValue}
		</if>
		<if test="fromAccountName != null">
			,from_account_name = #{fromAccountName}
		</if>
		<if test="fromAccountNo != null">
			,from_account_no = #{fromAccountNo}
		</if>
		<if test="toAccountName != null">
			,to_account_name = #{toAccountName}
		</if>
		<if test="toAccountNo != null">
			,to_account_no = #{toAccountNo}
		</if>
		<if test="fromPhone != null">
			,from_phone = #{fromPhone}
		</if>
		<if test="toPhone != null">
			,to_phone = #{toPhone}
		</if>
		<if test="fromRole != null">
			,from_role = #{fromRole,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
		</if>
		<if test="toRole != null">
			,to_role = #{toRole,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
		</if>
		<if test="fromUserName != null">
			,from_user_name=#{fromUserName}
		</if>
		<if test="toUserName != null">
			,to_user_name=#{toUserName}
		</if>
		<if test="merchantId != null">
			,merchant_id=#{merchantId}
		</if>
		<if test="resultCode != null">
			,result_code=#{resultCode}
		</if>
		<if test="resultDesc != null">
			,result_desc=#{resultDesc}
		</if>
		<if test="remark != null">
			,remark=#{remark}
		</if>
		where id = #{id}
	</update>
	
	<!-- 查询 -->
	<select id="selectPayById" parameterType="java.lang.Long" resultMap="payResultMap">
		select * from fft_pay where id = #{id}
	</select>
	<!-- sn查询 -->
	<select id="selectPayBySn" parameterType="java.lang.String" resultMap="payResultMap">
		select * from fft_pay where sn = #{sn}
	</select>
	<!-- refundOrderId查询 -->
	<select id="selectPayByRefundOrderId" parameterType="java.lang.String" resultMap="payResultMap">
		select * from fft_pay where refund_order_id = #{refundOrderId}
	</select>
	<!-- transId查询 -->
	<select id="selectPayByTransId" parameterType="java.lang.Long" resultMap="payResultMap">
		select * from fft_pay where trans_id = #{transId} order by step asc
	</select>
	
	
	
	<!-- 批量插入 -->
	<insert id="saveBatchPay"  parameterType="java.util.List" >
		insert into fft_pay(
			id,create_time,update_time,sn,trans_id,pay_type,pay_type_details,
			step,pay_state,
			pay_org,bill_no,refund_order_id,point_bill_no,refund_point_no,
			pay_value,from_account_name,from_account_no,to_account_name,to_account_no,from_phone,to_phone,from_role,
			to_role,from_user_name,to_user_name,merchant_id,result_code,result_desc,remark
		) values
		<foreach collection="list" item="item"  separator="," > 
		<![CDATA[
			(
			#{item.id},NOW(),NOW(),#{item.sn},#{item.transId},#{item.payType,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},#{item.payTypeDetails,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},
			#{item.step},#{item.payState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},
			#{item.payOrg},#{item.billNo},#{item.refundOrderId},#{item.pointBillNo},#{item.refundPointNo},
			#{item.payValue},#{item.fromAccountName},#{item.fromAccountNo},#{item.toAccountName},#{item.toAccountNo},#{item.fromPhone},#{item.toPhone},#{item.fromRole,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},
			#{item.toRole,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},
			#{item.fromUserName},#{item.toUserName},#{item.merchantId},#{item.resultCode},#{item.resultDesc},#{item.remark}
			)
        ]]>
        </foreach>
	</insert>
</mapper>