<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.ProductPresellMapper">

    <resultMap type="ProductPresell" id="productPresellResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="perNumber" column="per_number"/>
        <result property="perminNumber" column="permin_number"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="deliveryStartTime" column="delivery_start_time"/>
        <result property="deliveryEndTime" column="delivery_end_time"/>
        <!--<result property="price" column="price"/>-->

        <result property="clusteringNumber" column="clustering_number"/>
        <result property="trueBuyerNumber" column="true_buyer_number"/>
        <result property="virtualBuyerNumber" column="virtual_buyer_number"/>
        <!--<result property="isCluster" column="is_cluster"/>-->
        <result property="clusterState" column="cluster_state" typeHandler="com.froad.fft.persistent.extend.EnumTypeHandler"/>
        <result property="clusterType" column="cluster_type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result property="buyKnow" column="buy_know"/>

        <result property="generalizeImage" column="generalize_image"/>
        <result property="detailsImage" column="details_image"/>
        <result property="description" column="description"/>
        <result property="orderValue" column="order_value"/>
    </resultMap>
    <resultMap id="statisticResultMap" type="java.util.HashMap"></resultMap>
    <resultMap id="statisticResultMap1" type="PresellTrans">
        <result property="quantity" column="quantity"/>
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveProductPresell" parameterType="productPresell" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into fft_product_presell values 
			(
				#{id},#{createTime},#{updateTime},
				#{title},#{summary},#{perNumber},#{perminNumber},#{startTime},#{endTime},#{deliveryStartTime},#{deliveryEndTime},
				#{clusteringNumber},0,0,#{clusterState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler},#{clusterType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
				#{buyKnow},#{generalizeImage},#{detailsImage},#{description},#{orderValue}
			)
        ]]>
	</insert>

    <!-- 更新 -->
    <update id="updateProductPresellById" parameterType="productPresell">
        update fft_product_presell set update_time = #{updateTime}
        <if test="title != null">
            ,title = #{title}
        </if>
        <if test="summary != null">
            ,summary = #{summary}
        </if>
        <if test="perNumber != null">
            ,per_number = #{perNumber}
        </if>
        <if test="perminNumber != null">
            ,permin_number = #{perminNumber}
        </if>
        <if test="startTime != null">
            ,start_time = #{startTime}
        </if>
        <if test="endTime != null">
            ,end_time = #{endTime}
        </if>
        <if test="deliveryStartTime != null">
            ,delivery_start_time = #{deliveryStartTime}
        </if>
        <if test="deliveryEndTime != null">
            ,delivery_end_time = #{deliveryEndTime}
        </if>
        <!--<if test="price != null">--><!--,price = #{price}--><!--</if>-->
        <if test="clusteringNumber != null">
            ,clustering_number = #{clusteringNumber}
        </if>
        <if test="trueBuyerNumber != null">
            ,true_buyer_number = #{trueBuyerNumber}
        </if>
        <if test="virtualBuyerNumber != null">
            ,virtual_buyer_number = #{virtualBuyerNumber}
        </if>
        <if test="clusterState != null">
            ,cluster_state = #{clusterState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
        </if>
        <if test="clusterType != null">
            ,cluster_type = #{clusterType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
        </if>
        <if test="buyKnow != null">
            ,buy_know = #{buyKnow}
        </if>
        <if test="generalizeImage != null">
            ,generalize_image = #{generalizeImage}
        </if>
        <if test="detailsImage != null">
            ,details_image = #{detailsImage}
        </if>
        <if test="description != null">
            ,description = #{description}
        </if>
        <if test="orderValue != null">
            ,order_value = #{orderValue}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectProductPresellById" parameterType="java.lang.Long" resultMap="productPresellResultMap">
		select * from fft_product_presell where id = #{id}
	</select>


    <select id="selectProductPresellByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="productPresellResultMap">
        select * from fft_product_presell
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.title!= null">
                        and title like '%${pageFilter.filterEntity.title}%'
                    </if>
                    <if test="pageFilter.filterEntity.clusterState!= null">
                        and cluster_state = #{pageFilter.filterEntity.clusterState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.clusterType!= null">
                        and cluster_type = #{pageFilter.filterEntity.clusterType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectProductPresellByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_product_presell
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.title!= null">
                        and title like '%${pageFilter.filterEntity.title}%'
                    </if>
                    <if test="pageFilter.filterEntity.clusterState!= null">
                        and cluster_state = #{pageFilter.filterEntity.clusterState,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
                    </if>
                    <if test="pageFilter.filterEntity.clusterType!= null">
                        and cluster_type = #{pageFilter.filterEntity.clusterType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
                </if>
            </where>
        </if>
    </select>

    <select id="selectByProductId" parameterType="java.lang.Long" resultMap="productPresellResultMap">
		select * from fft_product_presell where id=(select product_presell_id from fft_product where id=#{id})
	</select>

    <!--根据商品id查询自提点信息与自提点统计信息，本功能按照逻辑应该放在商品查询，但是为防止非预售商品传入，故写在预售产寻中-->
    <select id="selectPresellTransByProductId" parameterType="java.lang.Long" resultMap="statisticResultMap">
        SELECT b.* ,pd.name FROM  (SELECT t.member_code,t.sn,t.create_time, a.quantity,t.delivery_id FROM (SELECT de.trans_id,de.quantity FROM fft_trans_details de WHERE product_id = #{productId} )a
          LEFT JOIN fft_trans t  ON a.trans_id = t.id   WHERE  (t.state = '20' OR t.state ='30') AND t.pay_state = '30' AND t.type='08'  ORDER BY t.create_time  DESC )b LEFT JOIN fft_presell_delivery pd ON b.delivery_id = pd.id
    </select>

    <select id="selectPresellTransStatisticByProductId" parameterType="java.lang.Long" resultMap="statisticResultMap1">
        SELECT b.quantity,pd.id,pd.name FROM (SELECT SUM(a.quantity) AS quantity,t.delivery_id FROM (SELECT de.trans_id,de.quantity FROM fft_trans_details de WHERE product_id = #{productId} )a
          LEFT JOIN fft_trans t  ON a.trans_id = t.id  WHERE  (t.state = '20' OR t.state ='30') AND t.pay_state = '30' AND t.type='08'  GROUP BY t.delivery_id )b LEFT JOIN fft_presell_delivery pd ON b.delivery_id = pd.id
    </select>

    <!-- 查询所有未绑定预售商品 -->
    <select id="selectAllUnBindProductPresell" resultMap="productPresellResultMap">
    	SELECT * FROM fft_product_presell t WHERE NOT EXISTS (SELECT 1 FROM fft_product d WHERE d.product_presell_id=t.id)
    	</select>

</mapper>