<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.ProductImageMapper">

	<resultMap type="ProductImage" id="productImageResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="title" column="title" />
		<result property="source" column="source" />
		<result property="large" column="large" />
		<result property="medium" column="medium" />
		<result property="thumbnail" column="thumbnail" />
		<result property="orderValue" column="order_value" />
		<result property="productId" column="product_id" />
	</resultMap>
	
	<!-- 插入 -->
	<insert id="saveProductImage" parameterType="ProductImage" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_product_image values
		(
			#{id},#{createTime},#{updateTime},#{title},#{source},#{large},#{medium},#{thumbnail},#{orderValue},#{productId}
		)
	</insert>

	<!-- 更新 -->
	<update id="updateProductImageById" parameterType="ProductImage" >
		update fft_product_image set update_time = #{updateTime}
		<if test="title != null">
			,title = #{title}
		</if>
		<if test="source != null">
			,source = #{source}
		</if>
		<if test="large != null">
			,large = #{large}
		</if>
		<if test="medium != null">
			,medium = #{medium}
		</if>
		<if test="thumbnail != null">
			,thumbnail = #{thumbnail}
		</if>
		<if test="productId != null">
			,product_id = #{productId}
		</if>
		where id = #{id}
	</update>
	
	<!-- 查询 -->
	<select id="selectProductImageById" parameterType="java.lang.Long" resultMap="productImageResultMap">
		select * from fft_product_image where id = #{id}
	</select>

</mapper>