<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.ProductMapper">

    <resultMap type="Product" id="productResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="sn" column="sn"/>
        <result property="name" column="name"/>
        <result property="fullName" column="full_name"/>
        <result property="price" column="price"/>
        <result property="cost" column="cost"/>
        <result property="marketPrice" column="market_price"/>
        <result property="image" column="image"/>
        <result property="weight" column="weight"/>
        <result property="weightUnit" column="weight_unit"/>
        <result property="store" column="store"/>
        <result property="freezeStore" column="freeze_store"/>
        <result property="warnNumber" column="warn_number"/>
        <result property="isMarketable" column="is_marketable"/>
        <result property="isBest" column="is_best"/>
        <result property="isNew" column="is_new"/>
        <result property="isHot" column="is_hot"/>
        <result property="hits" column="hits"/>
        <result property="introduction" column="introduction"/>
        <result property="description" column="description"/>
        <result property="keyword" column="keyword"/>
        <result property="seoTitle" column="seo_title"/>
        <result property="seoKeywords" column="seo_keywords"/>
        <result property="seoDescription" column="seo_description"/>
        <result property="rackTime" column="rack_time"/>
        <result property="inspectors" column="inspectors"/>
        <result property="productCategoryId" column="product_category_id"/>
        <result property="productTypeId" column="product_type_id"/>
        <result property="isEnableGroup" column="is_enable_group"/>
        <result property="productGroupId" column="product_group_id"/>
        <result property="isEnablePresell" column="is_enable_presell"/>
        <result property="productPresellId" column="product_presell_id"/>
        <result property="orderValue" column="order_value"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="clientId" column="client_id"/>
        <result property="collectToFroad" column="collect_to_froad"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
    	insert into fft_product values
			(
				#{id},#{createTime},#{updateTime},#{sn},#{name},#{fullName},#{price},
				#{cost},#{marketPrice},#{image},#{weight},#{weightUnit},#{store},#{freezeStore},
				#{warnNumber},#{isMarketable},#{isBest},#{isNew},#{isHot},#{hits},#{introduction},
				#{description},#{keyword},#{seoTitle},#{seoKeywords},#{seoDescription},
				#{rackTime},#{inspectors},#{productCategoryId},#{productTypeId},
				#{isEnableGroup},#{productGroupId},#{isEnablePresell},#{productPresellId},#{orderValue},#{merchantId},#{clientId},#{collectToFroad}
			)
        ]]>
	</insert>

    <!-- 更新 -->
    <update id="updateProductById" parameterType="Product">
        update fft_product set update_time = #{updateTime}
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="fullName != null">
            ,full_name = #{fullName}
        </if>
        <if test="price != null">
            ,price = #{price}
        </if>
        <if test="cost != null">
            ,cost = #{cost}
        </if>
        <if test="marketPrice != null">
            ,market_price = #{marketPrice}
        </if>
        <if test="image != null">
            ,image = #{image}
        </if>
        <if test="weight != null">
            ,weight = #{weight}
        </if>
        <if test="weightUnit != null">
            ,weight_unit = #{weightUnit}
        </if>
        <if test="store != null">
            ,store = #{store}
        </if>
        <if test="freezeStore != null">
            ,freeze_store = #{freezeStore}
        </if>
        <if test="warnNumber != null">
            ,warn_number = #{warnNumber}
        </if>
        <if test="isMarketable != null">
            ,is_marketable = #{isMarketable}
        </if>
        <if test="isBest != null">
            ,is_best = #{isBest}
        </if>
        <if test="isNew != null">
            ,is_new = #{isNew}
        </if>
        <if test="isHot != null">
            ,is_hot = #{isHot}
        </if>
        <if test="hits != null">
            ,hits = #{hits}
        </if>
        <if test="introduction != null">
            ,introduction = #{introduction}
        </if>
        <if test="description != null">
            ,description = #{description}
        </if>
        <if test="keyword != null">
            ,keyword = #{keyword}
        </if>
        <if test="seoTitle != null">
            ,seo_title = #{seoTitle}
        </if>
        <if test="seoKeywords != null">
            ,seo_keywords = #{seoKeywords}
        </if>
        <if test="seoDescription != null">
            ,seo_description = #{seoDescription}
        </if>
        <if test="rackTime != null">
            ,rack_time = #{rackTime}
        </if>
        <if test="inspectors != null">
            ,inspectors = #{inspectors}
        </if>
        <if test="productCategoryId != null">
            ,product_category_id = #{productCategoryId}
        </if>
        <if test="productTypeId != null">
            ,product_type_id = #{productTypeId}
        </if>
        <if test="isEnableGroup != null">
            ,is_enable_group = #{isEnableGroup}
        </if>
        <if test="isEnablePresell != null">
            ,is_enable_presell = #{isEnablePresell}
        </if>
        <if test="productGroupId!=null">
            ,product_group_id=#{productGroupId}
        </if>
        <if test="productPresellId!=null">
            ,product_presell_id=#{productPresellId}
        </if>
        <if test="orderValue!=null">
            ,order_value=#{orderValue}
        </if>
        <if test="merchantId!=null">
            ,merchant_id=#{merchantId}
        </if>
        <if test="clientId != null">
            ,client_id = #{clientId}
        </if>
        <if test="collectToFroad != null">
            ,collect_to_froad = #{collectToFroad}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectProductById" parameterType="java.lang.Long" resultMap="productResultMap">
		select * from fft_product where id = #{id}
	</select>

    <!-- 查询 -->
    <select id="getProductById" parameterType="java.lang.Integer"
            resultType="Product" resultMap="productResultMap">
    	<![CDATA[
		select * from product where id=#{id}
        ]]>
	</select>

    <!-- 分页查询 by larry-->
    <select id="findProductByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="productResultMap">
        <![CDATA[
			select * from fft_product
		]]>

        <!-- 条件 -->
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.sn!= null and pageFilter.filterEntity.sn!=''">
                        and sn like CONCAT('%',#{pageFilter.filterEntity.sn},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.name!= null and pageFilter.filterEntity.name!=''">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.fullName!= null and pageFilter.filterEntity.fullName!=''">
                        and full_name like CONCAT('%',#{pageFilter.filterEntity.fullName},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.price!= null and pageFilter.filterEntity.price!=''">
                        and price = #{pageFilter.filterEntity.price}
                    </if>
                    <if test="pageFilter.filterEntity.cost!= null">
                        and cost = #{pageFilter.filterEntity.cost}
                    </if>
                    <if test="pageFilter.filterEntity.marketPrice!= null">
                        and market_price = #{pageFilter.filterEntity.marketPrice}
                    </if>
                    <if test="pageFilter.filterEntity.image!= null">
                        and image = #{pageFilter.filterEntity.image}
                    </if>
                    <if test="pageFilter.filterEntity.weight!= null">
                        and weight = #{pageFilter.filterEntity.weight}
                    </if>
                    <if test="pageFilter.filterEntity.weightUnit!= null">
                        and weight_unit = #{pageFilter.filterEntity.weightUnit}
                    </if>
                    <if test="pageFilter.filterEntity.store!= null">
                        and store = #{pageFilter.filterEntity.store}
                    </if>
                    <if test="pageFilter.filterEntity.freezeStore!= null">
                        and freeze_store = #{pageFilter.filterEntity.freezeStore}
                    </if>
                    <if test="pageFilter.filterEntity.warnNumber!= null">
                        and warn_number = #{pageFilter.filterEntity.warnNumber}
                    </if>
                    <if test="pageFilter.filterEntity.isMarketable!= null">
                        and is_marketable = #{pageFilter.filterEntity.isMarketable}
                    </if>
                    <if test="pageFilter.filterEntity.isBest!= null">
                        and is_best = #{pageFilter.filterEntity.isBest}
                    </if>
                    <if test="pageFilter.filterEntity.isNew!= null">
                        and is_new = #{pageFilter.filterEntity.isNew}
                    </if>
                    <if test="pageFilter.filterEntity.isHot!= null">
                        and is_hot = #{pageFilter.filterEntity.isHot}
                    </if>
                    <if test="pageFilter.filterEntity.hits!= null">
                        and hits = #{pageFilter.filterEntity.hits}
                    </if>
                    <if test="pageFilter.filterEntity.introduction!= null">
                        and introduction = #{pageFilter.filterEntity.introduction}
                    </if>
                    <if test="pageFilter.filterEntity.description!= null">
                        and description = #{pageFilter.filterEntity.description}
                    </if>
                    <if test="pageFilter.filterEntity.keyword!= null and pageFilter.filterEntity.keyword!=''">
                        and keyword like CONCAT('%',#{pageFilter.filterEntity.keyword},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.seoTitle!= null and pageFilter.filterEntity.seoTitle!=''">
                        and seo_title like CONCAT('%',#{pageFilter.filterEntity.seoTitle},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.seoKeywords!= null and pageFilter.filterEntity.seoKeywords!=''">
                        and seo_keywords like CONCAT('%',#{pageFilter.filterEntity.seoKeywords},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.seoDescription!= null">
                        and seo_description = #{pageFilter.filterEntity.seoDescription}
                    </if>
                    <if test="pageFilter.filterEntity.rackTime!= null">
                        and rack_time = #{pageFilter.filterEntity.rackTime}
                    </if>
                    <if test="pageFilter.filterEntity.inspectors!= null">
                        and inspectors = #{pageFilter.filterEntity.inspectors}
                    </if>
                    <if test="pageFilter.filterEntity.productCategoryId!= null">
                        and product_category_id = #{pageFilter.filterEntity.productCategoryId}
                    </if>
                    <if test="pageFilter.filterEntity.productTypeId!= null">
                        and product_type_id = #{pageFilter.filterEntity.productTypeId}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                    <if test="pageFilter.filterEntity.merchantId!= null">
                        and merchant_id = #{pageFilter.filterEntity.merchantId}
                    </if>
                    <if test="pageFilter.filterEntity.collectToFroad!= null">
                        and collect_to_froad = #{pageFilter.filterEntity.collectToFroad}
                    </if>
                    <if test="pageFilter.filterEntity.isEnableGroup != null">
                        and is_enable_group = #{pageFilter.filterEntity.isEnableGroup}
                    </if>
                    <if test="pageFilter.filterEntity.isEnablePresell != null">
                        and is_enable_presell = #{pageFilter.filterEntity.isEnablePresell}
                    </if>
                    <if test="pageFilter.filterEntity.productGroupId!=null">
                        and product_group_id=#{pageFilter.filterEntity.productGroupId}
                    </if>
                    <if test="pageFilter.filterEntity.productPresellId!=null">
                        and product_presell_id=#{pageFilter.filterEntity.productPresellId}
                    </if>
                </if>
                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
                </if>
            </where>
        </if>

        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>

    </select>
    <!-- 分页查询结束larry -->

    <!-- 分页总数 -->
    <select id="findProductByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        <![CDATA[
			select count(0) from fft_product
		]]>

        <!-- 条件 -->
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.sn!= null and pageFilter.filterEntity.sn!=''">
                        and sn like CONCAT('%',#{pageFilter.filterEntity.sn},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.name!= null and pageFilter.filterEntity.name!=''">
                        and name like CONCAT('%',#{pageFilter.filterEntity.name},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.fullName!= null and pageFilter.filterEntity.fullName!=''">
                        and full_name like CONCAT('%',#{pageFilter.filterEntity.fullName},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.price!= null and pageFilter.filterEntity.price!=''">
                        and price = #{pageFilter.filterEntity.price}
                    </if>
                    <if test="pageFilter.filterEntity.cost!= null">
                        and cost = #{pageFilter.filterEntity.cost}
                    </if>
                    <if test="pageFilter.filterEntity.marketPrice!= null">
                        and market_price = #{pageFilter.filterEntity.marketPrice}
                    </if>
                    <if test="pageFilter.filterEntity.image!= null">
                        and image = #{pageFilter.filterEntity.image}
                    </if>
                    <if test="pageFilter.filterEntity.weight!= null">
                        and weight = #{pageFilter.filterEntity.weight}
                    </if>
                    <if test="pageFilter.filterEntity.weightUnit!= null">
                        and weight_unit = #{pageFilter.filterEntity.weightUnit}
                    </if>
                    <if test="pageFilter.filterEntity.store!= null">
                        and store = #{pageFilter.filterEntity.store}
                    </if>
                    <if test="pageFilter.filterEntity.freezeStore!= null">
                        and freeze_store = #{pageFilter.filterEntity.freezeStore}
                    </if>
                    <if test="pageFilter.filterEntity.warnNumber!= null">
                        and warn_number = #{pageFilter.filterEntity.warnNumber}
                    </if>
                    <if test="pageFilter.filterEntity.isMarketable!= null">
                        and is_marketable = #{pageFilter.filterEntity.isMarketable}
                    </if>
                    <if test="pageFilter.filterEntity.isBest!= null">
                        and is_best = #{pageFilter.filterEntity.isBest}
                    </if>
                    <if test="pageFilter.filterEntity.isNew!= null">
                        and is_new = #{pageFilter.filterEntity.isNew}
                    </if>
                    <if test="pageFilter.filterEntity.isHot!= null">
                        and is_hot = #{pageFilter.filterEntity.isHot}
                    </if>
                    <if test="pageFilter.filterEntity.hits!= null">
                        and hits = #{pageFilter.filterEntity.hits}
                    </if>
                    <if test="pageFilter.filterEntity.introduction!= null">
                        and introduction = #{pageFilter.filterEntity.introduction}
                    </if>
                    <if test="pageFilter.filterEntity.description!= null">
                        and description = #{pageFilter.filterEntity.description}
                    </if>
                    <if test="pageFilter.filterEntity.keyword!= null and pageFilter.filterEntity.keyword!=''">
                        and keyword like CONCAT('%',#{pageFilter.filterEntity.keyword},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.seoTitle!= null and pageFilter.filterEntity.seoTitle!=''">
                        and seo_title like CONCAT('%',#{pageFilter.filterEntity.seoTitle},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.seoKeywords!= null and pageFilter.filterEntity.seoKeywords!=''">
                        and seo_keywords like CONCAT('%',#{pageFilter.filterEntity.seoKeywords},'%' )
                    </if>
                    <if test="pageFilter.filterEntity.seoDescription!= null">
                        and seo_description = #{pageFilter.filterEntity.seoDescription}
                    </if>
                    <if test="pageFilter.filterEntity.rackTime!= null">
                        and rack_time = #{pageFilter.filterEntity.rackTime}
                    </if>
                    <if test="pageFilter.filterEntity.inspectors!= null">
                        and inspectors = #{pageFilter.filterEntity.inspectors}
                    </if>
                    <if test="pageFilter.filterEntity.productCategoryId!= null">
                        and product_category_id = #{pageFilter.filterEntity.productCategoryId}
                    </if>
                    <if test="pageFilter.filterEntity.productTypeId!= null">
                        and product_type_id = #{pageFilter.filterEntity.productTypeId}
                    </if>
                    <if test="pageFilter.filterEntity.clientId!= null">
                        and client_id = #{pageFilter.filterEntity.clientId}
                    </if>
                    <if test="pageFilter.filterEntity.merchantId!= null">
                        and merchant_id = #{pageFilter.filterEntity.merchantId}
                    </if>
                    <if test="pageFilter.filterEntity.collectToFroad!= null">
                        and collect_to_froad = #{pageFilter.filterEntity.collectToFroad}
                    </if>
                    <if test="pageFilter.filterEntity.isEnableGroup != null">
                        and is_enable_group = #{pageFilter.filterEntity.isEnableGroup}
                    </if>
                    <if test="pageFilter.filterEntity.isEnablePresell != null">
                        and is_enable_presell = #{pageFilter.filterEntity.isEnablePresell}
                    </if>
                    <if test="pageFilter.filterEntity.productGroupId!=null">
                        and product_group_id=#{pageFilter.filterEntity.productGroupId}
                    </if>
                    <if test="pageFilter.filterEntity.productPresellId!=null">
                        and product_presell_id=#{pageFilter.filterEntity.productPresellId}
                    </if>
                </if>
                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
                </if>
            </where>
        </if>

    </select>

    <!-- 通过product作为条件查询product  -->
    <select id="selectProductByCondition" parameterType="Product" resultMap="productResultMap">
        select * from fft_product where 1 = 1
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="fullName != null">
            and full_name = #{fullName}
        </if>
        <if test="price != null">
            and price = #{price}
        </if>
        <if test="cost != null">
            and cost = #{cost}
        </if>
        <if test="marketPrice != null">
            and market_price = #{marketPrice}
        </if>
        <if test="image != null">
            and image = #{image}
        </if>
        <if test="weight != null">
            and weight = #{weight}
        </if>
        <if test="weightUnit != null">
            and weight_unit = #{weightUnit}
        </if>
        <if test="store != null">
            and store = #{store}
        </if>
        <if test="freezeStore != null">
            and freeze_store = #{freezeStore}
        </if>
        <if test="warnNumber != null">
            and warn_number = #{warnNumber}
        </if>
        <if test="isMarketable != null">
            and is_marketable = #{isMarketable}
        </if>
        <if test="isBest != null">
            and is_best = #{isBest}
        </if>
        <if test="isNew != null">
            and is_new = #{isNew}
        </if>
        <if test="isHot != null">
            and is_hot = #{isHot}
        </if>
        <if test="hits != null">
            and hits = #{hits}
        </if>
        <if test="introduction != null">
            and introduction = #{introduction}
        </if>
        <if test="description != null">
            and description = #{description}
        </if>
        <if test="keyword != null">
            and keyword = #{keyword}
        </if>
        <if test="seoTitle != null">
            and seo_title = #{seoTitle}
        </if>
        <if test="seoKeywords != null">
            and seo_keywords = #{seoKeywords}
        </if>
        <if test="seoDescription != null">
            and seo_description = #{seoDescription}
        </if>
        <if test="rackTime != null">
            and rack_time = #{rackTime}
        </if>
        <if test="inspectors != null">
            and inspectors = #{inspectors}
        </if>
        <if test="productCategoryId != null">
            and product_category_id = #{productCategoryId}
        </if>
        <if test="productTypeId != null">
            and product_type_id = #{productTypeId}
        </if>
        <if test="isEnableGroup != null">
            and is_enable_group = #{isEnableGroup}
        </if>
        <if test="isEnablePresell != null">
            and is_enable_presell = #{isEnablePresell}
        </if>
        <if test="productGroupId!=null">
            and product_group_id=#{productGroupId}
        </if>
        <if test="productPresellId!=null">
            and product_presell_id=#{productPresellId}
        </if>
        <if test="orderValue!=null">
            and order_value=#{orderValue}
        </if>
        <if test="merchantId!=null">
            and merchant_id=#{merchantId}
        </if>
        <if test="clientId != null">
            and client_id = #{clientId}
        </if>
        <if test="collectToFroad != null">
            and collect_to_froad = #{collectToFroad}
        </if>
    </select>


    <!-- 查询所有未限定规则商品 -->
    <select id="selectAllUnRestrictProduct" parameterType="ProductRestrictRule" resultMap="productResultMap">
        SELECT * FROM fft_product t WHERE NOT EXISTS (SELECT 1 FROM fft_product_restrict_rule d WHERE d.product_id=t.id
        <if test="restrictType != null">
            and d.restrict_type = #{restrictType,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
        </if>
        )
    </select>

    <!-- 查询所有已限定规则商品 -->
    <select id="selectAllRestrictProduct" parameterType="ProductRestrictRule" resultMap="productResultMap">
        SELECT * FROM fft_product t WHERE EXISTS (SELECT 1 FROM fft_product_restrict_rule d WHERE d.product_id=t.id
        <if test="restrictType != null">
            and d.restrict_type = #{restrictType,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
        </if>
        )
    </select>

    <!-- 查询所有已有库存商品 -->
    <select id="selectAllProductHaveStockPile" resultMap="productResultMap">
        SELECT * FROM  fft_product t WHERE EXISTS (SELECT 1 FROM fft_stock_pile p  WHERE p.product_id = t.id)
      </select>
</mapper>