<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.ProductGroupMapper">

    <resultMap type="ProductGroup" id="productGroupResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="areaName" column="area_name"/>
        <result property="perNumber" column="per_number"/>
        <result property="perminNumber" column="permin_number"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <!--<result property="price" column="price" />-->
        <result property="buyKnow" column="buy_know"/>
        <result property="generalizeImage" column="generalize_image"/>
        <result property="detailsImage" column="details_image"/>
        <result property="description" column="description"/>
        <result property="orderValue" column="order_value"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveProductGroup" parameterType="productGroup" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[

			insert into fft_product_group values 
			(
				#{id},#{createTime},#{updateTime},
				#{title},#{summary},#{areaName},#{perNumber},#{perminNumber},
				#{startTime},#{endTime},
				#{buyKnow},#{generalizeImage},#{detailsImage},#{description},#{orderValue}
			)

        ]]>
	</insert>

    <!-- 更新 -->
    <update id="updateProductGroupById" parameterType="productGroup">
        update fft_product_group set update_time = #{updateTime}
        <if test="title != null">
            ,title = #{title}
        </if>
        <if test="summary != null">
            ,summary = #{summary}
        </if>
        <if test="areaName != null">
            ,area_name = #{areaName}
        </if>
        <if test="perNumber != null">
            ,per_number = #{perNumber}
        </if>
        <if test="perminNumber != null">
            ,permin_number = #{perminNumber}
        </if>
        <if test="startTime != null">
            ,start_time = #{startTime}
        </if>
        <if test="endTime != null">
            ,end_time = #{endTime}
        </if>
        <!--<if test="price != null">-->        <!--,price = #{price}-->    <!--</if>-->
        <if test="buyKnow != null">
            ,buy_know = #{buyKnow}
        </if>
        <if test="generalizeImage != null">
            ,generalize_image = #{generalizeImage}
        </if>
        <if test="detailsImage != null">
            ,details_image = #{detailsImage}
        </if>
        <if test="description != null">
            ,description = #{description}
        </if>
        <if test="orderValue != null">
            ,order_value = #{orderValue}
        </if>
        where id = #{id}
    </update>

    <!-- 查询 -->
    <select id="selectProductGroupById" parameterType="java.lang.Long" resultMap="productGroupResultMap">
		select * from fft_product_group where id = #{id}
	</select>

    <select id="selectProductGroupByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="productGroupResultMap">
        select * from fft_product_group
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.title!= null">
                        and title like '%${pageFilter.filterEntity.title}%'
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
   					 and ${pageFilter.property} >= #{pageFilter.startTime}
   					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
   					 and ${pageFilter.property} <= #{pageFilter.endTime}
   					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>

    <select id="selectProductGroupByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_product_group
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.title!= null">
                        and title like '%${pageFilter.filterEntity.title}%'
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
   					 and ${pageFilter.property} >= #{pageFilter.startTime}
   					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
   					 and ${pageFilter.property} <= #{pageFilter.endTime}
   					]]>
                </if>
            </where>
        </if>
    </select>

</mapper>