<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.RefundsMapper">

	<resultMap type="Refunds" id="RefundsResultMap">
		<id property="id" column="id" />		
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />		
		<result property="sn" column="sn" />
		<result property="transId" column="trans_id" />
		<result property="state" column="state"  typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
		<result property="reason" column="reason" />
		<result property="sysUserId" column="sys_user_id"  />
		<result property="remark" column="remark"  />
	</resultMap>
	<!-- 插入 -->
	<insert id="saveRefunds" parameterType="Refunds" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_refunds values(
			#{id},#{createTime},#{updateTime},#{sn},#{transId},#{state,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{reason},#{sysUserId},#{remark}
		)
	</insert>
	<!-- 查询 -->
	<select id="selectRefundsById" parameterType="java.lang.Long" resultMap="RefundsResultMap">
		select * from fft_refunds where id=#{id}
	</select>
	
	<!-- 更新 -->
	<update id="updateRefundsById" parameterType="Refunds" >
		update fft_refunds set update_time = #{updateTime}
		<if test="sn != null">
			,sn = #{sn}
		</if>
		<if test="transId != null">
			,trans_id = #{transId}
		</if>
		<if test="state != null">
			,state = #{state,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
		</if>	
		<if test="reason != null">
			,reason = #{reason}
		</if>	
		<if test="sysUserId != null">
			,sys_user_id = #{sysUserId}
		</if>
		<if test="remark != null">
			,remark = #{remark}
		</if>		
		where id = #{id}
	</update>
	
	<select id="selectRefundsByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="RefundsResultMap">
		select * from fft_refunds
		<if test="pageFilter != null">
			<where>
				<if test="pageFilter.filterEntity != null">
					<if test="pageFilter.filterEntity.id!= null">
						and id = #{pageFilter.filterEntity.id}
					</if>
					<if test="pageFilter.filterEntity.sn!= null">
						and sn like CONCAT('%',#{pageFilter.filterEntity.sn},'%')
					</if>
					<if test="pageFilter.filterEntity.transId!= null">
						and trans_id = #{pageFilter.filterEntity.transId}
					</if>
					<if test="pageFilter.filterEntity.state!= null">
						and state = #{pageFilter.filterEntity.state,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
					</if>
					<if test="pageFilter.filterEntity.reason!= null">
						and reason = #{pageFilter.filterEntity.reason}
					</if>
					<if test="pageFilter.filterEntity.sysUserId!= null">
						and sys_user_id = #{pageFilter.filterEntity.sysUserId}
					</if>
					<if test="pageFilter.filterEntity.remark!= null">
						and remark = #{pageFilter.filterEntity.remark}
					</if>					
				</if>
				
				<!-- 时间段条件 -->
				<if test="pageFilter.property != null and pageFilter.startTime != null">
					<![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
				</if>
				<if test="pageFilter.property != null and pageFilter.endTime != null">
					<![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
				</if>
			</where>		
		</if>
		<!-- 排序 --> 
		<if test="order != null">
			<if test="order.property != null and order.direction != null">
				order by ${order.property} ${order.direction} 
			</if>
		</if>
	</select>
	
	<select id="selectRefundsByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
		select count(*) from fft_refunds
		<if test="pageFilter != null">
			<where>
				<if test="pageFilter.filterEntity != null">
					<if test="pageFilter.filterEntity.id!= null">
						and id = #{pageFilter.filterEntity.id}
					</if>						
					<if test="pageFilter.filterEntity.sn!= null">
						and sn like CONCAT('%',#{pageFilter.filterEntity.sn},'%')
					</if>
					<if test="pageFilter.filterEntity.transId!= null">
						and trans_id = #{pageFilter.filterEntity.transId}
					</if>
					<if test="pageFilter.filterEntity.state!= null">
						and state = #{pageFilter.filterEntity.state,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
					</if>
					<if test="pageFilter.filterEntity.reason!= null">
						and reason = #{pageFilter.filterEntity.reason}
					</if>
					<if test="pageFilter.filterEntity.sysUserId!= null">
						and sys_user_id = #{pageFilter.filterEntity.sysUserId}
					</if>
					<if test="pageFilter.filterEntity.remark!= null">
						and remark = #{pageFilter.filterEntity.remark}
					</if>					
				</if>
				
				<!-- 时间段条件 -->
				<if test="pageFilter.property != null and pageFilter.startTime != null">
					<![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
				</if>
				<if test="pageFilter.property != null and pageFilter.endTime != null">
					<![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
				</if>
			</where>		
		</if>
		<!-- 排序 --> 
		<if test="order != null">
			<if test="order.property != null and order.direction != null">
				order by ${order.property} ${order.direction} 
			</if>
		</if>
	</select>
	
	
	
</mapper>