<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.StockPileMapper">

    <resultMap type="StockPile" id="stockPileResultMap">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="productId" column="product_id"/>
        <result property="merchantOutletId" column="merchant_outlet_id"/>
        <result property="quantity" column="quantity"/>
        <result property="lastIncomeTime" column="last_income_time"/>
        <result property="lastOutcomeTime" column="last_outcome_time"/>
        <result property="warnType" column="warn_type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result property="warnValue" column="warn_value"/>
        <result property="totalQuantity" column="total_quantity"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!-- 插入 -->
    <insert id="saveStockPile" parameterType="StockPile" useGeneratedKeys="true" keyProperty="id">
		insert into fft_stock_pile values
		(
			#{id},#{createTime},#{updateTime},#{productId},
			#{merchantOutletId},#{quantity},#{lastIncomeTime},#{lastOutcomeTime},
			#{warnType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{warnValue},#{totalQuantity},#{remark}
		)
	</insert>

    <select id="selectStockPileById" parameterType="java.lang.Long" resultMap="stockPileResultMap">
		select * from fft_stock_pile where id=#{id}
	</select>

    <update id="updateStockPileById" parameterType="StockPile">
        update fft_stock_pile set update_time = #{updateTime}
        <if test="productId != null">
            ,product_id = #{productId}
        </if>
        <if test="merchantOutletId != null">
            ,merchant_outlet_id = #{merchantOutletId}
        </if>
        <if test="quantity != null">
            ,quantity = #{quantity}
        </if>
        <if test="lastIncomeTime != null">
            ,last_income_time = #{lastIncomeTime}
        </if>
        <if test="lastOutcomeTime != null">
            ,last_outcome_time = #{lastOutcomeTime}
        </if>
        <if test="warnValue != null">
            ,warn_value = #{warnValue}
        </if>
        <if test="totalQuantity != null">
            ,total_quantity = #{totalQuantity}
        </if>
        <if test="remark != null">
            ,remark = #{remark}
        </if>
        <if test="warnType != null">
            ,warn_type = #{warnType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
        </if>
        where id = #{id}
    </update>

    <select id="selectStockPileByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="stockPileResultMap">
        select * from fft_stock_pile
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.productId!= null">
                        and product_id = #{pageFilter.filterEntity.productId}
                    </if>
                    <if test="pageFilter.filterEntity.merchantOutletId!= null">
                        and merchant_outlet_id = #{pageFilter.filterEntity.merchantOutletId}
                    </if>
                    <if test="pageFilter.filterEntity.quantity!= null">
                        and quantity = #{pageFilter.filterEntity.quantity}
                    </if>
                    <if test="pageFilter.filterEntity.warnType!= null">
                        and warn_type = #{pageFilter.filterEntity.warnType}
                    </if>
                    <if test="pageFilter.filterEntity.merchantOutletIds!= null">
                        and merchant_outlet_id in
                        <foreach collection="pageFilter.filterEntity.merchantOutletIds" item="item" index="index" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
                </if>
            </where>
        </if>
        <!-- 排序 -->
        <if test="order != null">
            <if test="order.property != null and order.direction != null">
                order by ${order.property} ${order.direction}
            </if>
        </if>
    </select>


    <select id="selectStockPileByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
        select count(*) from fft_stock_pile
        <if test="pageFilter != null">
            <where>
                <if test="pageFilter.filterEntity != null">
                    <if test="pageFilter.filterEntity.id!= null">
                        and id = #{pageFilter.filterEntity.id}
                    </if>
                    <if test="pageFilter.filterEntity.productId!= null">
                        and product_id = #{pageFilter.filterEntity.productId}
                    </if>
                    <if test="pageFilter.filterEntity.merchantOutletId!= null">
                        and merchant_outlet_id = #{pageFilter.filterEntity.merchantOutletId}
                    </if>
                    <if test="pageFilter.filterEntity.quantity!= null">
                        and quantity = #{pageFilter.filterEntity.quantity}
                    </if>
                    <if test="pageFilter.filterEntity.warnType!= null">
                        and warn_type = #{pageFilter.filterEntity.warnType}
                    </if>
                    <if test="pageFilter.filterEntity.merchantOutletIds!= null">
                        and merchant_outlet_id in
                        <foreach collection="pageFilter.filterEntity.merchantOutletIds" item="item" index="index" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                </if>

                <!-- 时间段条件 -->
                <if test="pageFilter.property != null and pageFilter.startTime != null">
                    <![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
                </if>
                <if test="pageFilter.property != null and pageFilter.endTime != null">
                    <![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
                </if>
            </where>
        </if>
    </select>

    <select id="selectByCondtitons" parameterType="StockPile" resultMap="stockPileResultMap">
        select * from fft_stock_pile where 1=1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="productId != null">
            and product_id = #{productId}
        </if>
        <if test="merchantOutletId != null">
            and merchant_outlet_id = #{merchantOutletId}
        </if>
        <if test="quantity != null">
            and quantity = #{quantity}
        </if>
        <if test="lastIncomeTime != null">
            and last_income_time = #{lastIncomeTime}
        </if>
        <if test="lastOutcomeTime != null">
            and last_outcome_time = #{lastOutcomeTime}
        </if>
        <if test="warnValue != null">
            and warn_value = #{warnValue}
        </if>
        <if test="totalQuantity != null">
            and total_quantity = #{totalQuantity}
        </if>
        <if test="warnType != null">
            and warn_type = #{warnType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
        </if>
    </select>

</mapper>