<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.StockPileLogMapper">

	<resultMap type="StockPileLog" id="StockPileLogResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="type" column="type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="productId" column="product_id" />
		<result property="merchantOutletId" column="merchant_outlet_id" />
		<result property="quantity" column="quantity" />
		<result property="content" column="content" />
		<result property="operator" column="operator" />
	</resultMap>
	
	<!-- 插入 -->
	<insert id="saveStockPileLog" parameterType="StockPileLog" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_stock_pile_log values
		(
			#{id},#{createTime},#{updateTime},#{type,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			#{productId},#{merchantOutletId},#{quantity},#{content},#{operator}
		)
	</insert>
	
	<select id="selectStockPileLogByPage" parameterType="com.froad.fft.persistent.bean.page.Page" resultMap="StockPileLogResultMap">
		select * from fft_stock_pile_log
		<if test="pageFilter != null">
			<where>
				<if test="pageFilter.filterEntity != null">
					<if test="pageFilter.filterEntity.id!= null">
						and id = #{pageFilter.filterEntity.id}
					</if>
					<if test="pageFilter.filterEntity.type!= null">
						and type = #{pageFilter.filterEntity.type,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
					</if>
					<if test="pageFilter.filterEntity.productId!= null">
						and product_id = #{pageFilter.filterEntity.productId}
					</if>
					<if test="pageFilter.filterEntity.merchantOutletId!= null">
						and merchant_outlet_id = #{pageFilter.filterEntity.merchantOutletId}
					</if>
					<if test="pageFilter.filterEntity.quantity!= null">
						and quantity = #{pageFilter.filterEntity.quantity}
					</if>
					<if test="pageFilter.filterEntity.operator!= null">
						and operator = #{pageFilter.filterEntity.operator}
					</if>				
				</if>
				
				<!-- 时间段条件 -->
				<if test="pageFilter.property != null and pageFilter.startTime != null">
					<![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
				</if>
				<if test="pageFilter.property != null and pageFilter.endTime != null">
					<![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
				</if>
			</where>		
		</if>
		<!-- 排序 --> 
		<if test="order != null">
			<if test="order.property != null and order.direction != null">
				order by ${order.property} ${order.direction} 
			</if>
		</if>
	</select>
	
	<select id="selectStockPileLogByPageCount" parameterType="com.froad.fft.persistent.bean.page.Page" resultType="java.lang.Integer">
		select count(*) from fft_stock_pile_log
		<if test="pageFilter != null">
			<where>
				<if test="pageFilter.filterEntity != null">
					<if test="pageFilter.filterEntity.id!= null">
						and id = #{pageFilter.filterEntity.id}
					</if>
					<if test="pageFilter.filterEntity.type!= null">
						and type = #{pageFilter.filterEntity.type,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
					</if>
					<if test="pageFilter.filterEntity.productId!= null">
						and product_id = #{pageFilter.filterEntity.productId}
					</if>
					<if test="pageFilter.filterEntity.merchantOutletId!= null">
						and merchant_outlet_id = #{pageFilter.filterEntity.merchantOutletId}
					</if>
					<if test="pageFilter.filterEntity.quantity!= null">
						and quantity = #{pageFilter.filterEntity.quantity}
					</if>
					<if test="pageFilter.filterEntity.operator!= null">
						and operator = #{pageFilter.filterEntity.operator}
					</if>				
				</if>
				
				<!-- 时间段条件 -->
				<if test="pageFilter.property != null and pageFilter.startTime != null">
					<![CDATA[
					 and ${pageFilter.property} >= #{pageFilter.startTime}
					]]>
				</if>
				<if test="pageFilter.property != null and pageFilter.endTime != null">
					<![CDATA[
					 and ${pageFilter.property} <= #{pageFilter.endTime}
					]]>
				</if>
			</where>		
		</if>
	</select>

</mapper>