<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.SysGroupMapper">

	<resultMap type="SysGroup" id="sysGroupResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />

		<result property="name" column="name" />
		<result property="description" column="description" />
	</resultMap>
	
	<!-- 插入 -->
	<insert id="saveSysGroup" parameterType="SysGroup" useGeneratedKeys="true" keyProperty="id" >
		insert into fft_sys_group values
		(
			#{id},#{createTime},#{updateTime},#{name},#{description}
		)
	</insert>

	<!-- 更新 -->
	<update id="updateSysGroupById" parameterType="SysGroup">
		update fft_sys_group set update_time = #{updateTime}
		<if test="name != null">
			,name = #{name}
		</if>
		<if test="description != null">
			,description = #{description}
		</if>
		where id = #{id}
	</update>
	
	<!-- 查询 -->
	<select id="selectSysGroupById" parameterType="java.lang.Long" resultMap="sysGroupResultMap">
		select * from fft_sys_group where id = #{id}
	</select>
</mapper>