<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.fft.persistent.api.TransStatisticMapper">

    <resultMap type="TransStatistic" id="baseStatisticResultMap">
        <result property="memberCode" column="member_code"/>
        <result property="orderTime" column="order_time"/>
        <result property="totalPrice" column="total_price"/>
    </resultMap>

    <resultMap id="outletStatisticResultMap" type="OutletStatistic">
        <result property="deliveryId" column="deliveryid"/>
        <result property="deliveryName" column="deliveryname"/>
        <result property="outletId" column="outletid"/>
        <result property="outletName" column="outletname"/>
        <result property="price" column="price"/>
        <result property="quantity" column="quantity"/>
        <result property="orderNum" column="ordernum"/>
    </resultMap>

    <!--根据分店统计商品销售情况，故写在分店实体中-->
    <select id="selectOutletStatistic" resultMap="outletStatisticResultMap" parameterType="java.util.Map">

     SELECT d.* ,o.name AS outletname  FROM
      (SELECT c.*, od.merchant_outlet_id AS outletid FROM
      (SELECT b.price, b.quantity, pd.id AS deliveryid ,pd.name AS deliveryname, b.ordernum    FROM fft_presell_delivery pd  LEFT JOIN
       (SELECT SUM(a.quantity) AS quantity, SUM(a.price) AS price,COUNT(a.quantity) AS ordernum, t.delivery_id FROM
        (SELECT de.trans_id,de.quantity,de.price FROM fft_trans_details de  )a
             LEFT JOIN fft_trans t  ON a.trans_id = t.id  WHERE
             t.state ='30' AND t.pay_state = '30' AND t.type=#{transType,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
             and t.id in ( select tst.trans_id from fft_trans_security_ticket tst where tst.is_consume ='1')
                GROUP BY t.delivery_id )b  ON b.delivery_id = pd.id WHERE pd.client_id =  #{clientId} AND pd.data_state = '30'  )c
                 LEFT JOIN fft_outlet_presell_delivery od ON c.deliveryId = od.presell_delivery_id )d
                 LEFT JOIN fft_merchant_outlet o ON d.outletid =o.id WHERE o.merchant_id = #{merchantId}
                 ORDER BY d.price DESC
            </select>


    <!--基本交易价格排行-->
    <select id="selectTransStatistic" resultMap="baseStatisticResultMap" parameterType="java.util.Map">
        SELECT SUM(de.price) AS total_price ,tr.member_code , MAX( de.create_time ) AS order_time FROM fft_trans_details de LEFT JOIN fft_trans tr ON de.trans_id = tr.id WHERE<![CDATA[
          de.create_time>=  #{beginTime}  AND de.create_time<= #{endTime}
       	]]>
        <if test="productId != null">
            AND de.product_id = #{productId}
        </if>
        <if test="transType != null">
            AND tr.type = #{transType,typeHandler=com.froad.fft.persistent.extend.EnumTypeHandler}
        </if>
        AND tr.client_id = #{clientId} AND tr.pay_state = '30' AND (tr.state='20' OR tr.state = '30') GROUP BY tr.member_code

        <if test="orderby != null and orderby==0 ">
            ORDER BY total_price DESC,order_time ASC
        </if>
        <if test="orderby != null and orderby==1">
            ORDER BY order_time ASC
        </if>
    </select>

</mapper>