/*
* Author:
* pengling@f-road.com.cn 
*/
/*后台主体框架*/
.middleBox {
	margin:-20px auto 0;
	overflow:hidden;
	float:left;
	background:#F9F9F9;min-height:400px
}
*+html .middleBox {
	margin:0
}
.middleBox h5 {
	color:#d6121e;
	font-family:"黑体";
	margin:10px 10px 10px 20px;text-align:center;font-size:14px;font-weight:bold
}
.middleBox .left dt{ border-top:1px dashed #999;text-align:center;color:#666;font-size:12px;line-height:40px}
.middleBox .current a {
	background:#d70c25;
	color:#fff;
	float:none;
	display:block;
	clear:both;
}

.middleBox .current1{margin-top:-4px}
.middleBox .current1 a {
	background:#dedede;
	float:none;
	display:block;
	clear:both;
}
.middleBox .current2{background:#eae9e9;color:#000;font-size:12px;line-height:30px;text-align:left;width:104px;padding-left:45px;font-weight:bold;display:block}
*+html .middleBox .current2{width:104px;line-height:39px;margin-top:-4px;}
.middleBox .current2 u {font-size:12px;}
.middleBox .current2 ul li{background:#fff;font-size:12px;text-align:center;width:104px;}
.mainfirst li a{margin-left:0px; text-indent:15px}
*+html .mainfirst li a{text-align:left}
.rightBox {
	width:850px;
	float:left;
	display:inline;
	background:#FFF;
	border-left:1px solid #E1E1E1;
	padding-bottom:15px;min-height:385px
}
.rightBox .psw {
	min-height:150px;padding-bottom:30px
}
.rightBox .psw dl {
	margin:4px 0 4px 0
}
.rightBox h2{color:#d6121e;margin:40px 0 0 22px;}
.rightBox .tit h2{margin:0;color:#000}
/*广告*/
.ad {
	width:1000px;
	height:73px;
	margin:1px auto;
}
/*left*/
.left {
	width:149px;
	float:left;
	margin-bottom:2px;
	position:relative;
}
.left .mainfirst .current2 li{float:left;}
.left .first {
	height:40px;
	padding-left:42px;
	line-height:40px;
	font-size:15px;
	font-weight:bold;
	padding-right:10px;
	border-bottom:1px dashed #ddd;display:block
}
.left .mainfirst li {
	width:150px;
	line-height:35px;
	white-space:nowrap;
	overflow:hidden;
	border-bottom:1px solid #EEE;
}
.left .mainfirst li a {
	padding-left:45px;
	font-size:12px;
	display:block;
}
.left .mainfirst li a:hover {
}
.left .mainfirst li.cardphone img {
	position:absolute;
	z-index:2;
	top:392px;
*top:428px;
	right:-17px;
}
.left li a {
	color:#333;
	text-decoration:none;
}
.left li a.cutA {
	color:#FFF;
}
.left li a:hover {
	color:999;
	text-decoration:none;
}
.left li u {
	text-decoration:none;
}
.left li u.admincut {
	font-weight:bold;
	background:#0080cb;
	display:block;
}
.left .visitedColor {
	color:#055CA0;
	font-weight:bold;
}
.left .second li a.innerColor {
	color:#055CA0;
	font-weight:bold;
}
.rightBox .tit{font-size:16px;padding:10px;font-weight:bold;float:left;width:100%; }
.rightBox .tit .miss{width:580px;text-align:left;font-size:12px;padding:8px;height:100%;margin-left:10px;border:1px solid #cf1339;background:#fff}
.rightBox .tit .miss a{float:right;margin:-3px -3px 0 0}
.rightBox .tit .miss dl{float:left;font-weight:normal;line-height:20px}
.rightBox .tit .miss u{color:#cf1339; text-decoration:none}
.rightBox  .stockphone{font-size:12px;color:#cf1339;margin-right:25px;float:right}
.rightBox .nopr {padding:60px 0 0 200px;border:1px solid #d1d0d6;width:639px;margin:0 0 0 5px;border-top:none;height:220px}

.rightBox input[type=button]{ cursor:pointer;border:1px #a4a4a4 solid;background:#ede5e6;line-height:24px;padding-right:5px; color:#900;width:115px}