<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cb_bank_role" >
  <resultMap id="BaseResultMap" type="com.froad.db.mysql.po.Role" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="CHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, client_id, role_name, status, is_delete, remark, tag, org_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cb_bank_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cb_bank_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.froad.db.mysql.po.Role" >
    insert into cb_bank_role (id, client_id, role_name, 
      status, is_delete, remark, tag, 
      org_code)
    values (#{id,jdbcType=BIGINT}, #{clientId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{isDelete,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, #{tag,jdbcType=CHAR}, 
      #{orgCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.froad.db.mysql.po.Role" >
    insert into cb_bank_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=CHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.froad.db.mysql.po.Role" >
    update cb_bank_role
    <set >
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=CHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.froad.db.mysql.po.Role" >
    update cb_bank_role
    set client_id = #{clientId,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      is_delete = #{isDelete,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=CHAR},
      org_code = #{orgCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>