<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.ClientMapper">

	<resultMap type="Client" id="clientResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
		<!-- baseEntity prop -->
		<result property="name" column="name"/>
        <result property="clientNo" column="client_no"/>
        <result property="shortLetter" column="short_letter"/>
        <result property="isEnabled" column="is_enabled"/>
        <result property="pointPartnerNo" column="point_partner_no"/>
    	<result property="openapiPartnerNo" column="openapi_partner_no"/>
    	<result property="orderDisplay" column="order_display"/>
    	<result property="returnUrl" column="return_url"/>
    	<result property="remark" column="remark"/>
    </resultMap>
    
    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_client
		(create_time,update_time,name,client_no,short_letter,is_enabled,point_partner_no,openapi_partner_no,order_display,return_url,remark)
		values
		(
			#{createTime},#{updateTime},#{name},#{clientNo},#{shortLetter},#{isEnabled},#{pointPartnerNo},#{openapiPartnerNo},#{orderDisplay},#{returnUrl},#{remark}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="clientResultMap">
		select * from cb_client
		<where>
			<if test="condition != null">
				<if test="condition.name != null">
					and name like CONCAT('%',#{condition.name},'%' )
				</if>
				<if test="condition.clientNo != null">
					and client_no = #{condition.clientNo}
				</if>
				<if test="condition.shortLetter != null">
					and short_letter = #{condition.shortLetter}
				</if>
				<if test="condition.isEnabled != null">
					and is_enabled = #{condition.isEnabled}
				</if>
				<if test="condition.pointPartnerNo != null">
					and point_partner_no = #{condition.pointPartnerNo}
				</if>
				<if test="condition.openapiPartnerNo != null">
					and openapi_partner_no = #{condition.openapiPartnerNo}
				</if>
				<if test="condition.orderDisplay != null">
					and order_display = #{condition.orderDisplay}
				</if>
				<if test="condition.remark != null">
					and remark like CONCAT('%',#{condition.remark},'%' )
				</if>
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="clientResultMap">
		select * from cb_client where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_client set update_time = #{updateTime}
		<if test="name != null">
			,name = #{name}
		</if>
		<if test="clientNo != null">
			,client_no = #{clientNo}
		</if>
		<if test="shortLetter != null">
			,short_letter = #{shortLetter}
		</if>
		<if test="isEnabled != null">
			,is_enabled = #{isEnabled}
		</if>
		<if test="pointPartnerNo != null">
			,point_partner_no = #{pointPartnerNo}
		</if>
		<if test="openapiPartnerNo != null">
			,openapi_partner_no = #{openapiPartnerNo}
		</if>
		<if test="orderDisplay != null">
			,order_display = #{orderDisplay}
		</if>
		<if test="returnUrl != null">
			,return_url = #{returnUrl}
		</if>
		<if test="remark != null">
			,remark = #{remark}
		</if>
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="clientResultMap">
		select * from cb_client
		<where>
			<if test="name != null">
				and name like CONCAT('%',#{name},'%' )
			</if>
			<if test="clientNo != null">
				and client_no = #{clientNo}
			</if>
			<if test="shortLetter != null">
				and short_letter = #{shortLetter}
			</if>
			<if test="isEnabled != null">
				and is_enabled = #{isEnabled}
			</if>
			<if test="pointPartnerNo != null">
				and point_partner_no = #{pointPartnerNo}
			</if>
			<if test="openapiPartnerNo != null">
				and openapi_partner_no = #{openapiPartnerNo}
			</if>
			<if test="orderDisplay != null">
				and order_display = #{orderDisplay}
			</if>
			<if test="remark != null">
				and remark like CONCAT('%',#{remark},'%' )
			</if>
		</where>
	</select>
    
</mapper>