<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MenuMapper">

	<resultMap type="Menu" id="menuResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="clientId" column="client_id"/>
		<!-- baseEntity prop -->
		<result property="icoUrl" column="ico_url"/>
		<result property="name" column="name"/>
		<result property="menuType" column="menu_type"
		typeHandler="com.froad.db.extend.EnumTypeHandler"/>
		<result property="menuClientType" column="menu_client_type"
		typeHandler="com.froad.db.extend.EnumTypeHandler"/>
		<result property="isEnabled" column="is_enabled"/>
		<result property="orderValue" column="order_value"/>
		<result property="parentId" column="parent_id"/>
		<result property="breakUrl" column="break_url"/>
    </resultMap>
    
    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_menu
		(create_time,
		 update_time,
		 client_id,
		 ico_url,
		 name,
		 menu_type,
		 menu_client_type,
		 is_enabled,
		 order_value,
		 parent_id,
		 break_url)
		values
		(
		 #{createTime},
		 #{updateTime},
		 #{clientId},
		 #{icoUrl},
		 #{name},
		 #{menuType,typeHandler=com.froad.db.extend.EnumTypeHandler},
		 #{menuClientType,typeHandler=com.froad.db.extend.EnumTypeHandler},
		 #{isEnabled},
		 #{orderValue},
		 #{parentId},
		 #{breakUrl}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="menuResultMap">
		select * from cb_menu
		<where>
			<if test="condition != null">
				<if test="condition.icoUrl != null">
					and ico_url like CONCAT('%',#{condition.icoUrl},'%' )
				</if>
				<if test="condition.name != null">
					and name like CONCAT('%',#{condition.name},'%' )
				</if>
				<if test="condition.menuType != null">
					and menu_type = #{condition.menuType,typeHandler=com.froad.db.extend.EnumTypeHandler}
				</if>
				<if test="condition.menuClientType != null">
					and menu_client_type = #{condition.menuClientType,typeHandler=com.froad.db.extend.EnumTypeHandler}
				</if>
				<if test="condition.isEnabled != null">
					and is_enabled = #{condition.isEnabled}
				</if>
				<if test="condition.parentId != null">
					and parent_id = #{condition.parentId}
				</if>
				<if test="condition.breakUrl != null">
					and break_url like CONCAT('%',#{condition.breakUrl},'%' )
				</if>
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="menuResultMap">
		select * from cb_menu where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_menu set update_time = #{updateTime}
		
		<if test="icoUrl != null">
			, ico_url = #{icoUrl}
		</if>
		<if test="name != null">
			, name = #{name}
		</if>
		<if test="menuType != null">
			, menu_type = #{menuType,typeHandler=com.froad.db.extend.EnumTypeHandler}
		</if>
		<if test="menuClientType != null">
			, menu_client_type = #{menuClientType,typeHandler=com.froad.db.extend.EnumTypeHandler}
		</if>
		<if test="isEnabled != null">
			, is_enabled = #{isEnabled}
		</if>
		<if test="orderValue != null">
			, order_value = #{orderValue}
		</if>
		<if test="parentId != null">
			, parent_id = #{parentId}
		</if>
		<if test="breakUrl != null">
			, break_url = #{breakUrl}
		</if>
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="menuResultMap">
		select * from cb_menu
		<where>
			<if test="icoUrl != null">
				and ico_url like CONCAT('%',#{icoUrl},'%' )
			</if>
			<if test="name != null">
				and name like CONCAT('%',#{name},'%' )
			</if>
			<if test="menuType != null">
				and menu_type = #{menuType,typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="menuClientType != null">
				and menu_client_type = #{menuClientType,typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="isEnabled != null">
				and is_enabled = #{isEnabled}
			</if>
			<if test="parentId != null">
				and parent_id = #{parentId}
			</if>
			<if test="breakUrl != null">
				and break_url like CONCAT('%',#{breakUrl},'%' )
			</if>
		</where>
	</select>
    
</mapper>