<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MerchantRoleResourceMapper">

    <resultMap type="MerchantRoleResource" id="MerchantRoleResourceResultMap">
        <result property="merchantRoleId" column="merchant_role_id"/>
        <result property="merchantResourceId" column="merchant_resource_id"/>
    </resultMap>


    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_merchant_role_resource
		(merchant_role_id,merchant_resource_id)
		values
		(
			#{merchantRoleId},#{merchantResourceId}
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="java.lang.Long" >
		delete from cb_merchant_role_resource where merchant_role_id = #{merchantRoleId} and merchant_resource_id =#{merchantResourceId}
	</delete>
	
</mapper>