<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MerchantOutletFavoriteMapper">

    <resultMap type="MerchantOutletFavorite" id="merchantOutletFavoriteResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
		<result property="clientId" column="client_id"/>
		<!-- baseEntity prop -->
		<result property="merchantId" column="merchant_id"/>
		<result property="merchantOutletId" column="merchant_outlet_id"/>
		<result property="merchantOutletName" column="merchant_outlet_name"/>
		<result property="memberCode" column="member_code"/>
		<result property="memberName" column="member_name"/>
		<result property="memberMobile" column="member_mobile"/>
		<result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_merchant_outlet_favorite
		(create_time, update_time, client_id, merchant_id, merchant_outlet_id, merchant_outlet_name, member_code, member_name, member_mobile, is_delete)
		values
		(
		  #{createTime}, #{updateTime}, #{clientId}, #{merchantId}, #{merchantOutletId}, #{merchantOutletName}, #{memberCode}, #{memberName}, #{memberMobile}, #{isDelete}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="merchantOutletFavoriteResultMap">
		select * from cb_merchant_outlet_favorite
		<where>
			<if test="condition != null">
				<if test="condition.clientId != null">
					and client_id = #{condition.clientId}
				</if>
				<if test="condition.merchantId != null">
					and merchant_Id = #{condition.merchantId}
				</if>
				<if test="condition.merchantOutletId != null">
					and merchant_outlet_id = #{condition.merchantOutletId}
				</if>
				<if test="condition.merchantOutletName != null">
					and merchant_outlet_name like  CONCAT('%',#{condition.merchantOutletName},'%' )
				</if>
				<if test="condition.memberCode != null">
					and member_code =  #{condition.memberCode}
				</if>
				<if test="condition.memberName != null">
					and member_name like  CONCAT('%',#{condition.memberName},'%' )
				</if>
				<if test="condition.memberMobile != null">
					and member_mobile like  CONCAT('%',#{condition.memberMobile},'%' )
				</if>
				<if test="condition.isDelete != null">
					and is_delete = #{condition.isDelete}
				</if>
			</if>
		</where>
		order by create_time desc
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="merchantOutletFavoriteResultMap">
		select * from cb_merchant_outlet_favorite where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_merchant_outlet_favorite 
		<set >
	      <if test="updateTime != null" >
	        update_time = #{updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="merchantId != null" >
	        merchant_id = #{merchantId,jdbcType=BIGINT},
	      </if>
	      <if test="merchantOutletId != null" >
	        merchant_outlet_id = #{merchantOutletId,jdbcType=BIGINT},
	      </if>
	      <if test="merchantOutletName != null" >
	        merchant_outlet_name = #{merchantOutletName},
	      </if>
	      <if test="memberCode != null" >
	        member_code = #{memberCode},
	      </if>
	      <if test="memberName != null" >
	        member_name = #{memberName},
	      </if>
	      <if test="memberMobile != null" >
	        member_mobile = #{memberMobile},
	      </if>
	      <if test="isDelete != null" >
	        is_delete = #{isDelete},
	      </if>
    	</set>
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="merchantOutletFavoriteResultMap">
		select * from cb_merchant_outlet_favorite where is_delete = false;
	</select>
	
</mapper>