<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MerchantTypeMapper">

    <resultMap type="MerchantType" id="merchantTypeResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
		<!-- baseEntity prop -->
		<result property="typeName" column="type_Name"/>
        <result property="isEnabled" column="is_Enabled"/>
        <result property="isFroadType" column="is_Froad_Type"/>
        <result property="isSysType" column="is_Sys_Type"/>
        <result property="code" column="code"/>
    </resultMap>


    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_merchant_type
		(create_time,update_time,type_Name,is_Enabled,is_Froad_Type,is_Sys_Type,code)
		values
		(
			#{createTime},#{updateTime},#{typeName},#{isEnabled},#{isFroadType},#{isSysType},#{code}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="merchantTypeResultMap">
		select * from cb_merchant_type
		<where>
			<if test="condition != null">
				<if test="condition.typeName != null">
					and type_Name like CONCAT('%',#{condition.typeName},'%' )
				</if>
				<if test="condition.isEnabled != null">
					and is_Enabled = #{condition.isEnabled}
				</if>
				<if test="condition.code != null">
					and code = #{condition.code}
				</if>
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="merchantTypeResultMap">
		select * from cb_merchant_type where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_merchant_type set update_time = #{updateTime}
		<if test="typeName != null">
			,type_Name = #{typeName}
		</if>
		<if test="isEnabled != null">
			,is_Enabled = #{isEnabled}
		</if>
		<if test="isFroadType != null">
			,is_Froad_Type = #{isFroadType}
		</if>
		<if test="isSysType != null">
			,is_Sys_Type = #{isSysType}
		</if>
		<if test="code != null">
			,code = #{code}
		</if>
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="merchantTypeResultMap">
		select * from cb_merchant_type
		<where>
			<if test="typeName != null">
				and type_Name like CONCAT('%',#{typeName},'%' )
			</if>
			<if test="isEnabled != null">
				and is_Enabled = #{isEnabled}
			</if>
			<if test="isFroadType != null">
				and is_froad_type = #{isFroadType}
			</if>
			<if test="isSysType != null">
				and is_sys_type = #{isSysType}
			</if>
			<if test="code != null">
				and code = #{code}
			</if>
		</where>
	</select>
	
	<!-- 根据 clientId 查询相关联的类型信息 -->
	<select id="selectMerchantTypeByClientId" parameterType="java.lang.Long" resultMap="merchantTypeResultMap">
select *
from cb_merchant_type mt
where mt.id in (select mtr.merchant_type_id
	from cb_merchant_type_relation mtr
	where mtr.merchant_id in (select m.id
		from cb_merchant m
		where m.client_id = #{clientId}))
	</select>
	
	<!-- 按商户ID查询商户分类 -->
	<select id="selectByMerchantId" parameterType="java.lang.Long" resultMap="merchantTypeResultMap">
		select mt.* from cb_merchant_type mt where exists(select 'z' from cb_merchant_type_relation mtr where mtr.merchant_id = #{id} and mtr.merchant_type_id = mt.id)
	</select>

</mapper>