<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MerchantGroupUserMapper">

	<resultMap type="MerchantGroupUser" id="merchantGroupUserResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
		<!-- baseEntity prop -->
		<result property="merchantId" column="merchant_id" />
		<result property="merchantOutletId" column="merchant_outlet_id" />
		<result property="merchantUserId" column="merchant_user_id" />
    </resultMap>
    
    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_merchant_group_user
		(
		 create_time,
		 update_time,
		 merchant_id,
		 merchant_outlet_id,
		 merchant_user_id
		)
		values
		(
		 #{createTime},
		 #{updateTime},
		 #{merchantId},
		 #{merchantOutletId},
		 #{merchantUserId}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="merchantGroupUserResultMap">
		select * from cb_merchant_group_user
		<where>
			<if test="condition != null">
				<if test="condition.merchantId != null">
					and merchant_id = #{condition.merchantId}
				</if>
				<if test="condition.merchantOutletId != null">
					and merchant_outlet_id = #{condition.merchantOutletId}
				</if>
				<if test="condition.merchantUserId != null">
					and merchant_user_id = #{condition.merchantUserId}
				</if>
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="merchantGroupUserResultMap">
		select * from cb_merchant_group_user where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_merchant_group_user set update_time = #{updateTime}
		
		<if test="merchantId != null">
			, merchant_id = #{merchantId}
		</if>
		<if test="merchantOutletId != null">
			, merchant_outlet_id = #{merchantOutletId}
		</if>
		<if test="merchantUserId != null">
			, merchant_user_id = #{merchantUserId}
		</if>
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="merchantGroupUserResultMap">
		select * from cb_merchant_group_user
		<where>
			<if test="merchantId != null">
				and merchant_id = #{merchantId}
			</if>
			<if test="merchantOutletId != null">
				and merchant_outlet_id = #{merchantOutletId}
			</if>
			<if test="merchantUserId != null">
				and merchant_user_id = #{merchantUserId}
			</if>
		</where>
	</select>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.lang.Long" >
		delete from cb_merchant_group_user where id = #{id}
	</delete>
    
    <!-- 通过MerchantUserId查询 -->
	<select id="selectByMerchantUserId" parameterType="java.lang.Long" resultMap="merchantGroupUserResultMap">
		select * from cb_merchant_group_user where merchant_user_id = #{merchantUserId}
	</select>
    
</mapper>