<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MerchantResourceMapper">

    <resultMap type="MerchantResource" id="merchantResourceResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="clientId" column="client_id"/>
		<!-- baseEntity prop -->
		<result property="name" column="name"/>		
                                        
 		<result property="icon"  column="icon"/>		
                                        
		<result property="code" column="code"/>		
		                                        
		<result property="url" column="url"/>		
		                                        
		<result property="type" column="type" typeHandler="com.froad.db.extend.EnumTypeHandler"/>		
		                                        
		<result property="parentId" column="parent_id"/>		
		                                        
		<result property="treePath" column="tree_path"/>	  
		                                        
		<result property="isEnabled" column="is_enabled"/>  
		                                        
		<result property="isSystem" column="is_system"/>	  
		                                        
		<result property="orderValue" column="order_value"/>	
		                                        
		<result property="description" column="description"/>
		
    </resultMap>


    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_merchant_resource
		(create_time,update_time,client_id,name,icon,code,url,type,parent_id,tree_path,is_Enabled,is_system ,order_value ,description)
		values
		(
			#{createTime},#{updateTime},#{clientId},#{name},#{icon},#{code},#{url},#{type,typeHandler=com.froad.db.extend.EnumTypeHandler},#{parentId},#{treePath},#{isEnabled},#{isSystem},#{orderValue},#{description}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="merchantResourceResultMap">
		select * from cb_merchant_resource
		<where>
			<if test="condition != null">
				<if test="condition.clientId != null and condition.clientId !=''">
					and client_id = #{condition.clientId}
				</if>
				<if test="condition.name != null and condition.name !=''">
					and name = #{condition.name}
				</if>
				<if test="condition.icon != null and condition.icon !=''">
					and icon = #{condition.icon}
				</if>
				<if test="condition.code != null and condition.code !=''">
					and code = #{condition.code}
				</if>
				<if test="condition.url != null and condition.url !=''">
					and url = #{condition.url}
				</if>
				<if test="condition.type != null and condition.type !=''">
					and type = #{condition.type,typeHandler=com.froad.db.extend.EnumTypeHandler}
				</if>
				<if test="condition.parentId != null and condition.parentId !=''">
					and parent_id = #{condition.parentId}
				</if>
				<if test="condition.isEnabled != null">
					and is_Enabled = #{condition.isEnabled}
				</if>
				<if test="condition.isSystem != null">
					and is_system = #{condition.isSystem}
				</if>
				<if test="condition.orderValue != null and condition.orderValue !=''">
					and order_value = #{condition.orderValue}
				</if>
				<if test="condition.description != null and condition.description !=''">
					and description like CONCAT('%',#{condition.description},'%' )
				</if>
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="merchantResourceResultMap">
		select * from cb_merchant_resource where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_merchant_resource set update_time = #{updateTime}
		<if test="name != null and name !=''">
			,name = #{name}
		</if>
		<if test="icon != null and icon !=''">
			,icon = #{icon}
		</if>
		<if test="code != null and code !=''">
			,code = #{code}
		</if>
		<if test="url != null and url !=''">
			,url = #{url}
		</if>
		<if test="type != null and type !=''">
			,type = #{type,typeHandler=com.froad.db.extend.EnumTypeHandler}
		</if>
		<if test="parentId != null and parentId !=''">
			,parent_id = #{parentId}
		</if>
		<if test="isEnabled != null">
			,is_Enabled = #{isEnabled}
		</if>
		<if test="isSystem != null">
			,is_system = #{isSystem}
		</if>
		<if test="orderValue != null and orderValue !=''">
			,order_value = #{orderValue}
		</if>
		<if test="description != null and description !=''">
			,description = #{description}
		</if>
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="merchantResourceResultMap">
		select * from cb_merchant_resource
		<where>
				<if test="clientId != null and clientId !=''">
					and client_id = #{clientId}
				</if>
				<if test="name != null and name !=''">
					and name = #{name}
				</if>
				<if test="icon != null and icon !=''">
					and icon = #{icon}
				</if>
				<if test="code != null and code !=''">
					and code = #{code}
				</if>
				<if test="url != null and url !=''">
					and url = #{url}
				</if>
				<if test="type != null and type !=''">
					and type = #{type,typeHandler=com.froad.db.extend.EnumTypeHandler}
				</if>
				<if test="parentId != null and parentId !=''">
					and parent_id = #{parentId}
				</if>
				<if test="isEnabled != null">
					and is_Enabled = #{isEnabled}
				</if>
				<if test="isSystem != null">
					and is_system = #{isSystem}
				</if>
				<if test="orderValue != null and orderValue !=''">
					and order_value = #{orderValue}
				</if>
				<if test="description != null and description !=''">
					and description like CONCAT('%',#{description},'%' )
				</if>
		</where>
	</select>
	 
	 <select id="selectByRoleId" resultMap="merchantResourceResultMap">
		select mr.* 
		from cb_merchant_resource mr 
		where
		exists(select 'z' from cb_merchant_role_resource mrr where mrr.merchant_resource_id = mr.id and mrr.merchant_role_id=#{roleId})
		<if test="clientId != null">
		and mr.client_id=#{clientId} 
		</if>  
	 </select>

	<!-- 查询顶菜单数据 -->
	<select id="selectByRoot" resultMap="merchantResourceResultMap">
		select * from cb_merchant_resource where client_id = #{clientId} and parent_id is null order by order_value;
	</select>
	
	<!-- 根据用户id查询资源 -->
	<select id="selectByMerchantUserId" resultMap="merchantResourceResultMap">
		select * from cb_merchant_resource t1 
			INNER JOIN cb_merchant_role_resource t2 on t1.id = t2.merchant_resource_id
			INNER JOIN cb_merchant_user_role t3 on t2.merchant_role_id = t3.merchant_role_id 
			where t1.client_id = #{clientId}
			<if test="merchantUserId != null and merchantUserId !=''">
				and t3.merchant_user_id = #{merchantUserId}
			</if>
	</select>
</mapper>