<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MerchantOutletBankMapper">

    <resultMap type="MerchantOutletBank" id="merchantOutletBankResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
		<result property="clientId" column="client_id"/>
		<!-- baseEntity prop -->
		<result column="merchant_id" property="merchantId" jdbcType="BIGINT" />
	    <result column="merchant_outlet_id" property="merchantOutletId" jdbcType="BIGINT" />
	    <result column="mo_type" property="moType" typeHandler="com.froad.db.extend.EnumTypeHandler" />
	    <result column="bank_org" property="bankOrg" jdbcType="VARCHAR" />
	    <result column="parent_bank_org" property="parentBankOrg" jdbcType="VARCHAR" />
	    <result column="org_type" property="orgType" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
	    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    </resultMap>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="merchantOutletBankResultMap">
		select * from cb_merchant_outlet_bank where id = #{id}
	</select>
	
	<!-- 查询 -->
	<select id="selectPresellOutlet" resultMap="merchantOutletBankResultMap">
		SELECT merchant_outlet_id,bank_org,org_name FROM cb_merchant_outlet_bank WHERE merchant_outlet_id IN (SELECT merchant_outlet_id FROM cb_order WHERE TYPE='02' )
	</select>
	
	<select id="selectByCondition" resultMap="merchantOutletBankResultMap">
		select * from cb_merchant_outlet_bank
		<where>
			<if test="clientId != null">
				and client_id = #{clientId}
			</if>
			<if test="moType != null">
				and mo_Type = #{moType,typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="bankOrg != null">
				and bank_Org = #{bankOrg}
			</if>
			<if test="parentBankOrg != null">
				and parent_Bank_Org = #{parentBankOrg}
			</if>
			<if test="orgName != null">
				and org_Name like CONCAT('%',#{orgName},'%' )
			</if>
			<if test="merchantId != null">
				and merchant_Id = #{merchantId}
			</if>
			<if test="orgType != null">
				and org_Type = #{orgType,typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="merchantOutletId != null">
				and merchant_Outlet_Id = #{merchantOutletId}
			</if>
		</where>
	</select>
	
	<!-- 获取顶层数据 -->
	<select id="selectByRoot" resultMap="merchantOutletBankResultMap">
		select * from cb_merchant_outlet_bank
		<where>
			<if test="clientId != null">
			and client_id = #{clientId} 
			</if>
			and (parent_Bank_Org is null or parent_Bank_Org= '')
		</where>
	</select>
	
	<!-- 按银行机构查询商户门店机构信息 -->
	<select id="selectByBankOrg" resultMap="merchantOutletBankResultMap">
		select * from cb_merchant_outlet_bank where  client_id = #{clientId} and  bank_org = #{bankOrg}
	</select>

	<!-- 按银行机构查询商户门店机构信息 -->
	<select id="selectByMerchantOutletId" resultMap="merchantOutletBankResultMap">
		select * from cb_merchant_outlet_bank where  client_id = #{clientId} and  merchant_outlet_id = #{merchantOutletId}
	</select>
	
	<select id="findMerchantOutletBankByMerchantId" parameterType="java.lang.Long" resultType="java.lang.Integer">
		select count(1) from cb_merchant_outlet_bank where  merchant_id = #{merchantId}
	</select>
	<select id="findMerchantOutletBankByProductId" parameterType="java.lang.Long" resultMap="merchantOutletBankResultMap">
select cm.bank_org,cm.merchant_outlet_id,cm.parent_bank_org from cb_merchant_outlet_bank  cm LEFT JOIN cb_product_merchant_outlet cb on cm.merchant_outlet_id=cb.merchant_outlet_id 
where product_id=#{id}
	</select>
</mapper>