<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MerchantCategoryMapper">

    <resultMap type="MerchantCategory" id="merchantCategoryResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="clientId" column="client_id"/>
		<!-- baseEntity prop -->
		<result property="name" column="name"/>		
		<result property="orderValue" column="order_value"/>	
		<result property="treePath" column="tree_path"/>
		<result property="parentId" column="parent_id"/>
		<result property="icoUrl" column="ico_url"/>
		<result property="isEnabled" column="is_enabled"/>
    </resultMap>


    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_merchant_category
		(create_time,update_time,client_id,name,order_value,tree_path,parent_id,ico_url,is_enabled  )
		values
		(
			#{createTime},#{updateTime},#{clientId},#{name},#{orderValue},#{treePath},#{parentId},#{icoUrl},#{isEnabled}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="merchantCategoryResultMap">
		select * from cb_merchant_category
		<where>
			<if test="condition != null">
				<if test="condition.clientId != null and condition.clientId !=''">
					and client_id = #{condition.clientId}
				</if>
				<if test="condition.name != null and condition.name !=''">
					and name = #{condition.name}
				</if>
				<if test="condition.orderValue != null and condition.orderValue !=''">
					and order_value = #{condition.orderValue}
				</if>
				<if test="condition.treePath != null and condition.treePath !=''">
					and tree_path = #{condition.treePath}
				</if>
				<if test="condition.parentId != null and condition.parentId !=''">
					and parent_id = #{condition.parentId}
				</if>
				<if test="condition.icoUrl != null and condition.icoUrl !=''">
					and ico_url = #{condition.icoUrl}
				</if>
				<if test="condition.isEnabled != null">
					and is_Enabled = #{condition.isEnabled}
				</if>
				
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="merchantCategoryResultMap">
		select * from cb_merchant_category where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_merchant_category set update_time = #{updateTime}
		<if test="name != null and name !=''">
			,name = #{name}
		</if>
		<if test="orderValue != null and orderValue !=''">
			,order_value = #{orderValue}
		</if>
		<if test="treePath != null and treePath !=''">
			,tree_path = #{treePath}
		</if>
		<if test="parentId != null and parentId !=''">
			,parent_id = #{parentId}
		</if>
		<if test="icoUrl != null and icoUrl !=''">
			,ico_url = #{icoUrl}
		</if>
		<if test="isEnabled != null">
			,is_Enabled = #{isEnabled}
		</if>
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="merchantCategoryResultMap">
		select * from cb_merchant_category
		<where>
				<if test="clientId != null and clientId !=''">
					and client_id = #{clientId}
				</if>
				<if test="name != null and name !=''">
					and name = #{name}
				</if> 
				<if test="orderValue != null and orderValue !=''">
					and order_value = #{orderValue}
				</if>
				<if test="treePath != null and treePath !=''">
					and tree_path = #{treePath}
				</if>
				<if test="parentId != null and parentId !=''">
					and parent_id = #{parentId}
				</if>
				<if test="icoUrl != null and icoUrl !=''">
					and ico_url = #{icoUrl}
				</if>
				<if test="isEnabled != null">
					and is_Enabled = #{isEnabled}
				</if> 
		</where>
	</select>
	
	 <!-- 查询顶层区域数据 -->
	<select id="selectByRoot" resultMap="merchantCategoryResultMap">
		select * from cb_merchant_category where 
		<if test="clientId != null">
		client_id = #{clientId} and
		</if>
		parent_id is null order by order_value;
	</select>

</mapper>