<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MerchantOutletPhotoMapper">

    <resultMap type="MerchantOutletPhoto" id="merchantOutletPhotoResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
		<result property="clientId" column="client_id"/>
		<!-- baseEntity prop -->
		<result column="title" property="title"/>
	    <result column="source" property="source"/>
	    <result column="large" property="large"/>
	    <result column="medium" property="medium"/>
	    <result column="thumbnail" property="thumbnail"/>
	    <result column="order_value" property="orderValue"/>
	    <result column="merchant_id" property="merchantId"/>
	    <result column="merchant_outlet_id" property="merchantOutletId"/>
    </resultMap>

    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_merchant_outlet_photo
		(create_time, update_time, client_id, title, source, large, medium, thumbnail, order_value, merchant_id, merchant_outlet_id)
		values
		(
			#{createTime}, #{updateTime}, #{clientId}, #{title}, #{source}, #{large}, #{medium}, #{thumbnail}, #{orderValue}, #{merchantId}, #{merchantOutletId}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="merchantOutletPhotoResultMap">
		select * from cb_merchant_outlet_photo
		<where>
			<if test="condition != null">
				<if test="condition.title != null">
					and title like CONCAT('%',#{condition.title},'%' )
				</if>
				<if test="condition.merchantId != null">
					and merchant_id = #{condition.merchantId}
				</if>
				<if test="condition.merchantOutletId != null">
					and merchant_outlet_id = #{condition.merchantOutletId}
				</if>
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="merchantOutletPhotoResultMap">
		select * from cb_merchant_outlet_photo where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_merchant_outlet_photo 
		<set >
	      <if test="updateTime != null" >
	        update_time = #{updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="title != null" >
	        title = #{title,jdbcType=VARCHAR},
	      </if>
	      <if test="source != null" >
	        source = #{source,jdbcType=VARCHAR},
	      </if>
	      <if test="large != null" >
	        large = #{large,jdbcType=VARCHAR},
	      </if>
	      <if test="medium != null" >
	        medium = #{medium,jdbcType=VARCHAR},
	      </if>
	      <if test="thumbnail != null" >
	        thumbnail = #{thumbnail,jdbcType=VARCHAR},
	      </if>
	      <if test="orderValue != null" >
	        order_value = #{orderValue,jdbcType=INTEGER},
	      </if>
	      <if test="merchantId != null" >
	        merchant_id = #{merchantId,jdbcType=BIGINT},
	      </if>
	      <if test="merchantOutletId != null" >
	        merchant_outlet_id = #{merchantOutletId,jdbcType=BIGINT},
	      </if>
	    </set>
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="merchantOutletPhotoResultMap">
		select * from cb_merchant_outlet_photo
		<where>
			<if test="title != null">
					and title like CONCAT('%',#{title},'%' )
			</if>
			<if test="merchantId != null">
				and merchant_id = #{merchantId}
			</if>
			<if test="merchantOutletId != null">
				and merchant_outlet_id = #{merchantOutletId}
			</if>
		</where>
	</select>
	
	
	<select id="selectByGroup" resultMap="merchantOutletPhotoResultMap">
			select merchant_outlet_id,merchant_id from cb_merchant_outlet_photo GROUP BY merchant_outlet_id,merchant_id
	</select>
	
	<select id="selectMerchantOutlePhotoByOutletId" resultMap="merchantOutletPhotoResultMap">
		select * from cb_merchant_outlet_photo where merchant_outlet_id =#{id}
	</select>
	
	<delete id="deleteMerchantOutletPhotoById" parameterType="java.lang.Long">
		delete from cb_merchant_outlet_photo where id = #{id}
	</delete>
	
	<delete id="deleteMerchantOutletPhotoByMerchantOutletId" parameterType="java.lang.Long">
		delete from cb_merchant_outlet_photo where merchant_outlet_id = #{merchantOutletId}
	</delete>
	
	 <select id="selectMerchantPhotoAll"  resultMap="merchantOutletPhotoResultMap">
    	select * from cb_merchant_outlet_photo order by merchant_outlet_id,order_value
    </select>

</mapper>