<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MerchantAccountMapper">

    <resultMap type="MerchantAccount" id="merchantAccountResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="clientId" column="client_id"/>
		<!-- baseEntity prop -->
		<result property="merchantId" column="merchant_id"/>
        <result property="acctName" column="acct_name"/>
        <result property="acctNumber" column="acct_number"/>
        <result property="acctType" column="acct_type" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="openingBank" column="opening_bank"/>
        <result property="isEnabled" column="is_enabled"/>
        
        <collection property="merchant" column="merchant_id"  ofType="Merchant"
    		select="com.froad.db.chongqing.mappers.MerchantMapper.selectById">
    	</collection>
    </resultMap>


    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" parameterType="MerchantAccount"  useGeneratedKeys="true" keyProperty="id">
		insert into cb_merchant_accout
		(create_time,update_time,client_id,merchant_id,acct_name,acct_number,acct_type,opening_bank,is_enabled)
		values
		(
			#{createTime},#{updateTime},#{clientId},#{merchantId},#{acctName},#{acctNumber},#{acctType,typeHandler=com.froad.db.extend.EnumTypeHandler},#{openingBank},#{isEnabled}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="merchantAccountResultMap">
		select * from cb_merchant_accout
		<where>
			<if test="condition != null">
				<if test="condition.merchantId != null">
					and merchant_id =#{condition.merchantId}
				</if>
				<if test="condition.clientId != null">
					and client_id = #{condition.clientId}
				</if>
				<if test="condition.acctName != null">
					and acct_name = #{condition.acctName}
				</if>
				<if test="condition.acctNumber != null">
					and acct_number = #{condition.acctNumber}
				</if>
				<if test="condition.acctType != null">
					and acct_type = #{condition.acctType,typeHandler=com.froad.db.extend.EnumTypeHandler}
				</if>
				<if test="condition.openingBank != null">
					and opening_bank like CONCAT('%', #{condition.openingBank},'%' )
				</if>
				<if test="condition.isEnabled != null">
					and is_Enabled = #{condition.isEnabled}
				</if>
				<if test="condition.merchant != null">
					<if test="condition.merchant.name != null">
					and merchant_id in (select id from cb_merchant where `name` like CONCAT('%',#{condition.merchant.name},'%' ))
					</if>
				</if>
			</if>
		</where>
		 <if test="orderByColumn !=null">
		 	order by ${orderByColumn} 
			<if test="orderByType !=null">
				${orderByType}
			</if>
		 </if>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="merchantAccountResultMap">
		select * from cb_merchant_accout where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_merchant_accout set update_time = #{updateTime}
		<if test="acctName != null">
			,acct_name = #{acctName}
		</if>
		<if test="acctNumber != null">
			,acct_number = #{acctNumber}
		</if>
		<if test="acctType != null">
			,acct_type = #{acctType,typeHandler=com.froad.db.extend.EnumTypeHandler}
		</if>
		<if test="openingBank != null">
			,opening_bank = #{openingBank}
		</if>
		<if test="isEnabled != null">
			,is_Enabled = #{isEnabled}
		</if>
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="merchantAccountResultMap">
		select * from cb_merchant_accout
		<where>
			<if test="merchantId != null">
				and merchant_id =#{merchantId}
			</if>
			<if test="clientId != null">
				and client_id = #{clientId}
			</if>
			<if test="acctName != null">
				and acct_name = #{acctName}
			</if>
			 
			<if test="acctType != null">
				and acct_type = #{acctType,typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="openingBank != null">
				and opening_bank like CONCAT('%', #{openingBank},'%' )
			</if>
			<if test="isEnabled != null">
				and is_Enabled = #{isEnabled}
			</if>
			<if test="merchant != null">
				<if test="merchant.name != null">
				and merchant_id in (select id from cb_merchant where `name` like CONCAT('%',#{merchant.name},'%' ))
				</if>
			</if>
			 
		</where>
	</select>
	
	<!-- 按商户ID查询商户分类 -->
	<select id="selectByMerchantId" parameterType="java.lang.Long" resultMap="merchantAccountResultMap">
		select mt.* from cb_merchant_accout mt where   merchant_id =#{merchantId}
	</select>
	
	<!-- 按商户ID查询商户分类 -->
	<select id="selectFroadAccount" parameterType="java.lang.Long" resultMap="merchantAccountResultMap">
		SELECT act.* from cb_merchant_accout act 
          LEFT JOIN cb_merchant_type_relation ra on act.merchant_id = ra.merchant_id 
          LEFT JOIN cb_merchant_type ty on ty.id = ra.merchant_type_id 
          where  ty.is_enabled=1 and ty.is_froad_type=1 and act.client_id=#{clientId}
	</select>
	
	

</mapper>