<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MerchantRoleMapper">

    <resultMap type="MerchantRole" id="merchantRoleResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="clientId" column="client_id"/>
		<!-- baseEntity prop -->
		<result property="name" column="name"/>
        <result property="value" column="value"/>
        <result property="isSystem" column="is_system"/>
        <result property="description" column="description" />
      
    </resultMap>


    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" parameterType="MerchantRole"  useGeneratedKeys="true" keyProperty="id">
		insert into cb_merchant_role
		(create_time,update_time,client_id,name,value,is_system,description)
		values
		(
			#{createTime},#{updateTime},#{clientId},#{name},#{value},#{isSystem},#{description}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="merchantRoleResultMap">
		select * from cb_merchant_role
		<where>
			<if test="condition != null">
				<if test="condition.name != null  and condition.name !=''">
					and name =#{condition.name}
				</if>
				<if test="condition.clientId != null  and condition.clientId !=''">
					and client_id = #{condition.clientId}
				</if>
				<if test="condition.value != null  and condition.value !=''">
					and value = #{condition.value}
				</if>
				<if test="condition.isSystem != null">
					and is_system = #{condition.isSystem}
				</if>
				<if test="condition.description != null  and condition.description !=''">
					and description like CONCAT('%',#{condition.description},'%' )
				</if> 
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="merchantRoleResultMap">
		select * from cb_merchant_role where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_merchant_role set update_time = #{updateTime}
		<if test="name != null and name !=''">
			,name = #{name}
		</if>
		<if test="value != null and value !=''">
			,value = #{value}
		</if>
		<if test="isSystem != null">
			,is_system = #{isSystem}
		</if>
		<if test="description != null and description !=''">
			,description = #{description}
		</if>
		 
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="merchantRoleResultMap">
		select * from cb_merchant_role
		<where>
			<if test="clientId != null and clientId !=''">
				and client_id = #{clientId}
			</if>
			<if test="name != null and name !=''">
				and  name = #{name}
			</if>
			<if test="value != null and value !=''">
				and value = #{value}
			</if>
			<if test="isSystem != null">
				and is_system = #{isSystem}
			</if>
			<if test="description != null and description !=''">
				and description like CONCAT('%',#{condition.description},'%' )
			</if>
			 
			 
		</where>
	</select>
	<!-- 商户用户ID查询商户用户所属角色-->
	<select id="selectByMerchantUserId" parameterType="java.lang.Long" resultMap="merchantRoleResultMap">
		select mt.* from cb_merchant_role mt where exists(select 'z' from cb_merchant_user_role mtr where mtr.merchant_user_id = #{merchantUserId} and mtr.merchant_role_id = mt.id)
	</select>

</mapper>