<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MerchantUserRoleMapper">

    <resultMap type="MerchantUserRole" id="MerchantUserRoleResultMap">
        <result property="merchantUserId" column="merchant_user_id"/>
        <result property="merchantRoleId" column="merchant_role_id"/>
    </resultMap>


    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_merchant_user_role
		(merchant_user_id,merchant_role_id)
		values
		(
			#{merchantUserId},#{merchantRoleId}
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="java.lang.Long" >
		delete from cb_merchant_user_role where merchant_user_id = #{merchantUserId} 
		<if test="merchantRoleId != null">
			and merchant_role_id =#{merchantRoleId}
		</if>
	</delete>
	
	<select id="findMerchantUserRoleAll" resultMap="MerchantUserRoleResultMap" >
		select * from cb_merchant_user_role
	</select>
	
</mapper>