<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.MobileClientMapper">

	<resultMap type="MobileClient" id="mobileClientResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
		<!-- baseEntity prop -->
		<result property="name" column="name"/>
		<result property="number" column="number"/>
		<result property="appKey" column="appkey"/>
		<result property="appSecret" column="appsecret"/>
		<result property="isEnabled" column="is_enabled"/>
		<result property="bankOrgNo" column="bank_org_no"/>
    </resultMap>
    
    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_mobile_client
		(create_time,update_time,name,number,appkey,appsecret,is_enabled,bank_org_no)
		values
		(
			#{createTime},#{updateTime},#{name},#{number},#{appKey},#{appSecret},#{isEnabled},#{bankOrgNo}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="mobileClientResultMap">
		select * from cb_mobile_client
		<where>
			<if test="condition != null">
				<if test="condition.name != null">
					and name = #{condition.name}
				</if>
				<if test="condition.number != null">
					and number = #{condition.number}
				</if>
				<if test="condition.appKey != null">
					and appkey = #{condition.appKey}
				</if>
				<if test="condition.appSecret != null">
					and appsecret = #{condition.appSecret}
				</if>
				<if test="condition.isEnabled != null">
					and is_enabled = #{condition.isEnabled}
				</if>
				<if test="condition.bankOrgNo != null">
					and bank_org_no = #{condition.bankOrgNo}
				</if>
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="mobileClientResultMap">
		select * from cb_mobile_client where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_mobile_client set update_time = #{updateTime}
		
		<if test="name != null">
			, name = #{name}
		</if>
		<if test="number != null">
			, number = #{number}
		</if>
		<if test="appKey != null">
			, appkey = #{appKey}
		</if>
		<if test="appSecret != null">
			, appsecret = #{appSecret}
		</if>
		<if test="isEnabled != null">
			, is_enabled = #{isEnabled}
		</if>
		<if test="bankOrgNo != null">
			, bank_org_no = #{bankOrgNo}
		</if>
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="mobileClientResultMap">
		select * from cb_mobile_client
		<where>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="number != null">
				and number = #{number}
			</if>
			<if test="appKey != null">
				and appkey = #{appKey}
			</if>
			<if test="appSecret != null">
				and appsecret = #{appSecret}
			</if>
			<if test="isEnabled != null">
				and is_enabled = #{isEnabled}
			</if>
			<if test="bankOrgNo != null">
				bank_org_no = #{bankOrgNo}
			</if>
		</where>
	</select>
    
</mapper>