<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.OrderDetailsMapper">
	<resultMap type="OrderDetails" id="orderDetailsMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="orderId" column="order_id" />
		<result property="productId" column="product_id" />
		<result property="productSn" column="product_sn" />
		<result property="productName" column="product_name" />
		<result property="quantity" column="quantity" />
		<result property="single" column="single" />
		<result property="vipQuantity" column="vip_quantity" />
		<result property="vipSingle" column="vip_single" />
		<result property="price" column="price" />
	</resultMap>
	<!-- 基础sql 数据新增 必须指明数据列 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert
		into cb_order_details
		(
		create_time,update_time,order_id,product_id,product_sn,product_name,quantity,single,price,vip_quantity,vip_single
		)
		values
		(
		#{createTime},#{updateTime},#{orderId},#{productId},#{productSn},#{productName},#{quantity},#{single},#{price},#{vipQuantity},#{vipSingle}
		)
	</insert>
	<insert id="insertMore">
		insert
		into cb_order_details
		(
		create_time,update_time,order_id,product_id,product_sn,product_name,quantity,single,price,vip_quantity,vip_single
		)
		values
		<foreach collection="list" item="item" separator=",">
		(
		#{item.createTime},#{item.updateTime},#{item.orderId},#{item.productId},#{item.productSn},#{item.productName},#{item.quantity},#{item.single},#{item.price},#{item.vipQuantity},#{item.vipSingle}
		)
		</foreach>
	</insert>

	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="orderDetailsMap">
		select * from cb_order_details
		<where>
			<if test="condition != null">
				<if test="condition.id!=null">
					id=#{condition.id}
				</if>
				<if test="condition.createTime!=null">
					and create_time=#{condition.createTime}
				</if>
				<if test="condition.updateTime!=null">
					and update_time=#{condition.updateTime}
				</if>
				<if test="condition.orderId!=null">
					and order_id=#{condition.orderId}
				</if>
				<if test="condition.productId!=null">
					and product_id=#{condition.productId}
				</if>
				<if test="condition.productSn!=null">
					and product_sn=#{condition.productSn}
				</if>
				<if test="condition.productName!=null">
					and product_name=#{condition.productName}
				</if>
				<if test="condition.quantity!=null">
					and quantity=#{condition.quantity}
				</if>
				<if test="condition.single!=null">
					and single=#{condition.single}
				</if>
				<if test="condition.price!=null">
					and price=#{condition.price}
				</if>
			</if>
		</where>
	</select>

	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="orderDetailsMap">
		select * from cb_order_details where id = #{id}
	</select>
	
	<select id="selectByIdWithProductInfo" parameterType="java.lang.Long" resultMap="orderDetailsMap">
		select create_time,update_time,order_id,product_id,product_sn,product_name,quantity,single,price,image as productImage from (select * from cb_order_details where order_id=#{orderId}) as d left join cb_product p on d.product_id=p.id
	</select>

	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean">
		update cb_order_details set update_time = #{updateTime}
		<if test="productId!=null">
			,product_id=#{productId}
		</if>
		<if test="productSn!=null">
			,product_sn=#{productSn}
		</if>
		<if test="productName!=null">
			,product_name=#{productName}
		</if>
		<if test="quantity!=null">
			,quantity=#{quantity}
		</if>
		<if test="single!=null">
			,single=#{single}
		</if>
		<if test="price!=null">
			,price=#{price}
		</if>
		<if test="vipSingle!=null">
			,vip_single=#{vipingle}
		</if>
		<if test="vipQuantity!=null">
			,vip_quantity=#{vipQuantity}
		</if>
		where id = #{id}
	</update>

	<select id="selectByCondition" resultMap="orderDetailsMap">
		select * from cb_order_details
		<where>
			<if test="id!=null">
				id=#{id}
			</if>
			<if test="createTime!=null">
				and create_time=#{createTime}
			</if>
			<if test="updateTime!=null">
				and update_time=#{updateTime}
			</if>
			<if test="orderId!=null">
				and order_id=#{orderId}
			</if>
			<if test="productId!=null">
				and product_id=#{productId}
			</if>
			<if test="productSn!=null">
				and product_sn=#{productSn}
			</if>
			<if test="productName!=null">
				and product_name=#{productName}
			</if>
			<if test="quantity!=null">
				and quantity=#{quantity}
			</if>
			<if test="single!=null">
				and single=#{single}
			</if>
			<if test="vipSingle!=null">
				and vip_single=#{vipingle}
			</if>
			<if test="vipQuantity!=null">
				and vip_quantity=#{vipQuantity}
			</if>
			<if test="price!=null">
				and price=#{price}
			</if>
		</where>
	</select>
	<select id="selectByOrderID"  resultMap="orderDetailsMap">
		select * from cb_order_details where order_id=#{orderID}
	</select>
</mapper>