<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.ProductMapper">

    <resultMap type="Product" id="productResultMap">
   	    <!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
		<result property="clientId" column="client_id" />
		<!-- baseEntity prop -->
		
        <result property="sn" column="sn"/>
        <result property="type" column="type"
                typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="name" column="name"/>
        <result property="fullName" column="full_name"/>
        <result property="price" column="price"/>
        <result property="cost" column="cost"/>
        <result property="marketPrice" column="market_price"/>
        <result property="image" column="image"/>
        <result property="weight" column="weight"/>
        <result property="weightUnit" column="weight_unit"/>
        <result property="store" column="store"/>
        <result property="freezeStore" column="freeze_store"/>
        <result property="warnNumber" column="warn_number"/>
        <result property="isMarketable" column="is_marketable"/>
        <result property="isBest" column="is_best"/>
        <result property="isNew" column="is_new"/>
        <result property="isHot" column="is_hot"/>
         <result property="isTop" column="is_top"/>
        <result property="introduction" column="introduction"/>
        <result property="buyKnow" column="buy_know"/>
        <result property="rackTime" column="rack_time"/>
        <result property="inspectors" column="inspectors"/>
        <result property="auditMemo" column="audit_memo"/>
        <result property="productCategoryId" column="product_category_id"/>
        <result property="orderValue" column="order_value"/>
        <result property="isDelete" column="is_delete"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="collectToFroad" column="collect_to_froad"/>
        <result property="productVerifyType" column="product_verify_type"
                typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="orgLevel" column="org_level"
        		typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="orgVerifyState" column="org_verify_state"
        		typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="orgTreePath" column="org_tree_path"/>
        <result property="distributionType" column="distribution_type" />
        
        <!-- MerchantOutletInfo prop 附近搜索商品用到 -->
        <result property="merchantOutletInfo.name" column="merchant_outlet_name"/>				
        <result property="merchantOutletInfo.address" column="address"/>				
        <result property="merchantOutletInfo.distance" column="distance"/>	
    </resultMap>

    <!-- 查询-->
    <select id="selectProductById" parameterType="java.lang.Long" resultMap="productResultMap">
		select * from cb_product where id = #{id}
	</select>
    <select id="selectAllProduct"  resultMap="productResultMap">
	<![CDATA[SELECT * FROM cb_product WHERE TYPE <>'03']]>
	</select> 
	
	
	<select id="selectAllProductImage"  resultMap="productResultMap">
	<![CDATA[SELECT id,image FROM cb_product WHERE TYPE <>'03']]>
	</select> 
	
   <!--根据商品ID查询商户信息 -->
    <select id="selectMerchantByProductId" parameterType="java.lang.Long" resultMap="productResultMap" >
         select merchant_id,fm.name from fft_product fp left join fft_merchant fm on fp.merchant_id=fm.id where fp.id=#{id}
    </select>
</mapper>