<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.ProductImageMapper">

	<resultMap type="ProductImage" id="productImageResultMap">
		<!-- baseEntity prop -->
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="clientId" column="client_id" />
		<!-- baseEntity prop -->

		<result property="title" column="title" />
		<result property="source" column="source" />
		<result property="large" column="large" />
		<result property="medium" column="medium" />
		<result property="thumbnail" column="thumbnail" />
		<result property="orderValue" column="order_value" />
		<result property="productId" column="product_id" />
	</resultMap>
	
	<!-- 插入 -->
	<insert id="insertProductImage" parameterType="ProductImage" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO cb_product_image (
			  create_time,
			  update_time,
			  title,
			  source,
			  large,
			  medium,
			  thumbnail,
			  order_value,
			  product_id
			) 
			VALUES
			  (
			    #{createTime},
			    #{updateTime},
			    #{title},
			    #{source},
			    #{large},
			    #{medium},
			    #{thumbnail},
			    #{orderValue},
			    #{productId}
			  ) 
	</insert>

	<!-- 更新 -->
	<update id="updateProductImageById" parameterType="ProductImage" >
		update cb_product_image set update_time = #{updateTime}
		<include refid="productImagecolumns"/>
		where id = #{id}
	</update>
	
	<!-- 查询 -->
	<select id="selectProductImageById" parameterType="java.lang.Long" resultMap="productImageResultMap">
		select * from cb_product_image where id = #{id}
	</select>
	
	<!-- 查询-->
	<select id="selectProductImageByCondition" parameterType="ProductImage"  resultMap="productImageResultMap">
		select * from cb_product_image  
		<where>
			<if test="title != null and title != ''">
				and title = #{title}
			</if>
			<if test="source != null and source != ''">
				and source = #{source}
			</if>
			<if test="large != null and large != ''">
				and large = #{large}
			</if>
			<if test="medium != null and medium != ''">
				and medium = #{medium}
			</if>
			<if test="thumbnail != null and thumbnail != ''">
				and thumbnail = #{thumbnail}
			</if>
			<if test="productId != null and productId != ''">
				and product_id = #{productId}
			</if>
				
		</where>
	</select>
	
		<!-- 基础sql 通过分页查询 -->
	<select id="selectProductImageOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity"
		resultMap="productImageResultMap">
		select * from cb_product_image
		<where>
			<if test="condition != null">
				<if test="condition.title != null and condition.title != ''">
					and title = #{condition.title}
				</if>
				<if test="condition.source != null and condition.source != ''">
					and source = #{condition.source}
				</if>
				<if test="condition.large != null and condition.large != ''">
					and large = #{condition.large}
				</if>
				<if test="condition.medium != null and condition.medium != ''">
					and medium = #{condition.medium}
				</if>
				<if test="condition.thumbnail != null and condition.thumbnail != ''">
					and thumbnail = #{condition.thumbnail}
				</if>
				<if test="condition.productId != null and condition.productId != ''">
					and product_id = #{condition.productId}
				</if>
			</if>
		</where>
	</select>

	<sql id="productImagecolumns">
		<if test="title != null and title != ''">
			,title = #{title}
		</if>
		<if test="source != null and source != ''">
			,source = #{source}
		</if>
		<if test="large != null and large != ''">
			,large = #{large}
		</if>
		<if test="medium != null and medium != ''">
			,medium = #{medium}
		</if>
		<if test="thumbnail != null and thumbnail != ''">
			,thumbnail = #{thumbnail}
		</if>
		<if test="productId != null and productId != ''">
			,product_id = #{productId}
		</if>
	</sql>
	
	<delete id="deleteProductImageById" parameterType="java.lang.Long">
		delete from cb_product_image where id = #{id}
	</delete>
	
	<delete id="deleteProductImageByProductId" parameterType="java.lang.Long">
		delete from cb_product_image where product_id = #{productId}
	</delete>
	
	<select id="selectProductImageByProductId" parameterType="java.lang.Long" resultMap="productImageResultMap">
		select * from cb_product_image where product_id = #{productId}
	</select>
</mapper>