<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.ProductPresellMapper">

    <resultMap type="ProductPresell" id="productPresellResultMap">
		<!-- baseEntity prop -->
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="clientId" column="client_id" />
		<!-- baseEntity prop -->

        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="deliveryStartTime" column="delivery_start_time"/>
        <result property="deliveryEndTime" column="delivery_end_time"/>
        <result property="clusteringNumber" column="clustering_number"/>
        <result property="trueBuyerNumber" column="true_buyer_number"/>
        <result property="virtualBuyerNumber" column="virtual_buyer_number"/>
        <result property="clusterState" column="cluster_state" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="clusterType" column="cluster_type" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="expireTime" column="expire_time"/>
        <result property="productId" column="product_id"/>
        
        <!-- Product prop -->
        <result property="productInfo.sn" column="sn"/>
        <result property="productInfo.type" column="type"
                typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="productInfo.name" column="name"/>
        <result property="productInfo.fullName" column="full_name"/>
        <result property="productInfo.price" column="price"/>
        <result property="productInfo.cost" column="cost"/>
        <result property="productInfo.marketPrice" column="market_price"/>
        <result property="productInfo.image" column="image"/>
        <result property="productInfo.weight" column="weight"/>
        <result property="productInfo.weightUnit" column="weight_unit"/>
        <result property="productInfo.store" column="store"/>
        <result property="productInfo.freezeStore" column="freeze_store"/>
        <result property="productInfo.warnNumber" column="warn_number"/>
        <result property="productInfo.isMarketable" column="is_marketable"/>
        <result property="productInfo.isBest" column="is_best"/>
        <result property="productInfo.isNew" column="is_new"/>
        <result property="productInfo.isHot" column="is_hot"/>
        <result property="productInfo.isTop" column="is_top"/>
        <result property="productInfo.introduction" column="introduction"/>
        <result property="productInfo.buyKnow" column="buy_know"/>
        <result property="productInfo.rackTime" column="rack_time"/>
        <result property="productInfo.inspectors" column="inspectors"/>
        <result property="productInfo.auditMemo" column="audit_memo"/>
        <result property="productInfo.productCategoryId" column="product_category_id"/>
        <result property="productInfo.orderValue" column="order_value"/>
        <result property="productInfo.isDelete" column="is_delete"/>
        <result property="productInfo.merchantId" column="merchant_id"/>
        <result property="productInfo.collectToFroad" column="collect_to_froad"/>
        <result property="productInfo.productVerifyType" column="product_verify_type"
                typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="productInfo.orgLevel" column="org_level"
        		typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="productInfo.orgVerifyState" column="org_verify_state"
        		typeHandler="com.froad.db.extend.EnumTypeHandler"/>
        <result property="productInfo.orgTreePath" column="org_tree_path"/>
        <result property="productInfo.distributionType" column="distribution_type" />
        <!-- merchantOutletInfo prop -->
        <result property="productInfo.merchantOutletInfo.name" column="merchant_outlet_name"/>
        <result property="productInfo.merchantOutletInfo.address" column="address"/>
        <result property="productInfo.merchantOutletInfo.distance" column="distance"/>
        		
        <!-- MerchantInfo prop -->
        <result property="productInfo.merchantInfo.name" column="merchant_name"/>
        <result property="productInfo.merchantInfo.fullName" column="full_name"/>
        <result property="productInfo.merchantInfo.bankOrgName" column="bank_org_name"/>
        <result property="productInfo.merchantInfo.interbankAgency" column="interbank_agency"/>
        <result property="productInfo.merchantInfo.travelAgency" column="travel_agency"/>
        <result property="productInfo.merchantInfo.latticePoint" column="lattice_point"/>
        <result property="productInfo.merchantInfo.contractEndtime" column="contract_endtime"/>
        <result property="productInfo.merchantInfo.isDelete" column="is_delete"/>
        <result property="productInfo.merchantInfo.tel" column="tel"/>				
        		
        <!-- ProductLimit prop -->
        <result property="productInfo.productLimit.id" column="limitId"/>
        <result property="productInfo.productLimit.productId" column="product_id"/>
        <result property="productInfo.productLimit.startTime" column="start_time"/>
        <result property="productInfo.productLimit.endTime" column="end_time"/>
        <result property="productInfo.productLimit.isEnabled" column="is_enabled"/>
        <result property="productInfo.productLimit.min" column="min"/>
        <result property="productInfo.productLimit.max" column="max"/>
        
        		
    </resultMap>

  
    <!-- 查询 -->
    <select id="selectProductPresellById" parameterType="java.lang.Long" resultMap="productPresellResultMap">
		select * from cb_product_presell where product_id = #{id}
	</select>

    <select id="selectByProductId" parameterType="java.lang.Long" resultMap="productPresellResultMap">
		select * from cb_product_presell where id=(select product_presell_id from fft_product where id=#{id})
	</select>


</mapper>