<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.ProductLimitMapper">

    <resultMap type="ProductLimit" id="productLimitResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
		<result property="clientId" column="client_id"/>
		<!-- baseEntity prop -->
		
        <result property="productId" column="product_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="isEnabled" column="is_enabled"/>
        <result property="max" column="max"/>
        <result property="minVip" column="min_vip"/>
        <result property="maxVip" column="max_vip"/>
        <result property="maxCard" column="max_card"/>
        <result property="maxVipState" column="max_vip_state"/>
    </resultMap>

 
	
	
	<!-- 条件组合查询 -->
	<select id="selectAllLimit" resultMap="productLimitResultMap">
		select * from cb_product_limit
	</select>

</mapper>