<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.QrcodeMapper">

    <resultMap type="Qrcode" id="qrcodeResultMap">
        <id property="id" column="id"/>
        <result property="keyword" column="keyword"/>
        <result property="qrcode" column="qrcode"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
    </resultMap>


    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_qrcode
		(id,keyword,qrcode,create_time,update_time)
		values
		(
			#{id},#{keyword},#{qrcode},#{createTime},#{updateTime}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="qrcodeResultMap">
		select * from cb_qrcode
		<where>
			<if test="condition != null">
				<if test="condition.name != null">
					and name like CONCAT('%',#{condition.name},'%' )
				</if>
				<if test="condition.parentId != null">
					and parent_id = #{condition.parentId}
				</if>
				<if test="condition.clientId != null">
					and client_id = #{condition.clientId}
				</if>
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="qrcodeResultMap">
		select * from cb_qrcode where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="Qrcode" >
		update cb_qrcode set update_time = #{updateTime}
		<if test="qrcode != null">
			,qrcode = #{qrcode}
		</if>
		<if test="keyword != null">
			,keyword = #{keyword}
		</if>
		where id = #{id}
	</update>
	
	
	<!-- 删除二维码 -->
	<delete id="deleteQrcodeById" parameterType="java.lang.Long">
		delete from cb_qrcode where id = #{id};
	</delete>
	
	<!-- 基础sql 通过检索关键字查询 -->
	<select id="selectByKeyword" parameterType="java.lang.String" resultMap="qrcodeResultMap">
		select * from cb_qrcode where keyword = #{keyword} 
	</select>
	
	
	<select id="selectByCondition" parameterType="Qrcode" resultMap="qrcodeResultMap">
		select * from cb_qrcode
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="keyword != null">
				and keyword = #{keyword}
			</if>
			<if test="qrcode != null">
				and qrcode = #{qrcode}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime}
			</if>
		</where>
	</select>

</mapper>