<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.ReceiverMapper">

    <resultMap type="Receiver" id="receiverResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
		<!-- baseEntity prop -->
		<result column="consignee" property="consignee" jdbcType="VARCHAR" />
	    <result column="address" property="address" jdbcType="VARCHAR" />
	    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
	    <result column="phone" property="phone" jdbcType="VARCHAR" />
	    <result column="area_id" property="areaId" jdbcType="BIGINT" />
	    <result column="type" property="type" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
	    <result column="is_default" property="isDefault" jdbcType="BIT" />
	    <result column="member_code" property="memberCode" jdbcType="BIGINT" />
	    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    </resultMap>

    <!-- 基础sql 数据新增 必须指明数据列  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_receiver
		(create_time, update_time, consignee, address, zip_code, phone, area_id, type, is_default, member_code, is_delete)
		values
		(
		  #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      	  #{consignee,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      	  #{phone,jdbcType=VARCHAR}, #{areaId,jdbcType=BIGINT}, #{type,typeHandler=com.froad.db.extend.EnumTypeHandler}, 
      	  #{isDefault,jdbcType=BIT}, #{memberCode,jdbcType=BIGINT}, #{isDelete,jdbcType=BIT}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="receiverResultMap">
		select * from cb_receiver
		<where>
			<if test="condition != null">
				<if test="condition.consignee != null">
					and consignee like CONCAT('%',#{condition.consignee},'%' )
				</if>
				<if test="condition.phone != null">
					and phone like CONCAT('%', #{condition.phone},'%' )
				</if>
				<if test="condition.areaId != null">
					and area_Id = #{condition.areaId}
				</if>
				<if test="condition.type != null">
					and type = #{condition.type,typeHandler=com.froad.db.extend.EnumTypeHandler}
				</if>
				<if test="condition.isDefault != null">
					and is_Default = #{condition.isDefault}
				</if>
				<if test="condition.memberCode != null">
					and member_Code = #{condition.memberCode}
				</if>
				<if test="condition.isDelete != null">
					and is_Delete = #{condition.isDelete}
				</if>
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="receiverResultMap">
		select * from cb_receiver where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_receiver 
		<set >
	      <if test="updateTime != null" >
	        update_time = #{updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="consignee != null" >
	        consignee = #{consignee,jdbcType=VARCHAR},
	      </if>
	      <if test="address != null" >
	        address = #{address,jdbcType=VARCHAR},
	      </if>
	      <if test="zipCode != null" >
	        zip_code = #{zipCode,jdbcType=VARCHAR},
	      </if>
	      <if test="phone != null" >
	        phone = #{phone,jdbcType=VARCHAR},
	      </if>
	      <if test="areaId != null" >
	        area_id = #{areaId,jdbcType=BIGINT},
	      </if>
	      <if test="type != null" >
	        type = #{type,typeHandler=com.froad.db.extend.EnumTypeHandler},
	      </if>
	      <if test="isDefault != null" >
	        is_default = #{isDefault,jdbcType=BIT},
	      </if>
	      <if test="memberCode != null" >
	        member_code = #{memberCode,jdbcType=BIGINT},
	      </if>
	      <if test="isDelete != null" >
	        is_delete = #{isDelete,jdbcType=BIT},
	      </if>
	    </set>
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="receiverResultMap">
		select * from cb_receiver
		<where>
			<if test="consignee != null">
				and consignee like CONCAT('%',#{consignee},'%' )
			</if>
			<if test="phone != null">
				and phone like CONCAT('%', #{phone},'%' )
			</if>
			<if test="areaId != null">
				and area_Id = #{areaId}
			</if>
			<if test="type != null">
				and type = #{type,typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="isDefault != null">
				and is_Default = #{isDefault}
			</if>
			<if test="memberCode != null">
				and member_Code = #{memberCode}
			</if>
			<if test="isDelete != null">
				and is_Delete = #{isDelete}
			</if>
		</where>
	</select>

</mapper>