<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.RefundsMapper">

	<resultMap type="Refunds" id="refundsResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="sn" column="sn" />
		<result property="orderSn" column="order_sn" />
		<result property="paymentSn" column="payment_sn" />
		<result property="type" column="type"
			typeHandler="com.froad.db.extend.EnumTypeHandler" />
		<result property="isEnabled" column="is_enabled"/>
		<result property="refundValue" column="refund_value" />
		<result property="ticketId" column="ticket_id" />
		<result property="state" column="state"
			typeHandler="com.froad.db.extend.EnumTypeHandler" />
		<result property="reason" column="reason" />
		<result property="merchantUserId" column="merchant_user_id" />
		<result property="remark" column="remark" />
		<result property="billNo" column="bill_no" />
		<result property="refundBillNo" column="refund_bill_no" />
		<result property="resultCode" column="result_code" />
		<result property="resultDesc" column="result_desc" />
		<result property="username" column="username" />
		<result property="accountId" column="account_id" />
		<result property="orderAmount" column="order_amount" />
	</resultMap>
	
	<select id="selectForPayment" resultMap="refundsResultMap">
		SELECT * FROM cb_order_refunds
	</select>
	
	<select id="selectByTicketId" resultMap="refundsResultMap">
		select * from cb_order_refunds where ticket_id=#{ticket_id} 
	</select>
	<select id="selectByRefundBillNo" resultMap="refundsResultMap">
		select * from cb_order_refunds where refund_bill_no=#{refundBillNo} 
	</select>
	
	<!--  通过订单Sn 查询所有退款成功的记录 -->
	<select id="selectRefundedByOrderSn" resultMap="refundsResultMap">
		select * from cb_order_refunds where order_sn=#{orderSn} and state='40'
	</select>
	
	<!-- 以下无用 -->
	<select id="selectAll" resultMap="refundsResultMap">
		select * from cb_order_refunds
	</select>

	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity"
		resultMap="refundsResultMap">
	</select>
	
	<!-- 查询组合退款的记录ID -->
	<select id="getCombineOrderSn" resultMap="refundsResultMap">
		select order_sn from (select order_sn,type from cb_order_refunds group by order_sn,type) as temp group by order_sn having count(order_sn) > 1
	</select>	
</mapper>