<?xml version="1.0" encoding="UTF-8" ?>  
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  		 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.RefundsSelectMapper">

	<resultMap type="OrderRefunds" id="orderRefundsResultMap">
		<!-- baseEntity prop -->
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<!-- baseEntity prop -->

		<result property="sn" column="sn" />
		<result property="orderSn" column="order_sn" />
		<result property="paymentSn" column="payment_sn" />
		<result property="type" column="type" 
				typeHandler="com.froad.db.extend.EnumTypeHandler"/>
		<result property="isEnabled" column="is_enabled" />
		<result property="refundValue" column="refund_value" />
		<result property="ticketId" column="ticket_id" />
		<result property="state" column="state" 
				typeHandler="com.froad.db.extend.EnumTypeHandler"/>
		<result property="reason" column="reason" />
		<result property="merchantUserId" column="merchant_user_id" />
		<result property="remark" column="remark" />
		<result property="billNo" column="bill_no" />
		<result property="refundBillNo" column="refund_bill_no" />
		<result property="resultCode" column="result_code" />
		<result property="resultDesc" column="result_desc" />
		<result property="username" column="username" />
		<result property="accountId" column="account_id" />
		<result property="orderAmount" column="order_amount" />
	</resultMap>

	<!-- 查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="orderRefundsResultMap">
		select * from cb_order_refunds where id = #{id}
	</select>
	
	<!-- 查询-->
	<select id="selectByCondition" parameterType="ProductImage"  resultMap="orderRefundsResultMap">
		select * from cb_order_refunds  
		<where>
			<if test="begDate != null">
				<![CDATA[
				and create_time >= #{begDate}
				]]>
			</if>
			<if test="endDate != null">
				<![CDATA[
				and create_time <= #{endDate}
				]]>
			</if>
			<if test="sn != null">
				and sn = #{sn}
			</if>
			<if test="orderSn != null">
				and order_sn = #{orderSn}
			</if>
			<if test="paymentSn != null">
				and payment_sn = #{paymentSn}
			</if>
			<if test="type != null">
				and type = #{type, typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="isEnabled != null">
				and is_enabled = #{isEnabled}
			</if>
			<if test="refundValue != null">
				and refund_value = #{refundValue}
			</if>
			<if test="ticketId != null">
				and ticket_id = #{ticketId}
			</if>
			<if test="state != null">
				and state = #{state, typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="reason != null">
				and reason like CONCAT('%',#{reason},'%' )
			</if>
			<if test="merchantUserId != null">
				and merchant_user_id = #{merchantUserId}
			</if>
			<if test="remark != null">
				and remark like CONCAT('%',#{remark},'%' )
			</if>
			<if test="billNo != null">
				and bill_no = #{billNo}
			</if>
			<if test="refundBillNo != null">
				and refund_bill_no = #{refundBillNo}
			</if>
			<if test="resultCode != null">
				and result_code = #{resultCode}
			</if>
			<if test="resultDesc != null">
				and result_desc like CONCAT('%',#{resultDesc},'%' )
			</if>
			<if test="username != null">
				and username like CONCAT('%',#{username},'%' )
			</if>
			<if test="accountId != null">
				and account_id = #{accountId}
			</if>
			<if test="orderAmount != null">
				and order_amount = #{orderAmount}
			</if>
		</where>
		order by id desc
	</select>
	
		<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="orderRefundsResultMap">
		select * from cb_order_refunds
		<where>
			<if test="condition != null">
				<if test="condition.begDate != null">
				<![CDATA[
					and create_time >= #{condition.begDate}
				]]>
				</if>
				<if test="condition.endDate != null">
				<![CDATA[
					and create_time <= #{condition.endDate}
				]]>
				</if>
				<if test="condition.sn != null">
					and sn = #{condition.sn}
				</if>
				<if test="condition.orderSn != null">
					and order_sn = #{condition.orderSn}
				</if>
				<if test="condition.paymentSn != null">
					and payment_sn = #{condition.paymentSn}
				</if>
				<if test="condition.type != null">
					and type = #{condition.type, typeHandler=com.froad.db.extend.EnumTypeHandler}
				</if>
				<if test="condition.isEnabled != null">
					and is_enabled = #{condition.isEnabled}
				</if>
				<if test="condition.refundValue != null">
					and refund_value = #{condition.refundValue}
				</if>
				<if test="condition.ticketId != null">
					and ticket_id = #{condition.ticketId}
				</if>
				<if test="condition.state != null">
					and state = #{condition.state, typeHandler=com.froad.db.extend.EnumTypeHandler}
				</if>
				<if test="condition.reason != null">
					and reason like CONCAT('%',#{condition.reason},'%' )
				</if>
				<if test="condition.merchantUserId != null">
					and merchant_user_id = #{condition.merchantUserId}
				</if>
				<if test="condition.remark != null">
					and remark like CONCAT('%',#{condition.remark},'%' )
				</if>
				<if test="condition.billNo != null">
					and bill_no = #{condition.billNo}
				</if>
				<if test="condition.refundBillNo != null">
					and refund_bill_no = #{condition.refundBillNo}
				</if>
				<if test="condition.resultCode != null">
					and result_code = #{condition.resultCode}
				</if>
				<if test="condition.resultDesc != null">
					and result_desc like CONCAT('%',#{condition.resultDesc},'%' )
				</if>
				<if test="condition.username != null">
					and username like CONCAT('%',#{condition.username},'%' )
				</if>
				<if test="condition.accountId != null">
					and account_id = #{condition.accountId}
				</if>
				<if test="condition.orderAmount != null">
					and order_amount = #{condition.orderAmount}
				</if>
			</if>
		</where>
		order by id desc
	</select>


</mapper>