<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.ShippingMapper">

	<resultMap type="Shipping" id="shippingResultMap">
    	<!-- baseEntity prop -->
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="clientId" column="client_id"/>
		<!-- baseEntity prop -->
		<result property="orderId" column="order_id" />
		<result property="shippingStatus" column="shipping_status" typeHandler="com.froad.db.extend.EnumTypeHandler"/>
		<result property="deliveryCorpId" column="delivery_corp_Id" />
		<result property="deliveryCorpName" column="delivery_corp_name" />
		<result property="trackingNo" column="tracking_no" />
		<result property="operator" column="operator" />
		<result property="shippingTime" column="shipping_time" />
		<result property="receiptTime" column="receipt_time" />
		<result property="isEnabled" column="is_enabled" />
		<result property="remark" column="remark" />
    </resultMap>
    
    <!-- 基础sql 数据新增 必须指明数据列 
-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into cb_shipping
		(
		 create_time,
		 update_time,
		 client_id,
		 order_id,
		 shipping_status,
		 delivery_corp_Id,
		 delivery_corp_name,
		 tracking_no,
		 operator,
		 shipping_time,
		 receipt_time,
		 is_enabled,
		 remark
		)
		values
		(
		 #{createTime},
		 #{updateTime},
		 #{clientId},
		 #{orderId},
		 #{shippingStatus,typeHandler=com.froad.db.extend.EnumTypeHandler},
		 #{deliveryCorpId},
		 #{deliveryCorpName},
		 #{trackingNo},
		 #{operator},
		 #{shippingTime},
		 #{receiptTime},
		 #{isEnabled},
		 #{remark}
		)
	</insert>
	
	<!-- 基础sql 通过分页查询 -->
	<select id="selectOfPage" parameterType="com.froad.cbank.persistent.entity.base.PageEntity" resultMap="shippingResultMap">
		select * from cb_shipping
		<where>
			<if test="condition != null">
				<if test="condition.clientId != null">
					and client_id = #{condition.clientId}
				</if>
				<if test="condition.orderId != null">
					and order_id = #{condition.orderId}
				</if>
				<if test="condition.shippingStatus != null">
					and shipping_status = #{condition.shippingStatus,typeHandler=com.froad.db.extend.EnumTypeHandler}
				</if>
				<if test="condition.deliveryCorpId != null">
					and delivery_corp_Id = #{condition.deliveryCorpId}
				</if>
				<if test="condition.deliveryCorpName != null">
					and delivery_corp_name = #{condition.deliveryCorpName}
				</if>
				<if test="condition.trackingNo != null">
					and tracking_no = #{condition.trackingNo}
				</if>
				<if test="condition.operator != null">
					and operator = #{condition.operator}
				</if>
				<if test="condition.shippingTime != null">
					and shipping_time = #{condition.shippingTime}
				</if>
				<if test="condition.receiptTime != null">
					and receipt_time = #{condition.receiptTime}
				</if>
				<if test="condition.isEnabled != null">
					and is_enabled = #{condition.isEnabled}
				</if>
				<if test="condition.remark != null">
					and remark = #{condition.remark}
				</if>
			</if>
		</where>
	</select>
	
	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long" resultMap="shippingResultMap">
		select * from cb_shipping where id = #{id}
	</select>
	
	<!-- 通过主键更新数据 -->
	<update id="updateById" parameterType="java.lang.Boolean" >
		update cb_shipping set update_time = #{updateTime}
				
		<if test="clientId != null">
			, client_id = #{clientId}
		</if>
		<if test="orderId != null">
			, order_id = #{orderId}
		</if>
		<if test="shippingStatus != null">
			,shipping_status = #{shippingStatus,typeHandler=com.froad.db.extend.EnumTypeHandler}
		</if>
		<if test="deliveryCorpId != null">
			, delivery_corp_Id = #{deliveryCorpId}
		</if>
		<if test="deliveryCorpName != null">
			, delivery_corp_name = #{deliveryCorpName}
		</if>
		<if test="trackingNo != null">
			, tracking_no = #{trackingNo}
		</if>
		<if test="operator != null">
			, operator = #{operator}
		</if>
		<if test="shippingTime != null">
			, shipping_time = #{shippingTime}
		</if>
		<if test="receiptTime != null">
			, receipt_time = #{receiptTime}
		</if>
		<if test="isEnabled != null">
			, is_enabled = #{isEnabled}
		</if>
		<if test="remark != null">
			, remark = #{remark}
		</if>
		
		where id = #{id}
	</update>
	
	<select id="selectByCondition" resultMap="shippingResultMap">
		select * from cb_shipping
		<where>
			<if test="clientId != null">
				and client_id = #{clientId}
			</if>
			<if test="orderId != null">
				and order_id = #{orderId}
			</if>
				<if test="shippingStatus != null">
				and shipping_status = #{shippingStatus,typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="deliveryCorpId != null">
				and delivery_corp_Id = #{deliveryCorpId}
			</if>
			<if test="deliveryCorpName != null">
				and delivery_corp_name = #{deliveryCorpName}
			</if>
			<if test="trackingNo != null">
				and tracking_no = #{trackingNo}
			</if>
			<if test="operator != null">
				and operator = #{operator}
			</if>
			<if test="shippingTime != null">
				and shipping_time = #{shippingTime}
			</if>
			<if test="receiptTime != null">
				and receipt_time = #{receiptTime}
			</if>
			<if test="isEnabled != null">
				and is_enabled = #{isEnabled}
			</if>
			<if test="remark != null">
				and remark = #{remark}
			</if>
		</where>
	</select>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.lang.Long" >
		delete from cb_shipping where id = #{id}
	</delete>
    
</mapper>