<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chongqing.mappers.TicketMapper">

	<resultMap type="Ticket" id="ticketResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="clientId" column="client_id" />
		<result property="orderId" column="order_id" />
		<result property="memberCode" column="member_code" />
		<result property="type" column="type"
			typeHandler="com.froad.db.extend.EnumTypeHandler" />
		<result property="state" column="state"
			typeHandler="com.froad.db.extend.EnumTypeHandler" />
		<result property="securitiesNo" column="securities_no" />
		<result property="isConsume" column="is_consume" />
		<result property="productId" column="product_id" />
		<result property="productFullName" column="product_full_name" />
		<result property="consumeTime" column="consume_time" />
		<result property="expireTime" column="expire_time" />
		<result property="smsNumber" column="sms_number" />
		<result property="smsTime" column="sms_time" />
		<result property="merchantOutletId" column="merchant_outlet_id" />
		<result property="merchantUserId" column="merchant_user_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="refundState" column="refund_state"
			typeHandler="com.froad.db.extend.EnumTypeHandler" />
		<result property="settleState" column="settle_state" />
		<result property="money" column="money" />
		<result property="remark" column="remark" />
	</resultMap>


	<!-- 基础sql 通过主键查询 -->
	<select id="selectById" parameterType="java.lang.Long"
		resultMap="ticketResultMap">
		select * from cb_ticket where id = #{id}
	</select>
	<!-- 基础sql 通过SecuritiesNO查询 -->
	<select id="selectBySecuritiesNO" resultMap="ticketResultMap">
		select * from
		cb_ticket where securities_no = #{sn}
	</select>

	<update id="disableTicketByOrderID">
		update cb_ticket set update_time=now() , state='02'
		where order_id=#{id}
	</update>

	<update id="doValidateSecuritiesNoForGroup">
		update cb_ticket ticket set update_time=now(),is_consume=1,consume_time=now() ,merchant_user_id=#{merchantUserId},merchant_outlet_id=#{merchantOutletId}
		where securities_no=#{securitiesNo} and is_consume=0 and state='01' and expire_time>now() and type='01' and merchant_id=#{merchantId}
		and exists(select id from cb_product_merchant_outlet outlet where outlet.product_id=ticket.product_id and outlet.merchant_outlet_id=#{merchantOutletId})<!-- 是否对应的门店提货 -->
		and exists(select id from cb_merchant_group_user muser where muser.merchant_id=ticket.merchant_id and muser.merchant_user_id=#{merchantUserId} and muser.merchant_outlet_id=#{merchantOutletId})<!-- 操作员是否属于该门店 -->
	</update>
	<select id="selectBySecuritiesNoForGroup" resultMap="ticketResultMap">
		select * from cb_ticket as ticket
		where securities_no=#{securitiesNo} and is_consume=0 and state='01' and expire_time>now() and type='01' and merchant_id=#{merchantId}
		and exists(select id from cb_product_merchant_outlet outlet where outlet.product_id=ticket.product_id and outlet.merchant_outlet_id=#{merchantOutletId})<!-- 是否对应的门店提货 -->
		and exists(select id from cb_merchant_group_user muser where muser.merchant_id=ticket.merchant_id and muser.merchant_user_id=#{merchantUserId} and muser.merchant_outlet_id=#{merchantOutletId})<!-- 操作员是否属于该门店 -->
	</select>

	<update id="doValidateSecuritiesNoForPresell">
		UPDATE cb_ticket ticket,
		(SELECT merchant_outlet_id FROM cb_merchant_outlet_bank WHERE bank_org=#{orgCode}) outlet
		SET update_time=NOW(),is_consume=1,consume_time=NOW(),merchant_user_id=#{merchantUserId} ,merchant_user_name=#{merchantUserName},ticket.merchant_outlet_id=outlet.merchant_outlet_id
		WHERE securities_no=#{securitiesNo} AND is_consume=0 AND state='01' AND expire_time>NOW() AND TYPE='02'
		AND EXISTS( SELECT id FROM cb_order WHERE merchant_outlet_id=outlet.merchant_outlet_id AND ticket.order_id= id)<!-- 是否对应的门店提货 -->
	</update>
	<select id="selectBySecuritiesNoForPresell" resultMap="ticketResultMap">
		select * from cb_ticket as ticket WHERE securities_no=#{securitiesNo} AND is_consume=0 AND state='01' AND expire_time>NOW() AND TYPE='02'
		AND EXISTS( SELECT odr.id FROM cb_order as odr inner join cb_merchant_outlet_bank as bank on bank.merchant_outlet_id=odr.merchant_outlet_id and bank.bank_org=#{orgCode} WHERE ticket.order_id= odr.id)<!-- 是否对应的门店提货 -->
	</select>

	<select id="selectByCondition" resultMap="ticketResultMap">
		select * from cb_ticket
		<where>
			<if test="id!=null">
				and id=#{id}
			</if>
			<if test="begDate!=null">
				<![CDATA[ 
				and create_time >= #{begDate}
				]]>
			</if>
			<if test="endDate!=null">
				<![CDATA[ 
				and create_time <= #{endDate}
				]]>
			</if>
			<if test="createTime!=null">
				and create_time=#{createTime}
			</if>
			<if test="updateTime!=null">
				and update_time=#{updateTime}
			</if>
			<if test="clientId!=null">
				and client_id=#{clientId}
			</if>
			<if test="orderId!=null">
				and order_id=#{orderId}
			</if>
			<if test="memberCode!=null">
				and member_code=#{memberCode}
			</if>
			<if test="type!=null">
				and
				type=#{type,typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="securitiesNo!=null">
				and securities_no=#{securitiesNo}
			</if>
			<if test="isConsume!=null">
				and is_consume=#{isConsume}
			</if>
			<if test="productId!=null">
				and product_id=#{productId}
			</if>
			<if test="productFullName!=null">
				and product_full_name like CONCAT('%',#{productFullName},'%')
			</if>
			<if test="consumeTime!=null">
				and consume_time=#{consumeTime}
			</if>
			<if test="expireTime!=null">
				and expire_time=#{expireTime}
			</if>
			<if test="smsNumber!=null">
				and sms_number=#{smsNumber}
			</if>
			<if test="smsTime!=null">
				and sms_time=#{smsTime}
			</if>
			<if test="merchantUserId!=null">
				and merchant_user_id=#{merchantUserId}
			</if>
			<if test="merchantId!=null">
				and merchant_id=#{merchantId}
			</if>
			<if test="state!=null">
				and state=#{state,typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="refundState!=null">
				and
				refund_state=#{refundState,typeHandler=com.froad.db.extend.EnumTypeHandler}
			</if>
			<if test="settleState!=null">
				and settle_state=#{settleState}
			</if>
			<if test="money!=null">
				and money=#{money}
			</if>
			<if test="remark!=null">
				and remark=#{remark}
			</if>
		</where>
	</select>
	
	<select id="selectCanBeConsumedTicketByOrderID" resultMap="ticketResultMap">
		select * from cb_ticket where order_id=#{id} and is_consume=0 and state='01' and type='01' and expire_time > now()
	</select>
	
	<select id="selectOfPageForMember" resultMap="ticketResultMap">
		select * from cb_ticket
		<where>
			member_code=#{param1.memberCode}
			<if test="param1.type!=null">
				and type=#{param1.type.code}
			</if>
			<if test="param1.status!=null">
				<choose>
					<when test="param1.status.code=='10'">
						and refund_state='01' and is_consume=0 and expire_time &gt; now()
					</when>
					<when test="param1.status.code=='20'">
						and is_consume=1
					</when>
					<when test="param1.status.code=='30'">
						and refund_state='01' and is_consume=0 and expire_time &lt; now()
					</when>
					<when test="param1.status.code=='40'">
						and refund_state='02' 
					</when>
					<when test="param1.status.code=='50'">
						and refund_state='03'
					</when>
				</choose>
			</if>
		</where>
		order by id desc
	</select>
	
		<select id="selectByOrderID" resultMap="ticketResultMap">
		select * from cb_ticket
		where order_id = #{orderID}
	</select>
	
	<update id="updateByStateAndOrderId">
		update cb_ticket set update_time=now()
		<if test="param1.state!=null">
			,state = #{param1.state,typeHandler=com.froad.db.extend.EnumTypeHandler}
		</if>
		<if test="param1.refundState!=null">
			,refund_state=#{param1.refundState,typeHandler=com.froad.db.extend.EnumTypeHandler}
		</if>
		<if test="param1.remark!=null">
			,remark=#{param1.remark}
		</if>
		where order_id=#{param1.orderId} and state=#{param2,typeHandler=com.froad.db.extend.EnumTypeHandler}
	</update>
	
	<select id="isSNCanConsumeForGroup" resultType="java.lang.Boolean">
		SELECT COUNT(1)>0 FROM cb_ticket ticket WHERE securities_no=#{param1} AND  EXISTS(SELECT id FROM cb_product_merchant_outlet outlet WHERE outlet.merchant_outlet_id=#{param2} AND ticket.product_id=outlet.product_id)
	</select>
	<select id="isSNCanConsumeForPresell" resultType="java.lang.Boolean">
		SELECT COUNT(1)>0 FROM cb_ticket ticket WHERE securities_no=#{param1} AND merchant_outlet_id=#{param2}
	</select>
	
	<select id="selectTicketByGroup" resultMap="ticketResultMap">
		SELECT * FROM cb_ticket WHERE TYPE = '01' AND is_consume = TRUE AND consume_time IS NOT NULL
	</select>
	
</mapper>