<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.froad.db.mysql.mapper.AmountMapper">

	<resultMap id="BaseRespResultMap" type="BaseResp">
		<result column="day" property="day" jdbcType="VARCHAR" />
		<result column="week" property="week" jdbcType="VARCHAR" />
		<result column="month" property="month" jdbcType="VARCHAR" />
		<result column="year" property="year" jdbcType="VARCHAR" />
		<result column="client_id" property="clientId" jdbcType="VARCHAR" />
		<result column="platform" property="platform" jdbcType="VARCHAR" />
		<result column="org_code" property="orgCode" jdbcType="VARCHAR" />
		<result column="org_name" property="orgName" jdbcType="VARCHAR" />
		<result column="province_org_code" property="provinceOrgCode"
			jdbcType="VARCHAR" />
		<result column="city_org_code" property="cityOrgCode" jdbcType="VARCHAR" />
		<result column="county_org_code" property="countyOrgCode"
			jdbcType="VARCHAR" />
		<result column="village_org_code" property="villageOrgCode"
			jdbcType="VARCHAR" />
		<result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
		<result column="merchant_name" property="merchantName"
			jdbcType="VARCHAR" />
		<result column="merchant_category_id" property="merchantCategoryId"
			jdbcType="VARCHAR" />
		<result column="merchant_category_name" property="merchantCategoryName"
			jdbcType="VARCHAR" />
		<result column="order_type" property="orderType" jdbcType="VARCHAR" />
		<result column="order_type_name" property="orderTypeName"
			jdbcType="VARCHAR" />
		<result column="pay_type" property="payType" jdbcType="VARCHAR" />
		<result column="pay_type_name" property="payTypeName" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="AmountQuotaResultMap" type="AmountQuota">
		<result column="order_amount" property="orderAmount" jdbcType="BIGINT" />
		<result column="order_total_amount" property="orderTotalPrice" jdbcType="BIGINT" />
		<result column="refund_amount" property="refundAmount" jdbcType="BIGINT" />
		<result column="amount_turnover" property="amountTurnover" jdbcType="BIGINT" />
		<result column="amount_cumulati_turnover" property="amountCumulatiTurnover" jdbcType="BIGINT" />
	</resultMap>
	
	<resultMap id="OrderQuotaResultMap" type="OrderQuota">
		<result column="order_count" property="orderCount" jdbcType="INTEGER" />
		<result column="order_total_count" property="orderUmulation" jdbcType="INTEGER" />
		<result column="refund_count" property="orderRefund" jdbcType="INTEGER" />
		<result column="order_turnover" property="orderTurnover" jdbcType="INTEGER" />
		<result column="order_cumulation_turnover" property="orderCumulationTurnover" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="AmountResultMap" type="Resp">
		
	        <result column="day" property="base.day" jdbcType="VARCHAR" />
			<result column="week" property="base.week" jdbcType="VARCHAR" />
			<result column="month" property="base.month" jdbcType="VARCHAR" />
			<result column="year" property="base.year" jdbcType="VARCHAR" />
			<result column="client_id" property="base.clientId" jdbcType="VARCHAR" />
			<result column="platform" property="base.platform" jdbcType="VARCHAR" />
			<result column="org_code" property="base.orgCode" jdbcType="VARCHAR" />
			<result column="org_name" property="base.orgName" jdbcType="VARCHAR" />
			<result column="org_level" property="base.orgLevel" jdbcType="VARCHAR" />
			<result column="province_org_code" property="base.provinceOrgCode"
				jdbcType="VARCHAR" />
			<result column="city_org_code" property="base.cityOrgCode" jdbcType="VARCHAR" />
			<result column="county_org_code" property="base.countyOrgCode"
				jdbcType="VARCHAR" />
			<result column="village_org_code" property="base.villageOrgCode"
				jdbcType="VARCHAR" />
			<result column="merchant_id" property="base.merchantId" jdbcType="VARCHAR" />
			<result column="merchant_name" property="base.merchantName"
				jdbcType="VARCHAR" />
			<result column="merchant_category_id" property="base.merchantCategoryId"
				jdbcType="VARCHAR" />
			<result column="merchant_category_name" property="base.merchantCategoryName"
				jdbcType="VARCHAR" />
			<result column="order_type" property="base.orderType" jdbcType="VARCHAR" />
			<result column="order_type_name" property="base.orderTypeName"
				jdbcType="VARCHAR" />
			<result column="pay_type" property="base.payType" jdbcType="VARCHAR" />
			<result column="pay_type_name" property="base.payTypeName" jdbcType="VARCHAR" />
    	

			<result column="order_count" property="orderLat.orderCount" jdbcType="INTEGER" />
			<result column="order_total_count" property="orderLat.orderUmulation" jdbcType="INTEGER" />
			<result column="refund_count" property="orderLat.orderRefund" jdbcType="INTEGER" />
			<result column="order_turnover" property="orderLat.orderTurnover" jdbcType="INTEGER" />
			<result column="order_cumulation_turnover" property="orderLat.orderCumulationTurnover" jdbcType="INTEGER" />
		

			<result column="order_amount" property="amountLat.orderAmount" jdbcType="BIGINT" />
			<result column="order_total_amount" property="amountLat.orderTotalPrice" jdbcType="BIGINT" />
			<result column="refund_amount" property="amountLat.refundAmount" jdbcType="BIGINT" />
			<result column="amount_turnover" property="amountLat.amountTurnover" jdbcType="BIGINT" />
			<result column="amount_cumulati_turnover" property="amountLat.amountCumulatiTurnover" jdbcType="BIGINT" />
		
		
	</resultMap>

	<!-- 金额指标、订单指标 涉及到退款数据分页查询 -->
	<select id="findReportPageByAmount" resultMap="AmountResultMap" parameterType="ReqPo">
		SELECT report.client_id,report.platform,
		<if test="reqPo.checkedMerchant==true">
			report.merchant_id, report.merchant_name,
		</if>
		<if test="reqPo.checkedMerchantCategory==true">
			report.merchant_category_id,category.name as merchant_category_name,
		</if>
		<choose>
			<when test="reqPo.countType=='week'">report.year as year,report.week as week,</when>
			<when test="reqPo.countType=='month'">report.year as year,report.month as month,</when>
			<when test="reqPo.countType=='year'">report.year as year,</when>
			<otherwise>DATE_FORMAT(report.create_time,'%Y-%m-%d') as day,</otherwise>
		</choose>
		<!-- -金额指标 -->
		<if test="reqPo.checkedAmount==true">
			sum(report.order_amount) as order_amount,
		</if>
		<if test="reqPo.checkedAmountCumulation==true">
			sum(report.order_total_amount) as order_total_amount,
		</if>
		<if test="reqPo.checkedAmountRefund==true">
			sum(report.refund_amount) as refund_amount,
		</if>
		<if test="reqPo.checkedAmountTurnover==true">
			(sum(report.order_amount)-sum(report.refund_amount)) as amount_turnover,
		</if>
		<if test="reqPo.checkedAmountCumulationTurnover==true">
			(sum(report.order_total_amount)-sum(report.refund_total_amount)) as amount_cumulati_turnover,
		</if>
		<!-- 订单指标  -->
		<if test="reqPo.checkedOrderCount==true">
			sum(report.order_count) as order_count,
		</if>
		<if test="reqPo.checkedOrderCumulation==true">
			sum(report.order_total_count) as order_total_count,
		</if>
		<if test="reqPo.checkedOrderRefund==true">
			sum(report.refund_count) as refund_count,
		</if>
		<if test="reqPo.checkedOrderTurnover==true">
			(sum(report.order_count)-sum(report.refund_count)) as order_turnover,
		</if>
		<if test="reqPo.checkedOrderCumulationTurnover==true">
			(sum(report.order_total_count)-sum(report.refund_total_count)) as order_cumulation_turnover,
		</if>
		<if test="reqPo.orderType!=null">
			report.order_type,
		</if>
		<if test="reqPo.payType!=null">
			report.pay_type,
		</if> 
		org.org_code,org.org_name,org.org_level from (
		<!-- 如果仅仅查询退款金额 -->
		<if test="reqPo.checkedAmount==true or  reqPo.checkedAmountCumulation==true or  reqPo.checkedAmountTurnover==true or  reqPo.checkedAmountCumulationTurnover==true  or  reqPo.checkedOrderCount==true or reqPo.checkedOrderCumulation==true or reqPo.checkedOrderTurnover==true or reqPo.checkedOrderCumulationTurnover==true">
		      SELECT  bo.client_id,bo.platform,
				<choose>
					<when test="reqPo.countType=='week'">bo.year as year,bo.week as week,</when>
					<when test="reqPo.countType=='month'">bo.year as year,bo.month as month,</when>
					<when test="reqPo.countType=='year'">bo.year as year,</when>
					<otherwise>bo.create_time,</otherwise>
				</choose>
				<if test="reqPo.checkedMerchant==true">
					bo.merchant_id, bo.merchant_name,
				</if>
				<if test="reqPo.checkedMerchantCategory==true">
					bo.merchant_category_id,
				</if>
				<if test="reqPo.orderType!=null">
					bo.order_type,
				</if>
				<if test="reqPo.payType!=null">
					bo.pay_type,
				</if> 
				<!-- 金额指标 -->
				<if test="reqPo.checkedAmount==true  or reqPo.checkedAmountTurnover==true">
					bo.order_amount ,
				</if>
				<if test="reqPo.checkedAmountCumulation==true  or reqPo.checkedAmountCumulationTurnover==true">
					bo.order_total_amount ,
				</if>
				<if test="reqPo.checkedAmountRefund==true  or reqPo.checkedAmountTurnover==true">
					0 as refund_amount,
				</if>
				<if test="reqPo.checkedAmountCumulationTurnover==true">
					0 as refund_total_amount ,
				</if> 
				<!-- 订单指标 -->
				<if test="reqPo.checkedOrderCount==true  or reqPo.checkedOrderTurnover==true">
					bo.order_count ,
				</if>
				<if test="reqPo.checkedOrderCumulation==true  or reqPo.checkedOrderCumulationTurnover==true">
					bo.order_total_count ,
				</if>
				<if test="reqPo.checkedOrderRefund==true  or reqPo.checkedOrderTurnover==true">
					0 as refund_count,
				</if>
				<if test="reqPo.checkedOrderCumulationTurnover==true">
					0 as refund_total_count ,
				</if> 
				<choose>
					<when test="reqPo.orgLevel==1"> IFNULL(bo.city_org_code,bo.province_org_code)  as org_code </when>
					<when test="reqPo.orgLevel==2"> IFNULL(bo.county_org_code,bo.city_org_code) as org_code </when>
					<when test="reqPo.orgLevel==3"> IFNULL(bo.village_org_code,bo.county_org_code) as org_code</when>
					<when test="reqPo.orgLevel==4"> bo.org_code </when>
				</choose>
				 FROM bi_bank_order bo 
				<where> 
					<if test="reqPo.clientId!=null">
						AND bo.client_id=#{reqPo.clientId}
					</if>
					<if test="reqPo.platform!=null">
						AND bo.platform=#{reqPo.platform}
					</if>
					<!-- 机构查询条件，机构查询只需要汇总当前机构以及下属机构信息 -->
					<if test="reqPo.orgCode!=null">
						<choose>
							<when test="reqPo.orgLevel==1"> AND bo.province_org_code=#{reqPo.orgCode}   </when>
							<when test="reqPo.orgLevel==2"> AND bo.city_org_code=#{reqPo.orgCode}  </when>
							<when test="reqPo.orgLevel==3"> AND bo.county_org_code=#{reqPo.orgCode} </when>
							<when test="reqPo.orgLevel==4"> AND bo.village_org_code=#{reqPo.orgCode} </when>
						</choose>
					</if>
					<if test="reqPo.startDate != null">
						AND bo.create_time  <![CDATA[ >= ]]>#{reqPo.startDate}
					</if>
					<if test="reqPo.endDate != null">
						AND bo.create_time  <![CDATA[ <= ]]>#{reqPo.endDate}
					</if>
					<if test="reqPo.orderType!=null">
						AND bo.order_type=#{reqPo.orderType}
					</if>
					<if test="reqPo.payType!=null">
						AND bo.pay_type=#{reqPo.payType}
					</if>
				</where>  
		</if> 
		<!-- 如果 退款金额、成交金额、累积成交金额不必查询，则不需要查询退款表 -->
		<if test="reqPo.checkedAmountRefund==true or  reqPo.checkedAmountTurnover==true or  reqPo.checkedAmountCumulationTurnover==true  or reqPo.checkedOrderRefund==true or reqPo.checkedOrderTurnover==true or reqPo.checkedOrderCumulationTurnover==true" >
		     <!-- 如果仅仅需要查询退款金额，则不需要关联订单表 -->
		     <if test="reqPo.checkedAmount==true or  reqPo.checkedAmountCumulation==true or  reqPo.checkedAmountTurnover==true or  reqPo.checkedAmountCumulationTurnover==true  or  reqPo.checkedOrderCount==true or reqPo.checkedOrderCumulation==true or reqPo.checkedOrderTurnover==true or reqPo.checkedOrderCumulationTurnover==true">
		       UNION ALL 
		     </if>
 		      SELECT bor.client_id, bor.platform,
				<choose>
					<when test="reqPo.countType=='week'">bor.year as year,bor.week as week,</when>
					<when test="reqPo.countType=='month'">bor.year as year,bor.month as month,</when>
					<when test="reqPo.countType=='year'">bor.year as year,</when>
					<otherwise>bor.create_time,</otherwise>
				</choose>
				<if test="reqPo.checkedMerchant==true">
					bor.merchant_id, bor.merchant_name,
				</if>
				<if test="reqPo.checkedMerchantCategory==true">
					bor.merchant_category_id,
				</if>
				<if test="reqPo.orderType!=null">
					bor.order_type ,
				</if>
				<if test="reqPo.payType!=null">
					bor.pay_type,
				</if> 
				<!-- 金额指标 -->
				<if test="reqPo.checkedAmount==true  or reqPo.checkedAmountTurnover==true">
					0 as order_amount,
				</if>
				<if test="reqPo.checkedAmountCumulation==true  or reqPo.checkedAmountCumulationTurnover==true">
					0 as order_total_amount,
				</if>
				<if test="reqPo.checkedAmountRefund==true  or reqPo.checkedAmountTurnover==true">
					 bor.refund_amount ,
				</if>
				<if test="reqPo.checkedAmountCumulationTurnover==true">
					 bor.refund_total_amount ,
				</if>
				 <!-- 订单指标    -->
				<if test="reqPo.checkedOrderCount==true  or reqPo.checkedOrderTurnover==true">
					0 as order_count ,
				</if>
				<if test="reqPo.checkedOrderCumulation==true  or reqPo.checkedOrderCumulationTurnover==true">
					0 as order_total_count ,
				</if>
				<if test="reqPo.checkedOrderRefund==true  or reqPo.checkedOrderTurnover==true">
					bor.refund_count as refund_count,
				</if>
				<if test="reqPo.checkedOrderCumulationTurnover==true">
					bor.refund_total_count as refund_total_count ,
				</if>
				<choose>
					<when test="reqPo.orgLevel==1"> IFNULL(bor.city_org_code,bor.province_org_code)  as org_code </when>
					<when test="reqPo.orgLevel==2"> IFNULL(bor.county_org_code,bor.city_org_code) as org_code </when>
					<when test="reqPo.orgLevel==3"> IFNULL(bor.village_org_code,bor.county_org_code) as org_code</when>
					<when test="reqPo.orgLevel==4"> bor.org_code </when>
				</choose>
				 FROM bi_bank_order_refund bor  
				<where>
					<if test="reqPo.clientId!=null">
						AND bor.client_id=#{reqPo.clientId}
					</if>
					<if test="reqPo.platform!=null">
						AND bor.platform=#{reqPo.platform}
					</if>
					<!-- 机构查询条件，机构查询只需要汇总当前机构以及下属机构信息 -->
					<if test="reqPo.orgCode!=null">
						<choose>
							<when test="reqPo.orgLevel==1"> AND bor.province_org_code=#{reqPo.orgCode}  </when>
							<when test="reqPo.orgLevel==2"> AND bor.city_org_code=#{reqPo.orgCode}  </when>
							<when test="reqPo.orgLevel==3"> AND bor.county_org_code=#{reqPo.orgCode} </when>
							<when test="reqPo.orgLevel==4"> AND bor.village_org_code=#{reqPo.orgCode} </when>
						</choose>
					</if>
					<if test="reqPo.startDate != null">
						AND bor.create_time  <![CDATA[ >= ]]>#{reqPo.startDate}
					</if>
					<if test="reqPo.endDate != null">
						AND bor.create_time  <![CDATA[ <= ]]>#{reqPo.endDate}
					</if>
					<if test="reqPo.orderType!=null">
						AND bor.order_type=#{reqPo.orderType}
					</if>
					<if test="reqPo.payType!=null">
						AND bor.pay_type=#{reqPo.payType}
					</if>
				</where> 
		</if>  
		) as report,vw_cb_org org
		<if test="reqPo.checkedMerchantCategory==true">
		   ,vw_cb_merchant_category category
		</if>
		   where report.org_code=org.org_code 
		<if test="reqPo.checkedMerchantCategory==true">
		   and report.merchant_category_id=category.id 
		</if>
		GROUP BY
		<choose>
			<when test="reqPo.countType=='week'">report.year,report.week,</when>
			<when test="reqPo.countType=='month'">report.year,report.month,</when>
			<when test="reqPo.countType=='year'">report.year,</when>
			<otherwise>report.create_time,</otherwise>
		</choose>
		<!-- 如果选择商户纬度，则机构、商户类目可不考虑排序，只需要作为显示 -->
		<if test="reqPo.checkedMerchant==true">
			report.merchant_id
		</if>
		<!-- 如果未选择商户维度，但是选择商户类目，则按照商户类目分组,如果没选择商户分组，则按照机构来分类 -->
		<if test="reqPo.checkedMerchant==false">
			<if test="reqPo.checkedMerchantCategory==true">
				report.merchant_category_id
			</if>
			<if test="reqPo.checkedMerchantCategory==false"> 
				report.org_code 
			</if>
		</if>
	  order by
		<choose>
			<when test="reqPo.countType=='week'">report.year desc,report.week desc </when>
			<when test="reqPo.countType=='month'">report.year desc,report.month desc </when>
			<when test="reqPo.countType=='year'">report.year desc </when>
			<otherwise>report.create_time desc </otherwise>
		</choose> 
		limit #{reqPo.begNumber},#{reqPo.pageSize}
	</select>
	
	<select id="sumAmountOrOrder" resultMap="AmountResultMap" parameterType="ReqPo"> 
			SELECT   sum(bo.order_amount) as order_amount , sum(bo.order_count) as order_count   FROM bi_bank_order bo  
				<where> 
					<if test="reqPo.clientId!=null">
						AND bo.client_id=#{reqPo.clientId}
					</if>
					<if test="reqPo.platform!=null">
						AND bo.platform=#{reqPo.platform}
					</if>
					<!-- 机构查询条件，机构查询只需要汇总当前机构以及下属机构信息 -->
					<if test="reqPo.orgCode!=null">
					    <if test="reqPo.hasMyself==true">
					        AND bo.org_code=#{reqPo.orgCode} 
					    </if>
					    <if test="reqPo.hasMyself==false">
							AND (bo.province_org_code=#{reqPo.orgCode} or bo.city_org_code=#{reqPo.orgCode} or bo.county_org_code=#{reqPo.orgCode} or bo.village_org_code=#{reqPo.orgCode})
						</if> 
					</if>
					<!-- <if test="reqPo.startDate != null">
						AND bo.create_time  <![CDATA[ >= ]]>#{reqPo.startDate}
					</if> -->
					<if test="reqPo.endDate != null">
						AND bo.create_time  <![CDATA[ <= ]]>#{reqPo.endDate}
					</if> 
					 <!-- <if test="reqPo.startYear != null">
						AND bo.year  <![CDATA[ >= ]]>#{reqPo.startYear}
					</if>  
					<if test="reqPo.endYear != null">
						AND bo.year  <![CDATA[ <= ]]>#{reqPo.endYear}
					</if> 
					<if test="reqPo.startMonth != null">
						AND bo.month  <![CDATA[ >= ]]>#{reqPo.startMonth}
					</if>  
					<if test="reqPo.endMonth != null">
						AND bo.month  <![CDATA[ <= ]]>#{reqPo.endMonth}
					</if> 
					 <if test="reqPo.startWeek != null">
						AND bo.week  <![CDATA[ >= ]]>#{reqPo.startWeek}
					</if>
					<if test="reqPo.endWeek != null">
						AND bo.week  <![CDATA[ <= ]]>#{reqPo.endWeek}
					</if>  -->
					<if test="reqPo.orderType!=null">
						AND bo.order_type=#{reqPo.orderType} 
					</if>
					<if test="reqPo.payType!=null">
						AND bo.pay_type=#{reqPo.payType} 
					</if>
					<if test="reqPo.merchantId!=null">
						AND bo.merchant_id=#{reqPo.merchantId} 
					</if>
					<if test="reqPo.merchantCategoryId!=null">
						AND bo.merchant_category_id=#{reqPo.merchantCategoryId}
					</if>
				</where>   
	</select>
	
	<select id="sumRefundAmountOrOrder" resultMap="AmountResultMap" parameterType="ReqPo"> 
			SELECT   sum(bo.refund_amount) as refund_amount , sum(bo.refund_count) as refund_count   FROM bi_bank_order_refund bo 
				<where> 
					<if test="reqPo.clientId!=null">
						AND bo.client_id=#{reqPo.clientId}
					</if>
					<if test="reqPo.platform!=null">
						AND bo.platform=#{reqPo.platform}
					</if>
					<!-- 机构查询条件，机构查询只需要汇总当前机构以及下属机构信息 -->
					<if test="reqPo.orgCode!=null">
 						<if test="reqPo.hasMyself==true">
					        AND bo.org_code=#{reqPo.orgCode} 
					    </if>
					    <if test="reqPo.hasMyself==false">
							AND (bo.province_org_code=#{reqPo.orgCode} or bo.city_org_code=#{reqPo.orgCode} or bo.county_org_code=#{reqPo.orgCode} or bo.village_org_code=#{reqPo.orgCode})
						</if> 					
					</if>
					<!-- <if test="reqPo.startDate != null">
						AND bo.create_time  <![CDATA[ >= ]]>#{reqPo.startDate}
					</if> -->
					<if test="reqPo.endDate != null">
						AND bo.create_time  <![CDATA[ <= ]]>#{reqPo.endDate}
					</if> 
				<!-- 	<if test="reqPo.startYear != null">
						AND bo.year  <![CDATA[ >= ]]>#{reqPo.startYear}
					</if> 
					<if test="reqPo.endYear != null">
						AND bo.year  <![CDATA[ <= ]]>#{reqPo.endYear}
					</if> 
					 <if test="reqPo.startMonth != null">
						AND bo.month  <![CDATA[ >= ]]>#{reqPo.startMonth}
					</if>  
					<if test="reqPo.endMonth != null">
						AND bo.month  <![CDATA[ <= ]]>#{reqPo.endMonth}
					</if> 
					 <if test="reqPo.startWeek != null">
						AND bo.week  <![CDATA[ >= ]]>#{reqPo.startWeek}
					</if> 
					<if test="reqPo.endWeek != null">
						AND bo.week  <![CDATA[ <= ]]>#{reqPo.endWeek}
					</if> -->
					<if test="reqPo.orderType!=null">
						AND bo.order_type=#{reqPo.orderType} 
					</if>
					<if test="reqPo.payType!=null">
						AND bo.pay_type=#{reqPo.payType} 
					</if>
					<if test="reqPo.merchantId!=null">
						AND bo.merchant_id=#{reqPo.merchantId} 
					</if>
					<if test="reqPo.merchantCategoryId!=null">
						AND bo.merchant_category_id=#{reqPo.merchantCategoryId}
					</if>
				</where>   
	</select>
	
	
	<select id="findReportPageCountByAmount" resultType="java.lang.Integer" parameterType="ReqPo">
	   select COUNT(0) from ( 
	      SELECT report.client_id,report.platform,
		<if test="reqPo.checkedMerchant==true">
			report.merchant_id, report.merchant_name,
		</if>
		<if test="reqPo.checkedMerchantCategory==true">
			report.merchant_category_id,
		</if>
		<choose>
			<when test="reqPo.countType=='week'">report.year as year,report.week as week,</when>
			<when test="reqPo.countType=='month'">report.year as year,report.month as month,</when>
			<when test="reqPo.countType=='year'">report.year as year,</when>
			<otherwise>DATE_FORMAT(report.create_time,'%Y-%m-%d') as day,</otherwise>
		</choose>
		<!-- 金额指标 -->
		<if test="reqPo.checkedAmount==true">
			sum(report.order_amount) as order_amount,
		</if>
		<if test="reqPo.checkedAmountCumulation==true">
			sum(report.order_total_amount) as order_total_amount,
		</if>
		<if test="reqPo.checkedAmountRefund==true">
			sum(report.refund_amount) as refund_amount,
		</if>
		<if test="reqPo.checkedAmountTurnover==true">
			(sum(report.order_amount)-sum(report.refund_amount)) as amount_turnover,
		</if>
		<if test="reqPo.checkedAmountCumulationTurnover==true">
			(sum(report.order_total_amount)-sum(report.refund_total_amount)) as amount_cumulati_turnover,
		</if>
		<!-- 订单指标 -->  
		<if test="reqPo.checkedOrderCount==true">
			sum(report.order_count) as order_count,
		</if>
		<if test="reqPo.checkedOrderCumulation==true">
			sum(report.order_total_count) as order_total_count,
		</if>
		<if test="reqPo.checkedOrderRefund==true">
			sum(report.refund_count) as refund_count,
		</if>
		<if test="reqPo.checkedOrderTurnover==true">
			(sum(report.order_count)-sum(report.refund_count)) as order_turnover,
		</if>
		<if test="reqPo.checkedOrderCumulationTurnover==true">
			(sum(report.order_total_count)-sum(report.refund_total_count)) as order_cumulation_turnover,
		</if>
		<if test="reqPo.orderType!=null">
			report.order_type,
		</if>
		<if test="reqPo.payType!=null">
			report.pay_type,
		</if> 
		org.org_code,org.org_name from (
		<!-- 如果仅仅查询退款金额 -->
		<if test="reqPo.checkedAmount==true or  reqPo.checkedAmountCumulation==true or  reqPo.checkedAmountTurnover==true or  reqPo.checkedAmountCumulationTurnover==true or  reqPo.checkedOrderCount==true or reqPo.checkedOrderCumulation==true or reqPo.checkedOrderTurnover==true or reqPo.checkedOrderCumulationTurnover==true" >
		      SELECT  bo.client_id,bo.platform,
				<choose>
					<when test="reqPo.countType=='week'">bo.year as year,bo.week as week,</when>
					<when test="reqPo.countType=='month'">bo.year as year,bo.month as month,</when>
					<when test="reqPo.countType=='year'">bo.year as year,</when>
					<otherwise>bo.create_time,</otherwise>
				</choose>
				<if test="reqPo.checkedMerchant==true">
					bo.merchant_id, bo.merchant_name,
				</if>
				<if test="reqPo.checkedMerchantCategory==true">
					bo.merchant_category_id,
				</if>
				<if test="reqPo.orderType!=null">
					bo.order_type,
				</if>
				<if test="reqPo.payType!=null">
					bo.pay_type,
				</if> 
				<!-- 金额指标 -->
				<if test="reqPo.checkedAmount==true  or reqPo.checkedAmountTurnover==true">
					bo.order_amount ,
				</if>
				<if test="reqPo.checkedAmountCumulation==true  or reqPo.checkedAmountCumulationTurnover==true">
					bo.order_total_amount ,
				</if>
				<if test="reqPo.checkedAmountRefund==true  or reqPo.checkedAmountTurnover==true">
					0 as refund_amount,
				</if>
				<if test="reqPo.checkedAmountCumulationTurnover==true">
					0 as refund_total_amount ,
				</if> 
				<!-- 订单指标 -->
				<if test="reqPo.checkedOrderCount==true  or reqPo.checkedOrderTurnover==true">
					bo.order_count ,
				</if>
				<if test="reqPo.checkedOrderCumulation==true  or reqPo.checkedOrderCumulationTurnover==true">
					bo.order_total_count ,
				</if>
				<if test="reqPo.checkedOrderRefund==true  or reqPo.checkedOrderTurnover==true">
					0 as refund_count,
				</if>
				<if test="reqPo.checkedOrderCumulationTurnover==true">
					0 as refund_total_count ,
				</if> 
				 <choose>
					<when test="reqPo.orgLevel==1"> IFNULL(bo.city_org_code,bo.province_org_code)  as org_code </when>
					<when test="reqPo.orgLevel==2"> IFNULL(bo.county_org_code,bo.city_org_code) as org_code </when>
					<when test="reqPo.orgLevel==3"> IFNULL(bo.village_org_code,bo.county_org_code) as org_code</when>
					<when test="reqPo.orgLevel==4"> bo.org_code </when>
				</choose>
				 FROM bi_bank_order bo 
				<where> 
					<if test="reqPo.clientId!=null">
						AND bo.client_id=#{reqPo.clientId}
					</if>
					<if test="reqPo.platform!=null">
						AND bo.platform=#{reqPo.platform}
					</if>
					<!-- 机构查询条件，机构查询只需要汇总当前机构以及下属机构信息 -->
					<if test="reqPo.orgCode!=null">
						<choose>
							<when test="reqPo.orgLevel==1"> AND bo.province_org_code=#{reqPo.orgCode}   </when>
							<when test="reqPo.orgLevel==2"> AND bo.city_org_code=#{reqPo.orgCode}  </when>
							<when test="reqPo.orgLevel==3"> AND bo.county_org_code=#{reqPo.orgCode} </when>
							<when test="reqPo.orgLevel==4"> AND bo.village_org_code=#{reqPo.orgCode} </when>
						</choose>
					</if>
					<if test="reqPo.startDate != null">
						AND bo.create_time  <![CDATA[ >= ]]>#{reqPo.startDate}
					</if>
					<if test="reqPo.endDate != null">
						AND bo.create_time  <![CDATA[ <= ]]>#{reqPo.endDate}
					</if>
					<if test="reqPo.orderType!=null">
						AND bo.order_type=#{reqPo.orderType}
					</if>
					<if test="reqPo.payType!=null">
						AND bo.pay_type=#{reqPo.payType}
					</if>
				</where>  
		</if> 
		<!-- 如果 退款金额、成交金额、累积成交金额不必查询，则不需要查询退款表 -->
		<if test="reqPo.checkedAmountRefund==true or  reqPo.checkedAmountTurnover==true or  reqPo.checkedAmountCumulationTurnover==true or reqPo.checkedOrderRefund==true or reqPo.checkedOrderTurnover==true or reqPo.checkedOrderCumulationTurnover==true" >
		     <!-- 如果仅仅需要查询退款金额，则不需要关联订单表 -->
		     <if test="reqPo.checkedAmount==true or  reqPo.checkedAmountCumulation==true or  reqPo.checkedAmountTurnover==true or  reqPo.checkedAmountCumulationTurnover==true or reqPo.checkedOrderCount==true or reqPo.checkedOrderCumulation==true or reqPo.checkedOrderTurnover==true or reqPo.checkedOrderCumulationTurnover==true" >
		       UNION ALL 
		     </if>
 		      SELECT bor.client_id, bor.platform,
				<choose>
					<when test="reqPo.countType=='week'">bor.year as year,bor.week as week,</when>
					<when test="reqPo.countType=='month'">bor.year as year,bor.month as month,</when>
					<when test="reqPo.countType=='year'">bor.year as year,</when>
					<otherwise>bor.create_time,</otherwise>
				</choose>
				<if test="reqPo.checkedMerchant==true">
					bor.merchant_id, bor.merchant_name,
				</if>
				<if test="reqPo.checkedMerchantCategory==true">
					bor.merchant_category_id,
				</if>
				<if test="reqPo.orderType!=null">
					bor.order_type,
				</if>
				<if test="reqPo.payType!=null">
					bor.pay_type,
				</if> 
				<!-- 金额指标 -->
				<if test="reqPo.checkedAmount==true  or reqPo.checkedAmountTurnover==true">
					0 as order_amount,
				</if>
				<if test="reqPo.checkedAmountCumulation==true  or reqPo.checkedAmountCumulationTurnover==true">
					0 as order_total_amount,
				</if>
				<if test="reqPo.checkedAmountRefund==true  or reqPo.checkedAmountTurnover==true">
					 bor.refund_amount ,
				</if>
				<if test="reqPo.checkedAmountCumulationTurnover==true">
					 bor.refund_total_amount ,
				</if>
				<!-- 订单指标 -->  
				<if test="reqPo.checkedOrderCount==true  or reqPo.checkedOrderTurnover==true">
					0 as order_count ,
				</if>
				<if test="reqPo.checkedOrderCumulation==true  or reqPo.checkedOrderCumulationTurnover==true">
					0 as order_total_count ,
				</if>
				<if test="reqPo.checkedOrderRefund==true  or reqPo.checkedOrderTurnover==true">
					bor.refund_count as refund_count,
				</if>
				<if test="reqPo.checkedOrderCumulationTurnover==true">
					bor.refund_total_count as refund_total_count ,
				</if> 
				<choose>
					<when test="reqPo.orgLevel==1"> IFNULL(bor.city_org_code,bor.province_org_code)  as org_code </when>
					<when test="reqPo.orgLevel==2"> IFNULL(bor.county_org_code,bor.city_org_code) as org_code </when>
					<when test="reqPo.orgLevel==3"> IFNULL(bor.village_org_code,bor.county_org_code) as org_code</when>
					<when test="reqPo.orgLevel==4"> bor.org_code </when>
				</choose>
				 FROM bi_bank_order_refund bor  
				<where>
					<if test="reqPo.clientId!=null">
						AND bor.client_id=#{reqPo.clientId}
					</if>
					<if test="reqPo.platform!=null">
						AND bor.platform=#{reqPo.platform}
					</if>
					<!-- 机构查询条件，机构查询只需要汇总当前机构以及下属机构信息 -->
					<if test="reqPo.orgCode!=null">
						<choose>
							<when test="reqPo.orgLevel==1"> AND bor.province_org_code=#{reqPo.orgCode} </when>
							<when test="reqPo.orgLevel==2"> AND bor.city_org_code=#{reqPo.orgCode} </when>
							<when test="reqPo.orgLevel==3"> AND bor.county_org_code=#{reqPo.orgCode} </when>
							<when test="reqPo.orgLevel==4"> AND bor.village_org_code=#{reqPo.orgCode} </when>
						</choose>
					</if>
					<if test="reqPo.startDate != null">
						AND bor.create_time  <![CDATA[ >= ]]>#{reqPo.startDate}
					</if>
					<if test="reqPo.endDate != null">
						AND bor.create_time  <![CDATA[ <= ]]>#{reqPo.endDate}
					</if>
					<if test="reqPo.orderType!=null">
						AND bor.order_type=#{reqPo.orderType}
					</if>
					<if test="reqPo.payType!=null">
						AND bor.pay_type=#{reqPo.payType}
					</if>
				</where>
		
		</if>  
		) as report,vw_cb_org org  where report.org_code=org.org_code 
		GROUP BY
		<choose>
			<when test="reqPo.countType=='week'">report.year,report.week,</when>
			<when test="reqPo.countType=='month'">report.year,report.month,</when>
			<when test="reqPo.countType=='year'">report.year ,</when>
			<otherwise>report.create_time,</otherwise>
		</choose>
		<!-- 如果选择商户纬度，则机构、商户类目可不考虑排序，只需要作为显示 -->
		<if test="reqPo.checkedMerchant==true">
			report.merchant_id
		</if>
		<!-- 如果未选择商户维度，但是选择商户类目，则按照商户类目分组,如果没选择商户分组，则按照机构来分类 -->
		<if test="reqPo.checkedMerchant==false">
			<if test="reqPo.checkedMerchantCategory==true">
				report.merchant_category_id
			</if>
			<if test="reqPo.checkedMerchantCategory==false">
				report.org_code
			</if>
		</if>  
		 ) as report_count 
	</select> 
	   
</mapper>