<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.froad.db.mysql.mapper.DefineTaskMapper">

	<resultMap id="DefineTaskResultMap" type="DefineTaskResp">
		<result column="client_id" property="clientId" jdbcType="VARCHAR" />
		<result column="login_id" property="loginId" jdbcType="BIGINT" />
		<result column="commit_time" property="commitTimes" jdbcType="VARCHAR" />
		<result column="complete_time" property="completeTimes" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
	
	</resultMap>

	
 	<select id="getDefineTaskRespByPage" resultMap="DefineTaskResultMap" parameterType="DefineTaskReq">
 			SELECT 
 				client_id,login_id,DATE_FORMAT(commit_time,'%Y-%m-%d %T') as commit_time ,DATE_FORMAT(complete_time,'%Y-%m-%d %T') as complete_time ,status,url
        	FROM bi_define_task
        	<if test="defineTaskReq != null">
	        	<where>
	        		<if test="defineTaskReq.clientId != null">
	        			AND client_id = #{defineTaskReq.clientId}
	        		</if>
	        		<if test="defineTaskReq.loginId != null">
	        			AND login_id = #{defineTaskReq.loginId}
	        		</if>
	        	</where> 
        	</if>
	</select>
	
</mapper>