<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.froad.db.mysql.mapper.MerchantMapper">

	<resultMap id="BaseRespResultMap" type="BaseResp">
		<result column="day" property="day" jdbcType="VARCHAR" />
		<result column="week" property="week" jdbcType="VARCHAR" />
		<result column="month" property="month" jdbcType="VARCHAR" />
		<result column="year" property="year" jdbcType="VARCHAR" />
		<result column="client_id" property="clientId" jdbcType="VARCHAR" />
		<result column="platform" property="platform" jdbcType="VARCHAR" />
		<result column="org_code" property="orgCode" jdbcType="VARCHAR" />
		<result column="org_name" property="orgName" jdbcType="VARCHAR" />
		<result column="province_org_code" property="provinceOrgCode"
			jdbcType="VARCHAR" />
		<result column="city_org_code" property="cityOrgCode" jdbcType="VARCHAR" />
		<result column="county_org_code" property="countyOrgCode"
			jdbcType="VARCHAR" />
		<result column="village_org_code" property="villageOrgCode"
			jdbcType="VARCHAR" />
		<result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
		<result column="merchant_name" property="merchantName"
			jdbcType="VARCHAR" />
		<result column="merchant_category_id" property="merchantCategoryId"
			jdbcType="VARCHAR" />
		<result column="merchant_category_name" property="merchantCategoryName"
			jdbcType="VARCHAR" />
		<result column="order_type" property="orderType" jdbcType="VARCHAR" />
		<result column="order_type_name" property="orderTypeName"
			jdbcType="VARCHAR" />
		<result column="pay_type" property="payType" jdbcType="VARCHAR" />
		<result column="pay_type_name" property="payTypeName" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="MerchantInfoMap" type="MerchantInfoResp">
		<result column="merchant_count" property="merchantCount" jdbcType="INTEGER" />
		<result column="cancel_merchant_count" property="merchantCancelContract" jdbcType="INTEGER" />
		<result column="total_merchant_count" property="merchantCumulation" jdbcType="INTEGER" />
		<result column="outlet_Sum" property="outletSum" jdbcType="INTEGER" />
		<result column="outlet_Cumulation" property="outletCumulation" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="MerchantInfoResultMap" type="Resp">
		<!-- 基础信息 -->
		<result column="day" property="base.day" jdbcType="VARCHAR" />
		<result column="week" property="base.week" jdbcType="VARCHAR" />
		<result column="month" property="base.month" jdbcType="VARCHAR" />
		<result column="year" property="base.year" jdbcType="VARCHAR" />
		<result column="client_id" property="base.clientId" jdbcType="VARCHAR" />
		<result column="platform" property="base.platform" jdbcType="VARCHAR" />
		<result column="org_code" property="base.orgCode" jdbcType="VARCHAR" />
		<result column="org_name" property="base.orgName" jdbcType="VARCHAR" />
		<result column="org_level" property="base.orgLevel" jdbcType="VARCHAR" />
		<result column="province_org_code" property="base.provinceOrgCode"
			jdbcType="VARCHAR" />
		<result column="city_org_code" property="base.cityOrgCode" jdbcType="VARCHAR" />
		<result column="county_org_code" property="base.countyOrgCode"
			jdbcType="VARCHAR" />
		<result column="village_org_code" property="base.villageOrgCode"
			jdbcType="VARCHAR" />
		<result column="merchant_id" property="base.merchantId" jdbcType="VARCHAR" />
		<result column="merchant_name" property="base.merchantName"
			jdbcType="VARCHAR" />
		<result column="merchant_category_id" property="base.merchantCategoryId"
			jdbcType="VARCHAR" />
		<result column="merchant_category_name" property="base.merchantCategoryName"
			jdbcType="VARCHAR" />
		<result column="order_type" property="base.orderType" jdbcType="VARCHAR" />
		<result column="order_type_name" property="base.orderTypeName"
			jdbcType="VARCHAR" />
		<result column="pay_type" property="base.payType" jdbcType="VARCHAR" />
		<result column="pay_type_name" property="base.payTypeName" jdbcType="VARCHAR" />
		<!-- 商户信息 -->
		<result column="merchant_count" property="merchantInfoResp.merchantCount" jdbcType="INTEGER" />
		<result column="cancel_merchant_count" property="merchantInfoResp.merchantCancelContract" jdbcType="INTEGER" />
		<result column="total_merchant_count" property="merchantInfoResp.merchantCumulation" jdbcType="INTEGER" />
		<result column="outlet_Sum" property="merchantInfoResp.outletSum" jdbcType="INTEGER" />
		<result column="outlet_Cumulation" property="merchantInfoResp.outletCumulation" jdbcType="INTEGER" />
		
	</resultMap>

	<!-- 商户指标分页查询 -->
	<select id="findReportMerchantInfoByPage" resultMap="MerchantInfoResultMap" parameterType="ReqPo">
		SELECT merchant.client_id,merchant.platform,
		<choose>
			<when test="reqPo.countType=='week'">merchant.year as year, merchant.week as week,</when>
			<when test="reqPo.countType=='month'">merchant.year as year, merchant.month as month,</when>
			<when test="reqPo.countType=='year'">merchant.year as year,</when>
			<otherwise>DATE_FORMAT(merchant.create_time,'%Y-%m-%d') as day,</otherwise>
		</choose>
		<!-- 商户指标 -->
		<if test="reqPo.checkedMerchantSum==true">
			sum(merchant.new_merchant_count-merchant.cancel_merchant_count) as merchant_count,
		</if>
		<if test="reqPo.checkedMerchantCancelContract==true">
			sum(merchant.cancel_merchant_count) as cancel_merchant_count,
		</if>
		<if test="reqPo.checkedMerchantCumulation==true">
			sum(merchant.total_merchant_count) as total_merchant_count,
		</if>
		<if test="reqPo.checkedOutletCount==true">
			sum(merchant.new_outlet_count) as outlet_Sum,
		</if>
		<if test="reqPo.checkedOutletCumulation==true">
			sum(merchant.total_outlet_count) as outlet_Cumulation,
		</if>
		org.org_code,org.org_name,org.org_level   
		FROM bi_bank_merchant as merchant 
		LEFT JOIN vw_cb_org as org ON 
		<choose>
			<when test="reqPo.orgLevel==1"> IFNULL(merchant.city_org_code,merchant.province_org_code)=org.org_code </when>
			<when test="reqPo.orgLevel==2"> IFNULL(merchant.county_org_code,merchant.city_org_code)=org.org_code </when>
			<when test="reqPo.orgLevel==3"> IFNULL(merchant.village_org_code,merchant.county_org_code)=org.org_code</when>
		</choose> 
			AND merchant.client_id=org.client_id 
		<where> 
			<if test="reqPo.clientId!=null">
				AND merchant.client_id=#{reqPo.clientId} 
			</if>
			<if test="reqPo.platform!=null">
				AND merchant.platform=#{reqPo.platform} 
			</if>
			<!-- 机构查询条件，机构查询只需要汇总当前机构以及下属机构信息 -->
			<if test="reqPo.orgCode!=null">
				<choose>
					<when test="reqPo.orgLevel==1"> AND merchant.province_org_code=#{reqPo.orgCode}</when>
					<when test="reqPo.orgLevel==2"> AND merchant.city_org_code=#{reqPo.orgCode} </when>
					<when test="reqPo.orgLevel==3"> AND merchant.county_org_code=#{reqPo.orgCode} </when>
					<when test="reqPo.orgLevel==4"> AND merchant.village_org_code=#{reqPo.orgCode} </when>
				</choose>
			</if>
			<if test="reqPo.startDate != null">
				AND merchant.create_time  <![CDATA[ >= ]]>#{reqPo.startDate}
			</if>
			<if test="reqPo.endDate != null">
				AND merchant.create_time  <![CDATA[ <= ]]>#{reqPo.endDate}
			</if>
		</where>  
		GROUP BY
		<choose>
			<when test="reqPo.countType=='week'">merchant.year,merchant.week,</when>
			<when test="reqPo.countType=='month'">merchant.year,merchant.month,</when>
			<when test="reqPo.countType=='year'">merchant.year,</when>
			<otherwise>merchant.create_time,</otherwise>
		</choose>
		<!-- 如果选择商户纬度，则机构、商户类目可不考虑排序，只需要作为显示 -->
		<if test="reqPo.checkedMerchant==true">
			merchant.merchant_id
		</if>
		<!-- 如果未选择商户维度，但是选择商户类目，则按照商户类目分组,如果没选择商户分组，则按照机构来分类 -->
		<if test="reqPo.checkedMerchant==false">
			<if test="reqPo.checkedMerchantCategory==true">
				merchant.merchant_category_id
			</if>
			<if test="reqPo.checkedMerchantCategory==false"> 
				<choose>
					<when test="reqPo.orgLevel==1"> merchant.city_org_code  </when>
					<when test="reqPo.orgLevel==2"> merchant.county_org_code </when>
					<when test="reqPo.orgLevel==3"> merchant.village_org_code </when>
				</choose> 
			</if>
		</if>
		order by
		<choose>
			<when test="reqPo.countType=='week'">merchant.year desc,merchant.week desc </when>
			<when test="reqPo.countType=='month'">merchant.year desc,merchant.month desc </when>
			<when test="reqPo.countType=='year'">merchant.year desc </when>
			<otherwise>merchant.create_time desc </otherwise>
		</choose> 
	</select>
	 
	 <select id="getMerchantCount" resultType="java.lang.Integer" parameterType="ReqPo">
	 	SELECT COUNT(0) FROM 
	 	(SELECT merchant.client_id 
		FROM bi_bank_merchant as merchant 
		LEFT JOIN vw_cb_org as org ON 
		<choose>
			<when test="reqPo.orgLevel==1"> IFNULL(merchant.city_org_code,merchant.province_org_code)=org.org_code </when>
			<when test="reqPo.orgLevel==2"> IFNULL(merchant.county_org_code,merchant.city_org_code)=org.org_code </when>
			<when test="reqPo.orgLevel==3"> IFNULL(merchant.village_org_code,merchant.county_org_code)=org.org_code</when>
		</choose> 
			AND merchant.client_id=org.client_id 
		<where> 
			<if test="reqPo.clientId!=null">
				AND merchant.client_id=#{reqPo.clientId} 
			</if>
			<if test="reqPo.platform!=null">
				AND merchant.platform=#{reqPo.platform} 
			</if>
			<!-- 机构查询条件，机构查询只需要汇总当前机构以及下属机构信息 -->
			<if test="reqPo.orgCode!=null">
				<choose>
					<when test="reqPo.orgLevel==1"> AND merchant.province_org_code=#{reqPo.orgCode}</when>
					<when test="reqPo.orgLevel==2"> AND merchant.city_org_code=#{reqPo.orgCode} </when>
					<when test="reqPo.orgLevel==3"> AND merchant.county_org_code=#{reqPo.orgCode} </when>
					<when test="reqPo.orgLevel==4"> AND merchant.village_org_code=#{reqPo.orgCode} </when>
				</choose>
			</if>
			<if test="reqPo.startDate != null">
				AND merchant.create_time  <![CDATA[ >= ]]>#{reqPo.startDate}
			</if>
			<if test="reqPo.endDate != null">
				AND merchant.create_time  <![CDATA[ <= ]]>#{reqPo.endDate}
			</if>
		</where>  
		GROUP BY
		<choose>
			<when test="reqPo.countType=='week'">merchant.year,merchant.week,</when>
			<when test="reqPo.countType=='month'">merchant.year,merchant.month,</when>
			<when test="reqPo.countType=='year'">merchant.year,</when>
			<otherwise>merchant.create_time,</otherwise>
		</choose>
		<!-- 如果选择商户纬度，则机构、商户类目可不考虑排序，只需要作为显示 -->
		<if test="reqPo.checkedMerchant==true">
			merchant.merchant_id
		</if>
		<!-- 如果未选择商户维度，但是选择商户类目，则按照商户类目分组,如果没选择商户分组，则按照机构来分类 -->
		<if test="reqPo.checkedMerchant==false">
			<if test="reqPo.checkedMerchantCategory==true">
				merchant.merchant_category_id
			</if>
			<if test="reqPo.checkedMerchantCategory==false"> 
				<choose>
					<when test="reqPo.orgLevel==1"> merchant.city_org_code  </when>
					<when test="reqPo.orgLevel==2"> merchant.county_org_code </when>
					<when test="reqPo.orgLevel==3"> merchant.village_org_code </when>
				</choose> 
			</if>
		</if>
		) AS merchant_count
	 </select>
	 
	 
	 
	 <select id="sumMerchantCount" resultMap="MerchantInfoResultMap" parameterType="ReqPo"> 
 			SELECT sum(bo.new_merchant_count-bo.cancel_merchant_count) as total_merchant_count,sum(bo.new_outlet_count) as outlet_Cumulation  
		FROM bi_bank_merchant as bo
				<where> 
					<if test="reqPo.clientId!=null">
						AND bo.client_id=#{reqPo.clientId}
					</if>
					<if test="reqPo.platform!=null">
						AND bo.platform=#{reqPo.platform}
					</if>
					<!-- 机构查询条件，机构查询只需要汇总当前机构以及下属机构信息 -->
					<if test="reqPo.orgCode!=null">
						<if test="reqPo.hasMyself==true">
					        AND bo.org_code=#{reqPo.orgCode} 
					    </if>
					    <if test="reqPo.hasMyself==false">
							AND (bo.province_org_code=#{reqPo.orgCode} or bo.city_org_code=#{reqPo.orgCode} or bo.county_org_code=#{reqPo.orgCode} or bo.village_org_code=#{reqPo.orgCode})
						</if> 
					</if>
					<!-- <if test="reqPo.startDate != null">
						AND bo.create_time  <![CDATA[ >= ]]>#{reqPo.startDate}
					</if> -->
					<if test="reqPo.endDate != null">
						AND bo.create_time  <![CDATA[ <= ]]>#{reqPo.endDate}
					</if> 
					<!-- <if test="reqPo.startYear != null">
						AND bo.year  <![CDATA[ >= ]]>#{reqPo.startYear}
					</if>
					<if test="reqPo.endYear != null">
						AND bo.year  <![CDATA[ <= ]]>#{reqPo.endYear}
					</if> 
					  <if test="reqPo.startMonth != null">
						AND bo.month  <![CDATA[ >= ]]>#{reqPo.startMonth}
					</if> 
					<if test="reqPo.endMonth != null">
						AND bo.month  <![CDATA[ <= ]]>#{reqPo.endMonth}
					</if> 
					 <if test="reqPo.startWeek != null">
						AND bo.week  <![CDATA[ >= ]]>#{reqPo.startWeek}
					</if> 
					<if test="reqPo.endWeek != null">
						AND bo.week  <![CDATA[ <= ]]>#{reqPo.endWeek}
					</if> -->
					<if test="reqPo.merchantId!=null">
						AND bo.merchant_id=#{reqPo.merchantId} 
					</if>
					<if test="reqPo.merchantCategoryId!=null">
						AND bo.merchant_category_id=#{reqPo.merchantCategoryId}
					</if>
				</where>   
	</select>
</mapper>