<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties url="file:./config/jdbc.properties"/>
	
	<!-- 指定结果集映射关系 -->
	<typeAliases>
	
		<typeAlias alias="RoleResource" type="com.froad.po.RoleResource" /> 
		<typeAlias alias="Role" type="com.froad.po.Role" />
		<typeAlias alias="Resource" type="com.froad.po.Resource" />
		<typeAlias alias="MerchantUser" type="com.froad.po.MerchantUser" />
		<typeAlias alias="UserResource" type="com.froad.po.UserResource" />
		
		<typeAlias alias="BankOperateLog" type="com.froad.po.BankOperateLog" />
		<typeAlias alias="BankOperator" type="com.froad.po.BankOperator" />
		<typeAlias alias="Org" type="com.froad.po.Org" />
		
		<typeAlias alias="FFTOrg" type="com.froad.po.FFTOrg" />
		<typeAlias alias="FFTOrgRe" type="com.froad.po.FFTOrgRe" />
		<typeAlias alias="FFTUserOrg" type="com.froad.po.FFTUserOrg" />
		<typeAlias alias="FFTUserRole" type="com.froad.po.FFTUserRole" />
		<typeAlias alias="OrgRole" type="com.froad.po.OrgRole" />
		
	</typeAliases>
	
	

	<!-- 分页拦截器 mysql or oracle -->
	<plugins>
		<plugin interceptor="com.froad.db.mysql.interceptor.PageInterceptor">
			<property name="databaseDialect" value="com.froad.db.mysql.dialet.MySQLDialect" />
			<property name="pageSqlIdRegEx" value=".*ByPage" />
		</plugin>
	</plugins>
	
	
	
	<!-- -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="com.froad.db.mysql.datasource.DruidDataSourceFactory">
				<property name="driverClassName" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />

				<!-- 配置初始化大小、最小、最大 -->
				<property name="initialSize" value="${pool.initialSize}" />
				<property name="minIdle" value="${pool.minIdle}" />
				<property name="maxActive" value="${pool.maxActive}" />

				<!-- 配置获取连接等待超时的时间 -->
				<property name="maxWait" value="${pool.maxWait}" />

				<property name="validationQuery" value="select now()" />
				<property name="testWhileIdle" value="true" />
				<property name="testOnBorrow" value="false" />
				<property name="testOnReturn" value="false" />
				<property name="poolPreparedStatements" value="false" />
				<property name="maxOpenPreparedStatements" value="-1" />

				<!-- 对于长时间不使用的连接强制关闭 -->
				<property name="removeAbandoned" value="true" />

				<!-- 超过30分钟开始关闭空闲连接 -->
				<property name="removeAbandonedTimeout" value="120" />

				<!-- 将当前关闭动作记录到日志 -->
				<property name="logAbandoned" value="true" />
			</dataSource>
		</environment>
	</environments>
	

	
	

	<!-- 指定mapper资源 -->
	<mappers>
		<mapper resource="mappers/gen/ResourceMapper.xml" />
		<mapper resource="mappers/gen/RoleMapper.xml" />
		<mapper resource="mappers/gen/RoleResourceMapper.xml" />
		<mapper resource="mappers/gen/UserResourceMapper.xml" />
		
		<mapper resource="mappers/MerchantUserMapper.xml" />
		<mapper resource="mappers/ResourceMapper.xml" />
		<mapper resource="mappers/RoleMapper.xml" />
		<mapper resource="mappers/RoleResourceMapper.xml" />
		<mapper resource="mappers/BossRoleMapper.xml" />
		<mapper resource="mappers/BossResourceMapper.xml" />
		
		<mapper resource="mappers/BankOperateLogCommonMapper.xml" />
		<mapper resource="mappers/BankOperatorCommonMapper.xml" />
		<mapper resource="mappers/OrgCommonMapper.xml" />
		
		<!-- 组织管理mapper -->
		<mapper resource="mappers/FFTOrgMapper.xml" />
		<mapper resource="mappers/FFTOrgReMapper.xml" />
		<mapper resource="mappers/FFTUserOrgMapper.xml" />
		<mapper resource="mappers/FFTUserRoleMapper.xml" />
		<mapper resource="mappers/OrgRoleMapper.xml" />
		
	</mappers>

</configuration>