<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.PaymentMapper">
	
	<!-- SQL块提出 优化重复的批量sql块部代码解决方案: 所有列名 -->
	<sql id="columnAll">
		id,create_time,payment_id,client_id,order_id,bill_no,payment_type,payment_value,
		payment_type_details,step,payment_status,payment_org_no,from_account_name,from_account_no,
		to_account_name,to_account_no,from_phone,to_phone,from_user_name,to_user_name,result_code,result_desc,is_enable,
		remark,auto_refund,point_rate,payment_reason
	</sql>
	
	<!-- 更改的公共列 -->
	<sql id="columnModify">
		<if test="paymentStatus != null">
			payment_status = #{paymentStatus} ,
		</if>
		<if test="step != null">
			step = #{step} ,
		</if>
		<if test="isEnable != null">
			is_enable = #{isEnable} ,
		</if>
		<if test="resultCode != null">
			result_code = #{resultCode} ,
		</if>
		<if test="resultDesc != null">
			result_desc = #{resultDesc} ,
		</if>
		<if test="remark != null">
			remark = #{remark} ,
		</if>
		<if test="autoRefund != null">
			auto_refund = #{autoRefund} ,
		</if>
		<if test="fromAccountNo != null">
			from_account_no = #{fromAccountNo} ,
		</if>
		<if test="billNo != null">
			bill_no = #{billNo} ,
		</if>
		<if test="fromUserName != null">
			from_user_name = #{fromUserName} ,
		</if>
		<if test="fromPhone != null">
			from_phone = #{fromPhone} ,
		</if>
		<if test="toUserName != null">
			to_user_name = #{toUserName}
		</if>
	</sql>
	
	<!-- prop 与 column 映射关系 -->
	<resultMap type="Payment" id="PaymentRS">
		<result property="createTime" column="create_time"/>
		<result property="paymentId" column="payment_id"/>
		<result property="clientId" column="client_id"/>
		<result property="orderId" column="order_id"/>
		<result property="billNo" column="bill_no"/>
		<result property="paymentType" column="payment_type"/>
		<result property="paymentValue" column="payment_value"/>
		<result property="paymentTypeDetails" column="payment_type_details"/>
		<result property="paymentStatus" column="payment_status"/>
		<result property="paymentOrgNo" column="payment_org_no"/>
		<result property="fromAccountName" column="from_account_name"/>
		<result property="fromAccountNo" column="from_account_no"/>
		<result property="toAccountName" column="to_account_name"/>
		<result property="toAccountNo" column="toAccount_no"/>
		<result property="fromPhone" column="from_phone"/>
		<result property="toPhone" column="to_phone"/>
		<result property="fromUserName" column="from_user_name"/>
		<result property="toUserName" column="to_user_name"/>
		<result property="resultCode" column="result_code"/>
		<result property="resultDesc" column="result_desc"/>
		<result property="isAutoRefund" column="is_auto_refund"/>
		<result property="pointRate" column="point_rate"/>
		<result property="paymentReason" column="payment_reason"/>
	</resultMap>
	
	<insert id="addPayment" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
		insert into cb_payment (<include refid="columnAll"/>) values (
		#{id},#{createTime},#{paymentId},#{clientId},#{orderId},#{billNo},#{paymentType},#{paymentValue},
		#{paymentTypeDetails},#{step},#{paymentStatus},#{paymentOrgNo},#{fromAccountName},#{fromAccountNo},
		#{toAccountName},#{toAccountNo},#{fromPhone},#{toPhone},#{fromUserName},#{toUserName},#{resultCode},#{resultDesc},#{isEnable},
		#{remark},#{autoRefund},#{pointRate},#{paymentReason})
	</insert>
	
	<select id="findEnablePaymentsOfUserPayByOrderId" parameterType="java.lang.String" resultMap="PaymentRS">
		select <include refid="columnAll"/> from cb_payment where is_enable = 1 and payment_reason = '2' and order_id = #{orderId}
	</select>
	
	<select id="findPaymentByPaymentId" parameterType="java.lang.String" resultMap="PaymentRS">
		select <include refid="columnAll"/> from cb_payment where payment_id = #{paymentId}
	</select>
	
	<select id="findEnablePaymentsByOrderId" parameterType="java.lang.String" resultMap="PaymentRS">
		select <include refid="columnAll"/> from cb_payment where is_enable = 1 and order_id = #{orderId}
	</select>
	
	<update id="updateByPaymentId" parameterType="Payment">
		update cb_payment 
		<set><include refid="columnModify"/></set>
		where payment_id = #{paymentId}
	</update>
	
</mapper>
