<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ProviderCommonMapper">

	<resultMap type="Provider" id="providerResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="merchantId" column="merchant_id" />
		<result property="merchantName" column="merchant_name" />
		<result property="address" column="address" />
		<result property="phone" column="phone" />
		<result property="status" column="status" />
		<result property="description" column="description" />
	</resultMap>
	
	<sql id="baseSelectColumn">
		id,create_time,update_time,merchant_id,merchant_name,address,phone,status,description 
	</sql>
	
	<select id="findByMerchantId" resultMap="providerResultMap">
		SELECT <include refid="baseSelectColumn" /> 
		FROM cb_provider 
		<where>
			<if test="merchantId !=null and merchantId != ''">
				merchant_id = #{merchantId} 
			</if>
		</where>
	</select>

	
</mapper>

