<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.rp_mappers.BatchCycleMapper">
	<!-- columns to update -->
	<sql id="updateColumns">
		<if test="batchDate != null">
			batch_date = #{batchDate},
		</if>
		<if test="lastBatchDate != null">
			last_batch_date = #{lastBatchDate},
		</if>
		<if test="lastLastBatchDate != null">
			last_last_batch_date = #{lastLastBatchDate},
		</if>
		<if test="startTime != null">
			start_time = #{startTime},
		</if>		
		<if test="endTime != null">
			end_time = #{endTime},
		</if>		
		<if test="status != null">
			status = #{status} 
		</if>							
	</sql>
	
	<resultMap type="BatchCycle" id="BatchCycleRM">
		<result property="batchId" column="batch_id"/>
		<result property="batchDate" column="batch_date"/>
		<result property="lastBatchDate" column="last_batch_date"/>
		<result property="lastLastBatchDate" column="last_last_batch_date"/>
		<result property="startTime" column="start_time"/>
		<result property="endTime" column="end_time"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<update id="updateBatchDate" parameterType="BatchCycle">
		update cb_report_batch_cycle 
		<set><include refid="updateColumns"/></set>
		where batch_id = #{batchId}
	</update>
	
	<update id="updateBatchCycleStatus">
		update cb_report_batch_cycle 
		set status = #{status}
	</update>		
	
	<select id="findAll" resultMap="BatchCycleRM">
		select batch_id, batch_date, last_batch_date, last_last_batch_date, start_time, end_time, status from cb_report_batch_cycle
	</select>
</mapper>