<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.froad.db.mysql.rp_mappers.ReportBossOrgMerchantMapper">
	<resultMap id="BaseResultMap" type="com.froad.po.ReportBossOrgMerchant">
		<result column="id" property="id" jdbcType="BIGINT" />
		<result column="report_date" property="reportDate" jdbcType="INTEGER" />
		<result column="report_beg_date" property="reportBegDate"
			jdbcType="TIMESTAMP" />
		<result column="report_end_date" property="reportEndDate"
			jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="client_id" property="clientId" jdbcType="VARCHAR" />
		<result column="org_code" property="orgCode" jdbcType="VARCHAR" />
		<result column="org_name" property="orgName" jdbcType="VARCHAR" />
		<result column="addnew_group_count" property="addnewGroupCount"
			jdbcType="INTEGER" />
		<result column="total_group_count" property="totalGroupCount"
			jdbcType="INTEGER" />
		<result column="addnew_preferent_count" property="addnewPreferentCount"
			jdbcType="INTEGER" />
		<result column="total_preferent_count" property="totalPreferentCount"
			jdbcType="INTEGER" />
	</resultMap>
	
	<insert id="addByBatch">
		INSERT INTO cb_report_boss_org_merchant 
		(
			report_date,
			report_beg_date,
			report_end_date, 
			create_time, 
			client_id,
			org_code, 
			org_name, 
			addnew_group_count,
			total_group_count, 
			addnew_preferent_count,
			total_preferent_count
		)
		VALUES 
		<foreach collection="orgMerchantList" item="item" index="index" separator=",">
		(#{item.reportDate,jdbcType=INTEGER},
		#{item.reportBegDate,jdbcType=TIMESTAMP},
		#{item.reportEndDate,jdbcType=TIMESTAMP}, 
		#{item.createTime,jdbcType=TIMESTAMP},
		#{item.clientId,jdbcType=VARCHAR},
		#{item.orgCode,jdbcType=VARCHAR}, 
		#{item.orgName,jdbcType=VARCHAR}, 
		#{item.addnewGroupCount,jdbcType=INTEGER},
		#{item.totalGroupCount,jdbcType=INTEGER},
		#{item.addnewPreferentCount,jdbcType=INTEGER},
		#{item.totalPreferentCount,jdbcType=INTEGER})
		</foreach>
	</insert>
	
	<delete id="deleteHistoryData" parameterType="java.lang.Integer">
		DELETE FROM cb_report_boss_org_merchant WHERE report_date = #{reportDate}
	</delete>
	
	<select id="findByClientId" resultMap="BaseResultMap">
		SELECT 
			id,
			report_date,
			report_beg_date,
			report_end_date, 
			create_time, 
			client_id,
			org_code, 
			org_name, 
			addnew_group_count,
			total_group_count, 
			addnew_preferent_count,
			total_preferent_count 
		FROM cb_report_boss_org_merchant 
		<where>
			client_id = #{clientId} AND report_date = #{reportDate} 
		</where>
	</select>
	
</mapper>