/*
* Author:
* pengling@f-road.com.cn 
*/
/*团购*/
.group {
	width:750px;
	overflow:hidden;
	padding:0px 0;
	font-family:"微软雅黑";
	float:left
}


*+html .detailsie7 .fl, *+html .detailsie7 .group{margin-top:20px}
.group .list {
	width:750px;
	margin: auto;
	overflow:hidden;
}
.group .list li {
	width:750px;
	height:380px;
	background:#FFF;
	float:left;
	margin:0px 7px 5px 0px;
	position:relative;
}
.group .list li .icon {
	position:absolute;
	z-index:22;
	left:8px;
	top:15px
}
.group .list li .imgShow {
	width:750px;
	height:189px;
	margin:8px auto;
}
.group .bookingtext {
	float:right;
	width:380px;
	margin:-200px 20px 0 0
}
.group .list li .imgShow img {
	margin:7px 0 0 8px
}
.group .list li dl {
	width:345px;
	margin:0 auto;
}
.group .list li dl dt {
	font-weight:bold;
	font-size:18px;
	margin:10px 0 5px 0;
	overflow:hidden;
	font-family:"微软雅黑";
}
.group .list li dl dt a {
	color:#000;
	text-decoration:none;
}
.group .list li dl dt a:hover {
	color:#03F;
	text-decoration:none;
}
.group .list li div {
	line-height:24px
}
.group .list li dl dd {
	color:#666;
	font-size:13px;
	line-height:20px;
	height:20px;
	overflow:hidden;
}
.group .list li .groupPrice {
	width:345px;
	height:45px;
	margin:4px auto;
	font-family:"微软雅黑";
}
.group .list li .bookingnum {
	font-size:13px;
	line-height:44px;
	margin:0px 0 0 8px;
	font-family: "微软雅黑";
	display:block;
	background:#f3f3f3;
	width:350px;
	height:44px;
	text-align:center
}
.group .list li .groupPrice .firstPrice {
	color:#ee5337;
	font-size:24px;
	float:left;
	line-height:30px;
}
.group .list li .groupPrice .secondPrice {
	color:#666;
	font-size:12px;
	margin-left:10px;
	padding:5px 0;
	margin-top:3px;
}

.group .list li .groupPrice img {
	float:right;
	margin-right:20px;
	display:inline;
}
.group .list li .discount {
	width:345px;
	margin:0 auto;
	font-family:"微软雅黑";
}
.group .list li .discount .leftDiscount {
	float:left;
	line-height:26px;
	border-top:1px dashed #999;
	width:100%;
	padding:10px 0
}
.group .list li .discount .leftDiscount P {
	font-size:12px;
	color:#666;
}
.group .list li .discount .time {
	float:left;
	background:url(../images/time.png) no-repeat;
	width:373px;
	height:39px;
	margin:0px 0 8px 0
}
.group .list li .discount .timeover {
	background-position:center center
}

.group .list li .discount .timelast {
	background-position:center bottom
}
.group .list li .discount .rightDiscount {
	float:right;
	margin-right:10px;
	display:inline;
	font-size:14px;
	line-height:40px;
	color:#666;
}
.group .list li .discount .rightDiscount B {
	color:#F00;
}
/*
* Author:
* pengling@f-road.com.cn 
*/
/*团购信息*/


.show {
	width:750px;
	border:1px solid #b7b7b7;
	overflow:hidden;
	padding:10px 0;
	background:#FFF;
	height:450px
}
.show dl {
	padding-left:10px;
}
.show dl dt {
	font:bold 28px/40px 'Microsoft Yahei', '黑体', Tahoma, Helvetica, arial, sans-serif;
	width:720px;
	height:40px;
	overflow:hidden;
}
.show dl dd {
	font:bold 20px/30px 'Microsoft Yahei', '黑体', Tahoma, Helvetica, arial, sans-serif;
	color:#777;
	padding:0 20px 20px 15px;
	width:720px;
	height:45px;
	overflow:hidden;
}
.show .inforMiddle {
	width:730px;
	margin:10px auto 0;
}
.show .inforMiddle img {
	float:left;
	width:494px;
	height:310px;
	margin-left:15px;
	display:inline;
}
.show .pic img {
	margin:0px 0px 0 20px;
	width:490px;
	height:310px
}
.show .inforMiddle .leftInfor {
	float:left;
	width:215px;
	height:290px;
	background:#f4f4f4;
	font:14px/34px 'Microsoft Yahei', '黑体', Tahoma, Helvetica, arial, sans-serif;
}
.show .inforMiddle .leftInfor .leftFirst {
	font:bold 28px/48px 'Microsoft Yahei', '黑体', Tahoma, Helvetica, arial, sans-serif;
	color:#f26803;
	text-align:center;
}
.show .inforMiddle .leftInfor .imgShow {
	height:50px;
}
.show .inforMiddle .leftInfor .imgShow img {
	width:172px;
	height:41px;
	padding-left:12px;
}
.show .inforMiddle .leftInfor .priceInror {
	width:215px;
	height:30px;
	text-align:center;
	font:14px/20px 'Microsoft Yahei', '黑体', Tahoma, Helvetica, arial, sans-serif;
	color:#777;
	border-bottom:1px solid #e5e5e5;
}
.show .inforMiddle .leftInfor .priceInror span {
	margin:0 5px;
}
.show .inforMiddle .leftInfor .buyed {
	text-align:center;
	height:25px;
	font:16px/35px 'Microsoft Yahei', '黑体', Tahoma, Helvetica, arial, sans-serif;
}
.show .inforMiddle .leftInfor .buyed B {
	color:#F00;
}
.show .inforMiddle .leftInfor .over {
	text-align:center;
	color:#777;
	height:35px;
	border-bottom:1px solid #e5e5e5;
}
.over b {
	color:red
}
.show .inforMiddle .leftInfor .mobile {
	margin-top:5px;
}
.show .inforMiddle .leftInfor .mobile img {
	width:200px;
	height:75px;
}
.show .inforMiddle .leftInfor .date {
	font:12px/20px 'Microsoft Yahei', '宋体', Tahoma, Helvetica, arial, sans-serif;
	color:#777;
	margin-left:7px;
}
.details {
	width:740px;
	float:left;
	margin:10px 0;
	padding:10px 0 0 20px;
	background:#FFF;
	line-height:25px;
	font-size:14px
}
.details h2 {
	background:#f3f3f3;
	font-weight:bold;
	width:94%;
	padding:3px 5px 0px 5px
}
.details h5 {
	font-weight:bold;
	font-size:18px;
	color:#FF9900;
	line-height:45px
}

.tishired{background:#F00; clear:both; display:none; margin-left:15px; color:#FFF; font-size:12px; padding:0 5px; width:190px; text-align:center; position:absolute; margin-top:3px;}

.tishired a{ font-size:12px; text-decoration:none; color:#FFF; margin-left:10px; font-weight:bold;}

.mebuy {
	height:50px;
	text-align:left;
	float:Left;
	margin-left:15px;
	font-size:12px;
	width:50%
}
.mebuy a {
	font-size:16px;
	margin:0 2px;
	color:#999;
	text-decoration:none;
	padding:0px 5px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.show .pic .countdown {
	width:320px;
	float:right;
}
.show .pic .f20 {
	float:right;
	font-family:"微软雅黑";
	margin-right:150px
}
#uboxstyle {
	min-height:70px;
	height:257px;
	width:320px;
	border:1px solid #999;
	overflow:auto;
	scroll:auto;
	font-family: "微软雅黑";
	margin-right:30px
}
#uboxstyle li {
	display:block;
	padding:5px 5px 5px 10px;
	line-height:13px;
	height:38px
}
#uboxstyle li font {
	margin:0 10px 0 5px
}
#uboxstyle li a {
	text-decoration: underline;
	color: #F00;
	line-height:22px
}
#uboxstyle .select {
	color:#fff;
	background:  #ececec
}
#uboxstyle li span {
	color: #666;
	margin-left:22px;
	display:inline
}
.group .map {
	border:1px solid #ea263e;
	width:260px;
	float:right
}
.details .blk {
	width:685px;
	margin:10px 0;
	border:1px solid #e6e1de;
	float:left;
	display:block;
	background:#fcfafb;
	padding:10px
}
.details .blk .tit {
	color:#dc0f1e;
	font-weight:bold;
	line-height:30px;
	text-align:left;
}
.details .blk span {
	margin:10px 0 0 20px
}
.details .info {
	float:left;
	line-height:30px;
	width:96%
}
.details .info dd {
	text-indent:25px;
}
*+html .details .info dd {
	text-indent:-10px
}
/*预售动态*/

.also {
	margin:0px 0 12px 10px;
	width:238px;
	background:#FFF;
	overflow:hidden;
	padding-bottom:10px;
}
.also dl {
	width:220px;
	margin:0 auto;
}
.also dl dt {
	font:14px/28px "微软雅黑";
	color:#000;
	background:#f7f7f7;
	margin:10px 0
}
.also dl dt B {
	padding-left:10px;
}
.also dl dd {
	width:208px;
	margin:0 auto;
	font-size:12px;
	line-height:25px;
	border-bottom:1px dashed #e7e7e7
}
.also dl dd a {
	color:#777;
	text-decoration:none;
}
.also dl dd div {
	width:200px;
	color:#777;
	clear:both;
}
.also dl dd b {
	font-weight:bold;
	color:#d11219
}
.also img {
	margin:6px 0 0 6px
}
