/*
* Author:
* pengling@f-road.com.cn 
*/

/*付款01*/
.paytable {
	width:1000px;
	overflow:hidden;
	padding:10px 0 30px 0;
	background:#FFF;
	float:left;
}
.paytable .table-section table {
	width:98%;
	border-top :1px dashed #dcdcdc;
	text-align:center;
	margin:0 auto;
}
*+html .table-section table td .redFont {
	line-height:20px;
}
.paytable .table-section table th, .paytable .table-section table td {
	padding:12px;
	border-bottom:1px dotted #e5e5e5
}
.paytable .table-section table th {
	padding:6px 12px;
	border-bottom-style:solid;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	background:#f7f7f7
}
.paytable .table-section table .fr {
	margin-top:26px;
	color:#000
}
*+html .paytable .table-section table .fr {
	margin-top:32px;
}
.paytable .table-section table td {
	background:#FFF;
	font-size:12px;
	height:30px;
}
.paytable .table-section table td u {
	text-decoration:none;
}
.paytable .desc {
	padding-left:16px;
	text-align:left;
}
· .paytable .desc a {
	color:#000;
	text-decoration:none;
}
.paytable .quantity a {
	font-size:16px;
	margin:0 2px;
	color:#999;
	text-decoration:none;
	padding:0px 5px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.paytable .jifen {
	text-align:right;
	margin-right:10px;
	font-family:arial;
	color:#F00;
}
.paytable .jifen a {
	color:#F60;
	text-decoration:none;
	margin-right:10px;
}
.paytable .jifen a:hover {
	color:#36F;
	text-decoration:underline;
}
.paytable .jifen b {
	margin-left:5px
}
.paytable .total-fee {
	text-align:right;
}
.paytable .total-fee strong {
	font-weight:bold;
	color:#F00;
	font-family:"微软雅黑";
	font-size:16px;
}
.paytable .confirm {
	width:900px;
	margin:0 auto;
	font:14px/32px "微软雅黑";
	color:#777;
	margin-top:15px;
}
.paytable .confirm .leftcon {
	float:left;
	width:470px;
}
.paytable .confirm .leftcon b {
	color:#C00;
}
.paytable .confirm .leftcon p span {
	margin-left:5px;
}
.paytable .confirm .leftcon p span a {
	color:#39F;
	text-decoration:none;
}
.paytable .confirm .leftcon p span a:hover {
	color:#F60;
	text-decoration:none;
}
.paytable .use {
	line-height:30px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
}
.paytable .use b {
	font-size:14px;
}
.paytable .map {
	border:1px solid #ea263e;
	width:260px;
	float:right
}
.paytable .table-section table .w300 .mb5{margin-left:0;margin-bottom:7px}
.f-text {
	width:50px;
	height:20px;
	margin:0 5px;
*margin:-1px 5px;
	padding:5px;
	line-height:20px;
	border:1px solid #fb9d65;
	font-size:20px;
	text-align:center;
	vertical-align:middle
}
.useponits {
	background:#FFC;
	height:60px;
	line-height:60px
}
.useponits input, .usecash input {
	margin:0 5px 0 5px
}
.usecash img {
	margin-right:100px
}
#uboxstyle {
	min-height:70px;
	height:257px;
	width:320px;
	border:1px solid #999;
	overflow:auto;
	scroll:auto;
	font-family: "微软雅黑";
	margin-right:30px;
	float:left
}
#uboxstyle li {
	display:block;
	padding:5px 5px 5px 10px;
	line-height:13px;
	cursor:pointer;
}

#uboxstyle li.cutbg{ background:#FFFF80}

#uboxstyle li font {
	margin:0 10px 0 5px
}
#uboxstyle li a {
	text-decoration: underline;
	color: #F00;
	line-height:25px
}
#uboxstyle .select {
	color:#fff;
	background:  #ececec
}
#uboxstyle .select a {
}
#uboxstyle li span {
	color: #666;
	margin-left:22px;
	line-height:20px;
}
*+html #uboxstyle li span {
	color: #666;
	margin-left:24px;
}
.usecash {
	background: #d9ecf4;
	line-height:60px;
	height:60px;
}

.usecash p{ height:60px;}

.usecash p span{width:80px;  float:left; line-height:50px; text-align:right;}
	
.usecash p a img {
	border:2px solid #999;
	margin:0 10px 0 10px;
	float:left;
}

.usecash p b{
	display:none;
}

.usecash p b img{ margin-top:10px; *padding-bottom:20px;}

.usecash p a.active img {
	border:2px solid #F00;
}

/*步骤*/
.stepfen, .stepadmin, .stepgroup, .stepgive, .stepfind {
	background:url(../images/step.gif);
	display:block;
	margin:10px auto 0;
}
.stepfen {
	background-position:center center;
	width:600px;
	height:135px;
}
.stepadmin {
	background-position:center center;
	width:600px;
	height:105px;
}
.stepgive {
	background-position:0 -115px;
	width:600px;
	height:105px;
}
.stepfind {
	background-position:0 -365px;
	width:400px;
	height:109px;
}
.stepgroup {
	background-position:0px -437px;
	width:650px;
	height:145px;
}
.step {
	width:430px;
	margin:0 auto;
	color:#7e7e7e;
	font-family:"宋体";
	font-size:14px;
	font-weight:bold;
	margin-top:20px;
}
.step#find {
	width:320px;
}
.step li {
	float:left;
	padding-left:30px;
	margin-left:40px;
	margin-bottom:20px;
	display:inline;
}
/*付款确认*/
.confirm {
	width:100%;
	float:Left;
	overflow:hidden;
	padding:10px 0;
	background:#FFF;
}
*+html .confirm {
	margin:20px 0;
}
.confirm .conborder {
	width:96%;
	margin:0 auto;
	padding:10px 0;
}
.confirm hr {
	border-top:1px dashed #dcdbdb;
	border-left:none;
	border-bottom:none;
	height:1px
}
.confirm dl {
	clear:both;
	height:40px;
	margin-left:90px
}
.confirm dt {
	float:left;
	width:140px;
	text-align:right;
	font-size:13px;
	line-height:28px;
	color:#222;
	font-weight:bold;
}
.confirm span {
	color:#d70e27;
	font-size:13px;
}
.confirm dd {
	float:left;
	font-size:12px;
	font-family:arial;
	color:#333;
}
.confirm span {
	line-height:28px;
}
.confirm .conbtn {
	text-align:center;
}
.confirm input{float:right;margin-right:20px}
.explain {
	width:94%;
	border:1px solid #F30;
	background:#FCF;
	padding:10px;
	margin:30px auto 10px;
	clear:both;
	overflow:hidden;
}
.explain li {
	font:12px/24px "宋体";
	color:#666;
	width:95%;
	margin:0 auto;
}
