/*
* Author:
* pengling@f-road.com.cn 
*/
/*最近浏览*/

.late{border:1px solid #d4d4d4; width:238px; background:#FFF; overflow:hidden; padding-bottom:10px;}

.late dl{width:200px; margin:0 auto}

.late dl dt{ font:14px/48px "宋体"; color:#000;}

.late dl dt B{ padding-left:25px; background:url(../images/group.png) no-repeat; background-position:0 -51px;}

.late dl dd{height:65px;}

.late dl dd { display:block;}

.late dl dd img{ float:left; width:81px; height:48px;}

.late dl dd .inforPrice{ float:left; font:12px/16px "微软雅黑"; margin-left:10px; display:inline; color:#666; width:100px; height:49px; overflow:hidden;}

.late dl dd  B{ font-size:14px; color:#f0513b;}

