<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.WayBillCommonMapper">
    <resultMap type="Waybill" id="wayBillResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="subOrderId" column="sub_order_id" />
		<result property="shippingCorpCode" column="shipping_corp_code" />
		<result property="shippingCorp" column="shipping_corp" />
		<result property="shippingId" column="shipping_id" />
		<result property="status" column="status" />
		<result property="message" column="message" />
		<result property="shippingTime" column="shipping_time" />
		<result property="arriveTime" column="arrive_time" />
		<result property="shippingState" column="shipping_state" />
	</resultMap>
	<!-- 查找物流表 -->
   <select id="findDeliveryWayBill"  parameterType="java.lang.String" resultMap="wayBillResultMap">
      SELECT id,create_time,update_time,sub_order_id,shipping_corp_code,shipping_corp,shipping_id,status,message,shipping_time,arrive_time,shipping_state 
      FROM cb_waybill
      WHERE 
      sub_order_id=#{subOrderId}
   </select>
   
  <!-- 查找 -->
  <select id="findOneDeliveryWayBill" parameterType="Waybill"  resultMap="wayBillResultMap">
     SELECT * FROM   cb_waybill 
     WHERE 1=1
      <if test="subOrderId !=null and subOrderId != ''">
      AND sub_order_id=#{subOrderId}
      </if>
      <!--  <if test="shippingCorpCode !=null and shippingCorpCode != ''">
      AND shipping_corp_code=#{shippingCorpCode}
      </if> -->
      <if test="shippingId !=null and shippingId != ''">
      AND shipping_id=#{shippingId}
      </if>
  </select>
  
  <insert id="addDeliveryWayBill" parameterType="Waybill" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_waybill (
				create_time,update_time,sub_order_id,
				shipping_corp_code,shipping_corp,shipping_id,status,message,shipping_time,arrive_time,shipping_state
			) VALUES (
				#{createTime},#{updateTime},#{subOrderId},
				#{shippingCorpCode},#{shippingCorp},#{shippingId},#{status},#{message},#{shippingTime},#{arriveTime},#{shippingState}
			) 
		]]>
	</insert>
	
	<select id="findDeliveryWayBillList" parameterType="java.util.HashMap" resultMap="wayBillResultMap">
	  SELECT sub_order_id FROM cb_waybill WHERE shipping_time <![CDATA[<]]> #{date}  and shipping_state=0 
	   and status in 
			    <foreach collection="status" item="item" index="index" open="(" separator="," close=")">
		         #{item}
		        </foreach>
	</select>
	
	
	<update id="updateWayBill" parameterType="Waybill">
		UPDATE cb_waybill 
		<set>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="shippingCorpCode != null">
				shipping_corp_code = #{shippingCorpCode}, 
			</if>
			<if test="shippingCorp != null">
				shipping_corp = #{shippingCorp}, 
			</if>
			<if test="shippingId != null">
				shipping_id = #{shippingId}, 
			</if>
			<if test="status != null">
				status = #{status}, 
			</if>
			<if test="message != null">
				message = #{message}, 
			</if>
			<if test="shippingTime != null">
				shipping_time = #{shippingTime}, 
			</if>
			<if test="arriveTime != null">
				arrive_time = #{arriveTime}, 
			</if>
			<if test="shippingState != null">
				shipping_state = #{shippingState},	
			</if>
		</set>
		<where>
			<if test="id != null">
				AND id = #{id} 
			</if>
			<if test="subOrderId != null">
				AND sub_order_id = #{subOrderId} 
			</if>
		</where>
	</update>
	
	<update id="updateWayBillByCondition" parameterType="Waybill">
		UPDATE cb_waybill 
		<set>
			<if test="updateTime != null">
				update_time = #{updateTime}, 
			</if>
			<if test="shippingCorpCode != null">
				shipping_corp_code = #{shippingCorpCode}, 
			</if>
			<if test="shippingCorp != null">
				shipping_corp = #{shippingCorp}, 
			</if>
			<if test="status != null">
				status = #{status}, 
			</if>
			<if test="shippingTime != null">
				shipping_time = #{shippingTime}, 
			</if>
			<if test="arriveTime != null">
				arrive_time = #{arriveTime}, 
			</if>
			<if test="shippingState != null">
				shipping_state = #{shippingState},	
			</if>
				message = #{message}
		</set>
		<where>
			<if test="id != null">
				AND id = #{id} 
			</if>
			<if test="subOrderId != null">
				AND sub_order_id = #{subOrderId} 
			</if>
			<if test="shippingId != null">
				AND shipping_id = #{shippingId}
			</if>
		</where>
	</update>
	
	<select id="getCountByShippingId" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM cb_waybill WHERE shipping_id = #{shippingId}
	</select>
	
</mapper>