<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.BankOperateLogMapper">

	<resultMap type="BankOperateLog" id="bankOperateLogResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="platType" column="plat_type" />
		<result property="userId" column="user_id" />
		<result property="username" column="username" />
		<result property="roleId" column="role_id" />
		<result property="description" column="description" />
		<result property="clientId" column="client_id" />
		<result property="orgCode" column="org_code" />
		<result property="orgName" column="org_name" />
		<result property="operatorIp" column="operator_ip" />
		<result property="logType" column="log_type" />
	</resultMap>


	<!-- 分页查询  BankOperateLog -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="bankOperateLogResultMap">
		SELECT 
            cr.id,cr.create_time,cr.plat_type,cr.user_id,cr.username,cr.role_id,cr.description,cr.client_id,cr.org_code,cr.org_name,cr.operator_ip,cr.log_type    
        FROM cb_bank_operate_log cr  
		<if test="bankOperateLog != null">
			<if test="bankOperateLog.orgCodes != null and bankOperateLog.orgCodes.size>0">
				INNER JOIN (select org_code from cb_org where (
					province_agency IN
					<foreach collection="bankOperateLog.orgCodes" item="item" open="(" separator="," close=")">
                    	#{item}
             		</foreach>
		 			OR city_agency IN
		 			<foreach collection="bankOperateLog.orgCodes" item="item" open="(" separator="," close=")">
                    	#{item}
             		</foreach>
		 			OR county_agency IN
		 			<foreach collection="bankOperateLog.orgCodes" item="item" open="(" separator="," close=")">
                    	#{item}
             		</foreach>
		 			OR org_code IN 
		 			<foreach collection="bankOperateLog.orgCodes" item="item" open="(" separator="," close=")">
                    	#{item}
             		</foreach>
		 			) AND client_id=#{bankOperateLog.clientId} and is_enable=true)  co  
				ON  cr.org_code=co.org_code  
			</if>
			<where>
				<if test="bankOperateLog.id != null">
					 AND cr.id = #{bankOperateLog.id}
				</if>
				<if test="bankOperateLog.createTime != null">
					 AND cr.create_time = #{bankOperateLog.createTime}
				</if>
				<if test="bankOperateLog.startDate != null">
					 AND cr.create_time <![CDATA[ >= ]]> #{bankOperateLog.startDate}
				</if>
				<if test="bankOperateLog.endDate != null">				
					 AND cr.create_time <![CDATA[ <= ]]> #{bankOperateLog.endDate}
				</if>
				<if test="bankOperateLog.platType != null">
					 AND cr.plat_type = #{bankOperateLog.platType}
				</if>
				<if test="bankOperateLog.userId != null">
					 AND cr.user_id = #{bankOperateLog.userId}
				</if>
				<if test="bankOperateLog.username != null">
					 AND cr.username like CONCAT('%',#{bankOperateLog.username},'%' )  
				</if>
				<if test="bankOperateLog.roleId != null">
					 AND cr.role_id = #{bankOperateLog.roleId}
				</if>
				<if test="bankOperateLog.description != null">
					 AND cr.description = #{bankOperateLog.description}
				</if>
				<if test="bankOperateLog.clientId != null">
					 AND cr.client_id = #{bankOperateLog.clientId}
				</if>
				<if test="bankOperateLog.orgName != null">
					 AND cr.org_name = #{bankOperateLog.orgName}
				</if>
				<if test="bankOperateLog.operatorIp != null">
					 AND cr.operator_ip = #{bankOperateLog.operatorIp}
				</if>
				<if test="bankOperateLog.logType != null">
					 AND cr.log_type = #{bankOperateLog.logType}  
				</if>
			</where>
		</if>
		order by create_time desc  
	</select>


</mapper>

