<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.BankOperatorMapper">

	<resultMap type="BankOperator" id="bankOperatorResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="orgCode" column="org_code" />
		<result property="mobile" column="mobile" />
		<result property="email" column="email" />
		<result property="name" column="name" />
		<result property="roleId" column="role_id" />
		<result property="department" column="department" />
		<result property="position" column="position" />
		<result property="status" column="status" />
		<result property="isReset" column="is_reset" />
		<result property="remark" column="remark" />
		<result property="isDelete" column="is_delete" />
		<result property="type" column="type" />
		<result property="lastLoginIp" column="last_login_ip" />  <!-- 最后登录ip  20151010 ll add -->
		<result property="lastLoginTime" column="last_login_time" /> <!-- 最后登录时间  20151010 ll add -->
	</resultMap>


	<!-- 添加  BankOperator -->
	<insert id="addBankOperator" parameterType="BankOperator" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into cb_bank_operator (
				create_time,client_id,username,password,org_code,mobile,email,name,role_id,department,position,status,is_reset,remark,is_delete,type
			) values (
				#{createTime},#{clientId},#{username},#{password},#{orgCode},#{mobile},#{email},#{name},#{roleId},#{department},#{position},#{status},#{isReset},#{remark},#{isDelete},#{type}
			) 
		]]>
	</insert>


	<!-- 批量添加  BankOperator -->
	<insert id="addBankOperatorByBatch" parameterType="java.util.List">
		insert into cb_bank_operator (
			create_time,client_id,username,password,org_code,mobile,email,name,role_id,department,position,status,is_reset,remark,is_delete,type
		) values 
		<foreach collection="bankOperatorList" item="item" index="index" separator=",">
			(#{createTime},#{clientId},#{username},#{password},#{orgCode},#{mobile},#{email},#{name},#{roleId},#{department},#{position},#{status},#{isReset},#{remark},#{isDelete},#{type})
		</foreach>
	</insert>


	<!-- 删除  BankOperator 将其is_delete状态改为1-->
	<update id="deleteBankOperator" parameterType="BankOperator">
		update cb_bank_operator set is_delete=1 where id = #{id} 
	</update>


	<!-- 批量修改法人行社管理员信息-->
	<update id="updateBankOperatorByList">
		update cb_bank_operator set password = #{password},is_reset = false   
		where is_delete=0 
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="orgCodeList != null and orgCodeList.size > 0">
			 	 AND org_code IN 
				<foreach collection="orgCodeList" item="orgCode" open="(" close=")" separator=",">
					#{orgCode}
			 	</foreach>
			</if>
			<if test="roleId != null">
				AND role_id = #{roleId} 
			</if>
	</update>
	
	
	<!-- 批量删除法人行社管理员信息-->
	<update id="deleteBankOperatorByList">
		update cb_bank_operator set is_delete=1 
		where is_delete=0 
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="orgCodeList != null">
			 	 AND org_code IN 
				<foreach collection="orgCodeList" item="orgCode" open="(" close=")" separator=",">
					#{orgCode}
			 	</foreach>
			</if>
			<if test="roleId != null">
				AND role_id = #{roleId} 
			</if>
	</update>
	
	
	
	<!-- 修改  BankOperator -->
	<update id="updateBankOperator" parameterType="BankOperator">
		update cb_bank_operator  
		<set>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="isReset != null">
				is_reset = #{isReset}, 
			</if>
			<if test="mobile != null">
				mobile = #{mobile},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="roleId != null">
				role_id = #{roleId},
			</if>
			<if test="department != null">
				department = #{department},
			</if>
			<if test="position != null">
				position = #{position},
			</if>
			<if test="status != null">
				status = #{status}, 
			</if>
			<if test="orgCode != null">
				org_code = #{orgCode},  
			</if>
			<if test="lastLoginIp != null">
				last_login_ip = #{lastLoginIp}, 
			</if>
			<if test="lastLoginTime != null">
				last_login_time = #{lastLoginTime},   
			</if>
			<if test="remark != null">
				remark = #{remark}, 
			</if>
		</set>  
		where is_delete=0  and id=#{id} 
	</update>

	<!-- 批量法人行社修改  BankOperator -->
	<update id="updateBankOperatorIsDelete" parameterType="BankOperator">
		update cb_bank_operator  set is_delete = #{isDelete},status = #{status},password = #{password},is_reset = #{isReset},create_time = #{createTime}  where  id=#{id} and is_delete=1       
	</update>


    <!-- 根据主键id或者登录名查询返回单个对象 -->
	<select id="findBankOperatorByUsernameId" parameterType="BankOperator" resultMap="bankOperatorResultMap">
		select 
			id,create_time,client_id,username,password,org_code,mobile,email,name,role_id,department,position,status,is_reset,remark,is_delete,type,last_login_ip,last_login_time        
		from cb_bank_operator 
			<where>
				<if test="isDelete != null">
					 AND is_delete = #{isDelete}
				</if>
				<if test="id != null">
					and id = #{id}
				</if>
				<if test="username != null">
					and username = #{username}
				</if>
				<if test="clientId != null">
					and client_id = #{clientId}
				</if>
				<if test="type != null">
					and type = #{type}
				</if>
			</where>
	</select>
	
	<!-- 查询  BankOperator -->
	<select id="findBankOperator" parameterType="BankOperator" resultMap="bankOperatorResultMap">
		select 
			id,create_time,client_id,username,password,org_code,mobile,email,name,role_id,department,position,status,is_reset,remark,is_delete,type,last_login_ip,last_login_time     
		from cb_bank_operator 
			<where>
				<if test="isDelete != null">
					 AND is_delete = #{isDelete}
				</if>
				<if test="id != null">
					and id = #{id}
				</if>
				<if test="clientId != null">
					and client_id = #{clientId}
				</if>
				<if test="username != null">
					and username = #{username}
				</if>
				<if test="orgCode != null">
					and org_code = #{orgCode}
				</if>
				<if test="mobile != null">
					and mobile = #{mobile}
				</if>
				<if test="email != null">
					and email = #{email}
				</if>
				<if test="name != null">
					and name = #{name}
				</if>
				<if test="roleId != null">
					and role_id = #{roleId}
				</if>
				<if test="department != null">
					and department = #{department}
				</if>
				<if test="position != null">
					and position = #{position}
				</if>
				<if test="status != null">
					and status = #{status}
				</if>
				<if test="isReset != null">
					and is_reset = #{isReset}
				</if>
				<if test="remark != null">
					and remark = #{remark}
				</if>
				<if test="type != null">
					and type = #{type}
				</if>
			</where>
	</select>

	<!-- 分页查询  BankOperator 当前机构下属所有机构用户-->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="bankOperatorResultMap">
		select 
			cr.id,cr.create_time,cr.client_id,cr.username,cr.password,cr.org_code,cr.mobile,cr.email,name,cr.role_id,
			cr.department,cr.position,cr.status,cr.is_reset,cr.remark,cr.is_delete,cr.type,cr.last_login_ip,cr.last_login_time      
		from cb_bank_operator cr  
		<if test="bankOperator != null">
			<if test="bankOperator.orgCode != null">
				inner join (select org_code from cb_org where (province_agency=#{bankOperator.orgCode} 
		 			or city_agency=#{bankOperator.orgCode}  
		 			or county_agency=#{bankOperator.orgCode}  
		 			or org_code=#{bankOperator.orgCode}) and client_id=#{bankOperator.clientId} and is_enable=true)  co  
				on  cr.org_code=co.org_code  
			</if>
			<where>
				<if test="bankOperator.isDelete != null">
					 and cr.is_delete = #{bankOperator.isDelete} 
				</if>
				<!-- 1.5组织机构管理需求：姓名支持模糊查询，用户名精确 -->
				<if test="bankOperator.username != null">
					 and cr.username = #{bankOperator.username}  
				</if>
				<if test="bankOperator.name != null">
					 and cr.name like CONCAT('%',#{bankOperator.name},'%' )  
				</if>
				<if test="bankOperator.status != null">
					 and cr.status = #{bankOperator.status} 
				</if>
				<if test="bankOperator.clientId != null">
					 and cr.client_id = #{bankOperator.clientId} 
				</if>
				<if test="bankOperator.type != null">
					and cr.type = #{bankOperator.type}
				</if>
			</where>
		</if>
		order by cr.org_code asc  
	</select>


	<!-- 分页查询  BankOperator 只查当前机构-->
	<select id="findFilterByPage" parameterType="java.util.HashMap" resultMap="bankOperatorResultMap">
		select 
			cr.id,cr.create_time,cr.client_id,cr.username,cr.password,cr.org_code,cr.mobile,cr.email,name,cr.role_id,
			cr.department,cr.position,cr.status,cr.is_reset,cr.remark,cr.is_delete,cr.type,cr.last_login_ip,cr.last_login_time      
		from cb_bank_operator cr  
		<if test="bankOperator != null">
			<where>
				<if test="bankOperator.orgCode != null">
					 and cr.org_code = #{bankOperator.orgCode} 
				</if>
				<if test="bankOperator.isDelete != null">
					 and cr.is_delete = #{bankOperator.isDelete} 
				</if>
				<!-- 1.5组织机构管理需求：姓名支持模糊查询，用户名精确 -->
				<if test="bankOperator.username != null">
					 and cr.username = #{bankOperator.username}  
				</if>
				<if test="bankOperator.name != null">
					 and cr.name like CONCAT('%',#{bankOperator.name},'%' )  
				</if>
				<if test="bankOperator.status != null">
					 and cr.status = #{bankOperator.status} 
				</if>
				<if test="bankOperator.clientId != null">
					 and cr.client_id = #{bankOperator.clientId} 
				</if>
				<if test="bankOperator.type != null">
					and cr.type = #{bankOperator.type}
				</if>
			</where>
		</if>
		order by cr.org_code asc  
	</select>
	
	

</mapper>

