<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ClientMerchantAuditMapper">

	<resultMap type="ClientMerchantAudit" id="clientMerchantAuditResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="type" column="type" />
		<result property="orgLevel" column="org_level" />
		<result property="startOrgLevel" column="start_org_level" />
		<result property="endOrgLevel" column="end_org_level" />
	</resultMap>


	<!-- 添加  ClientMerchantAudit -->
	<insert id="addClientMerchantAudit" parameterType="ClientMerchantAudit" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_client_merchant_audit (
				client_id,type,org_level,start_org_level,end_org_level
			) VALUES (
				#{clientId},#{type},#{orgLevel},#{startOrgLevel},#{endOrgLevel}
			) 
		]]>
	</insert>


	<!-- 批量添加  ClientMerchantAudit -->
	<insert id="addClientMerchantAuditByBatch" parameterType="java.util.List">
		INSERT INTO cb_client_merchant_audit (
			client_id,type,org_level,start_org_level,end_org_level
		) VALUES 
		<foreach collection="clientMerchantAuditList" item="item" index="index" separator=",">
			(#{clientId},#{type},#{orgLevel},#{startOrgLevel},#{endOrgLevel})
		</foreach>
	</insert>


	<!-- 删除  ClientMerchantAudit -->
	<delete id="deleteClientMerchantAudit" parameterType="ClientMerchantAudit">
		DELETE FROM cb_client_merchant_audit  
			<where>
				<if test="id != null">
					 AND id = #{id} 
				</if>
				<if test="clientId != null">
					 AND client_id = #{clientId} 
				</if>
				<if test="orgLevel != null">
					 AND org_level = #{orgLevel} 
				</if>
				<if test="startOrgLevel != null">
					 AND start_org_level = #{startOrgLevel} 
				</if>
				<if test="endOrgLevel != null">
					 AND end_org_level = #{endOrgLevel} 
				</if>
			</where>
	</delete>


	<!-- 修改  ClientMerchantAudit -->
	<update id="updateClientMerchantAudit" parameterType="ClientMerchantAudit">
		UPDATE cb_client_merchant_audit  
		<set>
				<if test="type != null">
					  type = #{type}, 
				</if>
				<if test="orgLevel != null">
					  org_level = #{orgLevel}, 
				</if>
				<if test="startOrgLevel != null">
					  start_org_level = #{startOrgLevel}, 
				</if>
				<if test="endOrgLevel != null">
					  end_org_level = #{endOrgLevel}, 
				</if>
		</set>
		<where>
			<if test="id != null">
				 AND id = #{id} 
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId} 
			</if>
		</where>
	</update>


	<!-- 查询  ClientMerchantAudit -->
	<select id="findClientMerchantAuditById" parameterType="java.lang.Long" resultMap="clientMerchantAuditResultMap">
		SELECT 
            id,client_id,type,org_level,start_org_level,end_org_level 
        FROM cb_client_merchant_audit 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询  ClientMerchantAudit -->
	<select id="findClientMerchantAudit" parameterType="ClientMerchantAudit" resultMap="clientMerchantAuditResultMap">
		SELECT 
            id,client_id,type,org_level,start_org_level,end_org_level 
        FROM cb_client_merchant_audit 
		<where>
			<if test="id != null">
				 AND id = #{id} 
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId} 
			</if>
			<if test="type != null">
				 AND type = #{type} 
			</if>
			<if test="orgLevel != null">
				 AND org_level = #{orgLevel} 
			</if>
			<if test="startOrgLevel != null">
				 AND start_org_level = #{startOrgLevel} 
			</if>
			<if test="endOrgLevel != null">
				 AND end_org_level = #{endOrgLevel} 
			</if>
		</where>
	</select>

	<!-- 分页查询  ClientMerchantAudit -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="clientMerchantAuditResultMap">
		SELECT 
            id,client_id,type,org_level,start_org_level,end_org_level 
        FROM cb_client_merchant_audit 
		<if test="clientMerchantAudit != null">
			<where>
				<if test="clientMerchantAudit.id != null">
					 AND id = #{clientMerchantAudit.id} 
				</if>
				<if test="clientMerchantAudit.clientId != null">
					 AND client_id = #{clientMerchantAudit.clientId} 
				</if>
				<if test="clientMerchantAudit.type != null">
					 AND type = #{clientMerchantAudit.type} 
				</if>
				<if test="clientMerchantAudit.orgLevel != null">
					 AND org_level = #{clientMerchantAudit.orgLevel} 
				</if>
				<if test="clientMerchantAudit.startOrgLevel != null">
					 AND start_org_level = #{clientMerchantAudit.startOrgLevel} 
				</if>
				<if test="clientMerchantAudit.endOrgLevel != null">
					 AND end_org_level = #{clientMerchantAudit.endOrgLevel} 
				</if>
			</where>
		</if>
	</select>


</mapper>

