<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.MerchantMapper">

	<resultMap type="BankAudit" id="merchantResultMap">
		<result property="auditId" column="merchant_id" />
		<result property="clientId" column="client_id" />
		<result property="orgCode" column="org_code" />
		<result property="auditComment" column="audit_comment" />
		<result property="auditTime" column="audit_time" />
		<result property="auditState" column="audit_state" />
		<result property="auditOrgCode" column="audit_org_code" />
		<result property="auditStage" column="audit_stage" />
		<result property="auditStaff" column="audit_staff" />
		<result property="reviewStaff" column="review_staff" />
		<result property="merchantName" column="merchant_name" />
		<result property="isEnable" column="is_enable" />
		<result property="auditStartOrgCode" column="audit_start_org_code" />
		<result property="auditEndOrgCode" column="audit_end_org_code" />
		
		<!-- 20150817 商户编辑审核 add  -->
		<result property="editAuditState" column="edit_audit_state" />
	</resultMap>


	<!-- 根据商品id获取商品信息 -->
	<select id="findMerchantById" parameterType="BankAudit" resultMap="merchantResultMap">
		select 
			client_id,org_code,audit_state,audit_org_code,audit_stage,merchant_name,audit_start_org_code,audit_end_org_code,edit_audit_state    
		from cb_merchant 
			where (audit_state='0' or edit_audit_state = '0' ) and merchant_id=#{auditId}
	</select>
	
	
	<!-- 根据商品id获取商品信息 -->
	<select id="findCountByMerchant" resultType="java.lang.Integer">
		select count(0)  from cb_merchant   
		where (audit_state='0' or edit_audit_state = '0' ) and client_id=#{clientId} and audit_org_code=#{auditOrgCode}
	</select>
	
	
	
	<!-- 审核  Merchant -->
	<update id="auditMerchant" parameterType="BankAudit">
		update cb_merchant  
		<set>
			<if test="auditTime != null">
				 audit_time = #{auditTime}, 
			</if>
			<if test="auditComment != null">
				 audit_comment = #{auditComment},
			</if>
			<if test="auditState != null">
				 audit_state = #{auditState},
			</if>
			<if test="auditOrgCode != null">
				 audit_org_code = #{auditOrgCode},
			</if>
			<if test="auditStage != null">
				 audit_stage = #{auditStage},
			</if>
			<if test="reviewStaff != null">
				 review_staff = #{reviewStaff},
			</if>
			<if test="auditStaff != null">
				 audit_staff = #{auditStaff},
			</if>
			<if test="isEnable != null">
				 is_enable = #{isEnable},
			</if>
			<if test="editAuditState != null">
				 edit_audit_state = #{editAuditState},
			</if>
			<if test="contractBegintime != null">
				contract_begintime = #{contractBegintime},
			</if>
			<if test="contractEndtime != null">
				contract_endtime = #{contractEndtime},
			</if>
		</set>
		<where>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="auditId != null">
				 AND merchant_id = #{auditId}
			</if>
		</where>
	</update>
	

</mapper>

