<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.OrgLevelMapper">

	<resultMap type="OrgLevel" id="orgLevelResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="roleId" column="role_id" />
		<result property="orgLevel" column="org_level" />
	</resultMap>


	<!-- 添加  OrgLevel -->
	<insert id="addOrgLevel" parameterType="OrgLevel" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into cb_org_level (
				client_id,role_id,org_level
			) values (
				#{clientId},#{roleId},#{orgLevel}
			) 
		]]>
	</insert>


	<!-- 批量添加  OrgLevel -->
	<insert id="addOrgLevelByBatch" parameterType="java.util.List">
		insert into cb_org_level (
			client_id,role_id,org_level
		) values 
		<foreach collection="orgLevelList" item="item" index="index" separator=",">
			(#{clientId},#{roleId},#{orgLevel})
		</foreach>
	</insert>


	<!-- 删除  OrgLevel -->
	<delete id="deleteOrgLevel" parameterType="OrgLevel">
		delete from cb_org_level 
			<where>
				<if test="id != null">
					and id = #{id}
				</if>
				<if test="clientId != null">
					and client_id = #{clientId}
				</if>
				<if test="roleId != null">
					and role_id = #{roleId}
				</if>
				<if test="orgLevel != null">
					and org_level = #{orgLevel}
				</if>
			</where>
	</delete>


	<!-- 修改  OrgLevel -->
	<update id="updateOrgLevel" parameterType="OrgLevel">
		update cb_org_level 
			<set>
				<if test="clientId != null">
					 client_id = #{clientId},
				</if>
				<if test="roleId != null">
					 role_id = #{roleId},
				</if>
				<if test="orgLevel != null">
					 org_level = #{orgLevel},
				</if>
			</set>
			where id = #{id} 
	</update>


	<!-- 查询  OrgLevel -->
	<select id="findOrgLevel" parameterType="OrgLevel" resultMap="orgLevelResultMap">
		select 
			id,client_id,role_id,org_level 
		from cb_org_level 
			<where>
				<if test="id != null">
					and id = #{id}
				</if>
				<if test="clientId != null">
					and client_id = #{clientId}
				</if>
				<if test="roleId != null">
					and role_id = #{roleId}
				</if>
				<if test="orgLevel != null">
					and org_level = #{orgLevel}
				</if>
			</where>
	</select>


	<!-- 分页查询  OrgLevel -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="orgLevelResultMap">
		select 
			id,client_id,role_id,org_level 
		from cb_org_level 
		<if test="orgLevel != null">
			<where>
				<if test="orgLevel.id != null">
					and id = #{orgLevel.id}
				</if>
				<if test="orgLevel.clientId != null">
					and client_id = #{orgLevel.clientId}
				</if>
				<if test="orgLevel.roleId != null">
					and role_id = #{orgLevel.roleId}
				</if>
				<if test="orgLevel.orgLevel != null">
					and org_level = #{orgLevel.orgLevel}
				</if>
			</where>
		</if>
		order by id desc 
	</select>

</mapper>

