<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ProductSeckillMapper">

<resultMap type="BankAudit" id="productSeckillResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="createTime" column="create_time" />
		<result property="productId" column="product_id" />
		<result property="type" column="type" />
		<result property="secStore" column="sec_store" />
		<result property="secPrice" column="sec_price" />
		<result property="vipSecPrice" column="vip_sec_price" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="trueBuyerNumber" column="true_buyer_number" />
		<result property="buyLimit" column="buy_limit" />
		<result property="isMarketable" column="is_marketable" />
		<result property="auditStartOrgCode" column="audit_start_org_code" />
		<result property="auditEndOrgCode" column="audit_End_org_code" />
		<result property="auditState" column="audit_state" />
		<result property="auditOrgCode" column="audit_org_code" />
		<result property="auditStage" column="audit_stage" />
		<result property="reviewStaff" column="review_staff" />
		<result property="auditStaff" column="audit_staff" />
		<result property="auditTime" column="audit_time" />
		<result property="auditComment" column="audit_comment" />
	</resultMap>
	
	<!-- 根据商品id获取商品信息 -->
	<select id="findProductSeckillById" parameterType="BankAudit" resultMap="productSeckillResultMap">
		select 
			client_id,merchant_id,audit_org_code,audit_stage,type,audit_start_org_code,audit_end_org_code   
		from cb_product_seckill 
			where audit_state='0' and product_id=#{auditId}
	</select>

	<!-- 查询待审核数量 -->
	<select id="findCountByProductSeckill" resultType="java.lang.Integer">
		select  count(id)  from cb_product_seckill  
		where audit_state='0' and client_id=#{clientId} AND is_marketable<![CDATA[<>]]>3
	</select>
	
	<!-- 审核  ProductSeckill -->
	<update id="auditProductSeckill" parameterType="BankAudit">
		update cb_product_seckill set audit_time = #{auditTime} 
			<if test="auditComment != null">
				 , audit_comment = #{auditComment}
			</if>
			<if test="auditState != null">
				 , audit_state = #{auditState}
			</if>
			<if test="auditOrgCode != null">
				 , audit_org_code = #{auditOrgCode}
			</if>
			<if test="auditStage != null">
				 , audit_stage = #{auditStage}
			</if>
			<if test="reviewStaff != null">
				 , review_staff = #{reviewStaff}
			</if>
			<if test="auditStaff != null">
				 , audit_staff = #{auditStaff}
			</if>
			<if test="isMarketable != null">
				 , is_marketable = #{isMarketable} 
			</if>
		<where>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="auditId != null">
				 AND product_id = #{auditId}
			</if>
			<if test="merchantId != null">
				 AND merchant_id = #{merchantId}
			</if>
		</where>
	</update>
	
	

</mapper>

