<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.cbank.coremodule.normal.boss.mapper.OrderMapper">

	<resultMap type="order" id="orderReportResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="type" column="type" />
		<result property="orgCode" column="org_code" />
		<result property="orderCount" column="order_count" />
		<result property="orderTotalPrice" column="order_total_price" />
		<result property="productCount" column="product_count" />
		<result property="productTotalPrice" column="product_total_price" />
		<result property="createTime" column="create_time" />
		<result property="buyCount" column="buy_count"/>
		<result property="typeCount" column="type_count"/>
		<result property="orgCount" column="org_count"/>
		<result property="cityOrgCount" column="city_org_count"/>
		<result property="countyOrgCount" column="county_org_count"/>
		<result property="categoryCount" column="category_count"/>
		<result property="outletCount" column="outlet_count"/>
		<result property="merchantCount" column="merchant_count"/>
		<result property="payTypeCount" column="pay_type_count"/>
	</resultMap>

	<select id="getListByPage" resultMap="orderReportResultMap">
		select a.create_time,a.order_count,a.order_total_price,a.product_count,a.product_total_price,a.org_count,a.type_count,
		b.buy_count,b.city_org_count,b.county_org_count,b.category_count,b.outlet_count,b.merchant_count,b.pay_type_count 
		from (select sum(order_count) order_count, sum(order_total_price) order_total_price, sum(product_count) product_count, 
		sum(product_total_price) product_total_price,create_time,count(distinct org_code) org_count,count(distinct type) type_count 
		from bi_order where 1=1 
		<if test="base.startTime !=null and base.startTime != ''">
			<![CDATA[
				and create_time >= #{base.startTime}
			]]>
		</if>
		<if test="base.endTime !=null and base.endTime != ''">
			<![CDATA[
				and create_time <= #{base.endTime}
			]]>
		</if>
		group by create_time) a 
		left join  (select sum(buy_count) buy_count,sum(city_org_count) city_org_count,
		sum(county_org_count) county_org_count,sum(category_count) category_count,
		sum(outlet_count) outlet_count,sum(merchant_count) merchant_count,sum(pay_type_count) pay_type_count,create_time 
		from bi_time group by create_time) b 
		on a.create_time = b.create_time 
		order by a.create_time
	</select>
	
	
	<select id="getListByClientIdByPage" resultMap="orderReportResultMap">
		select a.create_time,a.order_count,a.order_total_price,a.product_count,a.product_total_price,a.org_count,a.type_count,
		b.buy_count,b.city_org_count,b.county_org_count,b.category_count,b.outlet_count,b.merchant_count,b.pay_type_count 
		from (select sum(order_count) order_count, sum(order_total_price) order_total_price, sum(product_count) product_count, 
		sum(product_total_price) product_total_price,create_time,client_id,count(distinct org_code) org_count,count(distinct type) type_count 
		from bi_order where client_id = #{base.clientId} 
		<if test="base.startTime !=null and base.startTime != ''">
			<![CDATA[
				and create_time >= #{base.startTime}
			]]>
		</if>
		<if test="base.endTime !=null and base.endTime != ''">
			<![CDATA[
				and create_time <= #{base.endTime}
			]]>
		</if>
		group by create_time) a 
		left join (select sum(buy_count) buy_count,sum(city_org_count) city_org_count,
		sum(county_org_count) county_org_count,sum(category_count) category_count,
		sum(outlet_count) outlet_count,sum(merchant_count) merchant_count,sum(pay_type_count) pay_type_count,create_time,client_id   
		from bi_time_client group by client_id,create_time) b 
		on a.client_id = b.client_id and a.create_time = b.create_time 
		order by a.create_time 
	</select>
	
	<select id="getListByTypeByPage" resultMap="orderReportResultMap">
		select a.create_time,a.order_count,a.order_total_price,a.product_count,a.product_total_price,a.org_count,a.type_count,
		b.buy_count,b.city_org_count,b.county_org_count,b.category_count,b.outlet_count,b.merchant_count,b.pay_type_count 
		from (select sum(order_count) order_count, sum(order_total_price) order_total_price, sum(product_count) product_count, 
		sum(product_total_price) product_total_price,create_time,type,client_id,count(distinct org_code) org_count,count(distinct type) type_count 
		from bi_order where type = #{base.businessType} 
		<if test="base.startTime !=null and base.startTime != ''">
			<![CDATA[
				and create_time >= #{base.startTime}
			]]>
		</if>
		<if test="base.endTime !=null and base.endTime != ''">
			<![CDATA[
				and create_time <= #{base.endTime}
			]]>
		</if>
		group by create_time) a 
		left join  (select sum(buy_count) buy_count,sum(city_org_count) city_org_count,
		sum(county_org_count) county_org_count,sum(category_count) category_count,
		sum(outlet_count) outlet_count,sum(merchant_count) merchant_count,sum(pay_type_count) pay_type_count,create_time,type   
		from bi_time_type group by type,create_time)	b 
		 on a.create_time = b.create_time and a.type = b.type 
		order by a.create_time
	</select>
	
	<select id="getListByClientIdAndTypeByPage" resultMap="orderReportResultMap">
		select a.create_time,a.order_count,a.order_total_price,a.product_count,a.product_total_price,a.org_count,a.type_count,
		b.buy_count,b.city_org_count,b.county_org_count,b.category_count,b.outlet_count,b.merchant_count,b.pay_type_count 
		from (select sum(order_count) order_count, sum(order_total_price) order_total_price, sum(product_count) product_count, 
		sum(product_total_price) product_total_price,create_time,type,client_id,count(distinct org_code) org_count,count(distinct type) type_count 
		from bi_order where type = #{base.businessType} and client_id = #{base.clientId} 
		<if test="base.startTime !=null and base.startTime != ''">
			<![CDATA[
				and create_time >= #{base.startTime}
			]]>
		</if>
		<if test="base.endTime !=null and base.endTime != ''">
			<![CDATA[
				and create_time <= #{base.endTime}
			]]>
		</if>
		group by create_time) a 
		left join (select sum(buy_count) buy_count,sum(city_org_count) city_org_count,
		sum(county_org_count) county_org_count,sum(category_count) category_count,
		sum(outlet_count) outlet_count,sum(merchant_count) merchant_count,sum(pay_type_count) pay_type_count,create_time,type,client_id  
		from bi_time_client_type group by type,create_time,client_id) b 
		on a.create_time = b.create_time and a.type = b.type and a.client_id = b.client_id 
		order by a.create_time
	</select>
	
	<select id="getListByOrgCodeByPage" resultMap="orderReportResultMap">
		select a.create_time,a.order_count,a.order_total_price,a.product_count,a.product_total_price,a.org_count,a.type_count,
		b.buy_count,b.city_org_count,b.county_org_count,b.category_count,b.outlet_count,b.merchant_count,b.pay_type_count 
		from (select sum(order_count) order_count, sum(order_total_price) order_total_price, sum(product_count) product_count, 
		sum(product_total_price) product_total_price,create_time,client_id,count(distinct org_code) org_count,count(distinct type) type_count,org_code 
		from bi_order o where client_id = #{base.clientId} 
		and exists (select 1 from vw_cb_org org where o.org_code=org.org_code and (org.org_code = #{base.orgCode} or org.city_agency = #{base.orgCode}) and org.client_id = #{base.clientId} )  
		<if test="base.startTime !=null and base.startTime != ''">
			<![CDATA[
				and create_time >= #{base.startTime}
			]]>
		</if>
		<if test="base.endTime !=null and base.endTime != ''">
			<![CDATA[
				and create_time <= #{base.endTime}
			]]>
		</if>
		group by create_time) a 
		left join (select sum(buy_count) buy_count,sum(city_org_count) city_org_count,
		sum(county_org_count) county_org_count,sum(category_count) category_count,
		sum(outlet_count) outlet_count,sum(merchant_count) merchant_count,sum(pay_type_count) pay_type_count,create_time,client_id,org_code    
		from bi_time_client_org group by org_code,create_time,client_id) b 
		on a.client_id = b.client_id and a.org_code=b.org_code and a.create_time = b.create_time 
		order by a.create_time 
	</select>
	
	<select id="getListByOrgCodeAndTypeByPage" resultMap="orderReportResultMap">
		select a.create_time,a.order_count,a.order_total_price,a.product_count,a.product_total_price,a.org_count,a.type_count,
		b.buy_count,b.city_org_count,b.county_org_count,b.category_count,b.outlet_count,b.merchant_count,b.pay_type_count 
		from (select sum(order_count) order_count, sum(order_total_price) order_total_price, sum(product_count) product_count, 
		sum(product_total_price) product_total_price,create_time,type,client_id,count(distinct org_code) org_count,count(distinct type) type_count,org_code 
		from bi_order o where type = #{base.businessType} and client_id = #{base.clientId} 
		and exists (select 1 from vw_cb_org org where o.org_code=org.org_code and (org.org_code = #{base.orgCode} or org.city_agency = #{base.orgCode}) and org.client_id = #{base.clientId} )  
		<if test="base.startTime !=null and base.startTime != ''">
			<![CDATA[
				and create_time >= #{base.startTime}
			]]>
		</if>
		<if test="base.endTime !=null and base.endTime != ''">
			<![CDATA[
				and create_time <= #{base.endTime}
			]]>
		</if>
		group by create_time) a 
		left join (select sum(buy_count) buy_count,sum(city_org_count) city_org_count,
		sum(county_org_count) county_org_count,sum(category_count) category_count,
		sum(outlet_count) outlet_count,sum(merchant_count) merchant_count,sum(pay_type_count) pay_type_count,create_time,type,org_code,client_id   
		from bi_time_client_type_org group by org_code,create_time,client_id,type) b 
		on a.create_time = b.create_time and a.type = b.type and a.org_code=b.org_code and a.client_id = b.client_id 
		order by a.create_time
	</select>
	
	<select id="getProductSellListByPage" resultMap="orderReportResultMap">
		select sum(order_count) order_count, sum(order_total_price) order_total_price, sum(product_count) product_count, 
		sum(product_total_price) product_total_price,create_time from bi_order order1 
		where 1=1 
		<if test="base.clientId !=null and base.clientId != ''">
				and client_id = #{base.clientId}
		</if>
		<if test="base.orgCode !=null and base.orgCode != ''">
			and exists (select 1 from vw_cb_org org where order.org_code=org.org_code and (org.org_code = #{base.orgCode} or org.city_agency = #{base.orgCode}) and org.client_id = #{base.clientId} )  
		</if>
		<if test="base.businessType !=null and base.businessType != ''">
				and type = #{base.businessType}
		</if>
		<if test="base.startTime !=null and base.startTime != ''">
			<![CDATA[
				and create_time >= #{base.startTime}
			]]>
		</if>
		<if test="base.endTime !=null and base.endTime != ''">
			<![CDATA[
				and create_time <= #{base.endTime}
			]]>
		</if>
		<if test="base.daily == 1 ">
				group by create_time
		</if>
		 order by create_time
	</select>
	
	
	
</mapper>