<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ProductSeckillMapper">

	<resultMap type="ProductSeckill" id="productSeckillResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="createTime" column="create_time" />
		<result property="productId" column="product_id" />
		<result property="type" column="type" />
		<result property="secStore" column="sec_store" />
		<result property="secPrice" column="sec_price" />
		<result property="vipSecPrice" column="vip_sec_price" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="trueBuyerNumber" column="true_buyer_number" />
		<result property="buyLimit" column="buy_limit" />
		<result property="isMarketable" column="is_marketable" />
		<result property="auditStartOrgCode" column="audit_start_org_code" />
		<result property="auditEndOrgCode" column="audit_End_org_code" />
		<result property="auditState" column="audit_state" />
		<result property="auditOrgCode" column="audit_org_code" />
		<result property="auditStage" column="audit_stage" />
		<result property="reviewStaff" column="review_staff" />
		<result property="auditStaff" column="audit_staff" />
		<result property="auditTime" column="audit_time" />
		<result property="auditComment" column="audit_comment" />
		<result property="type" column="type" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="marketPrice" column="market_price" />
		<result property="deliveryStartTime" column="delivery_start_time" />
		<result property="deliveryEndTime" column="delivery_end_time" />
		<result property="briefIntroduction" column="brief_introduction" />
		<result property="phone" column="phone" />
		<result property="deliveryOption" column="delivery_option" />
		<result property="buyKnow" column="buy_know" />
		<result property="orgCode" column="org_code" />
		<result property="orgName" column="org_name" />
		<result property="merchantName" column="merchant_name" />
		<result property="fullName" column="full_name" />
		<result property="status" column="status" />
		<result property="store" column="store" />
	</resultMap>
	
	<resultMap type="Product" id="productResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="productId" column="product_id" />
		<result property="store" column="store" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
	</resultMap>

	<!-- 添加  ProductSeckill -->
	<insert id="addProductSeckill" parameterType="ProductSeckill" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into cb_product_seckill (
				client_id,
				merchant_id,
				create_time,
				product_id,
				type,
				sec_store,
				sec_price,
				vip_sec_price,
				start_time,
				end_time,
				true_buyer_number,
				buy_limit,
				is_marketable,
				audit_start_org_code,
				audit_End_org_code,
				audit_state,
				audit_org_code,
				audit_stage,
				review_staff,
				audit_staff,
				audit_time,
				audit_comment
			) values (
				#{clientId},
				#{merchantId},
				#{createTime},
				#{productId},
				#{type},
				#{secStore},
				#{secPrice},
				#{vipSecPrice},
				#{startTime},
				#{endTime},
				#{trueBuyerNumber},
				#{buyLimit},
				#{isMarketable},
				#{auditStartOrgCode},
				#{auditEndOrgCode},
				#{auditState},
				#{auditOrgCode},
				#{auditStage},
				#{reviewStaff},
				#{auditStaff},
				#{auditTime},
				#{auditComment}
			) 
		]]>
	</insert>


	<!-- 删除  ProductSeckill -->
	<update id="deleteProductSeckill" parameterType="ProductSeckill">
		update cb_product_seckill set sec_store = 0, is_marketable = #{isMarketable} 
		<where>
			<if test="productId != null">
				 AND product_id = #{productId}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
		</where>
	</update>
	

	<!-- 修改  ProductSeckill -->
	<update id="updateProductSeckill" parameterType="ProductSeckill">
		update cb_product_seckill
			<set>
				<if test="secStore != null">
					sec_store = #{secStore}, 
				</if>
				<if test="secPrice != null">
					sec_price = #{secPrice}, 
				</if>
				<if test="vipSecPrice != null">
					vip_sec_price = #{vipSecPrice}, 
				</if>
				<if test="buyLimit != null">
					buy_limit = #{buyLimit}, 
				</if>
				<if test="startTime != null">
					start_time = #{startTime}, 
				</if>
				<if test="endTime != null">
					end_time = #{endTime},
				</if>
				<if test="trueBuyerNumber != null">
					true_buyer_number = #{trueBuyerNumber}, 
				</if>
				<if test="buyLimit != null">
					buy_limit = #{buyLimit}, 
				</if>
				<if test="isMarketable != null">
					is_marketable = #{isMarketable}, 
				</if>
				<if test="auditState != null">
					audit_state = #{auditState}, 
				</if>
				<if test="auditOrgCode != null">
					audit_org_code = #{auditOrgCode}, 
				</if>
				<if test="auditStage != null">
					audit_stage = #{auditStage},
				</if>
				<if test="reviewStaff != null">
					review_staff = #{reviewStaff}, 
				</if>
				<if test="auditStaff != null">
					audit_staff = #{auditStaff},
				</if>
			</set>
			<where>
				<if test="productId != null">
					 AND product_id = #{productId}
				</if>
				<if test="clientId != null">
					 AND client_id = #{clientId}
				</if>
			</where>
	</update>

	<!-- 修改上下架状态  ProductSeckill -->
	<update id="updateProductSeckillStatus" parameterType="ProductSeckill">
		update cb_product_seckill set is_marketable = #{isMarketable}
		<where>
			<if test="productId != null">
				 AND product_id = #{productId}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
		</where>
	</update>

	<!-- 秒杀商品配置信息 -->
	<select id="getProductSeckillById" parameterType="ProductSeckill" resultMap="productSeckillResultMap" >
		SELECT
			a.client_id,
			a.merchant_id,
			a.product_id,
			a.type,
			a.sec_store,
			a.sec_price,
			a.vip_sec_price,
			a.start_time,
			a.end_time,
			a.buy_limit,
			a.is_marketable,
			a.audit_state
		FROM cb_product_seckill a where product_id = #{productId}
	</select>
	
	<!-- 秒杀商品分页查询 -->
	<select id="findSeckillByPage" parameterType="java.util.HashMap" resultMap="productSeckillResultMap" >
		SELECT 
			b.product_id,
			b.client_id,
			b.name,
			b.price,
			b.store,
			a.type,
			a.sec_price,
			a.vip_sec_price,
			a.buy_limit,
			a.start_time,
			a.end_time,
			a.sec_store,
			a.audit_state,
			a.is_marketable,
			b.merchant_id,
			b.merchant_name, 
			c.org_name,
			c.org_code 
		FROM cb_product_seckill a 
 		LEFT JOIN cb_product b ON a.product_id = b.product_id 
 		LEFT JOIN cb_org c ON b.org_code = c.org_code AND a.client_id = c.client_id 

		<where>
			<if test="p.clientId !=null and p.clientId !=''">
	        	<![CDATA[
	        	 AND b.client_id = #{p.clientId}
	        	]]>
	    	</if>
	    	<if test="p.type !=null and p.type !=''">
	        	<![CDATA[
	        	 AND b.type = #{p.type}
	        	]]>
	    	</if>
	    	<if test="p.name !=null and p.name !=''">
				<![CDATA[
	        	 AND b.name LIKE CONCAT('%',trim(#{p.name}),'%' )
	        	]]>
	    	</if>
	    	<if test="p.proOrgCode != null and p.proOrgCode != ''">
			 	AND b.province_agency = #{p.proOrgCode}
			</if>
			<if test="p.cityOrgCode != null and p.cityOrgCode != ''">
				 AND b.city_agency = #{p.cityOrgCode}
			</if>
			<if test="p.countryOrgCode != null and p.countryOrgCode != ''">
				 AND b.county_agency = #{p.countryOrgCode}
			</if>
	    	<if test="p.orgCode !=null and p.orgCode !=''">
	        	<![CDATA[
	        	 AND b.org_code = #{p.orgCode}
	        	]]>
	    	</if>
	    	<if test="p.auditState !=null and p.auditState !=''">
	        	<![CDATA[
	        	 AND a.audit_state = #{p.auditState}
	        	]]>
	    	</if>
	    	<if test="p.startTime !=null and p.startTime !=''">
	        	<![CDATA[
	        	 AND a.start_time >= #{p.startTime}
	        	]]>
	    	</if>
	    	<if test="p.endTime !=null and p.endTime !=''">
				<![CDATA[
	        	 AND a.start_time <= #{p.endTime}
	        	]]>
	    	</if>
	    	
	    	 AND a.is_marketable<![CDATA[<>]]>3
	    	
	    </where>
	    order by
		 
      	a.create_time desc
	</select>
	
	<!-- 修改库存  Product -->
	<update id="updateProductStore" parameterType="Product" >
		update cb_product set store = #{store}
		<where>
			product_id = #{productId}
			and merchant_id = #{merchantId}
			and client_id = #{clientId} 
		</where>
	</update>
	
	<!-- H5秒杀商品分页查询 -->
	<select id="findH5SeckillByPage" parameterType="java.util.HashMap" resultMap="productSeckillResultMap" >
		SELECT 
			a.client_id,
			a.merchant_id,
			a.product_id,
			a.type,
			a.sec_store,
			a.sec_price,
			a.vip_sec_price,
			a.buy_limit,
			a.start_time,
			a.end_time,
			a.true_buyer_number 
		
		FROM cb_product_seckill a 
		<where>
			<if test="p.clientId !=null and p.clientId !=''">
	        	<![CDATA[
	        	 AND a.client_id = #{p.clientId}
	        	]]>
	    	</if>
	    	<if test="p.status == '1'.toString()">
	        	<![CDATA[
	        	 AND sec_store > 0 
	        	 AND a.start_time <= now() AND a.end_time >= now()
	        	]]>
	    	</if>
	    	<if test="p.status == '2'.toString()">
	        	<![CDATA[
	        	 AND a.start_time >= now() 
	        	]]>
	    	</if>
	    	<if test="p.status == '3'.toString()">
	        	<![CDATA[
	        	 AND sec_store = 0 
	        	 AND a.start_time <= now() AND a.end_time >= now()
	        	]]>
	    	</if>
	    	<if test="p.status == '4'.toString()">
	        	<![CDATA[
	        	 AND a.end_time <= now() 
	        	]]>
	    	</if>
	    	AND a.is_marketable = 1 
	    </where>
	    order by
		<if test="p.status == '1'.toString()">
		a.end_time
		</if>
		<if test="p.status == '2'.toString()">
		a.start_time
		</if>
		<if test="p.status == '3'.toString() or p.status == '4'.toString()">
		a.end_time desc
		</if>
	</select>

</mapper>

