<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.BossOrgMapper">

	<resultMap type="BossOrg" id="bossOrgResultMap">
		<id property="id" column="id" />
		<result property="parentOrgCode" column="parent_org_code" />
		<result property="orgCode" column="org_code" />
		<result property="orgName" column="org_name" />
		<result property="roleId" column="role_id" />
		<result property="isEnable" column="is_enable" />
	</resultMap>


	<!-- 添加  BossOrg -->
	<insert id="addBossOrg" parameterType="BossOrg" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_boss_org (
				parent_org_code,org_code,org_name,role_id,is_enable
			) VALUES (
				#{parentOrgCode},#{orgCode},#{orgName},#{roleId},#{isEnable}
			) 
		]]>
	</insert>


	<!-- 批量添加  BossOrg -->
	<insert id="addBossOrgByBatch" parameterType="java.util.List">
		INSERT INTO cb_boss_org (
			parent_org_code,org_code,org_name,role_id,is_enable
		) VALUES 
		<foreach collection="bossOrgList" item="item" index="index" separator=",">
			(#{parentOrgCode},#{orgCode},#{orgName},#{roleId},#{isEnable})
		</foreach>
	</insert>


	<!-- 删除  BossOrg -->
	<update id="deleteBossOrg" parameterType="BossOrg">
		UPDATE cb_boss_org SET is_enable = false  where  id = #{id}
	</update>


	<!-- 修改  BossOrg -->
	<update id="updateBossOrg" parameterType="BossOrg">
		UPDATE cb_boss_org 
		<set>
				<if test="id != null">
					  id = #{id}, 
				</if>
				<if test="parentOrgCode != null">
					  parent_org_code = #{parentOrgCode}, 
				</if>
				<if test="orgCode != null">
					  org_code = #{orgCode}, 
				</if>
				<if test="orgName != null">
					  org_name = #{orgName}, 
				</if>
				<if test="roleId != null">
					  role_id = #{roleId}, 
				</if>
		</set>
		 where  id = #{id}
	</update>


	<!-- 查询  BossOrg -->
	<select id="findBossOrgById" parameterType="java.lang.Long" resultMap="bossOrgResultMap">
		SELECT 
            id,parent_org_code,org_code,org_name,role_id,is_enable 
        FROM cb_boss_org 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询  BossOrg -->
	<select id="findBossOrg" parameterType="BossOrg" resultMap="bossOrgResultMap">
		SELECT 
            id,parent_org_code,org_code,org_name,role_id,is_enable 
        FROM cb_boss_org 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="parentOrgCode != null">
				 AND parent_org_code = #{parentOrgCode}
			</if>
			<if test="orgCode != null">
				 AND org_code = #{orgCode}
			</if>
			<if test="orgName != null">
				 AND org_name = #{orgName}
			</if>
			<if test="roleId != null">
				 AND role_id = #{roleId}
			</if>
			<if test="isEnable != null">
				 AND is_enable = #{isEnable}
			</if>
		</where>
	</select>

	<!-- 分页查询  BossOrg -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="bossOrgResultMap">
		SELECT 
            id,parent_org_code,org_code,org_name,role_id,is_enable 
        FROM cb_boss_org 
		<if test="bossOrg != null">
			<where>
				<if test="bossOrg.id != null">
					 AND id = #{bossOrg.id}
				</if>
				<if test="bossOrg.parentOrgCode != null">
					 AND parent_org_code = #{bossOrg.parentOrgCode}
				</if>
				<if test="bossOrg.orgCode != null">
					 AND org_code = #{bossOrg.orgCode}
				</if>
				<if test="bossOrg.orgName != null">
					 AND org_name = #{bossOrg.orgName}
				</if>
				<if test="bossOrg.roleId != null">
					 AND role_id = #{bossOrg.roleId}
				</if>
				<if test="bossOrg.isEnable != null">
					 AND is_enable = #{bossOrg.isEnable}
				</if>
			</where>
		</if>
	</select>


</mapper>

