<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.BossUserOrgMapper">

	<resultMap type="BossUserOrg" id="bossUserOrgResultMap">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="orgCode" column="org_code" />
	</resultMap>


	<!-- 添加  BossUserOrg -->
	<insert id="addBossUserOrg" parameterType="BossUserOrg" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_boss_user_org (
				user_id,org_code
			) VALUES (
				#{userId},#{orgCode}
			) 
		]]>
	</insert>


	<!-- 批量添加  BossUserOrg -->
	<insert id="addBossUserOrgByBatch" parameterType="java.util.List">
		INSERT INTO cb_boss_user_org (
			user_id,org_code
		) VALUES 
		<foreach collection="bossUserOrgList" item="item" index="index" separator=",">
			(#{userId},#{orgCode})
		</foreach>
	</insert>


	<!-- 删除  BossUserOrg -->
	<delete id="deleteBossUserOrg" parameterType="BossUserOrg">
		DELETE FROM cb_boss_user_org  where  id = #{id}
	</delete>


	<!-- 修改  BossUserOrg -->
	<update id="updateBossUserOrg" parameterType="BossUserOrg">
		UPDATE cb_boss_user_org 
		<set>
				<if test="id != null">
					  id = #{id}, 
				</if>
				<if test="userId != null">
					  user_id = #{userId}, 
				</if>
		</set>
		 where  id = #{id}
	</update>


	<!-- 查询  BossUserOrg -->
	<select id="findBossUserOrgById" parameterType="java.lang.Long" resultMap="bossUserOrgResultMap">
		SELECT 
            id,user_id,org_code 
        FROM cb_boss_user_org 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询  BossUserOrg -->
	<select id="findBossUserOrg" parameterType="BossUserOrg" resultMap="bossUserOrgResultMap">
		SELECT 
            id,user_id,org_code 
        FROM cb_boss_user_org 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="userId != null">
				 AND user_id = #{userId}
			</if>
			<if test="orgCode != null">
				 AND org_code = #{orgCode}
			</if>
		</where>
	</select>

	<!-- 分页查询  BossUserOrg -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="bossUserOrgResultMap">
		SELECT 
            id,user_id,org_code 
        FROM cb_boss_user_org 
		<if test="bossUserOrg != null">
			<where>
				<if test="bossUserOrg.id != null">
					 AND id = #{bossUserOrg.id}
				</if>
				<if test="bossUserOrg.userId != null">
					 AND user_id = #{bossUserOrg.userId}
				</if>
				<if test="bossUserOrg.orgCode != null">
					 AND org_code = #{bossUserOrg.orgCode}
				</if>
			</where>
		</if>
	</select>


</mapper>

