<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.DeliveryCorpMapper">

	<resultMap type="DeliveryCorp" id="deliveryCorpResultMap">
		<id property="id" column="id" />
		<!--  
		<result property="clientId" column="client_id" />-->
		<result property="name" column="name" />
		<result property="url" column="url" />
		<result property="orderValue" column="order_value" />
		<result property="isEnable" column="is_enable" />
		<result property="corpCode" column="corp_code" />
	</resultMap>


	<!-- 添加  DeliveryCorp -->
	<insert id="addDeliveryCorp" parameterType="DeliveryCorp" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_delivery_corp (
				corp_code,name,url,order_value,is_enable
			) VALUES (
				#{corpCode},#{name},#{url},#{orderValue},#{isEnable}
			) 
		]]>
	</insert>


	<!-- 批量添加  DeliveryCorp -->
	<insert id="addDeliveryCorpByBatch" parameterType="java.util.List">
		INSERT INTO cb_delivery_corp (
			corp_code,name,url,order_value,is_enable
		) VALUES 
		<foreach collection="deliveryCorpList" item="item" index="index" separator=",">
			(#{corpCode},#{name},#{url},#{orderValue},#{isEnable})
		</foreach>
	</insert>


	<!-- 删除  DeliveryCorp -->
	<update id="deleteDeliveryCorp" parameterType="DeliveryCorp">
		UPDATE cb_delivery_corp  SET is_enable = false  where  id = #{id}
	</update>


	<!-- 修改  DeliveryCorp -->
	<update id="updateDeliveryCorp" parameterType="DeliveryCorp">
		UPDATE cb_delivery_corp  
		<set>
		 <!-- 
			<if test="clientId != null">
			client_id = #{clientId},
			</if> -->
			<if test="name != null">
				  name = #{name},
			</if>
			<if test="url != null">
				  url = #{url},
			</if>
			<if test="orderValue != null">
				  order_value = #{orderValue},
			</if>
			<if test="isEnable != null">
			 	 is_enable = #{isEnable},
			</if>
			<if test="corpCode != null">
			 	 corp_code = #{corpCode},
			</if>
		</set>
			where id = #{id}
	</update>


	<!-- 查询  DeliveryCorp -->
	<select id="findDeliveryCorpById" parameterType="java.lang.Long" resultMap="deliveryCorpResultMap">
		SELECT 
            id,corp_code,name,url,order_value,is_enable 
        FROM cb_delivery_corp 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询  DeliveryCorp -->
	<select id="findDeliveryCorp" parameterType="DeliveryCorp" resultMap="deliveryCorpResultMap">
		SELECT 
            id,corp_code,name,url,order_value,is_enable 
        FROM cb_delivery_corp 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<!--  1.9调整去除
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>-->
			<if test="name != null">
				 AND name = #{name}
			</if>
			<if test="url != null">
				 AND url = #{url}
			</if>
			<if test="orderValue != null">
				 AND order_value = #{orderValue}
			</if>
			<if test="isEnable != null">
				 AND is_enable = #{isEnable}
			</if>
			<if test="corpCode != null">
			 	 corp_code = #{corpCode},
			</if>
		</where>
	</select>

	<!-- 分页查询  DeliveryCorp -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="deliveryCorpResultMap">
		SELECT 
            id,corp_code,name,url,order_value,is_enable 
         from cb_delivery_corp 
		<if test="deliveryCorp != null">
			<where>
				<if test="deliveryCorp.id != null">
					 AND id = #{deliveryCorp.id}
				</if>
				<!-- 
				<if test="deliveryCorp.clientId != null">
					 AND client_id = #{deliveryCorp.clientId}
				</if> -->
				<if test="deliveryCorp.name != null">
					 AND name = #{deliveryCorp.name}
				</if>
				<if test="deliveryCorp.url != null">
					 AND url = #{deliveryCorp.url}
				</if>
				<if test="deliveryCorp.orderValue != null">
					 AND order_value = #{deliveryCorp.orderValue}
				</if>
				<if test="deliveryCorp.isEnable != null">
					 AND is_enable = #{deliveryCorp.isEnable}
				</if>
				<if test="deliveryCorp.corpCode != null">
					 AND corp_code = #{deliveryCorp.corpCode}
				</if>
			</where>
		</if>
	</select>


</mapper>

