<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.DictionaryItemMapper">

    <resultMap type="Dictionaryitem" id="dictionaryitemResultMap">
		<id property="id" column="id" />
		<result property="itemCode" column="item_code" />
		<result property="itemName" column="item_name" />
		<result property="itemValue" column="item_value" />
		<result property="depiction" column="depiction" />
		<result property="dicId" column="dic_id" />
		<result property="clientId" column="client_id" />
		<result property="orderValue" column="order_value" />
		<result property="isEnable" column="is_enable" />
	</resultMap>

  <!-- 分页查询  物流公司 -->
	<select id="findDictionaryitemByDicCode" parameterType="java.util.HashMap" resultMap="dictionaryitemResultMap">
		SELECT 
            ci.id,ci.item_name,ci.item_value,ci.item_code,ci.depiction
        FROM cb_dictionary_item ci left join cb_dictionary cd on ci.dic_id=cd.id 
        WHERE cd.dic_code=#{DicCode} and ci.client_id=#{clientId} and ci.is_enable=1 
	
	</select>
<!-- 查询单个物流公司 -->
    <select id="getDictionaryitemById" parameterType="java.lang.Long" resultMap="dictionaryitemResultMap">
     SELECT id,item_code,item_name,item_value,depiction,dic_id,order_value FROM cb_dictionary_item where id=#{id}
     AND is_enable=1
    </select>

</mapper>