<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.SmsContentMapper">

	<resultMap type="SmsContent" id="smsContentResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="smsType" column="sms_type" />
		<result property="content" column="content" />
		<result property="channel" column="channel" />
		<result property="msgSuffix" column="msg_suffix" />
		<result property="validTime" column="valid_time" />
		<result property="isEnable" column="is_enable" />
	</resultMap>


	<!-- 添加  SmsContent -->
	<insert id="addSmsContent" parameterType="SmsContent" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_sms_content (
				client_id,sms_type,content,channel,msg_suffix,valid_time,is_enable
			) VALUES (
				#{clientId},#{smsType},#{content},#{channel},#{msgSuffix},#{validTime},#{isEnable}
			) 
		]]>
	</insert>


	<!-- 批量添加  SmsContent -->
	<insert id="addSmsContentByBatch" parameterType="java.util.List">
		INSERT INTO cb_sms_content (
			client_id,sms_type,content,channel,msg_suffix,valid_time,is_enable
		) VALUES 
		<foreach collection="smsContentList" item="item" index="index" separator=",">
			(#{clientId},#{smsType},#{content},#{channel},#{msgSuffix},#{validTime},#{isEnable})
		</foreach>
	</insert>


	<!-- 删除  SmsContent -->
	<update id="deleteSmsContent" parameterType="SmsContent">
		UPDATE  cb_sms_content  SET is_enable = false 
			where  id = #{id}
	</update>


	<!-- 修改  SmsContent -->
	<update id="updateSmsContent" parameterType="SmsContent">
		UPDATE cb_sms_content 
		<set>
			<if test="clientId != null">
				client_id = #{clientId},
			</if>
			<if test="smsType != null">
				 sms_type = #{smsType},
			</if>
			<if test="content != null">
				 content = #{content},
			</if>
			 <if test="channel != null">
				 channel = #{channel},
			</if>
			 <if test="msgSuffix != null">
				msg_suffix = #{msgSuffix},
			</if>
           <if test="validTime != null">
				valid_time = #{validTime},
			</if>   
			  <if test="isEnable != null">
				is_enable = #{isEnable},
			</if>            
		</set> 
			where id = #{id}
	</update>


	<!-- 查询  SmsContent -->
	<select id="findSmsContentById" parameterType="java.lang.Long" resultMap="smsContentResultMap">
		SELECT 
            id,client_id,sms_type,content,channel,msg_suffix,valid_time,is_enable 
        FROM cb_sms_content 
        WHERE 
            id = #{id}

	</select>

	<!-- 查询  SmsContent -->
	<select id="findSmsContent" parameterType="SmsContent" resultMap="smsContentResultMap">
		SELECT 
            id,client_id,sms_type,content,channel,msg_suffix,valid_time,is_enable 
        FROM cb_sms_content 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="clientId != null">
				 AND client_id = #{clientId}
			</if>
			<if test="smsType != null">
				 AND sms_type = #{smsType}
			</if>
			<if test="content != null">
				 AND content = #{content}
			</if>
			<if test="channel != null">
				 AND channel = #{channel}
			</if>
			<if test="msgSuffix != null">
				 AND msg_suffix = #{msgSuffix}
			</if>
			<if test="isEnable != null">
				 AND is_enable = #{isEnable}
			</if>
		</where>
	</select>

	<!-- 分页查询  SmsContent -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="smsContentResultMap">
		SELECT 
            id,client_id,sms_type,content,channel,msg_suffix,valid_time,is_enable 
         from cb_sms_content 
		<if test="smsContent != null">
			<where>
				<if test="smsContent.id != null">
					 AND id = #{smsContent.id}
				</if>
				<if test="smsContent.clientId != null">
					 AND client_id = #{smsContent.clientId}
				</if>
				<if test="smsContent.smsType != null">
					 AND sms_type = #{smsContent.smsType}
				</if>
				<if test="smsContent.content != null">
					 AND content = #{smsContent.content}
				</if>
				<if test="smsContent.channel != null">
					 AND channel = #{smsContent.channel}
				</if>
				<if test="smsContent.msgSuffix != null">
					 AND msg_suffix = #{smsContent.msgSuffix}
				</if>
				<if test="smsContent.validTime != null">
					 AND valid_time = #{smsContent.validTime}
				</if>
				<if test="smsContent.isEnable != null">
					 AND is_enable = #{smsContent.isEnable}
				</if>
			</where>
		</if>
	</select>

	<!-- 查询  SmsContent -->
	<select id="findSmsContentByClientIdAndType" resultMap="smsContentResultMap">
	    SELECT 
            id,client_id,sms_type,content,channel,msg_suffix,valid_time,is_enable 
        FROM cb_sms_content 
        WHERE client_id = #{clientId} 
          AND sms_type = #{smsType}
        limit 1
	</select>

</mapper>

