/*
* Author:
* pengling@f-road.com.cn 
*/
/*后台主体框架*/
.middleBox {
	margin:-20px auto 0;
	overflow:hidden;
	float:left;
	background:#F9F9F9;min-height:400px
}
*+html .middleBox {
	margin:0
}
.middleBox h5 {
	color:#fff;
	font-family:"黑体";
	margin:0px;text-align:center;font-size:14px;font-weight:bold;background:#d6121e;display:block;line-height:36px
}
.middleBox .left dt{ border-top:1px dashed #999;text-align:center;color:#666;font-size:12px;line-height:40px}
.middleBox .current a {
	background:#d70c25;
	color:#fff;
}

.middleBox .current1 .first{color:red}
.middleBox .current1 a {
	background:#dedede;
}
.current1 .mainfirst li a{background:#fff;border-right:1px solid #dedede}
.middleBox .current2{background:#eae9e9;color:#000;font-size:12px;line-height:30px;text-align:left;width:104px;padding-left:0px;font-weight:bold;display:block;border-bottom:1px solid #d1d2d6; text-indent:0px}
*+html .middleBox .current2{width:104px;line-height:39px;margin-top:-4px;}
.middleBox .current2 u {font-size:12px;}
.middleBox .current2 ul li{background:#fff;font-size:12px;text-align:left;width:104px;}
.mainfirst li a{margin-left:0px; text-indent:12px}
*+html .mainfirst li a{text-align:left;}

.rightBox {
	width:850px;
	float:left;
	display:inline;
	background:#FFF;
	border-right:1px solid #E1E1E1;
	padding-bottom:15px;min-height:443px
}
.rightBox .psw {
	min-height:150px;padding-bottom:30px
}
.rightBox .psw dl {
	margin:4px 0 4px 0
}
.rightBox h2{color:#d6121e;margin:40px 0 0 22px;}
.rightBox .tit h2{margin:0;color:#000}
/*广告*/
.ad {
	width:1000px;
	height:73px;
	margin:1px auto;
}
/*left*/
.left {
	width:149px;
	float:left;
	margin-bottom:2px;
	position:relative;
}
.left .mainfirst .current2 li{float:left;}
.left .first {
	height:40px;
	padding-left:40px;
	line-height:40px;
	font-size:15px;
	font-weight:bold;
	padding-right:10px;
	background:#eee;
	border-bottom:1px dashed #ddd;display:block;text-left:center
}
.left .mainfirst li {
	width:150px;
	line-height:35px;
	white-space:nowrap;
	overflow:hidden;
	border-bottom:1px solid #EEE;
}
.left .mainfirst li a {
	padding-left:45px;
	font-size:12px;
	display:block;
}
.left .mainfirst li a:hover {
}
.left .mainfirst li.cardphone img {
	position:absolute;
	z-index:2;
	top:392px;
*top:428px;
	right:-17px;
}
.left li a {
	color:#333;
	text-decoration:none;
}
.left li a.cutA {
	color:#FFF;
}
.left li a:hover {
	color:999;
	text-decoration:none;
}
.left li u {
	text-decoration:none;
}
.left li u.admincut {
	font-weight:bold;
	background:#0080cb;
	display:block;
}
.left .visitedColor {
	color:#055CA0;
	font-weight:bold;
}
.left .second li a.innerColor {
	color:#055CA0;
	font-weight:bold;
}
.rightBox .tit{font-size:16px;padding:10px;font-weight:bold;float:left;width:100%; }
.rightBox .tit .miss{width:580px;text-align:left;font-size:12px;padding:8px;height:100%;margin-left:10px;border:1px solid #cf1339;background:#fff}
.rightBox .tit .miss a{float:right;margin:-3px -3px 0 0}
.rightBox .tit .miss dl{float:left;font-weight:normal;line-height:20px}
.rightBox .tit .miss u{color:#cf1339; text-decoration:none}
.rightBox  .stockphone{font-size:12px;color:#cf1339;margin-right:25px;float:right}
.rightBox .nopr {padding:60px 0 0 200px;border:1px solid #d1d0d6;width:639px;margin:0 0 0 5px;border-top:none;height:220px}
.ordersearch{float:Left;width:560px;font-size:12px;font-weight:normal;margin:20px 0 0 49px;line-height:30px}
.ordersearch font{font-size:12px}
*+html .ordersearch{padding-bottom:50px}
.ordersearch dd,.ordersearch label{float:left;margin-left:15px;height:30px}
.ordersearch dd{margin-left:5px;}
.ordersearch span{float:left;width:560px;height:30px;}
*+html .ordersearch dd{width:300px}
*+html .ordersearch .mt15{color:#000}
*+html rightBox .mt10{margin-bottom:-60px;float:left}
.ordersearchtable{float:left;margin-top:10px}
.ordersearchtable .tableA{width:600px;margin-left:139px}
.fromDiv span{margin-left:130px}
.modifypsw {font-size:12px;margin:0 0 0  30px;line-height:37px;float:left;width:310px}
.modifypsw a{margin:15px 0 0 -3px;float:left}
.prsupplysearch{float:left;font-size:12px;margin:0 0 0 15px;}
.prsupplysearch input,.prsupplysearch select{float:left;}
.prsupplysearch span,.prsupplysearch a{float:left;}
.prsupplysearch label{margin-left:8px;margin-right:6px;float:left; line-height:30px;}
.prsupplysearch input{margin-right:10px}
.prsupplysearch select{margin-top:5px;margin-right:0}
#uboxstyle {
	min-height:70px;
	height:157px;
	width:280px;
	border:1px solid #999;
	overflow:auto;
	scroll-y:auto;scroll-x:none;
	font-family: "微软雅黑";
	margin-bottom:15px;
	float:left; display:inline-block
}
#uboxstyle li {
	display:block;
	background:#fff;
	padding:0px 3px 10px 3px;line-height:13px;
	float:left;width:97%;border-bottom:1px solid #CCC
}
*+html #uboxstyle li {width:90%}
#uboxstyle li a {
	text-decoration: none;
	color: #666;
	float:Left;font-weight:normal; text-indent:15px;
}

.modifypsw span{}
#uboxstyle .current1{background:#ececec}
#uboxstyle .current1 a{background:none}

.rightBox a:link{ text-decoration: none}
.newuser span{color:red;float:left;width:100%;line-height:30px;}

.rightBox .welcome{ background:#FFF0F0 url(../../common/images/cqlogo.png) no-repeat; width:673px; height:174px; display:block; margin:30px auto 0; border:1px solid #F00; border-radius:10px;}

.rightBox .welyou{ font:18px/30px "微软雅黑"; text-align:center; margin-top:40px;}

.rightBox .welyou  b{ color:#F00}