<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
	default-autowire="byName">

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="com.froad.cbank.coremodule.normal.boss.common.spring.MappingJacksonHttpMessageConverter"></bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<context:annotation-config />
	<context:component-scan base-package="com.froad.cbank.coremodule" name-generator="com.froad.cbank.coremodule.normal.boss.common.spring.SdpAnnotationBeanNameGenerator"/>
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="ignoreAcceptHeader" value="true" />
		<property name="order" value="1" />
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
			</map>
		</property>
		<property name="defaultViews">
			<list>
				<!-- JSON View -->
				<bean class="com.froad.cbank.coremodule.framework.common.util.web.MappingJsonView">
				</bean>
			</list>
		</property>
	</bean>
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大尺寸为1MB -->
		<property name="maxUploadSize">
			<value>10485760</value>
		</property>
	</bean>
	
	<bean id="exceptionResolver"
		class="com.froad.cbank.coremodule.normal.boss.common.spring.JsonHandlerExceptionResolver" p:order="1">
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">500,上传文件大小超限</prop>
				<prop key="org.springframework.http.converter.HttpMessageNotReadableException">608</prop>
				<prop key="java.lang.Exception">500,系统错误</prop>
			</props>
		</property>
	</bean>

	<!-- 资源文件绑定器 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/WEB-INF/i18n/message</value>
			</list>
		</property>
		<property name="cacheSeconds" value="3600" />
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
	<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />

	<!-- *设置拦截器* 基于request的拦截器,将拦截器注入到你的UrlHandlerMapping中 -->
	<!-- 注意请求参数为locale，例如locale=zh_CN, 在controller里面获取资源文件的时候, 注意使用RequestContextUtils.getLocale(request)替代request.getLocale()获取locale信息. -->
	<bean id="defaultUrlMapping"
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
		<property name="interceptors" ref="localeChangeInterceptor" />
		<property name="order">
			<value>1</value>
		</property>
	</bean>
	
	
	<import resource="classpath*:applicationContext.xml" />
	
	
	<!-- TOKEN拦截 	-->
 	<mvc:interceptors>  
	
		<!-- 日志拦截器   -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean id="logInterceptor" class="com.froad.cbank.coremodule.normal.boss.interceptor.LogInterceptor" />
		</mvc:interceptor>
    
 		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean id="bossBaseInterceptor" class="com.froad.cbank.coremodule.normal.boss.interceptor.BaseInterceptor" />
		</mvc:interceptor>
		
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/login/*"/>
			<mvc:exclude-mapping path="/img/upload"/>
			<mvc:exclude-mapping path="/vipimp/upload"/>
			<bean id="bossTokenInterceptor" class="com.froad.cbank.coremodule.normal.boss.interceptor.TokenInterceptor" />
		</mvc:interceptor>
		
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/login/*"/>
			<bean id="bossAuthInterceptor" class="com.froad.cbank.coremodule.normal.boss.interceptor.AuthInterceptor" />
		</mvc:interceptor>
		
    </mvc:interceptors>
	
</beans>  