<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
	default-autowire="byName">
	
	<!-- 积分报表 -->
	<bean id="pointSettlementService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.PointSettlementService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.order.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>PointSettlementService</value>
		</constructor-arg>
	</bean>
	
	<bean id="merchantUserService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.MerchantUserService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.merchant.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>MerchantUserService</value>
		</constructor-arg>
	</bean>
	<bean id="outletService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.OutletService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.merchant.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>OutletService</value>
		</constructor-arg>
	</bean>
	
	
	<bean id="merchantOutletPhotoService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.MerchantOutletPhotoService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.merchant.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>MerchantOutletPhotoService</value>
		</constructor-arg>
	</bean>
	
	<bean id="areaService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.AreaService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>AreaService</value>
		</constructor-arg>
	</bean>
	
	<bean id="merchantService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.MerchantService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.merchant.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>MerchantService</value>
		</constructor-arg>
	</bean>
	
	<bean id="productService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.ProductService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.goods.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>ProductService</value>
		</constructor-arg>
	</bean>
	<bean id="productCategoryService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.ProductCategoryService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.goods.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>ProductCategoryService</value>
		</constructor-arg>
	</bean>	
	
	<bean id="orderService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.OrderService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.order.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>OrderService</value>
		</constructor-arg>
	</bean>
	
	<bean id="ticketService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg index="0">
			<value>com.froad.thrift.service.TicketService</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>${thrift.order.host}</value>
		</constructor-arg>
		<constructor-arg index="2">
			<value>TicketService</value>
		</constructor-arg>
		<!-- 请求响应时间设置5分钟 -->
		<constructor-arg index="3">
			<map>
				<entry key="exportTickets" value="300000"/>
			</map>
		</constructor-arg>
	</bean>
	<bean id="orderQueryService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg index="0">
			<value>com.froad.thrift.service.OrderQueryService</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>${thrift.order.host}</value>
		</constructor-arg>
		<constructor-arg index="2">
			<value>OrderQueryService</value>
		</constructor-arg>
		<!-- 请求响应时间设置5分钟 -->
		<constructor-arg index="3">
			<map>
				<entry key="queryOrderByMerchantManage" value="300000"/>
				<entry key="exportOrderByMerchantManage" value="300000"/>
			</map>
		</constructor-arg>
	</bean>
	
	<bean id="outletCommentService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.OutletCommentService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.merchant.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>OutletCommentService</value>
		</constructor-arg>
	</bean>
	
	<bean id="orgService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.OrgService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.bank.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>OrgService</value>
		</constructor-arg>
	</bean>	
	<bean id="bankAuditService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.BankAuditService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.bank.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>BankAuditService</value>
		</constructor-arg>
	</bean>	
	
	<bean id="smsMessageService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.SmsMessageService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>SmsMessageService</value>
		</constructor-arg>
	</bean>	
	
	<bean id="deliveryCorpService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.DeliveryCorpService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.support.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>DeliveryCorpService</value>
		</constructor-arg>
	</bean>	
	
	<bean id="merchantRoleResourceService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.MerchantRoleResourceService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.merchant.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>MerchantRoleResourceService</value>
		</constructor-arg>
	</bean>	
	<bean id="merchantMonthCountService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.MerchantMonthCountService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.merchant.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>MerchantMonthCountService</value>
		</constructor-arg>
	</bean>	
	
	<bean id="merchantRoleService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.MerchantRoleService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.merchant.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>MerchantRoleService</value>
		</constructor-arg>
	</bean>	
	
	<bean id="merchantResourceService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.MerchantResourceService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.merchant.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>MerchantResourceService</value>
		</constructor-arg>
	</bean>
	<bean id="settlementService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.SettlementService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.order.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>SettlementService</value>
		</constructor-arg>
	</bean>
	
	<bean id="merchantAccountService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.MerchantAccountService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.merchant.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>MerchantAccountService</value>
		</constructor-arg>
	</bean>
	<bean id="clientProductAuditService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.ClientProductAuditService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.bank.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>ClientProductAuditService</value>
		</constructor-arg>
	</bean>	
	<bean id="bankCardService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg index="0">
			<value>com.froad.thrift.service.BankCardService</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>${thrift.order.host}</value>
		</constructor-arg>
		<constructor-arg index="2">
			<value>BankCardService</value>
		</constructor-arg>
		<!-- 请求响应时间设置1分钟 -->
		<constructor-arg index="3">
			<map>
				<entry key="bankCardAccountCheck" value="60000"/>
			</map>
		</constructor-arg>
	</bean>
	<bean id="fallowExecuteService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.FallowExecuteService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.fallow.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>FallowExecuteService</value>
		</constructor-arg>
	</bean>

	<bean id="finityResourceService" class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory" factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.FinityResourceService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.finity.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>FinityResourceService</value>
		</constructor-arg>
	</bean>
	<bean id="processService" class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory" factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.ProcessService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.finity.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>ProcessService</value>
		</constructor-arg>
	</bean>
	
	<bean id="finityMerchantUserService" class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory" factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.FinityMerchantUserService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.finity.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>FinityMerchantUserService</value>
		</constructor-arg>
	</bean>
	
	<bean id="merchantCategoryService"  class="com.froad.cbank.coremodule.framework.expand.thrift.proxy.DynamicClientProxyFactory"  factory-method="createIface" scope="prototype">
		<constructor-arg>
			<value>com.froad.thrift.service.MerchantCategoryService</value>
		</constructor-arg>
		<constructor-arg>
			<value>${thrift.merchant.host}</value>
		</constructor-arg>
		<constructor-arg>
			<value>MerchantCategoryService</value>
		</constructor-arg>
	</bean>
	
	
</beans>  