<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd" >
<sqlMap namespace="springFestivalCoupon">
	<typeAlias alias="springFestivalCoupon" type="com.froad.CB.po.activity.SpringFestivalCoupon" />	
	<resultMap class="springFestivalCoupon" id="SpringFestivalCouponResult">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="o2o_info_id" property="o2oInfoId" jdbcType="VARCHAR" />
		<result column="member_code" property="memberCode" jdbcType="VARCHAR" />
		<result column="securities_no" property="securitiesNo" jdbcType="VARCHAR" />
		<result column="worth_cash" property="worthCash" jdbcType="VARCHAR" />
		<result column="award_level" property="awardLevel" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="is_got" property="isGot" jdbcType="VARCHAR" />
		<result column="got_time" property="gotTime" jdbcType="VARCHAR" />
		<result column="is_consume" property="isConsume" jdbcType="VARCHAR" />
		<result column="consume_time" property="consumeTime" jdbcType="VARCHAR" />
		<result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
		<result column="be_code" property="beCode" jdbcType="VARCHAR" />
		<result column="be_name" property="beName" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="expire_time" property="expireTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />	
	</resultMap>
	
	<insert id="add" parameterClass="springFestivalCoupon">
		insert into 
		spring_festival_coupon(id,o2o_info_id,member_code,securities_no,worth_cash,award_level,type,is_got,got_time,is_consume,consume_time,merchant_id,be_code,be_name,
		state,expire_time,update_time,create_time) 
		values(#id:INTEGER#,#o2oInfoId:VARCHAR#,#memberCode:VARCHAR#,#securitiesNo:VARCHAR#,#worthCash:VARCHAR#,#awardLevel:VARCHAR#,#type:VARCHAR#,#isGot:VARCHAR#,#gotTime:VARCHAR#,#isConsume:VARCHAR#,#consumeTime:VARCHAR#,
		#merchantId:VARCHAR#,#beCode:VARCHAR#,#beName:VARCHAR#,#state:VARCHAR#,#expireTime:VARCHAR#,DATE_FORMAT(NOW(),"%Y-%m-%d|%H:%i:%s"),DATE_FORMAT(NOW(),"%Y-%m-%d|%H:%i:%s"))
		<selectKey keyProperty="id" resultClass="int">
			select last_insert_id() as id
		</selectKey>
	</insert>
	
	<select id="getById" parameterClass="java.lang.String" resultMap="SpringFestivalCouponResult">
		select * from spring_festival_coupon where id=#id:INT#
	</select>
	
	<select id="getSpringFestivalCouponByCndition" parameterClass="springFestivalCoupon" resultMap="SpringFestivalCouponResult">
		select * from spring_festival_coupon
			<dynamic prepend="where">
				<isNotEmpty prepend="and" property="id">
					id=#id#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="o2oInfoId">
					o2o_info_id=#o2oInfoId#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="memberCode">
					member_code=#memberCode#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="securitiesNo">
					securities_no=#securitiesNo#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="worthCash">
					worth_cash=#worthCash#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="awardLevel">
					award_level=#awardLevel#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="type">
					type=#type#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="isGot">
					is_got=#isGot#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="gotTime">
					got_time=#gotTime#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="isConsume">
					is_consume=#isConsume#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="consumeTime">
					consume_time=#merchantId#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="merchantId">
					merchant_id=#merchantId#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="beCode">
					be_code=#beCode#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="beName">
					be_name=#beName#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="state">
					state=#state#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="expireTime">
					expire_time=#expireTime#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="updateTime">
					update_time=#updateTime#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="createTime">
					create_time=#createTime#
				</isNotEmpty>				
			</dynamic>
	</select>
	
	<update id="updateById">
		update spring_festival_coupon set update_time=DATE_FORMAT(NOW(),"%Y-%m-%d|%H:%i:%s")
			<dynamic >
				<isNotEmpty prepend="," property="o2oInfoId">
					o2o_info_id=#o2oInfoId#
				</isNotEmpty>
				<isNotEmpty prepend="," property="memberCode">
					member_code=#memberCode#
				</isNotEmpty>
				<isNotEmpty prepend="," property="isGot">
					is_got=#isGot#
				</isNotEmpty>
				<isNotEmpty prepend="," property="gotTime">
					got_time=#gotTime#
				</isNotEmpty>
				<isNotEmpty prepend="," property="isConsume">
					is_consume=#isConsume#
				</isNotEmpty>
				<isNotEmpty prepend="," property="consumeTime">
					consume_time=#consumeTime#
				</isNotEmpty>
				<isNotEmpty prepend="," property="merchantId">
					merchant_id=#merchantId#
				</isNotEmpty>
				<isNotEmpty prepend="," property="beCode">
					be_code=#beCode#
				</isNotEmpty>
				<isNotEmpty prepend="," property="beName">
					be_name=#beName#
				</isNotEmpty>
				<isNotEmpty prepend="," property="expireTime">
					expire_time=#expireTime#
				</isNotEmpty>
				<isNotEmpty prepend="," property="state">
					state=#state#
				</isNotEmpty>
				where id=#id#
		</dynamic>
	</update>
	
	
	<select id="getSpringFestivalCouponByPagerCount" parameterClass="springFestivalCoupon" resultClass="java.lang.Integer">
		select count(*) from spring_festival_coupon  
			<dynamic prepend="where">
				<isNotEmpty prepend="and" property="id">
					id=#id#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="o2oInfoId">
					o2o_info_id=#o2oInfoId#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="memberCode">
					member_code=#memberCode#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="securitiesNo">
					securities_no=#securitiesNo#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="worthCash">
					worth_cash=#worthCash#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="awardLevel">
					award_level=#awardLevel#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="type">
					type=#type#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="isGot">
					is_got=#isGot#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="gotTime">
					got_time=#gotTime#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="isConsume">
					is_consume=#isConsume#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="consumeTime">
					consume_time=#merchantId#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="merchantId">
					merchant_id=#merchantId#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="beCode">
					be_code=#beCode#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="beName">
					be_name=#beName#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="state">
					state=#state#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="expireTime">
					expire_time=#expireTime#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="updateTime">
					update_time=#updateTime#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="createTime">
					create_time=#createTime#
				</isNotEmpty>				
			</dynamic>
	</select>
	
	
	<select id="getSpringFestivalCouponByPager" parameterClass="springFestivalCoupon" resultMap="SpringFestivalCouponResult">
		select * from spring_festival_coupon
			<dynamic prepend="where">
				<isNotEmpty prepend="and" property="id">
					id=#id#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="o2oInfoId">
					o2o_info_id=#o2oInfoId#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="memberCode">
					member_code=#memberCode#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="securitiesNo">
					securities_no=#securitiesNo#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="worthCash">
					worth_cash=#worthCash#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="awardLevel">
					award_level=#awardLevel#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="type">
					type=#type#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="isGot">
					is_got=#isGot#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="gotTime">
					got_time=#gotTime#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="isConsume">
					is_consume=#isConsume#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="consumeTime">
					consume_time=#merchantId#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="merchantId">
					merchant_id=#merchantId#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="beCode">
					be_code=#beCode#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="beName">
					be_name=#beName#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="state">
					state=#state#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="expireTime">
					expire_time=#expireTime#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="updateTime">
					update_time=#updateTime#
				</isNotEmpty>
				<isNotEmpty prepend="and" property="createTime">
					create_time=#createTime#
				</isNotEmpty>				
			</dynamic>
			<![CDATA[ 
            		order by $orderBy$ $orderType$ 
            		limit #startRow#,#pageSize#  
            ]]> 
	</select>

</sqlMap>
