<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>fft-server</display-name>

	<!-- javamelody monitoring -->
	<filter>  
        <filter-name>monitoring</filter-name>  
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
        
        <!-- 排除 --> 
        <init-param>
        <param-name>url-exclude-pattern</param-name>
        <param-value>/druid.*</param-value>
        </init-param> 
    </filter>  
    <filter-mapping>  
         <filter-name>monitoring</filter-name>  
         <url-pattern>/*</url-pattern>  
    </filter-mapping> 

	<!-- 定义Spring配置文件位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:net/bull/javamelody/monitoring-spring.xml,
			classpath*:context/applicationContext.xml,
			classpath*:context/applicationContext-expand.xml,
			classpath*:context/servlet/applicationContext-mapper-remote.xml
		</param-value>
	</context-param>

	<!-- 编码处理过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	
	<!-- hessian -->
	<servlet>
		<servlet-name>hessianServer</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath*:context/servlet/applicationContext-service-remote.xml
			</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>hessianServer</servlet-name>
		<url-pattern>/api/froad-fft/service/*</url-pattern>
	</servlet-mapping>

	
	<!-- 配置响应第三方系统异步通知|开始 -->
	<servlet>
		<servlet-name>CombineOrderServlet</servlet-name>
		<servlet-class>com.froad.fft.thirdparty.response.openapi.CombineOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CombineOrderServlet</servlet-name>
		<url-pattern>/combineOrder.api</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RefundServlet</servlet-name>
		<servlet-class>com.froad.fft.thirdparty.response.openapi.RefundServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefundServlet</servlet-name>
		<url-pattern>/refund.api</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AgencyCollectServlet</servlet-name>
		<servlet-class>com.froad.fft.thirdparty.response.openapi.AgencyCollectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AgencyCollectServlet</servlet-name>
		<url-pattern>/agencyCollect.api</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AgencyDeductServlet</servlet-name>
		<servlet-class>com.froad.fft.thirdparty.response.openapi.AgencyDeductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AgencyDeductServlet</servlet-name>
		<url-pattern>/agencyDeduct.api</url-pattern>
	</servlet-mapping>
	<!-- 配置响应第三方系统异步通知|结束 -->
    
    <!-- javamelody Listener -->
    <listener>  
            <listener-class>net.bull.javamelody.SessionListener</listener-class>  
    </listener>  
    
    <!-- Spring Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Spring刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>AutoClusterServlet</servlet-name>
		<servlet-class>com.froad.fft.servlet.AutoClusterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutoClusterServlet</servlet-name>
		<url-pattern>/AutoClusterServlet.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>