/*
* Author:
* pengling@f-road.com.cn 
*/
/*banner幻灯片样式*/
.banner{width:758px; height:185px; border:1px solid #b7b7b7;background:#FFF;}

.banner #advertLoading{margin-left:350px; margin-top:50px;}

.banner #player{position:relative; margin:0; padding:0;}

.banner #player .Limg{position:absolute; margin:0; padding:0; width:662px; height:185px;}

.banner #player .Limg li{position:absolute;top:0;left:0;}

.banner #player .Nubbt {left:610px; position:absolute; z-index:6; top:157px; line-height:18px; font-family:"微软雅黑";}

.banner #player .Nubbt span {background:url(../images/noon.png);color:#fff;font-size:12px;margin:0 2px 0 0; width:25px; height:30px; padding:4px 15px 4px 12px;cursor:pointer;}

.banner #player .Nubbt span.on {background:url(../images/on.png);width:25px; height:30px; padding:4px 15px 4px 12px; color:#FF0; font-weight:bold;}

/*banner搜索样式*/
.search{ border:1px solid #F60; width:238px; height:185px; background:#FFF;}

.search dt{ font:bold 16px/40px "微软雅黑"; padding-left:20px; margin-top:5px;}

.search dt i{ font-size:18px; margin-right:5px;}

.search li b{font:14px/35px "微软雅黑"; margin-left:10px; height:25px; float:left; font-weight:normal;}

.search li span{ height:40px; padding-top:4px; display:block;}

.searchGlass{ background:url(../images/searchGlass.png); width:28px; height:28px; float:left; margin-left:80px; display:inline; margin-top:5px;}

.search img{ float:right; margin-right:18px; display:inline; margin-top:5px;}


/*--Main Container--*/
.main_view {
	float: left;
	position: relative;
}
/*--Window/Masking Styles--*/
.window {
	height:185px;	width: 758px;
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	position: relative;
}
.image_reel {
	position: absolute;
	top: 0; left: 0;
}
.image_reel img {float: left;}

/*--Paging Styles--*/
.paging {
	position: absolute;
	bottom: -10px; right:-45px;
	width: 178px; height:47px;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	line-height: 25px;
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
}
.paging a {

	font-family:"微软雅黑";	
	text-decoration: none;
	font-size:14px;
	color: #fff;
	background:url(../images/banblue.png) no-repeat center;
	 display:block;
	  float:left;
	  width:25px; 
	  height:25px;
	   margin-right:5px;
	 
}
.paging a.active {
	font-weight: bold; 
	background:url(../images/banyellow.png) no-repeat center;
	color:#000;
	 display:block;
	 
}
.paging a:hover {font-weight: bold;}