/*
* Author:
* pengling@f-road.com.cn 
*/

.explain{width:94%; border:1px solid #F30; background:#FCF; padding:10px; margin:30px auto 10px; clear:both; overflow:hidden;}

.explain li { font:12px/24px "宋体"; color:#666; width:95%; margin:0 auto;}