/*
* Author:
* pengling@f-road.com.cn 
*/
/*帮助中心*/
.help{width:1050px; border:1px solid #b7b7b7; overflow:hidden; padding-bottom:10px; background:#FFF; *height:6250px; clear:both;}

.help dt{height:45px; background:#f2f2f2; text-align:center; font:bold 18px/45px "微软雅黑"; color:#06F;}

.help .left{ float:left; width:240px;}

.help .left img{ margin:40px 0 0 40px;}

.help .middle{ float:left; width:350px; margin-left:20px; display:inline; margin-top:40px; margin-bottom:20px;}

.help .middle li{font:14px/35px "宋体"; text-align:left;}

.help .middle li a{ color:#06F; text-decoration:none;}

.help .middle li a:hover{ color:#F60; text-decoration:underline;}

.help .answer{width:100%;  clear:both;}

.help .answer dt{height:45px; background:#f2f2f2; text-align:center; font:bold 18px/45px "微软雅黑"; color:#06F; }

.help table{ margin:0 auto;font-size:14px; margin-top:20px; font-family:Arial, Helvetica, sans-serif;}

.help table td{ height:30px; font:14px/30px Verdana, Geneva, sans-serif,"宋体"; color:#222; text-align:left;}







