/*
* Author:
* pengling@f-road.com.cn 
*/
/*成功失败*/
.result {width:758px; border:1px solid #b7b7b7; overflow:hidden; padding-bottom:10px; background:#FFF; clear:both}

.result .successBox{width:70%; margin:40px auto 40px; border:1px solid #F00; clear:both; padding:20px 0px;}

.result dt.jumpSuccess{color:#1cb304; font-size:16px; text-align:center; font-family:"微软雅黑";}

.result dt.jumpFail{color:#f80f51; font-size:16px; text-align:center;  font-family:"微软雅黑";}

.result dt B{line-height:30px;}

.result dl td{font-size:12px; color:#777; text-align:left;}

.result dl td img{float:right;}

.result dl table{margin:0 auto; width:70%;}

.result dl td a{color:#777; text-decoration:underline;}

.result dl td a:hover{color:#999; text-decoration:none;}

