/*
* Author:
* pengling@f-road.com.cn 
*/
/*热门、最新商家*/
.seller{border:1px solid #F60; width:238px; background:#FFF; }

.seller #loading img{ margin-top:10px; margin-bottom:10px; margin-left:80px;}

.seller ol{height:35px; width:100%; overflow:hidden; border-bottom:1px solid #d8d8d8; }

.rebate_info{width:93%; height:60px; padding:5px 10px; border:1px solid #F99; margin:10px auto 0; background:#FCC; color:#F00; line-height:30px; text-align:left; font-size:14px;}

.seller ol li{ color:#000; background:#f3f3f3;  line-height:35px; float:left; width:119px;   font-family:"微软雅黑"; cursor:pointer;}

.seller ol li img{ margin:0 5px 0 18px;}

.seller ol li.playRcut {background:#f98d0e; color:#FFF; display:block;}

.seller ul a{height:105px; border-bottom:1px dashed #ccc;  padding-left:10px; background:#FFF; display:block; cursor:pointer; text-decoration:none;}

.seller ul a:hover{ background:#d7e6fb;}

.seller ul img{ float:left; border:1px solid #CCC; padding:2px; margin-right:5px; width:80px; height:80px; margin-top:10px;}

.seller dl{ float:left; width:120px; margin-left:5px;  margin-top:10px; display:inline;}

.seller dt{padding-bottom:3px; height:22px; overflow:hidden; font:15px/22px "微软雅黑"; color:#F30;}

.seller dd{color:#666; height:56px; overflow:hidden; font:12px/20px "宋体";}

.seller dd u{  color:#666; padding:0px 3px; font:12px/17px Verdana, Geneva, sans-serif; text-decoration:none;}


