/*
* Author:
* pengling@f-road.com.cn 
*/
/*表格列表*/
.tableList{width:758px; border:1px solid #b7b7b7; overflow:hidden; padding-bottom:30px; *padding-bottom:40px; background:#FFF;}

.tableList .titlePay{ font:14px/24px "微软雅黑"; padding:20px 0 10px 20px; text-align:left;}

.tableList table{ font:14px/20px "微软雅黑"; width:750px; margin:20px auto 15px; border:0;}

.tableList table th{ text-align:right; height:40px; width:195px;}

.tableList table td{ text-align:left; width:555px; height:40px;}

.tableList table td.link a{ color:#999; text-decoration:underline; margin:0 5px; font-size:12px;}

.tableList table td.link a:hover{ color:#F60; text-decoration:underline;}



