<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.rp_mappers.ReportUserSummaryMapper">
	<resultMap type="ReportUserSummary" id="reportUserSummaryResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="bankCardId" column="bank_card_id" />
		<result property="forgCode" column="forg_code" />
		<result property="forgName" column="forg_name" />
		<result property="sorgCode" column="sorg_code" />
		<result property="sorgName" column="sorg_name" />
		<result property="torgCode" column="torg_code" />
		<result property="torgName" column="torg_name" />
		<result property="lorgCode" column="lorg_code" />
		<result property="lorgName" column="lorg_name" />
		<result property="totalUser" column="total_user" />
		<result property="week" column="week"/>
	</resultMap>
	
	<sql id="selectColumn">
		id,create_time,client_id,bank_card_id,forg_code,forg_name,sorg_code,sorg_name,
		torg_code,torg_name,lorg_code,lorg_name,total_user
	</sql>
	
	<insert id="addByBatch">
		INSERT INTO cb_report_user_summary(
			create_time,client_id,bank_card_id,forg_code,forg_name,sorg_code,sorg_name,
			torg_code,torg_name,lorg_code,lorg_name,total_user
		) VALUES 
		<foreach collection="summarys" item="summary" index="index" separator=",">
			(#{summary.createTime},#{summary.clientId},#{summary.bankCardId},#{summary.forgCode},#{summary.forgName},
			#{summary.sorgCode},#{summary.sorgName},#{summary.torgCode},#{summary.torgName},
			#{summary.lorgCode},#{summary.lorgName},#{summary.totalUser})
		</foreach>
	</insert>
	
	
	<select id="selectMerchantTrend" resultMap="reportUserSummaryResultMap">
		SELECT 
			WEEKOFYEAR(create_time) week,SUM(total_user) total_user 
		FROM 
		cb_report_user_summary 
		<where>
			<if test="bankOrg.clientId != null">
				AND client_id = #{bankOrg.clientId} 
			</if>
			<if test="bankOrg.forgCode != null and flag == false">
				AND forg_code = #{bankOrg.forgCode} 
			</if>
			<if test="bankOrg.forgCode != null and flag == true">
				AND forg_code = #{bankOrg.forgCode} 
				AND (sorg_code IS NULL OR sorg_code = '') 
			</if>
			<if test="bankOrg.sorgCode != null">
				AND sorg_code = #{bankOrg.sorgCode} 
			</if>
			AND create_time>=DATE_SUB(CURDATE(),INTERVAL 3 MONTH) AND DAYOFWEEK(create_time)=1 
		</where> 
		GROUP BY create_time 
	</select>
	
	
	<select id="findTotalUserByCardBin" resultMap="reportUserSummaryResultMap">
		SELECT 
			client_id,bank_card_id,SUM(total_user) total_user 
		FROM cb_report_user_summary 
		<where>
			<if test="date != null">
				AND create_time = #{date} 
			</if>
			<if test="bankOrg.clientId != null">
				AND client_id = #{bankOrg.clientId} 
			</if>
			<if test="bankOrg.forgCode != null and flag == false">
				AND forg_code = #{bankOrg.forgCode} 
			</if>
			<if test="bankOrg.forgCode != null and flag == true">
				AND forg_code = #{bankOrg.forgCode} 
				AND (sorg_code IS NULL OR sorg_code = '') 
			</if>
			<if test="bankOrg.sorgCode != null">
				AND sorg_code = #{bankOrg.sorgCode} 
			</if>
		</where>
		GROUP BY 
			client_id,bank_card_id  
	</select>
	
	
</mapper>