<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.rp_mappers.ReportMerchantProductMapper">
	<resultMap type="ReportMerchantProduct" id="reportMerchantProductResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="productId" column="product_id" />
		<result property="orgCode" column="org_code" />
		<result property="orgName" column="org_name" />
		<result property="forgCode" column="forg_code" />
		<result property="forgName" column="forg_name" />
		<result property="sorgCode" column="sorg_code" />
		<result property="sorgName" column="sorg_name" />
		<result property="torgCode" column="torg_code" />
		<result property="torgName" column="torg_name" />
		<result property="lorgCode" column="lorg_code" />
		<result property="lorgName" column="lorg_name" />
		<result property="type" column="type" />
		<result property="merchantId" column="merchant_id" />
		<result property="merchantName" column="merchant_name" />
		<result property="category" column="category" />
		<result property="categoryName" column="category_name" />
		<result property="totalProducts" column="total_products" />
		<result property="newCount" column="new_count" />
		<result property="saleCount" column="sale_count" />
		<result property="saleAmount" column="sale_amount" />
		<result property="refundAmount" column="refund_amount" />
	</resultMap>
	
	
	<sql id="selectColumn">
		create_time,client_id,product_id,org_code,org_name,forg_code,forg_name,sorg_code,sorg_name,torg_code,torg_name,lorg_code,
		lorg_name,type,merchant_id,merchant_name,category,category_name,total_products,new_count,sale_count,sale_amount,refund_amount  
	</sql>
	
	
	<select id="findReportMerchantProductByPage"  resultMap="reportMerchantProductResultMap">
		SELECT <include refid="selectColumn" /> 
		FROM cb_report_merchant_product 
		<where>
		<if test="startDate != null">
				AND create_time >= #{startDate} 
		</if>
		<if test="endDate != null">
				<![CDATA[
				AND create_time <= #{endDate} 
				]]>
		</if>
		</where>
	</select>
	
	<select id="findRecordCountByDate" resultType="int">
		SELECT COUNT(1)
		FROM cb_report_merchant_product 
		<where>
		<if test="startDate != null">
				AND create_time >= #{startDate} 
		</if>
		<if test="endDate != null">
				<![CDATA[
				AND create_time <= #{endDate} 
				]]>
		</if>
		</where>
	</select>	
	
	<insert id="addReportMerchantProduct" parameterType="ReportMerchantProduct">
		INSERT INTO cb_report_merchant_product (
			<include refid="selectColumn" /> 
		) VALUES (
			#{createTime},#{clientId},#{productId},#{orgCode},#{orgName},#{forgCode},#{forgName},#{sorgCode},#{sorgName},#{torgCode},
			#{torgName},#{lorgCode},#{lorgName},#{type},#{merchantId},#{merchantName},#{category},#{categoryName},#{totalProducts},
			#{newCount},#{saleCount},#{saleAmount},#{refundAmount} 
		) 
	</insert>
	
	
	<insert id="addByBatch">
		INSERT INTO cb_report_merchant_product(
			<include refid="selectColumn" /> 
		) VALUES 
		<foreach collection="reportMerchantProducts" item="item" index="index" separator=",">
			(
			#{item.createTime},#{item.clientId},#{item.productId},#{item.orgCode},#{item.orgName},#{item.forgCode},#{item.forgName},
			#{item.sorgCode},#{item.sorgName},#{item.torgCode},#{item.torgName},#{item.lorgCode},#{item.lorgName},#{item.type},
			#{item.merchantId},#{item.merchantName},#{item.category},#{item.categoryName},#{item.totalProducts},#{item.newCount},
			#{item.saleCount},#{item.saleAmount},#{item.refundAmount} 
			)
		</foreach>
	</insert>
	
</mapper>