<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.rp_mappers.ReportSignTypeSummaryMapper">
	<resultMap type="ReportSignTypeSummary" id="reportSignTypeSummaryResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="forgCode" column="forg_code" />
		<result property="forgName" column="forg_name" />
		<result property="sorgCode" column="sorg_code" />
		<result property="sorgName" column="sorg_name" />
		<result property="torgCode" column="torg_code" />
		<result property="torgName" column="torg_name" />
		<result property="lorgCode" column="lorg_code" />
		<result property="lorgName" column="lorg_name" />
		<result property="signUserName" column="sign_user_name" />
		<result property="type" column="type" />
		<result property="totalMerchants" column="total_merchants" />
		<result property="groupTotalMerchants" column="group_total_merchants" />
		<result property="faceTotalMerchants" column="face_total_merchants" />
		<result property="specialTotalMerchants" column="special_total_merchants" />
	</resultMap>
	
	<sql id="selectColumn">
		id,create_time,client_id,forg_code,forg_name,sorg_code,sorg_name,torg_code,torg_name,
		lorg_code,lorg_name,sign_user_name,type,total_merchants 
	</sql>
	
	
	<insert id="addByBatch">
		INSERT INTO cb_report_sign_type_summary(
			create_time,client_id,forg_code,forg_name,sorg_code,sorg_name,torg_code,torg_name,
			lorg_code,lorg_name,sign_user_name,type,total_merchants
		) VALUES 
		<foreach collection="typeSummarys" item="item" index="index" separator=",">
			(#{item.createTime},#{item.clientId},#{item.forgCode},#{item.forgName},
			#{item.sorgCode},#{item.sorgName},#{item.torgCode},#{item.torgName},
			#{item.lorgCode},#{item.lorgName},#{item.signUserName},#{item.type},#{item.totalMerchants})
		</foreach>
	</insert>
	
	
	<select id="selectMerchantTypeCount" resultMap="reportSignTypeSummaryResultMap">
		SELECT 
			SUM(total_merchants) total_merchants,type 
		FROM 
			cb_report_sign_type_summary 
		<where>
			<if test="begDate != null">
				AND create_time >= #{begDate} 
			</if>
			<if test="endDate != null">
			<![CDATA[
				AND create_time <= #{endDate} 
			]]>
			</if>
			<if test="user.clientId != null">
				AND client_id = #{user.clientId}
			</if>
			<if test="user.forgCode != null and flag == false">
				AND forg_code=#{user.forgCode} 
			</if>
			<if test="user.forgCode != null and flag == true">
				AND forg_code=#{user.forgCode} 
				AND (sorg_code IS NULL OR sorg_code = '') 
				AND (torg_code IS NULL OR torg_code = '') 
				AND (lorg_code IS NULL OR lorg_code = '') 
			</if>
			<if test="user.sorgCode != null and flag == false">
				AND sorg_code=#{user.sorgCode} 
			</if>
			<if test="user.sorgCode != null and flag == true">
				AND sorg_code=#{user.sorgCode} 
				AND (torg_code IS NULL OR torg_code = '') 
				AND (lorg_code IS NULL OR lorg_code = '') 
			</if>
			<if test="user.torgCode != null and flag == false">
				AND torg_code=#{user.torgCode} 
			</if>
			<if test="user.torgCode != null and flag == true">
				AND torg_code=#{user.torgCode} 
				AND (lorg_code IS NULL OR lorg_code = '') 
			</if>
			<if test="user.lorgCode != null">
				AND lorg_code=#{user.lorgCode} 
			</if>
		</where>
		GROUP BY type 
	</select>
	
	<select id="findTypeSummaryMaxDate" resultType="java.util.Date">
		SELECT MAX(create_time) create_time FROM cb_report_sign_type_summary
	</select>
	
	
	
	<select id="selectMerchantCount" resultMap="reportSignTypeSummaryResultMap">
		SELECT 
			client_id,forg_code,forg_name,sorg_code,sorg_name,torg_code,torg_name,lorg_code,lorg_name,
			SUM(case when type=0 then total_merchants else 0 end) group_total_merchants, 
			SUM(case when type=1 then total_merchants else 0 end) face_total_merchants,
			SUM(case when type=2 then total_merchants else 0 end) special_total_merchants 
		FROM 
			cb_report_sign_type_summary 
		<where>
			<if test="begDate != null">
				AND create_time >= #{begDate} 
			</if>
			<if test="endDate != null">
			<![CDATA[
				AND create_time <= #{endDate} 
			]]>
			</if>
			<if test="user.clientId != null">
				AND client_id = #{user.clientId}
			</if>
			<if test="user.forgCode != null and flag == false">
				AND forg_code = #{user.forgCode} 
			</if>
			<if test="user.forgCode != null and flag == true">
				AND forg_code = #{user.forgCode} 
				AND (sorg_code IS NULL OR sorg_code = '') 
				AND (torg_code IS NULL OR torg_code = '') 
				AND (lorg_code IS NULL OR lorg_code = '') 
			</if>
			<if test="user.sorgCode != null and flag == false">
				AND sorg_code = #{user.sorgCode} 
			</if>
			<if test="user.sorgCode != null and flag == true">
				AND sorg_code = #{user.sorgCode} 
				AND (torg_code IS NULL OR torg_code = '') 
				AND (lorg_code IS NULL OR lorg_code = '') 
			</if>
			<if test="user.torgCode != null and flag == false">
				AND torg_code = #{user.torgCode} 
			</if>
			<if test="user.torgCode != null and flag == true">
				AND torg_code = #{user.torgCode} 
				AND (lorg_code IS NULL OR lorg_code = '') 
			</if>
			<if test="user.lorgCode != null">
				AND lorg_code = #{user.lorgCode} 
			</if>
		</where>
		GROUP BY 
			client_id,forg_code,sorg_code,torg_code,lorg_code
	</select>
	
</mapper>