<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.rp_mappers.ReportMerchantSaleMapper">
	<resultMap type="ReportMerchantSale" id="reportMerchantSaleResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="merchantName" column="merchant_name" />
		<result property="orgCode" column="org_code" />
		<result property="forgCode" column="forg_code" />
		<result property="forgName" column="forg_name" />
		<result property="sorgCode" column="sorg_code" />
		<result property="sorgName" column="sorg_name" />
		<result property="torgCode" column="torg_code" />
		<result property="torgName" column="torg_name" />
		<result property="lorgCode" column="lorg_code" />
		<result property="lorgName" column="lorg_name" />
		<result property="saleProductNumber" column="sale_product_number" />
		<result property="saleProductAmount" column="sale_product_amount" />
		<result property="totalOrder" column="total_order" />
		<result property="totalAmount" column="total_amount" />
		<result property="cash" column="cash" />
		<result property="bankPointAmount" column="bank_point_amount" />
		<result property="fftPointAmount" column="fft_point_amount" />
		<result property="refundAmount" column="refund_amount" />
		<result property="buyTrips" column="buy_trips" />
		<result property="orderType" column="order_type" />
		<result property="week" column="week" />
	</resultMap>
	
	<resultMap type="SaleTypeCount" id="saleTypeCount">
		<result property="totalAmount" column="total_amount" />
		<result property="type" column="type" />
	</resultMap>
	
	<resultMap type="PayTypeCount" id="payTypeCount">
		<result property="totalOrder" column="total_order" />
		<result property="paymentMethod" column="payment_method" />
	</resultMap>
	
	<resultMap type="SaleCountDetail" id="saleCountDetail">
		<result property="orderCount" column="total_order" />
		<result property="totalAmount" column="total_amount" />
		<result property="productSaleCount" column="sale_product_number" />
		<result property="productSaleAmount" column="sale_product_amount" />
		<result property="buyCount" column="buy_trips" />
		<result property="forgCode" column="forg_code" />
		<result property="forgName" column="forg_name" />
		<result property="sorgCode" column="sorg_code" />
		<result property="sorgName" column="sorg_name" />
		<result property="torgCode" column="torg_code" />
		<result property="torgName" column="torg_name" />
		<result property="lorgCode" column="lorg_code" />
		<result property="lorgName" column="lorg_name" />
	</resultMap>
	
	<resultMap type="MerchantSaleDetail" id="merchantSaleDetail">
		<result property="merchantId" column="merchant_id" />
		<result property="merchantName" column="merchant_name" />
		<result property="merchantType" column="type" />
		<result property="groupOrderCount" column="group_order_count" />
		<result property="faceOrderCount" column="face_order_count" />
		<result property="specialOrderCount" column="special_order_count" />
		<result property="presellOrderCount" column="presell_order_count" />
		<result property="orderCount" column="total_order" />
		<result property="orderAmount" column="total_amount" />
		<result property="refundAmount" column="refund_amount" />
		<result property="forgCode" column="forg_code" />
		<result property="forgName" column="forg_name" />
		<result property="sorgCode" column="sorg_code" />
		<result property="sorgName" column="sorg_name" />
		<result property="torgCode" column="torg_code" />
		<result property="torgName" column="torg_name" />
		<result property="lorgCode" column="lorg_code" />
		<result property="lorgName" column="lorg_name" />
	</resultMap>
	
	<resultMap type="BusinessSaleDetail" id="businessSaleDetail">
		<result property="type" column="type" />
		<result property="orderCount" column="total_order" />
		<result property="orderAmount" column="total_amount" />
		<result property="cashAmount" column="cash" />
		<result property="bankPointAmount" column="bank_point_amount" />
		<result property="fftPointAmount" column="fft_point_amount" />
		<result property="productCount" column="sale_product_number" />
		<result property="productAmount" column="sale_product_amount" />
		<result property="buyCount" column="buy_trips" />
		<result property="forgCode" column="forg_code" />
		<result property="forgName" column="forg_name" />
		<result property="sorgCode" column="sorg_code" />
		<result property="sorgName" column="sorg_name" />
		<result property="torgCode" column="torg_code" />
		<result property="torgName" column="torg_name" />
		<result property="lorgCode" column="lorg_code" />
		<result property="lorgName" column="lorg_name" />
	</resultMap>
	
	
	
	<sql id="selectColumn">
		create_time,client_id,merchant_id,merchant_name,merchant_types,org_code,forg_code,forg_name,sorg_code,sorg_name,
		torg_code,torg_name,lorg_code,lorg_name,sale_product_number,sale_product_amount,total_order,total_amount,cash,
		bank_point_amount,fft_point_amount,refund_amount,buy_trips, order_type 
	</sql>
	
	<select id="findReportMerchantSale" resultMap="reportMerchantSaleResultMap">
		SELECT <include refid="selectColumn" /> 
		FROM cb_report_merchant_sale 
	</select>
	
	<select id="findSaleTrend" resultMap="reportMerchantSaleResultMap">
		SELECT WEEKOFYEAR(create_time) week, sum(sale_product_amount) sale_product_amount 
		FROM cb_report_merchant_sale  
		<where>
			create_time >= DATE_SUB(NOW(),INTERVAL 3 MONTH) 
			<if test="user.clientId != null">
				AND client_id=#{user.clientId} 
			</if>
			<if test="orgCode != null">
				AND org_code=#{orgCode} 
			</if>				
			<if test="orgCode == null and user.forgCode != null">
				AND forg_code=#{user.forgCode} 
			</if>
			<if test="orgCode == null and user.sorgCode != null">
				AND sorg_code=#{user.sorgCode} 
			</if>
			<if test="orgCode == null and user.torgCode != null">
				AND torg_code=#{user.torgCode} 
			</if>
			<if test="orgCode == null and user.lorgCode != null">
				AND lorg_code=#{user.lorgCode} 
			</if>
		</where>
		group by WEEKOFYEAR(create_time) 
		order by WEEKOFYEAR(create_time) 
		
	</select>
	
	<select id="findSaleTypeCount" resultMap="saleTypeCount">
		SELECT order_type as type,sum(total_amount) as total_amount 
		FROM cb_report_merchant_sale 
		<where>
			<if test="begDate != null">
				AND create_time >= #{begDate} 
			</if>
			<if test="endDate != null">
			<![CDATA[
				AND create_time <= #{endDate} 
			]]>
			</if>
			<if test="user.clientId != null">
				AND client_id=#{user.clientId} 
			</if>
			<if test="orgCode != null">
				AND org_code=#{orgCode} 
			</if>			
			<if test="orgCode == null and user.forgCode != null">
				AND forg_code=#{user.forgCode} 
			</if>
			<if test="orgCode == null and user.sorgCode != null">
				AND sorg_code=#{user.sorgCode} 
			</if>
			<if test="orgCode == null and user.torgCode != null">
				AND torg_code=#{user.torgCode} 
			</if>
			<if test="orgCode == null and user.lorgCode != null">
				AND lorg_code=#{user.lorgCode} 
			</if>
		</where>
		group by type 
	</select>
	
	<select id="findPayTypeCount" resultMap="payTypeCount">
		select 
		payment_method as payment_method,
		sum(total_order) as total_order 
		FROM cb_report_sale_paymethod  
		<where>
			<if test="begDate != null">
				AND create_time >= #{begDate} 
			</if>
			<if test="endDate != null">
			<![CDATA[
				AND create_time <= #{endDate} 
			]]>
			</if>
			<if test="user.clientId != null">
				AND client_id=#{user.clientId} 
			</if>
			<if test="orgCode != null">
				AND org_code=#{orgCode} 
			</if>			
			<if test="orgCode == null and user.forgCode != null">
				AND forg_code=#{user.forgCode} 
			</if>
			<if test="orgCode == null and user.sorgCode != null">
				AND sorg_code=#{user.sorgCode} 
			</if>
			<if test="orgCode == null and user.torgCode != null">
				AND torg_code=#{user.torgCode} 
			</if>
			<if test="orgCode == null and user.lorgCode != null">
				AND lorg_code=#{user.lorgCode} 
			</if>
		</where>
		group by payment_method 
	</select>
	
	<select id="findSaleCountDetail" resultMap="saleCountDetail">
		SELECT 
		forg_code,forg_name,sorg_code,sorg_name,
		torg_code,torg_name,lorg_code,lorg_name,
		sum(total_order) as total_order,sum(total_amount) as total_amount,
		sum(sale_product_number) as sale_product_number,sum(sale_product_amount) as sale_product_amount,sum(buy_trips) as buy_trips 
		FROM cb_report_merchant_sale  
		<where>
			<if test="begDate != null">
				AND create_time >= #{begDate} 
			</if>
			<if test="endDate != null">
			<![CDATA[
				AND create_time <= #{endDate} 
			]]>
			</if>
			<if test="user.clientId != null">
				AND client_id=#{user.clientId} 
			</if>
			<if test="orgCode != null">
				AND org_code=#{orgCode} 
			</if>			
			<if test="orgCode == null and user.forgCode != null">
				AND forg_code=#{user.forgCode} 
			</if>
			<if test="orgCode == null and user.sorgCode != null">
				AND sorg_code=#{user.sorgCode} 
			</if>
			<if test="orgCode == null and user.torgCode != null">
				AND torg_code=#{user.torgCode} 
			</if>
			<if test="orgCode == null and user.lorgCode != null">
				AND lorg_code=#{user.lorgCode} 
			</if>
		</where>
		group by forg_code,sorg_code,torg_code,lorg_code 
	</select>
	
	
	<select id="findSaleCountDetailListByPage" resultMap="saleCountDetail">
		SELECT 
		forg_code,forg_name,sorg_code,sorg_name,
		torg_code,torg_name,lorg_code,lorg_name,
		sum(total_order) as total_order,sum(total_amount) as total_amount,
		sum(sale_product_number) as sale_product_number,sum(sale_product_amount) as sale_product_amount,sum(buy_trips) as buy_trips 
		FROM cb_report_merchant_sale 
		<where>
			<if test="begDate != null">
				AND create_time >= #{begDate} 
			</if>
			<if test="endDate != null">
			<![CDATA[
				AND create_time <= #{endDate} 
			]]>
			</if>
			<if test="user.clientId != null">
				AND client_id=#{user.clientId} 
			</if>
			<if test="orgCode != null">
				AND org_code=#{orgCode} 
			</if>			
			<if test="orgCode == null and user.forgCode != null">
				AND forg_code=#{user.forgCode} 
			</if>
			<if test="orgCode == null and user.sorgCode != null">
				AND sorg_code=#{user.sorgCode} 
			</if>
			<if test="orgCode == null and user.torgCode != null">
				AND torg_code=#{user.torgCode} 
			</if>
			<if test="orgCode == null and user.lorgCode != null">
				AND lorg_code=#{user.lorgCode} 
			</if>
		</where>
		group by forg_code,sorg_code,torg_code,lorg_code 
	</select>
	
	
	<select id="findMerchantSaleDetail" resultMap="merchantSaleDetail">
		SELECT merchant_id,merchant_name,merchant_types as type,
		forg_code,forg_name,sorg_code,sorg_name,
		torg_code,torg_name,lorg_code,lorg_name,
		sum(case when order_type = '0' then total_order else 0 end) as face_order_count,
		sum(case when order_type = '1' then total_order else 0 end) as group_order_count,
		sum(case when order_type = '2' then total_order else 0 end) as presell_order_count,
		sum(case when order_type = '3' then total_order else 0 end) as special_order_count,
		sum(total_order) as total_order,sum(total_amount) as total_amount,sum(refund_amount) as refund_amount 
		FROM cb_report_merchant_sale 
		<where>
			<if test="begDate != null">
				AND create_time >= #{begDate} 
			</if>
			<if test="endDate != null">
			<![CDATA[
				AND create_time <= #{endDate} 
			]]>
			</if>
			<if test="user.clientId != null">
				AND client_id=#{user.clientId} 
			</if>
			<if test="orgCode != null">
				AND org_code=#{orgCode} 
			</if>			
			<if test="orgCode == null and user.forgCode != null">
				AND forg_code=#{user.forgCode} 
			</if>
			<if test="orgCode == null and user.sorgCode != null">
				AND sorg_code=#{user.sorgCode} 
			</if>
			<if test="orgCode == null and user.torgCode != null">
				AND torg_code=#{user.torgCode} 
			</if>
			<if test="orgCode == null and user.lorgCode != null">
				AND lorg_code=#{user.lorgCode} 
			</if>
		</where>
		group by merchant_id 
	</select>
	
	<select id="findBusinessSaleDetail" resultMap="businessSaleDetail">
		SELECT  
		forg_code,forg_name,sorg_code,sorg_name,
		torg_code,torg_name,lorg_code,lorg_name,
		order_type as type,sum(total_order) as total_order,sum(total_amount) as total_amount,
		sum(cash) as cash,sum(bank_point_amount) as bank_point_amount,sum(fft_point_amount) as fft_point_amount,
		sum(sale_product_number) as sale_product_number,sum(sale_product_amount) as sale_product_amount,sum(buy_trips) as buy_trips 
		FROM cb_report_merchant_sale  
		<where>
			<if test="begDate != null">
				AND create_time >= #{begDate} 
			</if>
			<if test="endDate != null">
			<![CDATA[
				AND create_time <= #{endDate} 
			]]>
			</if>
			<if test="user.clientId != null">
				AND client_id=#{user.clientId} 
			</if>
			<if test="orgCode != null">
				AND org_code=#{orgCode} 
			</if>			
			<if test="orgCode == null and user.forgCode != null">
				AND forg_code=#{user.forgCode} 
			</if>
			<if test="orgCode == null and user.sorgCode != null">
				AND sorg_code=#{user.sorgCode} 
			</if>
			<if test="orgCode == null and user.torgCode != null">
				AND torg_code=#{user.torgCode} 
			</if>
			<if test="orgCode == null and user.lorgCode != null">
				AND rs.lorg_code=#{user.lorgCode} 
			</if>
		</where>
		GROUP BY order_type,forg_code,sorg_code,torg_code,lorg_code 
	</select>
	
	
	<insert id="addByBatch">
		INSERT INTO cb_report_merchant_sale(
			<include refid="selectColumn" /> 
		) VALUES 
		<foreach collection="reportMerchantSales" item="item" index="index" separator=",">
			(#{item.createTime},#{item.clientId},#{item.merchantId},#{item.merchantName},#{item.merchantTypes},#{item.orgCode},
			 #{item.forgCode},#{item.forgName},#{item.sorgCode},#{item.sorgName},#{item.torgCode},#{item.torgName},#{item.lorgCode},
			 #{item.lorgName},#{item.saleProductNumber},#{item.saleProductAmount},#{item.totalOrder},#{item.totalAmount},
			 #{item.cash},#{item.bankPointAmount},#{item.fftPointAmount},#{item.refundAmount},#{item.buyTrips},#{item.orderType}
			 )
		</foreach>
	</insert>
		
	<insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="ReportMerchantSale">
		INSERT INTO cb_report_merchant_sale(
			<include refid="selectColumn" /> 
		) 
		VALUES
			(#{createTime},#{clientId},#{merchantId},#{merchantName},#{merchantTypes},#{orgCode},#{forgCode},
			 #{forgName},#{sorgCode},#{sorgName},#{torgCode},#{torgName},#{lorgCode},#{lorgName},
			 #{saleProductNumber},#{saleProductAmount},#{totalOrder},#{totalAmount},
			 #{cash},#{bankPointAmount},#{fftPointAmount},#{refundAmount},#{buyTrips},#{orderType}
			 )
	</insert>
	
</mapper>