<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.rp_mappers.ReportSignMerchantMapper">
	<resultMap type="ReportSignMerchant" id="reportSignMerchantResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="type" column="type" />
		<result property="merchantId" column="merchant_id" />
		<result property="isNew" column="is_new" />
		<result property="isChange" column="is_change" />
		<result property="isCancel" column="is_cancel" />
		<result property="totalOrders" column="total_orders" />
		<result property="totalAmount" column="total_amount" />
		<result property="clientId" column="client_id" />
		<result property="orgCode" column="org_code" />
		<result property="orgName" column="org_name" />
		<result property="forgCode" column="forg_code" />
		<result property="forgName" column="forg_name" />
		<result property="sorgCode" column="sorg_code" />
		<result property="sorgName" column="sorg_name" />	
		<result property="torgCode" column="torg_code" />
		<result property="torgName" column="torg_name" />	
		<result property="lorgCode" column="lorg_code" />
		<result property="lorgName" column="lorg_name" />
		<result property="signUserName" column="sign_user_name" />
		<result property="userOrgCode" column="user_org_code" />
		<result property="userOrgName" column="user_org_name" />
		<result property="userForgCode" column="userForg_code" />
		<result property="userForgName" column="userForg_name" />
		<result property="userSorgCode" column="userSorg_code" />
		<result property="userSorgName" column="userSorg_name" />	
		<result property="userTorgCode" column="userTorg_code" />
		<result property="userTorgName" column="userTorg_name" />	
		<result property="userLorgCode" column="userLorg_code" />
		<result property="userLorgName" column="userLorg_name" />	
		<!-- 商户统计详情列表 -->
		<result property="newCount" column="new_count" />
		<result property="changeCount" column="change_count" />
		<result property="totalMerchants" column="total_merchants" />
		<!-- 商户业务统计信息 -->
		<result property="faceNewCount" column="face_new_count" />
		<result property="groupNewCount" column="group_new_count" />
		<result property="specialNewCount" column="special_new_count" />
		<result property="faceCancelCount" column="face_cancel_count" />
		<result property="groupCancelCount" column="group_cancel_count" />
		<result property="specialCancelCount" column="special_cancel_count" />
	</resultMap>
	
	<sql id="selectColumn">
		create_time,type,merchant_id,is_new,is_change,is_cancel,total_orders,total_amount,client_id,org_code,org_name,forg_code,
		forg_name,sorg_code,sorg_name,torg_code,torg_name,lorg_code,lorg_name,sign_user_name,user_org_code,user_org_name,user_forg_code,
		user_forg_name,user_sorg_code,user_sorg_name,user_torg_code,user_torg_name,user_lorg_code,user_lorg_name 
	</sql>
	
	<insert id="addByBatch">
		INSERT INTO cb_report_sign_merchant (
			<include refid="selectColumn" /> 
		) VALUES 
		<foreach collection="signs" item="item" index="index" separator=",">
			(
			#{item.createTime},#{item.type},#{item.merchantId},#{item.isNew},#{item.isChange},#{item.isCancel},#{item.totalOrders},
			#{item.totalAmount},#{item.clientId},#{item.orgCode},#{item.orgName},#{item.forgCode},#{item.forgName},#{item.sorgCode},
			#{item.sorgName},#{item.torgCode},#{item.torgName},#{item.lorgCode},#{item.lorgName},#{item.signUserName},#{item.userOrgCode},#{item.userOrgName},
			#{item.userForgCode},#{item.userForgName},#{item.userSorgCode},#{item.userSorgName},#{item.userTorgCode},#{item.userTorgName},
			#{item.userLorgCode},#{item.userLorgName}
			)
		</foreach>
	</insert>
	
	
	<select id="selectMerchantBussinessAmount" resultMap="reportSignMerchantResultMap">
		SELECT 
			SUM(total_amount) total_amount,type 
		FROM cb_report_sign_merchant 
		<where>
			<if test="begDate != null">
				AND create_time >= #{begDate} 
			</if>
			<if test="endDate != null">
			<![CDATA[
				AND create_time <= #{endDate} 
			]]>
			</if>
			<if test="user.clientId != null">
				AND client_id=#{user.clientId}
			</if>
			<if test="user.forgCode != null and flag == false">
				AND forg_code=#{user.forgCode} 
			</if>
			<if test="user.forgCode != null and flag == true">
				AND forg_code=#{user.forgCode} 
				AND (sorg_code IS NULL OR sorg_code = '') 
				AND (torg_code IS NULL OR torg_code = '') 
				AND (lorg_code IS NULL OR lorg_code = '') 
			</if>
			<if test="user.sorgCode != null and flag == false">
				AND sorg_code=#{user.sorgCode} 
			</if>
			<if test="user.sorgCode != null and flag == true">
				AND sorg_code=#{user.sorgCode} 
				AND (torg_code IS NULL OR torg_code = '') 
				AND (lorg_code IS NULL OR lorg_code = '') 
			</if>
			<if test="user.torgCode != null and flag == false">
				AND torg_code=#{user.torgCode} 
			</if>
			<if test="user.torgCode != null and flag == true">
				AND torg_code=#{user.torgCode} 
				AND (lorg_code IS NULL OR lorg_code = '') 
			</if>
			<if test="user.lorgCode != null">
				AND lorg_code=#{user.lorgCode} 
			</if>
			AND total_amount!=0 
		</where>
		GROUP BY type 
	</select>
	
	
	<select id="selectMerchantDetailList" resultMap="reportSignMerchantResultMap">
		SELECT 
			id,
			client_id,
			forg_code,
			forg_name,
			sorg_code,
			sorg_name,
			torg_code,
			torg_name,
			lorg_code,
			lorg_name,
			SUM(IF(is_new=0,0,1)) new_count,
			SUM(IF(is_change=0,0,1)) change_count,
			SUM(total_orders) total_orders,
			SUM(total_amount) total_amount 
		FROM (
			SELECT 
				id,
				client_id,
				forg_code,
				forg_name,
				sorg_code,
				sorg_name,
				torg_code,
				torg_name,
				lorg_code,
				lorg_name,
				SUM(is_new) is_new,
				SUM(is_change) is_change,
				SUM(total_orders) total_orders,
				SUM(total_amount) total_amount 
			FROM 
			cb_report_sign_merchant 
			<where>
				<if test="begDate != null">
					AND create_time >= #{begDate} 
				</if>
				<if test="endDate != null">
				<![CDATA[
					AND create_time <= #{endDate} 
				]]>
				</if>
				<if test="user.clientId != null">
					AND client_id = #{user.clientId} 
				</if>
				<if test="user.forgCode != null and flag == false">
					AND forg_code = #{user.forgCode} 
				</if>
				<if test="user.forgCode != null and flag == true">
					AND forg_code = #{user.forgCode} 
					AND (sorg_code IS NULL OR sorg_code = '') 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.sorgCode != null and flag == false">
					AND sorg_code = #{user.sorgCode} 
				</if>
				<if test="user.sorgCode != null and flag == true">
					AND sorg_code = #{user.sorgCode} 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.torgCode != null and flag == false">
					AND torg_code = #{user.torgCode} 
				</if>
				<if test="user.torgCode != null and flag == true">
					AND torg_code = #{user.torgCode} 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.lorgCode != null">
					AND lorg_code = #{user.lorgCode} 
				</if>
			</where>
			GROUP BY 
				client_id,
				forg_code,
				sorg_code,
				torg_code,
				lorg_code,
				merchant_id
		) t 
		GROUP BY 
			client_id,
			forg_code,
			sorg_code,
			torg_code,
			lorg_code 
		ORDER BY 
			new_count DESC,client_id,forg_code,sorg_code,torg_code,lorg_code 
	</select>
	
	
	<select id="selectMerchantDetailListByPage" resultMap="reportSignMerchantResultMap">
		SELECT 
			id,
			client_id,
			forg_code,
			forg_name,
			sorg_code,
			sorg_name,
			torg_code,
			torg_name,
			lorg_code,
			lorg_name,
			SUM(IF(is_new=0,0,1)) new_count,
			SUM(IF(is_change=0,0,1)) change_count,
			SUM(total_orders) total_orders,
			SUM(total_amount) total_amount 
		FROM (
			SELECT 
				id,
				client_id,
				forg_code,
				forg_name,
				sorg_code,
				sorg_name,
				torg_code,
				torg_name,
				lorg_code,
				lorg_name,
				SUM(is_new) is_new,
				SUM(is_change) is_change,
				SUM(total_orders) total_orders,
				SUM(total_amount) total_amount 
			FROM 		
			cb_report_sign_merchant 
			<where>
				<if test="begDate != null">
					AND create_time >= #{begDate} 
				</if>
				<if test="endDate != null">
				<![CDATA[
					AND create_time <= #{endDate} 
				]]>
				</if>
				<if test="user.clientId != null">
					AND client_id = #{user.clientId} 
				</if>
				<if test="user.forgCode != null and flag == false">
					AND forg_code = #{user.forgCode} 
				</if>
				<if test="user.forgCode != null and flag == true">
					AND forg_code = #{user.forgCode} 
					AND (sorg_code IS NULL OR sorg_code = '') 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.sorgCode != null and flag == false">
					AND sorg_code = #{user.sorgCode} 
				</if>
				<if test="user.sorgCode != null and flag == true">
					AND sorg_code = #{user.sorgCode} 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.torgCode != null and flag == false">
					AND torg_code = #{user.torgCode} 
				</if>
				<if test="user.torgCode != null and flag == true">
					AND torg_code = #{user.torgCode} 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.lorgCode != null">
					AND lorg_code = #{user.lorgCode} 
				</if>
			</where>
			GROUP BY 
				client_id,
				forg_code,
				sorg_code,
				torg_code,
				lorg_code,
				merchant_id
		) t 
		GROUP BY 
			client_id,
			forg_code,
			sorg_code,
			torg_code,
			lorg_code 
		ORDER BY 
			new_count DESC,client_id,forg_code,sorg_code,torg_code,lorg_code 
	</select>
	
	
	<select id="selectNewCancelMerchants" resultMap="reportSignMerchantResultMap">
		SELECT 
			client_id,forg_code,forg_name,sorg_code,sorg_name,torg_code,torg_name,lorg_code,lorg_name,
			SUM(CASE WHEN type=1 AND is_new>0 THEN 1 ELSE 0 END) face_new_count, 
			SUM(CASE WHEN type=0 AND is_new>0 THEN 1 ELSE 0 END) group_new_count, 
			SUM(CASE WHEN type=2 AND is_new>0 THEN 1 ELSE 0 END) special_new_count, 
			SUM(CASE WHEN type=1 AND is_cancel>0 THEN 1 ELSE 0 END) face_cancel_count, 
			SUM(CASE WHEN type=0 AND is_cancel>0 THEN 1 ELSE 0 END) group_cancel_count, 
			SUM(CASE WHEN type=2 AND is_cancel>0 THEN 1 ELSE 0 END) special_cancel_count 
		FROM (
			SELECT 
				client_id,forg_code,forg_name,sorg_code,sorg_name,torg_code,torg_name,lorg_code,lorg_name,type,
				SUM(is_new) is_new,SUM(is_cancel) is_cancel 
			FROM 
				cb_report_sign_merchant 
			<where>
				<if test="begDate != null">
					AND create_time >= #{begDate} 
				</if>
				<if test="endDate != null">
				<![CDATA[
					AND create_time <= #{endDate} 
				]]>
				</if>
				<if test="user.clientId != null">
					AND client_id = #{user.clientId} 
				</if>
				<if test="user.forgCode != null and flag == false">
					AND forg_code = #{user.forgCode} 
				</if>
				<if test="user.forgCode != null and flag == true">
					AND forg_code = #{user.forgCode} 
					AND (sorg_code IS NULL OR sorg_code = '') 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.sorgCode != null and flag == false">
					AND sorg_code = #{user.sorgCode} 
				</if>
				<if test="user.sorgCode != null and flag == true">
					AND sorg_code = #{user.sorgCode} 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.torgCode != null and flag == false">
					AND torg_code = #{user.torgCode} 
				</if>
				<if test="user.torgCode != null and flag == true">
					AND torg_code = #{user.torgCode} 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.lorgCode != null">
					AND lorg_code = #{user.lorgCode} 
				</if>
			</where>
			GROUP BY 
				client_id,forg_code,sorg_code,torg_code,lorg_code,merchant_id,type
		) t 
		GROUP BY 
			client_id,forg_code,sorg_code,torg_code,lorg_code
	</select>
	
	
	<select id="selecTypeAddPercent" resultMap="reportSignMerchantResultMap">
		SELECT 
			type,SUM(IF(is_new=0,0,1)) new_count 
		FROM (
			SELECT 
				type,SUM(is_new) is_new 
			FROM 
				cb_report_sign_merchant  
			<where>
				<if test="begDate != null">
					AND create_time >= #{begDate} 
				</if>
				<if test="endDate != null">
				<![CDATA[
					AND create_time <= #{endDate} 
				]]>
				</if>
				<if test="user.clientId != null">
					AND client_id = #{user.clientId} 
				</if>
				<if test="user.forgCode != null and flag == false">
					AND forg_code = #{user.forgCode} 
				</if>
				<if test="user.forgCode != null and flag == true">
					AND forg_code = #{user.forgCode} 
					AND (sorg_code IS NULL OR sorg_code = '') 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.sorgCode != null and flag == false">
					AND sorg_code = #{user.sorgCode} 
				</if>
				<if test="user.sorgCode != null and flag == true">
					AND sorg_code = #{user.sorgCode} 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.torgCode != null and flag == false">
					AND torg_code = #{user.torgCode} 
				</if>
				<if test="user.torgCode != null and flag == true">
					AND torg_code = #{user.torgCode} 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.lorgCode != null">
					AND lorg_code = #{user.lorgCode} 
				</if>
				AND is_new=1 
			</where>
			GROUP BY type,merchant_id
		) t 
		GROUP BY 
			type 
	</select>
	
	
	<select id="selectContractDetailList" resultMap="reportSignMerchantResultMap">
		SELECT 
			sign_user_name,SUM(IF(is_new=0,0,1)) new_count,SUM(IF(is_change=0,0,1)) change_count, SUM(total_orders) total_orders,SUM(total_amount) total_amount 
		FROM (
			SELECT 
				sign_user_name,SUM(is_new) is_new,SUM(is_change) is_change,SUM(is_cancel) is_cancel,SUM(total_orders) total_orders,SUM(total_amount) total_amount 
			FROM 
				cb_report_sign_merchant 
			<where>
				<if test="begDate != null">
					AND create_time >= #{begDate} 
				</if>
				<if test="endDate != null">
				<![CDATA[
					AND create_time <= #{endDate} 
				]]>
				</if>
				<if test="user.clientId != null">
					AND client_id = #{user.clientId} 
				</if>
				<if test="user.forgCode != null and flag == false">
					AND forg_code = #{user.forgCode} 
				</if>
				<if test="user.forgCode != null and flag == true">
					AND forg_code = #{user.forgCode} 
					AND (sorg_code IS NULL OR sorg_code = '') 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.sorgCode != null and flag == false">
					AND sorg_code = #{user.sorgCode} 
				</if>
				<if test="user.sorgCode != null and flag == true">
					AND sorg_code = #{user.sorgCode} 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.torgCode != null and flag == false">
					AND torg_code = #{user.torgCode} 
				</if>
				<if test="user.torgCode != null and flag == true">
					AND torg_code = #{user.torgCode} 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.lorgCode != null">
					AND lorg_code = #{user.lorgCode} 
				</if>
				AND (is_new != 0 or is_change != 0)
			</where>
			GROUP BY 
				sign_user_name,merchant_id 
		) t 
		GROUP BY 
			sign_user_name 
		ORDER BY 
			new_count DESC,sign_user_name 
	</select>
	
	
	<select id="getTotalNewMerchants" resultType="java.lang.Integer">
		SELECT 
			SUM(IF(is_new=0,0,1)) new_count 
		FROM (
			SELECT 
				SUM(is_new) is_new 
			FROM 
				cb_report_sign_merchant  
			<where>
				<if test="begDate != null">
					AND create_time >= #{begDate} 
				</if>
				<if test="endDate != null">
				<![CDATA[
					AND create_time <= #{endDate} 
				]]>
				</if>
				<if test="user.clientId != null">
					AND client_id = #{user.clientId} 
				</if>
				<if test="user.forgCode != null and flag == false">
					AND forg_code = #{user.forgCode} 
				</if>
				<if test="user.forgCode != null and flag == true">
					AND forg_code = #{user.forgCode} 
					AND (sorg_code IS NULL OR sorg_code = '') 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.sorgCode != null and flag == false">
					AND sorg_code = #{user.sorgCode} 
				</if>
				<if test="user.sorgCode != null and flag == true">
					AND sorg_code = #{user.sorgCode} 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.torgCode != null and flag == false">
					AND torg_code = #{user.torgCode} 
				</if>
				<if test="user.torgCode != null and flag == true">
					AND torg_code = #{user.torgCode} 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.lorgCode != null">
					AND lorg_code = #{user.lorgCode} 
				</if>
				AND (is_new != 0 or is_change != 0)
			</where>
			GROUP BY 
				merchant_id
		) t
	</select>
	
	
	<select id="selectContractDetailListByPage" resultMap="reportSignMerchantResultMap">
		SELECT 
			sign_user_name,SUM(IF(is_new=0,0,1)) new_count,SUM(IF(is_change=0,0,1)) change_count,SUM(total_orders) total_orders,SUM(total_amount) total_amount 
		FROM (
			SELECT 
				sign_user_name,SUM(is_new) is_new,SUM(is_change) is_change,SUM(is_cancel) is_cancel,SUM(total_orders) total_orders,SUM(total_amount) total_amount 
			FROM 
				cb_report_sign_merchant 
			<where>
				<if test="begDate != null">
					AND create_time >= #{begDate} 
				</if>
				<if test="endDate != null">
				<![CDATA[
					AND create_time <= #{endDate} 
				]]>
				</if>
				<if test="user.clientId != null">
					AND client_id = #{user.clientId} 
				</if>
				<if test="user.forgCode != null and flag == false">
					AND forg_code = #{user.forgCode} 
				</if>
				<if test="user.forgCode != null and flag == true">
					AND forg_code = #{user.forgCode} 
					AND (sorg_code IS NULL OR sorg_code = '') 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.sorgCode != null and flag == false">
					AND sorg_code = #{user.sorgCode} 
				</if>
				<if test="user.sorgCode != null and flag == true">
					AND sorg_code = #{user.sorgCode} 
					AND (torg_code IS NULL OR torg_code = '') 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.torgCode != null and flag == false">
					AND torg_code = #{user.torgCode} 
				</if>
				<if test="user.torgCode != null and flag == true">
					AND torg_code = #{user.torgCode} 
					AND (lorg_code IS NULL OR lorg_code = '') 
				</if>
				<if test="user.lorgCode != null">
					AND lorg_code = #{user.lorgCode} 
				</if>
				AND (is_new != 0 or is_change != 0)
			</where>
			GROUP BY 
				sign_user_name,merchant_id 
		) t 
		GROUP BY 
			sign_user_name 
		ORDER BY 
			new_count DESC,sign_user_name 
	</select>
	
</mapper>