<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.rp_mappers.ReportOrderProductMapper">

	<resultMap type="ReportOrderProduct" id="reportProductMap">
		<id property="id" column="id" />
		<result property="createDate" column="create_date" />
		<result property="clientId" column="client_id" />
		<result property="productId" column="product_id" />
		<result property="productName" column="product_name" />
		<result property="subOrderId" column="sub_order_id" />
		<result property="orderId" column="order_id" />
		<result property="memberCode" column="member_code" />
		<result property="merchantId" column="merchant_id" />
		<result property="productType" column="product_type" />
		<result property="deliveryMoney" column="delivery_money" />
		<result property="money" column="money" />
		<result property="quantity" column="quantity" />
		<result property="vipMoney" column="vip_money" />
		<result property="vipQuantity" column="vip_quantity" />
		<result property="orderStatus" column="order_status" />
		<result property="refundState" column="refund_state" />
		<result property="refundQuantity" column="refund_quantity" />
		<result property="vipRefundQuantity" column="vip_refund_quantity" />
	</resultMap>
	
	<sql id="selectColumn">
		create_date,client_id,product_id,product_name,sub_order_id,order_id,member_code,merchant_id,product_type,delivery_money, 
		money,quantity,vip_money,vip_quantity,order_status,refund_state,refund_quantity,vip_refund_quantity 
	</sql>
	
	<insert id="addProduct" parameterType="ReportOrderProduct">
		INSERT INTO cb_report_order_product(
			<include refid="selectColumn" /> 
		) VALUES (
			#{createDate},#{clientId},#{productId},#{productName},#{subOrderId},#{orderId},#{memberCode},#{merchantId},#{productType},
			#{deliveryMoney},#{money},#{quantity},#{vipMoney},#{vipQuantity},#{orderStatus},#{refundState},#{refundQuantity},#{vipRefundQuantity}
		)
	</insert>
	
	
	<insert id="addProductByBatch">
		INSERT INTO cb_report_order_product(
			<include refid="selectColumn" />
		) VALUES 
		<foreach collection="products" item="product" index="index" separator=",">
			(#{product.createDate},#{product.clientId},#{product.productId},#{product.productName},#{product.subOrderId},#{product.orderId},
			#{product.memberCode},#{product.merchantId},#{product.productType},#{product.deliveryMoney},#{product.money},#{product.quantity},
			#{product.vipMoney},#{product.vipQuantity},#{product.orderStatus},#{product.refundState},#{product.refundQuantity},#{product.vipRefundQuantity})
		</foreach>
	</insert>
	
	<select id="findByCondition" resultMap="reportProductMap">
		SELECT <include refid="selectColumn" /> 
		FROM cb_report_order_product 
		<where>
			<if test="clientId != null">
				AND client_id = #{clientId} 
			</if>
			<if test="merchantId != null">
				AND merchant_id = #{merchantId} 
			</if>
			<if test="createDate != null">
				AND create_date = #{createDate} 
			</if>
			<if test="productType != null">
				AND product_type = #{productType} 
			</if>				
			<if test="productId != null">
				AND product_id = #{productId} 
			</if>		
			<if test="memberCode != null">
				AND member_code = #{memberCode} 
			</if>
		</where>
	</select>	
	
	<select id="findByConditionByPage" resultMap="reportProductMap">
		SELECT <include refid="selectColumn" /> 
		FROM cb_report_order_product 
		<where>
			<if test="createDate != null">
				AND create_date = #{createDate} 
			</if>
		</where>
	</select>	
</mapper>