<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.rp_mappers.ReportOrderMapper">

	<resultMap type="ReportOrder" id="reportOrderMap">
		<id property="id" column="id" />
		<result property="createDate" column="create_date" />
		<result property="clientId" column="client_id" />
		<result property="subOrderId" column="sub_order_id" />
		<result property="orderId" column="order_id" />
		<result property="memberCode" column="member_code" />
		<result property="memberName" column="member_name" />
		<result property="merchantId" column="merchant_id" />
		<result property="merchantName" column="merchant_name" />
		<result property="orgCode" column="org_code" />
		<result property="forgCode" column="forg_code" />
		<result property="forgName" column="forg_name" />
		<result property="sorgCode" column="sorg_code" />
		<result property="sorgName" column="sorg_name" />
		<result property="torgCode" column="torg_code" />
		<result property="torgName" column="torg_name" />
		<result property="lorgCode" column="lorg_code" />
		<result property="lorgName" column="lorg_name" />
		<result property="orderDate" column="order_time" />
		<result property="orderStatus" column="order_status" />
		<result property="orderType" column="order_type" />
		<result property="refundState" column="refund_state" />		
		<result property="subOrderAmount" column="sub_order_amount" />
		<result property="realPrice" column="real_price" />
		<result property="totalPrice" column="total_price" />
		<result property="bankPoint" column="bank_point" />
		<result property="fftPoint" column="fft_point" />		
		<result property="pointRate" column="point_rate" />		
		<result property="productId" column="product_id" />		
		<result property="payType" column="pay_type" />							
	</resultMap>
	
	<sql id="selectColumn">
		create_date,client_id,sub_order_id,order_id,member_code,member_name,merchant_id,merchant_name,org_code,
		forg_code,forg_name,sorg_code,sorg_name,torg_code,torg_name,lorg_code,lorg_name,order_time,order_status,
		order_type,refund_state,sub_order_amount,real_price,total_price,bank_point,fft_point,point_rate,product_id,  
		pay_type
	</sql>
	
	<insert id="addOrder" parameterType="ReportOrder">
		INSERT INTO cb_report_order(
			<include refid="selectColumn" /> 
		) VALUES (
			#{createDate},#{clientId},#{subOrderId},#{orderId},#{memberCode},#{memberName},#{merchantId},#{merchantName},
			#{orgCode},#{forgCode},#{forgName},#{sorgCode},#{sorgName},#{torgCode},#{torgName},#{lorgCode},#{lorgName},#{orderDate},
			#{orderStatus},#{orderType},#{refundState},#{subOrderAmount},#{realPrice},#{totalPrice},#{bankPoint},#{fftPoint},
			#{pointRate},#{productId},#{payType} 
		)
	</insert>
	
	
	<insert id="addOrderByBatch">
		INSERT INTO cb_report_order(
			<include refid="selectColumn" /> 
		) VALUES 
		<foreach collection="orders" item="order" index="index" separator=",">
			(#{order.createDate},#{order.clientId},#{order.subOrderId},#{order.orderId},#{order.memberCode},#{order.memberName},
			#{order.merchantId},#{order.merchantName},#{order.orgCode},#{order.forgCode},#{order.forgName},#{order.sorgCode},
			#{order.sorgName},#{order.torgCode},#{order.torgName},#{order.lorgCode},#{order.lorgName},#{order.orderDate},
			#{order.orderStatus},#{order.orderType},#{order.refundState},#{order.subOrderAmount},#{order.realPrice},#{order.totalPrice},
			#{order.bankPoint},#{order.fftPoint},#{order.pointRate},#{order.productId},#{order.payType})
		</foreach>
	</insert>
	
	<select id="findByCondition" parameterType="ReportOrder" resultMap="reportOrderMap">
		SELECT <include refid="selectColumn" /> 
		FROM cb_report_order 
		<where>
			<if test="clientId != null">
				AND client_id = #{clientId} 
			</if>
			<if test="merchantId != null">
				AND merchant_id = #{merchantId} 
			</if>
			<if test="memberCode != null">
				AND member_code = #{memberCode} 
			</if>			
			<if test="createDate != null">
				AND create_date = #{createDate} 
			</if>
			<if test="orderType != null">
				AND order_type = #{orderType} 
			</if>
			<if test="orderStatus != null">
				AND order_status = #{orderStatus} 
			</if>
			AND refund_state != '3'
		</where>
	</select>
	
	<select id="findByConditionByPage" resultMap="reportOrderMap">
		SELECT <include refid="selectColumn" /> 
		FROM cb_report_order 
		<where>
			order_status = '6' AND refund_state != '3' 
			<if test="createDate != null">
				AND create_date = #{createDate} 
			</if>
		</where>
	</select>			
</mapper>