<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.BossProductCategoryMapper">
	
	<resultMap type="BossProductCategory" id="BossProductCategoryMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="name" column="name" />
		<result property="treePath" column="tree_path" />
		<result property="parentId" column="parent_id" />
		<result property="isDelete" column="is_delete" />
		<result property="icoUrl" column="ico_url" />
		<result property="orderValue" column="order_value" />
		<result property="isMarket" column="is_market" />
		<result property="isMall" column="is_mall" />
	</resultMap>
	
	
	
	<select id="findByCategoryId"  resultMap="BossProductCategoryMap">
		SELECT id, client_id, name, tree_path, parent_id, is_delete, ico_url, order_value,is_market,is_mall           
		FROM cb_product_category where id = #{categoryId} and client_id = #{clientId}
	</select>
	
	
	
	<!-- 查询 商品分类列表 -->
	<select id="findCategorys" resultMap="BossProductCategoryMap">
		SELECT id, client_id, name, tree_path, parent_id, is_delete, ico_url, order_value,is_market,is_mall   
		FROM cb_product_category
		<where>
			<if test="clientId != null and clientId != ''">
				AND client_id = #{clientId}
			</if>
			<if test="!iscludeDisable">
				AND is_delete = "0" 
			</if>
			<if test="isMall != null ">
				AND is_mall = #{isMall} 
			</if>
		</where>
		order by order_value desc
	</select>
	
	<!-- 查询商品分类信息 -->
	<select id="getBossProductCategoryById" resultMap="BossProductCategoryMap">
		SELECT id, client_id, name, tree_path, parent_id, is_delete, ico_url, order_value,is_market,is_mall    
		FROM cb_product_category
		<where>
			<if test="id != 0">
				AND id = #{id}
			</if>
			<if test="clientId != null and clientId != ''">
				AND client_id = #{clientId}
			</if>
		</where>
	</select>
	
	<!-- 新增商品分类 -->
	<insert id="addBossProductCategoryVo" parameterType="BossProductCategory" useGeneratedKeys="true" keyProperty="po.id">
		INSERT INTO cb_product_category (client_id, name, tree_path, parent_id, is_delete, ico_url, order_value,is_market,is_mall) values
	 (#{po.clientId}, #{po.name}, #{po.treePath}, #{po.parentId}, #{po.isDelete}, #{po.icoUrl}, #{po.orderValue},#{po.isMarket},#{po.isMall}) 
	</insert>
	
	<!-- 修改商品分类的treePath -->
	<update id="updateBossProductCategoryVoTreePath">
		UPDATE cb_product_category SET tree_path = #{po.treePath} WHERE id = #{po.id}
	</update>
	
	<!-- 根据分类名称查询是否存在该分类信息 -->
	<select id="findByName" resultType="java.lang.Integer">
		SELECT count(id) FROM cb_product_category WHERE client_id = #{clientId} AND name = #{name} AND is_mall = #{isMall} 
	</select>
	
	<!-- 修改商品分类信息 -->
	<update id="updateBossProductCategoryVo">
		UPDATE cb_product_category SET name = #{po.name}, ico_url = #{po.icoUrl}, order_value = #{po.orderValue}, is_delete = #{po.isDelete} WHERE id = #{po.id}
	</update>
	
	<!-- 根据分类名称查询分类详情 -->
	<select id="getBossProductCategoryByName" resultMap="BossProductCategoryMap">
		SELECT id, client_id, name, tree_path, parent_id, is_delete, ico_url, order_value,is_market,is_mall   
		FROM cb_product_category
			<where>
				<if test="clientId != null and clientId != ''">
					AND client_id = #{clientId} 
				</if>
				<if test="name != null and name != ''">
					AND name = #{name} 
				</if>
				<if test="isMall != null">
					AND is_mall = #{isMall}
				</if>
		</where>
	</select>
	
	<!-- 查询分类id的子分类信息 -->
	<select id="findChildList"  resultMap="BossProductCategoryMap">
		SELECT id, client_id, name, tree_path, parent_id, is_delete, ico_url, order_value,is_market,is_mall   
		 FROM cb_product_category where client_id = #{clientId} and tree_path like CONCAT('%',#{categoryId},'%')
	</select>
	
	<select id="findNoDeleteParentList"  resultMap="BossProductCategoryMap">
		SELECT id, client_id, name, tree_path, parent_id, is_delete, ico_url, order_value,is_market,is_mall    
		 FROM cb_product_category where client_id = #{clientId} and parent_id = 0 and is_delete = 0 and is_mall = #{isMall}
	</select>
	
	
</mapper>
