<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.BusinessZoneTagMapper">
	
	<resultMap type="BusinessZoneTag" id="zoneTagResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="zoneName" column="zone_name" />
		<result property="serialNumber" column="serial_number" />
		<result property="fareaId" column="f_area_id" />
		<result property="sareaId" column="s_area_id" />
		<result property="tareaId" column="t_area_id" />
		<result property="oareaId" column="o_area_id" />
		<result property="desc" column="desc" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<!-- 添加  Product -->
	<insert id="insert" parameterType="BusinessZoneTag" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into cb_business_zone_tag (
				client_id,zone_name,serial_number,f_area_id,s_area_id,t_area_id,o_area_id,`desc`,  `status`, create_time
			) values (
				#{clientId},#{zoneName},#{serialNumber},#{fareaId},#{sareaId},#{tareaId},#{oareaId},#{desc},#{status},#{createTime}
			) 
		]]>
	</insert>
	
	<select id="findById" parameterType="java.lang.Long" resultMap="zoneTagResultMap">
		select 
			t.id,
			t.zone_name,
			t.serial_number,
			t.f_area_id,
			t.s_area_id,
			t.t_area_id,
			t.o_area_id,
			t.`desc`, 
			t.`status`,
			t.create_time,
			t.update_time,
			t.client_id 
		from cb_business_zone_tag t 
		where id = #{id}
	</select>
	
	
	<!-- 修改  FunctionModule -->
	<update id="update" parameterType="BusinessZoneTag">
		update cb_business_zone_tag 
		<set>
			<if test="tag.clientId != null">
				client_id = #{tag.clientId},
			</if>
			<if test="tag.zoneName != null">
				zone_name = #{tag.zoneName},
			</if>
			<if test="tag.serialNumber != null">
				serial_number=#{tag.serialNumber},
			</if>
			<if test="tag.fareaId != null">
				f_area_id=#{tag.fareaId},
			</if>
			s_area_id=#{tag.sareaId},
			t_area_id=#{tag.tareaId},
			<if test="tag.oareaId != null">
				o_area_id=#{tag.oareaId},
			</if>
			<if test="tag.desc != null">
				`desc`=#{tag.desc},
			</if>
			<if test="tag.status != null">
				`status`=#{tag.status},
			</if>
			<if test="tag.updateTime != null">
				update_time=#{tag.updateTime},
			</if>
		</set>
         where id = #{tag.id}
	</update>
	
	
	
	
	<resultMap type="com.froad.po.BusinessZoneTagDto" id="zoneTagPageResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="zoneName" column="zone_name" />
		<result property="serialNumber" column="serial_number" />
		<result property="fareaId" column="f_area_id" />
		<result property="sareaId" column="s_area_id" />
		<result property="tareaId" column="t_area_id" />
		<result property="oareaId" column="o_area_id" />
		<result property="desc" column="desc" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="bankName" column="bank_name" />
	</resultMap>
	
	
	<select id="findByPage" parameterType="BusinessZoneTag" resultMap="zoneTagPageResultMap">
		select 
			t.id,
			t.zone_name,
			t.serial_number,
			t.f_area_id,
			t.s_area_id,
			t.t_area_id,
			t.o_area_id,
			t.`desc`, 
			t.`status`,
			t.create_time,
			t.update_time,
			c.client_id,
			c.bank_name 
		from cb_business_zone_tag t LEFT JOIN cb_client c ON t.client_id = c.client_id
		<where>
			<if test="tag.clientId != null and tag.clientId != ''">
				and t.client_id = #{tag.clientId} 
			</if>
			<if test="tag.status != null and tag.status != ''">
				and t.`status` = #{tag.status} 
			</if>
			<if test="tag.zoneName != null and tag.zoneName != ''">
				and t.zone_name like CONCAT('%',#{tag.zoneName},'%')  
			</if>
		</where>
			order by t.create_time desc 
	</select>
	
	
	
	<select id="findByConditionCount" parameterType="BusinessZoneTag"  resultType="java.lang.Integer">
		select 
			count(1)
		from cb_business_zone_tag t
		<where>
			<if test="tag.clientId != null and tag.clientId != ''">
				and t.client_id = #{tag.clientId} 
			</if>
			<if test="tag.fareaId != null ">
				and t.f_area_id = #{tag.fareaId}
			</if>
			<if test="tag.sareaId != null">
				and t.s_area_id = #{tag.sareaId}
			</if>
			<if test="tag.tareaId != null ">
				and t.t_area_id = #{tag.tareaId}
			</if>
			<if test="tag.oareaId != null ">
				and t.o_area_id = #{tag.oareaId}
			</if>
			<if test="tag.zoneName != null ">
				and t.zone_name = #{tag.zoneName}
			</if>
		</where>
	</select>
	
	
	<select id="findExportListByCondition" parameterType="BusinessZoneTag" resultMap="zoneTagResultMap">
		select
			t.id,
			t.client_id,
			t.zone_name,
			t.serial_number,
			t.f_area_id,
			t.s_area_id,
			t.t_area_id,
			t.o_area_id,
			t.desc, 
			t.status,
			t.create_time,
			t.update_time
		from
			cb_client_function_module t
		<where>
			<if test="tag.clientId != null and tag.clientId != ''">
				and t.client_id = #{tag.clientId}
			</if>
			<if test="tag.status != null and tag.status != ''">
				and t.status = #{tag.status}
			</if>
			<if test="tag.zoneName != null and tag.zoneName != ''">
				and t.zone_name like CONCAT('%',#{tag.zoneName},'%') 
			</if>
			order by t.create_time desc
		</where>
	</select>
	
	
	<resultMap type="com.froad.po.BusinessZoneTagOutlet" id="tagOutletResultMap">
		<result property="bankName" column="bank_name" />
		<result property="zoneName" column="zone_name" />
		<result property="outletName" column="outlet_name" />
		<result property="outletId" column="outlet_id" />
		<result property="address" column="address" />
		<result property="merchantName" column="merchant_name" />
		<result property="merchantId" column="merchant_id" />
	</resultMap>
	
	<!-- boss1.6.0上线时商户中心那边门店增加时没有增加关联门店功能，先屏蔽boss掉商圈门店导出功能
	 <select id="findTagOutletList" parameterType="java.lang.Long" resultMap="tagOutletResultMap">
		SELECT
			c.`bank_name`,
			t.`zone_name`,
			o.`outlet_name`,
			o.`outlet_id`,
			o.`address`,
			m.`merchant_name`,
			m.`merchant_id`
		FROM
			`cb_outlet` o 
				LEFT JOIN `cb_business_zone_tag` t ON o.`tag_id` = t.`id`
				LEFT JOIN `cb_client` c ON c.`client_id` = t.`client_id` 
				LEFT JOIN `cb_merchant` m ON o.`merchant_id` = m.`merchant_id`
			 WHERE t.id = #{id}
	</select>-->
	
	
</mapper>

