<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ClientMapper">

	<resultMap type="Client" id="clientResultMap">
		<result property="clientId" column="client_id" />
		<result property="name" column="name" />
		<result property="bankName" column="bank_name" />
	</resultMap>

	<select id="findExistBossClientList" parameterType="java.lang.String" resultMap="clientResultMap">
		SELECT
			b.client_id,
			b.name ,
			b.bank_name 
		FROM
			 cb_client  b WHERE
			 b.client_id  
		<if test="type == '1'.toString()">
			 IN
		</if>
		<if test="type == '2'.toString()">
			NOT IN 
		</if> 
		(SELECT
			t.client_id 
		FROM
			 cb_client_function_module  t  GROUP BY t.client_id )
	</select>
	
	
	
	<resultMap type="com.froad.po.BankAccessDto" id="clientListResultMap">
		<id property="id" column="id" />
		<result property="clientNo" column="client_id" />
		<result property="clientName" column="bank_name" />
		<result property="functionDesc" column="module_name" />
		<result property="paymentMethodDesc" column="full_name" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	
	<select id="findClientList" resultMap="clientListResultMap">
	 SELECT
	 	 c.id,
		 c.client_id, 
		 c.bank_name, 
		 (SELECT GROUP_CONCAT(f.type) module_name FROM cb_client_function_module f WHERE f.client_id = c.client_id ) AS module_name , 
		 (SELECT GROUP_CONCAT(p.type) full_name FROM cb_client_payment_channel p WHERE p.client_id = c.client_id AND p.is_delete = 0) AS full_name, 
		 tp.create_time,  
		 tp.update_time 
	 FROM 
	 	cb_client c ,
	(SELECT
		t.client_id,
		t.create_time,
		t.update_time
	FROM
		cb_client_function_module t  GROUP BY t.client_id) tp WHERE c.client_id = tp.client_id
	<if test="clientId != null and clientId != ''">
		AND c.client_id = #{clientId}
	</if>
	limit #{pageNumber}, #{pageSize}	
	
	</select>
	
	
	<select id="findClientListCount" parameterType="java.lang.String" resultType="java.lang.Integer">
	SELECT
	 	 count(1)
	 FROM 
	 	cb_client c ,
	(SELECT
		t.client_id,
		t.create_time,
		t.update_time
	FROM
		cb_client_function_module t  GROUP BY t.client_id) tp WHERE c.client_id = tp.client_id
	<if test="clientId != null and clientId != ''">
		AND c.client_id = #{clientId}
	</if>
	
	</select>
<select id="findClient" parameterType="Client" resultMap="clientResultMap">
		select 
			id,create_time,client_id,uri,name,point_partner_no,openapi_partner_no,order_display,appkey,appsecret,bank_type,bank_name,qr_logo,return_url,remark,bank_id,settle_pay_org,bank_org,bank_ZH     
		from cb_client 
			<where>
				<if test="id != null">
					and id = #{id}
				</if>
				<if test="clientId != null">
					and client_id = #{clientId}
				</if>
				<if test="uri != null">
					and uri = #{uri}
				</if>
				<if test="createTime != null">
					and create_time = #{createTime}
				</if>
				<if test="name != null">
					and name = #{name}
				</if>
				<if test="pointPartnerNo != null">
					and point_partner_no = #{pointPartnerNo}
				</if>
				<if test="openapiPartnerNo != null">
					and openapi_partner_no = #{openapiPartnerNo}
				</if>
				<if test="orderDisplay != null">
					and order_display = #{orderDisplay}
				</if>
				<if test="appkey != null">
					and appkey = #{appkey}
				</if>
				<if test="appsecret != null">
					and appsecret = #{appsecret}
				</if>
				<if test="bankType != null">
					and bank_type = #{bankType}
				</if>
				<if test="bankName != null">
					and bank_name = #{bankName}
				</if>
				<if test="qrLogo != null">
					and qr_logo = #{qrLogo}
				</if>
				<if test="returnUrl != null">
					and return_url = #{returnUrl}
				</if>
				<if test="remark != null">
					and remark = #{remark}
				</if>
				<if test="bankId != null">
					and bank_id = #{bankId}   
				</if>
				<if test="settlePayOrg != null">
					and settle_pay_org = #{settlePayOrg}   
				</if>
				<if test="bankOrg != null">
					and bank_org = #{bankOrg}   
				</if>
				<if test="bankZH != null">
					and bank_ZH = #{bankZH}    
				</if>
			</where>
	</select>
</mapper>

