<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ClientPaymentChannelMapper">

	<resultMap type="ClientPaymentChannel" id="clientPaymentChannelResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="paymentChannelId" column="payment_channel_id" />
		<result property="name" column="name" />
		<result property="fullName" column="full_name" />
		<result property="type" column="type" />
		<result property="icoUrl" column="ico_url" />
		<result property="paymentOrgNo" column="payment_org_no" />
		<result property="isFroadCheckToken" column="is_froad_check_token" />
		<result property="pointRate" column="point_rate" />
		<result property="isDelete" column="is_delete" />
	</resultMap>



	<!-- 修改  ClientPaymentChannel -->
	<update id="updateBossInfo" parameterType="ClientPaymentChannel">
		update cb_client_payment_channel 
			<set>
				<if test="name != null">
					name = #{name},
				</if>
				<if test="fullName != null">
					full_name = #{fullName},
				</if>
				<if test="icoUrl != null">
					ico_url = #{icoUrl},
				</if>
				<if test="isDelete != null">
					is_delete = #{isDelete},
				</if>
			</set>
			<where>
				<!-- 逻辑删除支付渠道，即时支付除外 -->
				type != 55
				<if test="clientId != null">
					and client_id = #{clientId}
				</if>
				<if test="type != null">
					and type = #{type}
				</if>
			</where>
				
				
	</update>


	<!-- 查询  ClientPaymentChannel -->
	<select id="findListByCondition" parameterType="ClientPaymentChannel" resultMap="clientPaymentChannelResultMap">
		select 
			id,client_id,payment_channel_id,name,full_name,type,ico_url,payment_org_no,is_froad_check_token,point_rate
		from cb_client_payment_channel 
			<where>
				<if test="isDelete != null">
					and is_delete = #{isDelete}
				</if>
				<if test="id != null">
					and id = #{id}
				</if>
				<if test="clientId != null">
					and client_id = #{clientId}
				</if>
				<if test="type != null">
					and type = #{type}
				</if>
			</where>
	</select>

</mapper>

