<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.DictionaryMapper">

	<resultMap type="Dictionary" id="dictionaryResultMap">
		<id property="id" column="id" />
		<result property="dicCode" column="dic_code" />
		<result property="dicName" column="dic_name" />
		<result property="depiction" column="depiction" />
		<result property="categoryId" column="category_id" />
		<result property="orderValue" column="order_value" />
		<result property="isEnable" column="is_enable" />
	</resultMap>


	<!-- 添加  Dictionary -->
	<insert id="addDictionary" parameterType="Dictionary" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_dictionary (
				dic_code,dic_name,depiction,category_id,order_value,is_enable 
			) VALUES (
				#{dicCode},#{dicName},#{depiction},#{categoryId},#{orderValue},#{isEnable}
			) 
		]]>
	</insert>


	<!-- 批量添加  Dictionary -->
	<insert id="addDictionaryByBatch" parameterType="java.util.List">
		INSERT INTO cb_dictionary (
			dic_code,dic_name,depiction,category_id,order_value,is_enable   
		) VALUES 
		<foreach collection="dictionaryList" item="item" index="index" separator=",">
			(#{dicCode},#{dicName},#{depiction},#{categoryId},#{orderValue},#{isEnable})
		</foreach>
	</insert>


	<!-- 删除  Dictionary -->
	<delete id="deleteDictionary" parameterType="java.lang.Long">
		update cb_dictionary  set is_enable=false  where id = #{id} 
	</delete>


    <!-- 批量删除  Dictionary -->
	<delete id="deleteDictionaryBatch">
		update cb_dictionary  set is_enable=false 
		where  1=1      
			<if test="dicIdList != null">
			 	 AND id IN 
				<foreach collection="dicIdList" item="id" open="(" close=")" separator=",">
					#{id}
			 	</foreach>
			</if>
	</delete>
	
	
	<!-- 修改  Dictionary -->
	<update id="updateDictionary" parameterType="Dictionary">
		UPDATE cb_dictionary      
		<set>
				<if test="dicCode != null">
					  dic_code = #{dicCode}, 
				</if>
				<if test="dicName != null">
					  dic_name = #{dicName}, 
				</if>
				<if test="depiction != null">
					  depiction = #{depiction}, 
				</if>
				<if test="categoryId != null">
					  category_id = #{categoryId}, 
				</if>
				<if test="orderValue != null">
					  order_value = #{orderValue}, 
				</if>
				<if test="isEnable != null">
					  is_enable = #{isEnable}, 
				</if>
		</set>
		<where>
			<if test="id != null">
				 AND id = #{id} 
			</if>
		</where>
	</update>


	<!-- 查询  Dictionary -->
	<select id="findDictionaryById" parameterType="java.lang.Long" resultMap="dictionaryResultMap">
		SELECT 
            id,dic_code,dic_name,depiction,category_id,order_value,is_enable   
        FROM cb_dictionary   
        WHERE 
            id = #{id}

	</select>

	<!-- 查询  Dictionary -->
	<select id="findDictionary" parameterType="Dictionary" resultMap="dictionaryResultMap">
		SELECT 
            id,dic_code,dic_name,depiction,category_id,order_value,is_enable   
        FROM cb_dictionary   
		<where>
			<if test="id != null">
				 AND id = #{id} 
			</if>
			<if test="dicCode != null">
				 AND dic_code = #{dicCode} 
			</if>
			<if test="dicName != null">
				 AND dic_name = #{dicName}  
			</if>
			<if test="depiction != null">
				 AND depiction = #{depiction}  
			</if>
			<if test="categoryId != null">
				 AND category_id = #{categoryId}  
			</if>
			<if test="orderValue != null">
				 AND order_value = #{orderValue}  
			</if>
			<if test="isEnable != null">
				 AND is_enable = #{isEnable} 
			</if>
		</where>
	</select>

	<!-- 分页查询  Dictionary -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="dictionaryResultMap">
		SELECT 
             id,dic_code,dic_name,depiction,category_id,order_value,is_enable   
        FROM cb_dictionary   
		<if test="dictionary != null">
			<where>
				<if test="dictionary.id != null">
					 AND id = #{dictionary.id} 
				</if>
				<if test="dictionary.dicCode != null">
					 AND dic_code = #{dictionary.dicCode} 
				</if>
				<if test="dictionary.dicName != null">
					 AND dic_name like CONCAT('%',#{dictionary.dicName},'%' )       
				</if>
				<if test="dictionary.depiction != null">
					 AND depiction = #{dictionary.depiction}  
				</if>
				<if test="dictionary.categoryId != null">
					 AND category_id = #{dictionary.categoryId}  
				</if>
				<if test="childIds != null">
				 	 AND category_id IN 
					<foreach collection="childIds" item="categoryId" open="(" close=")" separator=",">
						#{categoryId}
				 	</foreach>
				</if>
				<if test="dictionary.orderValue != null">
					 AND order_value = #{dictionary.orderValue}  
				</if>
				<if test="dictionary.isEnable != null">
					 AND is_enable = #{dictionary.isEnable} 
				</if>
			</where>
		</if>
	</select>


</mapper>

