<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.FunctionModuleMapper">
	
	<resultMap type="FunctionModule" id="moduleResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="type" column="type" />
		<result property="moduleName" column="module_name" />
		<result property="moduleAlias" column="module_alias" />
		<result property="iconUrl" column="icon_url" />
		<result property="sortValue" column="sort_value" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<!-- 查询  FunctionModule -->
	<delete id="deleteByClientId" parameterType="java.lang.String">
		delete from cb_client_function_module where client_id = #{clientId}
	</delete>
	<!-- 添加  Product -->
	<insert id="insert" parameterType="FunctionModule" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into cb_client_function_module (
				client_id,type,module_name,module_alias,icon_url,sort_value,create_time,update_time 
			) values (
				#{clientId},#{type},#{moduleName},#{moduleAlias},#{iconUrl},#{sortValue},#{createTime},#{updateTime}
			) 
		]]>
	</insert>
	
	<!-- 修改  FunctionModule -->
	<update id="update" parameterType="FunctionModule">
		update cb_client_function_module 
		<set>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="moduleName">
				module_name=#{moduleName},
			</if>
			<if test="moduleAlias">
				module_alias=#{moduleAlias},
			</if>
			<if test="iconUrl">
				icon_url=#{iconUrl},
			</if>
			<if test="sortValue">
				sort_value=#{sortValue},
			</if>
			<if test="createTime">
				create_time=#{createTime},
			</if>
			<if test="updateTime">
				update_time=#{updateTime},
			</if>
		</set>
         where client_id = #{clientId}
	</update>
	
	
	<select id="findListByCondition" parameterType="java.lang.String" resultMap="moduleResultMap">
		select
			t.type,
			t.module_name,
			t.module_alias,
			t.icon_url,
			t.sort_value,
			t.create_time,
			t.update_time
		from
			cb_client_function_module t
		where 
			client_id = #{clientId}
	</select>
</mapper>

