<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.MerchantMapper">
	
	<resultMap type="Merchant" id="merchantResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="merchantName" column="merchant_name" />
		<result property="merchantStatus" column="merchant_status" />
		<result property="isEnable" column="is_enable" />
		<result property="disableStatus" column="disable_status" />
		<result property="auditState" column="audit_state" />
		<result property="license" column="license" />
	</resultMap>
	
	<select id="queryMerchantByLicense" resultMap="merchantResultMap">
		SELECT id,client_id,merchant_id,merchant_name,merchant_status,is_enable,disable_status,audit_state,license 
		FROM cb_merchant 
		<where>
			<if test="license != null">
				license = #{license} 
			</if>
		</where>
	</select>
	
	<select id="queryMerchantByMerchantId" resultMap="merchantResultMap">
		SELECT id,client_id,merchant_id,merchant_name,merchant_status,is_enable,disable_status,audit_state,license 
		FROM cb_merchant 
		<where>
			<if test="merchantId != null">
				merchant_id = #{merchantId} 
			</if>
		</where>
	</select>
</mapper>

