<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.ProductCategoryMapper">

	<resultMap type="ProductCategory" id="productCategoryResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="name" column="name" />
		<result property="treePath" column="tree_path" />
		<result property="parentId" column="parent_id" />
		<result property="isDelete" column="is_delete" />
		<result property="icoUrl" column="ico_url" />
		<result property="orderValue" column="order_value" />
	</resultMap>

	<!-- 查询商品分类的树节点 -->
	<select id="findProductCategoryById" parameterType="Long" resultMap="productCategoryResultMap">
		SELECT id,client_id,name,tree_path,parent_id,is_delete FROM cb_product_category WHERE id=#{id} LIMIT 1
	</select>

</mapper>