<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.RecommendActivityCounterMapper">
	
	<resultMap type="RecommendActivityCounter" id="RatResultMap">
		<id property="id" column="id"/>
		<result property="clientId" column="client_id" />
		<result property="activityType" column="activity_type" />
		<result property="counter" column="counter" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<select id="findByCondition" resultMap="RatResultMap">
		SELECT id,client_id,activity_type,counter,create_time,update_time  
		FROM cb_recommend_activity_counter 
		<where>
			<if test="rat.id != null">
				AND client_id = #{rat.id} 
			</if>
			<if test="rat.clientId != null">
				AND client_id = #{rat.clientId} 
			</if>
			<if test="rat.activityType != null">
				AND activity_type = #{rat.activityType} 
			</if>
		</where>
	</select>
	
		
	<update id="update">
		UPDATE cb_recommend_activity_counter 
		<set>
			<if test="rat.clientId != null">
				client_id = #{rat.clientId}, 
			</if>
			<if test="rat.activityType != null">
				activity_type = #{rat.activityType}, 
			</if>
			<if test="rat.counter != null">
				counter = #{rat.counter}, 
			</if>
			<if test="rat.updateTime != null">
				update_time = #{rat.updateTime}, 
			</if>
		</set>
		<where>
			<if test="rat.id != null">
				AND id = #{rat.id} 
			</if>
			<if test="rat.clientId != null">
				AND client_id = #{rat.clientId} 
			</if>
			<if test="rat.activityType != null">
				AND activity_type = #{rat.activityType} 
			</if>
		</where>
	</update>
	
	<insert id="add" parameterType="RecommendActivityCounter" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_recommend_activity_counter (
			client_id,activity_type,counter,create_time
		) VALUES (
			#{clientId},#{activityType},#{counter},#{createTime}
		)
	</insert>
</mapper>

