<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.WeightActivityTagMapper">
	
	<resultMap type="WeightActivityTag" id="WeightActivityTagResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activityId" column="activity_id" />
		<result property="activityNo" column="activity_no" />
		<result property="elementId" column="element_id" />
		<result property="weight" column="weight" />
		<result property="activityType" column="activity_type" />
		<result property="operator" column="operator" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="elementName" column="element_name" />
	</resultMap>
	
	<resultMap type="MerchantWeightActivityTag" id="MerchantResult">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activityId" column="activity_id" />
		<result property="activityNo" column="activity_no" />
		<result property="elementId" column="element_id" />
		<result property="weight" column="weight" />
		<result property="activityType" column="activity_type" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="merchantName" column="merchant_name" />
		<result property="license" column="license" />
		<result property="operator" column="operator" />
		<result property="areaName" column="area_name" />
	</resultMap>
	
	<resultMap type="OutletWeightActivityTag" id="OutletResult">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activityId" column="activity_id" />
		<result property="activityNo" column="activity_no" />
		<result property="elementId" column="element_id" />
		<result property="weight" column="weight" />
		<result property="activityType" column="activity_type" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="outletName" column="outlet_name" />
		<result property="merchantId" column="merchant_id" />
		<result property="merchantName" column="merchant_name" />
		<result property="operator" column="operator" />
		<result property="areaName" column="area_name" />
	</resultMap>
	
	<resultMap type="ProductWeightActivityTag" id="ProductResult">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="activityId" column="activity_id" />
		<result property="activityNo" column="activity_no" />
		<result property="elementId" column="element_id" />
		<result property="weight" column="weight" />
		<result property="activityType" column="activity_type" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="productName" column="product_name" />
		<result property="merchantId" column="merchant_id" />
		<result property="merchantName" column="merchant_name" />
		<result property="operator" column="operator" />
	</resultMap>
	
	<select id="findMerchantDetailByPage" resultMap="MerchantResult">
		SELECT w.id,w.client_id,w.activity_id,w.activity_no,w.weight,w.element_id,m.merchant_fullname merchant_name,m.license,w.update_time,w.create_time,w.operator,a.name area_name 
		FROM cb_weight_activity_tag_temp w LEFT JOIN cb_merchant m ON w.element_id=m.merchant_id 
		LEFT JOIN cb_area a ON a.id=m.area_id 
		<where>
			w.activity_type = '1' 
			<if test="weightTag.clientId != null">
				AND w.client_id = #{weightTag.clientId} 
			</if>
			<if test="weightTag.activityId != null">
				AND w.activity_id = #{weightTag.activityId} 
			</if>
			<if test="weightTag.activityNo != null">
				AND w.activity_no = #{weightTag.activityNo} 
			</if>
		</where>
		ORDER BY w.weight DESC,w.update_time DESC 
	</select>
	
	<!-- 查询关联门店信息 -->
	<select id="findOutletDetailByPage" resultMap="OutletResult">
		SELECT w.id,w.client_id,activity_id,w.activity_no,w.weight,w.element_id,m.merchant_id,m.merchant_name,o.outlet_fullname outlet_name,w.update_time,w.create_time,w.operator,a.name area_name 
		FROM cb_weight_activity_tag_temp w LEFT JOIN cb_outlet o ON w.element_id = o.outlet_id 
		LEFT JOIN cb_merchant m ON o.merchant_id = m.merchant_id 
		LEFT JOIN cb_area a ON a.id=o.area_id 
		<where>
			w.activity_type = '2' 
			<if test="weightTag.clientId != null">
				AND w.client_id = #{weightTag.clientId} 
			</if>
			<if test="weightTag.activityId != null">
				AND w.activity_id = #{weightTag.activityId} 
			</if>
			<if test="weightTag.activityNo != null">
				AND w.activity_no = #{weightTag.activityNo} 
			</if>
		</where>
		ORDER BY w.weight DESC,w.update_time DESC 
	</select>
	
	<select id="findProductDetailByPage" resultMap="ProductResult">
		SELECT w.id,w.client_id,w.activity_id,w.activity_no,w.weight,w.element_id,p.full_name product_name,p.merchant_id,p.merchant_name,w.update_time,w.create_time,w.operator 
		FROM cb_weight_activity_tag_temp w LEFT JOIN cb_product p ON w.element_id=p.product_id 
		<where>
			w.activity_type = '3' 
			<if test="weightTag.clientId != null">
				AND w.client_id = #{weightTag.clientId} 
			</if>
			<if test="weightTag.activityId != null">
				AND w.activity_id = #{weightTag.activityId} 
			</if>
			<if test="weightTag.activityNo != null">
				AND w.activity_no = #{weightTag.activityNo} 
			</if>
		</where>
		ORDER BY w.weight DESC,w.update_time DESC 
	</select>
	
	<update id="updateWeightActivityTag">
		UPDATE cb_weight_activity_tag_temp 
		<set>
			<if test="weight.weight != null">
				weight = #{weight.weight}, 
			</if>
			<if test="weight.operator != null">
				operator = #{weight.operator}, 
			</if>
			<if test="weight.updateTime != null">
				update_time = #{weight.updateTime}, 
			</if>
		</set>
		<where>
			<if test="weight.id != null">
				AND id = #{weight.id} 
			</if>
			<if test="weight.clientId != null">
				AND client_id = #{weight.clientId} 
			</if>
			<if test="weight.activityId != null">
				AND activity_id = #{weight.activityId} 
			</if>
			<if test="weight.activityNo != null">
				AND activity_no = #{weight.activityNo} 
			</if>
			<if test="weight.elementId != null">
				AND element_id = #{weight.elementId} 
			</if>
			<if test="weight.activityType != null">
				AND activity_type = #{weight.activityType} 
			</if>
		</where>
	</update>
	
	
	<delete id="delWeightActivityTag">
		DELETE FROM cb_weight_activity_tag_temp 
		<where>
			<if test="id != null">
				AND id = #{id} 
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId} 
			</if>
		</where>
	</delete>
	
	
	<insert id="addWeightActivityTag" parameterType="WeightActivityTag" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_weight_activity_tag (
			client_id,activity_id,activity_no,element_id,weight,activity_type,operator,create_time,update_time
		) VALUES (
			#{clientId},#{activityId},#{activityNo},#{elementId},#{activityType},#{operator},#{createTime},#{updateTime}
		)
	</insert>
	
	
	<delete id="deleteTempWeightInfoByActivityNo">
		DELETE FROM cb_weight_activity_tag_temp 
		<where>
			<if test="activityId != null">
				AND activity_id = #{activityId} 
			</if>
			<if test="activityNo != null">
				AND activity_no = #{activityNo} 
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId} 
			</if>
		</where>
	</delete>
	
	
	<insert id="insertTempWeightInfoByActivityNo">
		INSERT INTO cb_weight_activity_tag_temp (
			client_id,activity_id,activity_no,element_id,weight,activity_type,operator,create_time,update_time
		) (
			SELECT client_id,activity_id,activity_no,element_id,weight,activity_type,operator,create_time,update_time  
			FROM cb_weight_activity_tag 
			<where>
				<if test="activityId != null">
					AND activity_id = #{activityId} 
				</if>
				<if test="activityNo != null">
					AND activity_no = #{activityNo} 
				</if>
				<if test="clientId != null">
					AND client_id = #{clientId} 
				</if>
			</where>
		)
	</insert>
	
	
	<select id="findWeightInfoByActivityNo" resultMap="WeightActivityTagResultMap">
		SELECT id,client_id,activity_id,activity_no,element_id,weight,activity_type,operator,create_time,update_time 
		FROM cb_weight_activity_tag 
		<where>
			<if test="activityId != null">
				AND activity_id = #{activityId} 
			</if>
			<if test="activityNo != null">
				AND activity_no = #{activityNo} 
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId} 
			</if>
		</where>
	</select>
	
	
	<insert id="insertWeightInfoByActivityNo">
		INSERT INTO cb_weight_activity_tag (
			client_id,activity_id,activity_no,element_id,weight,activity_type,operator,create_time,update_time
		) (
			SELECT client_id,activity_id,activity_no,element_id,weight,activity_type,operator,create_time,update_time 
			FROM cb_weight_activity_tag_temp 
			<where>
				<if test="activityId != null">
					AND activity_id = #{activityId} 
				</if>
				<if test="activityNo != null">
					AND activity_no = #{activityNo} 
				</if>
				<if test="clientId != null">
					AND client_id = #{clientId} 
				</if>
			</where>
		)
	</insert>
	
	
	<delete id="deleteWeightInfoByActivityNo">
		DELETE FROM cb_weight_activity_tag 
		<where>
			<if test="activityId != null">
				AND activity_id = #{activityId} 
			</if>
			<if test="activityNo != null">
				AND activity_no = #{activityNo} 
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId} 
			</if>
		</where>
	</delete>
	
	
	<insert id="addTempWeightActivityTag" parameterType="WeightActivityTag" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cb_weight_activity_tag_temp (
			client_id,activity_id,activity_no,element_id,weight,activity_type,operator,create_time,update_time
		) VALUES (
			#{clientId},#{activityId},#{activityNo},#{elementId},#{weight},#{activityType},#{operator},#{createTime},#{updateTime}
		)
	</insert>
	
	<select id="findTempRelateActivityCount" resultType="java.lang.Integer">
		SELECT COUNT(1) 
		FROM cb_weight_activity_tag_temp 
		<where>
			<if test="activityId != null">
				AND activity_id = #{activityId} 
			</if>
			<if test="activityNo != null">
				AND activity_no = #{activityNo} 
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId} 
			</if>
			<if test="elementId != null">
				AND element_id = #{elementId} 
			</if>
		</where>
	</select>
	
	<update id="updateTempActivityIdByActivityNo">
		UPDATE cb_weight_activity_tag_temp 
		<set>
			<if test="activityId != null">
				activity_id = #{activityId}, 
			</if>
		</set>
		<where>
			<if test="activityNo != null">
				AND activity_no = #{activityNo} 
			</if>
			<if test="clientId != null">
				AND client_id = #{clientId} 
			</if>
		</where>
	</update>
	
	
	<select id="queryRelateMerchants" resultMap="WeightActivityTagResultMap">
		SELECT t1.element_id,t2.merchant_fullname element_name,t1.weight,t1.activity_no 
		FROM cb_weight_activity_tag_temp t1 JOIN cb_merchant t2 ON t1.element_id=t2.merchant_id 
		<where>
			t1.activity_type = '1' 
			<if test="activityId != null">
				AND t1.activity_id = #{activityId} 
			</if>
			<if test="activityNo != null and activityNo != ''">
				AND t1.activity_no = #{activityNo} 
			</if>
			<if test="clientId != null and clientId != ''">
				AND t1.client_id = #{clientId} 
			</if>
		</where>
		ORDER BY t1.weight DESC,t1.update_time DESC
	</select>
	
	
	<select id="queryRelateOutlets" resultMap="WeightActivityTagResultMap">
		SELECT t1.element_id,t2.outlet_fullname element_name,t1.weight,t1.activity_no 
		FROM cb_weight_activity_tag_temp t1 JOIN cb_outlet t2 ON t1.element_id=t2.outlet_id 
		<where>
			t1.activity_type = '2' 
			<if test="activityId != null">
				AND t1.activity_id = #{activityId} 
			</if>
			<if test="activityNo != null and activityNo != ''">
				AND t1.activity_no = #{activityNo} 
			</if>
			<if test="clientId != null and clientId != ''">
				AND t1.client_id = #{clientId} 
			</if>
		</where>
		ORDER BY t1.weight DESC,t1.update_time DESC
	</select>
	
	
	<select id="queryRelateProducts" resultMap="WeightActivityTagResultMap">
		SELECT t1.element_id,t2.full_name element_name,t1.weight,t1.activity_no 
		FROM cb_weight_activity_tag_temp t1 JOIN cb_product t2 ON t1.element_id=t2.product_id 
		<where>
			t1.activity_type = '3' 
			<if test="activityId != null">
				AND t1.activity_id = #{activityId} 
			</if>
			<if test="activityNo != null and activityNo != ''">
				AND t1.activity_no = #{activityNo} 
			</if>
			<if test="clientId != null and clientId != ''">
				AND t1.client_id = #{clientId} 
			</if>
		</where>
		ORDER BY t1.weight DESC,t1.update_time DESC
	</select>
	
	
</mapper>

