/*
* Author:
* pengling@f-road.com.cn 
*/

/*活动样式*/
.tableth{ height:20px; width:75%; margin:0 auto; font:12px/20px "微软雅黑"; color:#F60;}

.tableth td{ text-align:center;}

.abc{ position:relative;}

.tablemarquee{width:75%; margin:0 auto; font:12px/30px "微软雅黑"; color:#000;}

.tablemarquee td{ height:30px; text-align:center;}

.quanbu{bottom:30px; font-size:12px; font-family:"微软雅黑"; position:absolute; right:40px;}

.quanbu a{ color:#900; text-decoration:underline;}

.quanbu a:hover{ color:#06F; text-decoration:none;}

.scroll{ height:420px; overflow:hidden;}

.morekan{width:1050px; margin:0 auto; height:500px; overflow:scroll;}

.morekan table{  border:1px solid #ccc;
     border-width:1px 0 0 1px;
     margin:2px 0 2px 0;
     text-align:center;
     border-collapse:collapse;}
	 
.morekan table td,th {
     padding:3px;
     font-size:12px;
     border:1px solid #ccc;
     border-width:0 1px 1px 0;
     margin:2px 0 2px 0;
	 
	 text-align:center; 
	 font:12px/25px "微软雅黑";
}


.morekan th{ background:#F3F3F3; color:#06F; height:30px;}

.morekan td{  color:#000; height:25px;}

.nogif{ background:url(10_01.gif) no-repeat;}

.validate dl{ height:40px;}

.validate dl dt{ float:left; font:14px/30px "宋体"; color:#222; width:120px; text-align:right;}

.validate dl dd{ float:left;}

.validate dl input{ color:#999;}

.validate p{ font:12px/40px "宋体"; color:#F00; margin-left:20px;}

.divradio{ font:12px/30px "宋体"; float:left; width:270px;}

.divradio input{ margin-right:5px;}

.divradio img{ border:2px solid #fff; cursor:pointer; width:229px; height:143px;}

.divradio img.boredercl{border:2px solid red;}

.divradio .radioinfor{ color:#06C; font-family:Verdana, Geneva, sans-serif; width:250px;}


.divright{width:400px;}

.divright span{background:url(../../common/images/resultright.png) no-repeat; display:block; margin-left:100px; height:30px;}

.divright span b{font:24px/24px "微软雅黑"; color:#0C0; margin-left:30px;}

.divright p{ font:12px/20px "宋体"; color:#333;}



