/*
* Author:
* pengling@f-road.com.cn 
*/
/*抽奖样式*/

body{ background:url(bgbg.png);}

.chunjie{width:1010px; margin:0 auto; clear:both;}

.bg01{ background:url(2014_03.jpg); width:1010px; height:82px;}

.bg02{ background:url(2014_05.jpg); width:1010px; height:121px;}

.bg03{ background:url(2014_06.jpg); width:1010px; height:133px;}

.bg04{ background:url(2014_07.jpg); width:1010px; height:151px;}

.bg05{ background:url(2014_08.jpg); width:1010px; height:573px; position:relative}

.bg06{ background:url(2014_09.jpg); width:1010px; height:322px;}

.bg07{ background:url(2014_10.jpg); width:1010px; height:124px;}

#flashContent{ padding-top:50px; padding-left:60px;}

.bg08{ background:url(sousuo.gif); width:1010px; height:69px;}

.souinput{ width:349px; height:27px; margin-top:13px; margin-left:310px; border:0; color:#222; float:left; display:inline;}

.soubutton{ background:#ff1e31; width:80px; height:35px; border:0; cursor:pointer; margin-left:5px; margin-top:11px; float:left; color:#FFF; font-size:14px;}

.soubutton:hover{ background:#FF3535}


.sellerBox{width:1010px; background:#FFF; margin:0 auto; clear:both; overflow:hidden;}

.sellerBox .showBox{background:#FFF; background:url(bordbg.gif) no-repeat bottom; width:1000px;  padding-bottom:15px; padding-top:10px; height:550px; overflow-x:auto;}

.sellerBox .showBox .show{width:980px; margin:0 auto; border-bottom:1px dashed #ccc;  overflow:hidden; padding:15px 0;}

.sellerBox .showBox .show img{width:128px; height:80px; float:left; margin-left:10px;}

.sellerBox .showBox .show .leftBox{ float:left; width:200px; color:#777; margin-left:10px; display:inline;}

.sellerBox .showBox .show .leftBox  dt{ font:bold 14px/25px "宋体"; height:25px; overflow:hidden;}

.sellerBox .showBox .show .leftBox  dd{ font:12px/18px "宋体"; margin-top:5px;}

.sellerBox .showBox .show .leftBox  dd b{ color:#F60; font-family:Verdana}

.sellerBox .showBox .show .rightBox {float:left; width:620px; margin-left:10px; display:inline;}

.sellerBox .showBox .show .rightBox .mingcheng{ float:left;width:205px; }

.sellerBox .showBox .show .rightBox .mingcheng li{ font:12px/24px Verdana; color:#ff6000; background:url(fontbg.gif) 10px no-repeat; padding-left:20px; height:24px; overflow:hidden;}

.sellerBox .showBox .show .rightBox .dizhi{ float:left; margin-left:15px; width:370px;}

.sellerBox .showBox .show .rightBox .dizhi li{ font:12px/24px Verdana; color:#666; height:24px; overflow:hidden;}

.resultelist{ font:12px/20px Verdana; position:absolute; right:57px; top:403px; color:#F30; height:107px; width:300px; }

.resultelist div{ width:469px; height:140px;overflow:hidden; }

.validate dl{ height:40px;}

.validate dl dt{ float:left; font:14px/30px "宋体"; color:#222; width:120px; text-align:right;}

.validate dl dd{ float:left;}

.validate dl input{ color:#999;}

.validate p{ font:12px/40px "宋体"; color:#F00; margin-left:20px;}

.wenquan{width:1011px; margin:0 auto;}
