<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.mysql.mapper.MerchantTypeMapper">

	<resultMap type="MerchantType" id="merchantTypeResultMap">
		<id property="id" column="id" />
		<result property="typeName" column="type_name" />
		<result property="isDelete" column="is_delete" />
	</resultMap>


	<!-- 添加  MerchantType -->
	<insert id="addMerchantType" parameterType="MerchantType" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO cb_merchant_type (
				type_name,is_delete
			) VALUES (
				#{typeName},#{isDelete}
			) 
		]]>
	</insert>


	<!-- 批量添加  MerchantType -->
	<insert id="addMerchantTypeByBatch" parameterType="java.util.List">
		INSERT INTO cb_merchant_type (
			type_name,is_delete
		) VALUES 
		<foreach collection="merchantTypeList" item="item" index="index" separator=",">
			(#{typeName},#{isDelete})
		</foreach>
	</insert>


	<!-- 删除  MerchantType -->
	<update id="deleteMerchantType" parameterType="MerchantType">
		UPDATE cb_merchant_type SET is_delete = true 
			<where>
				<if test="id != null">
					 AND id = #{id}
				</if>
				<if test="typeName != null">
					 AND type_name = #{typeName}
				</if>
				<if test="isDelete != null">
					 AND is_delete = #{isDelete}
				</if>
			</where>
	</update>


	<!-- 修改  MerchantType -->
	<update id="updateMerchantType" parameterType="MerchantType">
		UPDATE cb_merchant_type  
			<set>
				<if test="typeName != null">
					  type_name = #{typeName}, 
				</if>
				<if test="isDelete != null">
					  is_delete = #{isDelete}, 
				</if>
			</set>
			<where>
				<if test="id != null">
					 AND id = #{id}
				</if>
				<if test="typeName != null">
					 AND type_name = #{typeName}
				</if>
				<if test="isDelete != null">
					 AND is_delete = #{isDelete}
				</if>
			</where>
	</update>


	<!-- 查询  MerchantType -->
	<select id="findMerchantTypeById" parameterType="java.lang.Long" resultMap="merchantTypeResultMap">
		SELECT 
            id,type_name,is_delete 
        FROM cb_merchant_type 
        WHERE 
            id = #{id}

	</select>
	
	<!-- 查询  MerchantType -->
	<select id="findMerchantTypeByMerchantTypeIdList" parameterType="java.lang.Long" resultMap="merchantTypeResultMap">
		SELECT 
            id,type_name,is_delete 
        FROM cb_merchant_type 
        WHERE 
            id in
        <foreach collection="merchantTypeIdList" item="merchantTypeId" open="(" close=")" separator=",">
			#{merchantTypeId}
		</foreach>

	</select>
	

	<!-- 查询  MerchantType -->
	<select id="findMerchantType" parameterType="MerchantType" resultMap="merchantTypeResultMap">
		SELECT 
            id,type_name,is_delete 
        FROM cb_merchant_type 
		<where>
			<if test="id != null">
				 AND id = #{id}
			</if>
			<if test="typeName != null">
				 AND type_name = #{typeName}
			</if>
			<if test="isDelete != null">
				 AND is_delete = #{isDelete}
			</if>
		</where>
	</select>

	<!-- 分页查询  MerchantType -->
	<select id="findByPage" parameterType="java.util.HashMap" resultMap="merchantTypeResultMap">
		SELECT 
            id,type_name,is_delete 
        FROM cb_merchant_type 
		<if test="merchantType != null">
			<where>
				<if test="merchantType.id != null">
					 AND id = #{merchantType.id}
				</if>
				<if test="merchantType.typeName != null">
					 AND type_name = #{merchantType.typeName}
				</if>
				<if test="merchantType.isDelete != null">
					 AND is_delete = #{merchantType.isDelete}
				</if>
			</where>
		</if>
	</select>


</mapper>

