<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chonggou.mappers.OrgLevelMapper">

	<resultMap type="OrgLevel" id="orgLevelResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="roleId" column="role_id" />
		<result property="orgLevel" column="org_level" />
	</resultMap>


	<!-- 添加  OrgLevel -->
	<insert id="addOrgLevel" parameterType="OrgLevel" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into cb_org_level (
				client_id,role_id,org_level
			) values (
				#{clientId},#{roleId},#{orgLevel}
			) 
		]]>
	</insert>


	<!-- 删除  OrgLevel -->
	<delete id="deleteOrgLevel">
		delete from cb_org_level where client_id='chongqing' 
	</delete>


</mapper>

