<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.froad.db.chonggou.mappers.ProductMapper">

	<resultMap type="ProductCG" id="productResultMap">
		<id property="id" column="id" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="orgCode" column="org_code" />
		<result property="productId" column="product_id" />
		<result property="isMarketable" column="is_marketable" />
		<result property="rackTime" column="rack_time" />
		<result property="downTime" column="down_time" />
		<result property="createTime" column="create_time" />
		<result property="type" column="type" />
		<result property="deliveryOption" column="delivery_option" />
		<result property="name" column="name" />
		<result property="fullName" column="full_name" />
		<result property="price" column="price" />
		<result property="cost" column="cost" />
		<result property="marketPrice" column="market_price" />
		<result property="weight" column="weight" />
		<result property="weightUnit" column="weight_unit" />
		<result property="store" column="store" />
		<result property="isBest" column="is_best" />
		<result property="isLimit" column="is_limit" />
		<result property="point" column="point" />
		<result property="briefIntroduction" column="brief_introduction" />
		<result property="introduction" column="introduction" />
		<result property="buyKnow" column="buy_know" />
		<result property="auditState" column="audit_state" />
		<result property="auditTime" column="audit_time" />
		<result property="auditComment" column="audit_comment" />
		<result property="auditOrgCode" column="audit_org_code" />
		<result property="auditStartOrgCode" column="audit_start_org_code" />
		<result property="auditEndOrgCode" column="audit_end_org_code" /> 
		<result property="auditStage" column="audit_stage" />
		<result property="reviewStaff" column="review_staff" />
		<result property="auditStaff" column="audit_staff" />
		<result property="orderValue" column="order_value" />
		<result property="sellCount" column="sell_count" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="deliveryMoney" column="delivery_money" />
		<result property="isSeckill" column="is_seckill" />
		<result property="proOrgCode" column="province_agency" />
		<result property="cityOrgCode" column="city_agency" />
		<result property="countryOrgCode" column="county_agency" />
		<result property="categoryTreePath" column="category_tree_path" />
		<result property="merchantName" column="merchant_name" />
		<result property="vipPrice" column="vip_price" />
		<result property="platType" column="plat_type" />
		<result property="isPoint" column="is_point" />
	</resultMap>
	
	<resultMap type="ProductGroupCG" id="productGroupResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="productId" column="product_id" />
		<result property="trueBuyerNumber" column="true_buyer_number" />
		<result property="virtualBuyerNumber" column="virtual_buyer_number" />
		<result property="expireStartTime" column="expire_start_time" />
		<result property="expireEndTime" column="expire_end_time" />
	</resultMap>
	
	<resultMap type="ProductPresellCG" id="productPresellResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="productId" column="product_id" />
		<result property="productSupplier" column="product_supplier" />
		<result property="maxPerOutlet" column="max_per_outlet" />
		<result property="deliveryStartTime" column="delivery_start_time" />
		<result property="deliveryEndTime" column="delivery_end_time" />
		<result property="trueBuyerNumber" column="true_buyer_number" />
		<result property="virtualBuyerNumber" column="virtual_buyer_number" />
		<result property="clusterState" column="cluster_state" />
		<result property="clusterType" column="cluster_type" />
		<result property="expireStartTime" column="expire_start_time" />
		<result property="expireEndTime" column="expire_end_time" />
	</resultMap>
	 <resultMap type="BankOrgCode" id="BankOrgResultMap">
        <id property="id" column="id" />
		<result property="provinceAgency" column="province_agency" />
		<result property="cityAgency" column="city_agency" />
		<result property="countryAgency" column="county_agency" />
        <result property="orgLevel" column="org_level" />
        <result property="orgCode" column="org_code" />
        <result property="orgName" column="org_name" />
        <result property="merchantId" column="merchant_id" />
        <result property="outletId" column="outlet_id" />
        <result property="areaId" column="area_id" />
    </resultMap>
	 <resultMap type="ProductOutletInfo" id="outletResultMap">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="clientId" column="client_id" />
		<result property="merchantId" column="merchant_id" />
		<result property="outletId" column="outlet_id" />
		<result property="areaId" column="area_id" />
		<result property="outletName" column="outlet_name" />
		<result property="outletFullname" column="outlet_fullname" />
		<result property="outletStatus" column="outlet_status" />
		<result property="address" column="address" />
	</resultMap>
		<!-- 添加  Product -->
	<insert id="addProduct" parameterType="ProductCG" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into cb_product (
				create_time,client_id,merchant_id,merchant_name,org_code,product_id,is_marketable,rack_time,down_time,type,delivery_option,name,full_name,price,cost,market_price,
				weight,weight_unit,store,is_best,is_limit,point,brief_introduction,introduction,buy_know,audit_state,audit_time,audit_org_code,audit_stage,audit_comment,
				review_staff,audit_staff,order_value,sell_count,start_time,end_time,delivery_money,is_seckill,province_agency,city_agency,county_agency,audit_start_org_code,audit_end_org_code,category_tree_path,vip_price,plat_type,is_point 
			) values (
				#{createTime},#{clientId},#{merchantId},#{merchantName},#{orgCode},#{productId},#{isMarketable},#{rackTime},#{downTime},#{type},#{deliveryOption},#{name},#{fullName},#{price},#{cost},#{marketPrice},
				#{weight},#{weightUnit},#{store},#{isBest},#{isLimit},#{point},#{briefIntroduction},#{introduction},#{buyKnow},#{auditState},#{auditTime},#{auditOrgCode},#{auditStage},#{auditComment},
				#{reviewStaff},#{auditStaff},#{orderValue},#{sellCount},#{startTime},#{endTime},#{deliveryMoney},#{isSeckill},#{proOrgCode},#{cityOrgCode},#{countryOrgCode},#{auditStartOrgCode},#{auditEndOrgCode},#{categoryTreePath},#{vipPrice}
				,#{platType},#{isPoint}
			) 
		]]>
	</insert>

	<!-- 添加  ProductPresell -->
	<insert id="addProductPresell" parameterType="ProductPresellCG" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into cb_product_presell (
				create_time,client_id,product_id,product_supplier,max_per_outlet,delivery_start_time,delivery_end_time,true_buyer_number,virtual_buyer_number,cluster_state,cluster_type,expire_start_time,expire_end_time
			) values (
				#{createTime},#{clientId},#{productId},#{productSupplier},#{maxPerOutlet},#{deliveryStartTime},#{deliveryEndTime},#{trueBuyerNumber},#{virtualBuyerNumber},#{clusterState},#{clusterType},#{expireStartTime},#{expireEndTime}
			) 
		]]>
	</insert>

<!-- 添加  ProductGroup -->
	<insert id="addProductGroup" parameterType="ProductGroupCG" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into cb_product_group (
				create_time,client_id,product_id,true_buyer_number,virtual_buyer_number,expire_start_time,expire_end_time
			) values (
				#{createTime},#{clientId},#{productId},#{trueBuyerNumber},#{virtualBuyerNumber},#{expireStartTime},#{expireEndTime}
			) 
		]]>
	</insert>
	
<!-- 查询  Outlet -->
	<select id="findOutlets" parameterType="Map" resultMap="outletResultMap">
		<![CDATA[
		SELECT 
            id,create_time,client_id,merchant_id,outlet_id,area_id,outlet_name,outlet_fullname,outlet_status,address
        FROM cb_outlet WHERE is_enable = 1
        ]]>
        <if test="clientId != null and clientId != ''">
             AND client_id = #{clientId}
        </if>
        <if test="outletId != null and outletId != ''">
             AND outlet_id = #{outletId}
        </if>
        <if test="areaId != null">
             AND area_id = #{areaId}
        </if>
        <if test="outletIds!=null and outletIds.size>0">
             AND outlet_id IN  
             <foreach collection="outletIds" item="item" open="(" separator="," close=")">
                      #{item}
             </foreach>
        </if>
	</select>


	
	<select id="getProductType" parameterType="ProductCG" resultMap="productResultMap" >
	  select audit_state,audit_org_code,type from cb_product 
	  WHERE 
	  <if test="clientId != null and clientId != ''">
              client_id = #{clientId}
        </if>
	 <if test="merchantId != null and merchantId != ''">
			 AND merchant_id = #{merchantId}
		</if>
    <if test="productId != null and productId != ''">
			 AND product_id = #{productId}
		</if>
	</select>
	
	<!-- 查询机构表 -->
	<select id="findOrgs"  parameterType="Map" resultMap="BankOrgResultMap">
		select id,client_id,org_code,org_name,merchant_id,outlet_id,area_id,org_level,province_agency,city_agency,county_agency from cb_org 
		WHERE is_enable=1 
		<if test="orgCode != null and orgCode != ''">
             AND org_code = #{orgCode}
        </if>
        <if test="clientId != null and clientId != ''">
             AND client_id = #{clientId}
        </if>
        <if test="outletId != null and outletId != ''">
             AND outlet_id = #{outletId}
        </if>
        <if test="areaId != null">
             AND area_id = #{areaId}
        </if>
        <if test="outletIds!=null and outletIds.size>0">
             AND outlet_id IN  
             <foreach collection="outletIds" item="item" open="(" separator="," close=")">
                      #{item}
             </foreach>
        </if>
	</select>
	<!-- 根据ID查询product内容 -->
<select id="getProductById" parameterType="ProductCG" resultMap="productResultMap" >
   select * from cb_product where client_id=#{clientId} and product_id=#{productId}
</select>
<!-- 查询  Product -->
	<select id="getProductByProductId" parameterType="ProductCG" resultMap="productResultMap">
		SELECT a.*
		FROM cb_product a WHERE a.product_id = #{productId}
		<if test="clientId != null and clientId !=''">
		     AND a.client_id = #{clientId}
		</if>
		<if test="merchantId != null and merchantId !=''">
			 AND a.merchant_id = #{merchantId}
		</if>
		<if test="type != null and type !=''">
			 AND a.type = #{type}
		</if>
	</select>
	<select id="deleteProduct" parameterType="java.lang.String">
    		delete from cb_product where client_id = #{id}
    </select>
    <select id="deleteProductGroup" parameterType="java.lang.String">
    		delete from cb_product_group where client_id = #{id}
    </select>
     <select id="deleteProductPresell" parameterType="java.lang.String">
    		delete from cb_product_presell where client_id = #{id}
    </select>
</mapper>

